Repository apache/opendal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

.github/CODEOWNERS:

* @Xuanwo

/core @Xuanwo
/bindings/c/ @xyjixyjixyji
/bindings/haskell/ @silver-ymz
/bindings/java/ @tisonkun
/bindings/lua/ @oowl
/bindings/nodejs/ @suyanhanx
/bindings/python/ @messense @Zheaoli
/bindings/ruby/ @PsiACE

ci: Fix default branch name in Ruby release workflow (#6585)
  .github/workflows/release_ruby.yml
Owners: @Xuanwo

Add patch file
  .github/workflows/release_ruby.yml
Owners: @Xuanwo

fix(azblob): don't call AzureStorageConfig::from_env on wasm
  core/src/services/azblob/backend.rs
Owners: @Xuanwo

fix: expose ListDyn
  core/src/raw/oio/list/api.rs
  core/src/raw/oio/list/mod.rs
Owners: @Xuanwo

fix: expose WriteDyn
  core/src/raw/oio/write/api.rs
  core/src/raw/oio/write/mod.rs
Owners: @Xuanwo

fix: expose ListDyn + WriteDyn (#6596)
  core/src/raw/oio/list/api.rs
  core/src/raw/oio/list/mod.rs
  core/src/raw/oio/write/api.rs
  core/src/raw/oio/write/mod.rs
Owners: @Xuanwo

chore: apache project provides code under ALv2
  examples/cpp/CMakeLists.txt
  examples/cpp/basic.cpp
  integrations/cloud_filter/examples/readonly.rs
  integrations/object_store/examples/basic.rs
  integrations/object_store/examples/datafusion.rs
  integrations/parquet/examples/async_reader.rs
  integrations/parquet/examples/async_writer.rs
  integrations/unftp-sbe/examples/main.rs
  licenserc.toml
Owners: @Xuanwo

fix: use local spawn on wasm targets
  core/src/lib.rs
  core/src/raw/adapters/kv/api.rs
  core/src/raw/http_util/client.rs
  core/src/services/fs/writer.rs
  core/src/types/execute/executors/tokio_executor.rs
Owners: @Xuanwo

chore: apache project provides code under ALv2 (#6598)
  examples/cpp/CMakeLists.txt
  examples/cpp/basic.cpp
  integrations/cloud_filter/examples/readonly.rs
  integrations/object_store/examples/basic.rs
  integrations/object_store/examples/datafusion.rs
  integrations/parquet/examples/async_reader.rs
  integrations/parquet/examples/async_writer.rs
  integrations/unftp-sbe/examples/main.rs
  licenserc.toml
Owners: @Xuanwo

fix(integrations/unftp-sbe): properly shutdown after write
  integrations/unftp-sbe/src/lib.rs
Owners: @Xuanwo

rustfmt
  integrations/unftp-sbe/src/lib.rs
Owners: @Xuanwo

better error handling
  integrations/unftp-sbe/src/lib.rs
Owners: @Xuanwo

fix error handling
  integrations/unftp-sbe/src/lib.rs
Owners: @Xuanwo

smallfix
  integrations/unftp-sbe/src/lib.rs
Owners: @Xuanwo

better error handling
  integrations/unftp-sbe/src/lib.rs
Owners: @Xuanwo

fix(integrations/cloud_filter): upgrade cloud_filter to resolve CI failures after Rust 1.90.0
  bin/ofs/Cargo.lock
  bin/ofs/Cargo.toml
  bin/ofs/DEPENDENCIES.rust.tsv
  integrations/cloud_filter/Cargo.toml
  integrations/cloud_filter/DEPENDENCIES.rust.tsv
Owners: @Xuanwo

fix: censor the "sig" query param for Azure SAS URIs
  core/src/raw/azure.rs
  core/src/services/azblob/error.rs
  core/src/services/azdls/error.rs
  core/src/services/azfile/error.rs
Owners: @Xuanwo

fix(integrations/cloud_filter): upgrade cloud_filter to resolve CI failures after Rust 1.90.0 (#6602)
  bin/ofs/Cargo.lock
  bin/ofs/Cargo.toml
  bin/ofs/DEPENDENCIES.rust.tsv
  integrations/cloud_filter/Cargo.toml
  integrations/cloud_filter/DEPENDENCIES.rust.tsv
Owners: @Xuanwo

fix(integrations/unftp-sbe): properly shutdown after write (#6601)
  integrations/unftp-sbe/src/lib.rs
Owners: @Xuanwo

fix(azblob): don't call AzureStorageConfig::from_env on wasm (#6594)
  core/src/services/azblob/backend.rs
Owners: @Xuanwo

ci: Add patch file to Ruby release workflow (#6592)
  .github/workflows/release_ruby.yml
Owners: @Xuanwo

chore: remove dead project openval
  adapters/openval/Cargo.lock
  adapters/openval/Cargo.toml
  adapters/openval/src/lib.rs
Owners: @Xuanwo

chore: remove dead project openval (#6604)
  adapters/openval/Cargo.lock
  adapters/openval/Cargo.toml
  adapters/openval/src/lib.rs
Owners: @Xuanwo

feat: Add Operator Registry
  core/src/blocking/operator.rs
  core/src/docs/rfcs/5444_operator_from_uri.md
  core/src/services/fs/backend.rs
  core/src/services/fs/mod.rs
  core/src/services/memory/backend.rs
  core/src/services/memory/mod.rs
  core/src/services/mod.rs
  core/src/services/s3/backend.rs
  core/src/services/s3/mod.rs
  core/src/types/builder.rs
  core/src/types/mod.rs
  core/src/types/operator/builder.rs
  core/src/types/operator/mod.rs
  core/src/types/operator/registry.rs
Owners: @Xuanwo

fix: censor the "sig" query param for Azure SAS URIs (#6603)
  core/src/raw/azure.rs
  core/src/services/azblob/error.rs
  core/src/services/azdls/error.rs
  core/src/services/azfile/error.rs
Owners: @Xuanwo

Update README for Ruby binding
  bindings/ruby/README.md
Owners: @PsiACE

Add links to rdoc and crago docs
  bindings/ruby/README.md
  website/docs/20-bindings/ruby.mdx
Owners: @PsiACE, @Xuanwo

doc(bindinds/ruby): add examples and links (#6609)
  bindings/ruby/README.md
  website/docs/20-bindings/ruby.mdx
Owners: @PsiACE, @Xuanwo

Polish
  core/src/services/mod.rs
Owners: @Xuanwo

feat: Add Operator Registry (#6608)
  core/src/blocking/operator.rs
  core/src/docs/rfcs/5444_operator_from_uri.md
  core/src/services/fs/backend.rs
  core/src/services/fs/mod.rs
  core/src/services/memory/backend.rs
  core/src/services/memory/mod.rs
  core/src/services/s3/backend.rs
  core/src/services/s3/mod.rs
  core/src/types/builder.rs
  core/src/types/mod.rs
  core/src/types/operator/builder.rs
  core/src/types/operator/mod.rs
  core/src/types/operator/registry.rs
Owners: @Xuanwo

Fix path for the action patch file
  .github/workflows/release_ruby.yml
Owners: @Xuanwo

Fix rake release task override
  .github/workflows/release_ruby.yml
  bindings/ruby/Rakefile
Owners: @Xuanwo, @PsiACE

feat: Add from_uri support for all object storage services
  core/src/services/azblob/backend.rs
  core/src/services/azblob/mod.rs
  core/src/services/b2/backend.rs
  core/src/services/b2/mod.rs
  core/src/services/cos/backend.rs
  core/src/services/cos/mod.rs
  core/src/services/fs/backend.rs
  core/src/services/gcs/backend.rs
  core/src/services/gcs/mod.rs
  core/src/services/memory/backend.rs
  core/src/services/obs/backend.rs
  core/src/services/obs/mod.rs
  core/src/services/oss/backend.rs
  core/src/services/oss/mod.rs
  core/src/services/s3/backend.rs
  core/src/services/upyun/backend.rs
  core/src/services/upyun/mod.rs
  core/src/types/operator/registry.rs
Owners: @Xuanwo

Introduce operator uri
  core/src/blocking/operator.rs
  core/src/docs/rfcs/5444_operator_from_uri.md
  core/src/services/azblob/backend.rs
  core/src/services/b2/backend.rs
  core/src/services/cos/backend.rs
  core/src/services/fs/backend.rs
  core/src/services/gcs/backend.rs
  core/src/services/memory/backend.rs
  core/src/services/obs/backend.rs
  core/src/services/oss/backend.rs
  core/src/services/s3/backend.rs
  core/src/services/upyun/backend.rs
  core/src/types/builder.rs
  core/src/types/mod.rs
  core/src/types/operator/builder.rs
  core/src/types/operator/mod.rs
  core/src/types/operator/registry.rs
  core/src/types/operator/uri.rs
Owners: @Xuanwo

Fix tests
  core/src/services/azblob/backend.rs
  core/src/services/fs/backend.rs
  core/src/types/operator/uri.rs
Owners: @Xuanwo

Fix release workflows
  .github/workflows/release_ruby.yml
  bindings/ruby/Cargo.toml
  bindings/ruby/Rakefile
  bindings/ruby/core
  bindings/ruby/opendal.gemspec
Owners: @Xuanwo, @PsiACE

Push all native gems
  bindings/ruby/Rakefile
Owners: @PsiACE

Fix metadata's inspect
  bindings/ruby/lib/opendal_ruby/metadata.rb
  bindings/ruby/src/metadata.rs
  bindings/ruby/test/metadata_test.rb
Owners: @PsiACE

Move middlewares to OpenDal::Middlware
  .github/workflows/release_ruby.yml
  bindings/ruby/src/lib.rs
  bindings/ruby/src/middlewares.rs
  bindings/ruby/test/blocking_op_test.rb
  bindings/ruby/test/middlewares_test.rb
Owners: @Xuanwo, @PsiACE

Extend native build for more Rubies
  bindings/ruby/Rakefile
  bindings/ruby/opendal.gemspec
Owners: @PsiACE
