Repository apache/opendal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

Add parseString function to OpenDAL for CString handling
  bindings/haskell/haskell-src/OpenDAL.hs
Owners: @silver-ymz

feat(layers): add fastmetrics layer
  core/Cargo.lock
  core/Cargo.toml
  core/src/layers/fastmetrics.rs
  core/src/layers/mod.rs
Owners: @Xuanwo

update fastmetrics to v0.3.0
  core/Cargo.lock
  core/Cargo.toml
Owners: @Xuanwo

Update bindings/haskell/haskell-src/OpenDAL/FFI.hs
  bindings/haskell/haskell-src/OpenDAL/FFI.hs
Owners: @silver-ymz

gcs: Add headers in multipart requests (xml api)
  core/src/services/gcs/core.rs
  core/src/services/gcs/writer.rs
Owners: @Xuanwo

gcs: Write predefined acl in correct format when using XML API
  core/src/services/gcs/core.rs
Owners: @Xuanwo

Run cargo fmt
  core/src/services/gcs/core.rs
Owners: @Xuanwo

Remove blocking_append function from Haskell bindings in OpenDAL.
  bindings/haskell/src/lib.rs
Owners: @silver-ymz

feat(layers): add fastmetrics layer (#6269)
  core/Cargo.lock
  core/Cargo.toml
  core/src/layers/fastmetrics.rs
  core/src/layers/mod.rs
Owners: @Xuanwo

Fix eprintln with log::warn
  core/src/services/gcs/core.rs
Owners: @Xuanwo

fix(gcs): headers missing in XML multipart API and incorrect x-goog-acl header values in XML API (#6275)
  core/src/services/gcs/core.rs
  core/src/services/gcs/writer.rs
Owners: @Xuanwo

feat(bindings/haskell): add more api (#6264)
  bindings/haskell/haskell-src/OpenDAL.hs
  bindings/haskell/haskell-src/OpenDAL/FFI.hs
  bindings/haskell/opendal.cabal
  bindings/haskell/src/lib.rs
  bindings/haskell/test/BasicTest.hs
  bindings/haskell/test/ErrorTest.hs
  bindings/haskell/test/PerformanceTest.hs
  bindings/haskell/test/Spec.hs
  bindings/haskell/test/WriterTest.hs
Owners: @silver-ymz

feat(core): Expose presign_xxx_options API (#6273)
  core/src/types/operator/operator.rs
  core/src/types/operator/operator_futures.rs
Owners: @Xuanwo

fmt
  bindings/ocaml/lib/operator.ml
  bindings/ocaml/lib/operator.mli
  bindings/ocaml/test/test.ml
Owners: @Xuanwo

add more api
  bindings/ocaml/lib/operator.ml
  bindings/ocaml/lib/operator.mli
  bindings/ocaml/src/operator/_type.rs
  bindings/ocaml/src/operator/capability.rs
  bindings/ocaml/src/operator/lister.rs
  bindings/ocaml/src/operator/mod.rs
  bindings/ocaml/src/operator/operator_info.rs
  bindings/ocaml/src/operator/writer.rs
  bindings/ocaml/test/test.ml
Owners: @Xuanwo

fix test
  bindings/ocaml/lib/opendal.ml
  bindings/ocaml/lib/operator.ml
  bindings/ocaml/lib/operator.mli
  bindings/ocaml/test/test.ml
Owners: @Xuanwo

clippy
  bindings/ocaml/src/operator/_type.rs
Owners: @Xuanwo

try fix
  bindings/ocaml/lib/operator.ml
  bindings/ocaml/lib/operator.mli
  bindings/ocaml/src/operator.ml
  bindings/ocaml/src/operator.mli
  bindings/ocaml/src/operator/writer.rs
Owners: @Xuanwo

try fix
  .github/actions/setup-ocaml/action.yaml
  .github/workflows/ci_bindings_ocaml.yml
  bindings/ocaml/src/operator/_type.rs
  bindings/ocaml/src/operator/writer.rs
Owners: @Xuanwo

prepare for pub
  .github/workflows/release_ocaml.yml
  bindings/ocaml/CHANGES.md
  bindings/ocaml/dune-project
  bindings/ocaml/opendal.opam
  bindings/ocaml/release.sh
Owners: @Xuanwo

fix
  bin/oli/tests/integration/edit.rs
Owners: @Xuanwo

add test
  bin/oli/src/commands/edit.rs
  bin/oli/tests/integration/edit.rs
Owners: @Xuanwo

fmt
  bin/oli/tests/integration/edit.rs
Owners: @Xuanwo

fix test
  bin/oli/tests/integration/edit.rs
Owners: @Xuanwo

fix
  bin/oli/tests/integration/edit.rs
Owners: @Xuanwo

support oli edit
  bin/oli/Cargo.toml
  bin/oli/src/commands/edit.rs
  bin/oli/src/commands/mod.rs
  bin/oli/tests/integration/main.rs
Owners: @Xuanwo

feat(bindings/go): Add comprehensive Makefile and simplify build process
  bindings/go/Makefile
  bindings/go/README.md
Owners: @Xuanwo

refactor(bindings/go): Restructure FFI system with type-safe wrapper
  bindings/go/delete.go
  bindings/go/error.go
  bindings/go/ffi.go
  bindings/go/lister.go
  bindings/go/metadata.go
  bindings/go/opendal.go
  bindings/go/operator.go
  bindings/go/operator_info.go
  bindings/go/reader.go
  bindings/go/stat.go
  bindings/go/write.go
Owners: @Xuanwo

refactor(bindings/go): Restructure FFI system with type-safe wrapper (#6268)
  bindings/go/Makefile
  bindings/go/README.md
  bindings/go/delete.go
  bindings/go/error.go
  bindings/go/ffi.go
  bindings/go/lister.go
  bindings/go/metadata.go
  bindings/go/opendal.go
  bindings/go/operator.go
  bindings/go/operator_info.go
  bindings/go/reader.go
  bindings/go/stat.go
  bindings/go/write.go
Owners: @Xuanwo

chore(bindings/go): update Go dependencies
  bindings/go/go.mod
  bindings/go/go.sum
Owners: @Xuanwo

chore(bindings/go): update Go dependencies (#6280)
  bindings/go/go.mod
  bindings/go/go.sum
Owners: @Xuanwo

feat(bindings/nodejs): Add StatOptions support for new options API
  bindings/nodejs/generated.d.ts
  bindings/nodejs/generated.js
  bindings/nodejs/package.json
  bindings/nodejs/pnpm-lock.yaml
  bindings/nodejs/src/capability.rs
  bindings/nodejs/src/lib.rs
  bindings/nodejs/src/options.rs
  bindings/nodejs/tests/suites/asyncStatOptions.suite.mjs
  bindings/nodejs/tests/suites/index.mjs
  bindings/nodejs/tests/suites/syncStatOptions.suite.mjs
  bindings/nodejs/tests/utils.mjs
  bindings/nodejs/vitest.config.mjs
Owners: @suyanhanx

ci: Use expression syntax to avoid VS Code warnings.
  .github/workflows/ci_bindings_haskell.yml
  .github/workflows/ci_bindings_nodejs.yml
  .github/workflows/release_java.yml
Owners: @Xuanwo

feat(services/moka): expose more moka configuraions
  core/src/services/moka/backend.rs
  core/src/services/moka/config.rs
  core/src/services/moka/docs.md
Owners: @Xuanwo

fix(bindings/nodejs): update nodejs and deno bench
  bindings/nodejs/.gitignore
  bindings/nodejs/benchmark/deno.ts
  bindings/nodejs/benchmark/node.js
  bindings/nodejs/package.json
Owners: @suyanhanx

fix(bindings/nodejs): update nodejs and deno bench (#6286)
  bindings/nodejs/.gitignore
  bindings/nodejs/benchmark/deno.ts
  bindings/nodejs/benchmark/node.js
  bindings/nodejs/package.json
Owners: @suyanhanx

ci: Use expression syntax to avoid VS Code warnings. (#6284)
  .github/workflows/ci_bindings_haskell.yml
  .github/workflows/ci_bindings_nodejs.yml
  .github/workflows/release_java.yml
Owners: @Xuanwo

remove useless deps
  bin/oay/Cargo.lock
  bin/ofs/Cargo.lock
  bin/oli/Cargo.lock
  core/Cargo.lock
  core/Cargo.toml
Owners: @Xuanwo

feat: Add HttpClientLayer
  core/src/layers/http_client.rs
  core/src/layers/mod.rs
Owners: @Xuanwo

Remove not needed APIs
  core/src/layers/http_client.rs
Owners: @Xuanwo

.github/CODEOWNERS:

* @Xuanwo

/core @Xuanwo
/bindings/c/ @xyjixyjixyji
/bindings/haskell/ @silver-ymz
/bindings/java/ @tisonkun
/bindings/lua/ @oowl
/bindings/nodejs/ @suyanhanx
/bindings/python/ @messense @Zheaoli
/bindings/ruby/ @PsiACE
