Repository apache/opendal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

.github/CODEOWNERS:

* @Xuanwo

/core @Xuanwo
/bindings/c/ @xyjixyjixyji
/bindings/haskell/ @silver-ymz
/bindings/java/ @tisonkun
/bindings/lua/ @oowl
/bindings/nodejs/ @suyanhanx
/bindings/python/ @messense @Zheaoli
/bindings/ruby/ @PsiACE

fix(bindings/c): use into_inner() to access jiff Timestamp methods
  bindings/c/src/metadata.rs
Owners: @xyjixyjixyji

fix(integrations/object_store): update timestamp conversion helpers
  integrations/object_store/src/lib.rs
Owners: @Xuanwo

fix(bindings): resolve additional CI compilation errors
  bindings/c/src/metadata.rs
  bindings/python/src/metadata.rs
  bindings/python/src/options.rs
  integrations/dav-server/src/metadata.rs
Owners: @xyjixyjixyji, @messense, @Zheaoli, @Xuanwo

compatible error codes
  core/src/services/s3/error.rs
Owners: @Xuanwo

refactor: add as_millisecond to Timestamp and fix bindings
  bindings/c/src/metadata.rs
  bindings/python/src/metadata.rs
  bindings/python/src/options.rs
  core/src/raw/time.rs
  integrations/object_store/src/lib.rs
Owners: @xyjixyjixyji, @messense, @Zheaoli, @Xuanwo

feat(bindings/python): add Timestamp wrapper for datetime conversion
  bindings/python/src/lib.rs
  bindings/python/src/metadata.rs
  bindings/python/src/options.rs
Owners: @messense, @Zheaoli

fix(integrations/fuse3): use into_inner for Timestamp to SystemTime conversion
  integrations/fuse3/src/file_system.rs
Owners: @Xuanwo

chore(fmt): apply rustfmt for object_store
  integrations/object_store/src/lib.rs
Owners: @Xuanwo

fix(integrations/unftp-sbe): use into_inner for Timestamp to SystemTime conversion
  integrations/unftp-sbe/src/lib.rs
Owners: @Xuanwo

chore: support more error codes for S3-compatible services (#6651)
  core/src/services/s3/error.rs
Owners: @Xuanwo

Save work
  core/Cargo.lock
  core/Cargo.toml
  core/src/services/s3/backend.rs
  core/src/services/s3/core.rs
  core/src/services/s3/writer.rs
Owners: @Xuanwo

Address assume role support
  core/src/services/s3/backend.rs
Owners: @Xuanwo

Fix
  core/src/services/s3/backend.rs
Owners: @Xuanwo

debug
  .github/workflows/test_edge.yml
  core/Cargo.lock
  core/edge/s3_aws_assume_role_with_web_identity/Cargo.toml
  core/edge/s3_aws_assume_role_with_web_identity/src/main.rs
Owners: @Xuanwo

Fix
  core/edge/s3_aws_assume_role_with_web_identity/Cargo.toml
Owners: @Xuanwo

Add os env support
  core/src/services/s3/backend.rs
Owners: @Xuanwo

Test
  core/Cargo.lock
  core/Cargo.toml
  core/edge/s3_aws_assume_role_with_web_identity/Cargo.toml
Owners: @Xuanwo

Enable reginal sts endpoint
  core/src/services/s3/backend.rs
Owners: @Xuanwo

use shas fix action permissions
  .github/workflows/release_rust.yml
Owners: @Xuanwo

ci: use shas fix action permissions (#6659)
  .github/workflows/release_rust.yml
Owners: @Xuanwo

fix build error
  core/src/lib.rs
Owners: @Xuanwo

replace Makefile with Justfile
  bindings/python/Makefile
  bindings/python/justfile
  bindings/python/pyproject.toml
Owners: @messense, @Zheaoli

Update core/src/lib.rs
  core/src/lib.rs
Owners: @Xuanwo

fix(docs): docs.rs built failed (#6658)
  core/src/lib.rs
Owners: @Xuanwo

Add region
  core/src/services/s3/backend.rs
Owners: @Xuanwo

feat(services/webdav): Implement write returns metadata
  core/src/services/webdav/writer.rs
Owners: @Xuanwo

better naming
  core/src/services/webdav/writer.rs
Owners: @Xuanwo

fine tune boundary
  bin/oay/Cargo.lock
  bin/oay/Cargo.toml
  bindings/c/src/metadata.rs
  bindings/cpp/Cargo.toml
  bindings/haskell/Cargo.toml
  bindings/java/Cargo.toml
  bindings/java/src/lib.rs
  bindings/python/src/lib.rs
  bindings/python/src/metadata.rs
  bindings/python/src/options.rs
  core/src/raw/time.rs
  core/src/services/aliyun_drive/core.rs
  core/src/types/operator/operator_futures.rs
  integrations/cloud_filter/src/lib.rs
  integrations/object_store/Cargo.toml
  integrations/object_store/src/lib.rs
Owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @messense, @Zheaoli

fixup ci
  bindings/ocaml/src/operator/metadata.rs
  core/src/lib.rs
Owners: @Xuanwo

fmt
  bindings/ocaml/src/operator/metadata.rs
Owners: @Xuanwo

ci: Bump doc toolchain to allow opendal docs build
  .github/workflows/docs.yml
Owners: @Xuanwo

ci: Bump doc toolchain to allow opendal docs build (#6661)
  .github/workflows/docs.yml
Owners: @Xuanwo

chore: fixup timestamp refactor
  bindings/java/src/convert.rs
  core/src/raw/mod.rs
  core/src/raw/time.rs
  core/src/services/upyun/core.rs
  integrations/dav-server/src/metadata.rs
  integrations/fuse3/src/file_system.rs
  integrations/unftp-sbe/src/lib.rs
Owners: @tisonkun, @Xuanwo

chore: fixup timestamp refactor (#6663)
  bindings/java/src/convert.rs
  core/src/raw/mod.rs
  core/src/raw/time.rs
  core/src/services/upyun/core.rs
  integrations/dav-server/src/metadata.rs
  integrations/fuse3/src/file_system.rs
  integrations/unftp-sbe/src/lib.rs
Owners: @tisonkun, @Xuanwo

Make clippy happy
  core/src/services/azblob/backend.rs
  core/src/services/b2/backend.rs
  core/src/services/cos/backend.rs
  core/src/services/gcs/backend.rs
  core/src/services/obs/backend.rs
  core/src/services/oss/backend.rs
  core/src/services/upyun/backend.rs
Owners: @Xuanwo

Format code
  core/src/blocking/operator.rs
  core/src/services/azblob/backend.rs
  core/src/services/b2/backend.rs
  core/src/services/cos/backend.rs
  core/src/services/fs/backend.rs
  core/src/services/gcs/backend.rs
  core/src/services/memory/backend.rs
  core/src/services/obs/backend.rs
  core/src/services/oss/backend.rs
  core/src/services/s3/backend.rs
  core/src/services/upyun/backend.rs
  core/src/types/mod.rs
Owners: @Xuanwo

feat: Add from_uri support for more object storage services (#6665)
  core/src/blocking/operator.rs
  core/src/docs/rfcs/5444_operator_from_uri.md
  core/src/services/azblob/backend.rs
  core/src/services/azblob/mod.rs
  core/src/services/b2/backend.rs
  core/src/services/b2/mod.rs
  core/src/services/cos/backend.rs
  core/src/services/cos/mod.rs
  core/src/services/fs/backend.rs
  core/src/services/gcs/backend.rs
  core/src/services/gcs/mod.rs
  core/src/services/memory/backend.rs
  core/src/services/obs/backend.rs
  core/src/services/obs/mod.rs
  core/src/services/oss/backend.rs
  core/src/services/oss/mod.rs
  core/src/services/s3/backend.rs
  core/src/services/upyun/backend.rs
  core/src/services/upyun/mod.rs
  core/src/types/builder.rs
  core/src/types/mod.rs
  core/src/types/operator/builder.rs
  core/src/types/operator/mod.rs
  core/src/types/operator/registry.rs
  core/src/types/operator/uri.rs
Owners: @Xuanwo

feat(services/webdav): Implement write returns metadata (#6660)
  core/src/services/webdav/writer.rs
Owners: @Xuanwo

feat: Add from_uri support for http/webdav/ftp/sftp
  core/src/services/ftp/backend.rs
  core/src/services/http/backend.rs
  core/src/services/sftp/backend.rs
  core/src/services/webdav/backend.rs
  core/src/types/operator/uri.rs
Owners: @Xuanwo

feat: Add from_uri support for http/webdav/ftp/sftp (#6666)
  core/src/services/ftp/backend.rs
  core/src/services/http/backend.rs
  core/src/services/sftp/backend.rs
  core/src/services/webdav/backend.rs
  core/src/types/operator/uri.rs
Owners: @Xuanwo
