Repository apache/opendal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

fix errors
  bindings/python/src/operator.rs
  core/tests/behavior/async_delete.rs
  core/tests/behavior/async_list.rs
  integrations/unftp-sbe/src/lib.rs
Owners: @messense, @Zheaoli, @Xuanwo

allow
  bindings/haskell/src/lib.rs
  core/core/src/blocking/operator.rs
Owners: @silver-ymz, @Xuanwo

fix format error
  core/tests/behavior/async_list.rs
Owners: @Xuanwo

fix bindings
  bindings/java/src/async_operator.rs
  bindings/java/src/operator.rs
  bindings/nodejs/src/lib.rs
  bindings/ruby/src/operator.rs
Owners: @tisonkun, @suyanhanx, @PsiACE

fix fmt error
  bindings/haskell/src/lib.rs
Owners: @silver-ymz

remove redundant part
  bindings/c/include/opendal.h
  bindings/c/src/operator.rs
Owners: @xyjixyjixyji

fix import
  core/tests/behavior/async_list.rs
Owners: @Xuanwo

modify ci error toml-format
  core/Cargo.toml
  core/layers/observe-metrics-common/Cargo.toml
  core/layers/otelmetrics/Cargo.toml
Owners: @Xuanwo

allow
  bindings/haskell/src/lib.rs
Owners: @silver-ymz

update
  bindings/dart/rust/src/frb_generated.rs
  bindings/java/src/async_operator.rs
  bindings/java/src/operator.rs
  bindings/lua/src/lib.rs
  bindings/nodejs/src/lib.rs
  bindings/ocaml/src/operator/mod.rs
  bindings/python/src/operator.rs
  bindings/ruby/src/operator.rs
  core/Cargo.lock
  core/core/src/blocking/operator.rs
  core/core/src/types/operator/operator.rs
  core/tests/behavior/async_delete.rs
  core/tests/behavior/async_list.rs
  integrations/unftp-sbe/src/lib.rs
Owners: @Xuanwo, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

fmt error
  bindings/lua/src/lib.rs
Owners: @oowl

fix error from behavior test local_fs
  bindings/c/include/opendal.h
  bindings/c/src/operator.rs
Owners: @xyjixyjixyji

remove redundant part
  core/Cargo.lock
Owners: @Xuanwo

refactor(services/opfs): split opfs service into separate crate
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/core/src/services/opfs/mod.rs
  core/services/opfs/Cargo.toml
  core/services/opfs/src/backend.rs
  core/services/opfs/src/config.rs
  core/services/opfs/src/core.rs
  core/services/opfs/src/docs.md
  core/services/opfs/src/error.rs
  core/services/opfs/src/lib.rs
  core/services/opfs/src/utils.rs
  core/src/lib.rs
Owners: @Xuanwo

chore: apply taplo formatting
  core/Cargo.toml
  core/services/sqlite/Cargo.toml
Owners: @Xuanwo

refactor: Split dashmap service to new crate
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/dashmap/Cargo.toml
  core/services/dashmap/src/backend.rs
  core/services/dashmap/src/config.rs
  core/services/dashmap/src/core.rs
  core/services/dashmap/src/deleter.rs
  core/services/dashmap/src/docs.md
  core/services/dashmap/src/lib.rs
  core/services/dashmap/src/lister.rs
  core/services/dashmap/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

fix docs tests
  core/Cargo.lock
  core/services/dashmap/Cargo.toml
  core/services/dashmap/src/docs.md
  core/services/dashmap/src/lib.rs
Owners: @Xuanwo

refactor: Split mini-moka service to new crate
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/mini_moka/Cargo.toml
  core/services/mini_moka/src/backend.rs
  core/services/mini_moka/src/config.rs
  core/services/mini_moka/src/core.rs
  core/services/mini_moka/src/deleter.rs
  core/services/mini_moka/src/docs.md
  core/services/mini_moka/src/lib.rs
  core/services/mini_moka/src/lister.rs
  core/services/mini_moka/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

refactor: Split memcached service to new crate
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/memcached/Cargo.toml
  core/services/memcached/src/backend.rs
  core/services/memcached/src/binary.rs
  core/services/memcached/src/config.rs
  core/services/memcached/src/core.rs
  core/services/memcached/src/deleter.rs
  core/services/memcached/src/docs.md
  core/services/memcached/src/lib.rs
  core/services/memcached/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

refactor: Split service b2 out of core (#6982)
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/b2/Cargo.toml
  core/services/b2/src/backend.rs
  core/services/b2/src/config.rs
  core/services/b2/src/core.rs
  core/services/b2/src/deleter.rs
  core/services/b2/src/docs.md
  core/services/b2/src/error.rs
  core/services/b2/src/lib.rs
  core/services/b2/src/lister.rs
  core/services/b2/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

refactor: Split mini-moka service to new crate (#7020)
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/mini_moka/Cargo.toml
  core/services/mini_moka/src/backend.rs
  core/services/mini_moka/src/config.rs
  core/services/mini_moka/src/core.rs
  core/services/mini_moka/src/deleter.rs
  core/services/mini_moka/src/docs.md
  core/services/mini_moka/src/lib.rs
  core/services/mini_moka/src/lister.rs
  core/services/mini_moka/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

refactor: Split dashmap service to new crate (#7022)
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/dashmap/Cargo.toml
  core/services/dashmap/src/backend.rs
  core/services/dashmap/src/config.rs
  core/services/dashmap/src/core.rs
  core/services/dashmap/src/deleter.rs
  core/services/dashmap/src/docs.md
  core/services/dashmap/src/lib.rs
  core/services/dashmap/src/lister.rs
  core/services/dashmap/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

refactor: remove unused file
  core/src/services/mod.rs
  core/src/types/scheme.rs
Owners: @Xuanwo

refactor: Split memcached service to new crate (#7023)
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/memcached/Cargo.toml
  core/services/memcached/src/backend.rs
  core/services/memcached/src/binary.rs
  core/services/memcached/src/config.rs
  core/services/memcached/src/core.rs
  core/services/memcached/src/deleter.rs
  core/services/memcached/src/docs.md
  core/services/memcached/src/lib.rs
  core/services/memcached/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

refactor: remove test
  core/Cargo.lock
  core/edge/opfs_on_wasm/Cargo.toml
  core/edge/opfs_on_wasm/src/async_create_dir.rs
  core/edge/opfs_on_wasm/src/async_delete.rs
  core/edge/opfs_on_wasm/src/lib.rs
  core/edge/opfs_on_wasm/src/utils.rs
  core/edge/opfs_on_wasm/webdriver.json
Owners: @Xuanwo

refactor: Split persy service to new crate
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/persy/Cargo.toml
  core/services/persy/src/backend.rs
  core/services/persy/src/config.rs
  core/services/persy/src/core.rs
  core/services/persy/src/deleter.rs
  core/services/persy/src/docs.md
  core/services/persy/src/lib.rs
  core/services/persy/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

refactor: split opendal_core::raw::tests module into a separate crate
  core/Cargo.lock
  core/Cargo.toml
  core/benches/ops/read.rs
  core/benches/ops/utils.rs
  core/benches/ops/write.rs
  core/benches/vs_s3/src/main.rs
  core/core/Cargo.toml
  core/core/src/raw/mod.rs
  core/edge/s3_aws_assume_role_with_web_identity/src/main.rs
  core/examples/basic/src/main.rs
  core/examples/concurrent-upload/src/main.rs
  core/examples/multipart-upload/src/main.rs
  core/fuzz/fuzz_reader.rs
  core/fuzz/fuzz_writer.rs
  core/src/lib.rs
  core/testkit/Cargo.toml
  core/testkit/src/lib.rs
  core/testkit/src/read.rs
  core/testkit/src/utils.rs
  core/testkit/src/write.rs
  core/tests/behavior/main.rs
  core/tests/behavior/utils.rs
  integrations/object_store/tests/behavior/main.rs
  integrations/object_store/tests/behavior/utils.rs
Owners: @Xuanwo

fix fmt
  core/benches/vs_s3/src/main.rs
  core/fuzz/fuzz_reader.rs
Owners: @Xuanwo

fix license check
  core/testkit/Cargo.toml
Owners: @Xuanwo

refactor: Split service cos out of core
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/cos/Cargo.toml
  core/services/cos/src/backend.rs
  core/services/cos/src/config.rs
  core/services/cos/src/core.rs
  core/services/cos/src/deleter.rs
  core/services/cos/src/docs.md
  core/services/cos/src/error.rs
  core/services/cos/src/lib.rs
  core/services/cos/src/lister.rs
  core/services/cos/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

code format
  core/services/cos/src/config.rs
  core/services/cos/src/core.rs
  core/services/cos/src/deleter.rs
  core/services/cos/src/error.rs
  core/services/cos/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

chore: fix toml format
  core/Cargo.toml
  core/services/cos/Cargo.toml
Owners: @Xuanwo

refactor!: split opendal_core::raw::tests module into a separate crate (#7025)
  core/Cargo.lock
  core/Cargo.toml
  core/benches/ops/read.rs
  core/benches/ops/utils.rs
  core/benches/ops/write.rs
  core/benches/vs_s3/src/main.rs
  core/core/Cargo.toml
  core/core/src/raw/mod.rs
  core/edge/s3_aws_assume_role_with_web_identity/src/main.rs
  core/examples/basic/src/main.rs
  core/examples/concurrent-upload/src/main.rs
  core/examples/multipart-upload/src/main.rs
  core/fuzz/fuzz_reader.rs
  core/fuzz/fuzz_writer.rs
  core/src/lib.rs
  core/testkit/Cargo.toml
  core/testkit/src/lib.rs
  core/testkit/src/read.rs
  core/testkit/src/utils.rs
  core/testkit/src/write.rs
  core/tests/behavior/main.rs
  core/tests/behavior/utils.rs
  integrations/object_store/tests/behavior/main.rs
  integrations/object_store/tests/behavior/utils.rs
Owners: @Xuanwo

refactor: remove unused code
  .github/workflows/test_behavior.yml
  core/core/src/services/opfs/backend.rs
  core/core/src/services/opfs/builder.rs
  core/core/src/services/opfs/core.rs
  core/core/src/services/opfs/docs.md
  core/core/src/services/opfs/mod.rs
  core/core/src/services/opfs/utils.rs
  dev/Cargo.lock
Owners: @Xuanwo

refactor: Split persy service to new crate (#7024)
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/persy/Cargo.toml
  core/services/persy/src/backend.rs
  core/services/persy/src/config.rs
  core/services/persy/src/core.rs
  core/services/persy/src/deleter.rs
  core/services/persy/src/docs.md
  core/services/persy/src/lib.rs
  core/services/persy/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

refactor: Split service cos out of core (#7011)
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/cos/Cargo.toml
  core/services/cos/src/backend.rs
  core/services/cos/src/config.rs
  core/services/cos/src/core.rs
  core/services/cos/src/deleter.rs
  core/services/cos/src/docs.md
  core/services/cos/src/error.rs
  core/services/cos/src/lib.rs
  core/services/cos/src/lister.rs
  core/services/cos/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

Format code
  core/Cargo.toml
  core/services/sqlite/Cargo.toml
Owners: @Xuanwo

refactor: Split service github out of core
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/github/Cargo.toml
  core/services/github/src/backend.rs
  core/services/github/src/config.rs
  core/services/github/src/core.rs
  core/services/github/src/deleter.rs
  core/services/github/src/docs.md
  core/services/github/src/error.rs
  core/services/github/src/lib.rs
  core/services/github/src/lister.rs
  core/services/github/src/mod.rs
  core/services/github/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

refactor: [core split] Service: opfs #6913
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/opfs/Cargo.toml
  core/services/opfs/src/backend.rs
  core/services/opfs/src/config.rs
  core/services/opfs/src/core.rs
  core/services/opfs/src/docs.md
  core/services/opfs/src/error.rs
  core/services/opfs/src/lib.rs
  core/services/opfs/src/utils.rs
  core/src/lib.rs
Owners: @Xuanwo

refactor: Split service d1 out of core
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/d1/Cargo.toml
  core/services/d1/src/backend.rs
  core/services/d1/src/config.rs
  core/services/d1/src/core.rs
  core/services/d1/src/deleter.rs
  core/services/d1/src/docs.md
  core/services/d1/src/error.rs
  core/services/d1/src/lib.rs
  core/services/d1/src/model.rs
  core/services/d1/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

.github/CODEOWNERS:

* @Xuanwo

/core @Xuanwo
/bindings/c/ @xyjixyjixyji
/bindings/haskell/ @silver-ymz
/bindings/java/ @tisonkun
/bindings/lua/ @oowl
/bindings/nodejs/ @suyanhanx
/bindings/python/ @messense @Zheaoli
/bindings/ruby/ @PsiACE
