Repository apache/opendal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

.github/CODEOWNERS:

* @Xuanwo

/core @Xuanwo
/bindings/c/ @xyjixyjixyji
/bindings/haskell/ @silver-ymz
/bindings/java/ @tisonkun
/bindings/lua/ @oowl
/bindings/nodejs/ @suyanhanx
/bindings/python/ @messense @Zheaoli
/bindings/ruby/ @PsiACE

to callback
  bindings/c/include/opendal.h
  bindings/c/src/async_operator.rs
  bindings/c/src/async_types.rs
  bindings/c/src/lib.rs
  bindings/c/tests/async_stat_test.cpp
Owners: @xyjixyjixyji

basic async stat support for c
  bindings/c/include/opendal.h
  bindings/c/src/async_operator.rs
  bindings/c/tests/async_stat_test.cpp
Owners: @xyjixyjixyji

add pthread example
  bindings/c/CMakeLists.txt
  bindings/c/examples/async_stat.c
  bindings/c/src/async_operator.rs
Owners: @xyjixyjixyji

newline
  bindings/c/examples/async_stat.c
Owners: @xyjixyjixyji

license
  bindings/c/tests/async_stat_test.cpp
Owners: @xyjixyjixyji

rm types
  bindings/c/src/async_types.rs
Owners: @xyjixyjixyji

rm in lib
  bindings/c/src/lib.rs
Owners: @xyjixyjixyji

async init
  bindings/c/Cargo.toml
  bindings/c/include/opendal.h
  bindings/c/src/async_operator.rs
  bindings/c/src/async_types.rs
  bindings/c/src/lib.rs
  bindings/c/src/operator.rs
  bindings/c/tests/async_stat_test.cpp
Owners: @xyjixyjixyji

fmt
  bindings/c/src/async_operator.rs
Owners: @xyjixyjixyji

update as per options api
  bindings/python/src/operator.rs
  bindings/python/src/options.rs
  bindings/python/tests/test_read.py
Owners: @messense, @Zheaoli

revert Cargo.lock
  core/Cargo.lock
Owners: @Xuanwo

refactor(azdls): move crc and continuation token to core for
  core/src/services/azdls/core.rs
  core/src/services/azdls/lister.rs
Owners: @Xuanwo

refactor(azdls): config argument for start_after
  core/Cargo.toml
  core/src/services/azdls/backend.rs
  core/src/services/azdls/config.rs
  core/src/services/azdls/core.rs
Owners: @Xuanwo

chore: spelling
  core/src/services/azdls/core.rs
Owners: @Xuanwo

Pass endpoint in AzfileConfig::from
  core/src/services/azfile/backend.rs
Owners: @Xuanwo

Reuse account name from endpoint
  core/src/services/azfile/backend.rs
Owners: @Xuanwo

feat(bindings/java): Add WriteOptions support for new options API (#6219)
  bindings/java/src/async_operator.rs
  bindings/java/src/convert.rs
  bindings/java/src/lib.rs
  bindings/java/src/main/java/org/apache/opendal/WriteOptions.java
  bindings/java/src/operator.rs
  bindings/java/src/test/java/org/apache/opendal/test/behavior/AsyncWriteOptionsTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/BlockingWriteOptionTest.java
Owners: @tisonkun

Include raw/azure when `services-azfile` feature is enabled
  core/src/raw/mod.rs
Owners: @Xuanwo

Simplify Option<String> comparison
  core/src/raw/azure.rs
Owners: @Xuanwo

Fix simplification
  core/src/raw/azure.rs
Owners: @Xuanwo

enhance metadata in lister for fs service
  core/src/services/fs/lister.rs
Owners: @Xuanwo

feat(services/azdls): Support parsing Azure Storage configs from connection strings (#6212)
  core/Cargo.toml
  core/src/raw/accessor.rs
  core/src/raw/azure.rs
  core/src/raw/mod.rs
  core/src/services/azblob/backend.rs
  core/src/services/azdls/backend.rs
  core/src/services/azdls/mod.rs
  core/src/services/azfile/backend.rs
Owners: @Xuanwo

updates to entry and metadata
  bindings/python/python/opendal/__init__.pyi
  bindings/python/src/metadata.rs
Owners: @messense, @Zheaoli

build: tweak settings to reproduce minimal example in windows
  bindings/cpp/CMakeLists.txt
Owners: @Xuanwo

add test
  bin/oli/src/commands/edit.rs
  bin/oli/tests/integration/edit.rs
Owners: @Xuanwo

support oli edit
  bin/oli/Cargo.toml
  bin/oli/src/commands/edit.rs
  bin/oli/src/commands/mod.rs
  bin/oli/tests/integration/main.rs
Owners: @Xuanwo

fmt
  bin/oli/tests/integration/edit.rs
Owners: @Xuanwo

fix test
  bin/oli/tests/integration/edit.rs
Owners: @Xuanwo

fix
  bin/oli/tests/integration/edit.rs
Owners: @Xuanwo

fix
  bin/oli/tests/integration/edit.rs
Owners: @Xuanwo

OneShotWriter
  bindings/c/tests/test_suites_reader_writer.cpp
Owners: @xyjixyjixyji

fix default path
  bindings/c/tests/test_framework.cpp
  bindings/c/tests/test_framework.h
  bindings/c/tests/test_runner.cpp
Owners: @xyjixyjixyji

fix
  bindings/c/tests/README.md
Owners: @xyjixyjixyji

fix number
  bindings/c/tests/test_suites_list.cpp
Owners: @xyjixyjixyji

try opendal/${{ matrix.cases.feature }}
  .github/workflows/test_behavior_binding_c.yml
Owners: @Xuanwo

set features
  .github/workflows/ci_bindings_c.yml
  .github/workflows/ci_bindings_zig.yml
  .github/workflows/test_behavior_binding_c.yml
Owners: @Xuanwo

init framework
  bindings/c/tests/Makefile
  bindings/c/tests/README.md
  bindings/c/tests/example_test.cpp
  bindings/c/tests/opendal_test_runner
  bindings/c/tests/test_framework.cpp
  bindings/c/tests/test_framework.h
  bindings/c/tests/test_runner.cpp
  bindings/c/tests/test_suites_basic.cpp
  bindings/c/tests/test_suites_list.cpp
  bindings/c/tests/test_suites_reader_writer.cpp
  bindings/c/tests/verify_framework.sh
Owners: @xyjixyjixyji

try fix
  bindings/c/CMakeLists.txt
Owners: @xyjixyjixyji

add in ci
  .github/actions/test_behavior_binding_c/action.yaml
  .github/scripts/test_behavior/plan.py
  .github/workflows/ci_bindings_c.yml
  .github/workflows/test_behavior.yml
  .github/workflows/test_behavior_binding_c.yml
  bindings/c/tests/opendal_test_runner
  bindings/c/tests/test_ci_integration.sh
Owners: @Xuanwo, @xyjixyjixyji

skip list
  bindings/c/tests/test_suites_basic.cpp
Owners: @xyjixyjixyji
