Repository apache/opendal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

re-export rocksdb service
  core/src/lib.rs
Owners: @Xuanwo

follow review advice
  core/services/rocksdb/src/backend.rs
  core/services/rocksdb/src/core.rs
  core/services/rocksdb/src/deleter.rs
  core/services/rocksdb/src/lib.rs
  core/services/rocksdb/src/lister.rs
  core/services/rocksdb/src/writer.rs
Owners: @Xuanwo

follow review advice
  core/services/rocksdb/src/config.rs
Owners: @Xuanwo

fix typo in docs.md
  core/services/rocksdb/src/docs.md
Owners: @Xuanwo

feat(layers/concurrent-limit): accept custom semaphore without API break
  core/Cargo.lock
  core/layers/concurrent-limit/Cargo.toml
  core/layers/concurrent-limit/src/lib.rs
Owners: @Xuanwo

refactor(layers/concurrent-limit): drop Any bound and refresh http test
  core/layers/concurrent-limit/src/lib.rs
Owners: @Xuanwo

revert some changes
  core/services/rocksdb/src/backend.rs
  core/services/rocksdb/src/deleter.rs
  core/services/rocksdb/src/lister.rs
  core/services/rocksdb/src/writer.rs
Owners: @Xuanwo

update config
  core/services/rocksdb/src/config.rs
Owners: @Xuanwo

refactor(services/rocksdb): split rocksdb service as a crate (#7081)
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/rocksdb/Cargo.toml
  core/services/rocksdb/src/backend.rs
  core/services/rocksdb/src/config.rs
  core/services/rocksdb/src/core.rs
  core/services/rocksdb/src/deleter.rs
  core/services/rocksdb/src/docs.md
  core/services/rocksdb/src/lib.rs
  core/services/rocksdb/src/lister.rs
  core/services/rocksdb/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

feat(layers/hotpath): add HotpathLayer integration
  core/Cargo.lock
  core/Cargo.toml
  core/layers/hotpath/Cargo.toml
  core/layers/hotpath/src/lib.rs
  core/src/lib.rs
Owners: @Xuanwo

feat(layers/hotpath): instrument HttpClient via HotpathHttpFetcher
  core/Cargo.lock
  core/layers/hotpath/Cargo.toml
  core/layers/hotpath/src/lib.rs
Owners: @Xuanwo

refactor(layers/hotpath): resolve comments
  core/Cargo.lock
  core/layers/hotpath/Cargo.toml
  core/layers/hotpath/src/lib.rs
Owners: @Xuanwo

ci(bindings/go): Remove unexpected list preix tests
  bindings/go/tests/behavior_tests/list_test.go
Owners: @Xuanwo

ci(bindings/go): Remove unexpected list prefix tests (#7084)
  bindings/go/tests/behavior_tests/list_test.go
Owners: @Xuanwo

ci: Refactor behavior test planner for services split
  .github/scripts/test_behavior/plan.py
  .github/scripts/test_behavior/test_plan.py
Owners: @Xuanwo

ci: Refactor behavior test planner for services split (#7085)
  .github/scripts/test_behavior/plan.py
  .github/scripts/test_behavior/test_plan.py
Owners: @Xuanwo

feat(layers/hotpath): add HotpathLayer integration (#7083)
  core/Cargo.lock
  core/Cargo.toml
  core/layers/hotpath/Cargo.toml
  core/layers/hotpath/src/lib.rs
  core/src/lib.rs
Owners: @Xuanwo

feat(bindings/java): Add musl platform support
  .github/workflows/release_java.yml
  bindings/java/src/main/java/org/apache/opendal/Environment.java
  bindings/java/src/main/java/org/apache/opendal/NativeLibrary.java
  bindings/java/src/test/java/org/apache/opendal/EnvironmentTest.java
  bindings/java/tools/build.py
Owners: @Xuanwo, @tisonkun

Add benckmark for read
  bindings/java/src/test/java/org/apache/opendal/bench/OperatorReadBenchmark.java
Owners: @tisonkun

refactor
  bindings/java/src/main/java/org/apache/opendal/OperatorInputStream.java
Owners: @tisonkun

Fix build
  bindings/java/pom.xml
  bindings/java/src/executor.rs
  bindings/java/src/jmh/java/org/apache/opendal/bench/jmh/Main.java
  bindings/java/src/jmh/java/org/apache/opendal/bench/jmh/OperatorReadJmhBenchmark.java
Owners: @tisonkun

Cleanup
  bindings/java/.gitignore
  bindings/java/src/test/java/org/apache/opendal/bench/OperatorReadBenchmark.java
Owners: @tisonkun

Remove jmh
  bindings/java/pom.xml
  bindings/java/src/jmh/java/org/apache/opendal/bench/jmh/Main.java
  bindings/java/src/jmh/java/org/apache/opendal/bench/jmh/OperatorReadJmhBenchmark.java
Owners: @tisonkun

feat(bindings/java): Speed up the performance of `OperatorInputStream` (#7088)
  bindings/java/.gitignore
  bindings/java/src/executor.rs
  bindings/java/src/main/java/org/apache/opendal/OperatorInputStream.java
Owners: @tisonkun

Revert not needed changes
  bindings/java/src/main/java/org/apache/opendal/Environment.java
  bindings/java/src/main/java/org/apache/opendal/NativeLibrary.java
  bindings/java/src/test/java/org/apache/opendal/EnvironmentTest.java
  bindings/java/tools/build.py
Owners: @tisonkun

chore: fine tune OperatorInputStream
  bindings/java/src/main/java/org/apache/opendal/OperatorInputStream.java
  bindings/java/src/main/java/org/apache/opendal/OperatorOutputStream.java
Owners: @tisonkun

chore: fine tune OperatorInputStream (#7089)
  bindings/java/src/main/java/org/apache/opendal/OperatorInputStream.java
  bindings/java/src/main/java/org/apache/opendal/OperatorOutputStream.java
Owners: @tisonkun

try fix musl build
  .github/workflows/release_java.yml
  bindings/java/src/main/java/org/apache/opendal/Environment.java
  bindings/java/tools/build.py
Owners: @Xuanwo, @tisonkun

format code
  bindings/java/src/main/java/org/apache/opendal/NativeLibrary.java
Owners: @tisonkun

fix
  bindings/java/Cargo.toml
  bindings/java/tools/build.py
  core/src/lib.rs
Owners: @tisonkun, @Xuanwo

fix(services/webdav): Fix XML namespace prefix consistency for PROPPATCH
  core/services/webdav/src/core.rs
Owners: @Xuanwo

feat(services/webdav): Add user defined metadata support
  core/services/webdav/src/backend.rs
  core/services/webdav/src/config.rs
  core/services/webdav/src/core.rs
  core/services/webdav/src/writer.rs
Owners: @Xuanwo

ci(services/webdav): Enable user_metadata for nextcloud and owncloud tests
  .github/services/webdav/nextcloud/action.yml
  .github/services/webdav/owncloud/action.yml
Owners: @Xuanwo

fix(services/webdav): Use ownCloud namespace for user metadata
  core/services/webdav/src/core.rs
Owners: @Xuanwo

fix(services/webdav): Properly handle PROPPATCH 207 Multi-Status response
  core/services/webdav/src/core.rs
  core/services/webdav/src/writer.rs
Owners: @Xuanwo

ci(services/webdav): Disable user_metadata for nextcloud and owncloud
  .github/services/webdav/nextcloud/action.yml
  .github/services/webdav/owncloud/action.yml
Owners: @Xuanwo

feat(services/webdav): make user metadata namespace configurable
  core/services/webdav/src/backend.rs
  core/services/webdav/src/config.rs
  core/services/webdav/src/core.rs
Owners: @Xuanwo

style: fix formatting
  core/services/webdav/src/core.rs
Owners: @Xuanwo

fix(services/webdav): Use custom OpenDAL namespace for user metadata
  core/services/webdav/src/core.rs
Owners: @Xuanwo

fix(services/webdav): Support dynamic XML namespace prefixes in PROPFIND
  core/services/webdav/src/core.rs
Owners: @Xuanwo

.github/CODEOWNERS:

* @Xuanwo

/core @Xuanwo
/bindings/c/ @xyjixyjixyji
/bindings/haskell/ @silver-ymz
/bindings/java/ @tisonkun
/bindings/lua/ @oowl
/bindings/nodejs/ @suyanhanx
/bindings/python/ @messense @Zheaoli
/bindings/ruby/ @PsiACE
