Repository apache/opendal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

add -A clippy::incompatible_msrv to allow the clippy warning tmply
  bindings/python/justfile
Owners: @messense, @Zheaoli

chore: apply suggestions from clippy 1.91.0 (#6754)
  bindings/python/justfile
  core/src/types/mode.rs
  core/src/types/scheme.rs
Owners: @messense, @Zheaoli, @Xuanwo

chore: rename ServiceAccessor => ServiceBackend
  core/src/services/cacache/backend.rs
  core/src/services/cloudflare_kv/backend.rs
  core/src/services/dashmap/backend.rs
  core/src/services/etcd/backend.rs
  core/src/services/memory/backend.rs
  core/src/services/moka/backend.rs
  core/src/services/redis/backend.rs
  core/src/services/sqlite/backend.rs
Owners: @Xuanwo

update docs
  core/src/services/memory/backend.rs
  core/src/services/moka/backend.rs
  core/src/services/redis/backend.rs
  core/src/services/sqlite/backend.rs
Owners: @Xuanwo

add connection_pool_max_size option to memcached and redis builders
  core/src/services/memcached/backend.rs
  core/src/services/memcached/config.rs
  core/src/services/memcached/core.rs
  core/src/services/redis/backend.rs
  core/src/services/redis/config.rs
  core/src/services/redis/core.rs
Owners: @Xuanwo

chore: cleanup some useless code related to services that were reomved due to lack of maintenance
  README.md
  core/src/types/scheme.rs
  core/tests/behavior/async_delete.rs
  core/tests/behavior/async_read.rs
  core/tests/behavior/async_stat.rs
  core/tests/behavior/async_write.rs
Owners: @Xuanwo

make clippy happy
  README.md
  core/tests/behavior/async_delete.rs
  core/tests/behavior/async_read.rs
  core/tests/behavior/async_stat.rs
Owners: @Xuanwo

update .env.example
  .env.example
Owners: @Xuanwo

run cmd: just generate java
  bindings/java/src/main/java/org/apache/opendal/ServiceConfig.java
Owners: @tisonkun

chore: cleanup some useless code related to services that were removed due to lack of maintenance (#6763)
  .env.example
  README.md
  bindings/java/src/main/java/org/apache/opendal/ServiceConfig.java
  core/src/types/scheme.rs
  core/tests/behavior/async_delete.rs
  core/tests/behavior/async_read.rs
  core/tests/behavior/async_stat.rs
  core/tests/behavior/async_write.rs
Owners: @Xuanwo, @tisonkun

avoid too large request body
  core/tests/behavior/async_write.rs
Owners: @Xuanwo

feat(services/compfs): implement IoVectoredBuf for Buffer
  core/src/services/compfs/core.rs
  core/src/services/compfs/writer.rs
  core/tests/behavior/async_write.rs
Owners: @Xuanwo

feat(services/compfs): implement IoVectoredBuf for Buffer (#6762)
  core/src/services/compfs/core.rs
  core/src/services/compfs/writer.rs
  core/tests/behavior/async_write.rs
Owners: @Xuanwo

refactor(types): use string-based scheme over enum-based approach
  core/edge/s3_aws_assume_role_with_web_identity/src/main.rs
  core/src/docs/internals/accessor.rs
  core/src/layers/async_backtrace.rs
  core/src/layers/await_tree.rs
  core/src/layers/capability_check.rs
  core/src/layers/chaos.rs
  core/src/layers/concurrent_limit.rs
  core/src/layers/error_context.rs
  core/src/layers/logging.rs
  core/src/layers/mime_guess.rs
  core/src/layers/retry.rs
  core/src/layers/throttle.rs
  core/src/layers/timeout.rs
  core/src/lib.rs
  core/src/raw/tests/utils.rs
  core/src/types/context/read.rs
  core/src/types/mod.rs
  core/src/types/operator/builder.rs
  core/src/types/operator/info.rs
  core/src/types/operator/operator.rs
  core/src/types/operator/operator_futures.rs
  core/src/types/read/buffer_stream.rs
  core/src/types/read/futures_async_reader.rs
  core/src/types/read/futures_bytes_stream.rs
  core/src/types/read/reader.rs
  core/src/types/scheme.rs
  core/src/types/write/buffer_sink.rs
  core/src/types/write/futures_async_writer.rs
  core/src/types/write/futures_bytes_sink.rs
  core/tests/behavior/async_copy.rs
  core/tests/behavior/async_delete.rs
  core/tests/behavior/async_list.rs
  core/tests/behavior/async_write.rs
Owners: @Xuanwo

fix(bindings/ruby): fix release build error
  bindings/ruby/Cargo.toml
  bindings/ruby/Rakefile
  bindings/ruby/opendal.gemspec
Owners: @PsiACE

fix behavior core tests
  core/tests/behavior/async_copy.rs
  core/tests/behavior/async_delete.rs
  core/tests/behavior/async_list.rs
  core/tests/behavior/async_write.rs
Owners: @Xuanwo

fix integrations
  integrations/object_store/src/service/mod.rs
  integrations/unftp-sbe/README.md
  integrations/unftp-sbe/src/lib.rs
Owners: @Xuanwo

revert scheme enum and sort variants alphabetically
  core/src/types/mod.rs
  core/src/types/scheme.rs
Owners: @Xuanwo

change via_iter and via_map signature
  core/src/types/operator/builder.rs
  core/src/types/scheme.rs
Owners: @Xuanwo

fix bindings
  bindings/java/src/utility.rs
  bindings/ruby/src/operator_info.rs
  core/src/raw/tests/utils.rs
Owners: @tisonkun, @PsiACE, @Xuanwo

use _ instead of - as the scheme string concatenator
  core/src/services/aliyun_drive/mod.rs
  core/src/services/cloudflare_kv/mod.rs
  core/src/services/mini_moka/mod.rs
  core/src/services/vercel_artifacts/mod.rs
  core/src/services/vercel_blob/mod.rs
  core/src/services/yandex_disk/mod.rs
  core/src/types/scheme.rs
  core/tests/behavior/async_write.rs
Owners: @Xuanwo

fix(bindings/ruby): fix release build error (#6766)
  bindings/ruby/Cargo.toml
  bindings/ruby/Rakefile
  bindings/ruby/opendal.gemspec
Owners: @PsiACE

feat(services/lakefs): Implement write returns metadata
  core/src/services/lakefs/backend.rs
  core/src/services/lakefs/core.rs
  core/src/services/lakefs/writer.rs
Owners: @Xuanwo

feat(services/lakefs): Implement write returns metadata (#6770)
  core/src/services/lakefs/backend.rs
  core/src/services/lakefs/core.rs
  core/src/services/lakefs/writer.rs
Owners: @Xuanwo

Add `connection_pool_max_size` option to memcached and redis builders (#6759)
  core/src/services/memcached/backend.rs
  core/src/services/memcached/config.rs
  core/src/services/memcached/core.rs
  core/src/services/redis/backend.rs
  core/src/services/redis/config.rs
  core/src/services/redis/core.rs
Owners: @Xuanwo

Fix build
  core/Cargo.lock
  core/Cargo.toml
Owners: @Xuanwo

Enable jiff
  core/Cargo.toml
Owners: @Xuanwo

Update lock
  core/Cargo.lock
Owners: @Xuanwo

fix(nodejs): add missing lister methods
  bindings/nodejs/generated.d.ts
  bindings/nodejs/src/lib.rs
  bindings/nodejs/tests/suites/asyncLister.suite.mjs
  bindings/nodejs/tests/suites/index.mjs
  bindings/nodejs/tests/suites/syncLister.suite.mjs
Owners: @suyanhanx

use - instead of _ as the scheme string concatenator
  core/src/services/aliyun_drive/mod.rs
  core/src/services/cloudflare_kv/mod.rs
  core/src/services/hdfs_native/mod.rs
  core/src/services/mini_moka/mod.rs
  core/src/services/vercel_artifacts/mod.rs
  core/src/services/vercel_blob/mod.rs
  core/src/services/yandex_disk/mod.rs
  core/src/types/scheme.rs
Owners: @Xuanwo

fix(binding/nodejs): add missing lister methods (#6769)
  bindings/nodejs/generated.d.ts
  bindings/nodejs/src/lib.rs
  bindings/nodejs/tests/suites/asyncLister.suite.mjs
  bindings/nodejs/tests/suites/index.mjs
  bindings/nodejs/tests/suites/syncLister.suite.mjs
Owners: @suyanhanx

Bump to version 0.55.0
  bindings/c/DEPENDENCIES.rust.tsv
  bindings/cpp/DEPENDENCIES.rust.tsv
  bindings/dotnet/DEPENDENCIES.rust.tsv
  bindings/haskell/DEPENDENCIES.rust.tsv
  bindings/java/DEPENDENCIES.rust.tsv
  bindings/java/pom.xml
  bindings/java/src/main/java/org/apache/opendal/ServiceConfig.java
  bindings/lua/DEPENDENCIES.rust.tsv
  bindings/nodejs/DEPENDENCIES.rust.tsv
  bindings/nodejs/npm/darwin-arm64/package.json
  bindings/nodejs/npm/darwin-x64/package.json
  bindings/nodejs/npm/linux-arm64-gnu/package.json
  bindings/nodejs/npm/linux-arm64-musl/package.json
  bindings/nodejs/npm/linux-x64-gnu/package.json
  bindings/nodejs/npm/linux-x64-musl/package.json
  bindings/nodejs/npm/win32-arm64-msvc/package.json
  bindings/nodejs/npm/win32-x64-msvc/package.json
  bindings/nodejs/package.json
  bindings/ocaml/DEPENDENCIES.rust.tsv
  bindings/php/DEPENDENCIES.rust.tsv
  bindings/python/Cargo.toml
  bindings/python/DEPENDENCIES.rust.tsv
  bindings/python/src/services.rs
  bindings/ruby/DEPENDENCIES.rust.tsv
  core/Cargo.lock
  core/Cargo.toml
  core/DEPENDENCIES.rust.tsv
  dev/src/release/package.rs
  integrations/dav-server/Cargo.toml
  integrations/dav-server/DEPENDENCIES.rust.tsv
  integrations/object_store/Cargo.toml
  integrations/object_store/DEPENDENCIES.rust.tsv
  integrations/parquet/Cargo.toml
  integrations/parquet/DEPENDENCIES.rust.tsv
  integrations/unftp-sbe/Cargo.toml
  integrations/unftp-sbe/DEPENDENCIES.rust.tsv
Owners: @xyjixyjixyji, @Xuanwo, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

update init_test_service to fix ci error
  core/src/raw/tests/utils.rs
Owners: @Xuanwo

Bump changelog
  CHANGELOG.md
Owners: @Xuanwo

code fmt
  bindings/python/src/services.rs
Owners: @messense, @Zheaoli

Fix clippy
  core/Cargo.lock
  core/src/services/azblob/backend.rs
  core/src/services/s3/backend.rs
  core/src/services/upyun/core.rs
Owners: @Xuanwo

Format code
  core/src/services/s3/backend.rs
Owners: @Xuanwo

Fix nodejs
  bindings/nodejs/generated.js
Owners: @suyanhanx

feat: add TimeoutLayer, LoggingLayer and ThrottleLayer in nodejs binding
  bindings/nodejs/Cargo.toml
  bindings/nodejs/README.md
  bindings/nodejs/generated.d.ts
  bindings/nodejs/generated.js
  bindings/nodejs/src/layer.rs
  bindings/nodejs/tests/suites/layer.suite.mjs
Owners: @suyanhanx

check duplicate path of entries
  core/src/layers/sanity_check.rs
Owners: @Xuanwo

.github/CODEOWNERS:

* @Xuanwo

/core @Xuanwo
/bindings/c/ @xyjixyjixyji
/bindings/haskell/ @silver-ymz
/bindings/java/ @tisonkun
/bindings/lua/ @oowl
/bindings/nodejs/ @suyanhanx
/bindings/python/ @messense @Zheaoli
/bindings/ruby/ @PsiACE
