Repository apache/opendal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

fix: patch futures buffer concurrent (#6442)
  core/src/lib.rs
  core/src/raw/futures_util.rs
  core/src/raw/oio/list/page_list.rs
  core/src/types/read/reader.rs
Owners: @Xuanwo

ci: Update ci_bindings_zig.yml
  .github/workflows/ci_bindings_zig.yml
Owners: @Xuanwo

ci: Update ci_bindings_zig.yml (#6444)
  .github/workflows/ci_bindings_zig.yml
Owners: @Xuanwo

feat(bindings/cpp): enhance Metadata API with comprehensive feature alignment
  bindings/cpp/CMakeLists.txt
  bindings/cpp/include/data_structure.hpp
  bindings/cpp/src/lib.rs
  bindings/cpp/src/opendal_async.cpp
  bindings/cpp/src/operator.cpp
  bindings/cpp/src/types.rs
  bindings/cpp/src/utils/ffi_converter.hpp
  bindings/cpp/src/utils/rust_converter.hpp
  bindings/cpp/tests/async_test.cpp
  bindings/cpp/tests/basic_test.cpp
  bindings/cpp/tests/metadata_test.cpp
Owners: @Xuanwo

feat: Add if-not-exists support for copy
  core/src/raw/ops.rs
  core/src/services/s3/backend.rs
  core/src/services/s3/core.rs
  core/src/types/capability.rs
  core/src/types/operator/operator.rs
  core/src/types/operator/operator_futures.rs
  core/src/types/options.rs
  core/tests/behavior/async_copy.rs
Owners: @Xuanwo

Add tests
  core/tests/behavior/async_copy.rs
Owners: @Xuanwo

Try new API
  core/src/services/s3/backend.rs
  core/src/services/s3/core.rs
Owners: @Xuanwo

Format code
  core/src/services/s3/backend.rs
Owners: @Xuanwo

Use azblob as examples
  core/src/services/azblob/backend.rs
  core/src/services/azblob/core.rs
  core/src/services/s3/backend.rs
  core/src/services/s3/core.rs
Owners: @Xuanwo

Make clippy happy
  core/src/services/azblob/backend.rs
Owners: @Xuanwo

refactor(bindings/cpp): use C++11 default member initialization for Metadata
  bindings/cpp/include/data_structure.hpp
Owners: @Xuanwo

feat: Add if-not-exists support for copy with azblob as example (#6447)
  core/src/raw/ops.rs
  core/src/services/azblob/backend.rs
  core/src/services/azblob/core.rs
  core/src/types/capability.rs
  core/src/types/operator/operator.rs
  core/src/types/operator/operator_futures.rs
  core/src/types/options.rs
  core/tests/behavior/async_copy.rs
Owners: @Xuanwo

feat(bindings/cpp): enhance Metadata API with comprehensive feature a… (#6445)
  bindings/cpp/CMakeLists.txt
  bindings/cpp/include/data_structure.hpp
  bindings/cpp/src/lib.rs
  bindings/cpp/src/opendal_async.cpp
  bindings/cpp/src/operator.cpp
  bindings/cpp/src/types.rs
  bindings/cpp/src/utils/ffi_converter.hpp
  bindings/cpp/src/utils/rust_converter.hpp
  bindings/cpp/tests/async_test.cpp
  bindings/cpp/tests/basic_test.cpp
  bindings/cpp/tests/metadata_test.cpp
Owners: @Xuanwo

feat(bindings/cpp): adopt Google C++ Style Guide for API naming
  bindings/cpp/CONTRIBUTING.md
  bindings/cpp/README.md
  bindings/cpp/include/data_structure.hpp
  bindings/cpp/include/opendal.hpp
  bindings/cpp/include/opendal_async.hpp
  bindings/cpp/src/lister.cpp
  bindings/cpp/src/opendal_async.cpp
  bindings/cpp/src/operator.cpp
  bindings/cpp/src/reader.cpp
  bindings/cpp/tests/async_test.cpp
  bindings/cpp/tests/basic_test.cpp
  bindings/cpp/tests/metadata_test.cpp
  examples/cpp/README.md
  examples/cpp/basic.cpp
Owners: @Xuanwo

refactor(bindings/cpp): remove Get prefix from simple accessor methods
  bindings/cpp/include/data_structure.hpp
  bindings/cpp/tests/metadata_test.cpp
Owners: @Xuanwo

directly use async fn
  integrations/object_store/src/backend/writer.rs
Owners: @Xuanwo

use async fn in read
  integrations/object_store/src/backend/reader.rs
Owners: @Xuanwo

revert unused cargo service
  core/Cargo.toml
Owners: @Xuanwo

rename backend/ as service/
  integrations/object_store/src/lib.rs
  integrations/object_store/src/service/deleter.rs
  integrations/object_store/src/service/error.rs
  integrations/object_store/src/service/lister.rs
  integrations/object_store/src/service/mod.rs
  integrations/object_store/src/service/reader.rs
  integrations/object_store/src/service/writer.rs
Owners: @Xuanwo

do the io in read()
  integrations/object_store/src/service/reader.rs
Owners: @Xuanwo

feat: Add prefetch support for concurrent read
  core/benches/types/tasks.rs
  core/src/raw/futures_util.rs
  core/src/raw/oio/write/block_write.rs
  core/src/raw/oio/write/multipart_write.rs
  core/src/raw/oio/write/position_write.rs
  core/src/raw/ops.rs
  core/src/types/options.rs
  core/src/types/read/buffer_stream.rs
  core/src/types/read/reader.rs
Owners: @Xuanwo

Format code
  core/src/raw/futures_util.rs
Owners: @Xuanwo

Fix options in python and node
  bindings/nodejs/src/options.rs
  bindings/python/src/options.rs
Owners: @suyanhanx, @messense, @Zheaoli

fix the build error on bytes_stream not able to Sync
  integrations/object_store/src/service/reader.rs
  integrations/object_store/src/service/writer.rs
Owners: @Xuanwo

use a bytes_deque for Buffer
  integrations/object_store/src/service/reader.rs
Owners: @Xuanwo

fix clippy
  integrations/object_store/src/service/reader.rs
Owners: @Xuanwo

Make clippy happy
  bindings/nodejs/generated.d.ts
  core/src/raw/futures_util.rs
Owners: @suyanhanx, @Xuanwo

feat: Add prefetch support for concurrent read (#6449)
  bindings/nodejs/generated.d.ts
  bindings/nodejs/src/options.rs
  bindings/python/src/options.rs
  core/benches/types/tasks.rs
  core/src/raw/futures_util.rs
  core/src/raw/oio/write/block_write.rs
  core/src/raw/oio/write/multipart_write.rs
  core/src/raw/oio/write/position_write.rs
  core/src/raw/ops.rs
  core/src/types/options.rs
  core/src/types/read/buffer_stream.rs
  core/src/types/read/reader.rs
Owners: @suyanhanx, @messense, @Zheaoli, @Xuanwo

feat(bindings/cpp): adopt Google C++ Style Guide for API naming (#6448)
  bindings/cpp/CONTRIBUTING.md
  bindings/cpp/README.md
  bindings/cpp/include/data_structure.hpp
  bindings/cpp/include/opendal.hpp
  bindings/cpp/include/opendal_async.hpp
  bindings/cpp/src/lister.cpp
  bindings/cpp/src/opendal_async.cpp
  bindings/cpp/src/operator.cpp
  bindings/cpp/src/reader.cpp
  bindings/cpp/tests/async_test.cpp
  bindings/cpp/tests/basic_test.cpp
  bindings/cpp/tests/metadata_test.cpp
  examples/cpp/README.md
  examples/cpp/basic.cpp
Owners: @Xuanwo

Implement copy method
  integrations/object_store/src/store.rs
Owners: @Xuanwo

Implement rename method
  integrations/object_store/src/store.rs
Owners: @Xuanwo

Return proper ETag and Version in PutResult
  integrations/object_store/src/store.rs
Owners: @Xuanwo

fmt
  integrations/object_store/src/store.rs
Owners: @Xuanwo

feat(object_store): Implement copy, rename and return metadata after writing (#6452)
  integrations/object_store/src/store.rs
Owners: @Xuanwo

docs: Update RFC-5444: Operator From Uri
  core/src/docs/rfcs/5444_operator_from_uri.md
Owners: @Xuanwo

ci: enable trust publishing for rust crates
  .github/workflows/release_rust.yml
Owners: @Xuanwo

fix(services/oss): unnecessary header 'content-type' are included in the get_object request
  core/src/services/oss/core.rs
Owners: @Xuanwo

fix(services/oss): unnecessary header 'content-type' are included in the get_object request (#6455)
  core/src/services/oss/core.rs
Owners: @Xuanwo

docs: Update RFC-5444 Operator From Uri (#6453)
  core/src/docs/rfcs/5444_operator_from_uri.md
Owners: @Xuanwo

Fix tests
  core/src/layers/correctness_check.rs
Owners: @Xuanwo

.github/CODEOWNERS:

* @Xuanwo

/core @Xuanwo
/bindings/c/ @xyjixyjixyji
/bindings/haskell/ @silver-ymz
/bindings/java/ @tisonkun
/bindings/lua/ @oowl
/bindings/nodejs/ @suyanhanx
/bindings/python/ @messense @Zheaoli
/bindings/ruby/ @PsiACE
