Repository apache/opendal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

skip if not support
  bindings/c/tests/test_runner.cpp
Owners: @xyjixyjixyji

install uuid
  .github/workflows/ci_bindings_c.yml
Owners: @Xuanwo

try fix
  bindings/c/CMakeLists.txt
Owners: @xyjixyjixyji

allow all options with list and scan
  bindings/python/python/opendal/__init__.pyi
  bindings/python/src/lib.rs
  bindings/python/src/operator.rs
  bindings/python/src/options.rs
  bindings/python/tests/test_write.py
Owners: @messense, @Zheaoli

chore: use cpp20 as default; use cmake_path
  bindings/cpp/CMakeLists.txt
Owners: @Xuanwo

feat(core): Implement list with deleted and versions for gcs
  core/src/services/gcs/backend.rs
  core/src/services/gcs/config.rs
  core/src/services/gcs/core.rs
  core/src/services/gcs/delete.rs
  core/src/services/gcs/lister.rs
Owners: @Xuanwo

feat(core): Implement list with deleted and versions for gcs
  core/src/services/gcs/backend.rs
  core/src/services/gcs/core.rs
Owners: @Xuanwo

fix lint
  bindings/python/src/lib.rs
Owners: @messense, @Zheaoli

add options to blocking open
  bindings/python/src/operator.rs
  bindings/python/tests/test_read.py
  bindings/python/tests/test_sync_delete.py
  bindings/python/tests/test_sync_exists.py
  bindings/python/tests/test_write.py
Owners: @messense, @Zheaoli

fix formatting and lint
  bindings/python/pyproject.toml
  bindings/python/python/opendal/__init__.pyi
Owners: @messense, @Zheaoli

Reset __base.pyi
  bindings/python/python/opendal/__base.pyi
Owners: @messense, @Zheaoli

Updated `read` and `write` methods to accept `**options`
  bindings/python/python/opendal/__base.pyi
  bindings/python/python/opendal/__init__.pyi
  bindings/python/src/operator.rs
Owners: @messense, @Zheaoli

Reset __base.pyi
  bindings/python/python/opendal/__base.pyi
Owners: @messense, @Zheaoli

clippy
  core/src/services/fs/lister.rs
Owners: @Xuanwo

clippy
  core/src/services/fs/lister.rs
Owners: @Xuanwo

feat(bindings/c): C test framework (#6230)
  .github/actions/test_behavior_binding_c/action.yaml
  .github/scripts/test_behavior/plan.py
  .github/workflows/ci_bindings_c.yml
  .github/workflows/ci_bindings_zig.yml
  .github/workflows/test_behavior.yml
  .github/workflows/test_behavior_binding_c.yml
  bindings/c/CMakeLists.txt
  bindings/c/tests/Makefile
  bindings/c/tests/README.md
  bindings/c/tests/example_test.cpp
  bindings/c/tests/test_ci_integration.sh
  bindings/c/tests/test_framework.cpp
  bindings/c/tests/test_framework.h
  bindings/c/tests/test_runner.cpp
  bindings/c/tests/test_suites_basic.cpp
  bindings/c/tests/test_suites_list.cpp
  bindings/c/tests/test_suites_reader_writer.cpp
  bindings/c/tests/verify_framework.sh
Owners: @Xuanwo, @xyjixyjixyji

add deprecation warning to scan
  bindings/python/python/opendal/__init__.pyi
Owners: @messense, @Zheaoli

fix docs for sync/ async read
  bindings/python/python/opendal/__init__.pyi
Owners: @messense, @Zheaoli

fix docs for sync/ async open
  bindings/python/python/opendal/__init__.pyi
Owners: @messense, @Zheaoli

fix docs for sync/ async write
  bindings/python/python/opendal/__init__.pyi
Owners: @messense, @Zheaoli

use co_await
  bindings/cpp/tests/async_test.cpp
Owners: @Xuanwo

add list support
  bindings/cpp/include/async_defs.hpp
  bindings/cpp/include/opendal_async.hpp
  bindings/cpp/src/async.rs
  bindings/cpp/src/opendal_async.cpp
Owners: @Xuanwo

fmt
  bindings/cpp/src/async.rs
Owners: @Xuanwo

rm
  core/src/raw/adapters/typed_kv/api.rs
  core/src/raw/adapters/typed_kv/backend.rs
  core/src/services/memory/backend.rs
Owners: @Xuanwo

try ?
  core/src/raw/adapters/typed_kv/api.rs
  core/src/services/memory/backend.rs
Owners: @Xuanwo

try fix
  bindings/cpp/tests/async_test.cpp
  core/src/raw/adapters/typed_kv/api.rs
  core/src/raw/adapters/typed_kv/backend.rs
  core/src/services/memory/backend.rs
Owners: @Xuanwo

see whether other works
  bindings/cpp/tests/async_test.cpp
Owners: @Xuanwo

skip copy test
  bindings/cpp/tests/async_test.cpp
Owners: @Xuanwo

try fix
  bindings/cpp/tests/async_test.cpp
Owners: @Xuanwo

pass the test
  bindings/cpp/README.md
  bindings/cpp/tests/async_test.cpp
Owners: @Xuanwo

try add tests
  bindings/cpp/tests/async_test.cpp
Owners: @Xuanwo

async reader / lister
  bindings/cpp/Cargo.toml
  bindings/cpp/include/async_defs.hpp
  bindings/cpp/include/opendal_async.hpp
  bindings/cpp/src/async.rs
  bindings/cpp/src/opendal_async.cpp
  bindings/cpp/tests/async_test.cpp
Owners: @Xuanwo

add more async op
  bindings/cpp/include/async_defs.hpp
  bindings/cpp/include/opendal_async.hpp
  bindings/cpp/src/async.rs
  bindings/cpp/src/opendal_async.cpp
Owners: @Xuanwo

add more api
  bindings/ocaml/lib/operator.ml
  bindings/ocaml/lib/operator.mli
  bindings/ocaml/src/operator/_type.rs
  bindings/ocaml/src/operator/capability.rs
  bindings/ocaml/src/operator/lister.rs
  bindings/ocaml/src/operator/mod.rs
  bindings/ocaml/src/operator/operator_info.rs
  bindings/ocaml/src/operator/writer.rs
  bindings/ocaml/test/test.ml
Owners: @Xuanwo

try fix
  .github/actions/setup-ocaml/action.yaml
  .github/workflows/ci_bindings_ocaml.yml
  bindings/ocaml/src/operator/_type.rs
  bindings/ocaml/src/operator/writer.rs
Owners: @Xuanwo

try fix
  bindings/ocaml/lib/operator.ml
  bindings/ocaml/lib/operator.mli
  bindings/ocaml/src/operator.ml
  bindings/ocaml/src/operator.mli
  bindings/ocaml/src/operator/writer.rs
Owners: @Xuanwo

fix test
  bindings/ocaml/lib/opendal.ml
  bindings/ocaml/lib/operator.ml
  bindings/ocaml/lib/operator.mli
  bindings/ocaml/test/test.ml
Owners: @Xuanwo

fmt
  bindings/ocaml/lib/operator.ml
  bindings/ocaml/lib/operator.mli
  bindings/ocaml/test/test.ml
Owners: @Xuanwo

clippy
  bindings/ocaml/src/operator/_type.rs
Owners: @Xuanwo

prepare for pub
  .github/workflows/release_ocaml.yml
  bindings/ocaml/CHANGES.md
  bindings/ocaml/dune-project
  bindings/ocaml/opendal.opam
  bindings/ocaml/release.sh
Owners: @Xuanwo

.github/CODEOWNERS:

* @Xuanwo

/core @Xuanwo
/bindings/c/ @xyjixyjixyji
/bindings/haskell/ @silver-ymz
/bindings/java/ @tisonkun
/bindings/lua/ @oowl
/bindings/nodejs/ @suyanhanx
/bindings/python/ @messense @Zheaoli
/bindings/ruby/ @PsiACE
