Repository apache/opendal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

Update links in README
  bindings/ruby/README.md
Owners: @PsiACE

Fix tests in CI
  bindings/ruby/Rakefile
Owners: @PsiACE

Version bump
  bindings/ruby/Cargo.toml
Owners: @PsiACE

Fix fs
  core/src/services/fs/backend.rs
Owners: @Xuanwo

feat(core/s3): auto detect region
  bindings/python/tests/test_auto_detect.py
  core/src/services/s3/backend.rs
Owners: @messense, @Zheaoli, @Xuanwo

fix(bindings/ruby): publish ruby binding gem (#6606)
  .github/workflows/release_ruby.yml
  bindings/ruby/Cargo.toml
  bindings/ruby/README.md
  bindings/ruby/Rakefile
  bindings/ruby/core
  bindings/ruby/lib/opendal_ruby/metadata.rb
  bindings/ruby/opendal.gemspec
  bindings/ruby/src/lib.rs
  bindings/ruby/src/metadata.rs
  bindings/ruby/src/middlewares.rs
  bindings/ruby/test/blocking_op_test.rb
  bindings/ruby/test/metadata_test.rb
  bindings/ruby/test/middlewares_test.rb
Owners: @Xuanwo, @PsiACE

fix: try to make everything happy
  core/src/services/s3/backend.rs
Owners: @Xuanwo

refector: make it clear
  core/src/services/s3/backend.rs
Owners: @Xuanwo

chore: update comments
  core/src/services/s3/backend.rs
Owners: @Xuanwo

feat: share semaphore with operation_semaphore
  core/src/layers/concurrent_limit.rs
Owners: @Xuanwo

docs: spelling and minor wording change
  website/docs/02-vision.md
Owners: @Xuanwo

feat: add semaphore to new, more fn
  bindings/java/src/layer.rs
  bindings/python/src/layers.rs
  bindings/ruby/src/middlewares.rs
  core/src/layers/concurrent_limit.rs
Owners: @tisonkun, @messense, @Zheaoli, @PsiACE, @Xuanwo

Add stub-gen and Makefile
  bindings/python/Cargo.toml
  bindings/python/Makefile
  bindings/python/dprint.json
  bindings/python/pyproject.toml
  bindings/python/ruff.toml
  bindings/python/src/lib.rs
  bindings/python/uv.lock
Owners: @messense, @Zheaoli

generate rust instead of python for better stubs
  bindings/python/python/opendal/services.pyi
  bindings/python/src/lib.rs
  bindings/python/src/services.rs
  dev/src/generate/new_python.j2
  dev/src/generate/python.rs
Owners: @messense, @Zheaoli, @Xuanwo

bump pyo3 to 0.26.0
  bindings/python/Cargo.toml
  bindings/python/python/_opendal.pyi
  bindings/python/src/file.rs
  bindings/python/src/lib.rs
  bindings/python/src/lister.rs
  bindings/python/src/operator.rs
  bindings/python/src/services.rs
  bindings/python/src/utils.rs
  dev/src/generate/new_python.j2
Owners: @messense, @Zheaoli, @Xuanwo

Stubs for Capability, Entry, Metadata, and EntryMode
  bindings/python/python/opendal/capability.pyi
  bindings/python/python/opendal/types.pyi
  bindings/python/src/capability.rs
  bindings/python/src/metadata.rs
Owners: @messense, @Zheaoli

chore: upgrade opentelemetry to 0.31.0
  core/Cargo.lock
  core/Cargo.toml
  core/src/services/fs/backend.rs
  core/src/services/memory/backend.rs
Owners: @Xuanwo

chore: upgrade opentelemetry to 0.31.0 (#6623)
  core/Cargo.lock
  core/Cargo.toml
  core/src/services/fs/backend.rs
  core/src/services/memory/backend.rs
Owners: @Xuanwo

Stubs for Layers
  bindings/python/python/opendal/layers.pyi
  bindings/python/src/layers.rs
Owners: @messense, @Zheaoli

Stubs for *Options
  bindings/python/python/opendal/options.pyi
  bindings/python/python/opendal/services.pyi
  bindings/python/ruff.toml
  bindings/python/src/lib.rs
  bindings/python/src/options.rs
Owners: @messense, @Zheaoli

Stubs for Operator and AsyncOperator
  bindings/python/pyrightconfig.json
  bindings/python/python/_opendal.pyi
  bindings/python/python/opendal/operator.pyi
  bindings/python/python/opendal/types.pyi
  bindings/python/ruff.toml
  bindings/python/src/operator.rs
  core/src/raw/adapters/kv/api.rs
Owners: @messense, @Zheaoli, @Xuanwo

docs: spelling and minor wording change (#6620)
  website/docs/02-vision.md
Owners: @Xuanwo

Update Docusaurus core dependency to version 3.9.1
  website/DEPENDENCIES.node.csv
Owners: @Xuanwo

Update Docusaurus dependencies to latest versions
  website/DEPENDENCIES.node.csv
Owners: @Xuanwo

Revert "chore(deps): bump @docusaurus/plugin-client-redirects from 3.8.1 to 3…"
  website/DEPENDENCIES.node.csv
  website/package.json
  website/pnpm-lock.yaml
Owners: @Xuanwo

update to 3.9.1
  website/DEPENDENCIES.node.csv
  website/package.json
  website/pnpm-lock.yaml
Owners: @Xuanwo

add dep group
  .github/dependabot.yml
  website/package.json
  website/pnpm-lock.yaml
Owners: @Xuanwo

in csv
  website/DEPENDENCIES.node.csv
Owners: @Xuanwo

chore: avoid build warning
  .github/workflows/release_ruby.yml
  bindings/ruby/Cargo.toml
  bindings/ruby/Rakefile
  bindings/ruby/core
Owners: @Xuanwo, @PsiACE

try fix
  bindings/ruby/.gitignore
  bindings/ruby/Rakefile
  bindings/ruby/opendal.gemspec
Owners: @PsiACE

rake fix
  bindings/ruby/Rakefile
  bindings/ruby/opendal.gemspec
Owners: @PsiACE

chore: avoid build warning (#6627)
  .github/workflows/release_ruby.yml
  bindings/ruby/.gitignore
  bindings/ruby/Cargo.toml
  bindings/ruby/Rakefile
  bindings/ruby/core
  bindings/ruby/opendal.gemspec
Owners: @Xuanwo, @PsiACE

build: fixup build website
  website/DEPENDENCIES.node.csv
  website/package.json
  website/pnpm-lock.yaml
Owners: @Xuanwo

update docusaurus together (#6626)
  .github/dependabot.yml
  website/DEPENDENCIES.node.csv
  website/package.json
  website/pnpm-lock.yaml
Owners: @Xuanwo

fixup compile
  bin/ofs/Cargo.lock
  bin/ofs/Cargo.toml
  bin/ofs/src/main.rs
  bin/ofs/tests/common/mod.rs
Owners: @Xuanwo

chore: upgrade reqsign to 0.18.0
  core/Cargo.toml
Owners: @Xuanwo

fix clippy
  bindings/python/src/file.rs
  bindings/python/src/lister.rs
  bindings/python/src/operator.rs
  bindings/python/src/utils.rs
Owners: @messense, @Zheaoli

fixup build
  bin/oli/Cargo.lock
  core/Cargo.lock
  core/Cargo.toml
Owners: @Xuanwo

.build()
  core/src/services/hdfs_native/backend.rs
Owners: @Xuanwo

clippy
  core/src/services/hdfs_native/backend.rs
Owners: @Xuanwo

.github/CODEOWNERS:

* @Xuanwo

/core @Xuanwo
/bindings/c/ @xyjixyjixyji
/bindings/haskell/ @silver-ymz
/bindings/java/ @tisonkun
/bindings/lua/ @oowl
/bindings/nodejs/ @suyanhanx
/bindings/python/ @messense @Zheaoli
/bindings/ruby/ @PsiACE
