Repository apache/opendal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

.github/CODEOWNERS:

* @Xuanwo

/core @Xuanwo
/bindings/c/ @xyjixyjixyji
/bindings/haskell/ @silver-ymz
/bindings/java/ @tisonkun
/bindings/lua/ @oowl
/bindings/nodejs/ @suyanhanx
/bindings/python/ @messense @Zheaoli
/bindings/ruby/ @PsiACE

chore(metrics): add more docs about global instance of PrometheusLayer and FastmetricsLayer (#6308)
  core/src/layers/fastmetrics.rs
  core/src/layers/prometheus.rs
  core/src/layers/prometheus_client.rs
Owners: @Xuanwo

Update core/src/services/redis/core.rs
  core/src/services/redis/core.rs
Owners: @Xuanwo

fix(nodejs): test stat with version
  bindings/nodejs/tests/suites/asyncStatOptions.suite.mjs
  bindings/nodejs/tests/suites/syncStatOptions.suite.mjs
Owners: @suyanhanx

use mlugg/setup-zig
  .github/workflows/ci_bindings_zig.yml
Owners: @Xuanwo

fix version input
  .github/workflows/ci_bindings_zig.yml
Owners: @Xuanwo

fix(nodejs): test stat with version (#6307)
  bindings/nodejs/tests/suites/asyncStatOptions.suite.mjs
  bindings/nodejs/tests/suites/syncStatOptions.suite.mjs
Owners: @suyanhanx

feat: implement --tree option for oli ls subcommand
  bin/oli/src/commands/ls.rs
Owners: @Xuanwo

test case
  bin/oli/tests/integration/ls.rs
Owners: @Xuanwo

snapshot test
  bin/oli/tests/integration/ls.rs
Owners: @Xuanwo

feat(bindings/nodejs): Add ReadOptions and ReaderOptions support for new options API
  .vscode/settings.json
  bindings/nodejs/generated.d.ts
  bindings/nodejs/src/capability.rs
  bindings/nodejs/src/lib.rs
  bindings/nodejs/src/options.rs
  bindings/nodejs/tests/suites/asyncReadOptions.suite.mjs
  bindings/nodejs/tests/suites/index.mjs
  bindings/nodejs/tests/suites/syncReadOptions.suite.mjs
Owners: @Xuanwo, @suyanhanx

chore(ci): use mlugg/setup-zig instead of archvied action (#6310)
  .github/workflows/ci_bindings_zig.yml
Owners: @Xuanwo

fix: grpc limit
  bindings/nodejs/tests/suites/asyncReadOptions.suite.mjs
  bindings/nodejs/tests/suites/syncReadOptions.suite.mjs
Owners: @suyanhanx

fix(bindings/python): Fix Writer doesn't throw correct error code
  bindings/python/src/errors.rs
  bindings/python/src/file.rs
Owners: @messense, @Zheaoli

fix(bindings/python): Fix Writer doesn't throw correct error code (#6315)
  bindings/python/src/errors.rs
  bindings/python/src/file.rs
Owners: @messense, @Zheaoli

feat: implement --tree option for oli ls subcommand (#6311)
  bin/oli/src/commands/ls.rs
  bin/oli/tests/integration/ls.rs
Owners: @Xuanwo

try remove unsafe from cpp bindings
  bindings/cpp/include/opendal_async.hpp
  bindings/cpp/src/async.rs
  bindings/cpp/src/opendal_async.cpp
Owners: @Xuanwo

refactor: Migrate mini_moka service to implement Access directly
  core/src/services/mini_moka/backend.rs
  core/src/services/mini_moka/config.rs
  core/src/services/mini_moka/core.rs
  core/src/services/mini_moka/delete.rs
  core/src/services/mini_moka/lister.rs
  core/src/services/mini_moka/writer.rs
Owners: @Xuanwo

clean up
  core/src/services/mini_moka/config.rs
  core/src/services/mini_moka/mod.rs
Owners: @Xuanwo

Attempt 1
  core/Cargo.toml
  core/src/services/fs/backend.rs
  core/src/services/fs/config.rs
  core/src/services/fs/core.rs
  core/src/services/fs/docs.md
Owners: @Xuanwo

refactor(services/fs): extract implementation to core
  core/src/services/fs/backend.rs
  core/src/services/fs/core.rs
  core/src/services/fs/delete.rs
  core/src/services/fs/error.rs
Owners: @Xuanwo

fix(python): correctly calculate end bound using offset + size instead of size directly
  bindings/python/src/options.rs
Owners: @messense, @Zheaoli

fix(bindings/python): range test
  bindings/python/python/opendal/__base.pyi
  bindings/python/tests/test_read.py
Owners: @messense, @Zheaoli

refactor(services/fs): extract implementation to core (#6317)
  core/src/services/fs/backend.rs
  core/src/services/fs/core.rs
  core/src/services/fs/delete.rs
  core/src/services/fs/error.rs
Owners: @Xuanwo

refactor: Migrate mini_moka service to implement Access directly (#6316)
  core/src/services/mini_moka/backend.rs
  core/src/services/mini_moka/config.rs
  core/src/services/mini_moka/core.rs
  core/src/services/mini_moka/delete.rs
  core/src/services/mini_moka/lister.rs
  core/src/services/mini_moka/writer.rs
Owners: @Xuanwo

refactor(bindings/python): simplify range handling using BytesRange
  bindings/python/src/operator.rs
  bindings/python/src/options.rs
Owners: @messense, @Zheaoli

fix: format code
  bindings/python/src/operator.rs
Owners: @messense, @Zheaoli

refactor(bindings/nodejs): simplify range handling using BytesRange
  bindings/nodejs/src/options.rs
Owners: @suyanhanx

fix(python): correctly calculate end bound using offset + size instead of size directly (#6314)
  bindings/python/python/opendal/__base.pyi
  bindings/python/src/operator.rs
  bindings/python/src/options.rs
  bindings/python/tests/test_read.py
Owners: @messense, @Zheaoli

feat(bindings/nodejs): Add ReadOptions and ReaderOptions support for new options API (#6312)
  .vscode/settings.json
  bindings/nodejs/generated.d.ts
  bindings/nodejs/src/capability.rs
  bindings/nodejs/src/lib.rs
  bindings/nodejs/src/options.rs
  bindings/nodejs/tests/suites/asyncReadOptions.suite.mjs
  bindings/nodejs/tests/suites/index.mjs
  bindings/nodejs/tests/suites/syncReadOptions.suite.mjs
Owners: @Xuanwo, @suyanhanx

ci(bindings/go): simplify and improve Go bindings test infrastructure
  .github/actions/test_behavior_binding_go/action.yaml
  .github/workflows/test_behavior_binding_go.yml
  bindings/go/Makefile
  bindings/go/README.md
Owners: @Xuanwo

ci(bindings/go): reduce diff
  .github/actions/test_behavior_binding_go/action.yaml
  .github/workflows/test_behavior_binding_go.yml
Owners: @Xuanwo

chore: Add npm to dependabot
  .github/dependabot.yml
Owners: @Xuanwo

ci(bindings/go): simplify and improve Go bindings test infrastructure (#6293)
  .github/actions/test_behavior_binding_go/action.yaml
  .github/workflows/test_behavior_binding_go.yml
  bindings/go/Makefile
  bindings/go/README.md
Owners: @Xuanwo

ci(services/compfs): add integration tests for compfs services
  .github/services/compfs/compfs/action.yml
Owners: @Xuanwo

feat(bindings/nodejs): Add ListOptions support for new options API
  bindings/nodejs/generated.d.ts
  bindings/nodejs/src/capability.rs
  bindings/nodejs/src/lib.rs
  bindings/nodejs/src/options.rs
  bindings/nodejs/tests/suites/asyncListOptions.suite.mjs
  bindings/nodejs/tests/suites/index.mjs
  bindings/nodejs/tests/suites/syncListOptions.suite.mjs
Owners: @suyanhanx

add compfs for bindings
  bindings/java/Cargo.toml
  bindings/nodejs/Cargo.toml
  bindings/python/Cargo.toml
Owners: @tisonkun, @suyanhanx, @messense, @Zheaoli

feat(bindings/nodejs): Add WriteOptions support for new options API
  bindings/nodejs/generated.d.ts
  bindings/nodejs/src/capability.rs
  bindings/nodejs/src/lib.rs
  bindings/nodejs/src/options.rs
  bindings/nodejs/tests/suites/asyncWriteOptions.suite.mjs
  bindings/nodejs/tests/suites/index.mjs
  bindings/nodejs/tests/suites/syncWriteOptions.suite.mjs
Owners: @suyanhanx

fix: unit compare
  bindings/nodejs/tests/suites/asyncWriteOptions.suite.mjs
  bindings/nodejs/tests/suites/syncWriteOptions.suite.mjs
Owners: @suyanhanx

fix: test
  bindings/nodejs/src/lib.rs
  bindings/nodejs/tests/suites/asyncWriteOptions.suite.mjs
  bindings/nodejs/tests/suites/syncWriteOptions.suite.mjs
Owners: @suyanhanx

fix(dav-server): Fix create_dir to create nested directories
  integrations/dav-server/src/fs.rs
Owners: @Xuanwo
