Repository apache/opendal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

.github/CODEOWNERS:

* @Xuanwo

/core @Xuanwo
/bindings/c/ @xyjixyjixyji
/bindings/haskell/ @silver-ymz
/bindings/java/ @tisonkun
/bindings/lua/ @oowl
/bindings/nodejs/ @suyanhanx
/bindings/python/ @messense @Zheaoli
/bindings/ruby/ @PsiACE

code cleanup
  core/Cargo.toml
Owners: @Xuanwo

chore(ci): make clippy happy when using rust 1.92.0
  core/benches/types/buffer.rs
Owners: @Xuanwo

fix dart binding clippy warnings
  bindings/dart/rust/Cargo.toml
Owners: @Xuanwo

chore(core): pub message of Error struct
  core/core/src/types/error.rs
Owners: @Xuanwo

remove unused dependencies
  core/Cargo.lock
  core/edge/file_write_on_full_disk/Cargo.toml
  core/edge/s3_read_on_wasm/Cargo.toml
  core/examples/basic/Cargo.toml
  core/examples/concurrent-upload/Cargo.toml
  core/examples/multipart-upload/Cargo.toml
  core/layers/fastrace/Cargo.toml
  core/services/aliyun-drive/Cargo.toml
  core/services/cloudflare-kv/Cargo.toml
Owners: @Xuanwo

ci(bindings/ocaml): Use dyn link instead
  bindings/ocaml/Cargo.toml
  bindings/ocaml/src/dune
Owners: @Xuanwo

Try fix
  bindings/ocaml/test/dune
Owners: @Xuanwo

format code
  .github/workflows/ci_bindings_ocaml.yml
  bindings/ocaml/src/dune
  bindings/ocaml/test/dune
Owners: @Xuanwo

fix clippy
  core/Cargo.lock
  core/benches/types/buffer.rs
  core/edge/s3_read_on_wasm/Cargo.toml
Owners: @Xuanwo

ignore dart lints
  bindings/dart/rust/Cargo.toml
Owners: @Xuanwo

simplify loop as per copilot
  core/benches/types/buffer.rs
Owners: @Xuanwo

Add just and uv to devcontainer
  .devcontainer/post_create.sh
Owners: @Xuanwo

ci(bindings/ocaml): Use dyn link instead (#6988)
  .github/workflows/ci_bindings_ocaml.yml
  bindings/ocaml/Cargo.toml
  bindings/ocaml/src/dune
  bindings/ocaml/test/dune
Owners: @Xuanwo

Add just and uv to devcontainer (#6990)
  .devcontainer/post_create.sh
Owners: @Xuanwo

chore(ci): make clippy happy when using rust 1.92.0 (#6985)
  bindings/dart/rust/Cargo.toml
  core/benches/types/buffer.rs
Owners: @Xuanwo

refactor: Split immutable-index layer to new crate (#6967)
  core/Cargo.lock
  core/Cargo.toml
  core/core/src/layers/mod.rs
  core/layers/immutable-index/Cargo.toml
  core/layers/immutable-index/src/lib.rs
  core/src/lib.rs
Owners: @Xuanwo

refactor(services/obs): split obs service into standalone crate (#6977)
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/obs/Cargo.toml
  core/services/obs/src/backend.rs
  core/services/obs/src/config.rs
  core/services/obs/src/core.rs
  core/services/obs/src/deleter.rs
  core/services/obs/src/docs.md
  core/services/obs/src/error.rs
  core/services/obs/src/lib.rs
  core/services/obs/src/lister.rs
  core/services/obs/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

refactor(services/ftp): split service into its own crate (#6979)
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/ftp/Cargo.toml
  core/services/ftp/src/backend.rs
  core/services/ftp/src/config.rs
  core/services/ftp/src/core.rs
  core/services/ftp/src/deleter.rs
  core/services/ftp/src/docs.md
  core/services/ftp/src/err.rs
  core/services/ftp/src/lib.rs
  core/services/ftp/src/lister.rs
  core/services/ftp/src/reader.rs
  core/services/ftp/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

chore(core): remove unused dependencies (#6987)
  core/Cargo.lock
  core/benches/types/buffer.rs
  core/edge/file_write_on_full_disk/Cargo.toml
  core/examples/basic/Cargo.toml
  core/examples/concurrent-upload/Cargo.toml
  core/examples/multipart-upload/Cargo.toml
  core/layers/fastrace/Cargo.toml
  core/services/aliyun-drive/Cargo.toml
  core/services/cloudflare-kv/Cargo.toml
Owners: @Xuanwo

Python: Add from_uri constructors for Operators
  bindings/python/src/operator.rs
Owners: @messense, @Zheaoli

refactor: split throttle layer to new crate (#6980)
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/layers/mod.rs
  core/layers/throttle/Cargo.toml
  core/layers/throttle/src/lib.rs
  core/src/lib.rs
Owners: @Xuanwo

Python: Fix return type of AsyncOperator::from_uri
  bindings/python/src/operator.rs
Owners: @messense, @Zheaoli

ci: Remove setup-protoc entirely
  .github/actions/setup/action.yaml
  .github/workflows/release_java.yml
Owners: @Xuanwo

refactor(services/ipfs): extract ipfs service into separate crate
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/ipfs/Cargo.toml
  core/services/ipfs/src/backend.rs
  core/services/ipfs/src/config.rs
  core/services/ipfs/src/core.rs
  core/services/ipfs/src/docs.md
  core/services/ipfs/src/error.rs
  core/services/ipfs/src/ipld.rs
  core/services/ipfs/src/lib.rs
  core/src/lib.rs
Owners: @Xuanwo

refactor(services/sled): split service into its own crate (#6981)
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/sled/Cargo.toml
  core/services/sled/src/backend.rs
  core/services/sled/src/config.rs
  core/services/sled/src/core.rs
  core/services/sled/src/deleter.rs
  core/services/sled/src/docs.md
  core/services/sled/src/lib.rs
  core/services/sled/src/lister.rs
  core/services/sled/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

refactor(services/ipfs): extract ipfs service into separate crate (#6991)
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/ipfs/Cargo.toml
  core/services/ipfs/src/backend.rs
  core/services/ipfs/src/config.rs
  core/services/ipfs/src/core.rs
  core/services/ipfs/src/docs.md
  core/services/ipfs/src/error.rs
  core/services/ipfs/src/ipld.rs
  core/services/ipfs/src/lib.rs
  core/src/lib.rs
Owners: @Xuanwo

refactor(services/tikv): split service into standalone crate
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/tikv/Cargo.toml
  core/services/tikv/src/backend.rs
  core/services/tikv/src/config.rs
  core/services/tikv/src/core.rs
  core/services/tikv/src/deleter.rs
  core/services/tikv/src/docs.md
  core/services/tikv/src/lib.rs
  core/services/tikv/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

Fix test failures
  bindings/python/src/operator.rs
  bindings/python/src/services.rs
Owners: @messense, @Zheaoli

Format
  bindings/python/src/operator.rs
Owners: @messense, @Zheaoli

Fix lints
  bindings/python/src/operator.rs
Owners: @messense, @Zheaoli

Format services
  bindings/python/src/services.rs
Owners: @messense, @Zheaoli

Try fix
  .github/actions/setup/action.yaml
Owners: @Xuanwo

refactor: Split service tikv to new crate (#6997)
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/tikv/Cargo.toml
  core/services/tikv/src/backend.rs
  core/services/tikv/src/config.rs
  core/services/tikv/src/core.rs
  core/services/tikv/src/deleter.rs
  core/services/tikv/src/docs.md
  core/services/tikv/src/lib.rs
  core/services/tikv/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

refactor dtrace
  .gitignore
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/layers/dtrace/Cargo.toml
  core/layers/dtrace/src/lib.rs
  core/src/lib.rs
Owners: @Xuanwo

fix(bindings/java): Detach current thread while thread drop
  bindings/java/src/executor.rs
Owners: @tisonkun

re-add services from main
  bindings/python/src/services.rs
Owners: @messense, @Zheaoli

ci: Remove setup-protoc entirely (#6994)
  .github/actions/setup/action.yaml
  .github/workflows/release_java.yml
Owners: @Xuanwo

Update comments
  bindings/java/src/executor.rs
Owners: @tisonkun

refactor: Split service b2 out of core
  core/Cargo.lock
  core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/b2/Cargo.toml
  core/services/b2/src/backend.rs
  core/services/b2/src/config.rs
  core/services/b2/src/core.rs
  core/services/b2/src/deleter.rs
  core/services/b2/src/docs.md
  core/services/b2/src/error.rs
  core/services/b2/src/lib.rs
  core/services/b2/src/lister.rs
  core/services/b2/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

fix test
  core/Cargo.lock
  core/services/b2/Cargo.toml
Owners: @Xuanwo
