Repository apache/opendal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

temp fix for ConditionNotMatch test
  bindings/python/tests/test_write.py
Owners: @messense, @Zheaoli

Add ListOptions support for new options API
  bindings/java/src/async_operator.rs
  bindings/java/src/convert.rs
  bindings/java/src/lib.rs
  bindings/java/src/main/java/org/apache/opendal/Capability.java
  bindings/java/src/main/java/org/apache/opendal/ListOptions.java
  bindings/java/src/operator.rs
  bindings/java/src/test/java/org/apache/opendal/test/behavior/AsyncListTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/BlockingListTest.java
Owners: @tisonkun

remove the final
  bindings/java/src/test/java/org/apache/opendal/test/behavior/BlockingListTest.java
Owners: @tisonkun

remove the final
  bindings/java/src/test/java/org/apache/opendal/test/behavior/AsyncListTest.java
Owners: @tisonkun

feat: Auto-generate llms.txt and llms-full.txt
  website/docusaurus.config.js
  website/package.json
  website/pnpm-lock.yaml
Owners: @Xuanwo

feat(bindings/java): Add ListOptions support for new options API (#6246)
  bindings/java/src/async_operator.rs
  bindings/java/src/convert.rs
  bindings/java/src/lib.rs
  bindings/java/src/main/java/org/apache/opendal/Capability.java
  bindings/java/src/main/java/org/apache/opendal/ListOptions.java
  bindings/java/src/operator.rs
  bindings/java/src/test/java/org/apache/opendal/test/behavior/AsyncListTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/BlockingListTest.java
Owners: @tisonkun

newline
  bindings/c/examples/async_stat.c
Owners: @xyjixyjixyji

add example
  bindings/c/README.md
Owners: @xyjixyjixyji

add pthread example
  bindings/c/CMakeLists.txt
  bindings/c/examples/async_stat.c
  bindings/c/src/async_operator.rs
Owners: @xyjixyjixyji

rm in lib
  bindings/c/src/lib.rs
Owners: @xyjixyjixyji

fmt
  bindings/c/src/async_operator.rs
Owners: @xyjixyjixyji

basic async stat support for c
  bindings/c/include/opendal.h
  bindings/c/src/async_operator.rs
  bindings/c/tests/async_stat_test.cpp
Owners: @xyjixyjixyji

license
  bindings/c/tests/async_stat_test.cpp
Owners: @xyjixyjixyji

async init
  bindings/c/Cargo.toml
  bindings/c/include/opendal.h
  bindings/c/src/async_operator.rs
  bindings/c/src/async_types.rs
  bindings/c/src/lib.rs
  bindings/c/src/operator.rs
  bindings/c/tests/async_stat_test.cpp
Owners: @xyjixyjixyji

to callback
  bindings/c/include/opendal.h
  bindings/c/src/async_operator.rs
  bindings/c/src/async_types.rs
  bindings/c/src/lib.rs
  bindings/c/tests/async_stat_test.cpp
Owners: @xyjixyjixyji

rm types
  bindings/c/src/async_types.rs
Owners: @xyjixyjixyji

feat(core): Implement list with deleted and versions for gcs
  core/src/services/gcs/backend.rs
  core/src/services/gcs/config.rs
  core/src/services/gcs/core.rs
Owners: @Xuanwo

set concurrent to default
  bindings/python/src/options.rs
  bindings/python/tests/test_write.py
Owners: @messense, @Zheaoli

update capabilities
  bindings/python/python/opendal/__init__.pyi
Owners: @messense, @Zheaoli

Add StatOptions support for new options API
  bindings/java/Cargo.toml
  bindings/java/src/async_operator.rs
  bindings/java/src/convert.rs
  bindings/java/src/lib.rs
  bindings/java/src/main/java/org/apache/opendal/AsyncOperator.java
  bindings/java/src/main/java/org/apache/opendal/Capability.java
  bindings/java/src/main/java/org/apache/opendal/Operator.java
  bindings/java/src/main/java/org/apache/opendal/StatOptions.java
  bindings/java/src/operator.rs
  bindings/java/src/test/java/org/apache/opendal/test/behavior/AsyncStatOptionsTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/BlockingStatOptionsTest.java
Owners: @tisonkun

add licence
  bindings/java/src/main/java/org/apache/opendal/StatOptions.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/AsyncStatOptionsTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/BlockingStatOptionsTest.java
Owners: @tisonkun

Repair list with deleted test
  bindings/java/src/test/java/org/apache/opendal/test/behavior/AsyncListTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/BlockingListTest.java
Owners: @tisonkun

add remaining read options
  bindings/python/src/options.rs
  bindings/python/tests/test_read.py
Owners: @messense, @Zheaoli

fix formatting
  bindings/python/src/options.rs
Owners: @messense, @Zheaoli

updated docstrings
  bindings/python/python/opendal/__init__.pyi
Owners: @messense, @Zheaoli

fix: java bug in list with delete option test (#6257)
  bindings/java/src/test/java/org/apache/opendal/test/behavior/AsyncListTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/BlockingListTest.java
Owners: @tisonkun

feat(bindings/python): Enhance Reader and Writer (#6086)
  bindings/python/pyproject.toml
  bindings/python/python/opendal/__init__.pyi
  bindings/python/python/opendal/layers.pyi
  bindings/python/src/capability.rs
  bindings/python/src/file.rs
  bindings/python/src/lib.rs
  bindings/python/src/operator.rs
  bindings/python/src/options.rs
  bindings/python/tests/test_read.py
  bindings/python/tests/test_sync_delete.py
  bindings/python/tests/test_sync_exists.py
  bindings/python/tests/test_sync_list.py
  bindings/python/tests/test_write.py
Owners: @messense, @Zheaoli

enhance metadata in lister for fs service
  core/src/services/fs/lister.rs
Owners: @Xuanwo

updates to entry and metadata
  bindings/python/python/opendal/__init__.pyi
  bindings/python/src/metadata.rs
Owners: @messense, @Zheaoli

allow all options with list and scan
  bindings/python/python/opendal/__init__.pyi
  bindings/python/src/lib.rs
  bindings/python/src/operator.rs
  bindings/python/src/options.rs
  bindings/python/tests/test_write.py
Owners: @messense, @Zheaoli

fix docs for sync/ async list and scan
  bindings/python/python/opendal/__init__.pyi
Owners: @messense, @Zheaoli

add deprecation warning to scan
  bindings/python/python/opendal/__init__.pyi
Owners: @messense, @Zheaoli

clippy
  core/src/services/fs/lister.rs
Owners: @Xuanwo

clippy
  core/src/services/fs/lister.rs
Owners: @Xuanwo

fix formatting
  bindings/python/python/opendal/__init__.pyi
Owners: @messense, @Zheaoli

fix formatting
  bindings/python/python/opendal/__init__.pyi
  bindings/python/python/opendal/exceptions.pyi
  bindings/python/tests/test_async_pickle_types.py
  bindings/python/tests/test_pickle_rw.py
  bindings/python/tests/test_sync_pickle_types.py
Owners: @messense, @Zheaoli

add stat options
  bindings/python/python/opendal/__init__.pyi
  bindings/python/src/lib.rs
  bindings/python/src/operator.rs
  bindings/python/src/options.rs
Owners: @messense, @Zheaoli

use deprecated decorator
  bindings/python/python/opendal/__init__.pyi
Owners: @messense, @Zheaoli

use deprecated decorator
  bindings/python/python/opendal/__init__.pyi
Owners: @messense, @Zheaoli

fix(nodejs): remove the type property from package.json
  bindings/nodejs/package.json
Owners: @suyanhanx

.github/CODEOWNERS:

* @Xuanwo

/core @Xuanwo
/bindings/c/ @xyjixyjixyji
/bindings/haskell/ @silver-ymz
/bindings/java/ @tisonkun
/bindings/lua/ @oowl
/bindings/nodejs/ @suyanhanx
/bindings/python/ @messense @Zheaoli
/bindings/ruby/ @PsiACE
