Repository apache/opendal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

.github/CODEOWNERS:

* @Xuanwo

/core @Xuanwo
/bindings/c/ @xyjixyjixyji
/bindings/haskell/ @silver-ymz
/bindings/java/ @tisonkun
/bindings/lua/ @oowl
/bindings/nodejs/ @suyanhanx
/bindings/python/ @messense @Zheaoli
/bindings/ruby/ @PsiACE

refactor: Reuse from_uri logic inside via iter
  core/core/src/types/operator/builder.rs
  core/core/src/types/operator/registry.rs
Owners: @Xuanwo

Fix tests
  core/core/src/services/alluxio/config.rs
  core/core/src/services/azdls/config.rs
  core/core/src/services/azfile/config.rs
  core/core/src/services/dbfs/config.rs
  core/core/src/services/ftp/config.rs
  core/core/src/services/hdfs/config.rs
  core/core/src/services/hdfs_native/config.rs
  core/core/src/services/http/config.rs
  core/core/src/services/ipfs/config.rs
  core/core/src/services/ipmfs/config.rs
  core/core/src/services/koofr/config.rs
  core/core/src/services/lakefs/config.rs
  core/core/src/services/memcached/config.rs
  core/core/src/services/pcloud/config.rs
  core/core/src/services/seafile/config.rs
  core/core/src/services/sftp/config.rs
  core/core/src/services/webdav/config.rs
  core/core/src/services/webhdfs/config.rs
  core/core/src/types/operator/builder.rs
  core/core/src/types/operator/uri.rs
Owners: @Xuanwo

Fix build
  core/core/src/services/huggingface/config.rs
  core/core/src/services/seafile/config.rs
Owners: @Xuanwo

Fix tests
  core/core/src/types/operator/uri.rs
Owners: @Xuanwo

refactor: Reuse from_uri logic inside via iter (#6862)
  core/core/src/services/alluxio/config.rs
  core/core/src/services/azdls/config.rs
  core/core/src/services/azfile/config.rs
  core/core/src/services/dbfs/config.rs
  core/core/src/services/ftp/config.rs
  core/core/src/services/hdfs/config.rs
  core/core/src/services/hdfs_native/config.rs
  core/core/src/services/http/config.rs
  core/core/src/services/huggingface/config.rs
  core/core/src/services/ipfs/config.rs
  core/core/src/services/ipmfs/config.rs
  core/core/src/services/koofr/config.rs
  core/core/src/services/lakefs/config.rs
  core/core/src/services/memcached/config.rs
  core/core/src/services/pcloud/config.rs
  core/core/src/services/seafile/config.rs
  core/core/src/services/sftp/config.rs
  core/core/src/services/webdav/config.rs
  core/core/src/services/webhdfs/config.rs
  core/core/src/types/operator/builder.rs
  core/core/src/types/operator/registry.rs
  core/core/src/types/operator/uri.rs
Owners: @Xuanwo

chore(bindings): remove `Scheme` enum from some bindings (#6776)
  bindings/c/CMakeLists.txt
  bindings/c/src/operator.rs
  bindings/c/tests/Makefile
  bindings/c/tests/example_test.cpp
  bindings/c/tests/test_framework.cpp
  bindings/c/tests/test_runner.cpp
  bindings/c/tests/test_suites_basic.cpp
  bindings/c/tests/test_suites_list.cpp
  bindings/c/tests/test_suites_reader_writer.cpp
  bindings/cpp/src/async.rs
  bindings/cpp/src/lib.rs
  bindings/dart/rust/src/api/opendal_api.rs
  bindings/dotnet/src/lib.rs
  bindings/go/operator.go
  bindings/go/tests/behavior_tests/opendal_test.go
  bindings/haskell/src/lib.rs
  bindings/java/Cargo.toml
  bindings/java/src/async_operator.rs
  bindings/java/src/test/java/org/apache/opendal/test/behavior/BehaviorExtension.java
  bindings/java/src/utility.rs
  bindings/lua/src/lib.rs
  bindings/nodejs/src/lib.rs
  bindings/nodejs/tests/utils.mjs
  bindings/ocaml/src/lib.rs
  bindings/php/src/lib.rs
  bindings/ruby/src/operator.rs
Owners: @xyjixyjixyji, @Xuanwo, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @PsiACE

refactor: Remove schema from python binding
  bindings/python/python/opendal/operator.pyi
  bindings/python/src/operator.rs
  bindings/python/src/services.rs
  dev/src/generate/python.j2
Owners: @messense, @Zheaoli, @Xuanwo

Fix build
  bindings/python/src/operator.rs
Owners: @messense, @Zheaoli

refactor: Remove scheme from python binding (#6863)
  bindings/python/python/opendal/operator.pyi
  bindings/python/src/operator.rs
  bindings/python/src/services.rs
  dev/src/generate/python.j2
Owners: @messense, @Zheaoli, @Xuanwo

refactor!: Remove the concept of scheme
  core/core/src/types/mod.rs
  core/core/src/types/scheme.rs
Owners: @Xuanwo

refactor!: Remove the concept of scheme (#6864)
  core/core/src/types/mod.rs
  core/core/src/types/scheme.rs
Owners: @Xuanwo

fix: do not use LD_LIBRARY
  bindings/python/justfile
Owners: @messense, @Zheaoli

Fix ctor on msrv
  .github/workflows/ci_core.yml
Owners: @Xuanwo

relax a bit
  core/core/Cargo.toml
Owners: @Xuanwo

refactor: Move services s3 out as a crate
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/blocking/operator.rs
  core/core/src/docs/concepts.rs
  core/core/src/layers/http_client.rs
  core/core/src/lib.rs
  core/core/src/services/mod.rs
  core/core/src/types/builder.rs
  core/core/src/types/operator/operator.rs
  core/services/s3/Cargo.toml
  core/services/s3/src/backend.rs
  core/services/s3/src/compatible_services.md
  core/services/s3/src/config.rs
  core/services/s3/src/core.rs
  core/services/s3/src/deleter.rs
  core/services/s3/src/docs.md
  core/services/s3/src/error.rs
  core/services/s3/src/lib.rs
  core/services/s3/src/lister.rs
  core/services/s3/src/mod.rs
  core/services/s3/src/writer.rs
Owners: @Xuanwo

Remove wrong features
  core/Cargo.toml
Owners: @Xuanwo

Fix build
  core/services/s3/Cargo.toml
Owners: @Xuanwo

Fix license
  core/services/s3/Cargo.toml
Owners: @Xuanwo

Fix tests
  core/edge/s3_aws_assume_role_with_web_identity/Cargo.toml
Owners: @Xuanwo

revert not needed changes
  core/Cargo.toml
  core/core/src/types/mode.rs
  core/services/s3/src/lister.rs
  core/services/s3/src/writer.rs
Owners: @Xuanwo

remove not used tests
  core/core/src/types/builder.rs
Owners: @Xuanwo

refactor: Move services s3 out as a crate (#6866)
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/blocking/operator.rs
  core/core/src/docs/concepts.rs
  core/core/src/layers/http_client.rs
  core/core/src/lib.rs
  core/core/src/services/mod.rs
  core/core/src/types/builder.rs
  core/core/src/types/mode.rs
  core/core/src/types/operator/operator.rs
  core/edge/s3_aws_assume_role_with_web_identity/Cargo.toml
  core/services/s3/Cargo.toml
  core/services/s3/src/backend.rs
  core/services/s3/src/compatible_services.md
  core/services/s3/src/config.rs
  core/services/s3/src/core.rs
  core/services/s3/src/deleter.rs
  core/services/s3/src/docs.md
  core/services/s3/src/error.rs
  core/services/s3/src/lib.rs
  core/services/s3/src/lister.rs
  core/services/s3/src/mod.rs
  core/services/s3/src/writer.rs
Owners: @Xuanwo

refactor: Split async_backtrace layer to new crate
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/layers/mod.rs
  core/layers/async-backtrace/Cargo.toml
  core/layers/async-backtrace/src/lib.rs
  core/src/lib.rs
Owners: @Xuanwo

refactor: Split async_backtrace layer to new crate (#6867)
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/layers/mod.rs
  core/layers/async-backtrace/Cargo.toml
  core/layers/async-backtrace/src/lib.rs
  core/src/lib.rs
Owners: @Xuanwo

refactor(services/moka): Move services moka out as a crate
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/moka/Cargo.toml
  core/services/moka/src/backend.rs
  core/services/moka/src/config.rs
  core/services/moka/src/core.rs
  core/services/moka/src/deleter.rs
  core/services/moka/src/docs.md
  core/services/moka/src/lib.rs
  core/services/moka/src/lister.rs
  core/services/moka/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

refactor(services/moka): Move services moka out as a crate (#6868)
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/moka/Cargo.toml
  core/services/moka/src/backend.rs
  core/services/moka/src/config.rs
  core/services/moka/src/core.rs
  core/services/moka/src/deleter.rs
  core/services/moka/src/docs.md
  core/services/moka/src/lib.rs
  core/services/moka/src/lister.rs
  core/services/moka/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

refactor(services/http): Move services http out as a crate
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/layers/immutable_index.rs
  core/core/src/services/mod.rs
  core/services/http/Cargo.toml
  core/services/http/src/backend.rs
  core/services/http/src/config.rs
  core/services/http/src/core.rs
  core/services/http/src/docs.md
  core/services/http/src/error.rs
  core/services/http/src/lib.rs
  core/src/lib.rs
Owners: @Xuanwo

fix cargo fmt
  core/core/src/services/mod.rs
  core/services/http/src/backend.rs
  core/services/http/src/config.rs
  core/services/http/src/core.rs
  core/services/http/src/error.rs
  core/services/http/src/lib.rs
Owners: @Xuanwo

fix binding_go error
  core/core/src/raw/oio/write/api.rs
Owners: @Xuanwo

merge main branch to resolve conflicts
  integrations/cloud_filter/Cargo.lock
  integrations/fuse3/Cargo.lock
Owners: @Xuanwo

refactor: Split await tree layer to new crate
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/layers/mod.rs
  core/layers/await-tree/Cargo.toml
  core/layers/await-tree/src/lib.rs
  core/src/lib.rs
Owners: @Xuanwo

fix: only update python pyi
  bindings/python/justfile
Owners: @messense, @Zheaoli

docs: Fix build for ruby docs
  bindings/ruby/Rakefile
Owners: @PsiACE

docs: Fix build for ruby docs (#6876)
  bindings/ruby/Rakefile
Owners: @PsiACE

refactor: Split await tree layer to new crate (#6875)
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/layers/mod.rs
  core/layers/await-tree/Cargo.toml
  core/layers/await-tree/src/lib.rs
  core/src/lib.rs
Owners: @Xuanwo

fix formatting using taplo
  bindings/dart/rust/Cargo.toml
  bindings/nodejs/Cargo.toml
  bindings/ruby/Cargo.toml
  core/Cargo.toml
  core/core/Cargo.toml
  core/layers/async-backtrace/Cargo.toml
  core/layers/await-tree/Cargo.toml
  core/services/azblob/Cargo.toml
  core/services/azdls/Cargo.toml
  core/services/azfile/Cargo.toml
  core/services/azure-common/Cargo.toml
  core/services/ghac/Cargo.toml
  core/services/moka/Cargo.toml
  core/services/s3/Cargo.toml
  deny.toml
  integrations/object_store/Cargo.toml
Owners: @Xuanwo, @suyanhanx, @PsiACE

fix: apply review suggestions
  .github/workflows/ci_bindings_python.yml
Owners: @Xuanwo

refactor: Split service aliyun drive to new crate
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/aliyun-drive/Cargo.toml
  core/services/aliyun-drive/src/backend.rs
  core/services/aliyun-drive/src/config.rs
  core/services/aliyun-drive/src/core.rs
  core/services/aliyun-drive/src/deleter.rs
  core/services/aliyun-drive/src/docs.md
  core/services/aliyun-drive/src/error.rs
  core/services/aliyun-drive/src/lib.rs
  core/services/aliyun-drive/src/lister.rs
  core/services/aliyun-drive/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

use workspace metadata and versions
  core/Cargo.toml
  core/benches/vs_fs/Cargo.toml
  core/benches/vs_s3/Cargo.toml
  core/core/Cargo.toml
  core/edge/file_write_on_full_disk/Cargo.toml
  core/edge/s3_aws_assume_role_with_web_identity/Cargo.toml
  core/examples/basic/Cargo.toml
  core/examples/concurrent-upload/Cargo.toml
  core/examples/multipart-upload/Cargo.toml
  core/fuzz/Cargo.toml
  core/services/azblob/Cargo.toml
  core/services/azdls/Cargo.toml
  core/services/azfile/Cargo.toml
  core/services/azure-common/Cargo.toml
  core/services/ghac/Cargo.toml
  core/services/moka/Cargo.toml
  core/services/s3/Cargo.toml
Owners: @Xuanwo

refactor: Split service aliyun drive to new crate (#6879)
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/aliyun-drive/Cargo.toml
  core/services/aliyun-drive/src/backend.rs
  core/services/aliyun-drive/src/config.rs
  core/services/aliyun-drive/src/core.rs
  core/services/aliyun-drive/src/deleter.rs
  core/services/aliyun-drive/src/docs.md
  core/services/aliyun-drive/src/error.rs
  core/services/aliyun-drive/src/lib.rs
  core/services/aliyun-drive/src/lister.rs
  core/services/aliyun-drive/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo
