Repository apache/opendal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

update links in contributing guide
  .github/workflows/ci_bindings_python.yml
  bindings/python/CONTRIBUTING.md
  bindings/python/justfile
Owners: @Xuanwo, @messense, @Zheaoli

fix remaining lints
  bindings/python/benchmark/async_origin_s3_benchmark_with_gevent.py
  bindings/python/justfile
  bindings/python/python/opendal/__init__.py
  bindings/python/ruff.toml
  bindings/python/tests/test_write.py
Owners: @messense, @Zheaoli

Update ci_bindings_python.yml
  .github/workflows/ci_bindings_python.yml
Owners: @Xuanwo

fix ci
  bindings/python/justfile
Owners: @messense, @Zheaoli

revert unnecessary changes
  bindings/python/ruff.toml
  bindings/python/tests/conftest.py
  bindings/python/tests/test_async_check.py
  bindings/python/tests/test_async_copy.py
  bindings/python/tests/test_async_delete.py
  bindings/python/tests/test_async_exists.py
  bindings/python/tests/test_async_list.py
  bindings/python/tests/test_async_pickle_types.py
  bindings/python/tests/test_async_rename.py
  bindings/python/tests/test_capability.py
  bindings/python/tests/test_exceptions.py
  bindings/python/tests/test_pickle_rw.py
  bindings/python/tests/test_read.py
  bindings/python/tests/test_sync_check.py
  bindings/python/tests/test_sync_copy.py
  bindings/python/tests/test_sync_delete.py
  bindings/python/tests/test_sync_exists.py
  bindings/python/tests/test_sync_list.py
  bindings/python/tests/test_sync_pickle_types.py
  bindings/python/tests/test_sync_rename.py
  bindings/python/tests/test_write.py
  bindings/python/upgrade.md
  bindings/python/users.md
  dev/src/generate/python.j2
Owners: @messense, @Zheaoli, @Xuanwo

remove extra recipes in justfile
  bindings/python/benchmark/async_opendal_benchmark.py
  bindings/python/benchmark/async_origin_s3_benchmark_with_gevent.py
  bindings/python/justfile
  bindings/python/ruff.toml
Owners: @messense, @Zheaoli

docs(python): add documentation for local usage (#6480)
  bindings/python/docs/index.md
Owners: @messense, @Zheaoli

refactor: Remove deprecated project virtiofs (#6682)
  .github/workflows/ci_integration_virtiofs.yml
  .github/workflows/docs.yml
  README.md
  integrations/virtiofs/.gitignore
  integrations/virtiofs/Cargo.toml
  integrations/virtiofs/DEPENDENCIES.rust.tsv
  integrations/virtiofs/README.md
  integrations/virtiofs/src/buffer.rs
  integrations/virtiofs/src/error.rs
  integrations/virtiofs/src/filesystem.rs
  integrations/virtiofs/src/filesystem_message.rs
  integrations/virtiofs/src/lib.rs
  integrations/virtiofs/src/virtiofs.rs
  integrations/virtiofs/src/virtiofs_util.rs
  website/docs/30-integrations/virtiofs.mdx
Owners: @Xuanwo

ci(nodejs): enable npm trusted publishing
  .github/workflows/release_nodejs.yml
Owners: @Xuanwo

ci(nodejs): enable npm trusted publishing (#6685)
  .github/workflows/release_nodejs.yml
Owners: @Xuanwo

chore(bindings/python): Add Justfile and format codebase (#6677)
  .github/workflows/ci_bindings_python.yml
  bindings/python/CONTRIBUTING.md
  bindings/python/Cargo.toml
  bindings/python/README.md
  bindings/python/benchmark/async_opendal_benchmark.py
  bindings/python/benchmark/async_origin_s3_benchmark_with_gevent.py
  bindings/python/justfile
  bindings/python/pyproject.toml
  bindings/python/python/opendal/__init__.py
  bindings/python/python/opendal/__init__.pyi
  bindings/python/python/opendal/layers.pyi
  bindings/python/ruff.toml
  bindings/python/tests/conftest.py
  bindings/python/tests/test_async_list.py
  bindings/python/tests/test_capability.py
  bindings/python/tests/test_exceptions.py
  bindings/python/tests/test_read.py
  bindings/python/tests/test_sync_list.py
  bindings/python/tests/test_write.py
  bindings/python/uv.lock
Owners: @Xuanwo, @messense, @Zheaoli

feat: Introduce TailCutLayer (#6680)
  core/src/layers/mod.rs
  core/src/layers/tail_cut.rs
Owners: @Xuanwo

Add stub-gen
  bindings/python/Cargo.toml
  bindings/python/justfile
  bindings/python/ruff.toml
  bindings/python/src/bin/stub_gen.rs
Owners: @messense, @Zheaoli

Stubs for exceptions and capability
  bindings/python/justfile
  bindings/python/python/opendal/__init__.pyi
  bindings/python/python/opendal/capability.pyi
  bindings/python/python/opendal/exceptions.pyi
  bindings/python/src/capability.rs
  bindings/python/src/errors.rs
  bindings/python/src/lib.rs
  bindings/python/src/utils.rs
  bindings/python/tests/test_exceptions.py
Owners: @messense, @Zheaoli

chore: remove oay: delete bin/oay; drop CI; update release/dev tooling, dependabot, docs
  .github/dependabot.yml
  .github/workflows/ci_bin_oay.yml
  .github/workflows/release_rust.yml
  README.md
  bin/oay/.gitignore
  bin/oay/Cargo.lock
  bin/oay/Cargo.toml
  bin/oay/DEPENDENCIES.md
  bin/oay/DEPENDENCIES.rust.tsv
  bin/oay/README.md
  bin/oay/oay.toml.example
  bin/oay/src/bin/oay.rs
  bin/oay/src/bin/webdav.rs
  bin/oay/src/config.rs
  bin/oay/src/lib.rs
  bin/oay/src/services/mod.rs
  bin/oay/src/services/s3/mod.rs
  bin/oay/src/services/s3/service.rs
  bin/oay/src/services/webdav/mod.rs
  bin/oay/src/services/webdav/service.rs
  dev/src/release/package.rs
  website/docs/40-apps/oay.mdx
Owners: @Xuanwo

chore: remove oay: delete bin/oay; drop CI; update release/dev tooling, dependabot, docs (#6691)
  .github/dependabot.yml
  .github/workflows/ci_bin_oay.yml
  .github/workflows/release_rust.yml
  README.md
  bin/oay/.gitignore
  bin/oay/Cargo.lock
  bin/oay/Cargo.toml
  bin/oay/DEPENDENCIES.md
  bin/oay/DEPENDENCIES.rust.tsv
  bin/oay/README.md
  bin/oay/oay.toml.example
  bin/oay/src/bin/oay.rs
  bin/oay/src/bin/webdav.rs
  bin/oay/src/config.rs
  bin/oay/src/lib.rs
  bin/oay/src/services/mod.rs
  bin/oay/src/services/s3/mod.rs
  bin/oay/src/services/s3/service.rs
  bin/oay/src/services/webdav/mod.rs
  bin/oay/src/services/webdav/service.rs
  dev/src/release/package.rs
  website/docs/40-apps/oay.mdx
Owners: @Xuanwo

run formatting
  core/src/services/gdrive/core.rs
Owners: @Xuanwo

feat(services/gdrive): Implement write returns metadata
  core/src/services/gdrive/core.rs
  core/src/services/gdrive/writer.rs
Owners: @Xuanwo

move parsing logic from writer to core
  core/src/services/gdrive/backend.rs
  core/src/services/gdrive/core.rs
  core/src/services/gdrive/writer.rs
Owners: @Xuanwo

consolidate gdrive API-specific logic into core
  core/src/services/gdrive/backend.rs
  core/src/services/gdrive/core.rs
Owners: @Xuanwo

run formatting
  core/src/services/gdrive/core.rs
Owners: @Xuanwo

update comments; declare DRIVE_FILE_FIELDS; make modified_time non-optional
  core/src/services/gdrive/backend.rs
  core/src/services/gdrive/core.rs
  core/src/services/gdrive/writer.rs
Owners: @Xuanwo

use constructor
  core/src/services/gdrive/core.rs
Owners: @Xuanwo

feat(services/gdrive): Implement write returns metadata (#6683)
  core/src/services/gdrive/backend.rs
  core/src/services/gdrive/core.rs
  core/src/services/gdrive/writer.rs
Owners: @Xuanwo

Revert "feat(services/gdrive): Implement write returns metadata (#6683)"
  core/src/services/gdrive/backend.rs
  core/src/services/gdrive/core.rs
  core/src/services/gdrive/writer.rs
Owners: @Xuanwo

Revert "feat(services/gdrive): Implement write returns metadata (#6683)" (#6699)
  core/src/services/gdrive/backend.rs
  core/src/services/gdrive/core.rs
  core/src/services/gdrive/writer.rs
Owners: @Xuanwo

chore: cleanup for moving oli/ofs and removing oay (#6689)
  .github/dependabot.yml
  .github/workflows/ci_bin_ofs.yml
  .github/workflows/ci_bin_oli.yml
  .github/workflows/release_rust.yml
  .vscode/settings.json
  README.md
  dev/src/release/package.rs
  website/docs/40-apps/oay.mdx
  website/docs/40-apps/ofs.mdx
  website/docs/40-apps/oli.mdx
Owners: @Xuanwo

chore: cleanup for moving oli/ofs and removing oay (#6689) (#6700)
  .github/dependabot.yml
  .github/workflows/ci_bin_ofs.yml
  .github/workflows/ci_bin_oli.yml
  .github/workflows/release_rust.yml
  .vscode/settings.json
  README.md
  dev/src/release/package.rs
  website/docs/40-apps/oay.mdx
  website/docs/40-apps/ofs.mdx
  website/docs/40-apps/oli.mdx
Owners: @Xuanwo

Random wait to test gdrive in CI
  core/Cargo.toml
  core/src/services/gdrive/builder.rs
  core/src/services/gdrive/core.rs
Owners: @Xuanwo

Change PathQuery to HashMap
  core/src/raw/path_cache.rs
  core/src/services/gdrive/builder.rs
Owners: @Xuanwo

Random wait to test gdrive in CI
  core/Cargo.toml
  core/src/services/gdrive/builder.rs
  core/src/services/gdrive/core.rs
Owners: @Xuanwo

feat(bindings/python): Add stubs for Exception and Capability (#6690)
  bindings/python/Cargo.toml
  bindings/python/justfile
  bindings/python/python/opendal/__init__.pyi
  bindings/python/python/opendal/capability.pyi
  bindings/python/python/opendal/exceptions.pyi
  bindings/python/ruff.toml
  bindings/python/src/bin/stub_gen.rs
  bindings/python/src/capability.rs
  bindings/python/src/errors.rs
  bindings/python/src/lib.rs
  bindings/python/src/utils.rs
  bindings/python/tests/test_exceptions.py
Owners: @messense, @Zheaoli

Stubs for Layers
  bindings/python/python/opendal/layers.pyi
  bindings/python/src/layers.rs
  bindings/python/src/lib.rs
Owners: @messense, @Zheaoli

Stubs for Metadata, Entry, and EntryMode
  bindings/python/pyrightconfig.json
  bindings/python/python/opendal/__init__.pyi
  bindings/python/python/opendal/types.pyi
  bindings/python/src/lib.rs
  bindings/python/src/metadata.rs
Owners: @messense, @Zheaoli

Add to API Reference
  bindings/python/docs/api/capability.md
  bindings/python/docs/api/exceptions.md
  bindings/python/docs/api/layers.md
  bindings/python/docs/api/types.md
  bindings/python/mkdocs.yml
Owners: @messense, @Zheaoli

ci: remove ofs behavior workflow and composite action
  .github/actions/test_behavior_bin_ofs/action.yaml
  .github/scripts/test_behavior/plan.py
  .github/scripts/test_behavior/test_plan.py
  .github/workflows/test_behavior.yml
  .github/workflows/test_behavior_bin_ofs.yml
  CLAUDE.md
Owners: @Xuanwo

feat(bindings/python): Add stubs for some more types (#6703)
  bindings/python/docs/api/capability.md
  bindings/python/docs/api/exceptions.md
  bindings/python/docs/api/layers.md
  bindings/python/docs/api/types.md
  bindings/python/mkdocs.yml
  bindings/python/pyrightconfig.json
  bindings/python/python/opendal/__init__.pyi
  bindings/python/python/opendal/layers.pyi
  bindings/python/python/opendal/types.pyi
  bindings/python/src/layers.rs
  bindings/python/src/lib.rs
  bindings/python/src/metadata.rs
Owners: @messense, @Zheaoli

ci: remove ofs behavior tests and planning (#6689) (#6704)
  .github/actions/test_behavior_bin_ofs/action.yaml
  .github/scripts/test_behavior/plan.py
  .github/scripts/test_behavior/test_plan.py
  .github/workflows/test_behavior.yml
  .github/workflows/test_behavior_bin_ofs.yml
  CLAUDE.md
Owners: @Xuanwo

ci(scripts): make PACKAGES robust when bin/ is absent (#6689)
  scripts/constants.py
Owners: @Xuanwo

RFC-6678: Simulate Layer (#6678)
  core/src/docs/rfcs/6678_simulate_layer.md
  core/src/docs/rfcs/mod.rs
Owners: @Xuanwo

.github/CODEOWNERS:

* @Xuanwo

/core @Xuanwo
/bindings/c/ @xyjixyjixyji
/bindings/haskell/ @silver-ymz
/bindings/java/ @tisonkun
/bindings/lua/ @oowl
/bindings/nodejs/ @suyanhanx
/bindings/python/ @messense @Zheaoli
/bindings/ruby/ @PsiACE
