Repository apache/opendal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

.github/CODEOWNERS:

* @Xuanwo

/core @Xuanwo
/bindings/c/ @xyjixyjixyji
/bindings/haskell/ @silver-ymz
/bindings/java/ @tisonkun
/bindings/lua/ @oowl
/bindings/nodejs/ @suyanhanx
/bindings/python/ @messense @Zheaoli
/bindings/ruby/ @PsiACE

feat(services/azdls): Implement write returns metadata
  core/src/services/azdls/core.rs
  core/src/services/azdls/writer.rs
Owners: @Xuanwo

test(core): refactor capability checks using skip_if_no_capabilities macro
  core/tests/behavior/async_copy.rs
  core/tests/behavior/async_delete.rs
  core/tests/behavior/async_list.rs
  core/tests/behavior/async_presign.rs
  core/tests/behavior/async_read.rs
  core/tests/behavior/async_rename.rs
  core/tests/behavior/async_stat.rs
  core/tests/behavior/async_write.rs
  core/tests/behavior/utils.rs
Owners: @Xuanwo

feat(services/azdls): Implement write returns metadata (#6368)
  core/src/services/azdls/core.rs
  core/src/services/azdls/writer.rs
Owners: @Xuanwo

fix: bump foyer and fix bugs in deletion
  core/Cargo.lock
  core/Cargo.toml
  core/src/layers/foyer.rs
Owners: @Xuanwo

chore: bump foyer version included in the main branch
  core/Cargo.lock
  core/Cargo.toml
Owners: @Xuanwo

RFC: foyer layer
  core/src/docs/rfcs/0000_foyer_integration.md
Owners: @Xuanwo

chore: fix typos
  core/src/docs/rfcs/0000_foyer_integration.md
Owners: @Xuanwo

Update core/src/docs/rfcs/0000_foyer_integration.md
  core/src/docs/rfcs/0000_foyer_integration.md
Owners: @Xuanwo

RFC-6370: foyer layer (#6370)
  core/src/docs/rfcs/0000_foyer_integration.md
Owners: @Xuanwo

doc: fix typos
  core/src/docs/rfcs/6370_foyer_integration.md
  core/src/layers/foyer.rs
Owners: @Xuanwo

chore: update DEPENDENCIES and fater dependencies.py generate
  bin/oay/DEPENDENCIES.rust.tsv
  bin/ofs/DEPENDENCIES.rust.tsv
  bin/oli/DEPENDENCIES.rust.tsv
  bindings/c/DEPENDENCIES.rust.tsv
  bindings/cpp/DEPENDENCIES.rust.tsv
  bindings/dotnet/DEPENDENCIES.rust.tsv
  bindings/haskell/DEPENDENCIES.rust.tsv
  bindings/java/DEPENDENCIES.rust.tsv
  bindings/lua/DEPENDENCIES.rust.tsv
  bindings/nodejs/DEPENDENCIES.rust.tsv
  bindings/ocaml/DEPENDENCIES.rust.tsv
  bindings/php/DEPENDENCIES.rust.tsv
  bindings/python/DEPENDENCIES.rust.tsv
  bindings/ruby/DEPENDENCIES.rust.tsv
  integrations/cloud_filter/DEPENDENCIES.rust.tsv
  integrations/dav-server/DEPENDENCIES.rust.tsv
  integrations/fuse3/DEPENDENCIES.rust.tsv
  integrations/object_store/DEPENDENCIES.rust.tsv
  integrations/parquet/DEPENDENCIES.rust.tsv
  integrations/unftp-sbe/DEPENDENCIES.rust.tsv
  integrations/virtiofs/DEPENDENCIES.rust.tsv
  scripts/dependencies.py
Owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

chore: update DEPENDENCIES and fater dependencies.py generate (#6374)
  bin/oay/DEPENDENCIES.rust.tsv
  bin/ofs/DEPENDENCIES.rust.tsv
  bin/oli/DEPENDENCIES.rust.tsv
  bindings/c/DEPENDENCIES.rust.tsv
  bindings/cpp/DEPENDENCIES.rust.tsv
  bindings/dotnet/DEPENDENCIES.rust.tsv
  bindings/haskell/DEPENDENCIES.rust.tsv
  bindings/java/DEPENDENCIES.rust.tsv
  bindings/lua/DEPENDENCIES.rust.tsv
  bindings/nodejs/DEPENDENCIES.rust.tsv
  bindings/ocaml/DEPENDENCIES.rust.tsv
  bindings/php/DEPENDENCIES.rust.tsv
  bindings/python/DEPENDENCIES.rust.tsv
  bindings/ruby/DEPENDENCIES.rust.tsv
  integrations/cloud_filter/DEPENDENCIES.rust.tsv
  integrations/dav-server/DEPENDENCIES.rust.tsv
  integrations/fuse3/DEPENDENCIES.rust.tsv
  integrations/object_store/DEPENDENCIES.rust.tsv
  integrations/parquet/DEPENDENCIES.rust.tsv
  integrations/unftp-sbe/DEPENDENCIES.rust.tsv
  integrations/virtiofs/DEPENDENCIES.rust.tsv
  scripts/dependencies.py
Owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

Fix
  bindings/nodejs/src/lib.rs
Owners: @suyanhanx

fix: bump foyer version, expose error from foyer
  core/Cargo.lock
  core/Cargo.toml
  core/src/layers/foyer.rs
Owners: @Xuanwo

chore: make clippy happer
  core/src/layers/foyer.rs
Owners: @Xuanwo

feat(bindings/cpp): remove Boost dependency
  bindings/cpp/CMakeLists.txt
  bindings/cpp/CONTRIBUTING.md
  bindings/cpp/include/async_defs.hpp
  bindings/cpp/include/data_structure.hpp
  bindings/cpp/include/opendal.hpp
  bindings/cpp/include/opendal_async.hpp
  bindings/cpp/src/operator.cpp
Owners: @Xuanwo

fix: list page
  core/src/services/cloudflare_kv/backend.rs
  core/src/services/cloudflare_kv/lister.rs
Owners: @Xuanwo

fix: get sublist only
  core/src/services/cloudflare_kv/lister.rs
Owners: @Xuanwo

fix: add recursive
  core/src/services/cloudflare_kv/backend.rs
  core/src/services/cloudflare_kv/lister.rs
Owners: @Xuanwo

fix(bindings/go): ffi calls use after free
  bindings/go/opendal.go
Owners: @Xuanwo

to callback
  bindings/c/include/opendal.h
  bindings/c/src/async_operator.rs
  bindings/c/src/async_types.rs
  bindings/c/src/lib.rs
  bindings/c/tests/async_stat_test.cpp
Owners: @xyjixyjixyji

add pthread example
  bindings/c/CMakeLists.txt
  bindings/c/examples/async_stat.c
  bindings/c/src/async_operator.rs
Owners: @xyjixyjixyji

license
  bindings/c/tests/async_stat_test.cpp
Owners: @xyjixyjixyji

rm in lib
  bindings/c/src/lib.rs
Owners: @xyjixyjixyji

newline
  bindings/c/examples/async_stat.c
Owners: @xyjixyjixyji

add example
  bindings/c/README.md
Owners: @xyjixyjixyji

fmt
  bindings/c/src/async_operator.rs
Owners: @xyjixyjixyji

basic async stat support for c
  bindings/c/include/opendal.h
  bindings/c/src/async_operator.rs
  bindings/c/tests/async_stat_test.cpp
Owners: @xyjixyjixyji

async init
  bindings/c/Cargo.toml
  bindings/c/include/opendal.h
  bindings/c/src/async_operator.rs
  bindings/c/src/async_types.rs
  bindings/c/src/lib.rs
  bindings/c/src/operator.rs
  bindings/c/tests/async_stat_test.cpp
Owners: @xyjixyjixyji

rm types
  bindings/c/src/async_types.rs
Owners: @xyjixyjixyji

fix
  bindings/cpp/src/lib.rs
  bindings/cpp/src/operator.cpp
Owners: @Xuanwo

try fix
  .github/scripts/test_behavior/plan.py
  bindings/cpp/test_runner.sh
  bindings/cpp/tests/behavior/delete_test.cpp
  bindings/cpp/tests/behavior/list_test.cpp
  bindings/cpp/tests/behavior/read_test.cpp
  bindings/cpp/tests/behavior/write_test.cpp
  bindings/cpp/tests/benchmark/benchmark_test.cpp
  bindings/cpp/tests/framework/test_framework.hpp
Owners: @Xuanwo

add missing header
  bindings/cpp/tests/behavior/read_test.cpp
  bindings/cpp/tests/behavior/write_test.cpp
Owners: @Xuanwo

try fix
  bindings/cpp/src/operator.cpp
  bindings/cpp/tests/behavior/list_test.cpp
  bindings/cpp/tests/framework/test_framework.hpp
Owners: @Xuanwo

doxygen
  .github/workflows/test_behavior_binding_cpp.yml
Owners: @Xuanwo

add missing header
  bindings/cpp/tests/behavior/delete_test.cpp
  bindings/cpp/tests/behavior/list_test.cpp
  bindings/cpp/tests/benchmark/benchmark_test.cpp
Owners: @Xuanwo

enable async in ci
  .github/actions/test_behavior_binding_cpp/action.yaml
Owners: @Xuanwo

less benchmark
  bindings/cpp/tests/benchmark/benchmark_test.cpp
Owners: @Xuanwo

try cpp framework
  .github/actions/test_behavior_binding_cpp/action.yaml
  .github/scripts/test_behavior/plan.py
  .github/workflows/test_behavior.yml
  .github/workflows/test_behavior_binding_cpp.yml
  bindings/cpp/CMakeLists.txt
  bindings/cpp/include/opendal.hpp
  bindings/cpp/src/lib.rs
  bindings/cpp/src/operator.cpp
  bindings/cpp/test_runner.sh
  bindings/cpp/tests/FRAMEWORK_SUMMARY.md
  bindings/cpp/tests/README.md
  bindings/cpp/tests/basic_test.cpp
  bindings/cpp/tests/behavior/async_list_test.cpp
  bindings/cpp/tests/behavior/async_read_test.cpp
  bindings/cpp/tests/behavior/async_write_test.cpp
  bindings/cpp/tests/behavior/delete_test.cpp
  bindings/cpp/tests/behavior/list_test.cpp
  bindings/cpp/tests/behavior/read_test.cpp
  bindings/cpp/tests/behavior/write_test.cpp
  bindings/cpp/tests/benchmark/benchmark_test.cpp
  bindings/cpp/tests/framework/test_framework.hpp
  bindings/cpp/tests/test_main.cpp
Owners: @Xuanwo

rm summary
  bindings/cpp/tests/FRAMEWORK_SUMMARY.md
Owners: @Xuanwo
