Repository apache/opendal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

update stub-gen
  bindings/python/Cargo.toml
  bindings/python/python/opendal/operator.pyi
  bindings/python/src/services.rs
  dev/src/generate/python.j2
Owners: @messense, @Zheaoli, @Xuanwo

Enable SFTP service only on non-Windows targets
  bindings/python/Cargo.toml
Owners: @messense, @Zheaoli

chore(types): remove deprecated Operator::from_map and Operator::via_map
  core/src/types/operator/builder.rs
  integrations/unftp-sbe/src/lib.rs
Owners: @Xuanwo

chore(types)!: remove deprecated `Operator::from_map` and `Operator::via_map` (#6775)
  core/src/types/operator/builder.rs
  integrations/unftp-sbe/src/lib.rs
Owners: @Xuanwo

Conditionally include sftp feature
  bindings/python/Cargo.toml
Owners: @messense, @Zheaoli

refactor(bindings): remove Scheme enum from cpp bindings
  bindings/cpp/src/async.rs
  bindings/cpp/src/lib.rs
Owners: @Xuanwo

refactor(bindings): remove Scheme enum from lua binding
  bindings/lua/src/lib.rs
Owners: @oowl

refactor(bindings): remove Scheme enum from ruby binding
  bindings/ruby/src/operator.rs
Owners: @PsiACE

refactor(bindings): remove Scheme enum from dart binding
  bindings/dart/rust/src/api/opendal_api.rs
Owners: @Xuanwo

refactor(bindings): remove Scheme enum from dotnet binding
  bindings/dotnet/src/lib.rs
Owners: @Xuanwo

refactor(bindings): remove Scheme enum from ocaml binding
  bindings/ocaml/src/lib.rs
Owners: @Xuanwo

refactor(bindings): remove Scheme enum from haskell binding
  bindings/haskell/src/lib.rs
Owners: @silver-ymz

refactor(bindings): remove Scheme enum from php binding
  bindings/php/src/lib.rs
Owners: @Xuanwo

Update bindings/python/Cargo.toml
  bindings/python/Cargo.toml
Owners: @messense, @Zheaoli

fix:(bindings/python) Gate service-sftp on windows targets (#6777)
  bindings/python/Cargo.toml
Owners: @messense, @Zheaoli

refactor: remove redundant param check in binding
  bindings/nodejs/generated.d.ts
  bindings/nodejs/src/layer.rs
Owners: @suyanhanx

refactor(bindings): remove Scheme enum from nodejs binding
  .github/scripts/test_behavior/plan.py
  bindings/nodejs/src/lib.rs
  bindings/nodejs/tests/utils.mjs
Owners: @Xuanwo, @suyanhanx

refactor(bindings): remove Scheme enum from c binding
  bindings/c/CMakeLists.txt
  bindings/c/src/operator.rs
  bindings/c/tests/Makefile
  bindings/c/tests/example_test.cpp
  bindings/c/tests/opendal_test_runner
  bindings/c/tests/test_framework.cpp
  bindings/c/tests/test_runner.cpp
  bindings/c/tests/test_suites_basic.cpp
  bindings/c/tests/test_suites_list.cpp
  bindings/c/tests/test_suites_reader_writer.cpp
Owners: @xyjixyjixyji

fix go binding
  bindings/go/operator.go
  bindings/go/tests/behavior_tests/opendal_test.go
Owners: @Xuanwo

revert some changes
  .github/scripts/test_behavior/plan.py
  bindings/c/tests/opendal_test_runner
Owners: @Xuanwo, @xyjixyjixyji

chore(services/s3)!: remove deprecated `S3::security_token`
  core/src/services/s3/backend.rs
Owners: @Xuanwo

docs: Make it clear that bindings have different version with rust core.
  README.md
  bindings/README.md
Owners: @Xuanwo

chore: remove deprecated list_with_version
  core/src/raw/ops.rs
  core/src/types/capability.rs
Owners: @Xuanwo

update hdfs-native
  core/Cargo.toml
Owners: @Xuanwo

Update Cargo.lock
  core/Cargo.lock
Owners: @Xuanwo

chore(types)!: remove deprecated `list_with_version` capability (#6781)
  core/src/raw/ops.rs
  core/src/types/capability.rs
Owners: @Xuanwo

chore(services/s3)!: remove deprecated `S3::security_token` (#6779)
  core/src/services/s3/backend.rs
Owners: @Xuanwo

refactor(bindings): remove Scheme enum from java binding
  bindings/java/Cargo.toml
  bindings/java/src/async_operator.rs
  bindings/java/src/test/java/org/apache/opendal/test/behavior/BehaviorExtension.java
  bindings/java/src/utility.rs
Owners: @tisonkun

feat(binding/nodejs): add TimeoutLayer, LoggingLayer and ThrottleLayer in nodejs binding (#6772)
  bindings/nodejs/Cargo.toml
  bindings/nodejs/README.md
  bindings/nodejs/generated.d.ts
  bindings/nodejs/generated.js
  bindings/nodejs/src/layer.rs
  bindings/nodejs/tests/suites/layer.suite.mjs
Owners: @suyanhanx

add notice to every binding's README
  bindings/c/README.md
  bindings/cpp/README.md
  bindings/d/README.md
  bindings/dart/README.md
  bindings/dotnet/README.md
  bindings/go/README.md
  bindings/haskell/README.md
  bindings/java/README.md
  bindings/lua/README.md
  bindings/nodejs/README.md
  bindings/ocaml/README.md
  bindings/php/README.md
  bindings/python/README.md
  bindings/ruby/README.md
  bindings/swift/README.md
  bindings/zig/README.md
Owners: @xyjixyjixyji, @Xuanwo, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

No need to copy the whole tree
  website/community/release/reference/setup_gpg.md
Owners: @Xuanwo

No need to copy the whole tree (#6783)
  website/community/release/reference/setup_gpg.md
Owners: @Xuanwo

chore(services/fs): use NotADirectory directly
  core/src/services/fs/core.rs
Owners: @Xuanwo

chore(services/fs): use NotADirectory directly (#6786)
  core/src/services/fs/core.rs
Owners: @Xuanwo

docs: Make it clear that bindings have different version with rust core. (#6780)
  README.md
  bindings/README.md
  bindings/c/README.md
  bindings/cpp/README.md
  bindings/d/README.md
  bindings/dart/README.md
  bindings/dotnet/README.md
  bindings/go/README.md
  bindings/haskell/README.md
  bindings/java/README.md
  bindings/lua/README.md
  bindings/nodejs/README.md
  bindings/ocaml/README.md
  bindings/php/README.md
  bindings/python/README.md
  bindings/ruby/README.md
  bindings/swift/README.md
  bindings/zig/README.md
Owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

fix(bindings/python): Update python/stubgen & core/hdfs-native (#6774)
  bindings/python/Cargo.toml
  bindings/python/python/opendal/operator.pyi
  bindings/python/src/services.rs
  core/Cargo.lock
  core/Cargo.toml
  dev/src/generate/python.j2
Owners: @messense, @Zheaoli, @Xuanwo

Integer underflow risk in reader fetch partition_point
  core/src/types/read/reader.rs
Owners: @Xuanwo

fix error
  core/src/types/read/reader.rs
Owners: @Xuanwo

Update changelogs
  CHANGELOG.md
  bindings/c/DEPENDENCIES.rust.tsv
  bindings/cpp/DEPENDENCIES.rust.tsv
  bindings/dotnet/DEPENDENCIES.rust.tsv
  bindings/haskell/DEPENDENCIES.rust.tsv
  bindings/java/DEPENDENCIES.rust.tsv
  bindings/lua/DEPENDENCIES.rust.tsv
  bindings/nodejs/DEPENDENCIES.rust.tsv
  bindings/ocaml/DEPENDENCIES.rust.tsv
  bindings/php/DEPENDENCIES.rust.tsv
  bindings/python/DEPENDENCIES.rust.tsv
  bindings/ruby/DEPENDENCIES.rust.tsv
  core/Cargo.lock
  core/DEPENDENCIES.rust.tsv
  integrations/dav-server/DEPENDENCIES.rust.tsv
  integrations/object_store/DEPENDENCIES.rust.tsv
  integrations/parquet/DEPENDENCIES.rust.tsv
  integrations/unftp-sbe/DEPENDENCIES.rust.tsv
Owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

update upgrade
  bindings/python/upgrade.md
  core/src/docs/upgrade.md
  core/upgrade.md
Owners: @messense, @Zheaoli, @Xuanwo

.github/CODEOWNERS:

* @Xuanwo

/core @Xuanwo
/bindings/c/ @xyjixyjixyji
/bindings/haskell/ @silver-ymz
/bindings/java/ @tisonkun
/bindings/lua/ @oowl
/bindings/nodejs/ @suyanhanx
/bindings/python/ @messense @Zheaoli
/bindings/ruby/ @PsiACE
