Repository apache/opendal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

support oli edit
  bin/oli/Cargo.toml
  bin/oli/src/commands/edit.rs
  bin/oli/src/commands/mod.rs
  bin/oli/tests/integration/main.rs
Owners: @Xuanwo

fix
  bin/oli/tests/integration/edit.rs
Owners: @Xuanwo

add test
  bin/oli/src/commands/edit.rs
  bin/oli/tests/integration/edit.rs
Owners: @Xuanwo

fmt
  bin/oli/tests/integration/edit.rs
Owners: @Xuanwo

fix test
  bin/oli/tests/integration/edit.rs
Owners: @Xuanwo

fix
  bin/oli/tests/integration/edit.rs
Owners: @Xuanwo

fmt
  bindings/ocaml/lib/operator.ml
  bindings/ocaml/lib/operator.mli
  bindings/ocaml/test/test.ml
Owners: @Xuanwo

fix test
  bindings/ocaml/lib/opendal.ml
  bindings/ocaml/lib/operator.ml
  bindings/ocaml/lib/operator.mli
  bindings/ocaml/test/test.ml
Owners: @Xuanwo

clippy
  bindings/ocaml/src/operator/_type.rs
Owners: @Xuanwo

add more api
  bindings/ocaml/lib/operator.ml
  bindings/ocaml/lib/operator.mli
  bindings/ocaml/src/operator/_type.rs
  bindings/ocaml/src/operator/capability.rs
  bindings/ocaml/src/operator/lister.rs
  bindings/ocaml/src/operator/mod.rs
  bindings/ocaml/src/operator/operator_info.rs
  bindings/ocaml/src/operator/writer.rs
  bindings/ocaml/test/test.ml
Owners: @Xuanwo

try fix
  .github/actions/setup-ocaml/action.yaml
  .github/workflows/ci_bindings_ocaml.yml
  bindings/ocaml/src/operator/_type.rs
  bindings/ocaml/src/operator/writer.rs
Owners: @Xuanwo

try fix
  bindings/ocaml/lib/operator.ml
  bindings/ocaml/lib/operator.mli
  bindings/ocaml/src/operator.ml
  bindings/ocaml/src/operator.mli
  bindings/ocaml/src/operator/writer.rs
Owners: @Xuanwo

prepare for pub
  .github/workflows/release_ocaml.yml
  bindings/ocaml/CHANGES.md
  bindings/ocaml/dune-project
  bindings/ocaml/opendal.opam
  bindings/ocaml/release.sh
Owners: @Xuanwo

chore: update crates-llms-txt
  website/package.json
  website/pnpm-lock.yaml
Owners: @Xuanwo

chore: update crates-llms-txt
  website/package.json
  website/pnpm-lock.yaml
Owners: @Xuanwo

add scaffold for impl Access
  core/src/services/object_store/backend.rs
  core/src/types/scheme.rs
Owners: @Xuanwo

add parse_error
  core/src/services/object_store/backend.rs
  core/src/services/object_store/error.rs
  core/src/services/object_store/mod.rs
Owners: @Xuanwo

feat(website): Auto-generate llms.txt and llms-full.txt (#6247)
  website/docusaurus.config.js
  website/package.json
  website/pnpm-lock.yaml
Owners: @Xuanwo

add read()
  core/src/services/object_store/backend.rs
Owners: @Xuanwo

oli: support dropbox (#6265)
  bin/oli/Cargo.toml
Owners: @Xuanwo

add reader
  core/src/services/object_store/backend.rs
Owners: @Xuanwo

factor out reader.rs
  core/src/services/object_store/backend.rs
  core/src/services/object_store/mod.rs
  core/src/services/object_store/reader.rs
Owners: @Xuanwo

add writer
  core/src/services/object_store/backend.rs
  core/src/services/object_store/mod.rs
  core/src/services/object_store/reader.rs
  core/src/services/object_store/writer.rs
Owners: @Xuanwo

refactor(services/moka): change sync::Cache to future::Cache
  core/src/services/moka/backend.rs
  core/src/services/moka/config.rs
  core/src/services/moka/docs.md
Owners: @Xuanwo

refactor(services/moka)!: replace `sync::Cache` with `future::Cache` (#6270)
  core/src/services/moka/backend.rs
  core/src/services/moka/config.rs
  core/src/services/moka/docs.md
Owners: @Xuanwo

Expose presign_xxx_options API
  core/src/services/s3/backend.rs
  core/src/types/operator/operator.rs
  core/src/types/operator/operator_futures.rs
  core/tests/behavior/async_presign.rs
Owners: @Xuanwo

Reset lister.rs
  core/src/services/fs/lister.rs
Owners: @Xuanwo

docs(nodejs): add nextjs usage
  bindings/nodejs/README.md
Owners: @suyanhanx

fix(nodejs): esmodule and commonjs support (#6266)
  bindings/nodejs/.prettierignore
  bindings/nodejs/README.md
  bindings/nodejs/index.cjs
  bindings/nodejs/index.mjs
  bindings/nodejs/package.json
  bindings/nodejs/scripts/header.mjs
  bindings/nodejs/tests/suites/index.mjs
  bindings/nodejs/tests/suites/sync.suite.mjs
  bindings/nodejs/theme/package.json
Owners: @suyanhanx

remove presign option tests
  core/tests/behavior/async_presign.rs
Owners: @Xuanwo

remove options change to s3
  core/src/services/s3/backend.rs
Owners: @Xuanwo

feat(bindings/python): Enhance Stat, Lister, Metadata & Entry (#6232)
  bindings/python/python/opendal/__init__.pyi
  bindings/python/python/opendal/exceptions.pyi
  bindings/python/src/lib.rs
  bindings/python/src/metadata.rs
  bindings/python/src/operator.rs
  bindings/python/src/options.rs
  bindings/python/tests/test_async_pickle_types.py
  bindings/python/tests/test_pickle_rw.py
  bindings/python/tests/test_sync_pickle_types.py
  bindings/python/tests/test_write.py
Owners: @messense, @Zheaoli

fix clippy
  bindings/haskell/haskell-src/OpenDAL.hs
  bindings/haskell/haskell-src/OpenDAL/FFI.hs
  bindings/haskell/src/lib.rs
Owners: @silver-ymz

Implement WriterOption for flexible file writing in OpenDAL
  bindings/haskell/haskell-src/OpenDAL.hs
  bindings/haskell/test/BasicTest.hs
  bindings/haskell/test/PerformanceTest.hs
  bindings/haskell/test/WriterTest.hs
Owners: @silver-ymz

fix unsupported op
  bindings/haskell/test/BasicTest.hs
  bindings/haskell/test/ErrorTest.hs
Owners: @silver-ymz

add more api
  bindings/haskell/examples/Basic.hs
  bindings/haskell/haskell-src/OpenDAL.hs
  bindings/haskell/haskell-src/OpenDAL/FFI.hs
  bindings/haskell/opendal.cabal
  bindings/haskell/src/lib.rs
  bindings/haskell/test/BasicTest.hs
  bindings/haskell/test/ErrorTest.hs
  bindings/haskell/test/PerformanceTest.hs
  bindings/haskell/test/Spec.hs
  bindings/haskell/test/WriterTest.hs
Owners: @silver-ymz

try fix
  bindings/haskell/test/ErrorTest.hs
  bindings/haskell/test/PerformanceTest.hs
  bindings/haskell/test/WriterTest.hs
Owners: @silver-ymz

rm example
  bindings/haskell/examples/Basic.hs
  bindings/haskell/opendal.cabal
Owners: @silver-ymz

fix test
  bindings/haskell/test/PerformanceTest.hs
Owners: @silver-ymz

try fix putStrLn
  bindings/haskell/examples/Basic.hs
Owners: @silver-ymz

.github/CODEOWNERS:

* @Xuanwo

/core @Xuanwo
/bindings/c/ @xyjixyjixyji
/bindings/haskell/ @silver-ymz
/bindings/java/ @tisonkun
/bindings/lua/ @oowl
/bindings/nodejs/ @suyanhanx
/bindings/python/ @messense @Zheaoli
/bindings/ruby/ @PsiACE
