Repository apache/opendal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

.github/CODEOWNERS:

* @Xuanwo

/core @Xuanwo
/bindings/c/ @xyjixyjixyji
/bindings/haskell/ @silver-ymz
/bindings/java/ @tisonkun
/bindings/lua/ @oowl
/bindings/nodejs/ @suyanhanx
/bindings/python/ @messense @Zheaoli
/bindings/ruby/ @PsiACE

Bump to opendal 0.53.3 Round 2 (#6207)
  CHANGELOG.md
  bin/oay/Cargo.lock
  bin/oay/DEPENDENCIES.rust.tsv
  bin/ofs/Cargo.lock
  bin/ofs/DEPENDENCIES.rust.tsv
  bin/oli/Cargo.lock
  bin/oli/DEPENDENCIES.rust.tsv
  bindings/c/DEPENDENCIES.rust.tsv
  bindings/cpp/DEPENDENCIES.rust.tsv
  bindings/dotnet/DEPENDENCIES.rust.tsv
  bindings/haskell/DEPENDENCIES.rust.tsv
  bindings/java/DEPENDENCIES.rust.tsv
  bindings/lua/DEPENDENCIES.rust.tsv
  bindings/nodejs/DEPENDENCIES.rust.tsv
  bindings/ocaml/DEPENDENCIES.rust.tsv
  bindings/php/DEPENDENCIES.rust.tsv
  bindings/python/DEPENDENCIES.rust.tsv
  bindings/ruby/DEPENDENCIES.rust.tsv
  core/Cargo.lock
  core/DEPENDENCIES.rust.tsv
  integrations/cloud_filter/DEPENDENCIES.rust.tsv
  integrations/dav-server/DEPENDENCIES.rust.tsv
  integrations/fuse3/DEPENDENCIES.rust.tsv
  integrations/object_store/DEPENDENCIES.rust.tsv
  integrations/parquet/DEPENDENCIES.rust.tsv
  integrations/unftp-sbe/DEPENDENCIES.rust.tsv
  integrations/virtiofs/DEPENDENCIES.rust.tsv
Owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

chore: add deepwiki badge into readme to enable auto-refresh (#6200)
  README.md
Owners: @Xuanwo

refactor(core/types)!: fix `with_user_metadata` signature (#5960)
  core/src/services/azblob/backend.rs
  core/src/services/cos/backend.rs
  core/src/services/gcs/core.rs
  core/src/services/obs/backend.rs
  core/src/services/oss/core.rs
  core/src/services/s3/backend.rs
  core/src/services/swift/backend.rs
  core/src/types/metadata.rs
Owners: @Xuanwo

fix id
  core/src/docs/rfcs/1251_glob_support.md
Owners: @Xuanwo

init rfc
  core/src/docs/rfcs/1251_glob_support.md
Owners: @Xuanwo

rm some problems
  core/src/docs/rfcs/6209_glob_support.md
Owners: @Xuanwo

update via review
  core/src/docs/rfcs/6209_glob_support.md
Owners: @Xuanwo

Add AzdlConfig::try_from_connection_string
  core/src/services/azdls/config.rs
  core/src/services/azdls/endpoint.rs
  core/src/services/azdls/mod.rs
Owners: @Xuanwo

Reuse DfsEndpoint in backend code
  core/src/services/azdls/backend.rs
  core/src/services/azdls/endpoint.rs
Owners: @Xuanwo

Ignore clippy warning
  core/src/services/azdls/config.rs
  core/src/services/azdls/endpoint.rs
Owners: @Xuanwo

Fix CI warnings
  core/src/services/azdls/config.rs
  core/src/services/azdls/endpoint.rs
Owners: @Xuanwo

update rfc
  core/src/docs/rfcs/6209_glob_support.md
Owners: @Xuanwo

fix struct name
  core/src/docs/rfcs/6209_glob_support.md
Owners: @Xuanwo

Save work
  core/src/blocking/delete.rs
  core/src/blocking/list.rs
  core/src/blocking/mod.rs
  core/src/blocking/operator.rs
  core/src/blocking/operator_functions.rs
  core/src/blocking/read/blocking_reader.rs
  core/src/blocking/read/buffer_iterator.rs
  core/src/blocking/read/std_reader.rs
  core/src/blocking/write/blocking_writer.rs
  core/src/blocking/write/std_writer.rs
  core/src/docs/concepts.rs
  core/src/docs/rfcs/1477_remove_object_concept.md
  core/src/docs/rfcs/6189_remove_native_blocking.md
  core/src/layers/complete.rs
  core/src/layers/throttle.rs
  core/src/lib.rs
  core/src/raw/adapters/kv/backend.rs
  core/src/raw/oio/list/flat_list.rs
  core/src/raw/tests/read.rs
  core/src/raw/tests/utils.rs
  core/src/services/fs/backend.rs
  core/src/services/fs/core.rs
  core/src/services/fs/reader.rs
  core/src/services/hdfs/reader.rs
  core/src/services/hdfs/writer.rs
  core/src/services/memory/backend.rs
  core/src/services/persy/backend.rs
  core/src/services/redb/backend.rs
  core/src/services/rocksdb/backend.rs
  core/src/services/sled/backend.rs
  core/src/services/tikv/backend.rs
  core/src/types/context/read.rs
  core/src/types/delete/mod.rs
  core/src/types/list.rs
  core/src/types/mod.rs
  core/src/types/operator/mod.rs
  core/src/types/operator/operator.rs
  core/src/types/operator/operator_futures.rs
  core/tests/behavior/blocking_write.rs
Owners: @Xuanwo

RFC: Options API
  core/src/docs/rfcs/0000_options_api.md
Owners: @Xuanwo

Assign number
  core/src/docs/rfcs/6213_options_api.md
  core/src/docs/rfcs/mod.rs
Owners: @Xuanwo

add mod
  core/src/docs/rfcs/mod.rs
Owners: @Xuanwo

test: add tests for query_pairs
  core/src/raw/http_util/uri.rs
Owners: @Xuanwo

feat: address comments & todos
  core/src/types/builder.rs
  core/src/types/mod.rs
  core/src/types/operator/builder.rs
  core/src/types/operator/mod.rs
  core/src/types/operator/registry.rs
Owners: @Xuanwo

feat: fast committed
  core/src/types/mod.rs
  core/src/types/operator/builder.rs
  core/src/types/operator/mod.rs
  core/src/types/operator/registry.rs
Owners: @Xuanwo

feat: derive default
  core/src/types/operator/registry.rs
Owners: @Xuanwo

feat: simplify operator from config
  core/src/types/builder.rs
Owners: @Xuanwo

feat: fast committed
  core/src/raw/http_util/uri.rs
Owners: @Xuanwo

feat: fast committed
  core/src/raw/http_util/uri.rs
Owners: @Xuanwo

RFC-6213: Options API (#6213)
  core/src/docs/rfcs/6213_options_api.md
  core/src/docs/rfcs/mod.rs
Owners: @Xuanwo

feat(core): Expose xxx_options API
  core/src/raw/ops.rs
  core/src/types/mod.rs
  core/src/types/operator/operator.rs
  core/src/types/operator/operator_futures.rs
  core/src/types/options.rs
Owners: @Xuanwo

feat(core): Expose xxx_options API (#6215)
  core/src/raw/ops.rs
  core/src/types/mod.rs
  core/src/types/operator/operator.rs
  core/src/types/operator/operator_futures.rs
  core/src/types/options.rs
Owners: @Xuanwo

Save work
  core/Cargo.lock
  core/benches/vs_fs/Cargo.toml
  core/benches/vs_fs/src/main.rs
  core/src/blocking/list.rs
  core/src/blocking/mod.rs
  core/src/blocking/operator.rs
  core/src/blocking/operator_functions.rs
  core/src/blocking/read/blocking_reader.rs
  core/src/blocking/read/buffer_iterator.rs
  core/src/blocking/read/std_bytes_iterator.rs
  core/src/blocking/read/std_reader.rs
  core/src/blocking/write/std_writer.rs
  core/src/raw/ops.rs
  core/src/types/operator/operator.rs
  core/src/types/operator/operator_futures.rs
  core/src/types/options.rs
  core/tests/behavior/blocking_copy.rs
  core/tests/behavior/blocking_create_dir.rs
  core/tests/behavior/blocking_delete.rs
  core/tests/behavior/blocking_list.rs
  core/tests/behavior/blocking_read.rs
  core/tests/behavior/blocking_rename.rs
  core/tests/behavior/blocking_stat.rs
  core/tests/behavior/blocking_write.rs
  core/tests/behavior/main.rs
  core/tests/behavior/utils.rs
Owners: @Xuanwo

Fix build
  core/Cargo.toml
  core/src/lib.rs
Owners: @Xuanwo

Rename
  core/src/blocking/delete.rs
  core/src/blocking/list.rs
  core/src/blocking/operator.rs
  core/src/blocking/read/mod.rs
  core/src/blocking/read/reader.rs
  core/src/blocking/write/mod.rs
  core/src/blocking/write/writer.rs
Owners: @Xuanwo

Fix build for bindings c
  bindings/c/Cargo.toml
  bindings/c/include/opendal.h
  bindings/c/src/lister.rs
  bindings/c/src/operator.rs
  bindings/c/src/operator_info.rs
  bindings/c/src/reader.rs
  bindings/c/src/writer.rs
  bindings/c/tests/bdd.cpp
  bindings/c/tests/reader.cpp
Owners: @xyjixyjixyji

Fix build for cpp
  bindings/cpp/Cargo.toml
  bindings/cpp/src/async.rs
  bindings/cpp/src/lib.rs
  bindings/cpp/src/lister.rs
  bindings/cpp/src/reader.rs
Owners: @Xuanwo

Fix java build
  bindings/java/Cargo.toml
  bindings/java/src/async_operator.rs
  bindings/java/src/lib.rs
  bindings/java/src/main/java/org/apache/opendal/AsyncOperator.java
  bindings/java/src/operator.rs
  bindings/java/src/operator_input_stream.rs
  bindings/java/src/operator_output_stream.rs
  bindings/java/src/test/java/org/apache/opendal/test/OperatorDuplicateTest.java
  bindings/java/src/test/java/org/apache/opendal/test/OperatorInfoTest.java
Owners: @tisonkun

Fix python
  bindings/python/Cargo.toml
  bindings/python/python/opendal/__init__.pyi
  bindings/python/src/capability.rs
  bindings/python/src/file.rs
  bindings/python/src/lister.rs
  bindings/python/src/operator.rs
  bindings/python/src/options.rs
Owners: @messense, @Zheaoli

Fix lua support
  bindings/lua/Cargo.toml
  bindings/lua/src/lib.rs
Owners: @oowl

Fix build for nodejs
  bindings/nodejs/Cargo.toml
  bindings/nodejs/src/capability.rs
  bindings/nodejs/src/lib.rs
Owners: @suyanhanx

Fix build for ruby
  bindings/ruby/Cargo.toml
  bindings/ruby/src/capability.rs
  bindings/ruby/src/io.rs
  bindings/ruby/src/lib.rs
  bindings/ruby/src/lister.rs
  bindings/ruby/src/middlewares.rs
  bindings/ruby/src/operator.rs
Owners: @PsiACE

Format code
  bin/oli/Cargo.toml
  bindings/java/src/async_operator.rs
  bindings/java/src/operator.rs
  core/benches/vs_fs/Cargo.toml
Owners: @Xuanwo, @tisonkun

We don't have blocking anymore
  bindings/c/tests/opinfo.cpp
Owners: @xyjixyjixyji

Fix java
  bindings/java/src/lib.rs
  bindings/java/src/main/java/org/apache/opendal/Capability.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/BlockingListTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/BlockingReadOnlyTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/BlockingRenameTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/BlockingWriteTest.java
Owners: @tisonkun
