Repository apache/opendal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

refactor: migrate rocksdb service from adapter::kv to impl Access directly (#6732)
  core/src/services/rocksdb/backend.rs
  core/src/services/rocksdb/config.rs
  core/src/services/rocksdb/core.rs
  core/src/services/rocksdb/deleter.rs
  core/src/services/rocksdb/docs.md
  core/src/services/rocksdb/lister.rs
  core/src/services/rocksdb/writer.rs
Owners: @Xuanwo

refactor: migrate redb service from adapter::kv to impl Access directly (#6733)
  core/src/services/redb/backend.rs
  core/src/services/redb/config.rs
  core/src/services/redb/core.rs
  core/src/services/redb/deleter.rs
  core/src/services/redb/docs.md
  core/src/services/redb/writer.rs
Owners: @Xuanwo

refactor: Remove deprecated kv and typed_kv adapters
  core/src/raw/adapters/kv/api.rs
  core/src/raw/adapters/kv/backend.rs
  core/src/raw/adapters/kv/mod.rs
  core/src/raw/adapters/mod.rs
  core/src/raw/adapters/typed_kv/api.rs
  core/src/raw/adapters/typed_kv/backend.rs
  core/src/raw/adapters/typed_kv/mod.rs
  core/src/raw/mod.rs
Owners: @Xuanwo

chore: fixup README render and broken links
  README.md
Owners: @Xuanwo

chore: fixup README render and broken links (#6735)
  README.md
Owners: @Xuanwo

refactor: Remove deprecated kv and typed_kv adapters (#6734)
  core/src/raw/adapters/kv/api.rs
  core/src/raw/adapters/kv/backend.rs
  core/src/raw/adapters/kv/mod.rs
  core/src/raw/adapters/mod.rs
  core/src/raw/adapters/typed_kv/api.rs
  core/src/raw/adapters/typed_kv/backend.rs
  core/src/raw/adapters/typed_kv/mod.rs
  core/src/raw/mod.rs
Owners: @Xuanwo

refactor(hdfs): restructure HdfsBackend and introduce HdfsCore
  core/src/services/hdfs/backend.rs
  core/src/services/hdfs/core.rs
  core/src/services/hdfs/delete.rs
  core/src/services/hdfs/mod.rs
Owners: @Xuanwo

refactor(hdfs-native): restructure HdfsNativeBackend and introduce HdfsNativeCore
  core/src/services/hdfs_native/backend.rs
  core/src/services/hdfs_native/core.rs
  core/src/services/hdfs_native/delete.rs
  core/src/services/hdfs_native/mod.rs
Owners: @Xuanwo

refactor(hdfs): restructure HdfsBackend and introduce HdfsCore (#6736)
  core/src/services/hdfs/backend.rs
  core/src/services/hdfs/core.rs
  core/src/services/hdfs/delete.rs
  core/src/services/hdfs/mod.rs
Owners: @Xuanwo

refactor(hdfs-native): restructure HdfsNativeBackend and introduce HdfsNativeCore (#6737)
  core/src/services/hdfs_native/backend.rs
  core/src/services/hdfs_native/core.rs
  core/src/services/hdfs_native/delete.rs
  core/src/services/hdfs_native/mod.rs
Owners: @Xuanwo

feat(bindings/nodejs): add ConcurrentLimitLayer
  bindings/nodejs/generated.d.ts
  bindings/nodejs/generated.js
  bindings/nodejs/index.cjs
  bindings/nodejs/index.mjs
  bindings/nodejs/src/layer.rs
  bindings/nodejs/src/lib.rs
Owners: @suyanhanx

add test
  bindings/nodejs/tests/suites/index.mjs
  bindings/nodejs/tests/suites/layer.suite.mjs
Owners: @suyanhanx

format code
  bindings/nodejs/index.cjs
  bindings/nodejs/tests/suites/layer.suite.mjs
Owners: @suyanhanx

ci
  .github/workflows/ci_bindings_nodejs.yml
Owners: @Xuanwo

fix test
  bindings/nodejs/tests/suites/layer.suite.mjs
Owners: @suyanhanx

ci
  .github/workflows/ci_bindings_nodejs.yml
Owners: @Xuanwo

RFC-6707: Capability Override Layer (#6707)
  core/src/docs/rfcs/6707_capability_override_layer.md
  core/src/docs/rfcs/mod.rs
Owners: @Xuanwo

feat(bindings/python)!: Generate stubs for Operator overloads and Scheme (#6729)
  bindings/python/justfile
  bindings/python/mkdocs.yml
  bindings/python/python/opendal/__base.pyi
  bindings/python/python/opendal/__init__.py
  bindings/python/python/opendal/file.pyi
  bindings/python/python/opendal/operator.pyi
  bindings/python/python/opendal/services.pyi
  bindings/python/ruff.toml
  bindings/python/src/file.rs
  bindings/python/src/lib.rs
  bindings/python/src/operator.rs
  bindings/python/src/services.rs
  dev/src/generate/python.j2
  dev/src/generate/python.rs
Owners: @messense, @Zheaoli, @Xuanwo

feat(bindings/nodejs): add concurrent limit layer (#6739)
  .github/workflows/ci_bindings_nodejs.yml
  bindings/nodejs/generated.d.ts
  bindings/nodejs/generated.js
  bindings/nodejs/index.cjs
  bindings/nodejs/index.mjs
  bindings/nodejs/src/layer.rs
  bindings/nodejs/src/lib.rs
  bindings/nodejs/tests/suites/index.mjs
  bindings/nodejs/tests/suites/layer.suite.mjs
Owners: @Xuanwo, @suyanhanx

retry on 409 with AWS
  core/src/services/s3/error.rs
Owners: @Xuanwo

use ConditionNotMatch error
  core/src/services/s3/error.rs
Owners: @Xuanwo

fix stubs for some awaitable
  bindings/python/python/opendal/operator.pyi
  bindings/python/src/operator.rs
Owners: @messense, @Zheaoli

add behavioural notes to read
  bindings/python/python/opendal/file.pyi
  bindings/python/src/file.rs
Owners: @messense, @Zheaoli

re-enable some services
  bindings/python/Cargo.toml
  dev/src/generate/python.rs
Owners: @messense, @Zheaoli, @Xuanwo

stable sort configs in services
  bindings/python/python/opendal/operator.pyi
  bindings/python/python/opendal/services.pyi
  bindings/python/src/services.rs
  dev/src/generate/parser.rs
Owners: @messense, @Zheaoli, @Xuanwo

remove unnecessary 11 services
  bindings/python/Cargo.toml
  bindings/python/python/opendal/operator.pyi
  bindings/python/python/opendal/services.pyi
  bindings/python/src/services.rs
  dev/src/generate/python.rs
Owners: @messense, @Zheaoli, @Xuanwo

fix:(bindings/python) Minor fix in stubs (#6744)
  bindings/python/python/opendal/file.pyi
  bindings/python/python/opendal/operator.pyi
  bindings/python/src/file.rs
  bindings/python/src/operator.rs
Owners: @messense, @Zheaoli

feat(bindings/python): Enable ftp/hdfs_native/sftp for python (#6745)
  bindings/python/Cargo.toml
  bindings/python/python/opendal/operator.pyi
  bindings/python/python/opendal/services.pyi
  bindings/python/src/services.rs
  dev/src/generate/parser.rs
  dev/src/generate/python.rs
Owners: @messense, @Zheaoli, @Xuanwo

fix: retry on 409 with AWS S3 (#6742)
  core/src/services/s3/error.rs
Owners: @Xuanwo

Move models to a separate module
  core/src/services/gdrive/core.rs
  core/src/services/gdrive/gdrive_model.rs
  core/src/services/gdrive/mod.rs
Owners: @Xuanwo

Remove path cache and query
  core/Cargo.toml
  core/src/raw/mod.rs
  core/src/raw/path_cache.rs
Owners: @Xuanwo

Remove path cache from grdive
  core/src/services/gdrive/backend.rs
  core/src/services/gdrive/builder.rs
  core/src/services/gdrive/core.rs
  core/src/services/gdrive/delete.rs
  core/src/services/gdrive/gdrive_model.rs
  core/src/services/gdrive/lister.rs
  core/src/services/gdrive/writer.rs
Owners: @Xuanwo

move to checksum algo
  core/src/services/s3/backend.rs
  core/src/services/s3/config.rs
  core/src/services/s3/core.rs
  core/src/services/s3/writer.rs
Owners: @Xuanwo

avoid copying content
  core/src/raw/http_util/header.rs
  core/src/raw/http_util/mod.rs
  core/src/services/s3/core.rs
Owners: @Xuanwo

feat: implement content-md5 for s3 (#6508)
  core/src/raw/http_util/header.rs
  core/src/raw/http_util/mod.rs
  core/src/services/s3/backend.rs
  core/src/services/s3/core.rs
  core/src/services/s3/writer.rs
Owners: @Xuanwo

doc(core/types): add some comments for Buffer
  core/src/types/buffer.rs
Owners: @Xuanwo

fix fmt error
  core/src/layers/sanity_check.rs
Owners: @Xuanwo

add Apache lisence and fix the borrowed expression implements error
  core/src/layers/sanity_check.rs
Owners: @Xuanwo

docs(core/types): add some comments for Buffer (#6746)
  core/src/types/buffer.rs
Owners: @Xuanwo

chore: apply suggestions from clippy 1.91.0
  core/src/types/mode.rs
  core/src/types/scheme.rs
Owners: @Xuanwo

.github/CODEOWNERS:

* @Xuanwo

/core @Xuanwo
/bindings/c/ @xyjixyjixyji
/bindings/haskell/ @silver-ymz
/bindings/java/ @tisonkun
/bindings/lua/ @oowl
/bindings/nodejs/ @suyanhanx
/bindings/python/ @messense @Zheaoli
/bindings/ruby/ @PsiACE
