Repository apache/opendal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

Bump to version 0.55.0 with rc.2 (#6788)
  CHANGELOG.md
  bindings/c/DEPENDENCIES.rust.tsv
  bindings/cpp/DEPENDENCIES.rust.tsv
  bindings/dotnet/DEPENDENCIES.rust.tsv
  bindings/haskell/DEPENDENCIES.rust.tsv
  bindings/java/DEPENDENCIES.rust.tsv
  bindings/lua/DEPENDENCIES.rust.tsv
  bindings/nodejs/DEPENDENCIES.rust.tsv
  bindings/ocaml/DEPENDENCIES.rust.tsv
  bindings/php/DEPENDENCIES.rust.tsv
  bindings/python/DEPENDENCIES.rust.tsv
  bindings/python/upgrade.md
  bindings/ruby/DEPENDENCIES.rust.tsv
  core/Cargo.lock
  core/DEPENDENCIES.rust.tsv
  core/src/docs/upgrade.md
  core/upgrade.md
  integrations/dav-server/DEPENDENCIES.rust.tsv
  integrations/object_store/DEPENDENCIES.rust.tsv
  integrations/parquet/DEPENDENCIES.rust.tsv
  integrations/unftp-sbe/DEPENDENCIES.rust.tsv
Owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

chore: Fix build
  core/Cargo.lock
Owners: @Xuanwo

chore: Fix build (#6789)
  core/Cargo.lock
Owners: @Xuanwo

chore: Don't introduce openssl for python binding
  bindings/python/Cargo.toml
Owners: @messense, @Zheaoli

Don't release ruby
  .github/workflows/release_ruby.yml
Owners: @Xuanwo

chore: Don't introduce openssl for python binding (#6790)
  .github/workflows/release_ruby.yml
  bindings/python/Cargo.toml
Owners: @Xuanwo, @messense, @Zheaoli

ci: Remove hdfs-native from arm platform
  bindings/python/Cargo.toml
Owners: @messense, @Zheaoli

ci: Remove hdfs-native from arm platform (#6792)
  bindings/python/Cargo.toml
Owners: @messense, @Zheaoli

chore(layers/timeout)!: remove deprecated `with_speed` method
  core/src/layers/timeout.rs
Owners: @Xuanwo

bug: write operation won't split payload into chunks following configuration
  core/src/types/context/write.rs
  core/src/types/operator/operator.rs
Owners: @Xuanwo

chore(layers/timeout)!: remove deprecated `with_speed` method (#6793)
  core/src/layers/timeout.rs
Owners: @Xuanwo

try to fix error
  core/src/types/operator/operator.rs
Owners: @Xuanwo

feat(services/ftp): Implement write returns metadata
  core/src/services/ftp/writer.rs
Owners: @Xuanwo

chore(hugginface): fix hf_resolve urls
  core/src/services/huggingface/core.rs
Owners: @Xuanwo

fix: percent encode slash in revision
  core/src/services/huggingface/core.rs
Owners: @Xuanwo

fix(huggingface): percent encode revision
  core/src/services/huggingface/backend.rs
  core/src/services/huggingface/core.rs
Owners: @Xuanwo

feat(services): allow configuring Huggingface endpoint
  core/src/services/huggingface/backend.rs
  core/src/services/huggingface/config.rs
  core/src/services/huggingface/core.rs
Owners: @Xuanwo

style: run cargo fmt
  core/src/services/huggingface/core.rs
Owners: @Xuanwo

feat(hugginface): allow specifying huggingface endpoint (#6801)
  core/src/services/huggingface/backend.rs
  core/src/services/huggingface/config.rs
  core/src/services/huggingface/core.rs
Owners: @Xuanwo

test(huggingface): cover url construction in huggingface core
  core/src/services/huggingface/core.rs
Owners: @Xuanwo

docs: add 1password self-registration link for committers
  website/community/committers/onboarding.md
Owners: @Xuanwo

refactor(concurrent_limit): clean up semaphore trait and impls
  core/src/layers/concurrent_limit.rs
Owners: @Xuanwo

fix(bindings/nodejs): switch concurrent limit layer to with_permits
  bindings/nodejs/src/layer.rs
Owners: @suyanhanx

feat(core/s3): lazily detect region on first request
  bindings/python/tests/test_auto_detect.py
  core/src/services/s3/backend.rs
  core/src/services/s3/core.rs
  core/src/services/s3/mod.rs
  core/src/services/s3/region.rs
  core/src/services/s3/writer.rs
Owners: @messense, @Zheaoli, @Xuanwo

docs: add 1password self-registration link for committers (#6804)
  website/community/committers/onboarding.md
Owners: @Xuanwo

github
  core/src/services/github/core.rs
  core/src/services/github/writer.rs
Owners: @Xuanwo

feat(services/github): Implement write returns metadata (#6806)
  core/src/services/github/core.rs
  core/src/services/github/writer.rs
Owners: @Xuanwo

test(huggingface): cover url construction in huggingface core (#6803)
  core/src/services/huggingface/core.rs
Owners: @Xuanwo

refactor!: Migrate service s3 to reqsign-core 2.0 (#6656)
  .github/workflows/test_edge.yml
  core/Cargo.lock
  core/Cargo.toml
  core/edge/s3_aws_assume_role_with_web_identity/Cargo.toml
  core/edge/s3_aws_assume_role_with_web_identity/src/main.rs
  core/src/services/s3/backend.rs
  core/src/services/s3/config.rs
  core/src/services/s3/core.rs
  core/src/services/s3/writer.rs
Owners: @Xuanwo

chore: random code and comments tidy
  core/src/services/s3/config.rs
  core/src/types/operator/registry.rs
Owners: @Xuanwo

chore: random code and comments tidy (#6808)
  core/src/services/s3/config.rs
  core/src/types/operator/registry.rs
Owners: @Xuanwo

feat(services/koofr): Implement write returns metadata
  core/src/services/koofr/writer.rs
Owners: @Xuanwo

feat(services/koofr): Implement write returns metadata (#6809)
  core/src/services/koofr/writer.rs
Owners: @Xuanwo

Implement Write Returns Metadata
  core/src/services/seafile/writer.rs
Owners: @Xuanwo

remove redundant comments
  core/src/services/seafile/writer.rs
Owners: @Xuanwo

use macro
  bindings/c/cbindgen.toml
  bindings/c/include/opendal.h
  bindings/c/src/async_operator.rs
  bindings/c/src/lib.rs
Owners: @xyjixyjixyji

add more op
  bindings/c/CMakeLists.txt
  bindings/c/README.md
  bindings/c/examples/async_stat.c
  bindings/c/include/opendal.h
  bindings/c/src/async_operator.rs
  bindings/c/src/lib.rs
  bindings/c/tests/async_stat_test.cpp
Owners: @xyjixyjixyji

add poll api
  bindings/c/README.md
  bindings/c/examples/compare_sync_async.c
  bindings/c/include/opendal.h
  bindings/c/src/async_operator.rs
  bindings/c/src/lib.rs
Owners: @xyjixyjixyji

update doc
  bindings/c/README.md
Owners: @xyjixyjixyji

add example
  bindings/c/CMakeLists.txt
  bindings/c/README.md
  bindings/c/examples/compare_sync_async.c
Owners: @xyjixyjixyji

.github/CODEOWNERS:

* @Xuanwo

/core @Xuanwo
/bindings/c/ @xyjixyjixyji
/bindings/haskell/ @silver-ymz
/bindings/java/ @tisonkun
/bindings/lua/ @oowl
/bindings/nodejs/ @suyanhanx
/bindings/python/ @messense @Zheaoli
/bindings/ruby/ @PsiACE
