Repository apache/opendal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

.github/CODEOWNERS:

* @Xuanwo

/core @Xuanwo
/bindings/c/ @xyjixyjixyji
/bindings/haskell/ @silver-ymz
/bindings/java/ @tisonkun
/bindings/lua/ @oowl
/bindings/nodejs/ @suyanhanx
/bindings/python/ @messense @Zheaoli
/bindings/ruby/ @PsiACE

format and licence fix
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/opfs/Cargo.toml
  core/src/lib.rs
Owners: @Xuanwo

toml-formating
  core/core/Cargo.toml
Owners: @Xuanwo

chore: format d1 service Cargo.toml with taplo
  core/services/d1/Cargo.toml
Owners: @Xuanwo

refactor: Split service github out of core (#7018)
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/github/Cargo.toml
  core/services/github/src/backend.rs
  core/services/github/src/config.rs
  core/services/github/src/core.rs
  core/services/github/src/deleter.rs
  core/services/github/src/docs.md
  core/services/github/src/error.rs
  core/services/github/src/lib.rs
  core/services/github/src/lister.rs
  core/services/github/src/mod.rs
  core/services/github/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

refactor: Split service d1 out of core (#7027)
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/d1/Cargo.toml
  core/services/d1/src/backend.rs
  core/services/d1/src/config.rs
  core/services/d1/src/core.rs
  core/services/d1/src/deleter.rs
  core/services/d1/src/docs.md
  core/services/d1/src/error.rs
  core/services/d1/src/lib.rs
  core/services/d1/src/model.rs
  core/services/d1/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

refactor: Deprecate remove_all API in favor of RFC-3911: Deleter API (#6785)
  bindings/dart/rust/src/frb_generated.rs
  bindings/haskell/src/lib.rs
  bindings/java/src/async_operator.rs
  bindings/java/src/operator.rs
  bindings/nodejs/src/lib.rs
  bindings/ocaml/src/operator/mod.rs
  bindings/python/src/operator.rs
  bindings/ruby/src/operator.rs
  core/core/src/blocking/operator.rs
  core/core/src/types/operator/operator.rs
  core/tests/behavior/async_delete.rs
  core/tests/behavior/async_list.rs
  integrations/unftp-sbe/src/lib.rs
Owners: @Xuanwo, @silver-ymz, @tisonkun, @suyanhanx, @messense, @Zheaoli, @PsiACE

refactor: Split redb service to new crate
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/redb/Cargo.toml
  core/services/redb/src/backend.rs
  core/services/redb/src/config.rs
  core/services/redb/src/core.rs
  core/services/redb/src/deleter.rs
  core/services/redb/src/docs.md
  core/services/redb/src/lib.rs
  core/services/redb/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

feat: delete with recursive
  core/core/src/services/mod.rs
  core/core/src/services/opfs/builder.rs
  core/core/src/services/opfs/delete.rs
Owners: @Xuanwo

core splitted seafile
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/seafile/Cargo.toml
  core/services/seafile/src/backend.rs
  core/services/seafile/src/config.rs
  core/services/seafile/src/core.rs
  core/services/seafile/src/deleter.rs
  core/services/seafile/src/docs.md
  core/services/seafile/src/error.rs
  core/services/seafile/src/lib.rs
  core/services/seafile/src/lister.rs
  core/services/seafile/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

made modules private
  core/services/seafile/src/lib.rs
Owners: @Xuanwo

refactor: Split redb service to new crate (#7028)
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/redb/Cargo.toml
  core/services/redb/src/backend.rs
  core/services/redb/src/config.rs
  core/services/redb/src/core.rs
  core/services/redb/src/deleter.rs
  core/services/redb/src/docs.md
  core/services/redb/src/lib.rs
  core/services/redb/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

refactor: Split compfs service to new crate
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/compfs/Cargo.toml
  core/services/compfs/src/backend.rs
  core/services/compfs/src/config.rs
  core/services/compfs/src/core.rs
  core/services/compfs/src/deleter.rs
  core/services/compfs/src/lib.rs
  core/services/compfs/src/lister.rs
  core/services/compfs/src/reader.rs
  core/services/compfs/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

refactor: Split compfs service to new crate (#7033)
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/compfs/Cargo.toml
  core/services/compfs/src/backend.rs
  core/services/compfs/src/config.rs
  core/services/compfs/src/core.rs
  core/services/compfs/src/deleter.rs
  core/services/compfs/src/lib.rs
  core/services/compfs/src/lister.rs
  core/services/compfs/src/reader.rs
  core/services/compfs/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

core splitted sftp
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/core/src/services/sftp/utils.rs
  core/services/sftp/Cargo.toml
  core/services/sftp/src/backend.rs
  core/services/sftp/src/config.rs
  core/services/sftp/src/core.rs
  core/services/sftp/src/deleter.rs
  core/services/sftp/src/docs.md
  core/services/sftp/src/error.rs
  core/services/sftp/src/lib.rs
  core/services/sftp/src/lister.rs
  core/services/sftp/src/reader.rs
  core/services/sftp/src/utils.rs
  core/services/sftp/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

chore: Reorder dependencies in sftp service Cargo.toml.
  core/Cargo.lock
  core/services/sftp/Cargo.toml
Owners: @Xuanwo

Service: monoiofs #6829
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/monoiofs/Cargo.toml
  core/services/monoiofs/src/backend.rs
  core/services/monoiofs/src/config.rs
  core/services/monoiofs/src/core.rs
  core/services/monoiofs/src/deleter.rs
  core/services/monoiofs/src/docs.md
  core/services/monoiofs/src/lib.rs
  core/services/monoiofs/src/reader.rs
  core/services/monoiofs/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

chore: update dependencies in Cargo.lock
  core/Cargo.lock
Owners: @Xuanwo

support if_not_exists in the Memory service
  core/core/src/services/memory/backend.rs
  core/core/src/services/memory/core.rs
  core/core/src/services/memory/writer.rs
Owners: @Xuanwo

Service: gridfs #6898
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/gridfs/Cargo.toml
  core/services/gridfs/src/backend.rs
  core/services/gridfs/src/config.rs
  core/services/gridfs/src/core.rs
  core/services/gridfs/src/deleter.rs
  core/services/gridfs/src/docs.md
  core/services/gridfs/src/lib.rs
  core/services/gridfs/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

Fix formatting
  core/core/src/services/mod.rs
  core/services/gridfs/Cargo.toml
Owners: @Xuanwo

chore: fix toml formatting
  core/src/lib.rs
Owners: @Xuanwo

chore: add license header and fix formatting
  core/services/monoiofs/Cargo.toml
Owners: @Xuanwo

chore: update lockfile
  core/Cargo.lock
Owners: @Xuanwo

refactor(services/koofr): split koofr into separate crate
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/koofr/Cargo.toml
  core/services/koofr/src/backend.rs
  core/services/koofr/src/config.rs
  core/services/koofr/src/core.rs
  core/services/koofr/src/deleter.rs
  core/services/koofr/src/docs.md
  core/services/koofr/src/error.rs
  core/services/koofr/src/lib.rs
  core/services/koofr/src/lister.rs
  core/services/koofr/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

chore: format toml with taplo
  core/Cargo.toml
  core/services/gridfs/Cargo.toml
Owners: @Xuanwo

refactor(services/opfs): split opfs service into separate crate
  core/src/lib.rs
Owners: @Xuanwo

refactor(services/opfs): move dependency to wasm32 target-specific section
  core/Cargo.toml
Owners: @Xuanwo

refactor(services/opfs): split opfs service into separate crate (#7021)
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/core/src/services/opfs/mod.rs
  core/services/opfs/Cargo.toml
  core/services/opfs/src/backend.rs
  core/services/opfs/src/config.rs
  core/services/opfs/src/core.rs
  core/services/opfs/src/docs.md
  core/services/opfs/src/error.rs
  core/services/opfs/src/lib.rs
  core/services/opfs/src/utils.rs
  core/src/lib.rs
Owners: @Xuanwo

refactor: Split surrealdb service to new crate
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/surrealdb/Cargo.toml
  core/services/surrealdb/src/backend.rs
  core/services/surrealdb/src/config.rs
  core/services/surrealdb/src/core.rs
  core/services/surrealdb/src/deleter.rs
  core/services/surrealdb/src/docs.md
  core/services/surrealdb/src/lib.rs
  core/services/surrealdb/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

refactor: Split lakefs service to new crate
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/lakefs/Cargo.toml
  core/services/lakefs/src/backend.rs
  core/services/lakefs/src/config.rs
  core/services/lakefs/src/core.rs
  core/services/lakefs/src/deleter.rs
  core/services/lakefs/src/docs.md
  core/services/lakefs/src/error.rs
  core/services/lakefs/src/lib.rs
  core/services/lakefs/src/lister.rs
  core/services/lakefs/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

remove useless docs
  core/services/lakefs/src/core.rs
  core/services/lakefs/src/deleter.rs
  core/services/lakefs/src/lister.rs
  core/services/lakefs/src/writer.rs
Owners: @Xuanwo

fix license check
  core/services/lakefs/Cargo.toml
  core/services/lakefs/src/error.rs
Owners: @Xuanwo

refactor: Split pcloud service to new crate
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/pcloud/Cargo.toml
  core/services/pcloud/src/backend.rs
  core/services/pcloud/src/config.rs
  core/services/pcloud/src/core.rs
  core/services/pcloud/src/deleter.rs
  core/services/pcloud/src/docs.md
  core/services/pcloud/src/error.rs
  core/services/pcloud/src/lib.rs
  core/services/pcloud/src/lister.rs
  core/services/pcloud/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

fix toml fmt
  core/services/pcloud/Cargo.toml
Owners: @Xuanwo

fix: remove compfs module reference and fix code formatting
  core/core/src/services/mod.rs
  core/services/cacache/Cargo.toml
  core/services/dbfs/src/backend.rs
  core/services/etcd/src/core.rs
  core/services/foundationdb/Cargo.toml
Owners: @Xuanwo

refactor: Split surrealdb service to new crate (#7045)
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/surrealdb/Cargo.toml
  core/services/surrealdb/src/backend.rs
  core/services/surrealdb/src/config.rs
  core/services/surrealdb/src/core.rs
  core/services/surrealdb/src/deleter.rs
  core/services/surrealdb/src/docs.md
  core/services/surrealdb/src/lib.rs
  core/services/surrealdb/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

refactor: Split upyun service to new crate
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/upyun/Cargo.toml
  core/services/upyun/src/backend.rs
  core/services/upyun/src/config.rs
  core/services/upyun/src/core.rs
  core/services/upyun/src/deleter.rs
  core/services/upyun/src/docs.md
  core/services/upyun/src/error.rs
  core/services/upyun/src/lib.rs
  core/services/upyun/src/lister.rs
  core/services/upyun/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

feat(services/b2): Add user defined metadata support
  core/services/b2/src/backend.rs
  core/services/b2/src/core.rs
Owners: @Xuanwo

refactor: Split logging layer to new crate
  core/Cargo.lock
  core/Cargo.toml
  core/core/src/layers/mod.rs
  core/layers/logging/Cargo.toml
  core/layers/logging/src/lib.rs
  core/src/lib.rs
Owners: @Xuanwo

fix: Add layers-logging feature to bindings and testkit
  bindings/haskell/Cargo.toml
  bindings/nodejs/Cargo.toml
  core/Cargo.lock
  core/testkit/Cargo.toml
  core/testkit/src/utils.rs
Owners: @silver-ymz, @suyanhanx, @Xuanwo
