Repository apache/opendal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

.github/CODEOWNERS:

* @Xuanwo

/core @Xuanwo
/bindings/c/ @xyjixyjixyji
/bindings/haskell/ @silver-ymz
/bindings/java/ @tisonkun
/bindings/lua/ @oowl
/bindings/nodejs/ @suyanhanx
/bindings/python/ @messense @Zheaoli
/bindings/ruby/ @PsiACE

fix(nodejs): add index.mjs and update nodejs package.json
  bindings/nodejs/index.mjs
  bindings/nodejs/package.json
Owners: @suyanhanx

docs(nodejs): update README.md
  bindings/nodejs/README.md
Owners: @suyanhanx

chore: upgrade opentelemetry to 0.30.0
  core/Cargo.lock
  core/Cargo.toml
Owners: @Xuanwo

chore: upgrade opentelemetry to 0.30.0 (#6259)
  core/Cargo.lock
  core/Cargo.toml
Owners: @Xuanwo

feat(bindings/java): Add StatOptions support for new options API (#6255)
  bindings/java/Cargo.toml
  bindings/java/src/async_operator.rs
  bindings/java/src/convert.rs
  bindings/java/src/lib.rs
  bindings/java/src/main/java/org/apache/opendal/AsyncOperator.java
  bindings/java/src/main/java/org/apache/opendal/Capability.java
  bindings/java/src/main/java/org/apache/opendal/Operator.java
  bindings/java/src/main/java/org/apache/opendal/StatOptions.java
  bindings/java/src/operator.rs
  bindings/java/src/test/java/org/apache/opendal/test/behavior/AsyncStatOptionsTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/BlockingStatOptionsTest.java
Owners: @tisonkun

refactor(!): Remove services lack of maintainers and users
  core/Cargo.lock
  core/Cargo.toml
  core/README.md
  core/src/raw/adapters/kv/api.rs
  core/src/raw/adapters/kv/mod.rs
  core/src/services/atomicserver/backend.rs
  core/src/services/atomicserver/config.rs
  core/src/services/atomicserver/docs.md
  core/src/services/atomicserver/mod.rs
  core/src/services/icloud/backend.rs
  core/src/services/icloud/config.rs
  core/src/services/icloud/core.rs
  core/src/services/icloud/docs.md
  core/src/services/icloud/mod.rs
  core/src/services/mod.rs
  core/src/services/nebula_graph/backend.rs
  core/src/services/nebula_graph/config.rs
  core/src/services/nebula_graph/docs.md
  core/src/services/nebula_graph/mod.rs
  core/src/types/operator/builder.rs
  core/src/types/scheme.rs
Owners: @Xuanwo

refactor(!): Remove services lack of maintainers and users (#6263)
  core/Cargo.lock
  core/Cargo.toml
  core/README.md
  core/src/raw/adapters/kv/api.rs
  core/src/raw/adapters/kv/mod.rs
  core/src/services/atomicserver/backend.rs
  core/src/services/atomicserver/config.rs
  core/src/services/atomicserver/docs.md
  core/src/services/atomicserver/mod.rs
  core/src/services/icloud/backend.rs
  core/src/services/icloud/config.rs
  core/src/services/icloud/core.rs
  core/src/services/icloud/docs.md
  core/src/services/icloud/mod.rs
  core/src/services/mod.rs
  core/src/services/nebula_graph/backend.rs
  core/src/services/nebula_graph/config.rs
  core/src/services/nebula_graph/docs.md
  core/src/services/nebula_graph/mod.rs
  core/src/types/operator/builder.rs
  core/src/types/scheme.rs
Owners: @Xuanwo

Update bindings/python/python/opendal/__init__.pyi
  bindings/python/python/opendal/__init__.pyi
Owners: @messense, @Zheaoli

fix formatting
  bindings/python/python/opendal/__init__.pyi
Owners: @messense, @Zheaoli

chore: Update bb8 to version 0.9.0
  core/Cargo.lock
  core/Cargo.toml
Owners: @Xuanwo

use Rust async for bb8 powered-services
  core/src/services/etcd/backend.rs
  core/src/services/ftp/core.rs
  core/src/services/memcached/backend.rs
  core/src/services/redis/core.rs
  core/src/services/sftp/core.rs
Owners: @Xuanwo

chore: Update bb8 to version 0.9.0 (#6127)
  core/Cargo.lock
  core/Cargo.toml
  core/src/services/etcd/backend.rs
  core/src/services/ftp/core.rs
  core/src/services/memcached/backend.rs
  core/src/services/redis/core.rs
  core/src/services/sftp/core.rs
Owners: @Xuanwo

add more api
  bindings/haskell/examples/Basic.hs
  bindings/haskell/haskell-src/OpenDAL.hs
  bindings/haskell/haskell-src/OpenDAL/FFI.hs
  bindings/haskell/opendal.cabal
  bindings/haskell/src/lib.rs
  bindings/haskell/test/BasicTest.hs
  bindings/haskell/test/ErrorTest.hs
  bindings/haskell/test/PerformanceTest.hs
  bindings/haskell/test/Spec.hs
  bindings/haskell/test/WriterTest.hs
Owners: @silver-ymz

fix clippy
  bindings/haskell/haskell-src/OpenDAL.hs
  bindings/haskell/haskell-src/OpenDAL/FFI.hs
  bindings/haskell/src/lib.rs
Owners: @silver-ymz

try fix putStrLn
  bindings/haskell/examples/Basic.hs
Owners: @silver-ymz

feat: add rust docs
  website/docusaurus.config.js
  website/package.json
  website/pnpm-lock.yaml
Owners: @Xuanwo

oli: support dropbox
  bin/oli/Cargo.toml
Owners: @Xuanwo

fix(nodejs): esmodule and commonjs support
  bindings/nodejs/index.cjs
  bindings/nodejs/index.mjs
  bindings/nodejs/package.json
Owners: @suyanhanx

rm example
  bindings/haskell/examples/Basic.hs
  bindings/haskell/opendal.cabal
Owners: @silver-ymz

try fix
  bindings/haskell/test/ErrorTest.hs
  bindings/haskell/test/PerformanceTest.hs
  bindings/haskell/test/WriterTest.hs
Owners: @silver-ymz

fix test
  bindings/haskell/test/PerformanceTest.hs
Owners: @silver-ymz

fix unsupported op
  bindings/haskell/test/BasicTest.hs
  bindings/haskell/test/ErrorTest.hs
Owners: @silver-ymz

fix(nodejs): theme package build and update prettier config
  bindings/nodejs/.prettierignore
  bindings/nodejs/package.json
  bindings/nodejs/theme/package.json
Owners: @suyanhanx

fix(nodejs): ci
  bindings/nodejs/package.json
  bindings/nodejs/scripts/header.mjs
Owners: @suyanhanx

fix(nodejs): vitest test
  bindings/nodejs/tests/suites/index.mjs
  bindings/nodejs/tests/suites/sync.suite.mjs
Owners: @suyanhanx

add object-store as service backend
  core/src/services/object_store/backend.rs
  core/src/services/object_store/mod.rs
Owners: @Xuanwo

add object store as features
  core/Cargo.lock
  core/Cargo.toml
  core/src/services/mod.rs
  core/src/services/object_store/backend.rs
Owners: @Xuanwo

try fix
  bindings/cpp/tests/async_test.cpp
Owners: @Xuanwo

try fix
  bindings/cpp/tests/async_test.cpp
  core/src/raw/adapters/typed_kv/api.rs
  core/src/raw/adapters/typed_kv/backend.rs
  core/src/services/memory/backend.rs
Owners: @Xuanwo

see whether other works
  bindings/cpp/tests/async_test.cpp
Owners: @Xuanwo

add more async op
  bindings/cpp/include/async_defs.hpp
  bindings/cpp/include/opendal_async.hpp
  bindings/cpp/src/async.rs
  bindings/cpp/src/opendal_async.cpp
Owners: @Xuanwo

try add tests
  bindings/cpp/tests/async_test.cpp
Owners: @Xuanwo

rm
  core/src/raw/adapters/typed_kv/api.rs
  core/src/raw/adapters/typed_kv/backend.rs
  core/src/services/memory/backend.rs
Owners: @Xuanwo

try ?
  core/src/raw/adapters/typed_kv/api.rs
  core/src/services/memory/backend.rs
Owners: @Xuanwo

pass the test
  bindings/cpp/README.md
  bindings/cpp/tests/async_test.cpp
Owners: @Xuanwo

add list support
  bindings/cpp/include/async_defs.hpp
  bindings/cpp/include/opendal_async.hpp
  bindings/cpp/src/async.rs
  bindings/cpp/src/opendal_async.cpp
Owners: @Xuanwo

skip copy test
  bindings/cpp/tests/async_test.cpp
Owners: @Xuanwo

fmt
  bindings/cpp/src/async.rs
Owners: @Xuanwo

use co_await
  bindings/cpp/tests/async_test.cpp
Owners: @Xuanwo

async reader / lister
  bindings/cpp/Cargo.toml
  bindings/cpp/include/async_defs.hpp
  bindings/cpp/include/opendal_async.hpp
  bindings/cpp/src/async.rs
  bindings/cpp/src/opendal_async.cpp
  bindings/cpp/tests/async_test.cpp
Owners: @Xuanwo
