Repository apache/opendal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

feat(services/swift): Implement write returns metadata
  core/src/services/swift/writer.rs
Owners: @Xuanwo

remove Content-Type extraction
  core/src/services/swift/writer.rs
Owners: @Xuanwo

feat(services/swift): Implement write returns metadata (#6669)
  core/src/services/swift/writer.rs
Owners: @Xuanwo

ci build and test on python3.14t
  .github/workflows/release_python.yml
  .github/workflows/test_behavior_binding_python.yml
Owners: @Xuanwo

Fix naming
  README.md
  bindings/java/src/main/java/org/apache/opendal/ServiceConfig.java
  bindings/python/python/opendal/__base.pyi
  bindings/python/upgrade.md
  core/README.md
  core/src/docs/upgrade.md
  core/src/services/aliyun_drive/config.rs
  core/src/services/aliyun_drive/mod.rs
  core/src/services/cacache/config.rs
  core/src/services/cloudflare_kv/config.rs
  core/src/services/cloudflare_kv/mod.rs
  core/src/services/foundationdb/config.rs
  core/src/services/hdfs_native/config.rs
  core/src/services/mini_moka/config.rs
  core/src/services/mini_moka/mod.rs
  core/src/services/onedrive/config.rs
  core/src/services/pcloud/config.rs
  core/src/services/persy/config.rs
  core/src/services/redb/config.rs
  core/src/services/rocksdb/config.rs
  core/src/services/sled/config.rs
  core/src/services/vercel_artifacts/config.rs
  core/src/services/vercel_artifacts/mod.rs
  core/src/services/vercel_blob/config.rs
  core/src/services/vercel_blob/mod.rs
  core/src/services/yandex_disk/config.rs
  core/src/services/yandex_disk/mod.rs
  core/src/types/operator/builder.rs
  core/src/types/scheme.rs
Owners: @Xuanwo, @tisonkun, @messense, @Zheaoli

smoke python 3.14t
  .github/workflows/ci_bindings_python.yml
  .github/workflows/release_python.yml
  .github/workflows/test_behavior_binding_python.yml
Owners: @Xuanwo

fix(layers/throttle): await limiter before throttled writes
  core/src/layers/throttle.rs
Owners: @Xuanwo

fix(layers/throttle): await limiter before throttled writes (#6671)
  core/src/layers/throttle.rs
Owners: @Xuanwo

build wheels support 3.14t
  .github/workflows/ci_bindings_python.yml
  .github/workflows/release_python.yml
Owners: @Xuanwo

trigger ci
  .github/workflows/ci_bindings_python.yml
  .github/workflows/test_behavior_binding_python.yml
Owners: @Xuanwo

feat(buffer): add chunk iterator for Buffer
  core/src/types/buffer.rs
Owners: @Xuanwo

feat(buffer): add chunk iterator for Buffer (#6672)
  core/src/types/buffer.rs
Owners: @Xuanwo

split python3.14t step
  .github/workflows/release_python.yml
Owners: @Xuanwo

feat(services/dropbox): Implement write returns metadata
  core/src/services/dropbox/writer.rs
Owners: @Xuanwo

Add release profile
  bindings/python/Cargo.toml
Owners: @messense, @Zheaoli

Add justfile
  bindings/python/justfile
Owners: @messense, @Zheaoli

ci: build and test on python3.14t (#6670)
  .github/workflows/release_python.yml
Owners: @Xuanwo

Fix format
  core/src/types/operator/builder.rs
Owners: @Xuanwo

fix formatting
  bindings/python/benchmark/async_opendal_benchmark.py
  bindings/python/benchmark/async_origin_s3_benchmark_with_gevent.py
  bindings/python/dprint.json
  bindings/python/pyproject.toml
  bindings/python/python/opendal/__init__.py
  bindings/python/python/opendal/__init__.pyi
  bindings/python/python/opendal/layers.pyi
  bindings/python/ruff.toml
  bindings/python/tests/conftest.py
  bindings/python/tests/test_async_check.py
  bindings/python/tests/test_async_copy.py
  bindings/python/tests/test_async_delete.py
  bindings/python/tests/test_async_exists.py
  bindings/python/tests/test_async_list.py
  bindings/python/tests/test_async_pickle_types.py
  bindings/python/tests/test_async_rename.py
  bindings/python/tests/test_capability.py
  bindings/python/tests/test_exceptions.py
  bindings/python/tests/test_pickle_rw.py
  bindings/python/tests/test_read.py
  bindings/python/tests/test_sync_check.py
  bindings/python/tests/test_sync_copy.py
  bindings/python/tests/test_sync_delete.py
  bindings/python/tests/test_sync_exists.py
  bindings/python/tests/test_sync_list.py
  bindings/python/tests/test_sync_pickle_types.py
  bindings/python/tests/test_sync_rename.py
  bindings/python/tests/test_write.py
  bindings/python/uv.lock
Owners: @messense, @Zheaoli

feat(services/dropbox): Implement write returns metadata (#6673)
  core/src/services/dropbox/writer.rs
Owners: @Xuanwo

Add bench to justfile
  bindings/python/benchmark/async_opendal_benchmark.py
  bindings/python/benchmark/async_origin_s3_benchmark_with_gevent.py
  bindings/python/justfile
Owners: @messense, @Zheaoli

update readme and contributing guides
  bindings/python/CONTRIBUTING.md
  bindings/python/README.md
  bindings/python/ruff.toml
  dev/src/generate/python.j2
Owners: @messense, @Zheaoli, @Xuanwo

format markdowns
  bindings/python/CONTRIBUTING.md
  bindings/python/README.md
  bindings/python/dprint.json
  bindings/python/upgrade.md
  bindings/python/users.md
Owners: @messense, @Zheaoli

update ci workflow
  .github/workflows/ci_bindings_python.yml
Owners: @Xuanwo

rfc Simulate Layer
  core/src/docs/rfcs/0000_simulate_layer.md
Owners: @Xuanwo

Bump number
  core/src/docs/rfcs/6678_simulate_layer.md
  core/src/docs/rfcs/mod.rs
Owners: @Xuanwo

Add just install action
  .github/workflows/ci_bindings_python.yml
Owners: @Xuanwo

feat(python): add delete_many helpers
  bindings/python/python/opendal/__init__.pyi
  bindings/python/src/operator.rs
  bindings/python/tests/test_async_delete.py
  bindings/python/tests/test_sync_delete.py
Owners: @messense, @Zheaoli

Fix config
  core/src/services/compfs/config.rs
  core/src/services/dashmap/config.rs
  core/src/services/fs/config.rs
  core/src/services/memory/config.rs
  core/src/services/mini_moka/config.rs
  core/src/services/moka/config.rs
  core/src/services/monoiofs/config.rs
  core/src/types/operator/uri.rs
Owners: @Xuanwo

Fix time
  core/src/raw/time.rs
  core/src/services/mini_moka/backend.rs
  core/src/services/mini_moka/config.rs
  core/src/services/moka/backend.rs
  core/src/services/moka/config.rs
Owners: @Xuanwo

Fix tests
  core/src/types/operator/uri.rs
Owners: @Xuanwo

Fix tests
  core/src/services/mysql/config.rs
Owners: @Xuanwo

add license check to lint and fmt
  bindings/python/justfile
  bindings/python/ruff.toml
Owners: @messense, @Zheaoli

Fix tests
  core/src/raw/tests/utils.rs
Owners: @Xuanwo

fix(python): allow delete to accept iterables
  bindings/python/python/opendal/__init__.py
  bindings/python/python/opendal/__init__.pyi
  bindings/python/tests/test_async_delete.py
  bindings/python/tests/test_sync_delete.py
Owners: @messense, @Zheaoli

feat: Introduce TailCutLayer
  core/src/layers/mod.rs
  core/src/layers/tail_cut.rs
Owners: @Xuanwo

Format code
  core/src/layers/tail_cut.rs
Owners: @Xuanwo

Update links
  core/src/docs/rfcs/6678_simulate_layer.md
Owners: @Xuanwo

refactor: Remove deprecated project virtiofs
  .github/workflows/ci_integration_virtiofs.yml
  .github/workflows/docs.yml
  README.md
  integrations/virtiofs/.gitignore
  integrations/virtiofs/Cargo.toml
  integrations/virtiofs/DEPENDENCIES.rust.tsv
  integrations/virtiofs/README.md
  integrations/virtiofs/src/buffer.rs
  integrations/virtiofs/src/error.rs
  integrations/virtiofs/src/filesystem.rs
  integrations/virtiofs/src/filesystem_message.rs
  integrations/virtiofs/src/lib.rs
  integrations/virtiofs/src/virtiofs.rs
  integrations/virtiofs/src/virtiofs_util.rs
  website/docs/30-integrations/virtiofs.mdx
Owners: @Xuanwo

remove dprint and make things completely uv managed
  bindings/python/Cargo.toml
  bindings/python/dprint.json
  bindings/python/justfile
  bindings/python/pyproject.toml
  bindings/python/ruff.toml
  bindings/python/uv.lock
Owners: @messense, @Zheaoli

.github/CODEOWNERS:

* @Xuanwo

/core @Xuanwo
/bindings/c/ @xyjixyjixyji
/bindings/haskell/ @silver-ymz
/bindings/java/ @tisonkun
/bindings/lua/ @oowl
/bindings/nodejs/ @suyanhanx
/bindings/python/ @messense @Zheaoli
/bindings/ruby/ @PsiACE
