Repository apache/opendal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

fix bracket
  core/src/raw/http_util/uri.rs
Owners: @Xuanwo

clippy
  core/src/types/operator/mod.rs
  core/src/types/operator/registry.rs
Owners: @Xuanwo

do not check all
  .github/workflows/ci_core.yml
Owners: @Xuanwo

feat: expose `Error::backtrace()`
  core/src/types/error.rs
Owners: @Xuanwo

fix
  core/src/types/error.rs
Owners: @Xuanwo

feat: expose `Error::backtrace()` (#6196)
  core/src/types/error.rs
Owners: @Xuanwo

Save work
  core/src/blocking/delete.rs
  core/src/blocking/mod.rs
  core/src/blocking/operator.rs
  core/src/blocking/operator_functions.rs
  core/src/blocking/read/blocking_reader.rs
  core/src/blocking/read/buffer_iterator.rs
  core/src/blocking/read/mod.rs
  core/src/blocking/read/std_bytes_iterator.rs
  core/src/blocking/read/std_reader.rs
  core/src/blocking/write/blocking_writer.rs
  core/src/blocking/write/mod.rs
  core/src/blocking/write/std_writer.rs
  core/src/lib.rs
Owners: @Xuanwo

feat(bindings/c)!: Make features configurable via CMakeLists (#6143)
  .github/workflows/ci_bindings_c.yml
  bindings/c/CMakeLists.txt
  bindings/c/Cargo.toml
  bindings/c/README.md
  bindings/zig/build.zig
Owners: @Xuanwo, @xyjixyjixyji

ci: Fix behavior tests for go bindings
  .github/workflows/test_behavior_binding_go.yml
Owners: @Xuanwo

Fix typo
  .github/workflows/test_behavior_binding_go.yml
Owners: @Xuanwo

Fix
  .github/workflows/test_behavior_binding_go.yml
Owners: @Xuanwo

clean up go bindings
  .github/workflows/test_behavior_binding_go.yml
Owners: @Xuanwo

Fix shell
  .github/workflows/test_behavior_binding_go.yml
Owners: @Xuanwo

Fix shell
  .github/workflows/test_behavior_binding_go.yml
Owners: @Xuanwo

Enable default features for c bindings
  bindings/c/Cargo.toml
Owners: @xyjixyjixyji

ci: Fix behavior tests for go bindings (#6199)
  .github/workflows/test_behavior_binding_go.yml
  bindings/c/Cargo.toml
Owners: @Xuanwo, @xyjixyjixyji

chore: add deepwiki badge into readme to enable auto-refresh
  README.md
Owners: @Xuanwo

init log
  bindings/c/Cargo.toml
  bindings/c/examples/glog_example.c
  bindings/c/examples/logging_example.c
  bindings/c/include/opendal.h
  bindings/c/src/lib.rs
  bindings/c/src/logging.rs
  bindings/c/src/operator.rs
Owners: @xyjixyjixyji

add readme
  bindings/c/README.md
Owners: @xyjixyjixyji

add github action
  .github/workflows/ci_bindings_c.yml
Owners: @Xuanwo

fmt
  bindings/c/src/lib.rs
  bindings/c/src/logging.rs
Owners: @xyjixyjixyji

clippy
  bindings/c/src/logging.rs
Owners: @xyjixyjixyji

redirect stderr to stdout
  .github/workflows/ci_bindings_c.yml
Owners: @Xuanwo

try fix
  .github/workflows/ci_bindings_c.yml
Owners: @Xuanwo

%.*s
  bindings/c/examples/glog_example.c
  bindings/c/examples/logging_example.c
Owners: @xyjixyjixyji

try fix
  .github/workflows/ci_bindings_c.yml
  bindings/c/examples/logging_example.c
Owners: @Xuanwo, @xyjixyjixyji

mv opendal_init_logger
  bindings/c/include/opendal.h
  bindings/c/src/lib.rs
  bindings/c/src/logging.rs
Owners: @xyjixyjixyji

update readme
  bindings/c/README.md
Owners: @xyjixyjixyji

-Wall -Werror -Wextra
  .github/workflows/ci_bindings_c.yml
Owners: @Xuanwo

add dep
  core/Cargo.toml
Owners: @Xuanwo

fix: typo error in 0429_init_from_iter.md
  core/src/docs/rfcs/0429_init_from_iter.md
Owners: @Xuanwo

doc: case-police Ocaml to OCaml
  README.md
  bindings/ocaml/DEPENDENCIES.md
  website/blog/2024-01-22-apache-opendal-graduated/index.md
  website/docs/20-bindings/ocaml.mdx
Owners: @Xuanwo

fix: typo error in 0429_init_from_iter.md (#6203)
  core/src/docs/rfcs/0429_init_from_iter.md
Owners: @Xuanwo

doc: case-police Ocaml to OCaml (#6204)
  README.md
  bindings/ocaml/DEPENDENCIES.md
  website/blog/2024-01-22-apache-opendal-graduated/index.md
  website/docs/20-bindings/ocaml.mdx
Owners: @Xuanwo

feat: ADLS Client Credential Authentication
  core/src/services/azdls/backend.rs
  core/src/services/azdls/config.rs
  core/src/services/azdls/core.rs
Owners: @Xuanwo

undo unneccessary change in core.rs
  core/src/services/azdls/core.rs
Owners: @Xuanwo

feat: ADLS Client Credential Authentication (#6205)
  core/src/services/azdls/backend.rs
  core/src/services/azdls/config.rs
Owners: @Xuanwo

fix(services/s3): Remove not needed check for batch delete
  core/src/services/s3/delete.rs
Owners: @Xuanwo

fix(services/s3): Remove not needed check for batch delete (#6206)
  core/src/services/s3/delete.rs
Owners: @Xuanwo

Bump to opendal 0.53.3 Round 2
  CHANGELOG.md
  bin/oay/Cargo.lock
  bin/oay/DEPENDENCIES.rust.tsv
  bin/ofs/Cargo.lock
  bin/ofs/DEPENDENCIES.rust.tsv
  bin/oli/Cargo.lock
  bin/oli/DEPENDENCIES.rust.tsv
  bindings/c/DEPENDENCIES.rust.tsv
  bindings/cpp/DEPENDENCIES.rust.tsv
  bindings/dotnet/DEPENDENCIES.rust.tsv
  bindings/haskell/DEPENDENCIES.rust.tsv
  bindings/java/DEPENDENCIES.rust.tsv
  bindings/lua/DEPENDENCIES.rust.tsv
  bindings/nodejs/DEPENDENCIES.rust.tsv
  bindings/ocaml/DEPENDENCIES.rust.tsv
  bindings/php/DEPENDENCIES.rust.tsv
  bindings/python/DEPENDENCIES.rust.tsv
  bindings/ruby/DEPENDENCIES.rust.tsv
  core/Cargo.lock
  core/DEPENDENCIES.rust.tsv
  integrations/cloud_filter/DEPENDENCIES.rust.tsv
  integrations/dav-server/DEPENDENCIES.rust.tsv
  integrations/fuse3/DEPENDENCIES.rust.tsv
  integrations/object_store/DEPENDENCIES.rust.tsv
  integrations/parquet/DEPENDENCIES.rust.tsv
  integrations/unftp-sbe/DEPENDENCIES.rust.tsv
  integrations/virtiofs/DEPENDENCIES.rust.tsv
Owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

.github/CODEOWNERS:

* @Xuanwo

/core @Xuanwo
/bindings/c/ @xyjixyjixyji
/bindings/haskell/ @silver-ymz
/bindings/java/ @tisonkun
/bindings/lua/ @oowl
/bindings/nodejs/ @suyanhanx
/bindings/python/ @messense @Zheaoli
/bindings/ruby/ @PsiACE
