Repository apache/opendal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

fix: wildcard capture
  bin/oay/Cargo.lock
  bin/oay/src/services/webdav/service.rs
Owners: @Xuanwo

fix: wildcard capture
  bin/oay/src/services/webdav/service.rs
  bin/oli/Cargo.lock
Owners: @Xuanwo

fix: drop
  core/tests/behavior/main.rs
Owners: @Xuanwo

upgrade fuzz toolchain
  .github/workflows/test_fuzz.yml
Owners: @Xuanwo

fixup toolchain
  .github/actions/fuzz_test/action.yaml
  .github/workflows/test_fuzz.yml
Owners: @Xuanwo

build: enhance build website
  website/DEPENDENCIES.node.csv
  website/docusaurus.config.js
  website/package.json
  website/pnpm-lock.yaml
Owners: @Xuanwo

build: enhance build website (#6640)
  website/DEPENDENCIES.node.csv
  website/docusaurus.config.js
  website/package.json
  website/pnpm-lock.yaml
Owners: @Xuanwo

docs(bin): add badges to bin tools README
  bin/oay/README.md
  bin/ofs/README.md
  bin/oli/README.md
Owners: @Xuanwo

fixup
  bin/oay/src/services/s3/service.rs
  bin/oli/Cargo.lock
  bin/oli/tests/integration/test_utils.rs
  bindings/c/src/metadata.rs
  core/src/lib.rs
  integrations/cloud_filter/src/lib.rs
  integrations/object_store/Cargo.toml
  integrations/object_store/src/service/core.rs
Owners: @Xuanwo, @xyjixyjixyji

fix up more
  bindings/dart/rust/src/api/opendal_api.rs
  bindings/nodejs/src/lib.rs
  bindings/ocaml/src/operator/metadata.rs
  bindings/python/Cargo.toml
  core/src/raw/jiff_util.rs
  core/src/raw/mod.rs
  integrations/object_store/Cargo.toml
  integrations/object_store/src/lib.rs
  integrations/object_store/src/service/core.rs
  integrations/object_store/src/store.rs
  integrations/object_store/src/utils.rs
Owners: @Xuanwo, @suyanhanx, @messense, @Zheaoli

converge fixup
  bindings/python/src/metadata.rs
  core/src/raw/jiff_util.rs
  core/src/services/alluxio/core.rs
  core/src/services/compfs/backend.rs
  core/src/services/dashmap/writer.rs
  core/src/services/dbfs/backend.rs
  core/src/services/dbfs/lister.rs
  core/src/services/fs/core.rs
  core/src/services/fs/writer.rs
  core/src/services/ftp/backend.rs
  core/src/services/ftp/lister.rs
  core/src/services/hdfs/backend.rs
  core/src/services/hdfs/lister.rs
  core/src/services/hdfs_native/backend.rs
  core/src/services/hdfs_native/lister.rs
  core/src/services/koofr/backend.rs
  core/src/services/koofr/lister.rs
  core/src/services/monoiofs/backend.rs
  core/src/services/monoiofs/writer.rs
  core/src/services/seafile/lister.rs
  core/src/services/sftp/utils.rs
  core/src/services/upyun/lister.rs
  core/src/services/webhdfs/backend.rs
  core/src/services/webhdfs/lister.rs
Owners: @messense, @Zheaoli, @Xuanwo

docs(bin): add badges to bin tools README (#6642)
  bin/oay/README.md
  bin/ofs/README.md
  bin/oli/README.md
Owners: @Xuanwo

build(website): speed up download images
  bin/ofs/Cargo.lock
  website/plugins/image-ssr-plugin.js
Owners: @Xuanwo

time count
  website/plugins/image-ssr-plugin.js
Owners: @Xuanwo

remove cheerio
  website/plugins/image-ssr-plugin.js
Owners: @Xuanwo

add logs
  website/plugins/image-ssr-plugin.js
Owners: @Xuanwo

logo
  core/src/lib.rs
Owners: @Xuanwo

code format
  core/src/lib.rs
Owners: @Xuanwo

timeout
  website/plugins/image-ssr-plugin.js
Owners: @Xuanwo

concurrency
  website/plugins/image-ssr-plugin.js
Owners: @Xuanwo

fix all formatting
  bindings/python/.gitignore
  bindings/python/Cargo.lock
  bindings/python/Cargo.toml
  bindings/python/Makefile
  bindings/python/python/opendal/capability.pyi
  bindings/python/python/opendal/layers.pyi
  bindings/python/python/opendal/operator.pyi
  bindings/python/python/opendal/options.pyi
  bindings/python/python/opendal/services.pyi
  bindings/python/python/opendal/types.pyi
  bindings/python/ruff.toml
Owners: @messense, @Zheaoli

Stubs for exceptions
  bindings/python/python/opendal/exceptions.pyi
  bindings/python/src/errors.rs
Owners: @messense, @Zheaoli

license
  bindings/c/examples/glog_example.c
  bindings/c/examples/logging_example.c
Owners: @xyjixyjixyji

clippy
  bindings/c/include/opendal.h
Owners: @xyjixyjixyji

async await style
  bindings/c/examples/async_stat.c
  bindings/c/include/opendal.h
  bindings/c/src/async_operator.rs
  bindings/c/src/lib.rs
  bindings/c/src/result.rs
  bindings/c/tests/async_stat_test.cpp
Owners: @xyjixyjixyji

clippy
  bindings/c/src/async_operator.rs
Owners: @xyjixyjixyji

fix example
  bindings/c/examples/async_stat.c
Owners: @xyjixyjixyji

clean
  bindings/c/include/opendal.h
  bindings/c/src/async_operator.rs
Owners: @xyjixyjixyji

Update bindings/python/docs/index.md
  bindings/python/docs/index.md
Owners: @messense, @Zheaoli

refactor(raw): add Timestamp wrapper around jiff::Timestamp
  core/src/raw/time.rs
Owners: @Xuanwo

refactor(raw): remove jiff_util module and expose time module
  core/src/raw/jiff_util.rs
  core/src/raw/mod.rs
Owners: @Xuanwo

refactor(raw): migrate raw utilities to use Timestamp wrapper
  core/src/raw/adapters/typed_kv/api.rs
  core/src/raw/http_util/header.rs
  core/src/raw/ops.rs
Owners: @Xuanwo

refactor(types): migrate types layer to use Timestamp wrapper
  core/src/types/metadata.rs
  core/src/types/operator/operator_futures.rs
  core/src/types/options.rs
Owners: @Xuanwo

refactor(services): migrate cloud storage services to Timestamp wrapper
  core/src/services/aliyun_drive/backend.rs
  core/src/services/aliyun_drive/core.rs
  core/src/services/aliyun_drive/lister.rs
  core/src/services/azblob/core.rs
  core/src/services/azblob/lister.rs
  core/src/services/azdls/lister.rs
  core/src/services/azfile/lister.rs
  core/src/services/b2/core.rs
  core/src/services/cloudflare_kv/backend.rs
  core/src/services/cloudflare_kv/lister.rs
  core/src/services/cloudflare_kv/writer.rs
  core/src/services/cos/core.rs
  core/src/services/cos/lister.rs
  core/src/services/gcs/core.rs
  core/src/services/gcs/lister.rs
  core/src/services/oss/core.rs
  core/src/services/oss/lister.rs
  core/src/services/s3/core.rs
  core/src/services/s3/lister.rs
  core/src/services/vercel_blob/core.rs
Owners: @Xuanwo

refactor(services): migrate filesystem services to Timestamp wrapper
  core/src/services/alluxio/core.rs
  core/src/services/compfs/backend.rs
  core/src/services/fs/core.rs
  core/src/services/fs/writer.rs
  core/src/services/ftp/backend.rs
  core/src/services/ftp/lister.rs
  core/src/services/hdfs/backend.rs
  core/src/services/hdfs/lister.rs
  core/src/services/hdfs_native/backend.rs
  core/src/services/hdfs_native/lister.rs
  core/src/services/monoiofs/backend.rs
  core/src/services/monoiofs/writer.rs
  core/src/services/sftp/utils.rs
  core/src/services/webdav/core.rs
  core/src/services/webhdfs/backend.rs
  core/src/services/webhdfs/lister.rs
Owners: @Xuanwo

refactor(services): migrate other services to Timestamp wrapper
  core/src/services/cacache/backend.rs
  core/src/services/dashmap/writer.rs
  core/src/services/dbfs/backend.rs
  core/src/services/dbfs/lister.rs
  core/src/services/dropbox/backend.rs
  core/src/services/dropbox/builder.rs
  core/src/services/dropbox/core.rs
  core/src/services/dropbox/lister.rs
  core/src/services/gdrive/backend.rs
  core/src/services/gdrive/builder.rs
  core/src/services/gdrive/core.rs
  core/src/services/github/core.rs
  core/src/services/huggingface/backend.rs
  core/src/services/huggingface/lister.rs
  core/src/services/koofr/backend.rs
  core/src/services/koofr/lister.rs
  core/src/services/lakefs/backend.rs
  core/src/services/lakefs/lister.rs
  core/src/services/mini_moka/writer.rs
  core/src/services/onedrive/builder.rs
  core/src/services/onedrive/core.rs
  core/src/services/onedrive/lister.rs
  core/src/services/onedrive/writer.rs
  core/src/services/pcloud/core.rs
  core/src/services/seafile/core.rs
  core/src/services/seafile/lister.rs
  core/src/services/swift/lister.rs
  core/src/services/upyun/core.rs
  core/src/services/upyun/lister.rs
  core/src/services/yandex_disk/core.rs
Owners: @Xuanwo

chore: update bin/ofs Cargo.lock after Timestamp refactor
  bin/ofs/Cargo.lock
Owners: @Xuanwo

fix(bindings/java): migrate to use Timestamp wrapper
  bindings/java/src/convert.rs
Owners: @tisonkun

fix(bindings/python): migrate to use Timestamp wrapper
  bindings/python/src/metadata.rs
  bindings/python/src/options.rs
Owners: @messense, @Zheaoli

fix(bindings/nodejs): replace parse_datetime_from_rfc3339 with Timestamp::from_str
  bindings/nodejs/src/options.rs
Owners: @suyanhanx

.github/CODEOWNERS:

* @Xuanwo

/core @Xuanwo
/bindings/c/ @xyjixyjixyji
/bindings/haskell/ @silver-ymz
/bindings/java/ @tisonkun
/bindings/lua/ @oowl
/bindings/nodejs/ @suyanhanx
/bindings/python/ @messense @Zheaoli
/bindings/ruby/ @PsiACE
