Repository apache/opendal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

use workspace metadata and versions
  core/Cargo.lock
  core/layers/async-backtrace/Cargo.toml
  core/layers/await-tree/Cargo.toml
  core/services/azblob/Cargo.toml
  core/services/azdls/Cargo.toml
  core/services/azfile/Cargo.toml
  core/services/azure-common/Cargo.toml
  core/services/ghac/Cargo.toml
  core/services/moka/Cargo.toml
  core/services/s3/Cargo.toml
Owners: @Xuanwo

update metadata and versions
  core/Cargo.lock
  core/Cargo.toml
  core/fuzz/Cargo.toml
  core/services/aliyun-drive/Cargo.toml
Owners: @Xuanwo

fix formatting
  core/Cargo.lock
  core/Cargo.toml
  core/fuzz/Cargo.toml
  core/fuzz/fuzz_reader.rs
  core/fuzz/fuzz_writer.rs
  core/services/aliyun-drive/Cargo.toml
Owners: @Xuanwo

remove release profile
  core/Cargo.toml
Owners: @Xuanwo

refactor: Split capability check to seperate layer
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/layers/correctness_check.rs
  core/core/src/layers/mod.rs
  core/layers/capability-check/Cargo.toml
  core/layers/capability-check/src/lib.rs
  core/src/lib.rs
Owners: @Xuanwo

chore: fix formatting using taplo (#6877)
  bindings/dart/rust/Cargo.toml
  bindings/nodejs/Cargo.toml
  bindings/ruby/Cargo.toml
  core/Cargo.lock
  core/Cargo.toml
  core/benches/vs_fs/Cargo.toml
  core/benches/vs_s3/Cargo.toml
  core/core/Cargo.toml
  core/edge/file_write_on_full_disk/Cargo.toml
  core/edge/s3_aws_assume_role_with_web_identity/Cargo.toml
  core/examples/basic/Cargo.toml
  core/examples/concurrent-upload/Cargo.toml
  core/examples/multipart-upload/Cargo.toml
  core/fuzz/Cargo.toml
  core/fuzz/fuzz_reader.rs
  core/fuzz/fuzz_writer.rs
  core/layers/async-backtrace/Cargo.toml
  core/layers/await-tree/Cargo.toml
  core/services/aliyun-drive/Cargo.toml
  core/services/azblob/Cargo.toml
  core/services/azdls/Cargo.toml
  core/services/azfile/Cargo.toml
  core/services/azure-common/Cargo.toml
  core/services/ghac/Cargo.toml
  core/services/moka/Cargo.toml
  core/services/s3/Cargo.toml
  deny.toml
  integrations/object_store/Cargo.toml
Owners: @Xuanwo, @suyanhanx, @PsiACE

follow pattern
  core/layers/capability-check/Cargo.toml
Owners: @Xuanwo

refactor: Split capability check to seperate layer (#6952)
  core/Cargo.lock
  core/Cargo.toml
  core/core/src/layers/correctness_check.rs
  core/core/src/layers/mod.rs
  core/layers/capability-check/Cargo.toml
  core/layers/capability-check/src/lib.rs
  core/src/lib.rs
Owners: @Xuanwo

crate for hdfs-native service
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/hdfs_native/docs.md
  core/core/src/services/mod.rs
  core/edge/file_write_on_full_disk/Cargo.toml
  core/examples/basic/Cargo.toml
  core/examples/concurrent-upload/Cargo.toml
  core/layers/await-tree/Cargo.toml
  core/services/hdfs-native/Cargo.toml
  core/services/hdfs-native/src/backend.rs
  core/services/hdfs-native/src/config.rs
  core/services/hdfs-native/src/core.rs
  core/services/hdfs-native/src/deleter.rs
  core/services/hdfs-native/src/error.rs
  core/services/hdfs-native/src/lib.rs
  core/services/hdfs-native/src/lister.rs
  core/services/hdfs-native/src/reader.rs
  core/services/hdfs-native/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

refactor: split metrics related crates to new crates
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/layers/mod.rs
  core/core/src/layers/observe/mod.rs
  core/core/src/raw/http_util/body.rs
  core/core/src/raw/http_util/client.rs
  core/layers/fastmetrics/Cargo.toml
  core/layers/fastmetrics/src/lib.rs
  core/layers/metrics/Cargo.toml
  core/layers/metrics/src/lib.rs
  core/layers/observe-metrics-common/Cargo.toml
  core/layers/observe-metrics-common/src/lib.rs
  core/layers/otelmetrics/Cargo.toml
  core/layers/otelmetrics/src/lib.rs
  core/layers/prometheus-client/Cargo.toml
  core/layers/prometheus-client/src/lib.rs
  core/layers/prometheus/Cargo.toml
  core/layers/prometheus/src/lib.rs
  core/src/lib.rs
Owners: @Xuanwo

update docs.md
  core/services/hdfs-native/src/docs.md
Owners: @Xuanwo

refactor: Split service hdfs-native to new crate (#6953)
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/edge/file_write_on_full_disk/Cargo.toml
  core/examples/basic/Cargo.toml
  core/examples/concurrent-upload/Cargo.toml
  core/layers/await-tree/Cargo.toml
  core/services/hdfs-native/Cargo.toml
  core/services/hdfs-native/src/backend.rs
  core/services/hdfs-native/src/config.rs
  core/services/hdfs-native/src/core.rs
  core/services/hdfs-native/src/deleter.rs
  core/services/hdfs-native/src/docs.md
  core/services/hdfs-native/src/error.rs
  core/services/hdfs-native/src/lib.rs
  core/services/hdfs-native/src/lister.rs
  core/services/hdfs-native/src/reader.rs
  core/services/hdfs-native/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

refactor: split metrics related crates to new crates (#6954)
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/layers/mod.rs
  core/core/src/layers/observe/mod.rs
  core/core/src/raw/http_util/body.rs
  core/core/src/raw/http_util/client.rs
  core/layers/fastmetrics/Cargo.toml
  core/layers/fastmetrics/src/lib.rs
  core/layers/metrics/Cargo.toml
  core/layers/metrics/src/lib.rs
  core/layers/observe-metrics-common/Cargo.toml
  core/layers/observe-metrics-common/src/lib.rs
  core/layers/otelmetrics/Cargo.toml
  core/layers/otelmetrics/src/lib.rs
  core/layers/prometheus-client/Cargo.toml
  core/layers/prometheus-client/src/lib.rs
  core/layers/prometheus/Cargo.toml
  core/layers/prometheus/src/lib.rs
  core/src/lib.rs
Owners: @Xuanwo

chore(core): remove redundant clones
  core/core/src/layers/retry.rs
  core/core/src/types/read/buffer_stream.rs
  core/core/src/types/read/reader.rs
Owners: @Xuanwo

chore(core): avoid inefficient to_string
  core/core/src/raw/http_util/multipart.rs
Owners: @Xuanwo

chore(core): remove redundant clones (#6955)
  core/core/src/layers/retry.rs
  core/core/src/types/read/buffer_stream.rs
  core/core/src/types/read/reader.rs
Owners: @Xuanwo

chore(core): avoid inefficient to_string (#6956)
  core/core/src/raw/http_util/multipart.rs
Owners: @Xuanwo

chore(core): clean up some miscs related to deprecated http client config
  core/core/src/raw/http_util/client.rs
  core/core/src/services/alluxio/config.rs
  core/core/src/services/b2/config.rs
  core/core/src/services/cloudflare_kv/config.rs
  core/core/src/services/cos/config.rs
  core/core/src/services/d1/config.rs
  core/core/src/services/dropbox/config.rs
  core/core/src/services/gcs/config.rs
  core/core/src/services/gdrive/config.rs
  core/core/src/services/github/config.rs
  core/core/src/services/http/config.rs
  core/core/src/services/ipfs/config.rs
  core/core/src/services/ipmfs/config.rs
  core/core/src/services/koofr/config.rs
  core/core/src/services/obs/config.rs
  core/core/src/services/onedrive/config.rs
  core/core/src/services/oss/config.rs
  core/core/src/services/pcloud/config.rs
  core/core/src/services/seafile/config.rs
  core/core/src/services/upyun/config.rs
  core/core/src/services/vercel_artifacts/config.rs
  core/core/src/services/vercel_blob/config.rs
  core/core/src/services/webdav/config.rs
  core/core/src/services/yandex_disk/config.rs
Owners: @Xuanwo

modify unrelated code
  core/core/src/layers/immutable_index.rs
  core/core/src/raw/oio/write/api.rs
Owners: @Xuanwo

Upgrade redis dependency to version 1
  core/Cargo.lock
  core/core/Cargo.toml
  core/core/src/services/redis/backend.rs
  core/core/src/services/sqlite/backend.rs
Owners: @Xuanwo

chore(core): clean up some miscs related to deprecated http client config (#6957)
  core/core/src/raw/http_util/client.rs
  core/core/src/services/alluxio/config.rs
  core/core/src/services/b2/config.rs
  core/core/src/services/cloudflare_kv/config.rs
  core/core/src/services/cos/config.rs
  core/core/src/services/d1/config.rs
  core/core/src/services/dropbox/config.rs
  core/core/src/services/gcs/config.rs
  core/core/src/services/gdrive/config.rs
  core/core/src/services/github/config.rs
  core/core/src/services/http/config.rs
  core/core/src/services/ipfs/config.rs
  core/core/src/services/ipmfs/config.rs
  core/core/src/services/koofr/config.rs
  core/core/src/services/obs/config.rs
  core/core/src/services/onedrive/config.rs
  core/core/src/services/oss/config.rs
  core/core/src/services/pcloud/config.rs
  core/core/src/services/seafile/config.rs
  core/core/src/services/upyun/config.rs
  core/core/src/services/vercel_artifacts/config.rs
  core/core/src/services/vercel_blob/config.rs
  core/core/src/services/webdav/config.rs
  core/core/src/services/yandex_disk/config.rs
Owners: @Xuanwo

chore: Upgrade redis dependency to version 1 (#6959)
  core/Cargo.lock
  core/core/Cargo.toml
  core/core/src/services/redis/backend.rs
  core/core/src/services/sqlite/backend.rs
Owners: @Xuanwo

fix conflict
  core/core/src/blocking/operator.rs
  core/core/src/types/operator/operator.rs
Owners: @Xuanwo

try 3922
  core/core/src/blocking/operator.rs
  core/core/src/types/operator/operator.rs
Owners: @Xuanwo

decrease explanation
  core/core/src/blocking/operator.rs
  core/core/src/types/operator/operator.rs
Owners: @Xuanwo

allow
  bindings/haskell/src/lib.rs
  core/core/src/blocking/operator.rs
Owners: @silver-ymz, @Xuanwo

update
  bindings/dart/rust/src/frb_generated.rs
  bindings/java/src/async_operator.rs
  bindings/java/src/operator.rs
  bindings/lua/src/lib.rs
  bindings/nodejs/src/lib.rs
  bindings/ocaml/src/operator/mod.rs
  bindings/python/src/operator.rs
  bindings/ruby/src/operator.rs
  core/Cargo.lock
  core/core/src/blocking/operator.rs
  core/core/src/types/operator/operator.rs
  core/tests/behavior/async_delete.rs
  core/tests/behavior/async_list.rs
  integrations/unftp-sbe/src/lib.rs
Owners: @Xuanwo, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

fix import
  core/tests/behavior/async_list.rs
Owners: @Xuanwo

fmt error
  bindings/lua/src/lib.rs
Owners: @oowl

fix error from behavior test local_fs
  bindings/c/include/opendal.h
  bindings/c/src/operator.rs
Owners: @xyjixyjixyji

refactor(core): make BytesRange::to_range_as_usize public
  core/core/src/raw/http_util/bytes_range.rs
Owners: @Xuanwo

refactor(services/mysql): split service into standalone crate
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/mysql/Cargo.toml
  core/services/mysql/src/backend.rs
  core/services/mysql/src/config.rs
  core/services/mysql/src/core.rs
  core/services/mysql/src/deleter.rs
  core/services/mysql/src/docs.md
  core/services/mysql/src/lib.rs
  core/services/mysql/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

refactor: Split service mysql to new crate (#6960)
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/raw/http_util/bytes_range.rs
  core/core/src/services/mod.rs
  core/services/mysql/Cargo.toml
  core/services/mysql/src/backend.rs
  core/services/mysql/src/config.rs
  core/services/mysql/src/core.rs
  core/services/mysql/src/deleter.rs
  core/services/mysql/src/docs.md
  core/services/mysql/src/lib.rs
  core/services/mysql/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

refactor(layers): split retry into standalone crate
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/layers/mod.rs
  core/core/src/lib.rs
  core/core/src/raw/ops.rs
  core/layers/retry/Cargo.toml
  core/layers/retry/src/lib.rs
Owners: @Xuanwo

refactor: split tracing layer to new crate
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/layers/mod.rs
  core/layers/tracing/Cargo.toml
  core/layers/tracing/src/lib.rs
  core/src/lib.rs
Owners: @Xuanwo

refactor: split throttle crate to new crate
  .gitignore
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/layers/mod.rs
  core/layers/throttle/Cargo.toml
  core/layers/throttle/src/lib.rs
  core/src/lib.rs
Owners: @Xuanwo

feat: split mongodb service into new crate (RFC-6828)
  core/core/src/services/mongodb/writer.rs
  opendal-services/mongodb/Cargo.toml
  opendal-services/src/backend.rs
  opendal-services/src/config.rs
  opendal-services/src/core.rs
  opendal-services/src/deleter.rs
  opendal-services/src/docs.md
  opendal-services/src/lib.rs
  opendal-services/src/writer.rs
Owners: @Xuanwo

feat(layer): split TimeoutLayer into opendal-layer-timeout
  core/Cargo.lock
  core/Cargo.toml
  core/core/src/docs/performance/http_optimization.md
  core/core/src/layers/mod.rs
  core/core/src/layers/retry.rs
  core/core/src/raw/tests/utils.rs
  core/core/src/types/execute/executor.rs
  core/layers/timeout/Cargo.toml
  core/layers/timeout/src/lib.rs
  core/src/lib.rs
Owners: @Xuanwo

fix: add timeout layer dev-dependency for doctests
  core/Cargo.lock
  core/core/Cargo.toml
Owners: @Xuanwo

refactor: Split fastrace layer to new crate
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/layers/mod.rs
  core/layers/fastrace/Cargo.toml
  core/layers/fastrace/src/lib.rs
  core/src/lib.rs
Owners: @Xuanwo

.github/CODEOWNERS:

* @Xuanwo

/core @Xuanwo
/bindings/c/ @xyjixyjixyji
/bindings/haskell/ @silver-ymz
/bindings/java/ @tisonkun
/bindings/lua/ @oowl
/bindings/nodejs/ @suyanhanx
/bindings/python/ @messense @Zheaoli
/bindings/ruby/ @PsiACE
