Repository apache/opendal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

.github/CODEOWNERS:

* @Xuanwo

/core @Xuanwo
/bindings/c/ @xyjixyjixyji
/bindings/haskell/ @silver-ymz
/bindings/java/ @tisonkun
/bindings/lua/ @oowl
/bindings/nodejs/ @suyanhanx
/bindings/python/ @messense @Zheaoli
/bindings/ruby/ @PsiACE

ci: Split ci_bindings_nodejs.yml
  .github/workflows/ci_bindings_nodejs.yml
  .github/workflows/release_nodejs.yml
  bindings/nodejs/npm/darwin-arm64/package.json
  bindings/nodejs/npm/darwin-x64/package.json
  bindings/nodejs/npm/linux-arm64-gnu/package.json
  bindings/nodejs/npm/linux-arm64-musl/package.json
  bindings/nodejs/npm/linux-x64-gnu/package.json
  bindings/nodejs/npm/linux-x64-musl/package.json
  bindings/nodejs/npm/win32-arm64-msvc/package.json
  bindings/nodejs/npm/win32-x64-msvc/package.json
  bindings/nodejs/package.json
Owners: @Xuanwo, @suyanhanx

ci
  .github/workflows/release_nodejs.yml
Owners: @Xuanwo

ci: refactor nodejs ci workflow (#6491)
  .github/workflows/ci_bindings_nodejs.yml
  .github/workflows/release_nodejs.yml
  bindings/nodejs/Cargo.toml
  bindings/nodejs/generated.d.ts
  bindings/nodejs/generated.js
  bindings/nodejs/npm/darwin-arm64/package.json
  bindings/nodejs/npm/darwin-x64/package.json
  bindings/nodejs/npm/linux-arm64-gnu/package.json
  bindings/nodejs/npm/linux-arm64-musl/package.json
  bindings/nodejs/npm/linux-x64-gnu/package.json
  bindings/nodejs/npm/linux-x64-musl/README.md
  bindings/nodejs/npm/linux-x64-musl/package.json
  bindings/nodejs/npm/win32-x64-msvc/package.json
  bindings/nodejs/package.json
  bindings/nodejs/pnpm-lock.yaml
Owners: @Xuanwo, @suyanhanx

ci: update workflow nodejs version and remove corepack
  .github/workflows/ci_check.yml
  .github/workflows/docs.yml
  .github/workflows/test_behavior_binding_nodejs.yml
Owners: @Xuanwo

ci: update workflow nodejs version and remove corepack (#6495)
  .github/workflows/ci_check.yml
  .github/workflows/docs.yml
  .github/workflows/test_behavior_binding_nodejs.yml
Owners: @Xuanwo

fix
  core/src/raw/ops.rs
  core/src/types/operator/operator_futures.rs
  core/src/types/options.rs
  core/tests/behavior/async_write.rs
Owners: @Xuanwo

Add support for Content-Language in write operations
  core/src/lib.rs
  core/src/raw/ops.rs
  core/src/types/capability.rs
  core/src/types/metadata.rs
  core/src/types/operator/operator_futures.rs
  core/src/types/options.rs
  core/tests/behavior/async_write.rs
Owners: @Xuanwo

feat(bindings/python): Add feature groups for selective service building
  bindings/python/Cargo.toml
  bindings/python/README.md
Owners: @messense, @Zheaoli

fix(services/moka): prevent the weigher from being overwritten
  core/src/services/moka/backend.rs
Owners: @Xuanwo

fix(services/moka): prevent the weigher from being overwritten (#6498)
  core/src/services/moka/backend.rs
Owners: @Xuanwo

fix azblob base64 validation
  core/src/services/azblob/backend.rs
Owners: @Xuanwo

fix lint
  core/src/types/list.rs
Owners: @Xuanwo

chore(bindings/nodejs): update generated code comments style due to napi-derive indentation fix
  bindings/nodejs/Cargo.toml
  bindings/nodejs/generated.d.ts
  bindings/nodejs/generated.js
  bindings/nodejs/package.json
  bindings/nodejs/pnpm-lock.yaml
Owners: @suyanhanx

feat(bindings/cpp): remove hardcoded service features from Cargo.toml
  bindings/cpp/Cargo.toml
Owners: @Xuanwo

feat(bindings/cpp): add FEATURES cache variable to CMakeLists.txt
  bindings/cpp/CMakeLists.txt
Owners: @Xuanwo

chore(bindings/nodejs): update generated code comments style due to napi-derive indentation fix (#6501)
  bindings/nodejs/Cargo.toml
  bindings/nodejs/generated.d.ts
  bindings/nodejs/generated.js
  bindings/nodejs/package.json
  bindings/nodejs/pnpm-lock.yaml
Owners: @suyanhanx

fix(services/azblob): Fix azblob base64 validation (#6500)
  core/src/services/azblob/backend.rs
  core/src/types/list.rs
Owners: @Xuanwo

fix(bindings/nodejs): use value.prefetch instead of value.concurrent for prefetch option
  bindings/nodejs/src/options.rs
Owners: @suyanhanx

fix(bindings/nodejs): use value.prefetch instead of value.concurrent for prefetch option (#6502)
  bindings/nodejs/src/options.rs
Owners: @suyanhanx

feat(bindings/cpp): implement feature merging logic for configurable builds
  bindings/cpp/CMakeLists.txt
Owners: @Xuanwo

docs(bindings/cpp): add FEATURES option documentation
  bindings/cpp/README.md
Owners: @Xuanwo

ci(bindings/cpp): add FEATURES support to behavior test action
  .github/actions/test_behavior_binding_cpp/action.yaml
Owners: @Xuanwo

feat(services/oss): allow users to specify endpoint addressing style
  core/src/services/oss/backend.rs
  core/src/services/oss/config.rs
Owners: @Xuanwo

ci(bindings/cpp): add FEATURES parameter to all build configurations
  .github/workflows/ci_bindings_cpp.yml
Owners: @Xuanwo

feat(bindings/cpp): add conditional RocksDB linking support
  bindings/cpp/CMakeLists.txt
Owners: @Xuanwo

feat(bindings/cpp): add conditional HDFS linking support
  bindings/cpp/CMakeLists.txt
Owners: @Xuanwo

test(bindings/cpp): skip ReadAfterModification test for alluxio
  bindings/cpp/tests/behavior/read_test.cpp
Owners: @Xuanwo

test(bindings/cpp): skip OverwriteExistingFile test for alluxio
  bindings/cpp/tests/behavior/write_test.cpp
Owners: @Xuanwo

test(bindings/cpp): skip WriteAppendBehavior test for alluxio
  bindings/cpp/tests/behavior/write_test.cpp
Owners: @Xuanwo

test(bindings/cpp): skip DeleteSpecialCharFile test for alluxio
  bindings/cpp/tests/behavior/delete_test.cpp
Owners: @Xuanwo

test(bindings/cpp): skip ListEmptyDirectory test for alluxio
  bindings/cpp/tests/behavior/list_test.cpp
Owners: @Xuanwo

test(bindings/cpp): skip ListDirectoryWithFiles test for alluxio
  bindings/cpp/tests/behavior/list_test.cpp
Owners: @Xuanwo

test(bindings/cpp): skip ListNestedDirectories test for alluxio
  bindings/cpp/tests/behavior/list_test.cpp
Owners: @Xuanwo

test(bindings/cpp): skip ListManyFiles test for alluxio
  bindings/cpp/tests/behavior/list_test.cpp
Owners: @Xuanwo

test(bindings/cpp): skip ListSpecialCharNames test for alluxio
  bindings/cpp/tests/behavior/list_test.cpp
Owners: @Xuanwo

test(bindings/cpp): skip ListerIterator test for alluxio
  bindings/cpp/tests/behavior/list_test.cpp
Owners: @Xuanwo

fix(bindings/cpp): improve HDFS library detection using HADOOP_HOME
  bindings/cpp/CMakeLists.txt
Owners: @Xuanwo

fix(bindings/nodejs): Change expires param to bigint in presign methods
  bindings/nodejs/generated.d.ts
  bindings/nodejs/src/lib.rs
Owners: @suyanhanx

ci: add etcd logs
  .github/services/etcd/etcd-tls/action.yml
  .github/services/memcached/memcached_with_auth/action.yml
  fixtures/etcd/docker-compose-cluster.yml
  fixtures/etcd/docker-compose-standalone-tls.yml
  fixtures/etcd/docker-compose-standalone.yml
  fixtures/memcached/docker-compose-memcached-with-auth.yml
Owners: @Xuanwo

chore(ci): migrate etcd, memcached, redis, and redis-cluster images to new sources
  fixtures/etcd/docker-compose-cluster.yml
  fixtures/etcd/docker-compose-standalone-tls.yml
  fixtures/etcd/docker-compose-standalone.yml
  fixtures/memcached/docker-compose-memcached-with-auth.yml
  fixtures/memcached/docker-compose-memcached.yml
  fixtures/redis/docker-compose-redis-cluster-tls.yml
  fixtures/redis/docker-compose-redis-cluster.yml
  fixtures/redis/docker-compose-redis-tls.yml
  fixtures/redis/docker-compose-redis.yml
Owners: @Xuanwo
