Repository apache/opendal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

.github/CODEOWNERS:

* @Xuanwo

/core @Xuanwo
/bindings/c/ @xyjixyjixyji
/bindings/haskell/ @silver-ymz
/bindings/java/ @tisonkun
/bindings/lua/ @oowl
/bindings/nodejs/ @suyanhanx
/bindings/python/ @messense @Zheaoli
/bindings/ruby/ @PsiACE

refactor(services/webdav): use quick-xml for XML parsing and generation
  core/services/webdav/src/core.rs
Owners: @Xuanwo

docs(services/webdav): Fix bare URL warnings in doc comments
  core/services/webdav/src/backend.rs
  core/services/webdav/src/config.rs
Owners: @Xuanwo

refactor: Split redis service to new crate
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/redis/Cargo.toml
  core/services/redis/src/backend.rs
  core/services/redis/src/config.rs
  core/services/redis/src/core.rs
  core/services/redis/src/delete.rs
  core/services/redis/src/docs.md
  core/services/redis/src/lib.rs
  core/services/redis/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

fix license check and redis service features
  core/Cargo.toml
  core/services/redis/Cargo.toml
Owners: @Xuanwo

refactor
  bindings/java/tools/build.py
Owners: @tisonkun

fix(services/wasi-fs): remove simulated copy capability
  core/services/wasi-fs/src/backend.rs
  core/services/wasi-fs/src/core.rs
Owners: @Xuanwo

refactor(services/wasi-fs): remove unnecessary . and .. check in lister
  core/services/wasi-fs/src/lister.rs
Owners: @Xuanwo

refactor: Split redis service to new crate (#7091)
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/redis/Cargo.toml
  core/services/redis/src/backend.rs
  core/services/redis/src/config.rs
  core/services/redis/src/core.rs
  core/services/redis/src/delete.rs
  core/services/redis/src/docs.md
  core/services/redis/src/lib.rs
  core/services/redis/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

fix(core): Avoid tests module name clash
  core/src/lib.rs
Owners: @Xuanwo

Fix build
  core/src/lib.rs
Owners: @Xuanwo

fix(bindings/cpp): Honor FEATURES as alias
  bindings/cpp/CMakeLists.txt
Owners: @Xuanwo

Revert "fix(bindings/cpp): Honor FEATURES as alias"
  bindings/cpp/CMakeLists.txt
Owners: @Xuanwo

fix(core): Add init_default_registry for staticlib bindings
  bindings/cpp/src/async.rs
  bindings/cpp/src/lib.rs
  core/src/lib.rs
Owners: @Xuanwo

init in c
  bindings/c/src/operator.rs
Owners: @xyjixyjixyji

Already enable memory
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/core/src/types/operator/registry.rs
  core/src/lib.rs
Owners: @Xuanwo

chore(layers): unify layer crates and gate dtrace on linux
  core/Cargo.lock
  core/Cargo.toml
  core/core/src/docs/performance/http_optimization.md
  core/core/src/docs/upgrade.md
  core/layers/async-backtrace/src/lib.rs
  core/layers/await-tree/src/lib.rs
  core/layers/capability-check/src/lib.rs
  core/layers/chaos/src/lib.rs
  core/layers/concurrent-limit/src/lib.rs
  core/layers/dtrace/Cargo.toml
  core/layers/dtrace/src/lib.rs
  core/layers/fastmetrics/Cargo.toml
  core/layers/fastmetrics/src/lib.rs
  core/layers/fastrace/src/lib.rs
  core/layers/hotpath/src/lib.rs
  core/layers/immutable-index/src/lib.rs
  core/layers/logging/src/lib.rs
  core/layers/metrics/src/lib.rs
  core/layers/mime-guess/src/lib.rs
  core/layers/observe-metrics-common/Cargo.toml
  core/layers/observe-metrics-common/src/lib.rs
  core/layers/otelmetrics/Cargo.toml
  core/layers/otelmetrics/src/lib.rs
  core/layers/oteltrace/src/lib.rs
  core/layers/prometheus-client/Cargo.toml
  core/layers/prometheus-client/src/lib.rs
  core/layers/prometheus/Cargo.toml
  core/layers/prometheus/src/lib.rs
  core/layers/retry/Cargo.toml
  core/layers/retry/src/lib.rs
  core/layers/tail-cut/src/lib.rs
  core/layers/throttle/Cargo.toml
  core/layers/throttle/src/lib.rs
  core/layers/timeout/Cargo.toml
  core/layers/timeout/src/lib.rs
  core/layers/tracing/src/lib.rs
Owners: @Xuanwo

fix toml fmt
  core/layers/dtrace/Cargo.toml
Owners: @Xuanwo

update docs
  core/layers/dtrace/src/lib.rs
Owners: @Xuanwo

feat: Introduce `ReadOptions` and `WriteOptions` for Java binding stream operations and `Operator.read` method.
  bindings/java/src/lib.rs
  bindings/java/src/main/java/org/apache/opendal/Operator.java
  bindings/java/src/main/java/org/apache/opendal/OperatorInputStream.java
  bindings/java/src/main/java/org/apache/opendal/OperatorOutputStream.java
  bindings/java/src/operator.rs
  bindings/java/src/operator_input_stream.rs
  bindings/java/src/operator_output_stream.rs
  bindings/java/src/test/java/org/apache/opendal/test/OperatorInputOutputStreamTest.java
Owners: @tisonkun

reformatted the code
  bindings/java/src/test/java/org/apache/opendal/test/OperatorInputOutputStreamTest.java
Owners: @tisonkun

feat: Binding Java's createInputStream and createOutputStream to support options (#7097)
  bindings/java/src/lib.rs
  bindings/java/src/main/java/org/apache/opendal/Operator.java
  bindings/java/src/main/java/org/apache/opendal/OperatorInputStream.java
  bindings/java/src/main/java/org/apache/opendal/OperatorOutputStream.java
  bindings/java/src/operator.rs
  bindings/java/src/operator_input_stream.rs
  bindings/java/src/operator_output_stream.rs
  bindings/java/src/test/java/org/apache/opendal/test/OperatorInputOutputStreamTest.java
Owners: @tisonkun

refactor(core): Optimize Writer::write_from to avoid extra copy
  core/core/src/types/write/writer.rs
Owners: @Xuanwo

refactor(core): Optimize Writer::write_from to avoid extra copy (#7098)
  core/core/src/types/write/writer.rs
Owners: @Xuanwo

fix(core): skip PermissionDenied errors in recursive lister
  core/core/src/raw/oio/list/flat_list.rs
Owners: @Xuanwo

fix(core): skip PermissionDenied errors in recursive lister
  core/core/src/raw/oio/list/flat_list.rs
Owners: @Xuanwo

docs: Correcting errors in the README example
  bindings/c/README.md
Owners: @xyjixyjixyji

docs: Correcting errors in the c-bindings README example (#7100)
  bindings/c/README.md
Owners: @xyjixyjixyji

chore(layer/fastmetrics): upgrade fastmetrics to v0.5.1
  core/Cargo.lock
  core/layers/fastmetrics/Cargo.toml
  core/layers/fastmetrics/src/lib.rs
Owners: @Xuanwo

feat(services/webdav): Add user defined metadata support (#7074)
  core/services/webdav/src/backend.rs
  core/services/webdav/src/config.rs
  core/services/webdav/src/core.rs
  core/services/webdav/src/writer.rs
Owners: @Xuanwo

feat(bindings/c): Add ReadOptions support for new options API
  bindings/c/include/opendal.h
  bindings/c/src/lib.rs
  bindings/c/src/operator.rs
  bindings/c/src/options.rs
  bindings/c/tests/Makefile
  bindings/c/tests/test_runner.cpp
  bindings/c/tests/test_suites_options.cpp
Owners: @xyjixyjixyji

feat(bindings/c): add tests README for "Add ReadOptions support for new options API"
  bindings/c/tests/README.md
Owners: @xyjixyjixyji

delete test for timestamp service
  bindings/c/tests/test_suites_options.cpp
Owners: @xyjixyjixyji

fix typo and run clippy to check again
  bindings/c/src/options.rs
Owners: @xyjixyjixyji

Build dyn lib via docker
  .github/workflows/release_java.yml
  bindings/java/src/main/java/org/apache/opendal/Environment.java
  bindings/java/tools/build.py
Owners: @Xuanwo, @tisonkun

chore(layer/fastmetrics): upgrade fastmetrics to v0.5.1 (#7104)
  core/Cargo.lock
  core/layers/fastmetrics/Cargo.toml
  core/layers/fastmetrics/src/lib.rs
Owners: @Xuanwo

chore(layers): unify layer crates and gate dtrace on linux (#7094)
  core/Cargo.lock
  core/Cargo.toml
  core/core/src/docs/performance/http_optimization.md
  core/core/src/docs/upgrade.md
  core/layers/async-backtrace/src/lib.rs
  core/layers/await-tree/src/lib.rs
  core/layers/capability-check/src/lib.rs
  core/layers/chaos/src/lib.rs
  core/layers/concurrent-limit/src/lib.rs
  core/layers/dtrace/Cargo.toml
  core/layers/dtrace/src/lib.rs
  core/layers/fastmetrics/src/lib.rs
  core/layers/fastrace/src/lib.rs
  core/layers/hotpath/src/lib.rs
  core/layers/immutable-index/src/lib.rs
  core/layers/logging/src/lib.rs
  core/layers/metrics/src/lib.rs
  core/layers/mime-guess/src/lib.rs
  core/layers/observe-metrics-common/Cargo.toml
  core/layers/observe-metrics-common/src/lib.rs
  core/layers/otelmetrics/Cargo.toml
  core/layers/otelmetrics/src/lib.rs
  core/layers/oteltrace/src/lib.rs
  core/layers/prometheus-client/Cargo.toml
  core/layers/prometheus-client/src/lib.rs
  core/layers/prometheus/Cargo.toml
  core/layers/prometheus/src/lib.rs
  core/layers/retry/Cargo.toml
  core/layers/retry/src/lib.rs
  core/layers/tail-cut/src/lib.rs
  core/layers/throttle/Cargo.toml
  core/layers/throttle/src/lib.rs
  core/layers/timeout/Cargo.toml
  core/layers/timeout/src/lib.rs
  core/layers/tracing/src/lib.rs
Owners: @Xuanwo

chore: no need Error::map method
  core/core/src/types/error.rs
  core/services/ghac/src/core.rs
  core/services/ghac/src/writer.rs
Owners: @Xuanwo
