Repository apache/opendal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

Make sure blocking structs drop inside async context
  core/src/blocking/list.rs
  core/src/blocking/read/buffer_iterator.rs
  core/src/blocking/read/reader.rs
  core/src/blocking/read/std_bytes_iterator.rs
  core/src/blocking/read/std_reader.rs
  core/src/blocking/write/std_writer.rs
  core/src/blocking/write/writer.rs
Owners: @Xuanwo

Remove blocking
  bindings/python/python/opendal/__init__.pyi
  bindings/python/tests/test_sync_delete.py
  bindings/python/tests/test_sync_exists.py
Owners: @messense, @Zheaoli

Fix unit tests
  core/src/blocking/operator.rs
  core/src/blocking/write/writer.rs
  core/src/types/operator/operator.rs
Owners: @Xuanwo

Fix dart
  bindings/dart/rust/Cargo.toml
  bindings/dart/rust/src/api/opendal_api.rs
Owners: @Xuanwo

Fix dotnet
  bindings/dotnet/Cargo.toml
  bindings/dotnet/src/lib.rs
Owners: @Xuanwo

Format
  bindings/dotnet/Cargo.toml
Owners: @Xuanwo

Fix haskell
  bindings/haskell/Cargo.toml
  bindings/haskell/src/lib.rs
Owners: @silver-ymz

Re-gen for nodejs
  bindings/nodejs/generated.d.ts
Owners: @suyanhanx

Fix ocamle build
  bindings/ocaml/Cargo.toml
  bindings/ocaml/src/lib.rs
  bindings/ocaml/src/operator/_type.rs
  bindings/ocaml/src/operator/mod.rs
Owners: @Xuanwo

refactor: Fix build failure for php binding
  bindings/php/Cargo.toml
  bindings/php/src/lib.rs
Owners: @Xuanwo

refactor: Fix build failure for php binding (#6217)
  bindings/php/Cargo.toml
  bindings/php/src/lib.rs
Owners: @Xuanwo

RFC-6209: Glob Support (#6209)
  core/src/docs/rfcs/6209_glob_support.md
  core/src/docs/rfcs/mod.rs
Owners: @Xuanwo

feat: make query_pairs pub(crate)
  core/src/raw/http_util/uri.rs
Owners: @Xuanwo

feat: make query_pairs pub(crate)
  core/src/raw/http_util/mod.rs
Owners: @Xuanwo

fmt
  bindings/c/src/operator.rs
Owners: @xyjixyjixyji

Add WriteOptions support for new options API
  bindings/java/src/async_operator.rs
  bindings/java/src/convert.rs
  bindings/java/src/lib.rs
  bindings/java/src/main/java/org/apache/opendal/WriteOptions.java
  bindings/java/src/operator.rs
  bindings/java/src/test/java/org/apache/opendal/test/behavior/AsyncWriteOptionsTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/BlockingWriteOptionTest.java
Owners: @tisonkun

docs: Remove deprecated APIs and polish docs for public APIs
  core/src/lib.rs
  core/src/raw/path.rs
  core/src/types/operator/operator.rs
Owners: @Xuanwo

Fix tests
  core/src/types/operator/operator.rs
Owners: @Xuanwo

ci(bindings/nodejs): Don't upload gh release
  bindings/nodejs/package.json
Owners: @suyanhanx

add reader and writer options to async open
  bindings/python/python/opendal/__base.pyi
  bindings/python/python/opendal/__init__.pyi
  bindings/python/python/opendal/layers.pyi
  bindings/python/src/lib.rs
  bindings/python/src/operator.rs
  bindings/python/src/options.rs
  bindings/python/tests/test_read.py
  bindings/python/tests/test_sync_list.py
  bindings/python/tests/test_write.py
  core/Cargo.lock
Owners: @messense, @Zheaoli, @Xuanwo

Update test_write.py
  bindings/python/tests/test_write.py
Owners: @messense, @Zheaoli

Implement AsyncFile::write_from
  bindings/python/python/opendal/__init__.pyi
  bindings/python/src/file.rs
  bindings/python/src/operator.rs
  bindings/python/tests/test_write.py
Owners: @messense, @Zheaoli

Enhance capability struct with additional conditional operations
  bindings/python/src/capability.rs
Owners: @messense, @Zheaoli

Add test_async_writer_options test stub
  bindings/python/tests/test_write.py
Owners: @messense, @Zheaoli

revert write_from
  bindings/python/python/opendal/__init__.pyi
  bindings/python/src/file.rs
  bindings/python/src/lib.rs
  bindings/python/src/operator.rs
  bindings/python/src/options.rs
  bindings/python/tests/test_write.py
Owners: @messense, @Zheaoli

ci(bindings/nodejs): Don't upload gh release (#6222)
  bindings/nodejs/package.json
Owners: @suyanhanx

Create raw azure mod with account_name from endpoint util
  core/src/raw/azure.rs
  core/src/raw/mod.rs
  core/src/services/azblob/backend.rs
  core/src/services/azdls/backend.rs
Owners: @Xuanwo

Move connection string parsing to azure mod
  core/src/raw/azure.rs
  core/src/services/azblob/backend.rs
  core/src/services/azdls/backend.rs
  core/src/services/azdls/config.rs
  core/src/services/azdls/endpoint.rs
  core/src/services/azdls/mod.rs
Owners: @Xuanwo

Include services-azdls in tests feature
  core/Cargo.toml
Owners: @Xuanwo

Add support for development storage fields
  core/src/raw/azure.rs
Owners: @Xuanwo

Fix doc string
  core/src/services/azdls/backend.rs
Owners: @Xuanwo

Include azdfs in AccessorInfo.name() docstring
  core/src/raw/accessor.rs
Owners: @Xuanwo

Fix CI warnings
  core/src/raw/azure.rs
Owners: @Xuanwo

Add support for azfile
  core/Cargo.toml
  core/src/raw/accessor.rs
  core/src/raw/azure.rs
  core/src/services/azfile/backend.rs
Owners: @Xuanwo

Fix file test
  core/src/raw/azure.rs
Owners: @Xuanwo

Fix development storage test
  core/src/raw/azure.rs
Owners: @Xuanwo

docs(services/hdfs_native): fix outdated capabilities and config option name
  core/src/services/hdfs_native/docs.md
Owners: @Xuanwo

docs(services/hdfs_native): fix outdated capabilities and config option name (#6224)
  core/src/services/hdfs_native/docs.md
Owners: @Xuanwo

chore: post merge fix
  core/src/services/azdls/backend.rs
Owners: @Xuanwo

add example
  bindings/c/README.md
Owners: @xyjixyjixyji

.github/CODEOWNERS:

* @Xuanwo

/core @Xuanwo
/bindings/c/ @xyjixyjixyji
/bindings/haskell/ @silver-ymz
/bindings/java/ @tisonkun
/bindings/lua/ @oowl
/bindings/nodejs/ @suyanhanx
/bindings/python/ @messense @Zheaoli
/bindings/ruby/ @PsiACE
