Repository apache/opendal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

.github/CODEOWNERS:

* @Xuanwo

/core @Xuanwo
/bindings/c/ @xyjixyjixyji
/bindings/haskell/ @silver-ymz
/bindings/java/ @tisonkun
/bindings/lua/ @oowl
/bindings/nodejs/ @suyanhanx
/bindings/python/ @messense @Zheaoli
/bindings/ruby/ @PsiACE

feat(bindings/python)!: Add stubs for remaining types (#6720)
  bindings/python/Cargo.toml
  bindings/python/docs/api/async_file.md
  bindings/python/docs/api/capability.md
  bindings/python/docs/api/file.md
  bindings/python/docs/api/types.md
  bindings/python/pyrightconfig.json
  bindings/python/python/opendal/__init__.pyi
  bindings/python/python/opendal/file.pyi
  bindings/python/python/opendal/layers.pyi
  bindings/python/python/opendal/types.pyi
  bindings/python/ruff.toml
  bindings/python/src/file.rs
  bindings/python/src/layers.rs
  bindings/python/src/lib.rs
  bindings/python/src/operator.rs
  bindings/python/tests/conftest.py
  bindings/python/tests/test_capability.py
Owners: @messense, @Zheaoli

refactor: add a trait like retrylayer
  core/src/layers/concurrent_limit.rs
  core/src/layers/mod.rs
Owners: @Xuanwo

chore: remove integrations cloud_filter and fuse3
  .github/workflows/ci_integration_cloud_filter.yml
  .github/workflows/ci_integration_fuse3.yml
  .github/workflows/test_behavior_integration_cloud_filter.yml
  integrations/cloud_filter/.gitignore
  integrations/cloud_filter/Cargo.toml
  integrations/cloud_filter/DEPENDENCIES.rust.tsv
  integrations/cloud_filter/README.md
  integrations/cloud_filter/examples/readonly.rs
  integrations/cloud_filter/src/file.rs
  integrations/cloud_filter/src/lib.rs
  integrations/cloud_filter/tests/behavior/README.md
  integrations/cloud_filter/tests/behavior/fetch_data.rs
  integrations/cloud_filter/tests/behavior/fetch_placeholder.rs
  integrations/cloud_filter/tests/behavior/main.rs
  integrations/cloud_filter/tests/behavior/utils.rs
  integrations/fuse3/.gitignore
  integrations/fuse3/Cargo.toml
  integrations/fuse3/DEPENDENCIES.rust.tsv
  integrations/fuse3/README.md
  integrations/fuse3/src/file.rs
  integrations/fuse3/src/file_system.rs
  integrations/fuse3/src/lib.rs
Owners: @Xuanwo

remove build-fuse3-opendal-doc
  .github/workflows/docs.yml
  .github/workflows/release_rust.yml
  README.md
  dev/src/release/package.rs
  website/docs/30-integrations/cloud_filter.mdx
  website/docs/30-integrations/fuse3.mdx
Owners: @Xuanwo

chore: remove integrations cloud_filter and fuse3; update CI/docs/README (#6727)
  .github/workflows/ci_integration_cloud_filter.yml
  .github/workflows/ci_integration_fuse3.yml
  .github/workflows/docs.yml
  .github/workflows/release_rust.yml
  .github/workflows/test_behavior_integration_cloud_filter.yml
  README.md
  dev/src/release/package.rs
  integrations/cloud_filter/.gitignore
  integrations/cloud_filter/Cargo.toml
  integrations/cloud_filter/DEPENDENCIES.rust.tsv
  integrations/cloud_filter/README.md
  integrations/cloud_filter/examples/readonly.rs
  integrations/cloud_filter/src/file.rs
  integrations/cloud_filter/src/lib.rs
  integrations/cloud_filter/tests/behavior/README.md
  integrations/cloud_filter/tests/behavior/fetch_data.rs
  integrations/cloud_filter/tests/behavior/fetch_placeholder.rs
  integrations/cloud_filter/tests/behavior/main.rs
  integrations/cloud_filter/tests/behavior/utils.rs
  integrations/fuse3/.gitignore
  integrations/fuse3/Cargo.toml
  integrations/fuse3/DEPENDENCIES.rust.tsv
  integrations/fuse3/README.md
  integrations/fuse3/src/file.rs
  integrations/fuse3/src/file_system.rs
  integrations/fuse3/src/lib.rs
  website/docs/30-integrations/cloud_filter.mdx
  website/docs/30-integrations/fuse3.mdx
Owners: @Xuanwo

fix for __version__
  bindings/python/python/opendal/__init__.py
  bindings/python/src/lib.rs
Owners: @messense, @Zheaoli

refactor: migrate persy service from adapter::kv to impl Access directly (#6721)
  core/src/services/persy/backend.rs
  core/src/services/persy/config.rs
  core/src/services/persy/core.rs
  core/src/services/persy/deleter.rs
  core/src/services/persy/docs.md
  core/src/services/persy/writer.rs
Owners: @Xuanwo

refactor: migrate foundationdb service from adapter::kv to impl Access directly (#6722)
  core/src/services/foundationdb/backend.rs
  core/src/services/foundationdb/config.rs
  core/src/services/foundationdb/core.rs
  core/src/services/foundationdb/deleter.rs
  core/src/services/foundationdb/docs.md
  core/src/services/foundationdb/writer.rs
Owners: @Xuanwo

refactor: migrate surrealdb service from adapter::kv to impl Access directly (#6723)
  core/src/services/surrealdb/backend.rs
  core/src/services/surrealdb/config.rs
  core/src/services/surrealdb/core.rs
  core/src/services/surrealdb/deleter.rs
  core/src/services/surrealdb/docs.md
  core/src/services/surrealdb/writer.rs
Owners: @Xuanwo

refactor: migrate mongodb service from adapter::kv to impl Access directly (#6724)
  core/src/services/mongodb/backend.rs
  core/src/services/mongodb/config.rs
  core/src/services/mongodb/core.rs
  core/src/services/mongodb/deleter.rs
  core/src/services/mongodb/docs.md
  core/src/services/mongodb/writer.rs
Owners: @Xuanwo

Move operators to their own modules
  bindings/python/python/opendal/__init__.py
  bindings/python/python/opendal/operator.pyi
  bindings/python/src/lib.rs
  bindings/python/src/operator.rs
  bindings/python/tests/conftest.py
  bindings/python/tests/test_capability.py
Owners: @messense, @Zheaoli

refactor: migrate d1 service from adapter::kv to impl Access directly (#6725)
  core/src/services/d1/backend.rs
  core/src/services/d1/config.rs
  core/src/services/d1/core.rs
  core/src/services/d1/deleter.rs
  core/src/services/d1/docs.md
  core/src/services/d1/error.rs
  core/src/services/d1/model.rs
  core/src/services/d1/writer.rs
Owners: @Xuanwo

refactor: migrate gridfs service from adapter::kv to impl Access directly (#6726)
  core/src/services/gridfs/backend.rs
  core/src/services/gridfs/config.rs
  core/src/services/gridfs/core.rs
  core/src/services/gridfs/deleter.rs
  core/src/services/gridfs/docs.md
  core/src/services/gridfs/writer.rs
Owners: @Xuanwo

fix __all__
  bindings/python/python/opendal/__init__.py
Owners: @messense, @Zheaoli

Refactor sqlite to implement Access directly
  core/Cargo.lock
  core/Cargo.toml
  core/src/services/sqlite/backend.rs
  core/src/services/sqlite/core.rs
  core/src/services/sqlite/delete.rs
  core/src/services/sqlite/lister.rs
  core/src/services/sqlite/writer.rs
Owners: @Xuanwo

feat(bindings/python)!: Stubs fix for operator and __version__ (#6728)
  bindings/python/python/opendal/__init__.py
  bindings/python/python/opendal/operator.pyi
  bindings/python/src/lib.rs
  bindings/python/src/operator.rs
  bindings/python/tests/conftest.py
  bindings/python/tests/test_capability.py
Owners: @messense, @Zheaoli

add range, split into several files and add tests
  core/Cargo.lock
  core/Cargo.toml
  core/src/services/sqlite/backend.rs
  core/src/services/sqlite/core.rs
  core/src/services/sqlite/delete.rs
  core/src/services/sqlite/lister.rs
  core/src/services/sqlite/mod.rs
Owners: @Xuanwo

refactor: Migrate sqlite from adapter::kv to Access instead (#6328)
  core/src/services/sqlite/backend.rs
  core/src/services/sqlite/core.rs
  core/src/services/sqlite/delete.rs
  core/src/services/sqlite/writer.rs
Owners: @Xuanwo

add services module with PyScheme
  bindings/python/justfile
  bindings/python/python/opendal/services.pyi
  bindings/python/src/lib.rs
  bindings/python/src/services.rs
  dev/src/generate/new_python.j2
Owners: @messense, @Zheaoli, @Xuanwo

ensure python 3.10 compatibility file.pyi
  bindings/python/python/opendal/file.pyi
  bindings/python/ruff.toml
  bindings/python/src/file.rs
Owners: @messense, @Zheaoli

Add new service base
  bindings/python/python/opendal/services.pyi
  bindings/python/src/lib.rs
  bindings/python/src/services.rs
  dev/src/generate/new_python.j2
  dev/src/generate/python.rs
Owners: @messense, @Zheaoli, @Xuanwo

add config to docstrings
  bindings/python/python/opendal/services.pyi
  bindings/python/src/services.rs
  dev/src/generate/new_python.j2
  dev/src/generate/python.rs
Owners: @messense, @Zheaoli, @Xuanwo

fix
  bindings/python/src/lib.rs
  dev/src/generate/python.rs
Owners: @messense, @Zheaoli, @Xuanwo

Add overloads to operators
  bindings/python/python/opendal/__init__.py
  bindings/python/python/opendal/operator.pyi
  bindings/python/python/opendal/services.pyi
  bindings/python/src/lib.rs
  bindings/python/src/operator.rs
  bindings/python/src/services.rs
  dev/src/generate/new_python.j2
Owners: @messense, @Zheaoli, @Xuanwo

remove and replace files
  bindings/python/python/opendal/__base.pyi
  dev/src/generate/new_python.j2
  dev/src/generate/python.j2
  dev/src/generate/python.rs
Owners: @messense, @Zheaoli, @Xuanwo

overloads to use pyscheme directly
  bindings/python/src/operator.rs
Owners: @messense, @Zheaoli

overloads to use pyscheme directly
  bindings/python/python/opendal/operator.pyi
  bindings/python/src/operator.rs
Owners: @messense, @Zheaoli

Add Scheme to overloads
  bindings/python/python/opendal/operator.pyi
  bindings/python/src/operator.rs
  bindings/python/src/services.rs
  dev/src/generate/python.j2
Owners: @messense, @Zheaoli, @Xuanwo

Add returns section to overloads
  bindings/python/python/opendal/operator.pyi
  bindings/python/src/services.rs
  dev/src/generate/python.j2
Owners: @messense, @Zheaoli, @Xuanwo

chore: remove unused dependent
  core/Cargo.lock
  core/examples/basic/Cargo.toml
Owners: @Xuanwo

chore(examples): update code comments
  core/examples/basic/src/main.rs
Owners: @Xuanwo

update doc style
  bindings/python/mkdocs.yml
Owners: @messense, @Zheaoli

refactor: migrate rocksdb service from adapter::kv to impl Access directly
  core/Cargo.lock
  core/Cargo.toml
  core/src/services/rocksdb/backend.rs
  core/src/services/rocksdb/config.rs
  core/src/services/rocksdb/core.rs
  core/src/services/rocksdb/deleter.rs
  core/src/services/rocksdb/docs.md
  core/src/services/rocksdb/lister.rs
  core/src/services/rocksdb/writer.rs
Owners: @Xuanwo

refactor: migrate redb service from adapter::kv to impl Access directly
  core/src/services/redb/backend.rs
  core/src/services/redb/config.rs
  core/src/services/redb/core.rs
  core/src/services/redb/deleter.rs
  core/src/services/redb/docs.md
  core/src/services/redb/writer.rs
Owners: @Xuanwo

refactor: migrate sled service from adapter::kv to impl Access directly
  core/src/services/sled/backend.rs
  core/src/services/sled/config.rs
  core/src/services/sled/core.rs
  core/src/services/sled/deleter.rs
  core/src/services/sled/docs.md
  core/src/services/sled/lister.rs
  core/src/services/sled/writer.rs
Owners: @Xuanwo

revert rocksdb: 0.24.0 => 0.21.0
  core/Cargo.lock
  core/Cargo.toml
Owners: @Xuanwo

fix tests
  core/src/services/sled/backend.rs
Owners: @Xuanwo

fix tests
  core/src/services/rocksdb/backend.rs
Owners: @Xuanwo

feat: add SanityCheckLayer to detect unexpected list responses and expose SanityCheckLayer in mod.rs (#6646)
  core/src/layers/mod.rs
  core/src/layers/sanity_check.rs
Owners: @Xuanwo

refactor: migrate sled service from adapter::kv to impl Access directly (#6731)
  core/src/services/sled/backend.rs
  core/src/services/sled/config.rs
  core/src/services/sled/core.rs
  core/src/services/sled/deleter.rs
  core/src/services/sled/docs.md
  core/src/services/sled/lister.rs
  core/src/services/sled/writer.rs
Owners: @Xuanwo
