Repository apache/opendal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

.github/CODEOWNERS:

* @Xuanwo

/core @Xuanwo
/bindings/c/ @xyjixyjixyji
/bindings/haskell/ @silver-ymz
/bindings/java/ @tisonkun
/bindings/lua/ @oowl
/bindings/nodejs/ @suyanhanx
/bindings/python/ @messense @Zheaoli
/bindings/ruby/ @PsiACE

refactor: Implement SimulateLayer to make simulate logic more maintainable
  core/src/layers/complete.rs
  core/src/layers/mod.rs
  core/src/layers/simulate.rs
  core/src/types/operator/builder.rs
Owners: @Xuanwo

Fix ci
  core/src/layers/simulate.rs
Owners: @Xuanwo

start after is not supported before
  core/src/layers/simulate.rs
Owners: @Xuanwo

Fix ci
  core/src/layers/simulate.rs
Owners: @Xuanwo

refactor: Implement SimulateLayer to make simulate logic more maintai… (#6822)
  core/src/layers/complete.rs
  core/src/layers/mod.rs
  core/src/layers/simulate.rs
  core/src/types/operator/builder.rs
Owners: @Xuanwo

refactor!: Refactor oio::Delete to make it's API simple
  core/src/blocking/delete.rs
  core/src/layers/async_backtrace.rs
  core/src/layers/await_tree.rs
  core/src/layers/concurrent_limit.rs
  core/src/layers/correctness_check.rs
  core/src/layers/error_context.rs
  core/src/layers/fastrace.rs
  core/src/layers/logging.rs
  core/src/layers/observe/metrics.rs
  core/src/layers/retry.rs
  core/src/layers/tail_cut.rs
  core/src/layers/timeout.rs
  core/src/layers/tracing.rs
  core/src/raw/oio/delete/api.rs
  core/src/raw/oio/delete/batch_delete.rs
  core/src/raw/oio/delete/one_shot_delete.rs
  core/src/types/delete/deleter.rs
  core/src/types/delete/futures_delete_sink.rs
  core/src/types/operator/operator.rs
  integrations/object_store/src/service/mod.rs
Owners: @Xuanwo

Fix tests
  core/src/raw/oio/delete/one_shot_delete.rs
Owners: @Xuanwo

FIx batch delete
  core/src/raw/oio/delete/batch_delete.rs
  core/src/services/azblob/backend.rs
  core/src/services/cloudflare_kv/backend.rs
  core/src/services/gcs/backend.rs
  core/src/services/oss/backend.rs
  core/src/services/s3/backend.rs
  integrations/object_store/src/service/mod.rs
Owners: @Xuanwo

Fix tests
  core/src/layers/retry.rs
  core/src/raw/oio/delete/api.rs
Owners: @Xuanwo

Fix build
  integrations/object_store/src/service/mod.rs
Owners: @Xuanwo

refactor!: Refactor oio::Delete to make it's API simple (#6823)
  core/src/blocking/delete.rs
  core/src/layers/async_backtrace.rs
  core/src/layers/await_tree.rs
  core/src/layers/concurrent_limit.rs
  core/src/layers/correctness_check.rs
  core/src/layers/error_context.rs
  core/src/layers/fastrace.rs
  core/src/layers/logging.rs
  core/src/layers/observe/metrics.rs
  core/src/layers/retry.rs
  core/src/layers/tail_cut.rs
  core/src/layers/timeout.rs
  core/src/layers/tracing.rs
  core/src/raw/oio/delete/api.rs
  core/src/raw/oio/delete/batch_delete.rs
  core/src/raw/oio/delete/one_shot_delete.rs
  core/src/services/azblob/backend.rs
  core/src/services/cloudflare_kv/backend.rs
  core/src/services/gcs/backend.rs
  core/src/services/oss/backend.rs
  core/src/services/s3/backend.rs
  core/src/types/delete/deleter.rs
  core/src/types/delete/futures_delete_sink.rs
  core/src/types/operator/operator.rs
  integrations/object_store/src/service/mod.rs
Owners: @Xuanwo

feat: Add simulation for delete with recursive
  core/src/layers/correctness_check.rs
  core/src/layers/simulate.rs
  core/src/raw/ops.rs
  core/src/types/capability.rs
  core/src/types/delete/deleter.rs
  core/src/types/delete/input.rs
  core/src/types/operator/operator_futures.rs
  core/src/types/options.rs
Owners: @Xuanwo

remove not needed pub
  core/src/layers/simulate.rs
Owners: @Xuanwo

Remove not needed stat
  core/src/layers/simulate.rs
Owners: @Xuanwo

chore: Migrate CLAUDE.md to AGENTS.md
  AGENTS.md
  CLAUDE.md
Owners: @Xuanwo

chore: Migrate CLAUDE.md to AGENTS.md (#6825)
  AGENTS.md
  CLAUDE.md
Owners: @Xuanwo

Fix build
  bindings/nodejs/src/options.rs
Owners: @suyanhanx

Make node happy
  bindings/nodejs/generated.d.ts
Owners: @suyanhanx

feat: Add simulation for delete with recursive (#6824)
  bindings/nodejs/generated.d.ts
  bindings/nodejs/src/options.rs
  core/src/layers/correctness_check.rs
  core/src/layers/simulate.rs
  core/src/raw/ops.rs
  core/src/types/capability.rs
  core/src/types/delete/deleter.rs
  core/src/types/delete/input.rs
  core/src/types/operator/operator_futures.rs
  core/src/types/options.rs
Owners: @suyanhanx, @Xuanwo

fix(services/huggingface): Allow users to use datasets as an alias to dataset repo type
  core/src/services/huggingface/backend.rs
  core/src/services/huggingface/config.rs
Owners: @Xuanwo

Fix test
  core/src/services/huggingface/backend.rs
Owners: @Xuanwo

fix(services/huggingface): Allow users to use datasets as an alias to dataset repo type (#6826)
  core/src/services/huggingface/backend.rs
  core/src/services/huggingface/config.rs
Owners: @Xuanwo

feat: Add delete with recursive support for fs
  core/src/layers/simulate.rs
  core/src/services/fs/backend.rs
  core/src/services/fs/deleter.rs
  core/tests/behavior/async_delete.rs
Owners: @Xuanwo

feat: Add delete with recursive support for fs (#6827)
  core/src/layers/simulate.rs
  core/src/services/fs/backend.rs
  core/src/services/fs/deleter.rs
  core/tests/behavior/async_delete.rs
Owners: @Xuanwo

RFC-6817: Checksum (#6817)
  core/src/docs/rfcs/6817_checksum.md
  core/src/docs/rfcs/mod.rs
Owners: @Xuanwo

rfc: core
  core/src/docs/rfcs/0000_services_layers_split.md
  core/src/docs/rfcs/mod.rs
Owners: @Xuanwo

Assign number
  core/src/docs/rfcs/6828_core.md
  core/src/docs/rfcs/mod.rs
Owners: @Xuanwo

Add issue
  core/src/docs/rfcs/6828_core.md
Owners: @Xuanwo

RFC-6828: OpenDAL Core (#6828)
  core/src/docs/rfcs/6828_core.md
  core/src/docs/rfcs/mod.rs
Owners: @Xuanwo

remove extra api
  core/src/services/seafile/writer.rs
Owners: @Xuanwo

fix(services/huggingface): Implement pagination with Link header for large repos
  core/src/services/huggingface/core.rs
  core/src/services/huggingface/lister.rs
Owners: @Xuanwo

refactor: Use split_once for cleaner Link header parsing and removed trim()
  core/src/services/huggingface/lister.rs
Owners: @Xuanwo

fix(services/huggingface): Implement pagination with Link header for large repos (#6832)
  core/src/services/huggingface/core.rs
  core/src/services/huggingface/lister.rs
Owners: @Xuanwo

feat(services/huggingface): Add repo_type=space support
  core/src/services/huggingface/backend.rs
  core/src/services/huggingface/core.rs
Owners: @Xuanwo

feat(services/huggingface): Add repo_type=space support (#6833)
  core/src/services/huggingface/backend.rs
  core/src/services/huggingface/core.rs
Owners: @Xuanwo

feat(services/huggingface): Enrich metadata with ETag and security scan flags
  core/src/services/huggingface/backend.rs
  core/src/services/huggingface/lister.rs
Owners: @Xuanwo

Keep only ETag support
  core/src/services/huggingface/backend.rs
  core/src/services/huggingface/lister.rs
Owners: @Xuanwo

feat(services/huggingface): Enrich metadata with ETag and security scan flags (#6834)
  core/src/services/huggingface/backend.rs
  core/src/services/huggingface/lister.rs
Owners: @Xuanwo

Update core/src/types/context/write.rs
  core/src/types/context/write.rs
Owners: @Xuanwo

bug: write operation won't split payload into chunks following configuration (#6796)
  core/src/types/context/write.rs
  core/src/types/operator/operator.rs
Owners: @Xuanwo
