Repository apache/opendal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

fmt
  bindings/ocaml/lib/operator.ml
  bindings/ocaml/lib/operator.mli
  bindings/ocaml/test/test.ml
Owners: @Xuanwo

add more api
  bindings/ocaml/lib/operator.ml
  bindings/ocaml/lib/operator.mli
  bindings/ocaml/src/operator/_type.rs
  bindings/ocaml/src/operator/capability.rs
  bindings/ocaml/src/operator/lister.rs
  bindings/ocaml/src/operator/mod.rs
  bindings/ocaml/src/operator/operator_info.rs
  bindings/ocaml/src/operator/writer.rs
  bindings/ocaml/test/test.ml
Owners: @Xuanwo

fix test
  bindings/ocaml/lib/opendal.ml
  bindings/ocaml/lib/operator.ml
  bindings/ocaml/lib/operator.mli
  bindings/ocaml/test/test.ml
Owners: @Xuanwo

clippy
  bindings/ocaml/src/operator/_type.rs
Owners: @Xuanwo

try fix
  bindings/ocaml/lib/operator.ml
  bindings/ocaml/lib/operator.mli
  bindings/ocaml/src/operator.ml
  bindings/ocaml/src/operator.mli
  bindings/ocaml/src/operator/writer.rs
Owners: @Xuanwo

prepare for pub
  .github/workflows/release_ocaml.yml
  bindings/ocaml/CHANGES.md
  bindings/ocaml/dune-project
  bindings/ocaml/opendal.opam
  bindings/ocaml/release.sh
Owners: @Xuanwo

try fix
  .github/actions/setup-ocaml/action.yaml
  .github/workflows/ci_bindings_ocaml.yml
  bindings/ocaml/src/operator/_type.rs
  bindings/ocaml/src/operator/writer.rs
Owners: @Xuanwo

fix(bindings/go): ffi calls use after free (#6380)
  bindings/go/opendal.go
Owners: @Xuanwo

feat(bindings/cpp): remove Boost dependency (#6376)
  bindings/cpp/CMakeLists.txt
  bindings/cpp/CONTRIBUTING.md
  bindings/cpp/include/async_defs.hpp
  bindings/cpp/include/data_structure.hpp
  bindings/cpp/include/opendal.hpp
  bindings/cpp/include/opendal_async.hpp
  bindings/cpp/src/operator.cpp
Owners: @Xuanwo

feat(bindings/nodejs): Add DeleteOptions support for new options API (#6349)
  bindings/nodejs/generated.d.ts
  bindings/nodejs/src/capability.rs
  bindings/nodejs/src/lib.rs
  bindings/nodejs/src/options.rs
  bindings/nodejs/tests/suites/asyncDeleteOptions.suite.mjs
  bindings/nodejs/tests/suites/index.mjs
  bindings/nodejs/tests/suites/syncDeleteOptions.suite.mjs
Owners: @suyanhanx

feat(bindings/nodejs): Add WriteOptions support for new options API
  bindings/nodejs/generated.d.ts
  bindings/nodejs/src/capability.rs
  bindings/nodejs/src/lib.rs
  bindings/nodejs/src/options.rs
  bindings/nodejs/tests/suites/asyncWriteOptions.suite.mjs
  bindings/nodejs/tests/suites/index.mjs
  bindings/nodejs/tests/suites/syncWriteOptions.suite.mjs
Owners: @suyanhanx

chore: merge
  bindings/nodejs/generated.d.ts
Owners: @suyanhanx

feat(bindings/nodejs): Add WriteOptions support for new options API (#6322)
  bindings/nodejs/generated.d.ts
  bindings/nodejs/src/capability.rs
  bindings/nodejs/src/lib.rs
  bindings/nodejs/src/options.rs
  bindings/nodejs/tests/suites/asyncWriteOptions.suite.mjs
  bindings/nodejs/tests/suites/index.mjs
  bindings/nodejs/tests/suites/syncWriteOptions.suite.mjs
Owners: @suyanhanx

add upgrade guide for rust core
  core/src/docs/upgrade.md
Owners: @Xuanwo

Add upgrade for java
  bindings/java/upgrade.md
Owners: @tisonkun

Add upgrade for python
  bindings/python/upgrade.md
Owners: @messense, @Zheaoli

docs: Add upgrade guide for opendal's 0.54 release (#6382)
  bindings/java/upgrade.md
  bindings/python/upgrade.md
  core/src/docs/upgrade.md
Owners: @tisonkun, @messense, @Zheaoli, @Xuanwo

try remove unsafe from cpp bindings
  bindings/cpp/include/opendal_async.hpp
  bindings/cpp/src/async.rs
  bindings/cpp/src/opendal_async.cpp
Owners: @Xuanwo

chore(dependabot): update OpenDAL dependencies less frequently
  .github/dependabot.yml
  core/Cargo.toml
Owners: @Xuanwo

chore(dependabot): update OpenDAL dependencies less frequently (#6384)
  .github/dependabot.yml
  core/Cargo.toml
Owners: @Xuanwo

fix(services/azdls): Fix append not handled correctly while offset==0
  core/src/services/azdls/writer.rs
Owners: @Xuanwo

Make clippy happy
  core/src/services/azdls/writer.rs
Owners: @Xuanwo

fix(services/azdls): Fix append not handled correctly while offset==0 (#6393)
  core/src/services/azdls/writer.rs
Owners: @Xuanwo

Update DEPENDENCIES.node.csv
  website/DEPENDENCIES.node.csv
Owners: @Xuanwo

remove remove_all
  bindings/cpp/CMakeLists.txt
  bindings/cpp/include/opendal.hpp
  bindings/cpp/src/async.rs
  bindings/cpp/src/lib.rs
  bindings/cpp/src/opendal_async.cpp
  bindings/cpp/src/operator.cpp
  bindings/cpp/tests/async_test.cpp
  bindings/cpp/tests/behavior/delete_test.cpp
Owners: @Xuanwo

fix: test
  core/src/services/cloudflare_kv/backend.rs
Owners: @Xuanwo

refactor: Migrate cloudflare_kv from adapter::typed_kv to Access instead
  .env.example
  core/src/services/cloudflare_kv/backend.rs
  core/src/services/cloudflare_kv/config.rs
  core/src/services/cloudflare_kv/core.rs
  core/src/services/cloudflare_kv/delete.rs
  core/src/services/cloudflare_kv/docs.md
  core/src/services/cloudflare_kv/lister.rs
  core/src/services/cloudflare_kv/mod.rs
  core/src/services/cloudflare_kv/writer.rs
  core/src/types/operator/builder.rs
  core/src/types/scheme.rs
Owners: @Xuanwo

fix(cloudflare_kv): handle path normalization and metadata properly
  core/src/services/cloudflare_kv/backend.rs
  core/src/services/cloudflare_kv/core.rs
  core/src/services/cloudflare_kv/delete.rs
  core/src/services/cloudflare_kv/writer.rs
Owners: @Xuanwo

chore: format
  core/src/services/cloudflare_kv/mod.rs
Owners: @Xuanwo

refactor: the read logic to use the single-key instead of batch_get
  core/src/services/cloudflare_kv/backend.rs
  core/src/services/cloudflare_kv/core.rs
  core/src/services/cloudflare_kv/delete.rs
  core/src/services/cloudflare_kv/error.rs
  core/src/services/cloudflare_kv/lister.rs
  core/src/services/cloudflare_kv/mod.rs
  core/src/services/cloudflare_kv/model.rs
  core/src/services/cloudflare_kv/writer.rs
Owners: @Xuanwo

fix: stat
  core/src/services/cloudflare_kv/backend.rs
  core/src/services/cloudflare_kv/lister.rs
  core/src/services/cloudflare_kv/writer.rs
Owners: @Xuanwo

refactor: create_dir
  core/src/services/cloudflare_kv/backend.rs
  core/src/services/cloudflare_kv/core.rs
  core/src/services/cloudflare_kv/delete.rs
  core/src/services/cloudflare_kv/docs.md
  core/src/services/cloudflare_kv/lister.rs
  core/src/services/cloudflare_kv/model.rs
  core/src/services/cloudflare_kv/writer.rs
Owners: @Xuanwo

fix: get sublist only
  core/src/services/cloudflare_kv/lister.rs
Owners: @Xuanwo

fix: list page
  core/src/services/cloudflare_kv/backend.rs
  core/src/services/cloudflare_kv/lister.rs
Owners: @Xuanwo

fix: add recursive
  core/src/services/cloudflare_kv/backend.rs
  core/src/services/cloudflare_kv/lister.rs
Owners: @Xuanwo

fix: reader
  .env.example
  core/src/services/cloudflare_kv/backend.rs
Owners: @Xuanwo

fix: lister
  core/src/services/cloudflare_kv/backend.rs
  core/src/services/cloudflare_kv/lister.rs
Owners: @Xuanwo

chore: cleanup
  core/src/services/cloudflare_kv/core.rs
Owners: @Xuanwo

chore: cleanup
  core/src/services/cloudflare_kv/core.rs
  core/src/services/cloudflare_kv/model.rs
Owners: @Xuanwo

fix: clippy warn
  core/src/services/cloudflare_kv/backend.rs
Owners: @Xuanwo

.github/CODEOWNERS:

* @Xuanwo

/core @Xuanwo
/bindings/c/ @xyjixyjixyji
/bindings/haskell/ @silver-ymz
/bindings/java/ @tisonkun
/bindings/lua/ @oowl
/bindings/nodejs/ @suyanhanx
/bindings/python/ @messense @Zheaoli
/bindings/ruby/ @PsiACE
