Repository apache/opendal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

fix set_err to track the cause
  integrations/object_store/src/service/error.rs
Owners: @Xuanwo

fix build
  integrations/object_store/src/service/error.rs
  integrations/object_store/src/service/lister.rs
Owners: @Xuanwo

fix oio::Read
  integrations/object_store/src/service/reader.rs
Owners: @Xuanwo

extract a format_metadata
  integrations/object_store/src/service/lister.rs
  integrations/object_store/src/service/mod.rs
  integrations/object_store/src/service/reader.rs
  integrations/object_store/src/service/writer.rs
  integrations/object_store/src/utils.rs
Owners: @Xuanwo

implement BatchDelete
  integrations/object_store/src/service/deleter.rs
  integrations/object_store/src/service/mod.rs
Owners: @Xuanwo

do not allow delete with version
  integrations/object_store/src/service/deleter.rs
  integrations/object_store/src/service/mod.rs
Owners: @Xuanwo

refactor the multipart upload
  integrations/object_store/src/service/writer.rs
Owners: @Xuanwo

support content_language
  core/src/types/capability.rs
  core/src/types/options.rs
  integrations/object_store/src/store.rs
Owners: @Xuanwo

fmt
  core/src/types/options.rs
Owners: @Xuanwo

Update logging.rs
  bindings/c/src/logging.rs
Owners: @xyjixyjixyji

Update logging.rs
  bindings/c/src/logging.rs
Owners: @xyjixyjixyji

Update logging.rs
  bindings/c/src/logging.rs
Owners: @xyjixyjixyji

ci: Use ubuntu-24.04-arm for java release to address glibc issues
  .github/workflows/ci_bindings_java.yml
  .github/workflows/release_java.yml
Owners: @Xuanwo

add missing Capability
  bindings/cpp/include/data_structure.hpp
  bindings/cpp/include/opendal.hpp
  bindings/cpp/src/lib.rs
  bindings/cpp/src/operator.cpp
  bindings/cpp/tests/behavior/read_test.cpp
  bindings/cpp/tests/behavior/write_test.cpp
  bindings/cpp/tests/framework/test_framework.hpp
Owners: @Xuanwo

remove one
  bindings/cpp/tests/framework/test_framework.hpp
Owners: @Xuanwo

remove check like other test
  bindings/cpp/tests/behavior/delete_test.cpp
Owners: @Xuanwo

ci: Use ubuntu-24.04-arm for java release to address glibc issues (#6486)
  .github/workflows/ci_bindings_java.yml
  .github/workflows/release_java.yml
Owners: @Xuanwo

add cap && fix test
  bindings/cpp/include/data_structure.hpp
  bindings/cpp/include/opendal.hpp
  bindings/cpp/src/lib.rs
  bindings/cpp/src/operator.cpp
  bindings/cpp/tests/behavior/delete_test.cpp
  bindings/cpp/tests/behavior/read_test.cpp
  bindings/cpp/tests/behavior/write_test.cpp
  bindings/cpp/tests/framework/test_framework.hpp
Owners: @Xuanwo

avoid empty
  bindings/cpp/tests/behavior/write_test.cpp
Owners: @Xuanwo

fix(bindings/cpp): Add capability to fix failed tests (#6488)
  bindings/cpp/include/data_structure.hpp
  bindings/cpp/include/opendal.hpp
  bindings/cpp/src/lib.rs
  bindings/cpp/src/operator.cpp
  bindings/cpp/tests/behavior/delete_test.cpp
  bindings/cpp/tests/behavior/read_test.cpp
  bindings/cpp/tests/behavior/write_test.cpp
  bindings/cpp/tests/framework/test_framework.hpp
Owners: @Xuanwo

feat: introduce size_limit to opt-out large objects
  core/Cargo.lock
  core/Cargo.toml
  core/src/layers/foyer.rs
Owners: @Xuanwo

clean up unused code
  integrations/object_store/Cargo.toml
  integrations/object_store/src/service/writer.rs
Owners: @Xuanwo

refactor: Migrate etcd service to implement Access directly
  core/src/services/etcd/backend.rs
  core/src/services/etcd/core.rs
  core/src/services/etcd/deleter.rs
  core/src/services/etcd/docs.md
  core/src/services/etcd/error.rs
  core/src/services/etcd/lister.rs
  core/src/services/etcd/writer.rs
Owners: @Xuanwo

refactor: add version to foyer cache key
  core/src/layers/foyer.rs
Owners: @Xuanwo

fix: schema
  core/src/services/etcd/backend.rs
  core/src/services/etcd/mod.rs
Owners: @Xuanwo

refactor: Migrate etcd service to implement Access directly (#6420)
  core/src/services/etcd/backend.rs
  core/src/services/etcd/core.rs
  core/src/services/etcd/deleter.rs
  core/src/services/etcd/docs.md
  core/src/services/etcd/error.rs
  core/src/services/etcd/lister.rs
  core/src/services/etcd/writer.rs
Owners: @Xuanwo

chore: make clippy happy again
  bin/oli/src/config/mod.rs
  bindings/lua/src/lib.rs
  bindings/python/src/lister.rs
  core/src/raw/accessor.rs
  core/src/raw/adapters/kv/api.rs
  core/src/raw/adapters/kv/mod.rs
  core/src/raw/http_util/client.rs
  core/src/raw/oio/delete/api.rs
  core/src/raw/oio/list/api.rs
  core/src/raw/oio/read/api.rs
  core/src/raw/oio/write/api.rs
  core/src/raw/path_cache.rs
  integrations/dav-server/src/dir.rs
  integrations/dav-server/src/file.rs
  integrations/fuse3/src/file_system.rs
Owners: @Xuanwo, @oowl, @messense, @Zheaoli

chore: make clippy happy again (#6493)
  bin/oli/src/config/mod.rs
  bindings/lua/src/lib.rs
  bindings/python/src/lister.rs
  core/src/raw/accessor.rs
  core/src/raw/adapters/kv/api.rs
  core/src/raw/adapters/kv/mod.rs
  core/src/raw/http_util/client.rs
  core/src/raw/oio/delete/api.rs
  core/src/raw/oio/list/api.rs
  core/src/raw/oio/read/api.rs
  core/src/raw/oio/write/api.rs
  core/src/raw/path_cache.rs
  integrations/dav-server/src/dir.rs
  integrations/dav-server/src/file.rs
  integrations/fuse3/src/file_system.rs
Owners: @Xuanwo, @oowl, @messense, @Zheaoli

ci: refactor nodejs ci workflow
  .github/workflows/ci_bindings_nodejs.yml
  bindings/nodejs/Cargo.toml
  bindings/nodejs/generated.d.ts
  bindings/nodejs/generated.js
  bindings/nodejs/npm/darwin-x64/package.json
  bindings/nodejs/npm/linux-arm64-gnu/package.json
  bindings/nodejs/npm/linux-arm64-musl/package.json
  bindings/nodejs/npm/linux-x64-gnu/package.json
  bindings/nodejs/npm/linux-x64-musl/README.md
  bindings/nodejs/npm/linux-x64-musl/package.json
  bindings/nodejs/npm/win32-arm64-msvc/package.json
  bindings/nodejs/npm/win32-x64-msvc/package.json
  bindings/nodejs/package.json
  bindings/nodejs/pnpm-lock.yaml
Owners: @Xuanwo, @suyanhanx

ci: fix
  .github/workflows/ci_bindings_nodejs.yml
Owners: @Xuanwo

ci: fix run_install
  .github/workflows/ci_bindings_nodejs.yml
Owners: @Xuanwo

add support for Content-Language header in various services and metadata
  core/src/raw/http_util/header.rs
  core/src/raw/ops.rs
  core/src/services/azblob/backend.rs
  core/src/services/azblob/core.rs
  core/src/services/cos/backend.rs
  core/src/services/cos/core.rs
  core/src/services/gcs/backend.rs
  core/src/services/gcs/core.rs
  core/src/services/obs/backend.rs
  core/src/services/oss/backend.rs
  core/src/services/oss/core.rs
  core/src/services/s3/backend.rs
  core/src/services/s3/core.rs
  core/src/services/upyun/backend.rs
  core/src/types/metadata.rs
  core/src/types/operator/operator_futures.rs
  core/tests/behavior/async_write.rs
Owners: @Xuanwo

fix: prepublishOnly
  bindings/nodejs/package.json
Owners: @suyanhanx

add support for Content-Language option in Java, Node.js, and Python bindings
  bindings/java/src/lib.rs
  bindings/nodejs/src/options.rs
  bindings/python/src/options.rs
Owners: @tisonkun, @suyanhanx, @messense, @Zheaoli

fix: package.json
  .github/workflows/ci_bindings_nodejs.yml
  bindings/nodejs/package.json
Owners: @Xuanwo, @suyanhanx

fix: package.json
  bindings/nodejs/npm/darwin-arm64/package.json
  bindings/nodejs/npm/darwin-x64/package.json
  bindings/nodejs/npm/linux-arm64-gnu/package.json
  bindings/nodejs/npm/linux-arm64-musl/package.json
  bindings/nodejs/npm/linux-x64-gnu/package.json
  bindings/nodejs/npm/linux-x64-musl/package.json
  bindings/nodejs/npm/win32-arm64-msvc/package.json
  bindings/nodejs/npm/win32-x64-msvc/package.json
Owners: @suyanhanx

fix Java bindings
  bindings/java/src/main/java/org/apache/opendal/WriteOptions.java
  bindings/python/python/opendal/__init__.pyi
Owners: @tisonkun, @messense, @Zheaoli

async
  bindings/python/tests/test_operator_construction.py
Owners: @messense, @Zheaoli

try
  bindings/python/src/operator.rs
  bindings/python/tests/test_operator_construction.py
Owners: @messense, @Zheaoli

try fix
  bindings/python/src/operator.rs
  bindings/python/tests/test_operator_construction.py
Owners: @messense, @Zheaoli

.github/CODEOWNERS:

* @Xuanwo

/core @Xuanwo
/bindings/c/ @xyjixyjixyji
/bindings/haskell/ @silver-ymz
/bindings/java/ @tisonkun
/bindings/lua/ @oowl
/bindings/nodejs/ @suyanhanx
/bindings/python/ @messense @Zheaoli
/bindings/ruby/ @PsiACE
