Repository apache/opendal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

.github/CODEOWNERS:

* @Xuanwo

/core @Xuanwo
/bindings/c/ @xyjixyjixyji
/bindings/haskell/ @silver-ymz
/bindings/java/ @tisonkun
/bindings/lua/ @oowl
/bindings/nodejs/ @suyanhanx
/bindings/python/ @messense @Zheaoli
/bindings/ruby/ @PsiACE

refactor: remove uuid dependency when creating a temp path
  core/src/raw/path.rs
  core/src/services/fs/backend.rs
  core/src/services/fs/core.rs
  core/src/services/ftp/backend.rs
  core/src/services/hdfs/backend.rs
Owners: @Xuanwo

refactor: remove uuid dependency when creating a temp path
  core/src/raw/path.rs
  core/src/services/fs/backend.rs
  core/src/services/fs/core.rs
  core/src/services/ftp/backend.rs
  core/src/services/hdfs/backend.rs
Owners: @Xuanwo

refactor: remove uuid dependency when creating a temp path (#6324)
  core/src/raw/path.rs
  core/src/services/fs/backend.rs
  core/src/services/fs/core.rs
  core/src/services/ftp/backend.rs
  core/src/services/hdfs/backend.rs
Owners: @Xuanwo

fix(fs/ftp/hdfs): correct tmp_path generation for append operations
  core/src/services/fs/core.rs
  core/src/services/ftp/backend.rs
  core/src/services/hdfs/backend.rs
Owners: @Xuanwo

fix(fs/ftp/hdfs): correct tmp_path generation for append operations (#6327)
  core/src/services/fs/core.rs
  core/src/services/ftp/backend.rs
  core/src/services/hdfs/backend.rs
Owners: @Xuanwo

fix(service/fs): handle if_not_exists flag to raise ConditionNotMatch error
  core/src/services/fs/core.rs
Owners: @Xuanwo

refactor: simplify atomic write path handling logic
  core/src/services/fs/core.rs
Owners: @Xuanwo

chore: format code
  core/src/services/fs/core.rs
Owners: @Xuanwo

fix: if_not_exists
  core/src/services/fs/core.rs
Owners: @Xuanwo

ci(services/compfs): add integrtation tests for compfs service (#6319)
  .github/services/compfs/compfs/action.yml
  bindings/java/Cargo.toml
  bindings/nodejs/Cargo.toml
  bindings/python/Cargo.toml
Owners: @Xuanwo, @tisonkun, @suyanhanx, @messense, @Zheaoli

fix(dav-server): Fix create_dir to create nested directories (#6321)
  integrations/dav-server/src/fs.rs
Owners: @Xuanwo

refactor fs write logic
  core/src/services/fs/backend.rs
  core/src/services/fs/core.rs
  core/src/services/fs/writer.rs
Owners: @Xuanwo

fix(service/fs): handle if_not_exists flag to raise ConditionNotMatch error (#6326)
  core/src/services/fs/backend.rs
  core/src/services/fs/core.rs
  core/src/services/fs/writer.rs
Owners: @Xuanwo

chore: Add npm to dependabot (#6318)
  .github/dependabot.yml
Owners: @Xuanwo

feat(bindings/nodejs): Add ListOptions support for new options API (#6320)
  bindings/nodejs/generated.d.ts
  bindings/nodejs/src/capability.rs
  bindings/nodejs/src/lib.rs
  bindings/nodejs/src/options.rs
  bindings/nodejs/tests/suites/asyncListOptions.suite.mjs
  bindings/nodejs/tests/suites/index.mjs
  bindings/nodejs/tests/suites/syncListOptions.suite.mjs
Owners: @suyanhanx

fix(services/fs): Avoid creating partial files
  core/src/services/fs/writer.rs
Owners: @Xuanwo

Update
  website/DEPENDENCIES.node.csv
Owners: @Xuanwo

chore(dav-server): Add a test for creating nested directories
  integrations/dav-server/tests/test.rs
Owners: @Xuanwo

fix(ci): website-dependencies license-checker error
  website/DEPENDENCIES.node.csv
Owners: @Xuanwo

Fix website
  website/package.json
  website/pnpm-lock.yaml
Owners: @Xuanwo

fix: dependencies upgrade
  website/package.json
  website/pnpm-lock.yaml
Owners: @Xuanwo

fix: DEPENDENCIES.node.csv
  website/DEPENDENCIES.node.csv
Owners: @Xuanwo

Fix website deps
  website/DEPENDENCIES.node.csv
Owners: @Xuanwo

fix(services/fs): Avoid creating partial files (#6336)
  core/src/services/fs/writer.rs
  website/DEPENDENCIES.node.csv
  website/package.json
  website/pnpm-lock.yaml
Owners: @Xuanwo

fix(bindings/nodejs): ListOptions test list with deleted
  bindings/nodejs/tests/suites/asyncListOptions.suite.mjs
  bindings/nodejs/tests/suites/syncListOptions.suite.mjs
Owners: @suyanhanx

feat(bindings/nodejs): Add WriteOptions support for new options API
  bindings/nodejs/generated.d.ts
  bindings/nodejs/src/capability.rs
  bindings/nodejs/src/lib.rs
  bindings/nodejs/src/options.rs
  bindings/nodejs/tests/suites/asyncWriteOptions.suite.mjs
  bindings/nodejs/tests/suites/index.mjs
  bindings/nodejs/tests/suites/syncWriteOptions.suite.mjs
Owners: @suyanhanx

fix(bindings/nodejs): ListOptions test list with deleted (#6335)
  bindings/nodejs/tests/suites/asyncListOptions.suite.mjs
  bindings/nodejs/tests/suites/syncListOptions.suite.mjs
Owners: @suyanhanx

fix
  bindings/cpp/src/lib.rs
  bindings/cpp/src/operator.cpp
Owners: @Xuanwo

enable async in ci
  .github/actions/test_behavior_binding_cpp/action.yaml
Owners: @Xuanwo

try fix
  .github/scripts/test_behavior/plan.py
  bindings/cpp/test_runner.sh
  bindings/cpp/tests/behavior/delete_test.cpp
  bindings/cpp/tests/behavior/list_test.cpp
  bindings/cpp/tests/behavior/read_test.cpp
  bindings/cpp/tests/behavior/write_test.cpp
  bindings/cpp/tests/benchmark/benchmark_test.cpp
  bindings/cpp/tests/framework/test_framework.hpp
Owners: @Xuanwo

rm summary
  bindings/cpp/tests/FRAMEWORK_SUMMARY.md
Owners: @Xuanwo

try fix
  bindings/cpp/src/operator.cpp
  bindings/cpp/tests/behavior/list_test.cpp
  bindings/cpp/tests/framework/test_framework.hpp
Owners: @Xuanwo

add missing header
  bindings/cpp/tests/behavior/delete_test.cpp
  bindings/cpp/tests/behavior/list_test.cpp
  bindings/cpp/tests/benchmark/benchmark_test.cpp
Owners: @Xuanwo

less benchmark
  bindings/cpp/tests/benchmark/benchmark_test.cpp
Owners: @Xuanwo

doxygen
  .github/workflows/test_behavior_binding_cpp.yml
Owners: @Xuanwo

add missing header
  bindings/cpp/tests/behavior/read_test.cpp
  bindings/cpp/tests/behavior/write_test.cpp
Owners: @Xuanwo

try cpp framework
  .github/actions/test_behavior_binding_cpp/action.yaml
  .github/scripts/test_behavior/plan.py
  .github/workflows/test_behavior.yml
  .github/workflows/test_behavior_binding_cpp.yml
  bindings/cpp/CMakeLists.txt
  bindings/cpp/include/opendal.hpp
  bindings/cpp/src/lib.rs
  bindings/cpp/src/operator.cpp
  bindings/cpp/test_runner.sh
  bindings/cpp/tests/FRAMEWORK_SUMMARY.md
  bindings/cpp/tests/README.md
  bindings/cpp/tests/basic_test.cpp
  bindings/cpp/tests/behavior/async_list_test.cpp
  bindings/cpp/tests/behavior/async_read_test.cpp
  bindings/cpp/tests/behavior/async_write_test.cpp
  bindings/cpp/tests/behavior/delete_test.cpp
  bindings/cpp/tests/behavior/list_test.cpp
  bindings/cpp/tests/behavior/read_test.cpp
  bindings/cpp/tests/behavior/write_test.cpp
  bindings/cpp/tests/benchmark/benchmark_test.cpp
  bindings/cpp/tests/framework/test_framework.hpp
  bindings/cpp/tests/test_main.cpp
Owners: @Xuanwo

add test case
  integrations/object_store/src/backend/mod.rs
Owners: @Xuanwo

add test cases
  integrations/object_store/src/backend/mod.rs
Owners: @Xuanwo

try remove unsafe from cpp bindings
  bindings/cpp/include/opendal_async.hpp
  bindings/cpp/src/async.rs
  bindings/cpp/src/opendal_async.cpp
Owners: @Xuanwo
