Repository apache/opendal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

ci: memcached
  .github/services/memcached/memcached_with_auth/action.yml
  fixtures/memcached/docker-compose-memcached-with-auth.yml
Owners: @Xuanwo

ci
  .github/services/memcached/memcached_with_auth/action.yml
  fixtures/memcached/docker-compose-memcached-with-auth.yml
Owners: @Xuanwo

ci: use bitnamilegacy
  .github/services/etcd/etcd-tls/action.yml
  .github/services/memcached/memcached_with_auth/action.yml
  fixtures/etcd/docker-compose-cluster.yml
  fixtures/etcd/docker-compose-standalone-tls.yml
  fixtures/etcd/docker-compose-standalone.yml
  fixtures/memcached/docker-compose-memcached-with-auth.yml
  fixtures/memcached/docker-compose-memcached.yml
  fixtures/redis/docker-compose-redis-cluster-tls.yml
  fixtures/redis/docker-compose-redis-cluster.yml
  fixtures/redis/docker-compose-redis-tls.yml
  fixtures/redis/docker-compose-redis.yml
Owners: @Xuanwo

ci: remove log
  .github/services/memcached/memcached_with_auth/action.yml
Owners: @Xuanwo

feat(bindings/ruby): bump magnus to 0.8
  bindings/ruby/Cargo.toml
Owners: @PsiACE

feat(bindings/ruby): support Ruby's IO#new parameters
  bindings/ruby/src/io.rs
  bindings/ruby/src/operator.rs
Owners: @PsiACE

chore(bindings/ruby): use OpenDal as namespace
  bindings/ruby/lib/opendal_ruby/entry.rb
  bindings/ruby/lib/opendal_ruby/io.rb
  bindings/ruby/lib/opendal_ruby/metadata.rb
  bindings/ruby/lib/opendal_ruby/operator.rb
  bindings/ruby/lib/opendal_ruby/operator_info.rb
  bindings/ruby/src/capability.rs
  bindings/ruby/src/io.rs
  bindings/ruby/src/lib.rs
  bindings/ruby/src/lister.rs
  bindings/ruby/src/metadata.rs
  bindings/ruby/src/middlewares.rs
  bindings/ruby/src/operator.rs
  bindings/ruby/src/operator_info.rs
  bindings/ruby/test/blocking_op_test.rb
  bindings/ruby/test/capability_test.rb
  bindings/ruby/test/io_test.rb
  bindings/ruby/test/lister_test.rb
  bindings/ruby/test/middlewares_test.rb
  bindings/ruby/test/operator_info_test.rb
Owners: @PsiACE

feat(bindings/ruby): support read with size and output buffer
  bindings/ruby/src/io.rs
  bindings/ruby/test/io_test.rb
Owners: @PsiACE

chore(bindings/ruby): remove deprecations
  bindings/ruby/src/capability.rs
  bindings/ruby/src/io.rs
  bindings/ruby/src/lib.rs
  bindings/ruby/src/lister.rs
  bindings/ruby/src/metadata.rs
  bindings/ruby/src/middlewares.rs
  bindings/ruby/src/operator.rs
  bindings/ruby/src/operator_info.rs
Owners: @PsiACE

chore(bindings): align workflow names
  .github/workflows/release_dart.yml
  .github/workflows/release_nodejs.yml
  .github/workflows/release_python.yml
Owners: @Xuanwo

fix linting
  bindings/ruby/test/io_test.rb
Owners: @PsiACE

chore(bindings/ruby): test ruby-head
  .github/workflows/ci_bindings_ruby.yml
Owners: @Xuanwo

feat(bindings/ruby): trust publishing Ruby binding
  .github/workflows/release_ruby.yml
  bindings/ruby/Cargo.toml
  bindings/ruby/Rakefile
  bindings/ruby/opendal.gemspec
Owners: @Xuanwo, @PsiACE

feat: add create_dir support for OPFS
  .github/workflows/ci_core.yml
  core/Cargo.toml
  core/src/services/opfs/backend.rs
  core/src/services/opfs/core.rs
  core/src/services/opfs/error.rs
  core/src/services/opfs/utils.rs
Owners: @Xuanwo

feat(services/opfs): Add `create_dir` support for OPFS (#6542)
  .github/workflows/ci_core.yml
  core/Cargo.toml
  core/src/services/opfs/backend.rs
  core/src/services/opfs/core.rs
  core/src/services/opfs/error.rs
  core/src/services/opfs/utils.rs
Owners: @Xuanwo

feat(bindings/ruby): support file open options (#6538)
  bindings/ruby/Cargo.toml
  bindings/ruby/lib/opendal_ruby/entry.rb
  bindings/ruby/lib/opendal_ruby/io.rb
  bindings/ruby/lib/opendal_ruby/metadata.rb
  bindings/ruby/lib/opendal_ruby/operator.rb
  bindings/ruby/lib/opendal_ruby/operator_info.rb
  bindings/ruby/src/capability.rs
  bindings/ruby/src/io.rs
  bindings/ruby/src/lib.rs
  bindings/ruby/src/lister.rs
  bindings/ruby/src/metadata.rs
  bindings/ruby/src/middlewares.rs
  bindings/ruby/src/operator.rs
  bindings/ruby/src/operator_info.rs
  bindings/ruby/test/blocking_op_test.rb
  bindings/ruby/test/capability_test.rb
  bindings/ruby/test/io_test.rb
  bindings/ruby/test/lister_test.rb
  bindings/ruby/test/middlewares_test.rb
  bindings/ruby/test/operator_info_test.rb
Owners: @PsiACE

chore(bindings): align workflow names
  .github/workflows/release_dart.yml
  .github/workflows/release_nodejs.yml
  .github/workflows/release_python.yml
Owners: @Xuanwo

chore: update crates_llms_txt
  website/docusaurus.config.js
Owners: @Xuanwo

chore: adjust CI workflow names for bindings (#6540)
  .github/workflows/release_dart.yml
  .github/workflows/release_nodejs.yml
  .github/workflows/release_python.yml
Owners: @Xuanwo

docs: update docs of building a storage service
  core/src/docs/internals/accessor.rs
  core/src/docs/internals/layer.rs
Owners: @Xuanwo

docs(core): update docs of building a storage service (#6554)
  core/src/docs/internals/accessor.rs
  core/src/docs/internals/layer.rs
Owners: @Xuanwo

fix: Do not trim trailing slash of name_node
  core/src/services/hdfs/backend.rs
Owners: @Xuanwo

fix: Do not trim trailing slash of name_node (#6556)
  core/src/services/hdfs/backend.rs
Owners: @Xuanwo

chore(ci): migrate etcd, memcached, redis, and redis-cluster images to new sources (#6435)
  fixtures/etcd/docker-compose-cluster.yml
  fixtures/etcd/docker-compose-standalone-tls.yml
  fixtures/etcd/docker-compose-standalone.yml
  fixtures/memcached/docker-compose-memcached-with-auth.yml
  fixtures/memcached/docker-compose-memcached.yml
  fixtures/redis/docker-compose-redis-cluster-tls.yml
  fixtures/redis/docker-compose-redis-cluster.yml
  fixtures/redis/docker-compose-redis-tls.yml
  fixtures/redis/docker-compose-redis.yml
Owners: @Xuanwo

Fix node
  bindings/nodejs/generated.js
Owners: @suyanhanx

feat: added shared drives params
  core/src/services/gdrive/builder.rs
  core/src/services/gdrive/config.rs
  core/src/services/gdrive/core.rs
Owners: @Xuanwo

fix: added builder option for include files
  core/src/services/gdrive/builder.rs
Owners: @Xuanwo

chore: switches etcd image to official etcd image
  fixtures/etcd/docker-compose-standalone-tls.yml
Owners: @Xuanwo

ci: fix
  .github/services/etcd/etcd-tls/action.yml
  fixtures/etcd/docker-compose-standalone-tls.yml
Owners: @Xuanwo

ci: fix env
  .github/services/etcd/etcd-tls/action.yml
Owners: @Xuanwo

ci: fix endpoints
  .github/services/etcd/etcd-tls/action.yml
  fixtures/etcd/docker-compose-standalone-tls.yml
Owners: @Xuanwo

ci: test
  .github/services/etcd/etcd-tls/action.yml
  fixtures/etcd/docker-compose-standalone-tls.yml
Owners: @Xuanwo

ci: fix healthy
  .github/services/etcd/etcd-tls/action.yml
  fixtures/etcd/docker-compose-standalone-tls.yml
Owners: @Xuanwo

ci: fix
  fixtures/etcd/docker-compose-standalone-tls.yml
Owners: @Xuanwo

ci: test
  fixtures/etcd/docker-compose-standalone-tls.yml
Owners: @Xuanwo

ci: fix
  .github/services/etcd/etcd-tls/action.yml
Owners: @Xuanwo

ci: switches etcd image to official etcd image (#6562)
  .github/services/etcd/etcd-tls/action.yml
  fixtures/etcd/docker-compose-standalone-tls.yml
Owners: @Xuanwo

chore(bindings/nodejs): replace custom sleep with setTimeout in tests
  bindings/nodejs/tests/suites/asyncReadOptions.suite.mjs
  bindings/nodejs/tests/suites/asyncStatOptions.suite.mjs
  bindings/nodejs/tests/utils.mjs
Owners: @suyanhanx

chore(bindings/nodejs): replace custom sleep with setTimeout in tests (#6563)
  bindings/nodejs/tests/suites/asyncReadOptions.suite.mjs
  bindings/nodejs/tests/suites/asyncStatOptions.suite.mjs
  bindings/nodejs/tests/utils.mjs
Owners: @suyanhanx

feat(bindings/ruby): trust publishing Ruby binding
  .github/workflows/release_ruby.yml
  bindings/ruby/Cargo.toml
  bindings/ruby/Rakefile
  bindings/ruby/opendal.gemspec
Owners: @Xuanwo, @PsiACE

.github/CODEOWNERS:

* @Xuanwo

/core @Xuanwo
/bindings/c/ @xyjixyjixyji
/bindings/haskell/ @silver-ymz
/bindings/java/ @tisonkun
/bindings/lua/ @oowl
/bindings/nodejs/ @suyanhanx
/bindings/python/ @messense @Zheaoli
/bindings/ruby/ @PsiACE
