Repository apache/opendal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

fix
  bindings/c/examples/compare_sync_async.c
  bindings/c/include/opendal.h
  bindings/c/src/async_operator.rs
  bindings/c/tests/example_test.cpp
  bindings/c/tests/test_framework.cpp
  bindings/c/tests/test_runner.cpp
  bindings/c/tests/test_suites_basic.cpp
  bindings/c/tests/test_suites_list.cpp
  bindings/c/tests/test_suites_reader_writer.cpp
Owners: @xyjixyjixyji

add test
  bindings/c/tests/Makefile
  bindings/c/tests/test_runner.cpp
  bindings/c/tests/test_suites_async.cpp
Owners: @xyjixyjixyji

reuse op to fix lock
  bindings/c/include/opendal.h
  bindings/c/src/async_operator.rs
  bindings/c/src/operator.rs
  bindings/c/tests/test_framework.cpp
  bindings/c/tests/test_framework.h
  bindings/c/tests/test_suites_async.cpp
Owners: @xyjixyjixyji

chore: ring has been migrated to new license
  deny.toml
Owners: @Xuanwo

regenerate deps.csv
  bindings/c/DEPENDENCIES.rust.tsv
  bindings/cpp/DEPENDENCIES.rust.tsv
  bindings/dotnet/DEPENDENCIES.rust.tsv
  bindings/haskell/DEPENDENCIES.rust.tsv
  bindings/java/DEPENDENCIES.rust.tsv
  bindings/lua/DEPENDENCIES.rust.tsv
  bindings/nodejs/DEPENDENCIES.rust.tsv
  bindings/ocaml/DEPENDENCIES.rust.tsv
  bindings/php/DEPENDENCIES.rust.tsv
  bindings/python/DEPENDENCIES.rust.tsv
  bindings/ruby/DEPENDENCIES.rust.tsv
  core/DEPENDENCIES.rust.tsv
  integrations/dav-server/DEPENDENCIES.rust.tsv
  integrations/object_store/DEPENDENCIES.rust.tsv
  integrations/parquet/DEPENDENCIES.rust.tsv
  integrations/unftp-sbe/DEPENDENCIES.rust.tsv
Owners: @xyjixyjixyji, @Xuanwo, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

fine tune reports
  deny.toml
  scripts/dependencies.py
Owners: @Xuanwo

regen
  bindings/c/DEPENDENCIES.rust.tsv
  bindings/cpp/DEPENDENCIES.rust.tsv
  bindings/dotnet/DEPENDENCIES.rust.tsv
  bindings/haskell/DEPENDENCIES.rust.tsv
  bindings/java/DEPENDENCIES.rust.tsv
  bindings/lua/DEPENDENCIES.rust.tsv
  bindings/nodejs/DEPENDENCIES.rust.tsv
  bindings/ocaml/DEPENDENCIES.rust.tsv
  bindings/php/DEPENDENCIES.rust.tsv
  bindings/python/DEPENDENCIES.rust.tsv
  bindings/ruby/DEPENDENCIES.rust.tsv
  deny.toml
  integrations/dav-server/DEPENDENCIES.rust.tsv
  integrations/object_store/DEPENDENCIES.rust.tsv
  integrations/parquet/DEPENDENCIES.rust.tsv
  integrations/unftp-sbe/DEPENDENCIES.rust.tsv
Owners: @xyjixyjixyji, @Xuanwo, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

chore: ring has been migrated to new license (#6811)
  bindings/c/DEPENDENCIES.rust.tsv
  bindings/cpp/DEPENDENCIES.rust.tsv
  bindings/dotnet/DEPENDENCIES.rust.tsv
  bindings/haskell/DEPENDENCIES.rust.tsv
  bindings/java/DEPENDENCIES.rust.tsv
  bindings/lua/DEPENDENCIES.rust.tsv
  bindings/nodejs/DEPENDENCIES.rust.tsv
  bindings/ocaml/DEPENDENCIES.rust.tsv
  bindings/php/DEPENDENCIES.rust.tsv
  bindings/python/DEPENDENCIES.rust.tsv
  bindings/ruby/DEPENDENCIES.rust.tsv
  core/DEPENDENCIES.rust.tsv
  deny.toml
  integrations/dav-server/DEPENDENCIES.rust.tsv
  integrations/object_store/DEPENDENCIES.rust.tsv
  integrations/parquet/DEPENDENCIES.rust.tsv
  integrations/unftp-sbe/DEPENDENCIES.rust.tsv
  scripts/dependencies.py
Owners: @xyjixyjixyji, @Xuanwo, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

chore: fine tune deny configs
  deny.toml
Owners: @Xuanwo

remove operator add unitest
  core/src/types/context/write.rs
  core/src/types/operator/operator.rs
Owners: @Xuanwo

fix clippy
  core/src/types/context/write.rs
Owners: @Xuanwo

chore: fine tune deny configs (#6812)
  deny.toml
Owners: @Xuanwo

feat(service/s3): support crc64nvme algorithm
  core/Cargo.lock
  core/Cargo.toml
  core/src/services/s3/backend.rs
  core/src/services/s3/config.rs
  core/src/services/s3/core.rs
  core/src/services/s3/writer.rs
Owners: @Xuanwo

chore: suppress noisy deny warnings
  deny.toml
Owners: @Xuanwo

chore: suppress noisy deny warnings (#6816)
  deny.toml
Owners: @Xuanwo

fix clippy
  core/src/services/s3/core.rs
Owners: @Xuanwo

rfc: Checksum
  core/src/docs/rfcs/0000_checksum.md
Owners: @Xuanwo

Set name
  core/src/docs/rfcs/6817_checksum.md
  core/src/docs/rfcs/mod.rs
Owners: @Xuanwo

Update comments
  core/src/docs/rfcs/6817_checksum.md
Owners: @Xuanwo

replace crc32c with crc-fast
  core/Cargo.lock
  core/Cargo.toml
  core/DEPENDENCIES.rust.tsv
  core/src/services/s3/core.rs
Owners: @Xuanwo

chore: move from tokio::sync to mea primitives
  bindings/cpp/Cargo.toml
  bindings/cpp/src/async.rs
  bindings/python/Cargo.toml
  bindings/python/src/file.rs
  bindings/python/src/lister.rs
  core/Cargo.lock
  core/Cargo.toml
  core/src/layers/concurrent_limit.rs
  core/src/raw/oio/write/multipart_write.rs
  core/src/raw/path_cache.rs
  core/src/services/aliyun_drive/backend.rs
  core/src/services/aliyun_drive/core.rs
  core/src/services/b2/backend.rs
  core/src/services/b2/core.rs
  core/src/services/dropbox/builder.rs
  core/src/services/dropbox/core.rs
  core/src/services/gdrive/builder.rs
  core/src/services/gdrive/core.rs
  core/src/services/koofr/backend.rs
  core/src/services/koofr/core.rs
  core/src/services/onedrive/builder.rs
  core/src/services/onedrive/core.rs
  core/src/services/seafile/backend.rs
  core/src/services/seafile/core.rs
  core/src/types/context/write.rs
  integrations/object_store/Cargo.toml
  integrations/object_store/src/service/writer.rs
  integrations/object_store/src/store.rs
Owners: @Xuanwo, @messense, @Zheaoli

for oncecell
  core/src/services/etcd/backend.rs
  core/src/services/etcd/core.rs
  core/src/services/ftp/backend.rs
  core/src/services/ftp/core.rs
  core/src/services/gridfs/backend.rs
  core/src/services/gridfs/core.rs
  core/src/services/koofr/backend.rs
  core/src/services/koofr/core.rs
  core/src/services/memcached/backend.rs
  core/src/services/memcached/core.rs
  core/src/services/mongodb/backend.rs
  core/src/services/mongodb/core.rs
  core/src/services/mysql/backend.rs
  core/src/services/mysql/core.rs
  core/src/services/postgresql/backend.rs
  core/src/services/postgresql/core.rs
  core/src/services/redis/backend.rs
  core/src/services/redis/core.rs
  core/src/services/sftp/backend.rs
  core/src/services/sftp/core.rs
  core/src/services/sqlite/backend.rs
  core/src/services/sqlite/core.rs
  core/src/services/surrealdb/backend.rs
  core/src/services/surrealdb/core.rs
  core/src/services/tikv/backend.rs
  core/src/services/tikv/core.rs
  core/src/services/webhdfs/backend.rs
  core/src/services/webhdfs/core.rs
Owners: @Xuanwo

for notify
  bindings/cpp/Cargo.toml
  bindings/python/Cargo.toml
  core/Cargo.lock
  core/Cargo.toml
  integrations/object_store/src/store.rs
Owners: @Xuanwo, @messense, @Zheaoli

fixup signature
  bindings/cpp/src/async.rs
Owners: @Xuanwo

fixup compile
  core/src/services/sqlite/backend.rs
Owners: @Xuanwo

feat: Implement concurrent write for azdls
  core/src/raw/oio/write/position_write.rs
  core/src/services/azdls/backend.rs
  core/src/services/azdls/core.rs
  core/src/services/azdls/writer.rs
  core/src/services/fs/writer.rs
Owners: @Xuanwo

Allow multi
  core/src/services/azdls/backend.rs
Owners: @Xuanwo

Fix build
  core/src/services/azdls/backend.rs
  core/src/services/azdls/writer.rs
Owners: @Xuanwo

chore: use fastpool as object pool impl
  core/Cargo.lock
  core/Cargo.toml
  core/src/services/etcd/backend.rs
  core/src/services/etcd/core.rs
  core/src/services/ftp/backend.rs
  core/src/services/ftp/core.rs
  core/src/services/ftp/deleter.rs
  core/src/services/ftp/err.rs
  core/src/services/ftp/reader.rs
  core/src/services/ftp/writer.rs
Owners: @Xuanwo

for redis
  core/src/services/redis/backend.rs
  core/src/services/redis/config.rs
  core/src/services/redis/core.rs
Owners: @Xuanwo

for sftp
  core/src/services/sftp/backend.rs
  core/src/services/sftp/core.rs
  core/src/services/sftp/reader.rs
Owners: @Xuanwo

for memcached
  core/src/services/memcached/backend.rs
  core/src/services/memcached/binary.rs
  core/src/services/memcached/config.rs
  core/src/services/memcached/core.rs
Owners: @Xuanwo

Fix build
  core/src/services/azdls/backend.rs
  core/src/services/azdls/writer.rs
Owners: @Xuanwo

fixup compile
  core/Cargo.toml
  core/src/services/etcd/core.rs
  core/src/services/memcached/backend.rs
Owners: @Xuanwo

Don't support abort
  core/src/services/azdls/writer.rs
Owners: @Xuanwo

chore: use fastpool as object pool impl (#6820)
  core/Cargo.lock
  core/Cargo.toml
  core/src/services/etcd/backend.rs
  core/src/services/etcd/core.rs
  core/src/services/ftp/backend.rs
  core/src/services/ftp/core.rs
  core/src/services/ftp/deleter.rs
  core/src/services/ftp/err.rs
  core/src/services/ftp/reader.rs
  core/src/services/ftp/writer.rs
  core/src/services/memcached/backend.rs
  core/src/services/memcached/binary.rs
  core/src/services/memcached/config.rs
  core/src/services/memcached/core.rs
  core/src/services/redis/backend.rs
  core/src/services/redis/config.rs
  core/src/services/redis/core.rs
  core/src/services/sftp/backend.rs
  core/src/services/sftp/core.rs
  core/src/services/sftp/reader.rs
Owners: @Xuanwo

feat: Implement concurrent write for azdls (#6819)
  core/src/raw/oio/write/position_write.rs
  core/src/services/azdls/backend.rs
  core/src/services/azdls/core.rs
  core/src/services/azdls/writer.rs
  core/src/services/fs/writer.rs
Owners: @Xuanwo

fix for the test
  core/src/services/seafile/writer.rs
Owners: @Xuanwo

ci(python): Build wheels in native runners
  .github/workflows/release_python.yml
Owners: @Xuanwo

ci(python): Build wheels in native runners (#6821)
  .github/workflows/release_python.yml
Owners: @Xuanwo

.github/CODEOWNERS:

* @Xuanwo

/core @Xuanwo
/bindings/c/ @xyjixyjixyji
/bindings/haskell/ @silver-ymz
/bindings/java/ @tisonkun
/bindings/lua/ @oowl
/bindings/nodejs/ @suyanhanx
/bindings/python/ @messense @Zheaoli
/bindings/ruby/ @PsiACE
