Repository apache/opendal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

.github/CODEOWNERS:

* @Xuanwo

/core @Xuanwo
/bindings/c/ @xyjixyjixyji
/bindings/haskell/ @silver-ymz
/bindings/java/ @tisonkun
/bindings/lua/ @oowl
/bindings/nodejs/ @suyanhanx
/bindings/python/ @messense @Zheaoli
/bindings/ruby/ @PsiACE

Refactor sqlite to implement Access directly
  core/Cargo.lock
  core/Cargo.toml
  core/src/services/sqlite/backend.rs
  core/src/services/sqlite/core.rs
  core/src/services/sqlite/delete.rs
  core/src/services/sqlite/lister.rs
  core/src/services/sqlite/writer.rs
Owners: @Xuanwo

add dep
  core/Cargo.toml
Owners: @Xuanwo

fix clippy warnings of bindings/odev/integrations
  bindings/haskell/src/result.rs
  bindings/java/src/convert.rs
  bindings/java/src/lib.rs
  bindings/nodejs/src/lib.rs
  bindings/ruby/src/middlewares.rs
  dev/src/generate/java.rs
  dev/src/release/mod.rs
  dev/src/release/package.rs
  integrations/cloud_filter/src/lib.rs
  integrations/dav-server/tests/test.rs
  integrations/fuse3/src/file_system.rs
  integrations/virtiofs/src/error.rs
  integrations/virtiofs/src/filesystem.rs
Owners: @silver-ymz, @tisonkun, @suyanhanx, @PsiACE, @Xuanwo

cargo fmt
  bindings/java/src/convert.rs
  integrations/fuse3/src/file_system.rs
Owners: @tisonkun, @Xuanwo

refactor: Migrate cloudflare_kv from adapter::typed_kv to Access instead
  .env.example
  core/src/services/cloudflare_kv/backend.rs
  core/src/services/cloudflare_kv/config.rs
  core/src/services/cloudflare_kv/core.rs
  core/src/services/cloudflare_kv/delete.rs
  core/src/services/cloudflare_kv/docs.md
  core/src/services/cloudflare_kv/lister.rs
  core/src/services/cloudflare_kv/mod.rs
  core/src/services/cloudflare_kv/writer.rs
  core/src/types/operator/builder.rs
  core/src/types/scheme.rs
Owners: @Xuanwo

add range, split into several files and add tests
  core/src/services/sqlite/lister.rs
Owners: @Xuanwo

fix: test
  core/src/services/cloudflare_kv/backend.rs
Owners: @Xuanwo

refactor: the read logic to use the single-key instead of batch_get
  core/src/services/cloudflare_kv/backend.rs
  core/src/services/cloudflare_kv/core.rs
  core/src/services/cloudflare_kv/delete.rs
  core/src/services/cloudflare_kv/error.rs
  core/src/services/cloudflare_kv/lister.rs
  core/src/services/cloudflare_kv/mod.rs
  core/src/services/cloudflare_kv/model.rs
  core/src/services/cloudflare_kv/writer.rs
Owners: @Xuanwo

chore: format
  core/src/services/cloudflare_kv/mod.rs
Owners: @Xuanwo

feat(bindings/go): add comprehensive benchmark testing with Makefile target and CI integration
  .github/actions/test_behavior_binding_go/action.yaml
  bindings/go/Makefile
  bindings/go/README.md
  bindings/go/tests/behavior_tests/benchmark_test.go
  bindings/go/tests/behavior_tests/go.mod
  bindings/go/tests/behavior_tests/go.sum
Owners: @Xuanwo

feat(bindings/go): add benchmark (#6341)
  .github/actions/test_behavior_binding_go/action.yaml
  bindings/go/Makefile
  bindings/go/README.md
  bindings/go/tests/behavior_tests/benchmark_test.go
  bindings/go/tests/behavior_tests/go.mod
  bindings/go/tests/behavior_tests/go.sum
Owners: @Xuanwo

refactor(layers/logging): Don't trigger logigng in heavy IO path
  core/benches/vs_fs/src/main.rs
  core/examples/basic/src/main.rs
  core/src/layers/logging.rs
Owners: @Xuanwo

refactor: Migrate dashmap service to implement Access directly
  core/src/services/dashmap/backend.rs
  core/src/services/dashmap/config.rs
  core/src/services/dashmap/core.rs
  core/src/services/dashmap/delete.rs
  core/src/services/dashmap/docs.md
  core/src/services/dashmap/lister.rs
  core/src/services/dashmap/writer.rs
Owners: @Xuanwo

chore(dav-server): Add a test for creating nested directories (#6338)
  integrations/dav-server/tests/test.rs
Owners: @Xuanwo

refactor(layers/logging): Don't trigger logigng in heavy IO path (#6343)
  core/benches/vs_fs/src/main.rs
  core/examples/basic/src/main.rs
  core/src/layers/logging.rs
Owners: @Xuanwo

chore: bump msrv to v1.82.0
  .github/workflows/ci_core.yml
  CLAUDE.md
  bin/oay/Cargo.toml
  bin/ofs/Cargo.toml
  bin/oli/Cargo.toml
  bindings/c/Cargo.toml
  bindings/cpp/Cargo.toml
  bindings/dotnet/Cargo.toml
  bindings/haskell/Cargo.toml
  bindings/java/Cargo.toml
  bindings/lua/Cargo.toml
  bindings/nodejs/Cargo.toml
  bindings/ocaml/Cargo.toml
  bindings/php/Cargo.toml
  bindings/python/Cargo.toml
  bindings/ruby/Cargo.toml
  bindings/ruby/opendal.gemspec
  core/Cargo.toml
  core/benches/vs_fs/Cargo.toml
  core/benches/vs_s3/Cargo.toml
  core/fuzz/Cargo.toml
  core/src/docs/upgrade.md
  dev/Cargo.toml
  integrations/cloud_filter/Cargo.toml
  integrations/dav-server/Cargo.toml
  integrations/fuse3/Cargo.toml
  integrations/object_store/Cargo.toml
  integrations/parquet/Cargo.toml
  integrations/unftp-sbe/Cargo.toml
  integrations/virtiofs/Cargo.toml
Owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

chore: make clippy happy
  CONTRIBUTING.md
  core/tests/behavior/async_list.rs
Owners: @Xuanwo

refactor: Migrate dashmap service to implement Access directly
  core/src/services/dashmap/backend.rs
  core/src/services/dashmap/config.rs
  core/src/services/dashmap/core.rs
  core/src/services/dashmap/delete.rs
  core/src/services/dashmap/docs.md
  core/src/services/dashmap/lister.rs
  core/src/services/dashmap/writer.rs
Owners: @Xuanwo

chore: bump msrv to v1.82.0 (#6348)
  .github/workflows/ci_core.yml
  CLAUDE.md
  CONTRIBUTING.md
  bin/oay/Cargo.toml
  bin/ofs/Cargo.toml
  bin/oli/Cargo.toml
  bindings/c/Cargo.toml
  bindings/cpp/Cargo.toml
  bindings/dotnet/Cargo.toml
  bindings/haskell/Cargo.toml
  bindings/java/Cargo.toml
  bindings/lua/Cargo.toml
  bindings/nodejs/Cargo.toml
  bindings/ocaml/Cargo.toml
  bindings/php/Cargo.toml
  bindings/python/Cargo.toml
  bindings/ruby/Cargo.toml
  bindings/ruby/opendal.gemspec
  core/Cargo.toml
  core/benches/vs_fs/Cargo.toml
  core/benches/vs_s3/Cargo.toml
  core/fuzz/Cargo.toml
  core/src/docs/upgrade.md
  core/tests/behavior/async_list.rs
  dev/Cargo.toml
  integrations/cloud_filter/Cargo.toml
  integrations/dav-server/Cargo.toml
  integrations/fuse3/Cargo.toml
  integrations/object_store/Cargo.toml
  integrations/parquet/Cargo.toml
  integrations/unftp-sbe/Cargo.toml
  integrations/virtiofs/Cargo.toml
Owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

refactor: Migrate dashmap service to implement Access directly (#6344)
  core/src/services/dashmap/backend.rs
  core/src/services/dashmap/config.rs
  core/src/services/dashmap/core.rs
  core/src/services/dashmap/delete.rs
  core/src/services/dashmap/docs.md
  core/src/services/dashmap/lister.rs
  core/src/services/dashmap/writer.rs
Owners: @Xuanwo

Refactor sqlite to implement Access directly
  core/Cargo.lock
  core/Cargo.toml
  core/src/services/sqlite/backend.rs
  core/src/services/sqlite/core.rs
  core/src/services/sqlite/delete.rs
  core/src/services/sqlite/lister.rs
  core/src/services/sqlite/writer.rs
Owners: @Xuanwo

Update DEPENDENCIES.node.csv
  website/DEPENDENCIES.node.csv
Owners: @Xuanwo

add group dep for dependabot
  .github/dependabot.yml
Owners: @Xuanwo

fix(cloudflare_kv): handle path normalization and metadata properly
  core/src/services/cloudflare_kv/backend.rs
  core/src/services/cloudflare_kv/core.rs
  core/src/services/cloudflare_kv/delete.rs
  core/src/services/cloudflare_kv/writer.rs
Owners: @Xuanwo

chore: add group dep for dependabot (#6357)
  .github/dependabot.yml
Owners: @Xuanwo

Update DEPENDENCIES.node.csv
  website/DEPENDENCIES.node.csv
Owners: @Xuanwo

refactor: create_dir
  core/src/services/cloudflare_kv/backend.rs
  core/src/services/cloudflare_kv/core.rs
  core/src/services/cloudflare_kv/delete.rs
  core/src/services/cloudflare_kv/docs.md
  core/src/services/cloudflare_kv/lister.rs
  core/src/services/cloudflare_kv/model.rs
  core/src/services/cloudflare_kv/writer.rs
Owners: @Xuanwo

try remove unsafe from cpp bindings
  bindings/cpp/include/opendal_async.hpp
  bindings/cpp/src/async.rs
  bindings/cpp/src/opendal_async.cpp
Owners: @Xuanwo

try fix
  .github/actions/setup-ocaml/action.yaml
  .github/workflows/ci_bindings_ocaml.yml
  bindings/ocaml/src/operator/_type.rs
  bindings/ocaml/src/operator/writer.rs
Owners: @Xuanwo

try fix
  bindings/ocaml/lib/operator.ml
  bindings/ocaml/lib/operator.mli
  bindings/ocaml/src/operator.ml
  bindings/ocaml/src/operator.mli
  bindings/ocaml/src/operator/writer.rs
Owners: @Xuanwo

add more api
  bindings/ocaml/lib/operator.ml
  bindings/ocaml/lib/operator.mli
  bindings/ocaml/src/operator/_type.rs
  bindings/ocaml/src/operator/capability.rs
  bindings/ocaml/src/operator/lister.rs
  bindings/ocaml/src/operator/mod.rs
  bindings/ocaml/src/operator/operator_info.rs
  bindings/ocaml/src/operator/writer.rs
  bindings/ocaml/test/test.ml
Owners: @Xuanwo

fix test
  bindings/ocaml/lib/opendal.ml
  bindings/ocaml/lib/operator.ml
  bindings/ocaml/lib/operator.mli
  bindings/ocaml/test/test.ml
Owners: @Xuanwo

fmt
  bindings/ocaml/lib/operator.ml
  bindings/ocaml/lib/operator.mli
  bindings/ocaml/test/test.ml
Owners: @Xuanwo

prepare for pub
  .github/workflows/release_ocaml.yml
  bindings/ocaml/CHANGES.md
  bindings/ocaml/dune-project
  bindings/ocaml/opendal.opam
  bindings/ocaml/release.sh
Owners: @Xuanwo

clippy
  bindings/ocaml/src/operator/_type.rs
Owners: @Xuanwo

fix: stat
  core/src/services/cloudflare_kv/backend.rs
  core/src/services/cloudflare_kv/lister.rs
  core/src/services/cloudflare_kv/writer.rs
Owners: @Xuanwo

test(async_list): add create_dir capability checks
  core/tests/behavior/async_list.rs
Owners: @Xuanwo

feat: introduce foyer layer, partially impl it
  core/Cargo.lock
  core/Cargo.toml
  core/src/layers/foyer.rs
  core/src/layers/mod.rs
Owners: @Xuanwo

test: add FoyerLayer unit tests
  core/Cargo.lock
  core/Cargo.toml
  core/src/layers/foyer.rs
Owners: @Xuanwo

feat(bindings/nodejs): Add DeleteOptions support for new options API
  bindings/nodejs/generated.d.ts
  bindings/nodejs/src/capability.rs
  bindings/nodejs/src/lib.rs
  bindings/nodejs/src/options.rs
  bindings/nodejs/tests/suites/asyncDeleteOptions.suite.mjs
  bindings/nodejs/tests/suites/index.mjs
  bindings/nodejs/tests/suites/syncDeleteOptions.suite.mjs
Owners: @suyanhanx
