Repository apache/opendal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

.github/CODEOWNERS:

* @Xuanwo

/core @Xuanwo
/bindings/c/ @xyjixyjixyji
/bindings/haskell/ @silver-ymz
/bindings/java/ @tisonkun
/bindings/lua/ @oowl
/bindings/nodejs/ @suyanhanx
/bindings/python/ @messense @Zheaoli
/bindings/ruby/ @PsiACE

fix: make robust cpp binding build
  .vscode/settings.json
  bindings/cpp/CMakeLists.txt
  bindings/cpp/include/opendal_async.hpp
Owners: @Xuanwo

fix: make robust cpp binding build
  bindings/cpp/CMakeLists.txt
  bindings/cpp/Cargo.toml
  bindings/cpp/cmake/FindCoroutines.cmake
  bindings/cpp/include/opendal.hpp
  bindings/cpp/include/opendal_async.hpp
  bindings/cpp/src/async.rs
Owners: @Xuanwo

ci: enable trust publishing for rust crates (#6454)
  .github/workflows/release_rust.yml
Owners: @Xuanwo

Populate GetResult.attributes with object metadata
  integrations/object_store/src/store.rs
Owners: @Xuanwo

impl put_multipart_opts
  integrations/object_store/src/store.rs
Owners: @Xuanwo

use opendal::options::WriteOptions instead of builder
  integrations/object_store/src/store.rs
Owners: @Xuanwo

impl copy_if_not_exists
  integrations/object_store/src/store.rs
Owners: @Xuanwo

fix(ci): burnett01/rsync-deployments
  .github/workflows/docs.yml
Owners: @Xuanwo

fix(ci): burnett01/rsync-deployments
  .github/workflows/docs.yml
Owners: @Xuanwo

feat(object_store): Implement copy_if_not_exists, put_multipart_opts and metadata in GetResult (#6468)
  .github/workflows/docs.yml
  integrations/object_store/src/store.rs
Owners: @Xuanwo

add groups
  .github/dependabot.yml
Owners: @Xuanwo

add groups for nodejs
  .github/dependabot.yml
Owners: @Xuanwo

add scaffold for having MultipartWrite
  integrations/object_store/src/service/writer.rs
Owners: @Xuanwo

fix the build
  integrations/object_store/src/service/mod.rs
Owners: @Xuanwo

add initiate_part
  integrations/object_store/Cargo.toml
  integrations/object_store/src/service/writer.rs
Owners: @Xuanwo

add write_part
  integrations/object_store/src/service/writer.rs
Owners: @Xuanwo

save the changes about multi part write
  integrations/object_store/src/service/writer.rs
Owners: @Xuanwo

implement MultipartWriter
  integrations/object_store/src/service/mod.rs
  integrations/object_store/src/service/writer.rs
Owners: @Xuanwo

tune
  integrations/object_store/src/service/writer.rs
Owners: @Xuanwo

fix the etag handling
  integrations/object_store/src/service/writer.rs
Owners: @Xuanwo

validate the complete_part
  integrations/object_store/src/service/writer.rs
Owners: @Xuanwo

add test case for it
  integrations/object_store/src/service/writer.rs
Owners: @Xuanwo

revise the test
  integrations/object_store/src/service/writer.rs
Owners: @Xuanwo

fix test case about multipart upload
  integrations/object_store/src/service/mod.rs
  integrations/object_store/src/service/writer.rs
Owners: @Xuanwo

minor rename
  integrations/object_store/src/service/reader.rs
Owners: @Xuanwo

fix clippy
  integrations/object_store/src/service/writer.rs
Owners: @Xuanwo

add groups for nodejs (#6469)
  .github/dependabot.yml
Owners: @Xuanwo

fix: make robust cpp binding build
  .vscode/settings.json
  bindings/cpp/CMakeLists.txt
  bindings/cpp/Cargo.toml
  bindings/cpp/README.md
  bindings/cpp/include/opendal.hpp
  bindings/cpp/include/opendal_async.hpp
  bindings/cpp/src/async.rs
Owners: @Xuanwo

Apply suggestions from code review
  bindings/ocaml/dune-project
  bindings/ocaml/opendal.opam
Owners: @Xuanwo

feat(bindings/ocaml): add more blocking api for ocaml (#6238)
  .github/actions/setup-ocaml/action.yaml
  .github/workflows/ci_bindings_ocaml.yml
  bindings/ocaml/CHANGES.md
  bindings/ocaml/dune-project
  bindings/ocaml/lib/opendal.ml
  bindings/ocaml/lib/operator.ml
  bindings/ocaml/lib/operator.mli
  bindings/ocaml/opendal.opam
  bindings/ocaml/release.sh
  bindings/ocaml/src/operator.ml
  bindings/ocaml/src/operator.mli
  bindings/ocaml/src/operator/_type.rs
  bindings/ocaml/src/operator/capability.rs
  bindings/ocaml/src/operator/lister.rs
  bindings/ocaml/src/operator/mod.rs
  bindings/ocaml/src/operator/operator_info.rs
  bindings/ocaml/src/operator/writer.rs
  bindings/ocaml/test/test.ml
Owners: @Xuanwo

docs(python): add documentation for local usage
  bindings/python/docs/index.md
Owners: @messense, @Zheaoli

fix
  bindings/cpp/include/opendal_async.hpp
  bindings/cpp/src/opendal_async.cpp
  bindings/cpp/src/operator.cpp
  bindings/cpp/tests/async_test.cpp
  bindings/cpp/tests/basic_test.cpp
  bindings/cpp/tests/behavior/delete_test.cpp
  bindings/cpp/tests/behavior/list_test.cpp
  bindings/cpp/tests/behavior/read_test.cpp
  bindings/cpp/tests/behavior/write_test.cpp
  bindings/cpp/tests/framework/test_framework.hpp
Owners: @Xuanwo

chore(bindings/nodejs): upgrade deps napi-rs to 3.0
  bindings/nodejs/Cargo.toml
  bindings/nodejs/generated.d.ts
  bindings/nodejs/generated.js
  bindings/nodejs/package.json
  bindings/nodejs/pnpm-lock.yaml
  bindings/nodejs/src/lib.rs
  core/Cargo.toml
Owners: @suyanhanx, @Xuanwo

ci: upgrade node and pnpm version
  .github/workflows/ci_bindings_nodejs.yml
Owners: @Xuanwo

ci: update target
  .github/workflows/ci_bindings_nodejs.yml
  .vscode/settings.json
  bindings/nodejs/package.json
  bindings/nodejs/pnpm-lock.yaml
Owners: @Xuanwo, @suyanhanx

ci: remove cargo cache and update setup-zig
  .github/workflows/ci_bindings_nodejs.yml
Owners: @Xuanwo

chore(bindings/nodejs): upgrade deps napi-rs to 3.0 (#6482)
  .github/workflows/ci_bindings_nodejs.yml
  .vscode/settings.json
  bindings/nodejs/Cargo.toml
  bindings/nodejs/generated.d.ts
  bindings/nodejs/generated.js
  bindings/nodejs/package.json
  bindings/nodejs/pnpm-lock.yaml
  bindings/nodejs/src/lib.rs
  core/Cargo.toml
Owners: @Xuanwo, @suyanhanx

ci(bindings/cpp): cpp test framework (#6296)
  .github/actions/test_behavior_binding_cpp/action.yaml
  .github/scripts/test_behavior/plan.py
  .github/workflows/test_behavior.yml
  .github/workflows/test_behavior_binding_cpp.yml
  bindings/cpp/CMakeLists.txt
  bindings/cpp/include/opendal_async.hpp
  bindings/cpp/src/async.rs
  bindings/cpp/src/lib.rs
  bindings/cpp/src/opendal_async.cpp
  bindings/cpp/src/operator.cpp
  bindings/cpp/test_runner.sh
  bindings/cpp/tests/README.md
  bindings/cpp/tests/async_test.cpp
  bindings/cpp/tests/basic_test.cpp
  bindings/cpp/tests/behavior/async_list_test.cpp
  bindings/cpp/tests/behavior/async_read_test.cpp
  bindings/cpp/tests/behavior/async_write_test.cpp
  bindings/cpp/tests/behavior/delete_test.cpp
  bindings/cpp/tests/behavior/list_test.cpp
  bindings/cpp/tests/behavior/read_test.cpp
  bindings/cpp/tests/behavior/write_test.cpp
  bindings/cpp/tests/benchmark/benchmark_test.cpp
  bindings/cpp/tests/framework/test_framework.hpp
  bindings/cpp/tests/test_main.cpp
Owners: @Xuanwo

revert core/Cargo.toml
  core/Cargo.toml
Owners: @Xuanwo

revert cargo.toml
  core/Cargo.lock
Owners: @Xuanwo
