Repository apache/opendal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Xuanwo, @xyjixyjixyji, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense, @Zheaoli, @PsiACE

.github/CODEOWNERS:

* @Xuanwo

/core @Xuanwo
/bindings/c/ @xyjixyjixyji
/bindings/haskell/ @silver-ymz
/bindings/java/ @tisonkun
/bindings/lua/ @oowl
/bindings/nodejs/ @suyanhanx
/bindings/python/ @messense @Zheaoli
/bindings/ruby/ @PsiACE

fix(core): add --workspace arg to core clippy/test ci
  .github/workflows/ci_core.yml
  core/Cargo.lock
  core/services/compfs/Cargo.toml
  core/services/compfs/src/core.rs
  core/services/opfs/Cargo.toml
  core/services/opfs/src/lib.rs
Owners: @Xuanwo

apply some suggestions
  bindings/cpp/Cargo.toml
  bindings/python/Cargo.toml
  core/core/Cargo.toml
  core/services/aliyun-drive/Cargo.toml
  core/services/aliyun-drive/src/docs.md
  core/services/b2/Cargo.toml
  core/services/compfs/Cargo.toml
  core/services/ftp/Cargo.toml
  core/services/mysql/Cargo.toml
  core/services/persy/Cargo.toml
  core/services/surrealdb/Cargo.toml
  core/services/tikv/Cargo.toml
  integrations/object_store/Cargo.toml
Owners: @Xuanwo, @messense, @Zheaoli

refactor: split swift service into a separate crate (#7054)
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/swift/Cargo.toml
  core/services/swift/src/backend.rs
  core/services/swift/src/compatible_services.md
  core/services/swift/src/config.rs
  core/services/swift/src/core.rs
  core/services/swift/src/deleter.rs
  core/services/swift/src/docs.md
  core/services/swift/src/error.rs
  core/services/swift/src/lib.rs
  core/services/swift/src/lister.rs
  core/services/swift/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

refactor: Split seafile service into a separate crate (#7029)
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/seafile/Cargo.toml
  core/services/seafile/src/backend.rs
  core/services/seafile/src/config.rs
  core/services/seafile/src/core.rs
  core/services/seafile/src/deleter.rs
  core/services/seafile/src/docs.md
  core/services/seafile/src/error.rs
  core/services/seafile/src/lib.rs
  core/services/seafile/src/lister.rs
  core/services/seafile/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

fix(services/gdrive): include size and modifiedTime in list() metadata
  core/core/src/services/gdrive/core.rs
  core/core/src/services/gdrive/lister.rs
Owners: @Xuanwo

Update core/core/Cargo.toml
  core/core/Cargo.toml
Owners: @Xuanwo

refactor(services/http): Move services http out as a crate (#6870)
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/http/Cargo.toml
  core/services/http/src/backend.rs
  core/services/http/src/config.rs
  core/services/http/src/core.rs
  core/services/http/src/docs.md
  core/services/http/src/error.rs
  core/services/http/src/lib.rs
  core/src/lib.rs
Owners: @Xuanwo

Update core/core/Cargo.toml
  core/core/Cargo.toml
Owners: @Xuanwo

fix: ci binding python install
  .github/workflows/ci_bindings_python.yml
Owners: @Xuanwo

fix: just install -s
  .github/workflows/ci_bindings_python.yml
Owners: @Xuanwo

fix: all files diff
  bindings/python/python/opendal/capability.pyi
  bindings/python/python/opendal/exceptions.pyi
  bindings/python/python/opendal/file.pyi
  bindings/python/python/opendal/layers.pyi
  bindings/python/python/opendal/operator.pyi
  bindings/python/python/opendal/services.pyi
  bindings/python/python/opendal/types.pyi
  bindings/python/src/services.rs
Owners: @messense, @Zheaoli

fix
  bindings/c/Cargo.toml
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
Owners: @xyjixyjixyji, @Xuanwo

chore(bindings/python): update pyi files
  bindings/python/python/opendal/capability.pyi
  bindings/python/python/opendal/exceptions.pyi
  bindings/python/python/opendal/file.pyi
  bindings/python/python/opendal/layers.pyi
  bindings/python/python/opendal/operator.pyi
  bindings/python/python/opendal/types.pyi
Owners: @messense, @Zheaoli

fix(bindings/python): use services-all feature for stub generation
  bindings/python/justfile
Owners: @messense, @Zheaoli

splitting sftp
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/core/src/services/sftp/utils.rs
  core/services/sftp/Cargo.toml
  core/services/sftp/src/backend.rs
  core/services/sftp/src/config.rs
  core/services/sftp/src/core.rs
  core/services/sftp/src/deleter.rs
  core/services/sftp/src/docs.md
  core/services/sftp/src/error.rs
  core/services/sftp/src/lib.rs
  core/services/sftp/src/lister.rs
  core/services/sftp/src/reader.rs
  core/services/sftp/src/utils.rs
  core/services/sftp/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

rust format and licence fix
  core/core/src/services/mod.rs
  core/services/sftp/Cargo.toml
  core/services/sftp/src/backend.rs
  core/services/sftp/src/core.rs
  core/src/lib.rs
Owners: @Xuanwo

behavioral fix
  core/services/sftp/src/lib.rs
Owners: @Xuanwo

refactor: Split yandex-disk service to new crate
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/yandex-disk/Cargo.toml
  core/services/yandex-disk/src/backend.rs
  core/services/yandex-disk/src/config.rs
  core/services/yandex-disk/src/core.rs
  core/services/yandex-disk/src/deleter.rs
  core/services/yandex-disk/src/docs.md
  core/services/yandex-disk/src/error.rs
  core/services/yandex-disk/src/lib.rs
  core/services/yandex-disk/src/lister.rs
  core/services/yandex-disk/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

behavioral fix
  core/services/sftp/src/lib.rs
Owners: @Xuanwo

chore: revert unnecessary async-graphql pins and update lockfile
  core/Cargo.lock
  core/services/surrealdb/Cargo.toml
Owners: @Xuanwo

merge
  core/Cargo.lock
Owners: @Xuanwo

refactor(services/onedrive): split into separate crate (#6996)
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/onedrive/Cargo.toml
  core/services/onedrive/src/backend.rs
  core/services/onedrive/src/builder.rs
  core/services/onedrive/src/config.rs
  core/services/onedrive/src/core.rs
  core/services/onedrive/src/deleter.rs
  core/services/onedrive/src/docs.md
  core/services/onedrive/src/error.rs
  core/services/onedrive/src/graph_model.rs
  core/services/onedrive/src/lib.rs
  core/services/onedrive/src/lister.rs
  core/services/onedrive/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo

Cleanup some spaces
  .github/workflows/ci_core.yml
Owners: @Xuanwo

remove browsers
  .github/workflows/ci_core.yml
Owners: @Xuanwo

Fix seafile
  core/services/seafile/Cargo.toml
Owners: @Xuanwo

update lock
  core/Cargo.lock
Owners: @Xuanwo

Fix build on macos
  core/services/foundationdb/build.rs
Owners: @Xuanwo

add layers-logging/retry/timeout feature into default feature
  bindings/c/Cargo.toml
  bindings/haskell/Cargo.toml
  bindings/java/Cargo.toml
  bindings/nodejs/Cargo.toml
  bindings/python/Cargo.toml
  bindings/ruby/Cargo.toml
  core/Cargo.toml
Owners: @xyjixyjixyji, @silver-ymz, @tisonkun, @suyanhanx, @messense, @Zheaoli, @PsiACE, @Xuanwo

don't run fuzz test
  core/fuzz/Cargo.toml
Owners: @Xuanwo

Fix clippy
  core/services/foundationdb/build.rs
Owners: @Xuanwo

add license
  core/services/foundationdb/build.rs
Owners: @Xuanwo

fix layers
  core/Cargo.lock
  core/layers/async-backtrace/Cargo.toml
  core/layers/await-tree/Cargo.toml
  core/layers/capability-check/Cargo.toml
  core/layers/chaos/Cargo.toml
  core/layers/fastmetrics/Cargo.toml
  core/layers/fastmetrics/src/lib.rs
  core/layers/fastrace/Cargo.toml
  core/layers/metrics/Cargo.toml
  core/layers/metrics/src/lib.rs
  core/layers/otelmetrics/Cargo.toml
  core/layers/prometheus-client/Cargo.toml
  core/layers/prometheus/Cargo.toml
  core/layers/throttle/Cargo.toml
  core/layers/tracing/Cargo.toml
Owners: @Xuanwo

remove useless deps
  core/Cargo.lock
  core/layers/async-backtrace/Cargo.toml
  core/layers/await-tree/Cargo.toml
  core/layers/chaos/Cargo.toml
  core/layers/fastmetrics/src/lib.rs
  core/layers/metrics/Cargo.toml
  core/layers/otelmetrics/Cargo.toml
  core/layers/otelmetrics/src/lib.rs
  core/layers/prometheus/src/lib.rs
Owners: @Xuanwo

fix some services
  core/Cargo.lock
  core/services/http/Cargo.toml
  core/services/http/src/docs.md
  core/services/onedrive/Cargo.toml
  core/services/onedrive/src/docs.md
  core/services/seafile/src/docs.md
  core/services/swift/Cargo.toml
  core/services/swift/src/docs.md
Owners: @Xuanwo

fix ci
  core/core/Cargo.toml
  core/services/vercel-artifacts/Cargo.toml
Owners: @Xuanwo

cargo fmt
  core/Cargo.lock
  core/core/src/services/mod.rs
Owners: @Xuanwo

taplo format
  core/services/vercel-artifacts/Cargo.toml
Owners: @Xuanwo

update cargo lock
  core/Cargo.lock
Owners: @Xuanwo

refactor(services/vercel-artifacts): Split vercel-artifacts into separate crate (#7009)
  core/Cargo.lock
  core/core/src/services/mod.rs
  core/services/vercel-artifacts/Cargo.toml
  core/services/vercel-artifacts/src/backend.rs
  core/services/vercel-artifacts/src/builder.rs
  core/services/vercel-artifacts/src/config.rs
  core/services/vercel-artifacts/src/core.rs
  core/services/vercel-artifacts/src/docs.md
  core/services/vercel-artifacts/src/error.rs
  core/services/vercel-artifacts/src/lib.rs
  core/services/vercel-artifacts/src/writer.rs
Owners: @Xuanwo

refactor: Split lakefs service to new crate (#7046)
  core/Cargo.lock
  core/Cargo.toml
  core/core/Cargo.toml
  core/core/src/services/mod.rs
  core/services/lakefs/Cargo.toml
  core/services/lakefs/src/backend.rs
  core/services/lakefs/src/config.rs
  core/services/lakefs/src/core.rs
  core/services/lakefs/src/deleter.rs
  core/services/lakefs/src/docs.md
  core/services/lakefs/src/error.rs
  core/services/lakefs/src/lib.rs
  core/services/lakefs/src/lister.rs
  core/services/lakefs/src/writer.rs
  core/src/lib.rs
Owners: @Xuanwo
