Repository apache/opendal, pull requests merged in 2023-12, with the labels that each got.

#3703 refactor(service/etcd): use EtcdConfig in from_map
  core/src/services/etcd/backend.rs
Labels: releases-note/refactor

#3670 feat(core): service add HuggingFace file system
  core/Cargo.toml
  core/src/services/huggingface/backend.rs
  core/src/services/huggingface/core.rs
  core/src/services/huggingface/docs.md
  core/src/services/huggingface/error.rs
  core/src/services/huggingface/lister.rs
  core/src/services/huggingface/mod.rs
  core/src/services/mod.rs
  core/src/types/scheme.rs
Labels: releases-note/feat

#3704 chore: bump aws-sdk-s3 from 0.38.0 to 1.4.0
  Cargo.lock
  core/benches/vs_s3/Cargo.toml
Labels: releases-note/chore

#3707 fix(website): folder name mismatch
  website/community/index.mdx
  website/src/components/Committers/index.jsx
  website/src/components/Committers/index.module.css
  website/src/components/committers/index.module.css
Labels: releases-note/fix

#3709 docs(website): show maturity model
  CONTRIBUTING.md
  website/community/index.mdx
  website/community/maturity.md
Labels: releases-note/docs

#3710 docs(website): only VOTEs from PPMC members are binding
  website/community/committers/release.md
Labels: releases-note/docs

#3711 feat(service/moka): bump moka from 0.10.4 to 0.12.1
  Cargo.lock
  core/Cargo.toml
  core/src/docs/upgrade.md
  core/src/services/mod.rs
  core/src/services/moka/backend.rs
  core/src/services/moka/docs.md
  core/src/services/moka/mod.rs
Labels: releases-note/feat

#3713 refactor(object_store): upgrade object_store to 0.7.
  Cargo.lock
  integrations/object_store/Cargo.toml
  integrations/object_store/src/lib.rs
Labels: releases-note/refactor

#3715 fix(binding/java): fix SPECIAL_DIR_NAME
  bindings/java/src/test/java/org/apache/opendal/test/behavior/AsyncReadOnlyTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/BlockingReadOnlyTest.java
Labels: releases-note/fix

#3714 ci: Add behavior test for b2
  .github/services/b2/b2/action.yml
  bindings/java/Cargo.toml
  bindings/nodejs/Cargo.toml
  bindings/python/Cargo.toml
  core/Cargo.toml
  core/src/services/b2/core.rs
  core/src/services/b2/error.rs
  core/src/services/b2/lister.rs
Labels: releases-note/ci

#3719 fix(services/dropbox): Workaround for dropbox limitations for create_folder
  core/src/services/dropbox/backend.rs
  core/src/services/dropbox/core.rs
Labels: releases-note/fix

#3712 feat(test): add Huggingface behavior test
  .env.example
  .github/services/huggingface/huggingface/action.yml
  .github/workflows/ci.yml
  bindings/java/Cargo.toml
  bindings/nodejs/Cargo.toml
  bindings/python/Cargo.toml
  core/src/services/huggingface/backend.rs
  core/src/services/huggingface/core.rs
  core/src/services/huggingface/lister.rs
  core/src/types/operator/builder.rs
Labels: releases-note/feat

#3721 refactor: List must support list without recursive
  bindings/c/include/opendal.h
  bindings/c/src/operator_info.rs
  bindings/c/tests/bdd.cpp
  bindings/c/tests/opinfo.cpp
  bindings/java/src/lib.rs
  bindings/java/src/main/java/org/apache/opendal/Capability.java
  bindings/nodejs/generated.d.ts
  bindings/nodejs/src/capability.rs
  bindings/python/src/capability.rs
  core/src/layers/complete.rs
  core/src/layers/immutable_index.rs
  core/src/layers/retry.rs
  core/src/raw/adapters/kv/backend.rs
  core/src/raw/adapters/typed_kv/backend.rs
  core/src/raw/oio/list/flat_list.rs
  core/src/raw/oio/list/hierarchy_list.rs
  core/src/services/alluxio/backend.rs
  core/src/services/azblob/backend.rs
  core/src/services/azdls/backend.rs
  core/src/services/azfile/backend.rs
  core/src/services/b2/backend.rs
  core/src/services/cos/backend.rs
  core/src/services/dashmap/backend.rs
  core/src/services/dbfs/backend.rs
  core/src/services/fs/backend.rs
  core/src/services/ftp/backend.rs
  core/src/services/gcs/backend.rs
  core/src/services/gdrive/backend.rs
  core/src/services/hdfs/backend.rs
  core/src/services/huggingface/backend.rs
  core/src/services/ipfs/backend.rs
  core/src/services/ipmfs/backend.rs
  core/src/services/obs/backend.rs
  core/src/services/onedrive/backend.rs
  core/src/services/oss/backend.rs
  core/src/services/s3/backend.rs
  core/src/services/sftp/backend.rs
  core/src/services/swift/backend.rs
  core/src/services/webdav/backend.rs
  core/src/services/webhdfs/backend.rs
  core/src/types/capability.rs
  core/tests/behavior/list.rs
Labels: releases-note/refactor

#3722 chore: Fix bindings CI
  bindings/cpp/tests/basic_test.cpp
  bindings/haskell/test/BasicTest.hs
  bindings/lua/test/opendal_test.lua
  bindings/ocaml/test/test.ml
Labels: releases-note/chore

#3728 feat: Add list prefix support
  bindings/nodejs/src/lib.rs
  core/src/docs/upgrade.md
  core/src/layers/complete.rs
  core/src/raw/oio/list/flat_list.rs
  core/src/raw/oio/list/mod.rs
  core/src/raw/oio/list/prefix_list.rs
  core/src/services/dashmap/backend.rs
  core/src/services/dropbox/core.rs
  core/src/services/huggingface/core.rs
  core/src/types/list.rs
  core/src/types/operator/blocking_operator.rs
  core/src/types/operator/operator.rs
  core/tests/behavior/list.rs
Labels: releases-note/feat

#3729 doc: add 0.43.0 release link to download.md
  website/src/pages/download.md
Labels: releases-note/docs

#3730 chore(binding/nodejs,website): Replace yarn with pnpm
  .devcontainer/post_create.sh
  .github/actions/behavior_test_binding_nodejs/action.yaml
  .github/workflows/behavior_test_binding_nodejs.yml
  .github/workflows/bindings_nodejs.yml
  .github/workflows/docs.yml
  bindings/nodejs/.npmignore
  bindings/nodejs/.npmrc
  bindings/nodejs/.prettierignore
  bindings/nodejs/.yarnrc.yml
  bindings/nodejs/CONTRIBUTING.md
  bindings/nodejs/benchmark/README.md
  bindings/nodejs/benchmark/node.js
  bindings/nodejs/generated.js
  bindings/nodejs/package.json
  bindings/nodejs/pnpm-lock.yaml
  bindings/nodejs/vitest.config.mjs
  bindings/nodejs/yarn.lock
  licenserc.toml
  website/README.md
  website/package.json
  website/pnpm-lock.yaml
  website/yarn.lock
Labels: releases-note/chore

#3733 fix(ocaml_binding): sort `actual` & `expected` to pass ci
  bindings/ocaml/test/test.ml
Labels: releases-note/fix

#3739 docs: Deploy website to nightlies for every tags
  .github/workflows/docs.yml
Labels: releases-note/docs

#3741 docs: Remove not released bindings docs from top level header
  website/docusaurus.config.js
Labels: releases-note/docs

#3743 docs: Add dependencies list for all packages
  .github/actions/setup/action.yaml
  .github/workflows/ci.yml
  Cargo.lock
  DEPENDENCIES.md
  bin/oay/DEPENDENCIES.md
  bin/oay/DEPENDENCIES.rust.tsv
  bin/oli/DEPENDENCIES.md
  bin/oli/DEPENDENCIES.rust.tsv
  bindings/c/DEPENDENCIES.md
  bindings/c/DEPENDENCIES.rust.tsv
  bindings/cpp/DEPENDENCIES.md
  bindings/cpp/DEPENDENCIES.rust.tsv
  bindings/dotnet/DEPENDENCIES.md
  bindings/dotnet/DEPENDENCIES.rust.tsv
  bindings/go/DEPENDENCIES.md
  bindings/haskell/DEPENDENCIES.md
  bindings/haskell/DEPENDENCIES.rust.tsv
  bindings/java/DEPENDENCIES.md
  bindings/java/DEPENDENCIES.rust.tsv
  bindings/lua/DEPENDENCIES.md
  bindings/lua/DEPENDENCIES.rust.tsv
  bindings/nodejs/DEPENDENCIES.md
  bindings/nodejs/DEPENDENCIES.rust.tsv
  bindings/ocaml/DEPENDENCIES.md
  bindings/ocaml/DEPENDENCIES.rust.tsv
  bindings/php/DEPENDENCIES.md
  bindings/php/DEPENDENCIES.rust.tsv
  bindings/python/DEPENDENCIES.md
  bindings/python/DEPENDENCIES.rust.tsv
  bindings/ruby/DEPENDENCIES.md
  bindings/ruby/DEPENDENCIES.rust.tsv
  bindings/swift/DEPENDENCIES.md
  bindings/zig/DEPENDENCIES.md
  core/DEPENDENCIES.md
  core/DEPENDENCIES.rust.tsv
  deny.toml
  integrations/dav-server/DEPENDENCIES.md
  integrations/dav-server/DEPENDENCIES.rust.tsv
  integrations/object_store/DEPENDENCIES.md
  integrations/object_store/DEPENDENCIES.rust.tsv
  licenserc.toml
  scripts/dependencies.py
  website/DEPENDENCIES.md
  website/DEPENDENCIES.node.csv
  website/README.md
  website/community/committers/release.md
Labels: releases-note/docs

#3750 docs: Update maturity docs
  website/community/maturity.md
Labels: releases-note/docs

#3748 docs: update the RFC doc
  core/src/docs/rfcs/README.md
  core/src/docs/rfcs/mod.rs
Labels: releases-note/docs

#3751 chore: Bring persy CI back
  .github/services/persy/persy/action.yml
  Cargo.lock
  core/Cargo.toml
Labels: releases-note/chore

#3758 chore(bindings/python): upgrade pyo3 to 0.20
  Cargo.lock
  bindings/python/Cargo.toml
  bindings/python/src/operator.rs
  bindings/python/src/utils.rs
Labels: releases-note/chore

#3760 refactor: replace ftp tls impl as rustls
  Cargo.lock
  core/Cargo.toml
  core/src/services/ftp/backend.rs
Labels: releases-note/refactor

#3753 docs(website): polish deploy to nightlies
  .github/workflows/docs.yml
  website/.yarnrc.yml
  website/docusaurus.config.js
Labels: releases-note/docs

#3761 chore: Bump governor from 0.5.1 to 0.6.0
  Cargo.lock
  core/Cargo.toml
  core/src/layers/throttle.rs
Labels: releases-note/chore

#3767 docs: add event calendar in community page
  website/community/index.mdx
Labels: releases-note/docs

#3768 docs(community): polish events
  website/community/index.mdx
Labels: releases-note/docs

#3771 feat(services): add seafile support
  .env.example
  .github/services/seafile/seafile/action.yml
  .github/workflows/ci.yml
  bindings/java/Cargo.toml
  bindings/nodejs/Cargo.toml
  bindings/python/Cargo.toml
  core/Cargo.toml
  core/src/raw/chrono_util.rs
  core/src/raw/http_util/multipart.rs
  core/src/services/mod.rs
  core/src/services/seafile/backend.rs
  core/src/services/seafile/core.rs
  core/src/services/seafile/docs.md
  core/src/services/seafile/error.rs
  core/src/services/seafile/lister.rs
  core/src/services/seafile/mod.rs
  core/src/services/seafile/writer.rs
  core/src/types/operator/builder.rs
  core/src/types/scheme.rs
  fixtures/seafile/docker-compose-seafile.yml
Labels: releases-note/feat

#3772 ci(cargo): Add frame pointer support in build flag
  .github/actions/setup/action.yaml
Labels: releases-note/ci

#3774 refactor: Remove never used Stream poll_reset API
  core/src/raw/http_util/multipart.rs
  core/src/raw/oio/buf/chunked_bytes.rs
  core/src/raw/oio/cursor.rs
  core/src/raw/oio/stream/api.rs
  core/src/raw/oio/stream/into_stream.rs
  core/src/raw/oio/stream/into_stream_from_reader.rs
Labels: releases-note/refactor

#3775 refactor: Polish operator read_with
  core/src/raw/http_util/bytes_content_range.rs
  core/src/raw/http_util/bytes_range.rs
  core/src/raw/oio/read/api.rs
  core/src/types/operator/blocking_operator.rs
  core/src/types/operator/operator.rs
Labels: releases-note/refactor

#3777 feat: Add content range support for RpRead
  core/src/raw/oio/read/range_read.rs
  core/src/raw/rps.rs
  core/src/services/azblob/backend.rs
  core/src/services/azdls/backend.rs
  core/src/services/azfile/backend.rs
  core/src/services/b2/backend.rs
  core/src/services/cos/backend.rs
  core/src/services/dropbox/backend.rs
  core/src/services/gdrive/backend.rs
  core/src/services/ghac/backend.rs
  core/src/services/http/backend.rs
  core/src/services/huggingface/backend.rs
  core/src/services/obs/backend.rs
  core/src/services/onedrive/backend.rs
  core/src/services/oss/backend.rs
  core/src/services/s3/backend.rs
  core/src/services/seafile/backend.rs
  core/src/services/swift/backend.rs
  core/src/services/webdav/backend.rs
  core/src/services/webhdfs/backend.rs
Labels: releases-note/feat

#3778 feat: Add presign_stat_with support
  .github/services/s3/r2/action.yml
  core/src/raw/ops.rs
  core/src/services/s3/backend.rs
  core/src/services/s3/core.rs
  core/src/types/capability.rs
  core/src/types/operator/operator.rs
  core/src/types/operator/operator_futures.rs
  core/tests/behavior/write.rs
Labels: releases-note/feat

#3779 feat: Add project layout for ofs
  Cargo.lock
  Cargo.toml
  bin/ofs/Cargo.toml
  bin/ofs/DEPENDENCIES.md
  bin/ofs/DEPENDENCIES.rust.tsv
  bin/ofs/README.md
  bin/ofs/src/lib.rs
  scripts/dependencies.py
Labels: releases-note/feat

#3781 ci: Workaround ring 0.17 build issue, bring aarch64 and armv7l back
  .github/workflows/bindings_python.yml
Labels: releases-note/ci

#3786 refactor: Migrate gcs builder to config based
  core/src/services/gcs/backend.rs
  core/src/services/gcs/mod.rs
Labels: releases-note/refactor

#3788 fix(ci): Make sure merge_local_staging handles all subdir
  scripts/merge_local_staging.py
Labels: releases-note/fix

#3784 feat(binding/nodejs): align list api
  bindings/nodejs/generated.d.ts
  bindings/nodejs/src/lib.rs
  bindings/nodejs/upgrade.md
Labels: releases-note/feat

#3792 chore: Split bindings/ocaml to seperate workspace
  .github/workflows/bindings_ocaml.yml
  Cargo.lock
  Cargo.toml
  bindings/ocaml/Cargo.lock
  bindings/ocaml/Cargo.toml
  bindings/ocaml/src/dune
Labels: releases-note/chore

#3794 chore: Split bindings/ruby to seperate workspace
  Cargo.lock
  Cargo.toml
  bindings/ruby/Cargo.lock
  bindings/ruby/Cargo.toml
Labels: releases-note/chore

#3796 feat: Make OpenDAL available under wasm32 arch
  .github/workflows/ci.yml
  Cargo.lock
  core/Cargo.toml
  core/benches/oio/utils.rs
  core/src/layers/async_backtrace.rs
  core/src/layers/await_tree.rs
  core/src/layers/blocking.rs
  core/src/layers/chaos.rs
  core/src/layers/complete.rs
  core/src/layers/concurrent_limit.rs
  core/src/layers/error_context.rs
  core/src/layers/immutable_index.rs
  core/src/layers/logging.rs
  core/src/layers/madsim.rs
  core/src/layers/metrics.rs
  core/src/layers/minitrace.rs
  core/src/layers/oteltrace.rs
  core/src/layers/prometheus.rs
  core/src/layers/prometheus_client.rs
  core/src/layers/retry.rs
  core/src/layers/throttle.rs
  core/src/layers/timeout.rs
  core/src/layers/tracing.rs
  core/src/layers/type_eraser.rs
  core/src/raw/accessor.rs
  core/src/raw/adapters/kv/backend.rs
  core/src/raw/adapters/typed_kv/backend.rs
  core/src/raw/futures_util.rs
  core/src/raw/http_util/client.rs
  core/src/raw/http_util/multipart.rs
  core/src/raw/layer.rs
  core/src/raw/mod.rs
  core/src/raw/oio/list/flat_list.rs
  core/src/raw/oio/list/page_list.rs
  core/src/raw/oio/read/file_read.rs
  core/src/raw/oio/read/lazy_read.rs
  core/src/raw/oio/read/range_read.rs
  core/src/raw/oio/stream/into_stream.rs
  core/src/raw/oio/write/compose_write.rs
  core/src/raw/oio/write/exact_buf_write.rs
  core/src/raw/oio/write/multipart_upload_write.rs
  core/src/raw/oio/write/one_shot_write.rs
  core/src/services/dbfs/reader.rs
  core/src/services/fs/lister.rs
  core/src/services/fs/writer.rs
  core/src/services/ftp/lister.rs
  core/src/services/s3/backend.rs
  core/src/services/s3/lister.rs
  core/src/services/s3/writer.rs
  core/src/types/list.rs
  core/src/types/operator/operator_futures.rs
  core/tests/behavior/main.rs
Labels: releases-note/feat

#3798 docs(bindings/ruby): reflect test framework refactor
  bindings/ruby/README.md
Labels: releases-note/docs

#3790 feat(services): add upyun support
  .env.example
  Cargo.lock
  bindings/java/Cargo.toml
  bindings/nodejs/Cargo.toml
  bindings/python/Cargo.toml
  core/Cargo.toml
  core/src/services/mod.rs
  core/src/services/upyun/backend.rs
  core/src/services/upyun/core.rs
  core/src/services/upyun/docs.md
  core/src/services/upyun/error.rs
  core/src/services/upyun/lister.rs
  core/src/services/upyun/mod.rs
  core/src/services/upyun/writer.rs
  core/src/types/operator/builder.rs
  core/src/types/scheme.rs
Labels: releases-note/feat

#3799 chore(bindings/php): bump ext-php-rs to support latest php & separate workspace
  Cargo.lock
  Cargo.toml
  bindings/php/Cargo.lock
  bindings/php/Cargo.toml
  website/docs/services/s3.mdx
Labels: releases-note/chore

#3800 refactor(service/hdfs): Add HdfsConfig to implement ConfigDeserializer
  core/src/services/hdfs/backend.rs
  core/src/services/hdfs/mod.rs
  core/src/services/mod.rs
Labels: releases-note/refactor

#3802 feat: Add edge test s3_read_on_wasm
  Cargo.lock
  core/edge/s3_read_on_wasm/.gitignore
  core/edge/s3_read_on_wasm/Cargo.toml
  core/edge/s3_read_on_wasm/README.md
  core/edge/s3_read_on_wasm/src/lib.rs
  core/edge/s3_read_on_wasm/webdriver.json
  core/src/services/s3/backend.rs
Labels: releases-note/feat

#3805 chore: Address comments from hackernews
  website/docs/overview.md
Labels: releases-note/chore

#3806 feat(services/azblob): available under wasm32 arch
  .github/workflows/ci.yml
  core/src/raw/oio/write/append_object_write.rs
  core/src/raw/oio/write/one_shot_write.rs
  core/src/services/azblob/backend.rs
  core/src/services/azblob/lister.rs
  core/src/services/azblob/writer.rs
Labels: releases-note/feat

#3801 fix(services/gdrive): fix return value of `get_file_id_by_path`
  core/src/services/gdrive/backend.rs
  core/src/services/gdrive/core.rs
  core/src/services/gdrive/lister.rs
Labels: releases-note/fix

#3804 refactor(raw): add parse_header_to_str fn
  core/src/raw/http_util/header.rs
  core/src/raw/http_util/mod.rs
  core/src/services/upyun/core.rs
  core/src/services/upyun/writer.rs
Labels: releases-note/refactor

#3808 feat: make services-gdrive compile for wasm target
  .github/workflows/ci.yml
  core/src/services/gdrive/backend.rs
  core/src/services/gdrive/lister.rs
  core/src/services/gdrive/writer.rs
Labels: releases-note/feat

#3812 docs(website): add service Huggingface to website
  core/src/services/dbfs/docs.md
  core/src/services/huggingface/docs.md
  core/src/services/swift/docs.md
  website/docs/services/huggingface.mdx
Labels: releases-note/docs

#3814 chore(bindings/ocaml): dep opendal point to core
  bindings/ocaml/Cargo.lock
  bindings/ocaml/Cargo.toml
  bindings/ocaml/README.md
Labels: releases-note/chore

#3813 ci: Support CI test for s3_read_on_wasm
  .github/workflows/edge_test.yml
  core/edge/s3_read_on_wasm/src/lib.rs
Labels: releases-note/ci

#3815 refactor(raw): refactor APIs like parse_content_disposition
  core/src/raw/http_util/header.rs
Labels: releases-note/refactor

#3816 feat(core): Make gcs available on wasm32 arch
  .github/workflows/ci.yml
  core/Cargo.toml
  core/src/raw/oio/write/range_write.rs
  core/src/services/gcs/backend.rs
  core/src/services/gcs/lister.rs
  core/src/services/gcs/writer.rs
Labels: releases-note/feat

#3817 refactor: Polish http_util parse headers
  core/src/raw/http_util/header.rs
Labels: releases-note/refactor

#3821 docs: update release docs to add cargo-deny setup
  website/community/committers/release.md
Labels: releases-note/docs

#3824 fix(core): List root should not return itself
  core/src/services/azblob/lister.rs
  core/src/services/cos/lister.rs
  core/src/services/gcs/lister.rs
  core/src/services/obs/lister.rs
  core/src/services/oss/lister.rs
  core/src/services/s3/lister.rs
Labels: releases-note/fix

#3819 chore: Bump to v0.44.0 to start release process
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  bin/oay/DEPENDENCIES.rust.tsv
  bin/ofs/DEPENDENCIES.rust.tsv
  bin/oli/DEPENDENCIES.rust.tsv
  bindings/c/DEPENDENCIES.rust.tsv
  bindings/cpp/CMakeLists.txt
  bindings/cpp/DEPENDENCIES.rust.tsv
  bindings/dotnet/DEPENDENCIES.rust.tsv
  bindings/haskell/DEPENDENCIES.rust.tsv
  bindings/haskell/opendal.cabal
  bindings/java/DEPENDENCIES.rust.tsv
  bindings/java/pom.xml
  bindings/java/upgrade.md
  bindings/lua/DEPENDENCIES.rust.tsv
  bindings/nodejs/DEPENDENCIES.rust.tsv
  bindings/nodejs/npm/darwin-arm64/package.json
  bindings/nodejs/npm/darwin-x64/package.json
  bindings/nodejs/npm/linux-arm64-gnu/package.json
  bindings/nodejs/npm/linux-arm64-musl/package.json
  bindings/nodejs/npm/linux-x64-gnu/package.json
  bindings/nodejs/npm/win32-arm64-msvc/package.json
  bindings/nodejs/npm/win32-x64-msvc/package.json
  bindings/nodejs/package.json
  bindings/nodejs/upgrade.md
  bindings/ocaml/Cargo.lock
  bindings/ocaml/DEPENDENCIES.rust.tsv
  bindings/php/Cargo.lock
  bindings/php/DEPENDENCIES.rust.tsv
  bindings/python/DEPENDENCIES.rust.tsv
  bindings/python/upgrade.md
  bindings/ruby/DEPENDENCIES.rust.tsv
  core/DEPENDENCIES.rust.tsv
  core/src/docs/upgrade.md
  integrations/dav-server/DEPENDENCIES.rust.tsv
  integrations/object_store/DEPENDENCIES.rust.tsv
Labels: releases-note/chore

#3826 fix: Add tests for listing recursively on not supported services
  bindings/nodejs/generated.d.ts
  bindings/nodejs/src/lib.rs
  core/src/layers/complete.rs
  core/src/types/operator/blocking_operator.rs
  core/src/types/operator/operator.rs
  core/tests/behavior/list.rs
Labels: releases-note/fix

#3827 feat(service/memcached): Add MemCachedConfig
  core/src/services/memcached/backend.rs
  core/src/services/memcached/mod.rs
  core/src/services/mod.rs
Labels: releases-note/feat

#3830 docs: Add apache prefix for python docs
  bindings/nodejs/package.json
  bindings/python/pyproject.toml
  bindings/python/src/lib.rs
Labels: releases-note/docs

#3831 docs: Add branding in README
  README.md
Labels: releases-note/docs

#3832 docs: Add trademark for Apache OpenDAL™
  README.md
  bindings/c/README.md
  bindings/cpp/README.md
  bindings/dotnet/DotOpenDAL/DotOpenDAL.csproj
  bindings/dotnet/README.md
  bindings/go/README.md
  bindings/haskell/README.md
  bindings/java/README.md
  bindings/lua/README.md
  bindings/lua/opendal-0.1.0-1.rockspec
  bindings/nodejs/README.md
  bindings/ocaml/README.md
  bindings/php/README.md
  bindings/python/README.md
  bindings/python/pyproject.toml
  bindings/python/src/lib.rs
  bindings/ruby/README.md
  bindings/swift/README.md
  bindings/zig/README.md
Labels: releases-note/docs

#3833 docs: Add trademark sign for core
  core/Cargo.toml
  core/README.md
Labels: releases-note/docs

#3828 feat(service/rocksdb): Add RocksdbConfig
  core/src/services/mod.rs
  core/src/services/rocksdb/backend.rs
  core/src/services/rocksdb/mod.rs
Labels: releases-note/feat

#3835 docs: Enable doc_auto_cfg when docs cfg has been enabled
  .github/workflows/docs.yml
  core/Cargo.toml
  core/src/docs/features.md
  core/src/lib.rs
  core/src/services/azfile/backend.rs
  core/src/services/b2/backend.rs
  core/src/services/sftp/error.rs
Labels: releases-note/docs

#3837 refactor: simplify `bindings_python.yml`
  .github/workflows/bindings_python.yml
Labels: releases-note/refactor

#3838 chore(bindings/java): Add name and description metadata
  bindings/java/pom.xml
Labels: releases-note/chore

#3839 refactor: Add edge test for aws assume role with web identity
  .github/workflows/edge_test.yml
  .github/workflows/service_test_s3.yml
  Cargo.lock
  core/edge/s3_aws_assume_role_with_web_identity/Cargo.toml
  core/edge/s3_aws_assume_role_with_web_identity/README.md
  core/edge/s3_aws_assume_role_with_web_identity/src/main.rs
  core/src/services/b2/backend.rs
Labels: releases-note/refactor

#3840 docs: Address branding for haskell and C bindings
  bindings/c/src/lib.rs
  bindings/haskell/haskell-src/OpenDAL.hs
  core/src/lib.rs
Labels: releases-note/docs

#3834 feat(services): add chainsafe support
  .env.example
  core/Cargo.toml
  core/src/services/chainsafe/backend.rs
  core/src/services/chainsafe/core.rs
  core/src/services/chainsafe/docs.md
  core/src/services/chainsafe/error.rs
  core/src/services/chainsafe/lister.rs
  core/src/services/chainsafe/mod.rs
  core/src/services/chainsafe/writer.rs
  core/src/services/mod.rs
  core/src/types/operator/builder.rs
  core/src/types/scheme.rs
Labels: releases-note/feat

#3841 fix(services/upyun): fix list api
  core/src/services/upyun/backend.rs
  core/src/services/upyun/lister.rs
Labels: releases-note/fix

#3842 ci: Remove workflows that not running or ready
  .github/workflows/service_test_atomicserver.yml
  .github/workflows/service_test_foundationdb.yml
  .github/workflows/service_test_ipfs.yml
  .github/workflows/service_test_ipmfs.yml
Labels: releases-note/ci

#3843 ci: Migrate ftp to test planner
  .github/services/ftp/vsftpd/action.yml
  .github/workflows/service_test_ftp.yml
  core/src/services/ftp/backend.rs
  fixtures/ftp/docker-compose-vsftpd.yml
Labels: releases-note/ci

#3847 chore(website): improve a bit trademark refs
  website/docs/overview.md
  website/docs/quickstart.md
  website/docusaurus.config.js
Labels: releases-note/chore

#3845 feat: Adding Atomicserver config
  core/src/services/atomicserver/backend.rs
  core/src/services/atomicserver/mod.rs
  core/src/services/mod.rs
Labels: releases-note/feat

#3849 chore: Fix clippy warnings found in rust 1.75
  bindings/python/src/file.rs
  core/src/services/huggingface/backend.rs
  core/src/services/mod.rs
  core/src/services/webdav/backend.rs
  integrations/object_store/src/lib.rs
Labels: releases-note/chore

#3850 chore(bindings/python): improve ASF branding
  .github/workflows/docs.yml
  bindings/python/README.md
  bindings/python/template/module.html.jinja2
Labels: releases-note/chore

#3852 chore(bindings/haskell): improve ASF branding
  bindings/haskell/README.md
  bindings/haskell/opendal.cabal
Labels: releases-note/chore

#3856 chore(bindings/c): make c binding separate workspace
  .github/workflows/bindings_go.yml
  Cargo.lock
  Cargo.toml
  bindings/c/Cargo.lock
  bindings/c/Cargo.toml
  bindings/c/Makefile
  bindings/go/DEPENDENCIES.md
  bindings/swift/Makefile
  bindings/zig/DEPENDENCIES.md
  bindings/zig/build.zig
Labels: releases-note/chore

#3858 chore(bindings/haskell): support co-log-0.6.0 && ghc-9.4
  .github/workflows/bindings_haskell.yml
  bindings/haskell/opendal.cabal
Labels: releases-note/chore

#3811 feat(oio::read): implement the async buffer reader
  core/src/raw/oio/read/buffer_reader.rs
  core/src/raw/oio/read/mod.rs
  core/src/raw/ops.rs
  core/src/types/operator/operator_futures.rs
Labels: releases-note/feat

#3846 refactor(services/webdav): Add WebdavConfig to implement ConfigDeserializer
  core/src/services/mod.rs
  core/src/services/webdav/backend.rs
  core/src/services/webdav/mod.rs
Labels: releases-note/refactor

#3861 feat: adapt the `CompleteReader`
  core/src/layers/complete.rs
  core/src/raw/oio/read/compose_read.rs
  core/src/raw/oio/read/mod.rs
Labels: releases-note/feat

#3864 fix: fix a bypass seek relative bug in `BufferReader`
  core/src/raw/oio/read/buffer_reader.rs
Labels: releases-note/fix

#3865 fix: fix the bypass read does not sync the `cur` of `BufferReader`
  core/src/raw/oio/read/buffer_reader.rs
Labels: releases-note/fix

#3862 feat: add basic behavior tests for buffer reader
  core/tests/behavior/write.rs
Labels: releases-note/feat

#3866 feat: add fuzz reader with buffer tests
  .github/workflows/fuzz_test.yml
  core/fuzz/Cargo.toml
  core/fuzz/fuzz_reader_with_buffer.rs
Labels: releases-note/feat

#3857 feat(ofs): implement ofs based on fuse3
  Cargo.lock
  bin/ofs/Cargo.toml
  bin/ofs/src/lib.rs
Labels: releases-note/feat

#3868 doc: add 0.44.0 release link to download.md
  website/src/pages/download.md
Labels: releases-note/docs

#3869 chore: Bump to version 0.44.1 to start release process
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  bin/oay/DEPENDENCIES.rust.tsv
  bin/ofs/DEPENDENCIES.rust.tsv
  bin/oli/DEPENDENCIES.rust.tsv
  bindings/c/Cargo.lock
  bindings/c/Cargo.toml
  bindings/c/DEPENDENCIES.rust.tsv
  bindings/cpp/CMakeLists.txt
  bindings/cpp/DEPENDENCIES.rust.tsv
  bindings/dotnet/DEPENDENCIES.rust.tsv
  bindings/haskell/DEPENDENCIES.rust.tsv
  bindings/java/DEPENDENCIES.rust.tsv
  bindings/java/pom.xml
  bindings/lua/DEPENDENCIES.rust.tsv
  bindings/nodejs/DEPENDENCIES.rust.tsv
  bindings/nodejs/npm/darwin-arm64/package.json
  bindings/nodejs/npm/darwin-x64/package.json
  bindings/nodejs/npm/linux-arm64-gnu/package.json
  bindings/nodejs/npm/linux-arm64-musl/package.json
  bindings/nodejs/npm/linux-x64-gnu/package.json
  bindings/nodejs/npm/win32-arm64-msvc/package.json
  bindings/nodejs/npm/win32-x64-msvc/package.json
  bindings/nodejs/package.json
  bindings/ocaml/Cargo.lock
  bindings/ocaml/DEPENDENCIES.rust.tsv
  bindings/php/Cargo.lock
  bindings/php/DEPENDENCIES.rust.tsv
  bindings/python/DEPENDENCIES.rust.tsv
  core/DEPENDENCIES.rust.tsv
  integrations/dav-server/DEPENDENCIES.rust.tsv
  integrations/object_store/DEPENDENCIES.rust.tsv
Labels: releases-note/chore

#3870 chore: update release related docs and script
  scripts/release.sh
  website/community/committers/release.md
Labels: releases-note/chore

#3872 feat: add behavior tests for blocking buffer reader
  core/src/types/operator/operator_functions.rs
  core/tests/behavior/blocking_write.rs
Labels: releases-note/feat

#3871 refactor: Merge compose_{read,write} into enum_utils
  core/src/layers/complete.rs
  core/src/raw/enum_utils.rs
  core/src/raw/mod.rs
  core/src/raw/oio/read/compose_read.rs
  core/src/raw/oio/read/mod.rs
  core/src/raw/oio/write/compose_write.rs
  core/src/raw/oio/write/mod.rs
Labels: releases-note/refactor
