Repository apache/opendal, pull requests merged in 2023-05, with the labels that each got.

#2369 chore(bindings/python): upgrade maturin to 1.0
  .github/workflows/bindings_python.yml
  bindings/python/pyproject.toml
Labels: releases-note/chore

#2370 ci: Enable semantic PRs
  .github/labeler.yml
  .github/release.yml
  .github/workflows/ci_pr_labeler.yml
  .github/workflows/ci_typos.yml
Labels: releases-note/ci

#2371 chore: Fix license headers for release/labler
  .github/labeler.yml
  .github/release.yml
Labels: releases-note/chore

#2374 feat: Add Zig Bindings Module
  .devcontainer/post_create.sh
  .github/workflows/bindings_zig.yml
  bindings/zig/.gitignore
  bindings/zig/CONTRIBUTING.md
  bindings/zig/README.md
  bindings/zig/build.zig
  bindings/zig/src/opendal.zig
Labels: releases-note/feat

#2376 docs: service doc for s3
  core/src/services/azblob/docs.md
  core/src/services/azdfs/docs.md
  core/src/services/cos/docs.md
  core/src/services/dashmap/docs.md
  core/src/services/fs/docs.md
  core/src/services/s3/backend.rs
  core/src/services/s3/compatible_services.md
  core/src/services/s3/docs.md
  website/docs/services/s3.mdx
Labels: releases-note/docs

#2375 refactor(bindings/zig): enable tests and more
  .github/workflows/bindings_zig.yml
  .github/workflows/ci.yml
  bindings/zig/.gitignore
  bindings/zig/CONTRIBUTING.md
  bindings/zig/README.md
  bindings/zig/build.zig
  bindings/zig/src/opendal.zig
Labels: releases-note/refactor

#2373 docs(bindings/C): The documentation for OpenDAL C binding
  .github/workflows/docs.yml
  bindings/c/CONTRIBUTING.md
  bindings/c/Doxyfile
  bindings/c/Makefile
  bindings/c/README.md
  bindings/c/cbindgen.toml
  bindings/c/include/opendal.h
  bindings/c/src/error.rs
  bindings/c/src/lib.rs
  bindings/c/src/macros.rs
  bindings/c/src/result.rs
  bindings/c/src/types.rs
  bindings/c/tests/bdd.cpp
  licenserc.toml
Labels: releases-note/docs

#2377 ci: improve licenserc settings
  bindings/c/tests/bdd.cpp
  licenserc.toml
Labels: releases-note/ci

#2380 docs: add link for c binding
  website/docusaurus.config.js
Labels: releases-note/docs

#2381 refactor(bindings/zig): add errors handler and module test
  bindings/zig/build.zig
  bindings/zig/src/opendal.zig
  bindings/zig/test/bdd.zig
Labels: releases-note/refactor
