Repository apache/opendal, pull requests merged in 2023-11, with the labels that each got.

#3439 fix(mongo/backend): remove redundant code
  core/src/services/mongodb/backend.rs
Labels: releases-note/fix

#3448 ci(test): Add health check for WebDAV docker compose config
  fixtures/webdav/config/nginx/http.conf
  fixtures/webdav/docker-compose-webdav-with-auth.yml
  fixtures/webdav/docker-compose-webdav-with-empty-passwd.yml
  fixtures/webdav/docker-compose-webdav.yml
Labels: releases-note/ci

#3449 chore(deps): bump minitrace from 0.5.1 to 0.6.1
  Cargo.lock
  core/Cargo.toml
Labels: releases-note/chore

#3447 ci: Switch to 1password connect to avoid rate limit
  .github/scripts/behavior_test/plan.py
  .github/workflows/behavior_test_binding_java.yml
  .github/workflows/behavior_test_binding_python.yml
  .github/workflows/behavior_test_core.yml
Labels: releases-note/ci

#3455 refactor(services/wasabi)!: Remove native support for wasabi services
  .github/workflows/service_test_wasabi.yml
  core/Cargo.toml
  core/src/docs/upgrade.md
  core/src/services/mod.rs
  core/src/services/wasabi/backend.rs
  core/src/services/wasabi/core.rs
  core/src/services/wasabi/docs.md
  core/src/services/wasabi/error.rs
  core/src/services/wasabi/mod.rs
  core/src/services/wasabi/pager.rs
  core/src/services/wasabi/writer.rs
  core/src/types/operator/builder.rs
  core/src/types/scheme.rs
  website/docs/services/wasabi.mdx
Labels: releases-note/refactor

#3457 refactor(ci): Polish the test planner code
  .github/scripts/behavior_test/plan.py
  .github/scripts/behavior_test/test_plan.py
Labels: releases-note/refactor

#3454 feat(binding/python): Support Copy operation for Python binding
  bindings/python/benchmark/async_opendal_benchmark.py
  bindings/python/python/opendal/__init__.py
  bindings/python/python/opendal/__init__.pyi
  bindings/python/src/asyncio.rs
  bindings/python/src/lib.rs
  bindings/python/tests/conftest.py
  bindings/python/tests/test_async_copy.py
  bindings/python/tests/test_read.py
  bindings/python/tests/test_sync_copy.py
  bindings/python/tests/test_write.py
Labels: releases-note/feat

#3456 fix: nodejs test adapt `OPENDAL_DISABLE_RANDOM_ROOT`
  .editorconfig
  .github/actions/behavior_test_binding_nodejs/action.yaml
  .github/services/azdls/azdls/action.yml
  .github/workflows/bindings_nodejs.yml
  bindings/nodejs/.env.example
  bindings/nodejs/package.json
  bindings/nodejs/tests/service.test.mjs
  bindings/nodejs/tests/suites/async.suite.mjs
  bindings/nodejs/tests/suites/index.mjs
  bindings/nodejs/tests/suites/sync.suite.mjs
  bindings/nodejs/tests/utils.mjs
  fixtures/sftp/docker-compose-sftp-with-default-root.yml
  fixtures/sftp/docker-compose-sftp.yml
Labels: releases-note/fix

#3379 refactor(services/webdav): migrate to test planner for webdav
  .github/services/webdav/nextcloud/action.yml
  .github/services/webdav/nginx/action.yml
  .github/services/webdav/nginx_with_empty_password/action.yml
  .github/services/webdav/nginx_with_password/action.yml
  .github/services/webdav/nginx_with_redirect/action.yml
  .github/services/webdav/owncloud/action.yml
  .github/workflows/service_test_webdav.yml
  fixtures/webdav/docker-compose-webdav-nextcloud.yml
  fixtures/webdav/docker-compose-webdav-owncloud.yml
  fixtures/webdav/health-check-nextcloud.sh
Labels: releases-note/refactor

#3464 feat(bindings/python): Add layer API for operator
  bindings/python/python/opendal/__init__.pyi
  bindings/python/python/opendal/layers.pyi
  bindings/python/src/asyncio.rs
  bindings/python/src/layers.rs
  bindings/python/src/lib.rs
  bindings/python/tests/conftest.py
  bindings/python/upgrade.md
  core/src/types/operator/blocking_operator.rs
Labels: releases-note/feat

#3467 feat(binding/python): Support rename API for Python binding
  bindings/python/python/opendal/__init__.pyi
  bindings/python/src/asyncio.rs
  bindings/python/src/lib.rs
  bindings/python/tests/conftest.py
  bindings/python/tests/test_async_rename.py
  bindings/python/tests/test_sync_rename.py
Labels: releases-note/feat

#3469 feat(binding/python): Support remove_all API for Python binding
  bindings/python/python/opendal/__init__.pyi
  bindings/python/src/asyncio.rs
  bindings/python/src/lib.rs
  bindings/python/tests/test_async_delete.py
  bindings/python/tests/test_sync_delete.py
Labels: releases-note/feat

#3470 feat(core): fix token leak in OneDrive
  core/src/services/onedrive/backend.rs
  core/src/services/s3/backend.rs
  core/src/services/webhdfs/backend.rs
  core/src/services/webhdfs/writer.rs
Labels: releases-note/feat

#3461 feat(core): service add OpenStack Swift support
  core/Cargo.toml
  core/src/services/mod.rs
  core/src/services/swift/backend.rs
  core/src/services/swift/core.rs
  core/src/services/swift/docs.md
  core/src/services/swift/error.rs
  core/src/services/swift/mod.rs
  core/src/services/swift/pager.rs
  core/src/services/swift/writer.rs
  core/src/types/operator/builder.rs
  core/src/types/scheme.rs
Labels: releases-note/feat

#3471 refactor(services/redis): Enable rustls support by default for redis
  .github/workflows/ci.yml
  .github/workflows/service_test_redis.yml
  bindings/java/Cargo.toml
  bindings/nodejs/Cargo.toml
  bindings/python/Cargo.toml
  core/Cargo.toml
Labels: releases-note/refactor

#3473 refactor(bindings/python): Refactor layout for python bindings
  bindings/python/src/layers.rs
  bindings/python/src/lib.rs
  bindings/python/src/lister.rs
  bindings/python/src/metadata.rs
  bindings/python/src/operator.rs
  bindings/python/src/reader.rs
  bindings/python/src/utils.rs
Labels: releases-note/refactor

#3363 refactor(services/libsql): Migrate libsql task to new behavior test planner
  .github/scripts/behavior_test/plan.py
  .github/services/libsql/libsql-auth/action.yml
  .github/services/libsql/libsql/action.yml
  .github/workflows/service_test_libsql.yml
  bindings/java/Cargo.toml
  bindings/nodejs/Cargo.toml
  bindings/python/Cargo.toml
Labels: releases-note/refactor

#3478 fix(services/s3): Accept List responses without ETag
  core/src/services/s3/pager.rs
Labels: releases-note/fix

#3483 fix(bindings/python): fix type annotations and improve docs
  bindings/python/python/opendal/__init__.pyi
  bindings/python/python/opendal/layers.pyi
  bindings/python/src/capability.rs
  bindings/python/tests/test_async_delete.py
  bindings/python/tests/test_read.py
Labels: releases-note/fix

#3485 docs(readme): Fix capitalization about the ABFS service in README.md
  README.md
Labels: releases-note/docs

#3490 feat(services): Implement ConfigDeserializer and add S3Config as example
  core/src/raw/serde_util.rs
  core/src/services/mod.rs
  core/src/services/s3/backend.rs
  core/src/services/s3/mod.rs
Labels: releases-note/feat

#3493 feat(core): add OpenStack Swift e2e test
  .env.example
  .github/services/swift/swift/action.yml
  .github/workflows/ci.yml
  bindings/java/Cargo.toml
  bindings/nodejs/Cargo.toml
  bindings/python/Cargo.toml
  core/src/services/swift/backend.rs
  fixtures/swift/docker-compose-swift.yml
Labels: releases-note/feat

#3494 feat(doc): add OpenStack Swift document for the website
  website/docs/services/swift.mdx
Labels: releases-note/feat

#3495 refactor(service/postgresql): Add PostgresqlConfig to implement ConfigDeserializer
  core/src/services/mod.rs
  core/src/services/postgresql/backend.rs
  core/src/services/postgresql/mod.rs
Labels: releases-note/refactor

#3497 feat(services): add SqliteConfig
  core/src/services/mod.rs
  core/src/services/sqlite/backend.rs
  core/src/services/sqlite/mod.rs
Labels: releases-note/feat

#3479 feat(bindings/C): implement capability
  bindings/c/Makefile
  bindings/c/include/opendal.h
  bindings/c/src/lib.rs
  bindings/c/src/metadata.rs
  bindings/c/src/operator_info.rs
  bindings/c/tests/opinfo.cpp
Labels: releases-note/feat

#3501 refactor(service/libsql): Add LibsqlConfig to implement ConfigDeserializer
  core/src/services/libsql/backend.rs
  core/src/services/libsql/mod.rs
  core/src/services/mod.rs
Labels: releases-note/refactor

#3491 feat: add mongodb gridfs service support
  .env.example
  core/Cargo.toml
  core/src/services/gridfs/backend.rs
  core/src/services/gridfs/docs.md
  core/src/services/gridfs/mod.rs
  core/src/services/mod.rs
  core/src/types/operator/builder.rs
  core/src/types/scheme.rs
  website/docs/services/gridfs.mdx
Labels: releases-note/feat

#3498 feat(services): add RedisConfig
  core/src/services/mod.rs
  core/src/services/redis/backend.rs
  core/src/services/redis/mod.rs
  core/src/services/sqlite/backend.rs
Labels: releases-note/feat

#3505 ci: Use cargo test instead of carge nextest
  .github/actions/behavior_test_core/action.yaml
  .github/workflows/behavior_test_core.yml
Labels: releases-note/ci

#3506 chore(services/libsql): Fix typos in backend
  core/src/services/libsql/backend.rs
Labels: releases-note/chore

#3509 chore: Bump to v0.42.0 to start release process
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  bindings/cpp/CMakeLists.txt
  bindings/haskell/opendal.cabal
  bindings/java/pom.xml
  bindings/nodejs/npm/darwin-arm64/package.json
  bindings/nodejs/npm/darwin-x64/package.json
  bindings/nodejs/npm/linux-x64-gnu/package.json
  bindings/nodejs/npm/win32-x64-msvc/package.json
  bindings/nodejs/package.json
  bindings/python/upgrade.md
  core/src/docs/upgrade.md
  website/community/committers/release.md
Labels: releases-note/chore

#3508 chore(service/vercel_artifacts): add doc in backend
  core/src/services/vercel_artifacts/backend.rs
Labels: releases-note/chore, releases-note/feat

#3513 fix(services/dropbox): Check if folder exists before calling create dir
  core/src/services/dropbox/backend.rs
Labels: releases-note/fix

#3507 refactor(service/http): Add HttpConfig to implement ConfigDeserializer
  core/src/services/http/backend.rs
  core/src/services/http/mod.rs
  core/src/services/mod.rs
Labels: releases-note/refactor

#3510 refactor(service/ftp): Add FtpConfig to implement ConfigDeserializer
  core/src/services/ftp/backend.rs
  core/src/services/ftp/mod.rs
  core/src/services/mod.rs
Labels: releases-note/refactor

#3511 refactor(service/sftp): Add SftpConfig to implement ConfigDeserializer
  core/src/services/mod.rs
  core/src/services/sftp/backend.rs
  core/src/services/sftp/mod.rs
Labels: releases-note/refactor

#3519 chore: Remove not released packages while releasing
  scripts/release.sh
Labels: releases-note/chore

#3512 refactor(service/tikv): Add TikvConfig to implement ConfigDeserializer
  core/src/services/mod.rs
  core/src/services/tikv/backend.rs
  core/src/services/tikv/mod.rs
Labels: releases-note/refactor

#3521 chore: Bump to v0.42.0 to start release process (Round 2)
  CHANGELOG.md
Labels: releases-note/chore

#3523 docs: Add Milvus as C binding's user
  README.md
Labels: releases-note/docs

#3524 chore: Fix typo in CHANGELOG
  CHANGELOG.md
Labels: releases-note/fix

#3525 chore: add updated Cargo.toml to git archive
  scripts/release.sh
Labels: releases-note/chore

#3527 build(bindings/java): Allow building on `linux-aarch_64`
  bindings/java/tools/build.py
Labels: releases-note/build

#3529 chore(bindings/java): improve build.py script
  bindings/java/tools/build.py
Labels: releases-note/chore

#3520 ci: support behavior test for gridfs
  .github/services/gridfs/gridfs/action.yml
  .github/services/gridfs/gridfs_with_basic_auth/action.yml
  bindings/java/Cargo.toml
  bindings/nodejs/Cargo.toml
  bindings/python/Cargo.toml
Labels: releases-note/ci

#3531 chore: Bump to v0.42.0 to start release process (Round 3)
  CHANGELOG.md
Labels: releases-note/chore

#3538 chore(servies/sftp): Upgrade openssh-sftp-client to 0.14
  Cargo.lock
  core/Cargo.toml
Labels: releases-note/chore

#3532 docs: Add questdb in users list
  README.md
Labels: releases-note/docs

#3517 feat(bindings/C): Add opendal_operator_rename and opendal_operator_copy
  bindings/c/include/opendal.h
  bindings/c/src/operator.rs
  bindings/c/tests/bdd.cpp
Labels: releases-note/feat

#3514 feat(binding/python): Add new API to convert between AsyncOperator and Operator
  bindings/python/python/opendal/__init__.pyi
  bindings/python/src/operator.rs
  bindings/python/tests/conftest.py
Labels: releases-note/feat

#3541 fix(bindings/python): Fix the test command in doc
  bindings/python/CONTRIBUTING.md
  bindings/python/README.md
Labels: releases-note/fix

#3476 refactor(services/persy): migrate tot test planner
  .github/services/persy/persy/action.yml
  .github/workflows/service_test_persy.yml
Labels: releases-note/refactor

#3543 refactor(service/etcd): Add EtcdConfig to implement ConfigDeserializer
  core/src/services/etcd/backend.rs
  core/src/services/etcd/mod.rs
  core/src/services/mod.rs
Labels: releases-note/refactor

#3545 chore(service/tikv): rename Backend to TikvBackend
  core/src/services/tikv/backend.rs
Labels: releases-note/chore, releases-note/refactor

#3546 chore(docs): add cpp binding in README
  README.md
Labels: releases-note/chore

#3549 chore(service/sqlite): fix typo on sqlite
  core/src/services/sqlite/backend.rs
Labels: releases-note/chore

#3552 ci: Disable libsql behavior test until we or upstream address them
  .github/services/libsql/libsql-auth/action.yml
  .github/services/libsql/libsql/action.yml
Labels: releases-note/ci

#3556 feat: Implement RFC-3526: List Recursive
  bin/oli/src/commands/cp.rs
  bin/oli/src/commands/ls.rs
  bindings/c/include/opendal.h
  bindings/c/src/operator_info.rs
  bindings/c/tests/opinfo.cpp
  bindings/haskell/src/lib.rs
  bindings/java/src/lib.rs
  bindings/nodejs/src/lib.rs
  bindings/python/python/opendal/__init__.pyi
  bindings/python/src/capability.rs
  bindings/python/src/operator.rs
  core/src/docs/upgrade.md
  core/src/layers/complete.rs
  core/src/layers/immutable_index.rs
  core/src/layers/retry.rs
  core/src/raw/adapters/kv/backend.rs
  core/src/raw/adapters/typed_kv/backend.rs
  core/src/raw/oio/page/into_flat_page.rs
  core/src/raw/ops.rs
  core/src/services/azblob/backend.rs
  core/src/services/azblob/pager.rs
  core/src/services/azdls/backend.rs
  core/src/services/azfile/backend.rs
  core/src/services/cos/backend.rs
  core/src/services/cos/pager.rs
  core/src/services/dbfs/backend.rs
  core/src/services/fs/backend.rs
  core/src/services/ftp/backend.rs
  core/src/services/gcs/backend.rs
  core/src/services/gcs/pager.rs
  core/src/services/gdrive/backend.rs
  core/src/services/hdfs/backend.rs
  core/src/services/ipfs/backend.rs
  core/src/services/ipmfs/backend.rs
  core/src/services/obs/backend.rs
  core/src/services/obs/pager.rs
  core/src/services/onedrive/backend.rs
  core/src/services/oss/backend.rs
  core/src/services/oss/pager.rs
  core/src/services/s3/backend.rs
  core/src/services/s3/pager.rs
  core/src/services/sftp/backend.rs
  core/src/services/swift/backend.rs
  core/src/services/swift/pager.rs
  core/src/services/webdav/backend.rs
  core/src/services/webhdfs/backend.rs
  core/src/types/capability.rs
  core/src/types/operator/blocking_operator.rs
  core/src/types/operator/operator.rs
  core/src/types/operator/operator_functions.rs
  core/src/types/operator/operator_futures.rs
  core/tests/behavior/blocking_list.rs
  core/tests/behavior/list.rs
  integrations/object_store/src/lib.rs
Labels: releases-note/feat

#3559 docs: Add macos specific doc updates for hdfs
  core/src/services/hdfs/docs.md
Labels: releases-note/docs

#3560 ci: Add new Python binding reviewer
  .github/CODEOWNERS
Labels: releases-note/ci

#3561 docs(bindings/python): Fix the test command in doc
  bindings/python/CONTRIBUTING.md
  bindings/python/README.md
Labels: releases-note/fix, releases-note/docs

#3553 refactor(services/azblob): add AzblobConfig
  core/src/services/azblob/backend.rs
  core/src/services/azblob/mod.rs
  core/src/services/mod.rs
Labels: releases-note/refactor

#3564 feat(service): add alluxio rest api support
  core/Cargo.toml
  core/src/services/alluxio/backend.rs
  core/src/services/alluxio/core.rs
  core/src/services/alluxio/docs.md
  core/src/services/alluxio/error.rs
  core/src/services/alluxio/mod.rs
  core/src/services/alluxio/pager.rs
  core/src/services/alluxio/writer.rs
  core/src/services/mod.rs
  core/src/types/scheme.rs
Labels: releases-note/feat

#3534 docs(bindings/java): add basic usage in README
  bindings/java/README.md
Labels: releases-note/docs

#3568 refactor(services/cacache): migrate to test planner
  .github/services/cacache/cacache/action.yml
  .github/workflows/service_test_cacache.yml
Labels: releases-note/refactor

#3569 refactor(services/sled): migrate to test planner
  .github/services/sled/sled/action.yml
  .github/services/sled/sled_with_tree/action.yml
  .github/workflows/service_test_sled.yml
Labels: releases-note/refactor

#3550 feat(bindings/python): add OPENDAL_DISABLE_RANDOM_ROOT support
  bindings/python/tests/conftest.py
Labels: releases-note/feat

#3567 ci(bindings/nodejs): add aarch64 build support
  .github/workflows/bindings_nodejs.yml
  bindings/nodejs/.cargo/config.toml
  bindings/nodejs/npm/linux-arm64-gnu/README.md
  bindings/nodejs/npm/linux-arm64-gnu/package.json
  bindings/nodejs/npm/linux-arm64-musl/README.md
  bindings/nodejs/npm/linux-arm64-musl/package.json
  bindings/nodejs/npm/win32-arm64-msvc/README.md
  bindings/nodejs/npm/win32-arm64-msvc/package.json
  bindings/nodejs/package.json
Labels: releases-note/ci

#3572 chore(bindings/C): resolve doxygen warnings
  bindings/c/Doxyfile
  bindings/c/include/opendal.h
  bindings/c/src/metadata.rs
  bindings/c/src/operator.rs
Labels: releases-note/chore

#3573 feat(core): add Alluxio e2e test
  .env.example
  .github/services/alluxio/alluxio/action.yml
  .github/workflows/ci.yml
  bindings/java/Cargo.toml
  bindings/nodejs/Cargo.toml
  bindings/python/Cargo.toml
  core/src/services/alluxio/backend.rs
  core/src/services/alluxio/core.rs
  core/src/services/alluxio/error.rs
  core/src/services/alluxio/pager.rs
  core/src/types/operator/builder.rs
  core/src/types/scheme.rs
  fixtures/alluxio/docker-compose-alluxio.yml
Labels: releases-note/feat

#3578 refactor(services/webhdfs): migrate to test planner
  .github/services/webhdfs/webhdfs/action.yml
  .github/services/webhdfs/webhdfs_with_list_batch_disabled/action.yml
  .github/workflows/service_test_webhdfs.yml
  fixtures/webhdfs/docker-compose-webhdfs.yml
Labels: releases-note/refactor

#3579 chore: removed dotenv in bindings/nodejs/index.js
  bindings/nodejs/index.js
Labels: releases-note/chore

#3580 chore: update opentelemetry to v0.21.x
  Cargo.lock
  core/Cargo.toml
Labels: releases-note/chore

#3566 feat(service): alluxio support write
  core/src/services/alluxio/backend.rs
  core/src/services/alluxio/core.rs
  core/src/services/alluxio/writer.rs
Labels: releases-note/feat

#3581 chore: Add cpp binding Google style clang-format && format the code
  bindings/cpp/.clang-format
  bindings/cpp/include/opendal.hpp
  bindings/cpp/src/opendal.cpp
  bindings/cpp/tests/basic_test.cpp
Labels: releases-note/chore

#3484 feat(bindings/nodejs): add retry layer
  .github/workflows/bindings_nodejs.yml
  bindings/nodejs/generated.js
  bindings/nodejs/index.d.ts
  bindings/nodejs/index.js
  bindings/nodejs/src/lib.rs
  bindings/nodejs/tests/suites/async.suite.mjs
  bindings/nodejs/tests/suites/index.mjs
  bindings/nodejs/tests/suites/sync.suite.mjs
  fixtures/alluxio/docker-compose-alluxio.yml
Labels: releases-note/feat

#3570 ci(planner): Polish the workflow planner code
  .github/scripts/behavior_test/plan.py
Labels: releases-note/ci

#3574 RFC: Concurrent Stat in List
  core/src/docs/rfcs/3574_concurrent_stat_in_list.md
  core/src/docs/rfcs/mod.rs
Labels: releases-note/feat

#3597 chore(ci): fix artifacts path for publish pypi
  .github/workflows/bindings_python.yml
Labels: releases-note/chore

#3598 doc: add 0.42.0 release link to download.md
  website/src/pages/download.md
Labels: releases-note/docs

#3587 refactor(services/tikv): migrate to test planner
  .github/services/tikv/tikv/action.yml
  .github/services/tikv/tikv_tls/action.yml
  .github/workflows/service_test_tikv.yml
Labels: releases-note/refactor

#3592 feat(service/hdfs): enable rename in hdfs service
  core/src/services/hdfs/backend.rs
  core/src/services/hdfs/docs.md
Labels: releases-note/feat

#3609 fix(ci): try enable corepack before setup-node action
  .github/services/redis/redis_with_cluster_tls/action.yml
  .github/workflows/behavior_test_binding_nodejs.yml
  .github/workflows/docs.yml
  bindings/nodejs/src/lib.rs
Labels: releases-note/fix

#3600 fix(service/hdfs): enable hdfs append support
  .github/workflows/service_test_hdfs.yml
  core/src/services/hdfs/backend.rs
  core/src/services/hdfs/docs.md
  core/tests/behavior/append.rs
  fixtures/hdfs/hdfs-site.xml
Labels: releases-note/fix

#3611 fix(ci): fix setup node
  .github/workflows/bindings_nodejs.yml
  .github/workflows/docs.yml
  .github/workflows/service_test_hdfs.yml
Labels: releases-note/fix

#3617 feat: Improve the read_to_end perf and add benchmark vs_fs
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  core/benches/oio/main.rs
  core/benches/vs_fs/Cargo.toml
  core/benches/vs_fs/README.md
  core/benches/vs_fs/src/main.rs
  core/src/raw/oio/read/api.rs
  core/src/types/operator/blocking_operator.rs
Labels: releases-note/feat

#3620 feat: Add benchmark vs aws sdk s3
  Cargo.lock
  Cargo.toml
  core/benches/vs_s3/Cargo.toml
  core/benches/vs_s3/README.md
  core/benches/vs_s3/src/main.rs
  core/src/layers/complete.rs
  core/src/raw/http_util/body.rs
  core/src/raw/oio/read/api.rs
  core/src/services/http/backend.rs
  core/src/types/operator/operator.rs
Labels: releases-note/feat

#3621 refactor(oio): Polish IncomingAsyncBody::bytes
  core/src/raw/http_util/body.rs
Labels: releases-note/refactor

#3622 feat: Improve the performance of s3 services
  Cargo.lock
  core/benches/vs_s3/Cargo.toml
  core/benches/vs_s3/README.md
  core/benches/vs_s3/src/main.rs
  core/src/layers/complete.rs
  core/src/raw/http_util/body.rs
  core/src/types/reader.rs
Labels: releases-note/feat

#3623 chore: Fix `raw::tests` been excluded unexpectedly
  core/Cargo.toml
Labels: releases-note/chore

#3624 ci(core): Add dry run for rc tags
  .github/workflows/publish.yml
Labels: releases-note/ci

#3627 chore: Bump dpes and remove native-tls in mysql-async
  Cargo.lock
  bin/oay/Cargo.toml
  bin/oli/Cargo.toml
  core/Cargo.toml
  core/benches/vs_fs/Cargo.toml
  core/benches/vs_s3/Cargo.toml
Labels: releases-note/chore

#3631 ci: Disable persy unitl it has been fixed
  .github/services/persy/persy/action.yml
Labels: releases-note/ci

#3633 ci: Calling cargo to make sure rust has been setup
  .github/actions/setup/action.yaml
Labels: releases-note/ci

#3634 chore(core): Have mysql_async use rustls instead of native-tls
  Cargo.lock
  core/Cargo.toml
Labels: releases-note/chore

#3635 chore: Polish docs for Capability
  core/src/types/capability.rs
  core/src/types/list.rs
Labels: releases-note/chore

#3637 ci: Fix etcd with tls and auth failed to start
  fixtures/etcd/docker-compose-standalone-tls.yml
Labels: releases-note/ci

#3638 ci(services/etcd): Use ALLOW_NONE_AUTHENTICATION as workaround
  .github/services/etcd/etcd-tls/action.yml
  fixtures/etcd/docker-compose-standalone-tls.yml
Labels: releases-note/ci

#3604 feat(service): support b2
  .env.example
  core/Cargo.toml
  core/src/services/b2/backend.rs
  core/src/services/b2/core.rs
  core/src/services/b2/docs.md
  core/src/services/b2/error.rs
  core/src/services/b2/lister.rs
  core/src/services/b2/mod.rs
  core/src/services/b2/writer.rs
  core/src/services/mod.rs
  core/src/types/operator/builder.rs
  core/src/types/scheme.rs
Labels: releases-note/feat

#3636 refactor(services/rocksdb): migrate to test planner
  .github/actions/setup/action.yaml
  .github/services/rocksdb/rocksdb/action.yml
  .github/workflows/service_test_rocksdb.yml
Labels: releases-note/refactor

#3644 chore: Bump reqsign to 0.14.4 for jsonwebtoken
  Cargo.lock
  core/Cargo.toml
Labels: releases-note/chore

#3645 ci: dry run publish on rc tags for python binding
  .github/workflows/bindings_python.yml
Labels: releases-note/ci

#3632 chore(ci): nodejs binding publish dry run
  .github/workflows/behavior_test_binding_nodejs.yml
  .github/workflows/bindings_nodejs.yml
  .github/workflows/docs.yml
  bindings/nodejs/Cargo.toml
  bindings/nodejs/npm/darwin-x64/package.json
  bindings/nodejs/npm/linux-arm64-gnu/package.json
  bindings/nodejs/npm/linux-arm64-musl/package.json
  bindings/nodejs/npm/win32-arm64-msvc/package.json
  bindings/nodejs/upgrade.md
Labels: releases-note/chore

#3652 refactor(services/azfile): Check if dir exists before create
  core/src/services/azfile/core.rs
Labels: releases-note/refactor

#3599 feat(core): Implement RFC-3574 Concurrent Stat In List
  core/src/raw/ops.rs
  core/src/types/list.rs
  core/src/types/operator/operator_futures.rs
Labels: releases-note/feat

#3657 chore: Polish comments for `stat` and `stat_with`
  bindings/c/tests/bdd.cpp
  bindings/c/tests/opinfo.cpp
  core/src/docs/upgrade.md
  core/src/raw/oio/list/api.rs
  core/src/types/operator/blocking_operator.rs
  core/src/types/operator/operator.rs
Labels: releases-note/chore

#3659 feat: disable `ftp` for python and java binding
  bindings/java/Cargo.toml
  bindings/java/upgrade.md
  bindings/nodejs/upgrade.md
  bindings/python/Cargo.toml
  bindings/python/upgrade.md
Labels: releases-note/feat

#3658 refactor: Polish concurrent list
  core/src/types/list.rs
Labels: releases-note/refactor

#3660 ci: Add java linux arm64 build
  .github/services/tikv/tikv_tls/action.yml
  .github/workflows/release_java.yml
  Cargo.lock
  bindings/java/Cargo.toml
  core/Cargo.toml
  licenserc.toml
  scripts/merge_local_staging.py
  scripts/merge_local_staging.sh
Labels: releases-note/ci

#3667 chore: clearer doc for python binding
  bindings/python/README.md
Labels: releases-note/chore

#3619 feat(bindings/nodejs): read/write stream
  bindings/nodejs/.prettierignore
  bindings/nodejs/generated.d.ts
  bindings/nodejs/generated.js
  bindings/nodejs/index.d.ts
  bindings/nodejs/index.js
  bindings/nodejs/package.json
  bindings/nodejs/scripts/header.js
  bindings/nodejs/src/lib.rs
  bindings/nodejs/tests/suites/async.suite.mjs
  bindings/nodejs/tests/suites/index.mjs
  bindings/nodejs/tests/suites/sync.suite.mjs
  bindings/nodejs/tests/utils.mjs
  bindings/nodejs/vitest.config.js
  bindings/nodejs/yarn.lock
  core/src/services/swift/core.rs
  core/tests/behavior/main.rs
Labels: releases-note/feat

#3664 ci(java/binding): Use zigbuild for glibc 2.17 support
  .github/workflows/release_java.yml
  bindings/java/Cargo.toml
  bindings/java/pom.xml
  bindings/java/tools/build.py
Labels: releases-note/ci

#3671 fix(core): Path in remove not normalized
  core/src/types/operator/operator.rs
  core/tests/behavior/write.rs
Labels: releases-note/fix

#3672 chore: Bump to v0.43.0 to start release process
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  bindings/cpp/CMakeLists.txt
  bindings/haskell/opendal.cabal
  bindings/java/pom.xml
  bindings/nodejs/npm/darwin-arm64/package.json
  bindings/nodejs/npm/darwin-x64/package.json
  bindings/nodejs/npm/linux-arm64-gnu/package.json
  bindings/nodejs/npm/linux-arm64-musl/package.json
  bindings/nodejs/npm/linux-x64-gnu/package.json
  bindings/nodejs/npm/win32-arm64-msvc/package.json
  bindings/nodejs/npm/win32-x64-msvc/package.json
  bindings/nodejs/package.json
  core/src/docs/upgrade.md
  website/community/committers/release.md
Labels: releases-note/chore

#3674 ci(bindings/python): remove aarch support
  .github/workflows/bindings_python.yml
Labels: releases-note/ci

#3676 chore: Bump to v0.43.0 to start release process (Round 2)
  CHANGELOG.md
Labels: releases-note/chore

#3679 chore: add license.workspace to help cargo deny reports
  core/edge/file_write_on_full_disk/Cargo.toml
  core/fuzz/Cargo.toml
Labels: releases-note/chore

#3666 chore: clearer doc for list metakey
  core/src/types/list.rs
Labels: releases-note/chore

#3685 chore: Bump to v0.43.0 to start release process (Round 3)
  CHANGELOG.md
  website/community/committers/release.md
Labels: releases-note/chore

#3687 fix(oli): Fix cp -r command returns invalid path error
  bin/oli/src/commands/cp.rs
Labels: releases-note/fix
