Repository apache/opendal, pull requests merged in 2023-09, with the labels that each got.

#2997 fix(services/gcs): Fix handling of media and multipart insert
  core/src/services/gcs/core.rs
Labels: releases-note/fix

#2988 docs(bindings/cpp): use doxygen to generate API docs
  bindings/cpp/CMakeLists.txt
  bindings/cpp/CONTRIBUTING.md
  bindings/cpp/Doxyfile
  bindings/cpp/include/opendal.hpp
Labels: releases-note/docs

#2999 docs(bindings/c): add awesome-doxygen to beautify document
  .github/workflows/docs.yml
  bindings/c/.gitignore
  bindings/c/Doxyfile
  bindings/c/Makefile
Labels: releases-note/docs

#2998 ci(bindings/cpp): add ci for test and doc
  .github/workflows/bindings_cpp.yml
  .github/workflows/docs.yml
  bindings/cpp/CMakeLists.txt
  website/docusaurus.config.js
Labels: releases-note/ci

#2996 docs(contributing): add podling status report guide
  website/docs/contributing/podling-report.md
Labels: releases-note/docs

#3003 chore(ci): remove unreviewable test file and add generate test file step before testing
  core/src/services/ipfs/ipld.rs
  core/tests/behavior/blocking_read_only.rs
  core/tests/behavior/list_only.rs
  core/tests/behavior/read_only.rs
  core/tests/data/normal_file
  core/tests/data/normal_file.txt
  core/tests/data/special_file  !@#$%^&()_+-=;',
  core/tests/data/special_file  !@#$%^&()_+-=;',.txt
  licenserc.toml
Labels: releases-note/chore

#3001 feat(bindings/cpp): expose all api returned by value
  .github/workflows/bindings_cpp.yml
  .github/workflows/docs.yml
  Cargo.lock
  bindings/cpp/CMakeLists.txt
  bindings/cpp/CONTRIBUTING.md
  bindings/cpp/Cargo.toml
  bindings/cpp/include/opendal.hpp
  bindings/cpp/src/lib.rs
  bindings/cpp/src/opendal.cpp
  bindings/cpp/tests/basic_test.cpp
Labels: releases-note/feat

#3005 refactor(raw): Return written bytes in oio::Write
  core/benches/oio/utils.rs
  core/src/layers/blocking.rs
  core/src/layers/complete.rs
  core/src/layers/concurrent_limit.rs
  core/src/layers/error_context.rs
  core/src/layers/logging.rs
  core/src/layers/madsim.rs
  core/src/layers/metrics.rs
  core/src/layers/minitrace.rs
  core/src/layers/oteltrace.rs
  core/src/layers/prometheus.rs
  core/src/layers/retry.rs
  core/src/layers/throttle.rs
  core/src/layers/timeout.rs
  core/src/layers/tracing.rs
  core/src/raw/adapters/kv/backend.rs
  core/src/raw/adapters/typed_kv/backend.rs
  core/src/raw/oio/write/api.rs
  core/src/raw/oio/write/append_object_write.rs
  core/src/raw/oio/write/at_least_buf_write.rs
  core/src/raw/oio/write/compose_write.rs
  core/src/raw/oio/write/exact_buf_write.rs
  core/src/raw/oio/write/multipart_upload_write.rs
  core/src/raw/oio/write/one_shot_write.rs
  core/src/services/azblob/writer.rs
  core/src/services/azdfs/writer.rs
  core/src/services/dropbox/writer.rs
  core/src/services/fs/writer.rs
  core/src/services/ftp/writer.rs
  core/src/services/gcs/writer.rs
  core/src/services/gdrive/writer.rs
  core/src/services/ghac/writer.rs
  core/src/services/hdfs/writer.rs
  core/src/services/ipmfs/writer.rs
  core/src/services/onedrive/writer.rs
  core/src/services/sftp/writer.rs
  core/src/services/supabase/writer.rs
  core/src/services/vercel_artifacts/writer.rs
  core/src/services/wasabi/writer.rs
  core/src/services/webdav/writer.rs
  core/src/services/webhdfs/writer.rs
  core/src/types/writer.rs
Labels: releases-note/refactor

#3007 feat(services/gdrive): implement rename
  core/src/services/gdrive/backend.rs
  core/src/services/gdrive/core.rs
Labels: releases-note/feat

#3012 docs: fix spelling - change `Github` to `GitHub`
  CONTRIBUTING.md
  README.md
  bindings/c/CONTRIBUTING.md
  bindings/cpp/CONTRIBUTING.md
  bindings/haskell/CONTRIBUTING.md
  bindings/nodejs/CONTRIBUTING.md
  bindings/python/CONTRIBUTING.md
  bindings/zig/CONTRIBUTING.md
  core/README.md
  website/blog/2023-03-16-opendal-entered-apache-incubator/index.md
  website/src/components/HomepageFeatures/_feature_services.mdx
Labels: releases-note/docs

#3013 docs: fix spelling - change `MacOS` to `macOS`
  CONTRIBUTING.md
  bindings/cpp/CONTRIBUTING.md
Labels: releases-note/docs

#3011 feat(bindings/cpp): expose lister
  bindings/cpp/include/opendal.hpp
  bindings/cpp/src/lib.rs
  bindings/cpp/src/lister.rs
  bindings/cpp/src/opendal.cpp
  bindings/cpp/src/types.rs
  bindings/cpp/tests/basic_test.cpp
Labels: releases-note/feat

#3008 refactor: Refactor oio::Write by accepting oio::Reader instead
  core/benches/oio/main.rs
  core/benches/oio/utils.rs
  core/benches/oio/write.rs
  core/src/layers/complete.rs
  core/src/layers/concurrent_limit.rs
  core/src/layers/error_context.rs
  core/src/layers/logging.rs
  core/src/layers/madsim.rs
  core/src/layers/metrics.rs
  core/src/layers/minitrace.rs
  core/src/layers/oteltrace.rs
  core/src/layers/prometheus.rs
  core/src/layers/retry.rs
  core/src/layers/throttle.rs
  core/src/layers/timeout.rs
  core/src/layers/tracing.rs
  core/src/raw/adapters/kv/backend.rs
  core/src/raw/adapters/typed_kv/backend.rs
  core/src/raw/oio/cursor.rs
  core/src/raw/oio/read/cloneable_read.rs
  core/src/raw/oio/read/into_read_from_file.rs
  core/src/raw/oio/read/into_read_from_stream.rs
  core/src/raw/oio/read/mod.rs
  core/src/raw/oio/stream/api.rs
  core/src/raw/oio/write/api.rs
  core/src/raw/oio/write/append_object_write.rs
  core/src/raw/oio/write/at_least_buf_write.rs
  core/src/raw/oio/write/compose_write.rs
  core/src/raw/oio/write/exact_buf_write.rs
  core/src/raw/oio/write/mod.rs
  core/src/raw/oio/write/multipart_upload_write.rs
  core/src/raw/oio/write/one_shot_write.rs
  core/src/services/azblob/writer.rs
  core/src/services/azdfs/writer.rs
  core/src/services/cos/backend.rs
  core/src/services/dropbox/writer.rs
  core/src/services/fs/writer.rs
  core/src/services/ftp/writer.rs
  core/src/services/gcs/writer.rs
  core/src/services/gdrive/writer.rs
  core/src/services/ghac/writer.rs
  core/src/services/hdfs/writer.rs
  core/src/services/ipmfs/writer.rs
  core/src/services/obs/backend.rs
  core/src/services/onedrive/writer.rs
  core/src/services/oss/backend.rs
  core/src/services/s3/backend.rs
  core/src/services/sftp/writer.rs
  core/src/services/supabase/writer.rs
  core/src/services/vercel_artifacts/writer.rs
  core/src/services/wasabi/writer.rs
  core/src/services/webdav/writer.rs
  core/src/services/webhdfs/writer.rs
  core/src/types/writer.rs
  core/tests/behavior/write.rs
Labels: releases-note/refactor

#3015 refactor(core): Rename confusing pipe into copy_from
  core/benches/oio/utils.rs
  core/src/layers/complete.rs
  core/src/layers/concurrent_limit.rs
  core/src/layers/error_context.rs
  core/src/layers/logging.rs
  core/src/layers/madsim.rs
  core/src/layers/metrics.rs
  core/src/layers/minitrace.rs
  core/src/layers/oteltrace.rs
  core/src/layers/prometheus.rs
  core/src/layers/retry.rs
  core/src/layers/throttle.rs
  core/src/layers/timeout.rs
  core/src/layers/tracing.rs
  core/src/raw/adapters/kv/backend.rs
  core/src/raw/adapters/typed_kv/backend.rs
  core/src/raw/oio/cursor.rs
  core/src/raw/oio/write/api.rs
  core/src/raw/oio/write/append_object_write.rs
  core/src/raw/oio/write/compose_write.rs
  core/src/raw/oio/write/exact_buf_write.rs
  core/src/raw/oio/write/multipart_upload_write.rs
  core/src/raw/oio/write/one_shot_write.rs
  core/src/services/azblob/writer.rs
  core/src/services/azdfs/writer.rs
  core/src/services/dropbox/writer.rs
  core/src/services/fs/writer.rs
  core/src/services/ftp/writer.rs
  core/src/services/gcs/writer.rs
  core/src/services/gdrive/writer.rs
  core/src/services/ghac/writer.rs
  core/src/services/hdfs/writer.rs
  core/src/services/ipmfs/writer.rs
  core/src/services/onedrive/writer.rs
  core/src/services/sftp/writer.rs
  core/src/services/supabase/writer.rs
  core/src/services/vercel_artifacts/writer.rs
  core/src/services/wasabi/writer.rs
  core/src/services/webdav/writer.rs
  core/src/services/webhdfs/writer.rs
  core/src/types/writer.rs
Labels: releases-note/refactor

#3016 feat(core): Avoid copy if input is larger than buffer_size
  core/src/raw/oio/write/exact_buf_write.rs
Labels: releases-note/feat

#3018 refactor: Remove oio::Write::copy_from
  core/benches/oio/utils.rs
  core/src/layers/complete.rs
  core/src/layers/concurrent_limit.rs
  core/src/layers/error_context.rs
  core/src/layers/logging.rs
  core/src/layers/madsim.rs
  core/src/layers/metrics.rs
  core/src/layers/minitrace.rs
  core/src/layers/oteltrace.rs
  core/src/layers/prometheus.rs
  core/src/layers/retry.rs
  core/src/layers/throttle.rs
  core/src/layers/timeout.rs
  core/src/layers/tracing.rs
  core/src/raw/adapters/kv/backend.rs
  core/src/raw/adapters/typed_kv/backend.rs
  core/src/raw/oio/write/api.rs
  core/src/raw/oio/write/append_object_write.rs
  core/src/raw/oio/write/compose_write.rs
  core/src/raw/oio/write/exact_buf_write.rs
  core/src/raw/oio/write/multipart_upload_write.rs
  core/src/raw/oio/write/one_shot_write.rs
  core/src/services/azblob/backend.rs
  core/src/services/azblob/writer.rs
  core/src/services/azdfs/writer.rs
  core/src/services/cos/backend.rs
  core/src/services/dropbox/writer.rs
  core/src/services/fs/backend.rs
  core/src/services/fs/writer.rs
  core/src/services/ftp/writer.rs
  core/src/services/gcs/backend.rs
  core/src/services/gcs/writer.rs
  core/src/services/gdrive/writer.rs
  core/src/services/ghac/writer.rs
  core/src/services/hdfs/writer.rs
  core/src/services/ipmfs/writer.rs
  core/src/services/obs/backend.rs
  core/src/services/onedrive/writer.rs
  core/src/services/oss/backend.rs
  core/src/services/s3/backend.rs
  core/src/services/sftp/writer.rs
  core/src/services/supabase/writer.rs
  core/src/services/vercel_artifacts/writer.rs
  core/src/services/wasabi/writer.rs
  core/src/services/webdav/backend.rs
  core/src/services/webdav/writer.rs
  core/src/services/webhdfs/writer.rs
  core/src/types/capability.rs
  core/src/types/writer.rs
  core/tests/behavior/write.rs
Labels: releases-note/refactor

#3020 fix(services/webdav): decode path before set Entry
  core/src/raw/http_util/mod.rs
  core/src/raw/http_util/uri.rs
  core/src/services/webdav/pager.rs
Labels: releases-note/fix

#3021 refactor: Make oio::Write accept Buf instead
  core/benches/oio/utils.rs
  core/benches/oio/write.rs
  core/src/layers/blocking.rs
  core/src/layers/complete.rs
  core/src/layers/concurrent_limit.rs
  core/src/layers/error_context.rs
  core/src/layers/logging.rs
  core/src/layers/madsim.rs
  core/src/layers/metrics.rs
  core/src/layers/minitrace.rs
  core/src/layers/oteltrace.rs
  core/src/layers/prometheus.rs
  core/src/layers/retry.rs
  core/src/layers/throttle.rs
  core/src/layers/timeout.rs
  core/src/layers/tracing.rs
  core/src/raw/adapters/kv/backend.rs
  core/src/raw/adapters/typed_kv/backend.rs
  core/src/raw/oio/buf.rs
  core/src/raw/oio/mod.rs
  core/src/raw/oio/write/api.rs
  core/src/raw/oio/write/append_object_write.rs
  core/src/raw/oio/write/compose_write.rs
  core/src/raw/oio/write/exact_buf_write.rs
  core/src/raw/oio/write/multipart_upload_write.rs
  core/src/raw/oio/write/one_shot_write.rs
  core/src/services/azblob/writer.rs
  core/src/services/azdfs/writer.rs
  core/src/services/cos/writer.rs
  core/src/services/dropbox/writer.rs
  core/src/services/fs/writer.rs
  core/src/services/ftp/writer.rs
  core/src/services/gcs/writer.rs
  core/src/services/gdrive/writer.rs
  core/src/services/ghac/writer.rs
  core/src/services/hdfs/writer.rs
  core/src/services/ipmfs/writer.rs
  core/src/services/obs/writer.rs
  core/src/services/onedrive/writer.rs
  core/src/services/oss/writer.rs
  core/src/services/s3/writer.rs
  core/src/services/sftp/writer.rs
  core/src/services/supabase/writer.rs
  core/src/services/vercel_artifacts/writer.rs
  core/src/services/wasabi/writer.rs
  core/src/services/webdav/writer.rs
  core/src/services/webhdfs/writer.rs
  core/src/types/operator/blocking_operator.rs
  core/src/types/operator/operator.rs
  core/src/types/writer.rs
Labels: releases-note/refactor

#3026 ci(services/tikv): add tikv integration test with tls
  .github/workflows/service_test_tikv.yml
  core/src/services/tikv/fixtures/gen_cert.sh
  core/src/services/tikv/fixtures/pd-tls.toml
  core/src/services/tikv/fixtures/ssl/ca-key.pem
  core/src/services/tikv/fixtures/ssl/ca.pem
  core/src/services/tikv/fixtures/ssl/client-key.pem
  core/src/services/tikv/fixtures/ssl/client.pem
  core/src/services/tikv/fixtures/ssl/pd-server-key.pem
  core/src/services/tikv/fixtures/ssl/pd-server.pem
  core/src/services/tikv/fixtures/ssl/tikv-server-key.pem
  core/src/services/tikv/fixtures/ssl/tikv-server.pem
  core/src/services/tikv/fixtures/tikv-tls.toml
Labels: releases-note/ci

#3027 refactor: Relax bounds on Writer::{sink, copy}
  core/src/types/writer.rs
Labels: releases-note/refactor

#3028 docs: add service doc for gdrive & onedrive
  core/src/services/gdrive/builder.rs
  core/src/services/gdrive/docs.md
  core/src/services/onedrive/builder.rs
  core/src/services/onedrive/docs.md
  website/docs/services/gdrive.mdx
  website/docs/services/onedrive.mdx
Labels: releases-note/docs

#3030 chore(bindings/cpp): update CMakeLists.txt to prepare release
  .github/workflows/bindings_cpp.yml
  .github/workflows/docs.yml
  bindings/cpp/CMakeLists.txt
  bindings/cpp/CONTRIBUTING.md
  bindings/cpp/README.md
Labels: releases-note/chore

#3031 refactor: Polish multipart writer to allow oneshot optimization
  core/src/raw/oio/write/multipart_upload_write.rs
  core/src/services/cos/backend.rs
  core/src/services/cos/writer.rs
  core/src/services/obs/backend.rs
  core/src/services/obs/writer.rs
  core/src/services/oss/backend.rs
  core/src/services/oss/writer.rs
  core/src/services/s3/backend.rs
  core/src/services/s3/writer.rs
Labels: releases-note/refactor

#3025 feat(service/gdrive): add gdrive list support
  core/src/services/gdrive/backend.rs
  core/src/services/gdrive/core.rs
  core/src/services/gdrive/error.rs
  core/src/services/gdrive/mod.rs
  core/src/services/gdrive/pager.rs
Labels: releases-note/feat

#3034 refactor: Polish implementation details of WriteBuf and add vector chunks support
  core/src/raw/oio/buf.rs
  core/src/raw/oio/write/append_object_write.rs
  core/src/raw/oio/write/exact_buf_write.rs
  core/src/raw/oio/write/multipart_upload_write.rs
  core/src/raw/oio/write/one_shot_write.rs
  core/src/raw/oio/write/range_write.rs
  core/src/services/fs/writer.rs
  core/src/services/ftp/writer.rs
  core/src/services/gdrive/pager.rs
  core/src/services/ghac/writer.rs
Labels: releases-note/refactor

#3038 refactor: Polish RangeWrite implementation to remove the extra buffer logic
  core/src/raw/http_util/body.rs
  core/src/raw/http_util/client.rs
  core/src/raw/http_util/multipart.rs
  core/src/raw/oio/buf/chunked_bytes.rs
  core/src/raw/oio/cursor.rs
  core/src/raw/oio/mod.rs
  core/src/raw/oio/write/multipart_upload_write.rs
  core/src/raw/oio/write/range_write.rs
  core/src/services/gcs/backend.rs
  core/src/services/gcs/core.rs
  core/src/services/gcs/writer.rs
Labels: releases-note/refactor

#3039 ci: restrict workflow that need password
  .github/workflows/service_test_azblob.yml
  .github/workflows/service_test_cos.yml
  .github/workflows/service_test_dropbox.yml
  .github/workflows/service_test_gdrive.yml
  .github/workflows/service_test_s3.yml
  .github/workflows/service_test_supabase.yml
  .github/workflows/service_test_wasabi.yml
Labels: releases-note/ci

#3041 feat(services/etcd): Enable etcd connection pool
  core/Cargo.toml
  core/src/raw/adapters/kv/backend.rs
  core/src/raw/adapters/typed_kv/backend.rs
  core/src/raw/oio/buf/chunked_bytes.rs
  core/src/services/etcd/backend.rs
Labels: releases-note/feat

#3043 fix(services/oss): set content_md5 in lister
  core/src/services/oss/pager.rs
Labels: releases-note/fix

#3044 refactor: Remove the requirement of passing `content_length` to writer
  .github/workflows/service_test_webhdfs.yml
  core/fuzz/fuzz_writer.rs
  core/src/layers/complete.rs
  core/src/raw/adapters/kv/backend.rs
  core/src/raw/adapters/typed_kv/api.rs
  core/src/raw/adapters/typed_kv/backend.rs
  core/src/raw/oio/write/one_shot_write.rs
  core/src/raw/ops.rs
  core/src/services/azblob/writer.rs
  core/src/services/azdfs/backend.rs
  core/src/services/azdfs/writer.rs
  core/src/services/cos/backend.rs
  core/src/services/dropbox/backend.rs
  core/src/services/dropbox/writer.rs
  core/src/services/fs/backend.rs
  core/src/services/ftp/backend.rs
  core/src/services/ftp/writer.rs
  core/src/services/gcs/backend.rs
  core/src/services/gdrive/backend.rs
  core/src/services/gdrive/writer.rs
  core/src/services/ghac/backend.rs
  core/src/services/ipmfs/backend.rs
  core/src/services/ipmfs/writer.rs
  core/src/services/obs/backend.rs
  core/src/services/onedrive/backend.rs
  core/src/services/onedrive/writer.rs
  core/src/services/oss/backend.rs
  core/src/services/s3/backend.rs
  core/src/services/sftp/backend.rs
  core/src/services/supabase/backend.rs
  core/src/services/supabase/writer.rs
  core/src/services/vercel_artifacts/backend.rs
  core/src/services/vercel_artifacts/writer.rs
  core/src/services/wasabi/backend.rs
  core/src/services/wasabi/writer.rs
  core/src/services/webdav/backend.rs
  core/src/services/webdav/writer.rs
  core/src/services/webhdfs/backend.rs
  core/src/services/webhdfs/writer.rs
  core/src/types/capability.rs
  core/src/types/operator/blocking_operator.rs
  core/src/types/operator/operator.rs
  core/src/types/operator/operator_functions.rs
  core/src/types/operator/operator_futures.rs
  core/src/types/writer.rs
  core/tests/behavior/write.rs
Labels: releases-note/refactor

#3045 feat: Add buffer support for all services
  core/src/layers/complete.rs
  core/src/services/cos/backend.rs
  core/src/services/gcs/backend.rs
  core/src/services/gcs/core.rs
  core/src/services/obs/backend.rs
  core/src/services/oss/backend.rs
  core/src/services/s3/backend.rs
  core/src/types/capability.rs
  core/src/types/operator/operator_futures.rs
Labels: releases-note/feat

#3046 fix: Correct the name of azdfs to azdls
  .github/workflows/service_test_azdls.yml
  README.md
  bin/oli/README.md
  bin/oli/src/config/mod.rs
  bindings/java/Cargo.toml
  core/Cargo.toml
  core/README.md
  core/src/services/azdls/backend.rs
  core/src/services/azdls/core.rs
  core/src/services/azdls/docs.md
  core/src/services/azdls/error.rs
  core/src/services/azdls/mod.rs
  core/src/services/azdls/pager.rs
  core/src/services/azdls/writer.rs
  core/src/services/mod.rs
  core/src/types/operator/builder.rs
  core/src/types/scheme.rs
  core/tests/behavior/main.rs
  website/blog/2023-07-07-apache-opendal-access-data-freely/index.md
  website/docs/services/azdls.mdx
  website/src/components/HomepageFeatures/_feature_services.mdx
Labels: releases-note/fix

#3048 ci: Don't release while tag contains rc
  .github/workflows/bindings_nodejs.yml
  .github/workflows/bindings_python.yml
  .github/workflows/publish.yml
Labels: releases-note/ci

#3050 fix: Don't apply blocking layer when service support blocking
  core/src/layers/blocking.rs
  core/src/layers/retry.rs
  core/src/raw/oio/write/multipart_upload_write.rs
  core/src/raw/oio/write/range_write.rs
  core/tests/behavior/utils.rs
Labels: releases-note/fix

#3049 feat(bindings/java): auto enable blocking layer
  bindings/java/pom.xml
  bindings/java/src/blocking_operator.rs
  bindings/java/src/error.rs
  bindings/java/src/metadata.rs
  bindings/java/src/operator.rs
  bindings/java/src/test/java/org/apache/opendal/RedisServiceTest.java
Labels: releases-note/feat

#3053 fix: call `flush` before `sync_all`
  core/src/services/fs/writer.rs
Labels: releases-note/fix

#3054 ci(bindings/java): skip RedisServiceTest on macos and windows
  .github/workflows/bindings_java.yml
  .github/workflows/publish.yml
  bindings/java/src/test/java/org/apache/opendal/RedisServiceTest.java
Labels: releases-note/ci

#3058 ci: Disable PHP build until we fix it
  .github/workflows/bindings_php.yml
Labels: releases-note/ci

#3057 ci(binding/java): Enable release when OPENDAL_RELEASE is on
  .github/workflows/release_java.yml
  bindings/java/pom.xml
  bindings/java/tools/build.py
Labels: releases-note/ci

#3059 ci(binding/java): Use cargo profile instead of --release
  .github/workflows/bindings_c.yml
  .github/workflows/bindings_cpp.yml
  .github/workflows/release_java.yml
  bindings/java/pom.xml
  bindings/java/tools/build.py
Labels: releases-note/ci

#3060 ci: Move platform build checks from java binding to rust core
  .github/workflows/bindings_java.yml
  .github/workflows/ci.yml
  .github/workflows/release_java.yml
  bindings/java/Cargo.toml
  bindings/java/pom.xml
  bindings/java/tools/build.py
Labels: releases-note/ci

#3061 chore: Polish some details of layers implementation
  bindings/java/src/blocking_operator.rs
  bindings/java/src/metadata.rs
  bindings/java/src/operator.rs
  core/src/layers/complete.rs
  core/src/layers/concurrent_limit.rs
  core/src/layers/error_context.rs
  core/src/layers/mod.rs
  core/src/layers/type_eraser.rs
  core/src/raw/adapters/kv/backend.rs
  core/src/raw/oio/page/api.rs
  core/src/types/writer.rs
Labels: releases-note/chore

#3065 docs(services/sftp): update comments about password login
  core/src/services/sftp/docs.md
Labels: releases-note/docs

#3069 feat(bindings/java): support presign ops
  bindings/java/README.md
  bindings/java/src/error.rs
  bindings/java/src/lib.rs
  bindings/java/src/main/java/org/apache/opendal/Operator.java
  bindings/java/src/main/java/org/apache/opendal/PresignedRequest.java
  bindings/java/src/operator.rs
  bindings/java/src/test/java/org/apache/opendal/AsyncStepsTest.java
  bindings/java/src/test/java/org/apache/opendal/OperatorTest.java
  bindings/java/src/test/java/org/apache/opendal/RedisServiceTest.java
  bindings/java/src/test/java/org/apache/opendal/condition/OpenDALExceptionCondition.java
Labels: releases-note/feat

#3071 refactor(services/azblob): instead `parse_batch_delete_response` with `Multipart::parse`
  core/src/services/azblob/backend.rs
  core/src/services/azblob/batch.rs
  core/src/services/azblob/error.rs
  core/src/services/azblob/mod.rs
Labels: releases-note/refactor

#3068 feat(services/azblob): Rewrite the method signatures using OpWrite
  core/src/services/azblob/backend.rs
  core/src/services/azblob/core.rs
  core/src/services/azblob/writer.rs
Labels: releases-note/feat

#3067 chore(bindings/haskell): make cargo build type same with cabal
  .github/workflows/bindings_haskell.yml
  .github/workflows/docs.yml
  bindings/haskell/Setup.hs
Labels: releases-note/chore

#3075 feat(services/obs): Rewrite method signatures using OpWrite
  core/src/services/obs/backend.rs
  core/src/services/obs/core.rs
  core/src/services/obs/writer.rs
Labels: releases-note/feat

#3076 refactor(services/webdav): Refactor `webdav_put` signatures by using `OpWrite`.
  core/src/services/webdav/backend.rs
  core/src/services/webdav/writer.rs
Labels: releases-note/refactor

#3077 refactor(services/azdls): Use OpWrite instead of passing all args as parameters
  core/src/services/azdls/backend.rs
  core/src/services/azdls/core.rs
  core/src/services/azdls/writer.rs
Labels: releases-note/refactor

#3081 refactor(services/webdav): Use OpRead in `webdav_get`.
  core/src/services/webdav/backend.rs
Labels: releases-note/refactor

#3080 refactor(services/oss): Refactor `oss_put_object` signatures by using OpWrite
  core/src/services/oss/backend.rs
  core/src/services/oss/core.rs
  core/src/services/oss/writer.rs
Labels: releases-note/refactor

#3082 ci(bindings/haskell): add release workflow
  .github/workflows/bindings_haskell.yml
  .github/workflows/docs.yml
  bindings/haskell/opendal-hs.cabal
Labels: releases-note/ci

#3083 refactor(services/http): Rewrite `http` methods signature by using OpRead/OpStat
  core/src/services/http/backend.rs
Labels: releases-note/refactor

#3073 feat(services/cos): Rewrite the methods signature using OpStat/OpRead
  core/src/services/cos/backend.rs
  core/src/services/cos/core.rs
  core/src/services/cos/writer.rs
Labels: releases-note/feat

#3087 refactor(services/gcs): Rewrite `gcs` methods signature by using OpXxxx
  core/src/services/gcs/backend.rs
  core/src/services/gcs/core.rs
Labels: releases-note/refactor

#3089 ci: Build rc but don't publish
  .github/workflows/bindings_nodejs.yml
  .github/workflows/publish.yml
Labels: releases-note/ci

#3088 refactor: move all `fixtures` from `core/src/services/{service}` to top-level `fixtures/{service}`
  .github/workflows/service_test_etcd.yml
  .github/workflows/service_test_http.yml
  .github/workflows/service_test_postgresql.yml
  .github/workflows/service_test_redis.yml
  .github/workflows/service_test_s3.yml
  .github/workflows/service_test_tikv.yml
  .github/workflows/service_test_webdav.yml
  fixtures/etcd/ca-key.pem
  fixtures/etcd/ca.pem
  fixtures/etcd/client-key.pem
  fixtures/etcd/client.pem
  fixtures/etcd/etcd1/etcd-key.pem
  fixtures/etcd/etcd1/etcd.pem
  fixtures/etcd/etcd2/etcd-key.pem
  fixtures/etcd/etcd2/etcd.pem
  fixtures/etcd/etcd3/etcd-key.pem
  fixtures/etcd/etcd3/etcd.pem
  fixtures/etcd/server-key.pem
  fixtures/etcd/server.pem
  fixtures/http/nginx.conf
  fixtures/postgresql/docker-compose.yml
  fixtures/postgresql/init.sql
  fixtures/redis/docker-compose-redis-cluster-tls.yml
  fixtures/redis/docker-compose-redis-cluster.yml
  fixtures/redis/docker-compose-redis-tls.yml
  fixtures/redis/docker-compose-redis.yml
  fixtures/redis/ssl/ca.crt
  fixtures/redis/ssl/ca.key
  fixtures/redis/ssl/ca.srl
  fixtures/redis/ssl/redis.crt
  fixtures/redis/ssl/redis.key
  fixtures/redis/ssl/redis.v3.ext
  fixtures/s3/docker-compose-minio.yml
  fixtures/tikv/gen_cert.sh
  fixtures/tikv/pd-tls.toml
  fixtures/tikv/pd.toml
  fixtures/tikv/ssl/ca-key.pem
  fixtures/tikv/ssl/ca.pem
  fixtures/tikv/ssl/client-key.pem
  fixtures/tikv/ssl/client.pem
  fixtures/tikv/ssl/pd-server-key.pem
  fixtures/tikv/ssl/pd-server.pem
  fixtures/tikv/ssl/tikv-server-key.pem
  fixtures/tikv/ssl/tikv-server.pem
  fixtures/tikv/tikv-tls.toml
  fixtures/tikv/tikv.toml
  fixtures/webdav/config/nginx/http.conf
  fixtures/webdav/docker-compose-webdav-with-auth.yml
  fixtures/webdav/docker-compose-webdav-with-empty-passwd.yml
  fixtures/webdav/docker-compose-webdav.yml
Labels: releases-note/refactor

#3086 docs: Add OwO 1st
  website/blog/2023-09-14-owo-1/index.md
Labels: releases-note/docs

#3091 feat(services/onedrive): Rewrite the method signatures using OpWrite
  core/src/services/onedrive/backend.rs
  core/src/services/onedrive/writer.rs
Labels: releases-note/feat

#3072 feat(services/azblob): Rewrite azblob methods signature using OpRead/OpStat
  core/src/services/azblob/backend.rs
  core/src/services/azblob/core.rs
  core/src/services/azblob/writer.rs
Labels: releases-note/feat

#3093 chore(bindings/haskell): add PVP-compliant version bounds
  bindings/haskell/opendal-hs.cabal
Labels: releases-note/chore

#3095 chore(bindings/java): align ErrorKind with exception code
  bindings/java/src/error.rs
  bindings/java/src/main/java/org/apache/opendal/OpenDALException.java
Labels: releases-note/chore

#3094 feat(services/obs): Rewrite methods signature in obs using OpRead/OpStat
  core/src/services/obs/backend.rs
  core/src/services/obs/core.rs
  core/src/services/obs/writer.rs
Labels: releases-note/feat

#3096 docs: Add upgrade note for v0.40
  core/src/docs/upgrade.md
Labels: releases-note/docs

#3098 feat(service/gdrive): add gdrive copy
  core/src/services/gdrive/backend.rs
Labels: releases-note/feat

#3099 feat(services/wasabi): Rewrite the method signatures using OpRead,OpW…
  core/src/services/wasabi/backend.rs
  core/src/services/wasabi/core.rs
  core/src/services/wasabi/writer.rs
Labels: releases-note/feat

#3108 docs: add basic example for cpp binding
  examples/README.md
  examples/cpp/CMakeLists.txt
  examples/cpp/README.md
  examples/cpp/basic.cpp
Labels: releases-note/chore, releases-note/docs

#3101 chore: Bump version to v0.40 to start release process
  .github/workflows/bindings_haskell.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  bindings/cpp/CMakeLists.txt
  bindings/cpp/Cargo.toml
  bindings/dotnet/Cargo.toml
  bindings/haskell/Cargo.toml
  bindings/java/pom.xml
  bindings/nodejs/npm/darwin-arm64/package.json
  bindings/nodejs/npm/darwin-x64/package.json
  bindings/nodejs/npm/linux-x64-gnu/package.json
  bindings/nodejs/npm/win32-x64-msvc/package.json
  bindings/nodejs/package.json
Labels: releases-note/chore

#3112 chore(bindings/haskell): rename library name from opendal-hs to opendal
  .github/workflows/bindings_haskell.yml
  .github/workflows/docs.yml
  bindings/haskell/CONTRIBUTING.md
  bindings/haskell/README.md
  bindings/haskell/opendal.cabal
Labels: releases-note/chore

#3109 refactor(services/webhdfs): Rewrite `webhdfs` methods signature by using `OpXxxx`
  core/src/services/webhdfs/backend.rs
  core/src/services/webhdfs/pager.rs
  core/src/services/webhdfs/writer.rs
Labels: releases-note/refactor

#3115 ci: Don't verify content for dry run
  .github/workflows/bindings_haskell.yml
  .github/workflows/publish.yml
Labels: releases-note/ci

#3116 fix: Metakeys are not propagated with the blocking operators
  core/src/types/list.rs
  core/src/types/operator/blocking_operator.rs
  core/tests/behavior/blocking_list.rs
Labels: releases-note/fix

#3117 docs: Add comments for blocking layer
  bindings/c/include/opendal.h
  bindings/java/src/lib.rs
  bindings/java/src/operator.rs
  core/src/layers/blocking.rs
  core/src/services/atomicserver/backend.rs
  core/src/types/operator/blocking_operator.rs
  core/tests/behavior/blocking_append.rs
Labels: releases-note/docs

#3118 chore: Bump to v0.40.0 round 2
  CHANGELOG.md
Labels: releases-note/chore

#3125 docs(release): describe how to close the Nexus staging repo
  website/docs/contributing/release.md
Labels: releases-note/docs

#3126 refactor(services/dropbox): Use OpWrite instead of passing all args as parameters
  core/src/services/dropbox/core.rs
  core/src/services/dropbox/writer.rs
Labels: releases-note/refactor

#3128 chore(bindings/haskell): add rpath to haskell linker option
  .github/workflows/bindings_haskell.yml
  bindings/haskell/CONTRIBUTING.md
  bindings/haskell/README.md
  bindings/haskell/Setup.hs
Labels: releases-note/chore

#3130 docs: update release docs for cpp and haskell bindings
  website/docs/contributing/release.md
Labels: releases-note/docs

#3132 fix(tests): Create test files one by one instead of concurrently
  core/tests/behavior/list.rs
  core/tests/behavior/utils.rs
Labels: releases-note/fix

#3135 docs: Polish VISION to make it more clear
  website/docs/vision.md
Labels: releases-note/docs

#3136 ci: Align tags with semver specs
  .github/workflows/bindings_haskell.yml
  .github/workflows/bindings_nodejs.yml
  .github/workflows/bindings_python.yml
  .github/workflows/publish.yml
  .github/workflows/release_java.yml
  scripts/release.sh
  website/docs/contributing/release.md
Labels: releases-note/ci

#3137 ci: Migrate obs to databend labs sponsored bucket
  .github/workflows/service_test_obs.yml
Labels: releases-note/ci

#3134 feat: allow using `prometheus-client` crate with PrometheusClientLayer
  Cargo.lock
  core/Cargo.toml
  core/src/layers/mod.rs
  core/src/layers/prometheus_client.rs
Labels: releases-note/feat

#3139 chore(ci): add test for aws s3 assume role
  .github/workflows/service_test_s3.yml
Labels: releases-note/chore

#3140 build(bindings/java): support develop with JDK 21
  .github/workflows/bindings_java.yml
  bindings/java/pom.xml
Labels: releases-note/build

#3141 chore(ci): fix web identity token path for aws s3 assume role test
  .github/workflows/service_test_s3.yml
Labels: releases-note/chore, releases-note/fix

#3142 ci: Migrate GCS to Databend Labs sponsored bucket
  .github/workflows/service_test_gcs.yml
  .github/workflows/service_test_s3.yml
Labels: releases-note/ci

#3145 docs: Add start tracking issues about the next release
  website/docs/contributing/release.md
Labels: releases-note/docs

#3149 docs: Add download link for 0.40.0
  website/src/pages/download.md
Labels: releases-note/docs

#3153 refactor(binding/java): read should return bytes
  bindings/java/src/blocking_operator.rs
  bindings/java/src/main/java/org/apache/opendal/BlockingOperator.java
  bindings/java/src/main/java/org/apache/opendal/Operator.java
  bindings/java/src/operator.rs
  bindings/java/src/test/java/org/apache/opendal/AsyncStepsTest.java
  bindings/java/src/test/java/org/apache/opendal/BlockingOperatorTest.java
  bindings/java/src/test/java/org/apache/opendal/OperatorTest.java
  bindings/java/src/test/java/org/apache/opendal/RedisServiceTest.java
  bindings/java/src/test/java/org/apache/opendal/StepsTest.java
Labels: releases-note/refactor

#3154 feat(binding/java): support info ops
  bindings/java/src/blocking_operator.rs
  bindings/java/src/lib.rs
  bindings/java/src/main/java/org/apache/opendal/BlockingOperator.java
  bindings/java/src/main/java/org/apache/opendal/Capability.java
  bindings/java/src/main/java/org/apache/opendal/Operator.java
  bindings/java/src/main/java/org/apache/opendal/OperatorInfo.java
  bindings/java/src/operator.rs
  bindings/java/src/test/java/org/apache/opendal/OperatorInfoTest.java
Labels: releases-note/feat

#3155 docs(bindings/cpp): add more using details about cmake
  bindings/cpp/CMakeLists.txt
  bindings/cpp/Doxyfile
  bindings/cpp/README.md
Labels: releases-note/docs

#3158 docs(bindings/java): Added an example of adding dependencies using Gradle
  bindings/java/README.md
Labels: releases-note/docs

#3129 feat(binding/java): add behavior test framework for java
  .github/workflows/bindings_java.yml
  .github/workflows/service_test_redis.yml
  .github/workflows/service_test_s3.yml
  bindings/java/README.md
  bindings/java/src/test/java/org/apache/opendal/AsyncStepsTest.java
  bindings/java/src/test/java/org/apache/opendal/BlockingOperatorTest.java
  bindings/java/src/test/java/org/apache/opendal/CucumberTest.java
  bindings/java/src/test/java/org/apache/opendal/OperatorTest.java
  bindings/java/src/test/java/org/apache/opendal/RedisServiceTest.java
  bindings/java/src/test/java/org/apache/opendal/StepsTest.java
  bindings/java/src/test/java/org/apache/opendal/utils/Utils.java
Labels: releases-note/feat

#3163 feat: Include starting offset for GHAC upload Content-Range
  core/src/services/ghac/backend.rs
  core/src/services/ghac/writer.rs
Labels: releases-note/feat

#3164 feat(bindings/cpp): make ReaderStream manage the lifetime of Reader
  bindings/cpp/include/opendal.hpp
  bindings/cpp/tests/basic_test.cpp
Labels: releases-note/feat

#3165 feat: Enable multi write for ghac
  core/src/services/ghac/backend.rs
Labels: releases-note/feat

#3166 refactor(bindings/java)!: operator jni calls
  bindings/java/src/blocking_operator.rs
  bindings/java/src/lib.rs
  bindings/java/src/main/java/org/apache/opendal/BlockingOperator.java
  bindings/java/src/main/java/org/apache/opendal/Operator.java
  bindings/java/src/operator.rs
  bindings/java/src/test/java/org/apache/opendal/test/OperatorInfoTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/AbstractBehaviorTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/ServiceBehaviorTests.java
  bindings/java/src/test/java/org/apache/opendal/test/condition/OpenDALExceptionCondition.java
  bindings/java/upgrade.md
Labels: releases-note/refactor

#3167 build(bindings/java): upgrade maven wrapper version
  .github/workflows/service_test_redis.yml
  .github/workflows/service_test_s3.yml
  bindings/java/.mvn/wrapper/maven-wrapper.properties
Labels: releases-note/build

#3168 build(bindings/java): support explicit cargo build target
  .github/workflows/bindings_java.yml
  bindings/java/.cargo/config
  bindings/java/pom.xml
  bindings/java/tools/build.py
Labels: releases-note/build

#3172 docs: include disclaimer in announcement template
  website/docs/contributing/release.md
Labels: releases-note/docs

#3176 feat(service/postgresql): support connection pool
  Cargo.lock
  core/Cargo.toml
  core/src/services/postgresql/backend.rs
Labels: releases-note/feat

#3180 docs: Add pants as a user
  README.md
Labels: releases-note/docs

#3177 feat(services/ghac): Allow explicitly setting ghac endpoint/token, not just env vars
  core/src/services/ghac/backend.rs
Labels: releases-note/feat

#3186 feat(service/azdls): add append support for azdls
  core/src/services/azdls/backend.rs
  core/src/services/azdls/core.rs
  core/src/services/azdls/writer.rs
Labels: releases-note/feat

#3187 fix(services/s3): Detect region returned too early when header is empty
  core/src/services/s3/backend.rs
Labels: releases-note/fix

#3188 fix: making OpenDAL compilable on 32hf platforms
  core/src/services/cos/backend.rs
  core/src/services/obs/backend.rs
  core/src/services/oss/backend.rs
  core/src/services/s3/backend.rs
Labels: releases-note/fix

#3190 chore: bump quick-xml version to 0.30
  Cargo.lock
  core/Cargo.toml
Labels: releases-note/chore

#3192 ci: Pin Kvrocks docker image to 2.5.1 to avoid test failure
  .github/workflows/service_test_redis.yml
Labels: releases-note/ci

#3193 chore: Let's welcome the contributors from hacktoberfest!
  .asf.yaml
Labels: releases-note/chore

#3195 fix(binding/java): decode Java’s modified UTF-8 format
  bindings/java/src/blocking_operator.rs
  bindings/java/src/lib.rs
  bindings/java/src/operator.rs
  bindings/java/src/test/java/org/apache/opendal/test/behavior/AbstractBehaviorTest.java
Labels: releases-note/fix

#3196 chore(bindings/java): simplify library path resolution
  bindings/java/src/main/java/org/apache/opendal/NativeObject.java
Labels: releases-note/chore

#3198 feat(bindings/python): Enable `BlockingLayer` for non-blocking services that don't support blocking
  bindings/python/src/asyncio.rs
  bindings/python/src/lib.rs
Labels: bindings/python, releases-note/feat

#3200 feat: Add write_can_empty in Capability and related tests
  core/src/raw/adapters/kv/backend.rs
  core/src/raw/adapters/typed_kv/backend.rs
  core/src/raw/oio/write/multipart_upload_write.rs
  core/src/raw/oio/write/range_write.rs
  core/src/services/azblob/backend.rs
  core/src/services/cos/backend.rs
  core/src/services/fs/backend.rs
  core/src/services/gcs/backend.rs
  core/src/services/obs/backend.rs
  core/src/services/oss/backend.rs
  core/src/services/s3/backend.rs
  core/src/services/webdav/backend.rs
  core/src/types/capability.rs
  core/tests/behavior/write.rs
Labels: releases-note/feat

#3204 feat: Add basic support for bindings/go using CGO
  bindings/go/build_dynamic.go
  bindings/go/go.mod
  bindings/go/go.sum
  bindings/go/opendal.go
  bindings/go/opendal_test.go
Labels: releases-note/feat

#3206 docs: Add basic readme for go binding
  bindings/c/.gitignore
  bindings/c/examples/.gitignore
  bindings/go/.gitignore
  bindings/go/README.md
  bindings/go/opendal.go
  bindings/go/opendal_test.go
Labels: releases-note/docs

#3208 ci(bindings/ocaml): add doc
  .github/workflows/docs.yml
Labels: releases-note/ci

#3207 feat(binding/java): add `copy` test
  bindings/java/src/blocking_operator.rs
  bindings/java/src/main/java/org/apache/opendal/BlockingOperator.java
  bindings/java/src/main/java/org/apache/opendal/Operator.java
  bindings/java/src/operator.rs
  bindings/java/src/test/java/org/apache/opendal/test/behavior/AbstractBehaviorTest.java
Labels: releases-note/feat

#3214 docs: add multilingual getting started
  website/docs/contributing/_category_.yml
  website/docs/getting-started.md
  website/docs/overview.md
  website/docs/services/_category_.yml
  website/docs/vision.md
  website/docusaurus.config.js
  website/src/pages/download.md
Labels: releases-note/docs

#3215 docs: multiple improvements
  website/community/committers/_category_.yml
  website/community/committers/committer.md
  website/community/committers/gmail-smtp-setting.jpg
  website/community/committers/podling-report.md
  website/community/committers/reference/_category_.yml
  website/community/committers/reference/generate_release_note.md
  website/community/committers/reference/setup_gpg.md
  website/community/committers/release.md
  website/community/committers/verify.md
  website/community/index.md
  website/community/sidebars.js
  website/docs/overview.md
  website/docs/quickstart.md
  website/docs/services/http.mdx
  website/docs/vision.md
  website/docusaurus.config.js
  website/package.json
  website/src/components/HomepageFeatures/_feature_languages.mdx
  website/src/components/HomepageFeatures/_feature_layers.mdx
  website/src/components/HomepageFeatures/_feature_services.mdx
  website/yarn.lock
Labels: releases-note/docs

#3212 feat(service/sqlite): Support sqlite for opendal
  .github/workflows/service_test_sqlite.yml
  Cargo.lock
  core/Cargo.toml
  core/src/services/mod.rs
  core/src/services/sqlite/backend.rs
  core/src/services/sqlite/docs.md
  core/src/services/sqlite/mod.rs
  core/src/types/scheme.rs
  core/tests/behavior/main.rs
  fixtures/sqlite/data.sql
Labels: releases-note/feat

#3218 feat(services/sqlite): Support blocking_get/set/delete in sqlite service
  core/src/services/sqlite/backend.rs
Labels: releases-note/feat

#3219 refactor(tests): reuse function to remove duplicate code
  core/tests/behavior/utils.rs
Labels: releases-note/refactor
