Repository apache/opendal, pull requests merged in 2023-10, with the labels that each got.

#3229 chore: Make clippy happy
  bin/oli/src/config/mod.rs
  bin/oli/tests/cat.rs
  bin/oli/tests/cp.rs
  bin/oli/tests/rm.rs
  bin/oli/tests/stat.rs
  core/src/layers/retry.rs
  core/src/raw/oio/read/into_seekable_read_by_range.rs
  core/src/types/list.rs
Labels: releases-note/chore

#3239 docs: Add verify script
  scripts/README.md
  scripts/verify.py
  website/community/committers/release.md
Labels: releases-note/docs

#3241 chore: Bump to v0.41.0 to start release process
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  bindings/cpp/CMakeLists.txt
  bindings/java/pom.xml
  bindings/nodejs/npm/darwin-arm64/package.json
  bindings/nodejs/npm/darwin-x64/package.json
  bindings/nodejs/npm/linux-x64-gnu/package.json
  bindings/nodejs/npm/win32-x64-msvc/package.json
  bindings/nodejs/package.json
  core/src/docs/upgrade.md
  scripts/verify.py
  website/community/committers/release.md
Labels: releases-note/chore

#3238 feat(binding/java): add `rename` support
  bindings/java/src/blocking_operator.rs
  bindings/java/src/main/java/org/apache/opendal/BlockingOperator.java
  bindings/java/src/main/java/org/apache/opendal/Operator.java
  bindings/java/src/operator.rs
  bindings/java/src/test/java/org/apache/opendal/test/behavior/AbstractBehaviorTest.java
Labels: releases-note/feat

#3246 feat(prometheus): add bytes metrics as counter
  core/src/layers/prometheus_client.rs
Labels: releases-note/feat

#3245 feat(binding/python): new behavior testing for python
  .github/workflows/service_test_memory.yml
  .github/workflows/service_test_s3.yml
  bindings/python/pyproject.toml
  bindings/python/tests/conftest.py
  bindings/python/tests/test_services.py
Labels: releases-note/feat

#3249 refactor(services/sqlite): Polish sqlite via adding connection pool
  .env.example
  Cargo.lock
  core/Cargo.toml
  core/src/raw/mod.rs
  core/src/raw/tokio_util.rs
  core/src/services/sqlite/backend.rs
  core/tests/behavior/main.rs
Labels: releases-note/refactor

#3252 chore(ci): publish to pypi with github OIDC credential
  .github/workflows/bindings_python.yml
Labels: releases-note/chore

#3253 refactor: Remove cucumber based test in python
  .github/workflows/bindings_python.yml
  bindings/python/CONTRIBUTING.md
  bindings/python/README.md
  bindings/python/pyproject.toml
  bindings/python/tests/binding.feature
  bindings/python/tests/steps/binding.py
Labels: releases-note/refactor

#3254 feat(binding/python): Support AsyncOperator tests.
  bindings/python/pyproject.toml
  bindings/python/tests/conftest.py
  bindings/python/tests/test_services.py
Labels: releases-note/feat

#3233 feat(service/libsql): support libsql
  .env.example
  .github/workflows/service_test_libsql.yml
  Cargo.lock
  core/Cargo.toml
  core/src/services/libsql/backend.rs
  core/src/services/libsql/docs.md
  core/src/services/libsql/error.rs
  core/src/services/libsql/mod.rs
  core/src/services/mod.rs
  core/src/types/scheme.rs
  core/tests/behavior/main.rs
  fixtures/libsql/docker-compose-auth.yml
  fixtures/libsql/docker-compose.yml
Labels: releases-note/feat

#3256 feat(binding/python): allow setting append/buffer/more in write() call
  bindings/python/python/opendal/__init__.pyi
  bindings/python/src/asyncio.rs
  bindings/python/src/lib.rs
Labels: releases-note/feat

#3260 ci: Add bindings_go workflow
  .github/workflows/bindings_go.yml
Labels: releases-note/ci

#3221 feat(services/persy): change blocking_x in async_x call to tokio::task::blocking_spawn
  core/src/services/persy/backend.rs
Labels: releases-note/feat

#3258 refactor: Introduce OpenDAL Workflow Planner
  .github/actions/setup/action.yaml
  .github/actions/test-core/action.yaml
  .github/services/fs/local-fs/action.yml
  .github/services/s3/aws-s3/action.yml
  .github/workflows/core_test.yml
  .github/workflows/service_test_fs.yml
  .github/workflows/service_test_s3.yml
  .github/workflows/test_planner.yml
  scripts/workflow_planner.py
Labels: releases-note/refactor

#3268 ci: Only fetch origin while in pull request
  .github/workflows/test_planner.yml
Labels: releases-note/ci

#3079 ci: add a new test case for the disk is full
  .github/workflows/fs_write_full_disk.yml
  core/tests/behavior/file_write_full_disk.rs
  core/tests/behavior/main.rs
Labels: releases-note/ci

#3272 ci: Passing GITHUB_TOKEN to avoid rate limit
  .github/actions/setup/action.yaml
  .github/workflows/core_test.yml
Labels: releases-note/ci

#3248 feat(service/d1): Support d1 for opendal
  .env.example
  core/Cargo.toml
  core/src/services/d1/backend.rs
  core/src/services/d1/docs.md
  core/src/services/d1/error.rs
  core/src/services/d1/mod.rs
  core/src/services/d1/model.rs
  core/src/services/mod.rs
  core/src/types/scheme.rs
  core/tests/behavior/main.rs
Labels: releases-note/feat

#3250 refactor(bindings/C): Implement error with error message
  .github/workflows/bindings_c.yml
  bindings/c/.gitignore
  bindings/c/Makefile
  bindings/c/README.md
  bindings/c/examples/.gitignore
  bindings/c/examples/basic.c
  bindings/c/examples/error_handle.c
  bindings/c/include/opendal.h
  bindings/c/src/error.rs
  bindings/c/src/lib.rs
  bindings/c/src/result.rs
  bindings/c/src/types.rs
  bindings/c/tests/bdd.cpp
  bindings/c/tests/error_msg.cpp
  bindings/c/tests/list.cpp
  bindings/go/opendal.go
  bindings/go/opendal_test.go
  bindings/swift/.swift-format
  bindings/swift/OpenDAL/Package.swift
  bindings/swift/OpenDAL/Sources/OpenDAL/Data+OpenDAL.swift
  bindings/swift/OpenDAL/Sources/OpenDAL/Operator.swift
  bindings/swift/OpenDAL/Tests/OpenDALTests/OpenDALTests.swift
  bindings/zig/README.md
  bindings/zig/src/opendal.zig
  bindings/zig/test/bdd.zig
Labels: releases-note/refactor

#3276 feat(services/redb): change blocking_x in async_x call to tokio::task::blocking_spawn
  core/src/services/redb/backend.rs
Labels: releases-note/feat

#3259 feat(binding/c): Add blocking_reader for C binding
  bindings/c/include/opendal.h
  bindings/c/src/lib.rs
  bindings/c/src/result.rs
  bindings/c/src/types.rs
  bindings/c/tests/bdd.cpp
Labels: releases-note/feat

#3280 feat(services/sled): change blocking_x in async_x call to tokio::task::blocking_spawn
  core/src/services/sled/backend.rs
Labels: releases-note/feat

#3279 feat(services/rocksdb): change blocking_x in async_x call to tokio::task::blocking_spawn
  core/src/services/rocksdb/backend.rs
Labels: releases-note/feat

#3277 feat(binding/java): make `Metadata` a POJO
  bindings/java/src/blocking_operator.rs
  bindings/java/src/lib.rs
  bindings/java/src/main/java/org/apache/opendal/BlockingOperator.java
  bindings/java/src/main/java/org/apache/opendal/Metadata.java
  bindings/java/src/main/java/org/apache/opendal/Operator.java
  bindings/java/src/metadata.rs
  bindings/java/src/operator.rs
  bindings/java/src/test/java/org/apache/opendal/test/MetadataTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/AbstractBehaviorTest.java
Labels: releases-note/feat

#3285 refactor(oay): import dav-server-opendalfs
  Cargo.lock
  bin/oay/Cargo.toml
  bin/oay/src/services/webdav/mod.rs
  bin/oay/src/services/webdav/service.rs
  bin/oay/src/services/webdav/webdav_dir_entry.rs
  bin/oay/src/services/webdav/webdav_file.rs
  bin/oay/src/services/webdav/webdav_metadata.rs
  bin/oay/src/services/webdav/webdavfs.rs
Labels: releases-note/refactor

#3286 feat(bindings/java): convey backtrace on exception
  bindings/java/src/error.rs
Labels: releases-note/feat

#3275 feat(layer/prometheus): Support custom metric bucket for Histogram
  core/src/layers/prometheus.rs
Labels: releases-note/feat

#3288 refactor(bindings/java): explict error handling
  bindings/java/src/error.rs
  bindings/java/src/lib.rs
Labels: releases-note/refactor

#3289 chore(bindings/java): align mapping POJO pattern
  bindings/java/src/main/java/org/apache/opendal/Capability.java
  bindings/java/src/main/java/org/apache/opendal/OperatorInfo.java
Labels: releases-note/chore

#3290 docs: Add docs in website for sqlite/mysql/postgresql services
  core/src/services/sqlite/docs.md
  website/docs/services/mysql.mdx
  website/docs/services/postgresql.mdx
  website/docs/services/sqlite.mdx
Labels: releases-note/docs

#3293 docs: add docs in website for atomicserver
  website/docs/services/atomicserver.mdx
Labels: releases-note/docs

#3296 docs: Add docs on website for GHAC service
  core/src/services/ghac/backend.rs
  core/src/services/ghac/docs.md
  website/docs/services/ghac.mdx
Labels: releases-note/docs

#3294 docs: Add docs on website for cacache services
  website/docs/services/cacache.mdx
Labels: releases-note/docs

#3299 docs: Add docs on website for libsql services
  website/docs/services/libsql.mdx
Labels: releases-note/docs

#3298 docs: download link for v0.41.0
  website/src/pages/download.md
Labels: releases-note/docs

#3234 refactor(services/gdrive): Extract folder search logic
  core/src/services/gdrive/backend.rs
  core/src/services/gdrive/core.rs
Labels: releases-note/refactor

#3300 docs: Add docs on website for persy service
  website/docs/services/persy.mdx
Labels: releases-note/docs

#3295 docs: Add docs on website for d1 services
  core/src/services/d1/docs.md
  website/docs/services/d1.mdx
Labels: releases-note/docs

#3301 docs: Add docs on website for redb service
  website/docs/services/redb.mdx
Labels: releases-note/docs

#3308 ci(services/hdfs): Use dlcdn.apache.org instead
  .github/workflows/service_test_hdfs.yml
Labels: releases-note/ci

#3306 docs: update release doc
  scripts/release.sh
  website/community/committers/release.md
Labels: releases-note/docs

#3310 feat(bindings/python): read APIs return `memoryview` instead of `bytes` to avoid copy
  .github/workflows/bindings_python.yml
  bindings/python/Cargo.toml
  bindings/python/python/opendal/__init__.pyi
  bindings/python/src/asyncio.rs
  bindings/python/src/lib.rs
Labels: bindings/python, releases-note/feat

#3316 refactor(!): Bump and update MSRV to 1.67
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  bin/oay/Cargo.toml
  core/Cargo.toml
  core/src/docs/upgrade.md
  integrations/dav-server/Cargo.toml
Labels: releases-note/chore, releases-note/refactor

#3321 feat(services/oss): Add allow anonymous support
  .github/workflows/service_test_s3.yml
  core/src/docs/upgrade.md
  core/src/services/oss/backend.rs
  core/src/services/oss/core.rs
  core/src/services/s3/backend.rs
  core/src/services/s3/core.rs
Labels: releases-note/feat

#3322 refactor(tests): Apply OPENDAL_TEST for behavior test
  .env.example
  .github/actions/test-core/action.yaml
  .github/services/fs/local-fs/action.yml
  .github/services/s3/aws-s3/action.yml
  .github/workflows/service_test_atomicserver.yml
  .github/workflows/service_test_azblob.yml
  .github/workflows/service_test_azdls.yml
  .github/workflows/service_test_cacache.yml
  .github/workflows/service_test_cos.yml
  .github/workflows/service_test_dashmap.yml
  .github/workflows/service_test_dropbox.yml
  .github/workflows/service_test_etcd.yml
  .github/workflows/service_test_foundationdb.yml
  .github/workflows/service_test_ftp.yml
  .github/workflows/service_test_gcs.yml
  .github/workflows/service_test_gdrive.yml
  .github/workflows/service_test_ghac.yml
  .github/workflows/service_test_hdfs.yml
  .github/workflows/service_test_http.yml
  .github/workflows/service_test_ipfs.yml
  .github/workflows/service_test_ipmfs.yml
  .github/workflows/service_test_libsql.yml
  .github/workflows/service_test_memcached.yml
  .github/workflows/service_test_memory.yml
  .github/workflows/service_test_mini_moka.yml
  .github/workflows/service_test_moka.yml
  .github/workflows/service_test_mysql.yml
  .github/workflows/service_test_obs.yml
  .github/workflows/service_test_oss.yml
  .github/workflows/service_test_persy.yml
  .github/workflows/service_test_postgresql.yml
  .github/workflows/service_test_redb.yml
  .github/workflows/service_test_redis.yml
  .github/workflows/service_test_rocksdb.yml
  .github/workflows/service_test_s3.yml
  .github/workflows/service_test_sftp.yml
  .github/workflows/service_test_sled.yml
  .github/workflows/service_test_sqlite.yml
  .github/workflows/service_test_supabase.yml
  .github/workflows/service_test_tikv.yml
  .github/workflows/service_test_wasabi.yml
  .github/workflows/service_test_webdav.yml
  .github/workflows/service_test_webhdfs.yml
  core/src/services/azdls/writer.rs
  core/src/types/operator/builder.rs
  core/src/types/scheme.rs
  core/tests/behavior/README.md
  core/tests/behavior/main.rs
  core/tests/behavior/utils.rs
Labels: releases-note/refactor

#3327 ci: Fix plan not generated correctly for PR from forked repo
  .github/workflows/test_planner.yml
  scripts/workflow_planner.py
Labels: releases-note/ci

#3325 feat(bindings/python): build and publish aarch64 and armv7l wheels
  .github/workflows/bindings_python.yml
  Cargo.lock
  core/Cargo.toml
Labels: releases-note/feat

#3328 refactor(bindings/java): align test idiom with OPENDAL_TEST
  .github/workflows/service_test_redis.yml
  .github/workflows/service_test_s3.yml
  bindings/java/README.md
  bindings/java/src/test/java/org/apache/opendal/test/behavior/AbstractBehaviorTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/FsBehaviorTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/MemoryBehaviorTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/ServiceBehaviorTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/ServiceBehaviorTests.java
Labels: releases-note/refactor

#3330 feat(bindings/java): support duplicate operator
  bindings/java/src/blocking_operator.rs
  bindings/java/src/main/java/org/apache/opendal/BlockingOperator.java
  bindings/java/src/main/java/org/apache/opendal/Operator.java
  bindings/java/src/operator.rs
  bindings/java/src/test/java/org/apache/opendal/test/OperatorDuplicateTest.java
Labels: releases-note/feat

#3331 feat(core): Add enabled for Scheme
  core/src/types/scheme.rs
Labels: releases-note/feat

#3332 refactor(bindings/java): split behavior tests
  .github/workflows/bindings_java.yml
  .github/workflows/service_test_redis.yml
  .github/workflows/service_test_s3.yml
  bindings/java/src/test/java/org/apache/opendal/test/MetadataTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/AbstractBehaviorTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/AsyncAppendTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/AsyncCopyTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/AsyncCreateDirTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/AsyncRenameTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/AsyncWriteTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/BehaviorExtension.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/BehaviorTestBase.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/BlockingCopyTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/BlockingCreateDirTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/BlockingRenameTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/BlockingWriteTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/FsBehaviorTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/MemoryBehaviorTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/ServiceBehaviorTest.java
Labels: releases-note/refactor

#3336 feat(bindings/java): support get enabled services
  bindings/java/src/lib.rs
  bindings/java/src/main/java/org/apache/opendal/NativeLibrary.java
  bindings/java/src/main/java/org/apache/opendal/NativeObject.java
  bindings/java/src/main/java/org/apache/opendal/OpenDAL.java
  bindings/java/src/test/java/org/apache/opendal/test/UtilityTest.java
  bindings/java/src/utility.rs
Labels: releases-note/feat

#3338 refactor(ci/behavior_test): Migrate to 1password instead
  .github/actions/behavior_test_core/action.yaml
  .github/scripts/behavior_test/__init__.py
  .github/scripts/behavior_test/plan.py
  .github/scripts/behavior_test/test_plan.py
  .github/services/fs/local_fs/action.yml
  .github/services/s3/aws_s3/action.yml
  .github/services/s3/aws_s3_with_sse_c/action.yml
  .github/services/s3/aws_s3_with_virtual_host/action.yml
  .github/services/s3/minio_s3/action.yml
  .github/services/s3/minio_s3_with_anonymous/action.yml
  .github/services/s3/r2/action.yml
  .github/workflows/behavior_test.yml
  .github/workflows/behavior_test_core.yml
  .github/workflows/service_test_s3.yml
  .gitignore
Labels: releases-note/refactor

#3339 chore: do not export unreleased bindings
  .gitattributes
Labels: releases-note/chore

#3340 docs(bindings): bindings README and binding release status
  bindings/README.md
  bindings/c/README.md
  bindings/cpp/README.md
  bindings/dotnet/README.md
  bindings/go/README.md
  bindings/haskell/README.md
  bindings/java/README.md
  bindings/lua/README.md
  bindings/nodejs/README.md
  bindings/ocaml/README.md
  bindings/php/README.md
  bindings/python/README.md
  bindings/ruby/README.md
  bindings/swift/README.md
  bindings/zig/README.md
Labels: releases-note/docs

#3342 docs(bindings/java): update how to run behavior test
  bindings/java/README.md
Labels: releases-note/docs

#3343 refactor(core/{fuzz,benches}): Migrate to OPENDANL_TEST
  .github/scripts/behavior_test/plan.py
  core/benches/README.md
  core/benches/ops/read.rs
  core/benches/ops/utils.rs
  core/benches/ops/write.rs
  core/fuzz/README.md
  core/fuzz/fuzz_reader.rs
  core/fuzz/fuzz_writer.rs
  core/fuzz/utils.rs
Labels: releases-note/refactor

#3345 chore: update object_store unit tests and s3 endpoint docs
  core/src/services/s3/backend.rs
  integrations/object_store/src/lib.rs
Labels: releases-note/chore

#3335 feat(layer/prometheus): Support output path as a metric label
  core/src/layers/prometheus.rs
Labels: releases-note/feat

#3282 refactor(bindings/C): Alter naming convention for consistency
  bindings/c/Makefile
  bindings/c/README.md
  bindings/c/examples/basic.c
  bindings/c/examples/error_handle.c
  bindings/c/include/opendal.h
  bindings/c/src/entry.rs
  bindings/c/src/error.rs
  bindings/c/src/lib.rs
  bindings/c/src/lister.rs
  bindings/c/src/metadata.rs
  bindings/c/src/operator.rs
  bindings/c/src/reader.rs
  bindings/c/src/result.rs
  bindings/c/src/types.rs
  bindings/c/tests/bdd.cpp
  bindings/c/tests/error_msg.cpp
  bindings/c/tests/list.cpp
  bindings/c/upgrade.md
  bindings/go/opendal.go
  bindings/swift/OpenDAL/Sources/OpenDAL/Operator.swift
  bindings/zig/test/bdd.zig
Labels: releases-note/refactor

#3353 docs: fix something in docs
  core/src/docs/internals/accessor.rs
  core/src/services/tikv/backend.rs
Labels: releases-note/docs

#3357 refactor(service/mysql): Migrate to new task planner
  .github/services/mysql/mysql/action.yml
  .github/workflows/service_test_mysql.yml
  bindings/java/Cargo.toml
Labels: releases-note/refactor

#3355 feat(service/mongodb): Support mongodb service
  .github/services/mongodb/mongodb_with_basic_auth/action.yml
  .github/services/mongodb/mongodb_with_no_auth/action.yml
  Cargo.lock
  bindings/java/Cargo.toml
  core/Cargo.toml
  core/src/services/mod.rs
  core/src/services/mongodb/backend.rs
  core/src/services/mongodb/docs.md
  core/src/services/mongodb/mod.rs
  core/src/types/operator/builder.rs
  core/src/types/scheme.rs
  fixtures/mongodb/docker-compose-basic-auth.yml
  fixtures/mongodb/docker-compose-no-auth.yml
  website/docs/services/mongodb.mdx
Labels: releases-note/feat

#3358 refactor(service/postgresql): Migrate task to new task planner
  .github/services/postgresql/postgresql/action.yml
  .github/workflows/service_test_postgresql.yml
Labels: releases-note/refactor

#3352 feat: Make PrometheusClientLayer Clonable
  core/src/layers/prometheus_client.rs
Labels: releases-note/feat, releases-note/fix

#3360 refactor(services/etcd): Migrate etcd task to new behavior test planner
  .github/services/etcd/etcd-cluster-tls/action.yml
  .github/services/etcd/etcd-cluster/action.yml
  .github/services/etcd/etcd/action.yml
  .github/workflows/service_test_etcd.yml
  fixtures/etcd/docker-compose-cluster-tls.yml
  fixtures/etcd/docker-compose-cluster.yml
  fixtures/etcd/docker-compose-stanlone.yml
Labels: releases-note/refactor

#3348 feat(service/cloudflare_kv): support cloudflare KV
  core/Cargo.toml
  core/src/services/cloudflare_kv/backend.rs
  core/src/services/cloudflare_kv/docs.md
  core/src/services/cloudflare_kv/error.rs
  core/src/services/cloudflare_kv/mod.rs
  core/src/services/mod.rs
  core/src/types/scheme.rs
Labels: releases-note/feat

#3365 refactor(services/sqlite): Migrate sqlite task to new behavior test planner
  .github/services/sqlite/sqlite/action.yml
  .github/workflows/service_test_sqlite.yml
  bindings/java/Cargo.toml
Labels: releases-note/refactor

#3371 refactor(services/cos,obs): migrate to test planner
  .github/services/cos/cos/action.yml
  .github/services/obs/obs/action.yml
  .github/workflows/service_test_cos.yml
  .github/workflows/service_test_obs.yml
Labels: releases-note/refactor

#3373 feat(core): exposing `Metadata::metakey()` api
  core/src/layers/complete.rs
  core/src/types/list.rs
  core/src/types/metadata.rs
Labels: releases-note/feat

#3333 feat(binding/java): add list & remove_all support
  .github/workflows/bindings_java.yml
  bindings/java/src/blocking_operator.rs
  bindings/java/src/lib.rs
  bindings/java/src/main/java/org/apache/opendal/BlockingOperator.java
  bindings/java/src/main/java/org/apache/opendal/Entry.java
  bindings/java/src/main/java/org/apache/opendal/Metadata.java
  bindings/java/src/main/java/org/apache/opendal/Operator.java
  bindings/java/src/operator.rs
  bindings/java/src/test/java/org/apache/opendal/test/behavior/AsyncListTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/BlockingCopyTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/BlockingListTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/BlockingRenameTest.java
Labels: releases-note/feat

#3384 fix(services/cos): fix prefix param
  core/src/services/cos/core.rs
Labels: releases-note/fix

#3375 refactor(services/oss): migrate to test planner
  .github/services/oss/oss/action.yml
  .github/workflows/service_test_oss.yml
Labels: releases-note/refactor

#3309 feat: Add write_total_max_size in Capability
  core/Cargo.toml
  core/src/services/d1/backend.rs
  core/src/types/capability.rs
  core/src/types/operator/builder.rs
  core/tests/behavior/append.rs
  core/tests/behavior/blocking_append.rs
  core/tests/behavior/blocking_copy.rs
  core/tests/behavior/blocking_list.rs
  core/tests/behavior/blocking_rename.rs
  core/tests/behavior/blocking_write.rs
  core/tests/behavior/copy.rs
  core/tests/behavior/list.rs
  core/tests/behavior/presign.rs
  core/tests/behavior/rename.rs
  core/tests/behavior/utils.rs
  core/tests/behavior/write.rs
Labels: releases-note/feat

#3377 refactor(services/memcached): migrate to test planner
  .github/services/memcached/memcached/action.yml
  .github/workflows/service_test_memcached.yml
  fixtures/memcached/docker-compose-memcached.yml
Labels: releases-note/refactor

#3334 feat(core): service add DBFS API 2.0 support
  core/Cargo.toml
  core/src/raw/http_util/client.rs
  core/src/services/dbfs/backend.rs
  core/src/services/dbfs/core.rs
  core/src/services/dbfs/docs.md
  core/src/services/dbfs/error.rs
  core/src/services/dbfs/mod.rs
  core/src/services/dbfs/pager.rs
  core/src/services/dbfs/reader.rs
  core/src/services/dbfs/writer.rs
  core/src/services/mod.rs
  core/src/types/scheme.rs
Labels: releases-note/feat

#3388 docs: Update mysql `connection_string` config description in doc
  core/src/services/mysql/docs.md
Labels: releases-note/docs

#3389 chore(bindings/java): move out convert fns
  bindings/java/src/blocking_operator.rs
  bindings/java/src/convert.rs
  bindings/java/src/lib.rs
  bindings/java/src/operator.rs
  bindings/java/src/utility.rs
Labels: releases-note/chore

#3391 refactor(services/gcs): migrate tot test planner
  .github/services/gcs/gcs/action.yml
  .github/services/gcs/gcs_with_default_storage_class/action.yml
  .github/workflows/service_test_gcs.yml
Labels: releases-note/refactor

#3394 refactor(services/moka): migrate to test planner
  .github/services/moka/moka/action.yml
  .github/workflows/service_test_moka.yml
Labels: releases-note/refactor

#3390 refactor(services/memory): migrate to test planner
  .github/services/memory/memory/action.yml
  .github/workflows/service_test_memory.yml
Labels: releases-note/refactor

#3401 doc: apply `range_reader` change in upgrade doc
  core/src/docs/upgrade.md
Labels: releases-note/docs

#3405 refactor(services/azdls): migrate to test planner
  .github/services/azdls/azdls/action.yml
  .github/workflows/service_test_azdls.yml
Labels: releases-note/refactor

#3408 feat(bindings/java): use random root for behavior tests
  bindings/java/src/test/java/org/apache/opendal/test/behavior/BehaviorExtension.java
Labels: releases-note/feat

#3410 feat(services/oss): Add start-after support for oss list
  core/src/services/oss/backend.rs
  core/src/services/oss/core.rs
  core/src/services/oss/pager.rs
Labels: releases-note/feat

#3409 ci(services/azfile): add azfile integration test
  .github/services/azfile/azfile/action.yml
  bindings/java/Cargo.toml
  core/src/services/azfile/backend.rs
  core/src/services/azfile/core.rs
  core/src/types/operator/builder.rs
  core/src/types/scheme.rs
Labels: releases-note/ci

#3414 chore: remove unused dependencies
  Cargo.lock
  core/Cargo.toml
Labels: releases-note/chore

#3416 refactor(services/mini_moka): migrate to test planner
  .github/services/mini_moka/mini_moka/action.yml
  .github/workflows/service_test_mini_moka.yml
Labels: releases-note/refactor

#3418 refactor(core/fuzz): Fix some bugs inside fuzzer
  Cargo.lock
  core/fuzz/Cargo.toml
  core/fuzz/fuzz_reader.rs
  core/fuzz/utils.rs
Labels: releases-note/refactor

#3419 chore(test): Compare with digest instead of whole content
  .github/workflows/ci.yml
  core/tests/behavior/blocking_copy.rs
  core/tests/behavior/blocking_rename.rs
  core/tests/behavior/copy.rs
  core/tests/behavior/rename.rs
Labels: releases-note/chore

#3420 refactor(tests): Extract tests related logic into raw::tests for reuse
  Cargo.lock
  core/Cargo.toml
  core/benches/ops/read.rs
  core/benches/ops/utils.rs
  core/benches/ops/write.rs
  core/fuzz/Cargo.toml
  core/fuzz/fuzz_reader.rs
  core/fuzz/fuzz_writer.rs
  core/fuzz/utils.rs
  core/src/raw/mod.rs
  core/src/raw/tests/mod.rs
  core/src/raw/tests/read.rs
  core/src/raw/tests/utils.rs
  core/src/raw/tests/write.rs
  core/tests/behavior/fuzz.rs
  core/tests/behavior/main.rs
  core/tests/behavior/utils.rs
Labels: releases-note/refactor

#3422 ci: Fix behavior tests been ignored
  .github/actions/behavior_test_core/action.yaml
  .github/workflows/service_test_atomicserver.yml
  .github/workflows/service_test_cacache.yml
  .github/workflows/service_test_dropbox.yml
  .github/workflows/service_test_foundationdb.yml
  .github/workflows/service_test_ftp.yml
  .github/workflows/service_test_ghac.yml
  .github/workflows/service_test_hdfs.yml
  .github/workflows/service_test_ipfs.yml
  .github/workflows/service_test_ipmfs.yml
  .github/workflows/service_test_libsql.yml
  .github/workflows/service_test_persy.yml
  .github/workflows/service_test_redb.yml
  .github/workflows/service_test_redis.yml
  .github/workflows/service_test_rocksdb.yml
  .github/workflows/service_test_s3.yml
  .github/workflows/service_test_sftp.yml
  .github/workflows/service_test_sled.yml
  .github/workflows/service_test_supabase.yml
  .github/workflows/service_test_tikv.yml
  .github/workflows/service_test_wasabi.yml
  .github/workflows/service_test_webdav.yml
  .github/workflows/service_test_webhdfs.yml
  core/tests/behavior/README.md
Labels: releases-note/ci

#3402 feat(binding/python): Export full_capability API for Python binding
  bindings/python/Cargo.toml
  bindings/python/python/opendal/__init__.pyi
  bindings/python/src/asyncio.rs
  bindings/python/src/capability.rs
  bindings/python/src/lib.rs
  bindings/python/tests/test_services.py
  core/src/types/capability.rs
Labels: releases-note/feat

#3423 fix(services/ghac)!: Remove enable_create_simulation support for ghac
  .github/workflows/service_test_ghac.yml
  core/src/docs/upgrade.md
  core/src/services/ghac/backend.rs
  core/src/types/metadata.rs
Labels: releases-note/fix

#3381 refactor(service/dropbox): migrate to test planner
  .github/services/dropbox/dropbox/action.yml
  .github/workflows/service_test_dropbox.yml
Labels: releases-note/refactor

#3425 chore: remove useless workflow file
  .github/workflows/service_test_dropbox.yml
Labels: releases-note/chore

#3406 refactor(services/supabase): migrate to test planner
  .github/services/supabase/supabase/action.yml
  .github/workflows/service_test_supabase.yml
Labels: releases-note/refactor

#3431 fix: ASF event URL
  website/docusaurus.config.js
Labels: releases-note/fix

#3432 ci(bindings/python): Remove not passing test cases until we addressed
  .github/scripts/behavior_test/plan.py
  bindings/python/tests/test_write.py
Labels: releases-note/ci

#3436 chore(test): Fix sftp test failed in python
  .github/scripts/behavior_test/plan.py
  .github/services/azblob/azurite_azblob/action.yml
  .github/services/etcd/etcd-cluster/action.yml
  .github/services/etcd/etcd-tls/action.yml
  .github/services/etcd/etcd/action.yml
  .github/services/http/caddy/action.yml
  .github/services/http/nginx/action.yml
  .github/services/memcached/memcached/action.yml
  .github/services/mongodb/mongodb_with_basic_auth/action.yml
  .github/services/mongodb/mongodb_with_no_auth/action.yml
  .github/services/mysql/mysql/action.yml
  .github/services/postgresql/postgresql/action.yml
  .github/services/redis/dragonfly/action.yml
  .github/services/redis/kvrocks/action.yml
  .github/services/redis/redis/action.yml
  .github/services/redis/redis_with_cluster/action.yml
  .github/services/s3/minio_s3/action.yml
  .github/services/s3/minio_s3_with_anonymous/action.yml
  .github/services/sftp/sftp/action.yml
  .github/services/sftp/sftp_with_default_root/action.yml
  fixtures/sftp/docker-compose-sftp-with-default-root.yml
  fixtures/sftp/docker-compose-sftp.yml
  fixtures/sftp/health-check.sh
Labels: releases-note/chore

#3433 fix(binding/java): fix return value of presign-related method
  bindings/java/pom.xml
  bindings/java/src/main/java/org/apache/opendal/Operator.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/AsyncPresignTest.java
Labels: releases-note/fix
