Repository apache/opendal, pull requests merged in 2023-08, with the labels that each got.

#2749 fix(docs): KEYS broken link
  website/docs/contributing/verify.md
Labels: releases-note/fix

#2750 chore: do not export example directory
  .gitattributes
Labels: releases-note/chore

#2752 docs: create README.md for oli
  bin/oli/README.md
Labels: releases-note/docs

#2755 feat(service/etcd): support list
  core/src/services/etcd/backend.rs
Labels: releases-note/feat

#2726 feat: setup the integrate with PHP binding
  bindings/php/.cargo/config.toml
  bindings/php/.gitignore
  bindings/php/Cargo.toml
  bindings/php/README.md
  bindings/php/composer.json
  bindings/php/opendal-php.stubs.php
  bindings/php/phpunit.xml
  bindings/php/src/lib.rs
  bindings/php/tests/Unit/BasicTest.php
Labels: releases-note/feat

#2766 fix: scheme from_str missing redb and tikv
  core/src/types/scheme.rs
Labels: releases-note/fix

#2767 feat(obs): support loading credential from env
  Cargo.lock
  core/Cargo.toml
  core/src/services/obs/backend.rs
Labels: releases-note/feat

#2765 feat: add async backtrace layer
  Cargo.lock
  core/Cargo.toml
  core/src/layers/async_backtrace.rs
  core/src/layers/mod.rs
Labels: releases-note/feat

#2776 chore: Fix build after merging of ocaml
  Cargo.lock
Labels: releases-note/chore

#2772 fix(ci): pin zig version to 0.11.0
  .github/workflows/bindings_zig.yml
Labels: releases-note/fix

#2705 feat(bindings/haskell): support logging layer
  .github/workflows/bindings_haskell.yml
  .github/workflows/docs.yml
  Cargo.lock
  bindings/haskell/Cargo.toml
  bindings/haskell/README.md
  bindings/haskell/haskell-src/OpenDAL.hs
  bindings/haskell/haskell-src/OpenDAL/FFI.hs
  bindings/haskell/opendal-hs.cabal
  bindings/haskell/src/lib.rs
  bindings/haskell/src/logger.rs
  bindings/haskell/test/BasicTest.hs
  bindings/haskell/test/Spec.hs
Labels: releases-note/feat

#2751 feat: Add FoundationDB Support for OpenDAL
  .env.example
  .github/actions/setup/action.yaml
  .github/workflows/service_test_foundationdb.yml
  Cargo.lock
  core/Cargo.toml
  core/src/services/foundationdb/backend.rs
  core/src/services/foundationdb/docs.md
  core/src/services/foundationdb/mod.rs
  core/src/services/mod.rs
  core/src/types/operator/builder.rs
  core/src/types/scheme.rs
  core/tests/behavior/main.rs
Labels: releases-note/feat

#2777 docs: polish fuzz README
  .github/workflows/fuzz_test.yml
  core/fuzz/README.md
Labels: releases-note/docs

#2778 refactor(bindings/haskell): unify ffi of creating operator
  bindings/haskell/haskell-src/OpenDAL.hs
  bindings/haskell/haskell-src/OpenDAL/FFI.hs
  bindings/haskell/src/lib.rs
Labels: releases-note/refactor

#2769 feat(oay): add write for oay webdav
  bin/oay/src/services/webdav/webdav_file.rs
Labels: releases-note/feat

#2781 fix: fix compile error by low version of backon in old project
  core/Cargo.toml
Labels: releases-note/fix

#2784 chore: Bump bytes to 1.4 to allow the usage of spare_capacity_mut
  core/Cargo.toml
Labels: releases-note/chore

#2787 feat: Implement RFC-2774 Lister API
  bin/oay/src/services/s3/service.rs
  bin/oay/src/services/webdav/webdavfs.rs
  bin/oli/src/commands/cp.rs
  bin/oli/src/commands/ls.rs
  bindings/nodejs/index.d.ts
  bindings/nodejs/src/lib.rs
  bindings/object_store/src/lib.rs
  bindings/python/src/asyncio.rs
  core/src/docs/rfcs/2774_lister_api.md
  core/src/docs/upgrade.md
  core/src/layers/complete.rs
  core/src/layers/immutable_index.rs
  core/src/layers/retry.rs
  core/src/types/operator/operator.rs
  core/src/types/operator/operator_futures.rs
  core/tests/behavior/list.rs
  core/tests/behavior/list_only.rs
Labels: releases-note/feat

#2789 feat(bindings/haskell): enhance original `OpMonad` to support custom IO monad
  .github/workflows/bindings_haskell.yml
  bindings/haskell/cabal.project.local
  bindings/haskell/haskell-src/OpenDAL.hs
  bindings/haskell/haskell-src/OpenDAL/FFI.hs
  bindings/haskell/opendal-hs.cabal
  bindings/haskell/test/BasicTest.hs
Labels: releases-note/feat

#2792 ci: use cache to speed up haskell ci
  .github/workflows/bindings_haskell.yml
  .github/workflows/docs.yml
Labels: releases-note/ci

#2793 chore: disable oldtime feature of chrono
  core/Cargo.toml
Labels: releases-note/chore

#2796 refactor: Remove optimize in into_seekable_read_by_range
  core/src/raw/oio/read/into_seekable_read_by_range.rs
Labels: releases-note/refactor

#2797 fix: Bump openssh-sftp-client from 0.13.5 to 0.13.7
  Cargo.lock
  core/Cargo.toml
Labels: releases-note/fix

#2799 feat: Add into_seekable_read_by_range support for blocking read
  core/src/layers/complete.rs
  core/src/raw/oio/read/into_seekable_read_by_range.rs
Labels: releases-note/feat

#2780 feat(layers/blocking): add blocking layer
  Cargo.lock
  core/Cargo.toml
  core/src/layers/blocking.rs
  core/src/layers/mod.rs
  core/src/types/operator/builder.rs
  core/src/types/operator/operator.rs
  core/src/types/reader.rs
  core/tests/behavior/utils.rs
Labels: releases-note/feat

#2806 chore: Disable blocking layer unitl we make all services passed
  core/tests/behavior/utils.rs
Labels: releases-note/chore

#2805 fix: add redis for nextcloud to solve file locking problem
  .github/workflows/service_test_webdav.yml
Labels: releases-note/fix

#2794 refactor(bindings/ocaml): Refactor module to support documentation
  bindings/ocaml/build.rs
  bindings/ocaml/lib/dune
  bindings/ocaml/lib/opendal.ml
  bindings/ocaml/lib/operator.ml
  bindings/ocaml/lib/operator.mli
  bindings/ocaml/src/block_operator.rs
  bindings/ocaml/src/lib.rs
  bindings/ocaml/src/opendal.ml
  bindings/ocaml/src/opendal.mli
  bindings/ocaml/src/operator.ml
  bindings/ocaml/src/operator.mli
  bindings/ocaml/src/operator/mod.rs
  bindings/ocaml/test/test.ml
Labels: releases-note/refactor

#2803 feat: Add async list with metakey support
  bin/oay/src/services/s3/service.rs
  bin/oli/src/commands/cp.rs
  bindings/c/include/opendal.h
  bindings/object_store/src/lib.rs
  core/src/layers/async_backtrace.rs
  core/src/layers/await_tree.rs
  core/src/layers/immutable_index.rs
  core/src/raw/oio/entry.rs
  core/src/raw/oio/read/into_seekable_read_by_range.rs
  core/src/raw/oio/write/multipart_upload_write.rs
  core/src/raw/ops.rs
  core/src/services/tikv/backend.rs
  core/src/types/entry.rs
  core/src/types/list.rs
  core/src/types/metadata.rs
  core/src/types/operator/blocking_operator.rs
  core/src/types/operator/operator.rs
  core/src/types/operator/operator_futures.rs
  core/tests/behavior/fuzz.rs
  core/tests/behavior/list.rs
Labels: releases-note/feat

#2809 fix: Fix behaivor tests for blocking layer
  .github/workflows/service_test_webdav.yml
  core/src/layers/blocking.rs
  core/src/layers/retry.rs
  core/src/services/dropbox/error.rs
  core/src/services/webdav/backend.rs
  core/tests/behavior/blocking_write.rs
  core/tests/behavior/utils.rs
Labels: releases-note/fix

#2782 feat(binding/php): Add basic io
  Cargo.lock
  Cargo.toml
  bindings/php/Cargo.toml
  bindings/php/composer.json
  bindings/php/opendal-php.stubs.php
  bindings/php/src/lib.rs
  bindings/php/tests/Feature/BasicIOTest.php
  bindings/php/tests/Pest.php
  bindings/php/tests/TestCase.php
  bindings/php/tests/Unit/BasicTest.php
Labels: releases-note/feat

#2814 chore(bindings/haskell): post release 0.1.0
  .github/workflows/bindings_haskell.yml
  .github/workflows/docs.yml
  bindings/haskell/Cargo.toml
  bindings/haskell/Setup.hs
  bindings/haskell/opendal-hs.cabal
Labels: releases-note/chore

#2812 fix(services/s3): remove default region `us-east-1` for non-aws s3
  .github/workflows/fuzz_test.yml
  .github/workflows/service_test_s3.yml
  core/src/services/s3/backend.rs
Labels: releases-note/fix

#2819 fix(oli, doc): Fix examples of config.toml for oli
  bin/oli/README.md
Labels: releases-note/fix

#2823 fix: Cleanup temporary files generated in tests automatically
  Cargo.lock
  bin/oli/Cargo.toml
  bin/oli/src/config/mod.rs
  bin/oli/tests/cat.rs
  bin/oli/tests/cp.rs
  bin/oli/tests/ls.rs
  bin/oli/tests/rm.rs
  bin/oli/tests/stat.rs
Labels: releases-note/fix

#2824 feat: fuzz test support read from .env by different services
  core/fuzz/utils.rs
Labels: releases-note/chore, releases-note/feat

#2825 ci: Add setup for php and ocaml in dev container
  .devcontainer/post_create.sh
Labels: releases-note/ci

#2827 feat(services/rocksdb): Add scan support
  core/src/services/rocksdb/backend.rs
Labels: releases-note/feat

#2829 chore(bindings/ocaml): Add contributing document to readme
  bindings/ocaml/README.md
Labels: releases-note/chore

#2831 fix(services/sftp): bump openssh-sftp-client to 0.13.9
  Cargo.lock
  core/Cargo.toml
Labels: releases-note/fix

#2830 feat: ci for php binding
  .github/workflows/bindings_php.yml
Labels: releases-note/feat

#2832 feat: Add create_dir, remove, copy and rename API for oay-webdav
  bin/oay/src/services/webdav/webdav_file.rs
  bin/oay/src/services/webdav/webdavfs.rs
Labels: releases-note/feat

#2833 fix(oli): oli commands don't work properly for files in CWD
  bin/oli/src/config/mod.rs
  bin/oli/tests/cat.rs
  bin/oli/tests/cp.rs
  bin/oli/tests/rm.rs
  bin/oli/tests/stat.rs
Labels: releases-note/fix

#2847 docs: Add an example for PostgreSQL service
  core/src/services/postgresql/docs.md
Labels: releases-note/docs

#2843 docs: improve php binding documentation
  bindings/php/README.md
Labels: releases-note/docs

#2850 feat(services/moka, services/mini-moka): Add scan support
  core/src/services/mini_moka/backend.rs
  core/src/services/mini_moka/docs.md
  core/src/services/moka/backend.rs
  core/src/services/moka/docs.md
Labels: releases-note/feat

#2851 chore: Make clippy happy
  core/src/services/mini_moka/backend.rs
  core/src/services/moka/backend.rs
Labels: releases-note/chore

#2854 fix(bindings/c): Fix an example of the C binding
  bindings/c/examples/basicrw.c
Labels: releases-note/fix

#2856 fix(doc): Update instructions for building the C binding in README.md
  bindings/c/README.md
Labels: releases-note/fix

#2857 feat(oay): impl some method for `WebdavMetaData`
  bin/oay/src/services/webdav/webdav_metadata.rs
Labels: releases-note/feat

#2861 feat: Implement list with metakey for blocking
  bindings/c/src/lib.rs
  bindings/haskell/src/lib.rs
  bindings/nodejs/src/lib.rs
  bindings/python/src/lib.rs
  core/src/types/operator/blocking_operator.rs
  core/src/types/operator/operator_functions.rs
  core/tests/behavior/blocking_list.rs
Labels: releases-note/feat

#2858 feat(services/redis): add redis cluster support
  .env.example
  .github/workflows/service_test_redis.yml
  Cargo.lock
  core/Cargo.toml
  core/src/services/redis/backend.rs
  core/src/services/redis/docs.md
  core/src/services/redis/fixtures/docker-compose-redis-cluster-tls.yml
  core/src/services/redis/fixtures/docker-compose-redis-cluster.yml
  core/src/services/redis/fixtures/docker-compose-redis-tls.yml
  core/src/services/redis/fixtures/docker-compose-redis.yml
  core/src/services/redis/fixtures/ssl/ca.crt
  core/src/services/redis/fixtures/ssl/ca.key
  core/src/services/redis/fixtures/ssl/ca.srl
  core/src/services/redis/fixtures/ssl/redis.crt
  core/src/services/redis/fixtures/ssl/redis.key
  core/src/services/redis/fixtures/ssl/redis.v3.ext
Labels: releases-note/feat

#2848 feat(services/dropbox): read support range
  core/src/services/dropbox/backend.rs
  core/src/services/dropbox/core.rs
Labels: releases-note/feat

#2867 ci: Trying to fix rocksdb build
  .github/actions/setup/action.yaml
  .github/workflows/service_test_rocksdb.yml
Labels: releases-note/ci

#2863 ci: add reproducibility check
  .github/workflows/bindings_java.yml
  bindings/java/.gitignore
  bindings/java/.mvn/wrapper/maven-wrapper.properties
  bindings/java/mvnw
  bindings/java/mvnw.cmd
Labels: releases-note/ci

#2871 refactor: Implement backtrace for Error correctly
  bin/oay/src/services/webdav/webdav_dir_entry.rs
  bin/oay/src/services/webdav/webdav_metadata.rs
  bin/oay/src/services/webdav/webdavfs.rs
  bindings/haskell/src/logger.rs
  bindings/ocaml/src/lib.rs
  bindings/php/src/lib.rs
  core/fuzz/fuzz_reader.rs
  core/fuzz/fuzz_writer.rs
  core/src/layers/blocking.rs
  core/src/services/postgresql/backend.rs
  core/src/types/entry.rs
  core/src/types/error.rs
  core/src/types/operator/blocking_operator.rs
  core/tests/behavior/blocking_write.rs
Labels: releases-note/refactor

#2872 feat(layers/logging): Allow users to control print backtrace or not
  core/src/layers/logging.rs
  core/src/layers/retry.rs
  core/tests/behavior/utils.rs
Labels: releases-note/feat

#2876 docs: Fix missing link to the contribution guide for the Node.js binding
  bindings/nodejs/README.md
Labels: releases-note/docs

#2877 ci(services/postgresql): add docker-compose to simplify the CI
  .github/workflows/service_test_postgresql.yml
  core/src/services/postgresql/fixtures/docker-compose.yml
  core/src/services/postgresql/fixtures/init.sql
Labels: releases-note/chore

#2874 feat: add native & full capability
  bin/oay/src/services/s3/service.rs
  core/src/layers/blocking.rs
  core/src/layers/complete.rs
  core/src/layers/immutable_index.rs
  core/src/layers/madsim.rs
  core/src/layers/retry.rs
  core/src/raw/accessor.rs
  core/src/raw/adapters/kv/api.rs
  core/src/raw/adapters/kv/backend.rs
  core/src/raw/adapters/typed_kv/backend.rs
  core/src/raw/oio/page/into_flat_page.rs
  core/src/raw/oio/read/into_seekable_read_by_range.rs
  core/src/services/azblob/backend.rs
  core/src/services/azdfs/backend.rs
  core/src/services/cos/backend.rs
  core/src/services/dropbox/backend.rs
  core/src/services/fs/backend.rs
  core/src/services/ftp/backend.rs
  core/src/services/gcs/backend.rs
  core/src/services/gdrive/backend.rs
  core/src/services/ghac/backend.rs
  core/src/services/hdfs/backend.rs
  core/src/services/http/backend.rs
  core/src/services/ipfs/backend.rs
  core/src/services/ipmfs/backend.rs
  core/src/services/obs/backend.rs
  core/src/services/onedrive/backend.rs
  core/src/services/oss/backend.rs
  core/src/services/s3/backend.rs
  core/src/services/sftp/backend.rs
  core/src/services/supabase/backend.rs
  core/src/services/vercel_artifacts/backend.rs
  core/src/services/wasabi/backend.rs
  core/src/services/webdav/backend.rs
  core/src/services/webhdfs/backend.rs
  core/src/types/operator/blocking_operator.rs
  core/src/types/operator/metadata.rs
  core/src/types/operator/operator.rs
  core/tests/behavior/append.rs
  core/tests/behavior/blocking_copy.rs
  core/tests/behavior/blocking_list.rs
  core/tests/behavior/blocking_read_only.rs
  core/tests/behavior/blocking_rename.rs
  core/tests/behavior/blocking_write.rs
  core/tests/behavior/copy.rs
  core/tests/behavior/fuzz.rs
  core/tests/behavior/list.rs
  core/tests/behavior/list_only.rs
  core/tests/behavior/presign.rs
  core/tests/behavior/read_only.rs
  core/tests/behavior/rename.rs
  core/tests/behavior/write.rs
Labels: releases-note/feat

#2879 fix(oay): add some error handle
  bin/oay/src/services/webdav/webdav_dir_entry.rs
  bin/oay/src/services/webdav/webdav_file.rs
  bin/oay/src/services/webdav/webdavfs.rs
Labels: releases-note/fix

#2882 doc: add 0.39.0 release link to download.md
  website/src/pages/download.md
Labels: releases-note/docs

#2883 doc: add missing release step
  website/docs/contributing/release.md
Labels: releases-note/docs

#2886 feat(core): replace field `_pin` with `!Unpin` as argument
  core/src/raw/oio/read/api.rs
Labels: releases-note/feat

#2887 ci(service/s3): Add docker-compose-minio file to simplify the CI
  .github/workflows/service_test_s3.yml
  core/src/services/s3/fixtures/docker-compose-minio.yml
Labels: releases-note/ci

#2888 refactor: Move object_store_opendal to integrations
  .github/workflows/publish.yml
  Cargo.toml
  integrations/README.md
  integrations/object_store/.gitignore
  integrations/object_store/Cargo.toml
  integrations/object_store/README.md
  integrations/object_store/src/lib.rs
Labels: releases-note/refactor

#2896 feat: Add retry for Writer::sink operation
  bindings/ocaml/src/operator/mod.rs
  bindings/ocaml/src/operator/reader.rs
  core/src/layers/retry.rs
  core/src/raw/oio/stream/api.rs
  core/src/raw/oio/stream/into_stream.rs
  core/src/raw/oio/stream/into_stream_from_reader.rs
  core/src/raw/oio/stream/mod.rs
Labels: releases-note/feat

#2892 refactor(services/gdrive): prepare for CI
  .env.example
  core/src/services/gdrive/backend.rs
  core/src/services/gdrive/core.rs
  core/src/services/gdrive/writer.rs
Labels: releases-note/refactor

#2899 chore: add health check for docker-compose minio
  .github/workflows/service_test_s3.yml
Labels: releases-note/chore

#2895 fix: Set default timeouts for HttpClient
  core/src/raw/http_util/client.rs
Labels: releases-note/fix

#2900 ci(services/hdfs): Load native lib instead
  .github/workflows/service_test_hdfs.yml
Labels: releases-note/ci

#2901 chore(ci): offload healthcheck logic to docker-compose config
  .github/workflows/service_test_s3.yml
  core/src/services/s3/fixtures/docker-compose-minio.yml
Labels: releases-note/chore

#2902 ci(services/rocksdb): Make sure rocksdb lib is loaded
  .github/workflows/service_test_rocksdb.yml
Labels: releases-note/ci

#2898 feat: remove operator range_read and range_reader API
  bin/oay/src/services/webdav/webdav_file.rs
  core/benches/ops/read.rs
  core/fuzz/fuzz_reader.rs
  core/src/layers/logging.rs
  core/src/types/operator/operator.rs
  core/tests/behavior/fuzz.rs
  core/tests/behavior/read_only.rs
  core/tests/behavior/write.rs
  integrations/object_store/src/lib.rs
Labels: releases-note/feat

#2905 docs: add new committer landing doc
  integrations/README.md
  website/docs/contributing/committer.md
  website/docs/contributing/gmail-smtp-setting.jpg
Labels: releases-note/docs

#2903 refactor(core): Split buffer logic from underlying storage operations
  .github/workflows/service_test_s3.yml
  core/fuzz/fuzz_writer.rs
  core/src/raw/oio/cursor.rs
  core/src/raw/oio/mod.rs
  core/src/raw/oio/stream/api.rs
  core/src/raw/oio/write/append_object_write.rs
  core/src/raw/oio/write/at_least_buf_write.rs
  core/src/raw/oio/write/compose_write.rs
  core/src/raw/oio/write/mod.rs
  core/src/raw/oio/write/multipart_upload_write.rs
  core/src/raw/oio/write/one_shot_write.rs
  core/src/raw/oio/write/two_ways_write.rs
  core/src/raw/ops.rs
  core/src/services/cos/backend.rs
  core/src/services/cos/core.rs
  core/src/services/cos/writer.rs
  core/src/services/obs/backend.rs
  core/src/services/obs/core.rs
  core/src/services/obs/writer.rs
  core/src/services/oss/backend.rs
  core/src/services/oss/core.rs
  core/src/services/oss/writer.rs
  core/src/services/s3/backend.rs
  core/src/services/s3/core.rs
  core/src/services/s3/writer.rs
  core/src/types/operator/operator_futures.rs
  core/tests/behavior/write.rs
Labels: releases-note/refactor

#2907 feat(core): Add unit test for ChunkedCursor
  core/src/raw/oio/cursor.rs
Labels: releases-note/feat

#2912 feat(types): remove blocking operation range_read and range_reader API
  core/src/types/operator/blocking_operator.rs
  core/src/types/operator/operator_functions.rs
  core/tests/behavior/blocking_read_only.rs
  core/tests/behavior/blocking_write.rs
Labels: releases-note/feat

#2910 build(bindings/java): bundle bare binaries in JARs with classifier
  bindings/java/README.md
  bindings/java/pom.xml
  bindings/java/src/main/java/org/apache/opendal/Environment.java
  bindings/java/src/main/java/org/apache/opendal/NativeObject.java
  bindings/java/src/main/resources/bindings.properties
Labels: releases-note/build

#2913 fix(website): broken edit link
  website/docusaurus.config.js
Labels: releases-note/fix

#2915 feat(types): add stat_with API for blocking operator
  core/src/types/operator/blocking_operator.rs
  core/src/types/operator/operator_functions.rs
Labels: releases-note/feat

#2914 feat(services/gdrive): credential manage
  core/src/services/dropbox/builder.rs
  core/src/services/dropbox/core.rs
  core/src/services/gdrive/backend.rs
  core/src/services/gdrive/builder.rs
  core/src/services/gdrive/core.rs
Labels: releases-note/feat

#2729 docs: auto relaese maven artifacts
  website/docs/contributing/release.md
  website/docs/contributing/verify.md
Labels: releases-note/docs

#2920 doc(tests): fix test command
  core/tests/behavior/README.md
Labels: releases-note/docs

#2918 fix(binding/java): Overwrite default NOTICE file with correct years
  bindings/java/src/main/resources/META-INF/NOTICE
Labels: releases-note/fix

#2917 feat(core): Implement Exact Buf Writer
  .typos.toml
  core/src/raw/oio/cursor.rs
  core/src/raw/oio/stream/api.rs
  core/src/raw/oio/write/at_least_buf_write.rs
  core/src/raw/oio/write/exact_buf_write.rs
  core/src/raw/oio/write/mod.rs
  core/src/raw/oio/write/one_shot_write.rs
  core/src/services/obs/writer.rs
Labels: releases-note/feat

#2922 feat: Add benchmark for buf write
  core/Cargo.toml
  core/benches/oio/main.rs
  core/benches/oio/utils.rs
  core/benches/oio/write.rs
  core/src/raw/oio/cursor.rs
  core/src/raw/oio/write/exact_buf_write.rs
Labels: releases-note/feat

#2923 feat(core/raw): Add stream support for multipart
  core/benches/oio/write.rs
  core/src/raw/http_util/multipart.rs
  core/src/raw/oio/cursor.rs
Labels: releases-note/feat

#2924 feat(types): synchronous blocking operator and operator's API
  core/src/types/operator/blocking_operator.rs
  core/src/types/operator/operator_functions.rs
  core/src/types/operator/operator_futures.rs
Labels: releases-note/feat

#2927 chore: Make clippy happy
  core/tests/behavior/blocking_list.rs
  core/tests/behavior/list.rs
  core/tests/behavior/write.rs
Labels: releases-note/chore

#2928 chore: Make C Binding clippy happy
  bindings/c/src/types.rs
Labels: releases-note/chore

#2838 fix(services/gcs): migrate to new multipart impl for gcs_insert_object_request
  .github/workflows/service_test_gcs.yml
  core/src/services/gcs/core.rs
Labels: releases-note/fix

#2930 docs: add service doc for gcs
  core/src/services/gcs/backend.rs
  core/src/services/gcs/docs.md
  website/docs/services/azblob.mdx
  website/docs/services/azdfs.mdx
  website/docs/services/cos.mdx
  website/docs/services/fs.mdx
  website/docs/services/ftp.mdx
  website/docs/services/gcs.mdx
  website/docs/services/hdfs.mdx
  website/docs/services/ipfs.mdx
  website/docs/services/memory.mdx
  website/docs/services/oss.mdx
  website/docs/services/redis.mdx
  website/docs/services/rocksdb.mdx
  website/docs/services/s3.mdx
  website/docs/services/sftp.mdx
  website/docs/services/sled.mdx
  website/docs/services/webhdfs.mdx
Labels: releases-note/docs

#2932 docs(services/gcs): fix rust core doc include
  core/src/services/gcs/backend.rs
Labels: releases-note/docs

#2931 fix(core): Invalid lister should not panic nor endless loop
  core/src/types/list.rs
Labels: releases-note/fix

#2934 feat(bindings/java): bundled services
  .github/workflows/bindings_java.yml
  bindings/java/Cargo.toml
  bindings/java/src/lib.rs
Labels: releases-note/feat

#2937 docs: migrate all existed service documents
  core/src/services/fs/docs.md
  core/src/services/http/backend.rs
  core/src/services/http/docs.md
  core/src/services/memcached/backend.rs
  core/src/services/memcached/docs.md
  core/src/services/obs/backend.rs
  core/src/services/obs/docs.md
  core/src/services/supabase/backend.rs
  core/src/services/supabase/docs.md
  core/src/services/wasabi/backend.rs
  core/src/services/wasabi/docs.md
  core/src/services/webdav/backend.rs
  core/src/services/webdav/docs.md
  website/docs/services/gcs.mdx
  website/docs/services/http.mdx
  website/docs/services/memcached.mdx
  website/docs/services/obs.mdx
  website/docs/services/supabase.mdx
  website/docs/services/wasabi.mdx
  website/docs/services/webdav.mdx
Labels: releases-note/docs

#2938 chore: Fix failed ci
  core/src/services/obs/docs.md
  core/src/services/webdav/docs.md
  website/docs/services/obs.mdx
Labels: releases-note/chore

#2941 fix(services/s3): allow 404 resp when deleting a non-existing object
  core/src/services/s3/backend.rs
Labels: releases-note/fix

#2942 fix(doc): use crate::docs::rfc to replace relative path in doc
  core/src/types/operator/blocking_operator.rs
  core/src/types/operator/operator.rs
Labels: releases-note/fix

#2909 fix: S3 copy error on non-ascii file path
  .env.example
  core/src/services/s3/compatible_services.md
  core/src/services/s3/core.rs
  core/src/services/s3/docs.md
  core/tests/behavior/copy.rs
Labels: releases-note/fix

#2943 docs: Fix incorrect links to rfcs
  core/src/types/operator/blocking_operator.rs
  core/src/types/operator/operator.rs
Labels: releases-note/docs

#2948 fix: copy error on non-ascii file path for cos/obs/wasabi services
  core/src/services/cos/core.rs
  core/src/services/obs/core.rs
  core/src/services/wasabi/core.rs
  core/tests/behavior/copy.rs
Labels: releases-note/fix

#2949 fix(doc): add GCS api reference and known issues to service/s3 doc
  core/src/services/s3/compatible_services.md
Labels: releases-note/fix

#2939 ci(bindings/java): enable auto staging JARs on Apache Nexus repository
  .editorconfig
  .github/workflows/bindings_java.yml
  .github/workflows/release_java.yml
  bindings/java/Cargo.toml
  licenserc.toml
  scripts/merge_local_staging.sh
Labels: releases-note/ci

#2873 refactor(service/webdav): Add docker-compose file to simplify the CI
  .github/workflows/service_test_webdav.yml
  core/src/services/webdav/fixtures/config/nginx/http.conf
  core/src/services/webdav/fixtures/docker-compose-webdav-with-auth.yml
  core/src/services/webdav/fixtures/docker-compose-webdav-with-empty-passwd.yml
  core/src/services/webdav/fixtures/docker-compose-webdav.yml
  core/src/services/webdav/fixtures/htpasswd
  core/src/services/webdav/fixtures/nginx-with-basic-auth.conf
  core/src/services/webdav/fixtures/nginx.conf
Labels: releases-note/refactor

#2944 fix(oay): pass litmus copymove test
  bin/oay/src/services/webdav/webdavfs.rs
Labels: releases-note/fix

#2956 fix(core): Make sure OpenDAL works with http2 on GCS
  core/src/services/gcs/backend.rs
  core/src/services/gcs/core.rs
  core/src/services/s3/core.rs
  core/src/types/list.rs
Labels: releases-note/fix

#2950 feat(bindings/python): expose presign api
  bindings/python/CONTRIBUTING.md
  bindings/python/python/opendal/__init__.pyi
  bindings/python/src/asyncio.rs
  bindings/python/src/lib.rs
  bindings/python/tests/steps/binding.py
  bindings/tests/features/binding.feature
Labels: releases-note/feat

#2962 fix(nodejsjava): Add place holder for BDD test
  bindings/java/src/test/java/org/apache/opendal/AsyncStepsTest.java
  bindings/nodejs/tests/binding.js
Labels: releases-note/fix

#2964 docs: Update Release Process
  website/docs/contributing/committer.md
  website/docs/contributing/release.md
Labels: releases-note/docs

#2967 docs(services/sftp): update comments about windows support and password login support
  core/src/services/sftp/backend.rs
  core/src/services/sftp/docs.md
Labels: releases-note/docs

#2968 fix(core): Fix capability of services is not set correctly
  core/src/layers/complete.rs
  core/src/layers/madsim.rs
  core/src/layers/retry.rs
  core/src/raw/accessor.rs
  core/src/raw/adapters/kv/api.rs
  core/src/raw/adapters/kv/backend.rs
  core/src/raw/adapters/typed_kv/backend.rs
  core/src/raw/oio/read/into_seekable_read_by_range.rs
  core/src/services/azblob/backend.rs
  core/src/services/azdfs/backend.rs
  core/src/services/cos/backend.rs
  core/src/services/dropbox/backend.rs
  core/src/services/fs/backend.rs
  core/src/services/ftp/backend.rs
  core/src/services/gcs/backend.rs
  core/src/services/gdrive/backend.rs
  core/src/services/ghac/backend.rs
  core/src/services/hdfs/backend.rs
  core/src/services/http/backend.rs
  core/src/services/ipfs/backend.rs
  core/src/services/ipmfs/backend.rs
  core/src/services/obs/backend.rs
  core/src/services/onedrive/backend.rs
  core/src/services/oss/backend.rs
  core/src/services/s3/backend.rs
  core/src/services/sftp/backend.rs
  core/src/services/supabase/backend.rs
  core/src/services/vercel_artifacts/backend.rs
  core/src/services/wasabi/backend.rs
  core/src/services/webdav/backend.rs
  core/src/services/webhdfs/backend.rs
Labels: releases-note/fix

#2973 docs(services/gdrive): update service doc
  core/src/services/dropbox/builder.rs
  core/src/services/gdrive/builder.rs
Labels: releases-note/feat, releases-note/docs

#2976 ci(fix): Add PORTABLE to make sure rocksdb compiled with the same CPU feature set
  .github/actions/setup/action.yaml
  .github/workflows/service_test_rocksdb.yml
Labels: releases-note/ci

#2982 fix(core): Fix capability of services is not set correctly
  core/src/raw/adapters/kv/backend.rs
Labels: releases-note/fix

#2984 docs(bindings/cpp): add CONTRIBUTING.md
  .devcontainer/post_create.sh
  bindings/cpp/.gitignore
  bindings/cpp/CMakeLists.txt
  bindings/cpp/CONTRIBUTING.md
  bindings/cpp/include/opendal.hpp
  bindings/cpp/src/opendal.cpp
Labels: releases-note/docs

#2974 feat: gcs insert object support cache control
  core/src/services/gcs/backend.rs
  core/src/services/gcs/core.rs
  core/src/services/gcs/writer.rs
Labels: releases-note/feat

#2971 ci(oay): Polish oay webdav test
  .github/workflows/oay_test_webdav.yml
Labels: releases-note/ci
