Repository apache/opendal, pull requests merged in 2023-06, with the labels that each got.

#2382 fix(services/azblob): Fix batch delete doesn't work on azure
  .github/workflows/service_test_azblob.yml
  Cargo.lock
  core/Cargo.toml
  core/src/raw/http_util/multipart.rs
  core/src/services/azblob/backend.rs
  core/src/services/azblob/core.rs
  core/src/services/azdfs/core.rs
  core/tests/behavior/write.rs
Labels: releases-note/fix

#2390 refactor(http_util): Adopt reqwest's redirect support
  Cargo.lock
  core/Cargo.toml
  core/src/raw/http_util/client.rs
  core/src/services/onedrive/backend.rs
  core/src/services/webdav/backend.rs
  core/src/services/webhdfs/backend.rs
Labels: releases-note/refactor

#2395 feat: Implement Timeout Layer
  core/src/layers/mod.rs
  core/src/layers/timeout.rs
  core/tests/behavior/utils.rs
Labels: releases-note/feat

#2396 docs: docs for kv services
  core/src/services/memory/backend.rs
  core/src/services/memory/docs.md
  core/src/services/redis/backend.rs
  core/src/services/redis/docs.md
  core/src/services/rocksdb/backend.rs
  core/src/services/rocksdb/docs.md
  core/src/services/sled/backend.rs
  core/src/services/sled/docs.md
  website/docs/services/memory.mdx
  website/docs/services/redis.mdx
  website/docs/services/rocksdb.mdx
  website/docs/services/sled.mdx
Labels: releases-note/docs

#2397 docs: docs for fs related services
  core/examples/object.rs
  core/src/layers/prometheus.rs
  core/src/services/ftp/backend.rs
  core/src/services/ftp/docs.md
  core/src/services/hdfs/backend.rs
  core/src/services/hdfs/docs.md
  core/src/services/ipfs/backend.rs
  core/src/services/ipfs/docs.md
  core/src/services/memcached/backend.rs
  core/src/services/redis/docs.md
  core/src/services/rocksdb/docs.md
  core/src/services/sftp/backend.rs
  core/src/services/sftp/docs.md
  core/src/services/webhdfs/backend.rs
  core/src/services/webhdfs/docs.md
  website/docs/services/cos.mdx
  website/docs/services/ftp.mdx
  website/docs/services/hdfs.mdx
  website/docs/services/ipfs.mdx
  website/docs/services/sftp.mdx
  website/docs/services/webhdfs.mdx
Labels: releases-note/docs

#2398 docs(bindings/java): do not release snapshot versions anymore
  bindings/java/README.md
Labels: releases-note/docs

#2400 ci: Enable nextest for all behavior tests
  .config/nextest.toml
  .github/actions/setup/action.yaml
  .github/workflows/ci.yml
  .github/workflows/service_test_azblob.yml
  .github/workflows/service_test_azdfs.yml
  .github/workflows/service_test_cos.yml
  .github/workflows/service_test_dashmap.yml
  .github/workflows/service_test_fs.yml
  .github/workflows/service_test_ftp.yml
  .github/workflows/service_test_gcs.yml
  .github/workflows/service_test_ghac.yml
  .github/workflows/service_test_hdfs.yml
  .github/workflows/service_test_http.yml
  .github/workflows/service_test_ipfs.yml
  .github/workflows/service_test_ipmfs.yml
  .github/workflows/service_test_memcached.yml
  .github/workflows/service_test_memory.yml
  .github/workflows/service_test_moka.yml
  .github/workflows/service_test_obs.yml
  .github/workflows/service_test_oss.yml
  .github/workflows/service_test_redis.yml
  .github/workflows/service_test_rocksdb.yml
  .github/workflows/service_test_s3.yml
  .github/workflows/service_test_sftp.yml
  .github/workflows/service_test_sled.yml
  .github/workflows/service_test_supabase.yml
  .github/workflows/service_test_wasabi.yml
  .github/workflows/service_test_webdav.yml
  .github/workflows/service_test_webhdfs.yml
  core/tests/behavior/append.rs
  core/tests/behavior/write.rs
Labels: releases-note/ci

#2408 docs: doc for ipmfs
  core/src/services/ipmfs/backend.rs
  core/src/services/ipmfs/docs.md
  website/docs/services/ipmfs.mdx
Labels: releases-note/docs

#2409 docs: add service doc for oss
  core/src/services/oss/backend.rs
  core/src/services/oss/docs.md
  website/docs/services/oss.mdx
Labels: releases-note/docs

#2411 docs improvement of Python binding
  website/docs/overview.md
  website/docs/services/oss.mdx
Labels: releases-note/docs

#2414 fix(services/oss): Fix oss batch max operations
  core/src/services/oss/backend.rs
  core/src/services/oss/core.rs
Labels: releases-note/fix

#2415 fix(core): Don't wake up operator futures while not ready
  core/src/types/operator/operator_futures.rs
Labels: releases-note/fix

#2416 feat(bindings/c): add opendal_operator_blocking_delete method
  bindings/c/include/opendal.h
  bindings/c/src/lib.rs
  bindings/c/tests/bdd.cpp
Labels: releases-note/feat

#2418 fix(services/s3): Fix s3 batch max operations
  core/src/services/s3/backend.rs
  core/src/services/s3/core.rs
Labels: releases-note/fix

#2421 chore(bindings/C): add one simple read/write example into readme and code
  bindings/c/Makefile
  bindings/c/README.md
  bindings/c/examples/basicrw.c
Labels: releases-note/chore

#2422 feat(services/obs): add append support
  core/src/services/obs/appender.rs
  core/src/services/obs/backend.rs
  core/src/services/obs/core.rs
  core/src/services/obs/mod.rs
Labels: releases-note/feat

#2423 ci: Add integration tests for Cloudflare R2
  .github/workflows/service_test_s3.yml
  core/src/services/s3/backend.rs
  core/src/services/s3/compatible_services.md
Labels: releases-note/ci

#2425 docs: Add release guide
  website/docs/contributing/_category_.yml
  website/docs/contributing/reference/_category_.yml
  website/docs/contributing/reference/generate_release_note.md
  website/docs/contributing/reference/setup_gpg.md
  website/docs/contributing/release.md
  website/docusaurus.config.js
Labels: releases-note/docs

#2427 docs: Replace `create` with `new`
  core/README.md
Labels: releases-note/docs

#2430 feat(raw/http_util): Implement mixed multipart parser
  .typos.toml
  core/src/raw/http_util/multipart.rs
Labels: releases-note/feat

#2142 feat(services/gcs): Add batch delete support
  core/src/raw/http_util/multipart.rs
  core/src/services/gcs/backend.rs
  core/src/services/gcs/core.rs
Labels: releases-note/feat

#2434 fix(services/azblob): Fix azblob batch max operations
  core/src/services/azblob/backend.rs
  core/src/services/azblob/core.rs
Labels: releases-note/fix

#2438 chore: Add redis bench support
  core/benches/ops/utils.rs
Labels: releases-note/chore

#2440 feat(core): Add Write::sink API
  core/src/docs/internals/accessor.rs
  core/src/layers/complete.rs
  core/src/layers/concurrent_limit.rs
  core/src/layers/error_context.rs
  core/src/layers/logging.rs
  core/src/layers/madsim.rs
  core/src/layers/metrics.rs
  core/src/layers/minitrace.rs
  core/src/layers/oteltrace.rs
  core/src/layers/prometheus.rs
  core/src/layers/retry.rs
  core/src/layers/timeout.rs
  core/src/layers/tracing.rs
  core/src/raw/adapters/kv/backend.rs
  core/src/raw/adapters/typed_kv/backend.rs
  core/src/raw/http_util/body.rs
  core/src/raw/http_util/client.rs
  core/src/raw/http_util/error.rs
  core/src/raw/http_util/multipart.rs
  core/src/raw/oio/into_stream/from_futures_stream.rs
  core/src/raw/oio/into_stream/mod.rs
  core/src/raw/oio/mod.rs
  core/src/raw/oio/stream.rs
  core/src/raw/oio/write.rs
  core/src/services/azblob/writer.rs
  core/src/services/azdfs/writer.rs
  core/src/services/cos/writer.rs
  core/src/services/fs/writer.rs
  core/src/services/ftp/writer.rs
  core/src/services/gcs/writer.rs
  core/src/services/gdrive/writer.rs
  core/src/services/ghac/writer.rs
  core/src/services/hdfs/writer.rs
  core/src/services/ipmfs/writer.rs
  core/src/services/obs/writer.rs
  core/src/services/onedrive/writer.rs
  core/src/services/oss/writer.rs
  core/src/services/s3/backend.rs
  core/src/services/s3/writer.rs
  core/src/services/sftp/writer.rs
  core/src/services/supabase/writer.rs
  core/src/services/vercel_artifacts/writer.rs
  core/src/services/wasabi/writer.rs
  core/src/services/webdav/writer.rs
  core/src/services/webhdfs/error.rs
  core/src/services/webhdfs/writer.rs
Labels: releases-note/feat

#2443 docs(services/redis): fix redis via config example
  website/docs/services/redis.mdx
Labels: releases-note/docs

#2431 fix(services/sftp): change default root config to remote server setting
  .github/workflows/service_test_sftp.yml
  core/src/services/sftp/backend.rs
  core/src/services/sftp/docs.md
Labels: releases-note/fix

#2450 fix: Enable `std` feature for futures to allow `futures::AsyncRead`
  core/Cargo.toml
Labels: releases-note/fix

#2451 build(bindings/ruby): fix compile rb-sys on Apple M1
  Cargo.lock
  bindings/ruby/Cargo.toml
Labels: releases-note/build

#2453 feat(services/s3): Allow retry for unexpected 499 error
  core/src/raw/http_util/client.rs
  core/src/services/s3/backend.rs
  core/src/services/s3/error.rs
  core/src/services/wasabi/backend.rs
  core/src/services/wasabi/error.rs
Labels: releases-note/feat

#2444 feat(layer): add throttle layer
  Cargo.lock
  core/Cargo.toml
  core/src/layers/mod.rs
  core/src/layers/throttle.rs
Labels: releases-note/feat

#2456 docs: Polish rust examples
  .github/workflows/examples.yml
  README.md
  examples/README.md
  examples/rust/00-setup/.gitignore
  examples/rust/00-setup/Cargo.toml
  examples/rust/00-setup/README.md
  examples/rust/00-setup/src/main.rs
  examples/rust/README.md
  examples/rust/section01-introduction/.gitignore
  examples/rust/section01-introduction/README.md
  examples/rust/section01-introduction/src/main.rs
  licenserc.toml
Labels: releases-note/docs

#2458 docs: polish docs and fix typos
  CONTRIBUTING.md
  README.md
  bindings/nodejs/CONTRIBUTING.md
  bindings/nodejs/benchmark/deno.ts
  bindings/nodejs/src/lib.rs
  bindings/python/CONTRIBUTING.md
  core/benches/ops/read.rs
  core/src/lib.rs
  core/src/raw/oio/page.rs
  core/src/services/onedrive/backend.rs
  core/src/services/s3/error.rs
  core/src/services/vercel_artifacts/backend.rs
  core/src/services/wasabi/error.rs
  core/src/services/webhdfs/error.rs
  examples/rust/00-setup/README.md
  examples/rust/README.md
Labels: releases-note/docs

#2459 chore(bindings/nodejs): update index.d.ts
  bindings/nodejs/index.d.ts
Labels: releases-note/chore

#2460 docs: fix a typo on the landing page
  website/src/components/HomepageFeatures/_feature_languages.mdx
Labels: releases-note/docs

#2464 docs(examples/rust): Add 01-init-operator
  .github/workflows/examples.yml
  examples/rust/01-init-operator/.gitignore
  examples/rust/01-init-operator/Cargo.toml
  examples/rust/01-init-operator/README.md
  examples/rust/01-init-operator/src/main.rs
  examples/rust/README.md
Labels: releases-note/docs

#2461 feat(core): add capability check
  core/src/layers/complete.rs
  core/src/layers/retry.rs
  core/src/raw/adapters/typed_kv/backend.rs
Labels: releases-note/feat

#2466 feat(bindings/haskell): add CONTRIBUTING.md
  .devcontainer/post_create.sh
  bindings/haskell/CONTRIBUTING.md
Labels: releases-note/feat

#2467 fix(services/gcs): GCS should support create dir
  core/src/services/gcs/backend.rs
Labels: releases-note/fix

#2468 feat(bindings/haskell): add CI test for haskell binding
  .github/workflows/bindings_haskell.yml
  bindings/haskell/CONTRIBUTING.md
Labels: releases-note/feat

#2472 chore: Add release 0.37.0 to download
  website/src/pages/download.md
Labels: releases-note/chore

#2473 fix(bindings/C): use copy_from_slice instead of from_static in opendal_bytes
  bindings/c/Cargo.toml
  bindings/c/src/types.rs
  bindings/zig/build.zig
Labels: releases-note/fix

#2470 [WIP] feat(bindings/swift): add Swift binding
  bindings/swift/.gitignore
  bindings/swift/Makefile
  bindings/swift/Package.swift
  bindings/swift/README.md
  bindings/swift/Sources/COpenDAL/module.modulemap
  bindings/swift/Sources/OpenDAL/Data+OpenDAL.swift
  bindings/swift/Sources/OpenDAL/Operator.swift
  bindings/swift/Tests/OpenDALTests/OpenDALTests.swift
Labels: releases-note/feat

#2475 feat(bindings/haskell): support `is_exist` `create_dir` `copy` `rename` `delete`
  bindings/haskell/CONTRIBUTING.md
  bindings/haskell/haskell-src/OpenDAL.hs
  bindings/haskell/haskell-src/OpenDAL/FFI.hs
  bindings/haskell/opendal-hs.cabal
  bindings/haskell/src/lib.rs
  bindings/haskell/src/result.rs
  bindings/haskell/test/BasicTest.hs
Labels: releases-note/feat

#2479 fix(bindings/swift): reorg the package to correct its name
  bindings/swift/.gitignore
  bindings/swift/Makefile
  bindings/swift/OpenDAL/Package.swift
  bindings/swift/OpenDAL/Sources/COpenDAL/module.modulemap
  bindings/swift/OpenDAL/Sources/OpenDAL/Data+OpenDAL.swift
  bindings/swift/OpenDAL/Sources/OpenDAL/Operator.swift
  bindings/swift/OpenDAL/Tests/OpenDALTests/OpenDALTests.swift
Labels: releases-note/fix

#2480 ci: Use summary for zig test to fix build
  .github/workflows/bindings_zig.yml
Labels: releases-note/ci

#2478 ci(workflow): add lua binding test workflow
  .github/workflows/bindings_lua.yml
  bindings/lua/Cargo.toml
Labels: releases-note/chore, releases-note/ci

#2482 feat(bindings/haskell): add `Monad` wrapper
  bindings/haskell/haskell-src/OpenDAL.hs
  bindings/haskell/opendal-hs.cabal
  bindings/haskell/test/BasicTest.hs
Labels: releases-note/feat

#2486 docs: update readme.md to match the output
  examples/rust/01-init-operator/README.md
Labels: releases-note/docs

#2487 docs: Update components for Libraries and Services
  README.md
Labels: releases-note/docs

#2489 refactor(bindings/C): refactor c bindings to call all APIs using pointer
  bindings/c/include/opendal.h
  bindings/c/src/lib.rs
  bindings/c/src/result.rs
  bindings/c/src/types.rs
  bindings/c/tests/bdd.cpp
Labels: releases-note/refactor

#2490 chore: Fix Cargo.lock not updated
  Cargo.lock
Labels: releases-note/chore

#2492 ci(bindings/swift): add CI for Swift binding
  .github/workflows/bindings_swift.yml
  bindings/swift/OpenDAL/Sources/OpenDAL/Operator.swift
Labels: releases-note/ci

#2264 feat(services/dropbox): Support create/read/delete for Dropbox
  core/Cargo.toml
  core/src/services/dropbox/backend.rs
  core/src/services/dropbox/builder.rs
  core/src/services/dropbox/core.rs
  core/src/services/dropbox/error.rs
  core/src/services/dropbox/mod.rs
  core/src/services/dropbox/writer.rs
  core/src/services/mod.rs
  core/src/types/scheme.rs
Labels: releases-note/feat

#2502 feat(bindings/java): support load system lib
  bindings/java/pom.xml
  bindings/java/src/main/java/org/apache/opendal/NativeObject.java
Labels: releases-note/feat

#2449 feat(blocking operator): add remove_all api
  core/src/types/operator/blocking_operator.rs
  core/tests/behavior/blocking_list.rs
  core/tests/behavior/blocking_write.rs
Labels: releases-note/feat

#2499 feat(core): adopt WebHDFS LISTSTATUS_BATCH for better performance
  .env.example
  .github/workflows/service_test_webhdfs.yml
  core/src/services/webhdfs/backend.rs
  core/src/services/webhdfs/message.rs
  core/src/services/webhdfs/pager.rs
Labels: releases-note/feat

#2503 ci: Try to make webhdfs tests more stable
  .github/workflows/service_test_webhdfs.yml
Labels: releases-note/ci

#2504 feat(bindings/haskell): support stat
  Cargo.lock
  bindings/haskell/Cargo.toml
  bindings/haskell/haskell-src/OpenDAL.hs
  bindings/haskell/haskell-src/OpenDAL/FFI.hs
  bindings/haskell/opendal-hs.cabal
  bindings/haskell/src/lib.rs
  bindings/haskell/src/types.rs
  bindings/haskell/test/BasicTest.hs
Labels: releases-note/feat

#2505 chore: Polish some code details
  .github/workflows/service_test_supabase.yml
  bindings/c/src/lib.rs
  bindings/haskell/src/lib.rs
  bindings/haskell/src/result.rs
  bindings/lua/src/lib.rs
  core/src/layers/mod.rs
  core/src/layers/throttle.rs
  core/src/raw/oio/into_stream/from_futures_stream.rs
  core/src/raw/oio/stream.rs
  core/src/services/dropbox/backend.rs
  core/src/services/dropbox/builder.rs
  core/src/services/dropbox/core.rs
  core/src/services/ftp/backend.rs
  core/src/services/hdfs/backend.rs
  core/src/services/ipfs/backend.rs
  core/src/services/ipmfs/backend.rs
  core/src/services/memory/backend.rs
  core/src/services/mod.rs
  core/src/services/obs/backend.rs
  core/src/services/obs/core.rs
  core/src/services/redis/backend.rs
  core/src/services/rocksdb/backend.rs
  core/src/services/s3/backend.rs
  core/src/services/sftp/backend.rs
  core/src/services/sled/backend.rs
  core/src/services/webhdfs/backend.rs
  core/src/services/webhdfs/error.rs
Labels: releases-note/chore

#2506 docs: Add OctoBase into our users list
  README.md
Labels: releases-note/docs

#2507 docs: Fix scan not checked for sled services
  core/src/services/sled/docs.md
Labels: releases-note/docs

#2513 feat(adapters-kv): add rename and copy support to kv adapters
  bindings/zig/test/bdd.zig
  core/src/raw/adapters/typed_kv/backend.rs
Labels: releases-note/feat

#2509 fix(service/webhdfs): fix webhdfs config builder for disable_list_batch
  core/src/services/webhdfs/backend.rs
Labels: releases-note/fix

#2511 doc(binding/lua): Improve readme doc for contribute and usage
  bindings/lua/README.md
Labels: releases-note/docs

#2508 feat: Implement sink for services s3
  bindings/haskell/src/lib.rs
  bindings/haskell/src/types.rs
  core/src/services/s3/backend.rs
  core/src/services/s3/core.rs
  core/src/services/s3/writer.rs
  core/src/services/supabase/error.rs
  core/src/types/capability.rs
  core/src/types/writer.rs
  core/tests/behavior/write.rs
Labels: releases-note/feat

#2515 feat(adapters-kv): add rename and copy support to non typed kv adapters
  core/src/raw/adapters/kv/backend.rs
  core/src/raw/adapters/typed_kv/backend.rs
  core/src/services/dashmap/docs.md
  core/src/services/memory/docs.md
  core/src/services/redis/docs.md
  core/src/services/rocksdb/docs.md
  core/src/services/sled/docs.md
Labels: releases-note/feat

#2517 feat: Implement test harness via libtest-mimic instead
  .github/workflows/service_test_hdfs.yml
  .github/workflows/service_test_rocksdb.yml
  .github/workflows/service_test_sled.yml
  Cargo.lock
  bindings/haskell/Cargo.toml
  bindings/lua/Cargo.toml
  core/Cargo.toml
  core/src/services/memory/backend.rs
  core/tests/behavior/append.rs
  core/tests/behavior/blocking_copy.rs
  core/tests/behavior/blocking_list.rs
  core/tests/behavior/blocking_read_only.rs
  core/tests/behavior/blocking_rename.rs
  core/tests/behavior/blocking_write.rs
  core/tests/behavior/copy.rs
  core/tests/behavior/list.rs
  core/tests/behavior/list_only.rs
  core/tests/behavior/main.rs
  core/tests/behavior/presign.rs
  core/tests/behavior/read_only.rs
  core/tests/behavior/rename.rs
  core/tests/behavior/utils.rs
  core/tests/behavior/write.rs
Labels: releases-note/feat

#2519 fix(core/types): add missing `vercel artifacts` for `FromStr`
  core/src/types/scheme.rs
Labels: releases-note/fix

#2521 ci(bindings/java): auto release snapshot
  .github/workflows/bindings_java.yml
Labels: releases-note/ci

#2520 chore(bindings/nodejs): provide more precise type for scheme
  bindings/nodejs/index.d.ts
  bindings/nodejs/src/lib.rs
Labels: releases-note/chore

#2528 ci: Disable the stage snapshot CI
  .github/workflows/bindings_java.yml
Labels: releases-note/ci

#2516 feat(service/sled): introduce tree support
  .env.example
  .github/workflows/service_test_sled.yml
  core/src/services/sled/backend.rs
Labels: releases-note/feat

#2527 feat(bindings/haskell): support list and scan
  bindings/haskell/haskell-src/OpenDAL.hs
  bindings/haskell/haskell-src/OpenDAL/FFI.hs
  bindings/haskell/opendal-hs.cabal
  bindings/haskell/src/lib.rs
  bindings/haskell/src/types.rs
  bindings/haskell/test/BasicTest.hs
Labels: releases-note/feat

#2532 ci: fix opendal-java snapshot releases
  .github/workflows/bindings_java.yml
  bindings/java/pom.xml
  bindings/java/src/main/java/org/apache/opendal/Environment.java
  bindings/java/src/main/resources/bindings.properties
Labels: releases-note/ci

#2526 feat(services/redb): support redb service
  .env.example
  .github/workflows/service_test_redb.yml
  Cargo.lock
  core/Cargo.toml
  core/src/services/mod.rs
  core/src/services/redb/backend.rs
  core/src/services/redb/docs.md
  core/src/services/redb/mod.rs
  core/src/types/operator/builder.rs
  core/src/types/scheme.rs
  core/tests/behavior/main.rs
Labels: releases-note/feat

#2534 ci: Fix typo in binding java CI
  .github/workflows/bindings_java.yml
Labels: releases-note/ci

#2536 fix(types/operator): fix operation limit error default size
  core/src/types/operator/operator.rs
Labels: releases-note/fix

#2537 feat(core): implement service for Mini Moka
  .env.example
  .gitignore
  Cargo.lock
  README.md
  bin/oli/Cargo.toml
  bin/oli/src/config/mod.rs
  core/Cargo.toml
  core/README.md
  core/benches/ops/utils.rs
  core/src/docs/features.md
  core/src/services/mini_moka/backend.rs
  core/src/services/mini_moka/mod.rs
  core/src/services/mod.rs
  core/src/types/operator/builder.rs
  core/src/types/scheme.rs
  core/tests/behavior/main.rs
  website/src/components/HomepageFeatures/_feature_services.mdx
Labels: releases-note/feat

#2538 doc(services/redb): add doc for redb service backend
  README.md
  website/src/components/HomepageFeatures/_feature_services.mdx
Labels: releases-note/docs

#2539 feat(core): add Mini Moka GitHub Action workflow job
  .github/workflows/service_test_mini_moka.yml
Labels: releases-note/feat

#2540 doc(bindings/swift): add CONTRIBUTING.md
  bindings/swift/CONTRIBUTING.md
Labels: releases-note/docs

#2541 docs: Add new rust example 02-async-io
  .github/workflows/examples.yml
  core/examples/object.rs
  examples/rust/02-async-io/.gitignore
  examples/rust/02-async-io/Cargo.toml
  examples/rust/02-async-io/README.md
  examples/rust/02-async-io/src/main.rs
  examples/rust/README.md
Labels: releases-note/docs

#2544 docs: Fix link for CONTRIBUTING.md
  CONTRIBUTING.md
Labels: releases-note/docs

#2531 doc: polish release doc
  website/docs/contributing/reference/generate_release_note.md
  website/docs/contributing/reference/setup_gpg.md
  website/docs/contributing/reference/verify_a_release_candidate.md
  website/docs/contributing/release.md
Labels: releases-note/docs

#2546 docs: Move verify to upper folder
  README.md
  scripts/README.md
  website/docs/contributing/reference/_category_.yml
  website/docs/contributing/verify.md
  website/src/components/HomepageFeatures/_feature_services.mdx
Labels: releases-note/docs

#2545 ci(bindings/swift): optimize time consumption of CI pipeline
  .github/workflows/bindings_swift.yml
  bindings/swift/Makefile
Labels: releases-note/ci

#2547 ci: Fix PR label not updated while edited
  .github/workflows/ci_pr_labeler.yml
Labels: releases-note/ci

#2549 doc(binding/lua): add ldoc generactor for lua binding
  .github/workflows/docs.yml
  bindings/lua/src/metadata_doc.lua
  bindings/lua/src/operator_doc.lua
  website/docusaurus.config.js
Labels: releases-note/docs

#2548 feat(services): add cacache backend
  .env.example
  .github/workflows/service_test_cacache.yml
  Cargo.lock
  README.md
  core/Cargo.toml
  core/README.md
  core/src/services/cacache/backend.rs
  core/src/services/cacache/docs.md
  core/src/services/cacache/mod.rs
  core/src/services/mod.rs
  core/src/types/operator/builder.rs
  core/src/types/scheme.rs
  core/tests/behavior/main.rs
  website/src/components/HomepageFeatures/_feature_services.mdx
Labels: releases-note/feat

#2552 feat: Implement Writer::copy so user can copy from AsyncRead
  core/src/raw/oio/into_stream/from_futures_reader.rs
  core/src/raw/oio/into_stream/mod.rs
  core/src/types/writer.rs
  core/tests/behavior/write.rs
Labels: releases-note/feat

#2553 docs: Add new architectural image for OpenDAL
  README.md
Labels: releases-note/docs

#2554 docs: Polish README for core and bindings
  bindings/c/README.md
  bindings/haskell/README.md
  bindings/java/README.md
  bindings/lua/README.md
  bindings/nodejs/README.md
  bindings/python/README.md
  bindings/ruby/README.md
  bindings/swift/README.md
  bindings/zig/README.md
  core/README.md
Labels: releases-note/docs

#2556 chore: add tests path to make publish workflow work
  core/Cargo.toml
Labels: releases-note/chore

#2557 ci: automatic java binding release
  .github/workflows/bindings_java.yml
  bindings/java/pom.xml
  scripts/merge_local_staging.sh
Labels: releases-note/ci

#2560 ci: Disable bindings/java deploy for now
  .github/workflows/bindings_java.yml
Labels: releases-note/ci

#2561 ci: Disable the failed stage-release job instead
  .github/workflows/bindings_java.yml
Labels: releases-note/ci

#2566 doc(bindings/haskell): add module document
  bindings/haskell/CONTRIBUTING.md
  bindings/haskell/README.md
  bindings/haskell/haskell-src/OpenDAL.hs
  bindings/haskell/opendal-hs.cabal
  bindings/haskell/test/BasicTest.hs
Labels: releases-note/docs

#2569 ci: add haddock generator for haskell binding
  .github/workflows/docs.yml
Labels: releases-note/ci

#2564 feat(binding/lua): add rename and create_dir operator function
  bindings/lua/src/lib.rs
  bindings/lua/src/operator_doc.lua
  bindings/lua/test/opendal_test.lua
Labels: releases-note/feat

#2571 chore: add haskell binding link to website
  website/docusaurus.config.js
Labels: releases-note/chore

#2573 docs: Update license related comments
  core/src/raw/http_util/body.rs
  core/src/services/memcached/backend.rs
Labels: releases-note/docs

#2574 feat(services/azblob): support sink
  core/src/services/azblob/backend.rs
  core/src/services/azblob/core.rs
  core/src/services/azblob/writer.rs
Labels: releases-note/feat

#2558 ci(binding/lua): add luarocks package manager support
  .github/workflows/bindings_lua.yml
  Cargo.lock
  bindings/lua/Cargo.toml
  bindings/lua/README.md
  bindings/lua/opendal-0.1.0-1.rockspec
  bindings/lua/test/opendal_test.lua
Labels: releases-note/chore, releases-note/ci

#2576 feat(services/gcs): support sink
  core/src/services/gcs/backend.rs
  core/src/services/gcs/core.rs
  core/src/services/gcs/writer.rs
Labels: releases-note/feat

#2577 feat(services/oss): support sink
  core/src/services/oss/backend.rs
  core/src/services/oss/core.rs
  core/src/services/oss/writer.rs
Labels: releases-note/feat

#2578 feat(services/obs): support sink
  core/src/services/obs/backend.rs
  core/src/services/obs/core.rs
  core/src/services/obs/writer.rs
Labels: releases-note/feat
