Repository apache/opendal, pull requests merged in 2023-07, with the labels that each got.

#2585 ci: upgrade hawkeye to v3
  .github/workflows/ci.yml
  licenserc.toml
  website/src/components/HomepageFeatures/styles.module.css
  website/src/css/custom.css
  website/src/pages/index.module.css
Labels: releases-note/ci

#2587 feat(services/cos): impl sink
  core/src/services/cos/backend.rs
  core/src/services/cos/core.rs
  core/src/services/cos/writer.rs
Labels: releases-note/feat

#2592 fix(doc): fix codeblock rendering
  core/src/docs/comparisons/vs_object_store.md
Labels: releases-note/fix

#2590 chore: fix cargo warning for resolver
  Cargo.toml
Labels: releases-note/chore

#2591 chore: bump log to 0.4.19
  Cargo.lock
Labels: releases-note/chore

#2596 chore(deps): update deps to latest version
  Cargo.lock
Labels: releases-note/chore

#2597 chore: Add release 0.38.0 to download
  website/src/pages/download.md
Labels: releases-note/chore

#2588 feat(service): Support stat for Dropbox
  core/src/services/dropbox/backend.rs
  core/src/services/dropbox/core.rs
  core/src/services/dropbox/error.rs
  core/src/services/dropbox/mod.rs
  core/src/services/dropbox/response.rs
Labels: releases-note/feat

#2601 docs: add hdfs namenode High Availability related troubleshoot
  core/src/services/hdfs/docs.md
Labels: releases-note/docs

#2604 feat(services/dropbox): Implement refresh token support
  core/src/services/dropbox/backend.rs
  core/src/services/dropbox/builder.rs
  core/src/services/dropbox/core.rs
  core/src/services/dropbox/error.rs
  core/src/services/dropbox/mod.rs
  core/src/services/dropbox/response.rs
Labels: releases-note/feat

#2608 docs: polish release doc
  website/docs/contributing/release.md
Labels: releases-note/docs

#2607 docs(blog): add Apache OpenDAL(Incubating): Access Data Freely
  website/blog/2023-03-16-opendal-entered-apache-incubator/index.md
  website/blog/2023-07-07-apache-opendal-access-data-freely/index.md
  website/blog/2023-07-07-apache-opendal-access-data-freely/opendal-arch.png
Labels: releases-note/docs

#2606 feat(service/dropbox): impl batch delete
  .env.example
  .github/workflows/service_test_dropbox.yml
  core/src/services/dropbox/backend.rs
  core/src/services/dropbox/builder.rs
  core/src/services/dropbox/core.rs
  core/src/services/dropbox/error.rs
Labels: releases-note/feat

#2602 docs(RFC): Object Versioning
  core/src/docs/rfcs/2602_object_versioning.md
  core/src/docs/rfcs/mod.rs
Labels: releases-note/docs

#2613 feat(CI): set Kvrocks test for service redis
  .github/workflows/service_test_redis.yml
Labels: releases-note/feat

#2614 feat(core): object versioning APIs
  core/src/lib.rs
  core/src/raw/ops.rs
  core/src/types/metadata.rs
  core/src/types/operator/operator.rs
  core/src/types/operator/operator_futures.rs
Labels: releases-note/feat

#2615 feat(oay): actually read configuration from `oay.toml`
  bin/oay/src/bin/oay.rs
  bin/oay/src/config.rs
Labels: releases-note/feat

#2618 chore(service/minitrace): automatically generate span name
  core/Cargo.toml
  core/src/layers/minitrace.rs
Labels: releases-note/chore

#2620 fix(service/minitrace): should set local parent
  core/src/layers/minitrace.rs
Labels: releases-note/fix

#2621 fix(service/minitrace): update doc
  core/src/layers/minitrace.rs
Labels: releases-note/fix

#2633 feat(core): impl `delete_with` on blocking operator
  core/src/types/operator/blocking_operator.rs
  core/src/types/operator/operator_functions.rs
Labels: releases-note/feat

#2637 refactor(core): Add ErrorKind InvalidInput to indicate users input error
  core/src/raw/oio/cursor.rs
  core/src/raw/oio/into_blocking_reader/from_fd.rs
  core/src/raw/oio/into_reader/by_range.rs
  core/src/raw/oio/into_reader/from_fd.rs
  core/src/types/error.rs
Labels: releases-note/fix, releases-note/refactor

#2448 feat(bindings/C): add support for list in C binding
  bindings/c/CONTRIBUTING.md
  bindings/c/Makefile
  bindings/c/README.md
  bindings/c/include/opendal.h
  bindings/c/src/lib.rs
  bindings/c/src/result.rs
  bindings/c/src/types.rs
  bindings/c/tests/bdd.cpp
  bindings/c/tests/common.hpp
  bindings/c/tests/list.cpp
Labels: releases-note/feat

#2645 refactor(services/s3): Add more detect logic for detect_region
  core/src/services/s3/backend.rs
Labels: releases-note/refactor

#2648 feat(services/persy): add a basic persy service impl
  .env.example
  .github/workflows/service_test_persy.yml
  Cargo.lock
  README.md
  core/Cargo.toml
  core/README.md
  core/src/services/mod.rs
  core/src/services/persy/backend.rs
  core/src/services/persy/docs.md
  core/src/services/persy/mod.rs
  core/src/types/operator/builder.rs
  core/src/types/scheme.rs
  core/tests/behavior/main.rs
  website/src/components/HomepageFeatures/_feature_services.mdx
Labels: releases-note/feat

#2649 feat(services/vercel_artifacts): Impl `stat`
  core/src/services/vercel_artifacts/backend.rs
Labels: releases-note/feat

#2656 fix(services/cos): fix cos service comments
  core/src/services/cos/backend.rs
Labels: releases-note/fix

#2657 fix(test): profile setting warning
  core/fuzz/Cargo.toml
Labels: releases-note/fix

#2659 ci(services/webdav): Setup integration test for owncloud
  .github/workflows/service_test_webdav.yml
Labels: releases-note/ci

#2663 ci: Fix unexpected error in owncloud
  .github/workflows/service_test_webdav.yml
  core/src/services/webdav/error.rs
Labels: releases-note/ci

#2664 feat(core/http_util): Remove sensitive header like Set-Cookie
  core/src/raw/http_util/error.rs
  core/src/raw/http_util/mod.rs
  core/src/services/azblob/error.rs
  core/src/services/azdfs/error.rs
  core/src/services/cos/error.rs
  core/src/services/dropbox/error.rs
  core/src/services/gcs/error.rs
  core/src/services/gdrive/error.rs
  core/src/services/ghac/error.rs
  core/src/services/http/error.rs
  core/src/services/ipfs/error.rs
  core/src/services/ipmfs/error.rs
  core/src/services/obs/error.rs
  core/src/services/onedrive/error.rs
  core/src/services/oss/error.rs
  core/src/services/s3/error.rs
  core/src/services/supabase/error.rs
  core/src/services/vercel_artifacts/error.rs
  core/src/services/wasabi/error.rs
  core/src/services/webdav/error.rs
  core/src/services/webhdfs/error.rs
Labels: releases-note/feat

#2665 ci: upgrade hawkeye action
  .github/workflows/ci.yml
  bindings/python/python/opendal/layers.pyi
Labels: releases-note/ci

#2667 ci: Make owncloud happy by reduce the concurrency
  .github/workflows/service_test_webdav.yml
Labels: releases-note/ci

#2666 feat: Add RetryInterceptor support for RetryLayer
  bindings/haskell/src/types.rs
  core/fuzz/fuzz_reader.rs
  core/fuzz/utils.rs
  core/src/layers/mod.rs
  core/src/layers/retry.rs
  core/src/services/s3/backend.rs
  core/src/types/operator/blocking_operator.rs
  core/src/types/writer.rs
  core/tests/behavior/main.rs
Labels: releases-note/feat

#2668 feat: support kerberos for hdfs service
  Cargo.lock
  core/Cargo.toml
  core/src/services/hdfs/backend.rs
  core/src/services/hdfs/docs.md
Labels: releases-note/feat

#2673 fix(bindings/C): fix the memory found in valgrind.
  bindings/c/include/opendal.h
  bindings/c/src/lib.rs
  bindings/c/src/types.rs
  bindings/c/tests/list.cpp
Labels: releases-note/fix

#2674 ci: Setup protoc in rust builder
  .github/actions/setup/action.yaml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  core/src/services/oss/backend.rs
Labels: releases-note/ci

#2676 chore: Update CODEOWNERS
  .github/CODEOWNERS
Labels: releases-note/chore

#2680 ci: Fix Cargo.lock not updated
  .github/workflows/ci.yml
  Cargo.lock
Labels: releases-note/ci

#2670 feat(services/redis): enable TLS
  .github/workflows/service_test_redis.yml
  Cargo.lock
  core/Cargo.toml
  core/benches/ops/utils.rs
  core/src/docs/features.md
  core/src/services/mod.rs
  core/src/services/redis/backend.rs
  core/src/types/operator/builder.rs
  core/tests/behavior/main.rs
Labels: releases-note/feat

#2681 refactor(services/redis): Polish features of redis
  core/Cargo.toml
  core/benches/ops/utils.rs
  core/src/services/mod.rs
  core/src/types/operator/builder.rs
  core/tests/behavior/main.rs
Labels: releases-note/refactor

#2672 feat(services/etcd): introduce new service backend etcd
  Cargo.lock
  bin/oli/Cargo.toml
  bin/oli/src/config/mod.rs
  core/Cargo.toml
  core/src/services/etcd/backend.rs
  core/src/services/etcd/docs.md
  core/src/services/etcd/mod.rs
  core/src/services/mod.rs
  core/src/types/operator/builder.rs
  core/src/types/scheme.rs
Labels: releases-note/feat

#2682 docs: add instructions to fix wrong vote mail and uploads
  website/docs/contributing/release.md
Labels: releases-note/docs

#2684 fix: owncloud test sometimes fail
  .github/workflows/service_test_webdav.yml
Labels: releases-note/fix

#2685 feat(service/obs):add multipart upload function support
  core/src/services/obs/backend.rs
  core/src/services/obs/core.rs
  core/src/services/obs/writer.rs
Labels: releases-note/feat

#2686 fix(services/obs): remove content-length check in backend
  core/src/services/obs/backend.rs
Labels: releases-note/fix

#2687 feat(services/s3): Add assume role support
  Cargo.lock
  core/Cargo.toml
  core/src/services/s3/backend.rs
  core/src/services/s3/core.rs
  core/src/services/wasabi/backend.rs
  core/src/services/wasabi/core.rs
Labels: releases-note/feat

#2691 refactor(services/s3): Check header first for region detect
  bin/oay/src/bin/webdav.rs
  bin/oay/src/services/webdav/service.rs
  bin/oay/src/services/webdav/webdav_file.rs
  bin/oay/src/services/webdav/webdavfs.rs
  core/src/services/etcd/backend.rs
  core/src/services/obs/backend.rs
  core/src/services/s3/backend.rs
Labels: releases-note/refactor

#2565 feat(services/tikv): introduce new service backend tikv
  Cargo.lock
  core/Cargo.toml
  core/src/services/mod.rs
  core/src/services/tikv/backend.rs
  core/src/services/tikv/docs.md
  core/src/services/tikv/mod.rs
  core/src/types/scheme.rs
Labels: releases-note/feat

#2694 chore(bindings/python): upgrade pyo3 to 0.19
  Cargo.lock
  bindings/python/Cargo.toml
Labels: releases-note/chore

#2696 chore: upgrade quick-xml to 0.29
  Cargo.lock
  bin/oay/Cargo.toml
  core/Cargo.toml
  core/src/services/oss/core.rs
Labels: releases-note/chore

#2697 feat(service/cos): add multipart upload function support
  core/src/services/cos/backend.rs
  core/src/services/cos/core.rs
  core/src/services/cos/writer.rs
Labels: releases-note/feat

#2699 feat(oio): Add MultipartUploadWrite to easier the work for Writer
  core/src/raw/oio/write/mod.rs
  core/src/raw/oio/write/multipart_upload_write.rs
  core/src/services/s3/backend.rs
  core/src/services/s3/core.rs
  core/src/services/s3/writer.rs
Labels: releases-note/feat

#2711 doc(services/tikv): add tikv service backend to readme
  README.md
  core/README.md
Labels: releases-note/docs

#2713 fix: fix `HADOOP_CONF_DIR` setting in guidance document
  core/src/services/hdfs/docs.md
Labels: releases-note/fix

#2714 chore(download): update version 0.38.1
  website/src/pages/download.md
Labels: releases-note/chore

#2712 feat: cos multipart uploads write
  core/src/services/cos/backend.rs
  core/src/services/cos/core.rs
  core/src/services/cos/writer.rs
Labels: releases-note/feat

#2718 fix: Seek before the start of file should be invalid
  core/src/raw/oio/read/into_read_from_file.rs
Labels: releases-note/fix

#2623 feat(layers): support await_tree instrument
  Cargo.lock
  core/Cargo.toml
  core/src/layers/await_tree.rs
  core/src/layers/mod.rs
Labels: releases-note/feat

#2720 feat(tests): Extract fuzz test of #2717
  core/tests/behavior/fuzz.rs
  core/tests/behavior/main.rs
Labels: releases-note/feat

#2723 feat: oss multipart uploads write
  core/src/services/oss/backend.rs
  core/src/services/oss/core.rs
  core/src/services/oss/writer.rs
Labels: releases-note/feat

#2725 chore(service/minitrace): update to v0.5.0
  Cargo.lock
  core/Cargo.toml
  core/src/layers/minitrace.rs
Labels: releases-note/chore

#2728 fix(layer/minitrace): fix doctest
  Cargo.lock
  core/Cargo.toml
  core/src/layers/minitrace.rs
Labels: releases-note/fix

#2733 docs(bindings/java): improve safety doc for get_current_env
  bindings/java/src/lib.rs
Labels: releases-note/docs

#2734 feat: add override_content_type
  core/src/raw/ops.rs
  core/src/services/s3/backend.rs
  core/src/services/s3/core.rs
  core/src/types/capability.rs
  core/src/types/operator/operator_futures.rs
  core/tests/behavior/write.rs
Labels: releases-note/feat

#2737 doc: fix released doc minor error
  website/docs/contributing/release.md
Labels: releases-note/docs

#2740 chore(core): bump cargo.toml http version to 0.2.9
  bindings/zig/build.zig
  core/Cargo.toml
Labels: releases-note/chore
