Repository apache/opendal, pull requests merged in 2024-03, with the labels that each got.

#4302 feat(services/swift): add support for storage_url configuration in swift service
  .env.example
  .github/services/swift/swift/action.yml
  core/src/services/swift/backend.rs
  core/src/services/swift/compatible_services.md
  core/src/services/swift/core.rs
  core/src/services/swift/docs.md
Labels: releases-note/feat

#4306 chore(services/redis): Fix docs & comments typos
  core/src/services/redis/backend.rs
  core/src/services/redis/docs.md
Labels: releases-note/chore

#4307 feat(services/swift): add ceph test setup for swift
  .github/services/swift/ceph_rados_swift/action.yml
  core/src/services/swift/core.rs
  core/src/services/swift/lister.rs
  fixtures/swift/docker-compose-ceph-rados.yml
Labels: releases-note/feat

#4309 fix(services/hdfs): fix poll_close when retry
  core/src/services/hdfs/writer.rs
Labels: releases-note/fix

#4312 docs: Add redirect for discord and maillist
  .typos.toml
  core/src/services/swift/compatible_services.md
  website/DEPENDENCIES.node.csv
  website/docusaurus.config.js
  website/package.json
  website/pnpm-lock.yaml
Labels: releases-note/docs

#4311 build: remove `service-*` from default features
  .github/workflows/ci_core.yml
  bin/oli/Cargo.toml
  bindings/c/Cargo.toml
  core/Cargo.toml
  core/edge/file_write_on_full_disk/Cargo.toml
  core/src/docs/upgrade.md
  core/src/lib.rs
  core/src/raw/http_util/body.rs
  core/src/types/mode.rs
  core/src/types/operator/builder.rs
  integrations/dav-server/Cargo.toml
  integrations/object_store/Cargo.toml
Labels: releases-note/build

#4319 fix: fix main CI
  .github/workflows/service_test_ghac.yml
  bindings/cpp/Cargo.toml
  bindings/dotnet/Cargo.toml
  bindings/haskell/Cargo.toml
  bindings/lua/Cargo.toml
  bindings/ocaml/Cargo.toml
  bindings/php/Cargo.toml
  bindings/ruby/Cargo.toml
  core/Cargo.lock
  core/Cargo.toml
  core/src/docs/upgrade.md
Labels: releases-note/fix

#4320 fix: fix ghac CI
  .github/workflows/service_test_ghac.yml
Labels: releases-note/fix

#4322 ci: upgrade typos in ci
  .github/workflows/ci_check.yml
Labels: releases-note/ci

#4323 ci: Disable R2 until we figure what happened
  .github/services/s3/r2/disabled_action.yml
Labels: releases-note/ci

#4326 ci(s3/minio): Disable IMDSv2 for mini anonymous tests
  .github/services/s3/minio_s3_with_anonymous/action.yml
Labels: releases-note/ci

#4328 docs: publish docs for object-store-opendal
  .github/workflows/docs.yml
  README.md
  website/docs/integrations/_category_.yml
  website/docs/integrations/object_store_opendal.mdx
  website/docusaurus.config.js
Labels: releases-note/docs

#4332 docs: fix redirect error in object-store-opendal
  website/docusaurus.config.js
Labels: releases-note/docs

#4329 fix(services/dropbox): fix dropbox batch test panic in ci
  core/src/services/dropbox/core.rs
Labels: releases-note/fix

#4333 fix(services/hdfs-native): remove unsupported capabilities
  core/src/services/hdfs_native/backend.rs
  core/src/services/hdfs_native/docs.md
Labels: releases-note/fix

#4334 fix(bin/ofs): build failed when target_os != linux
  bin/ofs/Cargo.lock
  bin/ofs/src/lib.rs
Labels: releases-note/fix

#4339 chore(editorconfig): add `yaml` file type
  .editorconfig
Labels: releases-note/chore

#4340 docs(website): fix grammar and spelling
  website/blog/2024-01-22-apache-opendal-graduated/index.md
  website/community/committers/release.md
  website/community/pmc_members/podling-report.md
  website/docs/overview.md
Labels: releases-note/docs

#4341 chore(editorconfig): add `rdf` file type as `indent_size = 2`
  .editorconfig
Labels: releases-note/chore

#4343 chore(labeler): order the GitHub labeler labels
  .github/labeler.yml
Labels: releases-note/chore

#4345 chore: Cleanup of oio::Read, docs, comments, naming
  core/src/layers/chaos.rs
  core/src/layers/concurrent_limit.rs
  core/src/layers/dtrace.rs
  core/src/layers/error_context.rs
  core/src/layers/logging.rs
  core/src/layers/metrics.rs
  core/src/layers/minitrace.rs
  core/src/layers/oteltrace.rs
  core/src/layers/prometheus.rs
  core/src/layers/prometheus_client.rs
  core/src/layers/retry.rs
  core/src/layers/throttle.rs
  core/src/layers/timeout.rs
  core/src/layers/tracing.rs
  core/src/raw/enum_utils.rs
  core/src/raw/http_util/body.rs
  core/src/raw/oio/cursor.rs
  core/src/raw/oio/read/api.rs
  core/src/raw/oio/read/buffer_reader.rs
  core/src/raw/oio/read/file_read.rs
  core/src/raw/oio/read/futures_read.rs
  core/src/raw/oio/read/into_read_from_stream.rs
  core/src/raw/oio/read/into_streamable_read.rs
  core/src/raw/oio/read/lazy_read.rs
  core/src/raw/oio/read/range_read.rs
  core/src/raw/oio/read/tokio_read.rs
  core/src/services/dbfs/reader.rs
  core/src/services/ftp/util.rs
  core/src/services/hdfs_native/reader.rs
  core/src/types/reader.rs
Labels: releases-note/chore

#4348 docs(website): add local content search based on lunr plugin
  website/DEPENDENCIES.node.csv
  website/README.md
  website/docusaurus.config.js
  website/package.json
  website/pnpm-lock.yaml
Labels: releases-note/feat, releases-note/docs

#4351 feat(services/sled): add SledConfig
  core/src/services/mod.rs
  core/src/services/sled/backend.rs
  core/src/services/sled/mod.rs
Labels: releases-note/feat

#4349 refactor(core/raw): Align oio::BlockingRead API with oio::Read
  bin/ofs/Cargo.lock
  bin/oli/Cargo.lock
  bindings/c/src/reader.rs
  bindings/cpp/src/reader.rs
  bindings/nodejs/src/lib.rs
  bindings/ocaml/src/operator/reader.rs
  bindings/python/src/file.rs
  core/src/layers/blocking.rs
  core/src/layers/chaos.rs
  core/src/layers/concurrent_limit.rs
  core/src/layers/dtrace.rs
  core/src/layers/error_context.rs
  core/src/layers/logging.rs
  core/src/layers/metrics.rs
  core/src/layers/minitrace.rs
  core/src/layers/oteltrace.rs
  core/src/layers/prometheus.rs
  core/src/layers/prometheus_client.rs
  core/src/layers/retry.rs
  core/src/layers/throttle.rs
  core/src/layers/tracing.rs
  core/src/raw/enum_utils.rs
  core/src/raw/oio/cursor.rs
  core/src/raw/oio/read/api.rs
  core/src/raw/oio/read/buffer_reader.rs
  core/src/raw/oio/read/file_read.rs
  core/src/raw/oio/read/into_streamable_read.rs
  core/src/raw/oio/read/lazy_read.rs
  core/src/raw/oio/read/range_read.rs
  core/src/raw/oio/read/std_read.rs
  core/src/raw/oio/read/tokio_read.rs
  core/src/raw/tests/read.rs
  core/src/types/operator/blocking_operator.rs
  core/src/types/reader.rs
Labels: releases-note/refactor

#4352 refactor(core/oio): Migrate `oio::List` to async fn in trait
  core/src/layers/blocking.rs
  core/src/layers/complete.rs
  core/src/layers/concurrent_limit.rs
  core/src/layers/error_context.rs
  core/src/layers/immutable_index.rs
  core/src/layers/logging.rs
  core/src/layers/madsim.rs
  core/src/layers/minitrace.rs
  core/src/layers/oteltrace.rs
  core/src/layers/retry.rs
  core/src/layers/timeout.rs
  core/src/layers/tracing.rs
  core/src/raw/adapters/kv/backend.rs
  core/src/raw/adapters/typed_kv/backend.rs
  core/src/raw/enum_utils.rs
  core/src/raw/oio/list/api.rs
  core/src/raw/oio/list/flat_list.rs
  core/src/raw/oio/list/hierarchy_list.rs
  core/src/raw/oio/list/mod.rs
  core/src/raw/oio/list/page_list.rs
  core/src/raw/oio/list/prefix_list.rs
  core/src/services/alluxio/lister.rs
  core/src/services/azblob/lister.rs
  core/src/services/azdls/lister.rs
  core/src/services/azfile/lister.rs
  core/src/services/b2/lister.rs
  core/src/services/chainsafe/lister.rs
  core/src/services/cos/lister.rs
  core/src/services/dbfs/lister.rs
  core/src/services/fs/lister.rs
  core/src/services/ftp/lister.rs
  core/src/services/gcs/lister.rs
  core/src/services/gdrive/lister.rs
  core/src/services/github/lister.rs
  core/src/services/hdfs/lister.rs
  core/src/services/hdfs_native/lister.rs
  core/src/services/huggingface/lister.rs
  core/src/services/ipfs/backend.rs
  core/src/services/ipmfs/lister.rs
  core/src/services/koofr/lister.rs
  core/src/services/obs/lister.rs
  core/src/services/onedrive/lister.rs
  core/src/services/oss/lister.rs
  core/src/services/pcloud/lister.rs
  core/src/services/s3/lister.rs
  core/src/services/seafile/lister.rs
  core/src/services/sftp/lister.rs
  core/src/services/swift/lister.rs
  core/src/services/upyun/lister.rs
  core/src/services/vercel_blob/lister.rs
  core/src/services/webdav/lister.rs
  core/src/services/webhdfs/lister.rs
  core/src/services/yandex_disk/lister.rs
  core/src/types/list.rs
Labels: releases-note/refactor

#4354 docs(bin/ofs): update README
  bin/ofs/README.md
Labels: releases-note/docs

#4356 refactor(core/raw): Migrate oio::Write from WriteBuf to Bytes
  core/benches/oio/utils.rs
  core/benches/oio/write.rs
  core/src/layers/blocking.rs
  core/src/layers/complete.rs
  core/src/layers/concurrent_limit.rs
  core/src/layers/dtrace.rs
  core/src/layers/error_context.rs
  core/src/layers/logging.rs
  core/src/layers/madsim.rs
  core/src/layers/metrics.rs
  core/src/layers/minitrace.rs
  core/src/layers/oteltrace.rs
  core/src/layers/prometheus.rs
  core/src/layers/prometheus_client.rs
  core/src/layers/retry.rs
  core/src/layers/throttle.rs
  core/src/layers/timeout.rs
  core/src/layers/tracing.rs
  core/src/raw/adapters/kv/backend.rs
  core/src/raw/adapters/typed_kv/backend.rs
  core/src/raw/enum_utils.rs
  core/src/raw/oio/write/api.rs
  core/src/raw/oio/write/append_write.rs
  core/src/raw/oio/write/block_write.rs
  core/src/raw/oio/write/exact_buf_write.rs
  core/src/raw/oio/write/multipart_write.rs
  core/src/raw/oio/write/one_shot_write.rs
  core/src/raw/oio/write/range_write.rs
  core/src/services/alluxio/writer.rs
  core/src/services/azdls/writer.rs
  core/src/services/azfile/writer.rs
  core/src/services/chainsafe/writer.rs
  core/src/services/dbfs/writer.rs
  core/src/services/dropbox/writer.rs
  core/src/services/fs/writer.rs
  core/src/services/ftp/writer.rs
  core/src/services/gdrive/writer.rs
  core/src/services/ghac/writer.rs
  core/src/services/github/writer.rs
  core/src/services/hdfs/writer.rs
  core/src/services/hdfs_native/writer.rs
  core/src/services/ipmfs/backend.rs
  core/src/services/ipmfs/writer.rs
  core/src/services/koofr/writer.rs
  core/src/services/onedrive/writer.rs
  core/src/services/pcloud/writer.rs
  core/src/services/seafile/writer.rs
  core/src/services/sftp/writer.rs
  core/src/services/supabase/writer.rs
  core/src/services/swift/writer.rs
  core/src/services/vercel_artifacts/writer.rs
  core/src/services/webdav/writer.rs
  core/src/services/yandex_disk/writer.rs
  core/src/types/operator/blocking_operator.rs
  core/src/types/operator/operator.rs
  core/src/types/writer.rs
Labels: releases-note/refactor

#4353 fix(bin/ofs): only memory backend available
  bin/ofs/Cargo.lock
  bin/ofs/Cargo.toml
Labels: releases-note/fix

#4359 fix(bindings/python): Fix the semantic of `size` argument for python `File::read`
  bindings/python/src/file.rs
  bindings/python/tests/test_read.py
Labels: releases-note/fix

#4360 refactor(bindings/python): Change the return type of `File::read` to `PyResult<&PyBytes>`
  bindings/python/src/file.rs
  bindings/python/src/operator.rs
  bindings/python/src/utils.rs
Labels: releases-note/fix, releases-note/refactor

#4362 docs(services/gcs): update gcs credentials description
  core/src/services/gcs/backend.rs
  core/src/services/gcs/docs.md
Labels: releases-note/docs

#4361 refactor(core/raw): Cleanup not used `oio::WriteBuf` and `oio::ChunkedBytes` after refactor
  core/src/raw/http_util/body.rs
  core/src/raw/http_util/client.rs
  core/src/raw/http_util/multipart.rs
  core/src/raw/oio/buf/chunked_bytes.rs
  core/src/raw/oio/buf/mod.rs
  core/src/raw/oio/buf/write_buf.rs
  core/src/raw/oio/write/block_write.rs
  core/src/raw/oio/write/exact_buf_write.rs
  core/src/raw/oio/write/multipart_write.rs
  core/src/raw/oio/write/range_write.rs
  core/src/services/gcs/core.rs
  core/src/types/operator/blocking_operator.rs
Labels: releases-note/refactor

#4365 refactor: Remove reqwest related features
  .github/workflows/ci_core.yml
  core/Cargo.lock
  core/Cargo.toml
  core/benches/README.md
  core/src/docs/upgrade.md
  core/src/raw/http_util/client.rs
Labels: releases-note/refactor

#4367 fix(bindings/python): `File::write` should return the written bytes
  bindings/python/src/file.rs
  bindings/python/tests/test_write.py
Labels: releases-note/fix

#4369 ci: Fix unit tests missing protoc
  .github/workflows/ci_core.yml
Labels: releases-note/ci

#4368 docs(bindings/python): ipynb examples for polars and pandas
  bindings/python/examples/pandas.ipynb
  bindings/python/examples/polars.ipynb
Labels: releases-note/docs

#4376 feat(bindings/java): explicit async runtime
  bindings/java/.gitignore
  bindings/java/src/blocking_operator.rs
  bindings/java/src/executor.rs
  bindings/java/src/lib.rs
  bindings/java/src/main/java/org/apache/opendal/AsyncExecutor.java
  bindings/java/src/main/java/org/apache/opendal/Operator.java
  bindings/java/src/operator.rs
  bindings/java/src/test/java/org/apache/opendal/test/AsyncExecutorTest.java
  bindings/java/src/utility.rs
Labels: releases-note/feat

#4375 feat(services/surrealdb): support surrealdb service
  core/Cargo.lock
  core/Cargo.toml
  core/src/services/mod.rs
  core/src/services/surrealdb/backend.rs
  core/src/services/surrealdb/docs.md
  core/src/services/surrealdb/mod.rs
  core/src/types/scheme.rs
Labels: releases-note/feat

#4377 feat(bindings/java): avoid double dispose NativeObject
  bindings/java/src/executor.rs
  bindings/java/src/main/java/org/apache/opendal/NativeObject.java
  bindings/java/src/operator.rs
  bindings/java/src/test/java/org/apache/opendal/test/AsyncExecutorTest.java
Labels: releases-note/feat

#4379 fix(services/s3): omit default ports
  core/src/services/s3/backend.rs
Labels: releases-note/fix

#4390 ci: bump license header formatter
  .github/workflows/ci_check.yml
  bindings/go/go.mod
Labels: releases-note/ci

#4387 refactor(bin/ofs): make `ofs` API public
  bin/ofs/src/bin/ofs.rs
  bin/ofs/src/config.rs
  bin/ofs/src/fuse.rs
  bin/ofs/src/lib.rs
Labels: releases-note/refactor

#4393 feat: add ofs ctrl-c exit unmount hook
  bin/ofs/Cargo.lock
  bin/ofs/Cargo.toml
  bin/ofs/src/fuse.rs
  bin/ofs/src/lib.rs
Labels: releases-note/feat

#4395 feat(ofs): rename2 lseek copy_file_range getattr API support
  bin/ofs/src/fuse.rs
Labels: releases-note/feat

#4404 feat(services/github): make access_token optional
  core/src/services/github/backend.rs
  core/src/services/github/core.rs
Labels: releases-note/feat

#4407 feat(core/oio): Add readable buf
  core/src/raw/oio/buf/mod.rs
  core/src/raw/oio/buf/readable_buf.rs
Labels: releases-note/feat

#4403 feat(ofs): add freebsd OS support
  bin/ofs/Cargo.toml
  bin/ofs/README.md
  bin/ofs/src/config.rs
  bin/ofs/src/lib.rs
Labels: releases-note/feat

#4408 refactor(core/oio): Use ReadableBuf to remove extra clone during write
  core/benches/oio/utils.rs
  core/benches/oio/write.rs
  core/src/layers/blocking.rs
  core/src/layers/complete.rs
  core/src/layers/concurrent_limit.rs
  core/src/layers/dtrace.rs
  core/src/layers/error_context.rs
  core/src/layers/logging.rs
  core/src/layers/madsim.rs
  core/src/layers/metrics.rs
  core/src/layers/minitrace.rs
  core/src/layers/oteltrace.rs
  core/src/layers/prometheus.rs
  core/src/layers/prometheus_client.rs
  core/src/layers/retry.rs
  core/src/layers/throttle.rs
  core/src/layers/timeout.rs
  core/src/layers/tracing.rs
  core/src/raw/adapters/kv/backend.rs
  core/src/raw/adapters/typed_kv/backend.rs
  core/src/raw/enum_utils.rs
  core/src/raw/http_util/client.rs
  core/src/raw/http_util/multipart.rs
  core/src/raw/oio/buf/buffer.rs
  core/src/raw/oio/buf/readable_buf.rs
  core/src/raw/oio/write/api.rs
  core/src/raw/oio/write/append_write.rs
  core/src/raw/oio/write/block_write.rs
  core/src/raw/oio/write/exact_buf_write.rs
  core/src/raw/oio/write/multipart_write.rs
  core/src/raw/oio/write/one_shot_write.rs
  core/src/raw/oio/write/range_write.rs
  core/src/services/alluxio/writer.rs
  core/src/services/foundationdb/backend.rs
  core/src/services/fs/writer.rs
  core/src/services/ghac/writer.rs
  core/src/services/hdfs/writer.rs
  core/src/services/hdfs_native/writer.rs
  core/src/services/sftp/backend.rs
  core/src/services/sftp/reader.rs
  core/src/services/sftp/writer.rs
  core/src/services/surrealdb/backend.rs
  core/src/types/blocking_reader.rs
  core/src/types/operator/blocking_operator.rs
  core/src/types/writer.rs
  core/tests/behavior/async_write.rs
Labels: releases-note/refactor

#4410 feat(core/raw/oio): Add Writable Buf
  core/src/raw/oio/buf/mod.rs
  core/src/raw/oio/buf/readable_buf.rs
  core/src/raw/oio/buf/writable_buf.rs
Labels: releases-note/feat

#4412 chore: Remove not exist read operations
  core/src/layers/retry.rs
  core/src/raw/oio/read/api.rs
Labels: releases-note/chore

#4413 refactor(core/raw/oio): Mark oio::Write::write as an unsafe function
  core/benches/oio/utils.rs
  core/benches/oio/write.rs
  core/src/layers/blocking.rs
  core/src/layers/complete.rs
  core/src/layers/concurrent_limit.rs
  core/src/layers/dtrace.rs
  core/src/layers/error_context.rs
  core/src/layers/logging.rs
  core/src/layers/madsim.rs
  core/src/layers/metrics.rs
  core/src/layers/minitrace.rs
  core/src/layers/oteltrace.rs
  core/src/layers/prometheus.rs
  core/src/layers/prometheus_client.rs
  core/src/layers/retry.rs
  core/src/layers/throttle.rs
  core/src/layers/timeout.rs
  core/src/layers/tracing.rs
  core/src/raw/adapters/kv/backend.rs
  core/src/raw/adapters/typed_kv/backend.rs
  core/src/raw/enum_utils.rs
  core/src/raw/oio/write/api.rs
  core/src/raw/oio/write/append_write.rs
  core/src/raw/oio/write/block_write.rs
  core/src/raw/oio/write/exact_buf_write.rs
  core/src/raw/oio/write/multipart_write.rs
  core/src/raw/oio/write/one_shot_write.rs
  core/src/raw/oio/write/range_write.rs
  core/src/services/alluxio/writer.rs
  core/src/services/fs/writer.rs
  core/src/services/ghac/writer.rs
  core/src/services/hdfs/writer.rs
  core/src/services/hdfs_native/writer.rs
  core/src/services/sftp/writer.rs
  core/src/types/operator/blocking_operator.rs
  core/src/types/writer.rs
Labels: releases-note/refactor
