Repository apache/opendal, pull requests merged in 2024-06, with the labels that each got.

#4665 feat(core/types): blocking remove_all for object storage based services
  core/src/types/operator/blocking_operator.rs
  core/src/types/operator/operator.rs
Labels: releases-note/feat

#4671 doc: explain GCS authentication options
  core/src/services/gcs/docs.md
Labels: releases-note/docs

#4673 feat(core): Add more context in error context
  core/src/layers/error_context.rs
Labels: releases-note/feat

#4652 feat: init ovfs
  .github/dependabot.yml
  .github/workflows/ci_bin_ovfs.yml
  bin/ovfs/Cargo.lock
  bin/ovfs/Cargo.toml
  bin/ovfs/src/error.rs
  bin/ovfs/src/main.rs
  bin/ovfs/src/virtiofs.rs
  bin/ovfs/src/virtiofs_utils.rs
Labels: releases-note/feat

#4680 fix(ofs): Close file during flush
  .github/actions/test_behavior_bin_ofs/action.yaml
  bin/ofs/Cargo.lock
  bin/ofs/Cargo.toml
  bin/ofs/src/fuse/adapter.rs
  bin/ofs/tests/common/mod.rs
Labels: releases-note/fix

#4683 feat: Implement retry for streaming based read
  bin/oay/Cargo.lock
  bin/ofs/Cargo.lock
  bin/oli/Cargo.lock
  core/Cargo.toml
  core/src/layers/retry.rs
  core/src/raw/futures_util.rs
  core/src/raw/http_util/bytes_range.rs
  core/src/raw/ops.rs
Labels: releases-note/feat

#4684 chore(core): Fix unit tests
  core/src/raw/futures_util.rs
  core/src/raw/oio/write/multipart_write.rs
Labels: releases-note/chore

#4685 fix(core): RetryLayer could panic when other threads raises panic
  core/src/layers/retry.rs
Labels: releases-note/fix

#4688 feat(core): Implement TimeoutLayer for concurrent tasks
  core/benches/types/concurrent_tasks.rs
  core/src/layers/timeout.rs
  core/src/raw/futures_util.rs
  core/src/raw/oio/write/multipart_write.rs
  core/src/types/execute/api.rs
  core/src/types/execute/executor.rs
  core/src/types/read/buffer_stream.rs
Labels: releases-note/feat

#4690 feat(core): Add reader size check in complete reader
  core/src/layers/complete.rs
  core/src/types/error.rs
Labels: releases-note/feat

#4691 fix(core/prometheus): Fix metrics from prometheus not correct for reader
  core/src/layers/prometheus.rs
  core/src/layers/prometheus_client.rs
Labels: releases-note/fix

#4692 refactor(core): Use concurrent tasks to refactor block write
  core/src/raw/oio/write/block_write.rs
  core/src/raw/oio/write/multipart_write.rs
  core/src/services/azblob/backend.rs
  core/src/services/webhdfs/backend.rs
Labels: releases-note/refactor

#4695 chore(core): Add unit and bench tests for concurrent tasks
  core/benches/types/concurrent_tasks.rs
  core/src/raw/futures_util.rs
  core/src/raw/oio/write/block_write.rs
  core/tests/behavior/async_write.rs
Labels: releases-note/chore

#4696 refactor(core): Migrate RangeWrite to ConcurrentTasks
  core/src/raw/oio/write/range_write.rs
  core/src/services/gcs/backend.rs
Labels: releases-note/refactor

#4698 docs: Add upgrade note for v0.47
  core/src/docs/upgrade.md
Labels: releases-note/docs

#4702 docs: Add panics declare for TimeoutLayer and RetryLayer
  core/src/layers/retry.rs
  core/src/layers/timeout.rs
Labels: releases-note/docs

#4701 chore: bump version to 0.47.0
  bin/oay/Cargo.lock
  bin/oay/Cargo.toml
  bin/oay/DEPENDENCIES.rust.tsv
  bin/ofs/Cargo.lock
  bin/ofs/Cargo.toml
  bin/ofs/DEPENDENCIES.rust.tsv
  bin/oli/Cargo.lock
  bin/oli/Cargo.toml
  bin/oli/DEPENDENCIES.rust.tsv
  bin/ovfs/DEPENDENCIES.rust.tsv
  bindings/c/Cargo.toml
  bindings/c/DEPENDENCIES.rust.tsv
  bindings/cpp/CMakeLists.txt
  bindings/cpp/Cargo.toml
  bindings/cpp/DEPENDENCIES.rust.tsv
  bindings/dotnet/Cargo.toml
  bindings/dotnet/DEPENDENCIES.rust.tsv
  bindings/haskell/Cargo.toml
  bindings/haskell/DEPENDENCIES.rust.tsv
  bindings/haskell/opendal.cabal
  bindings/java/Cargo.toml
  bindings/java/DEPENDENCIES.rust.tsv
  bindings/java/pom.xml
  bindings/lua/Cargo.toml
  bindings/lua/DEPENDENCIES.rust.tsv
  bindings/nodejs/Cargo.toml
  bindings/nodejs/DEPENDENCIES.rust.tsv
  bindings/nodejs/npm/darwin-arm64/package.json
  bindings/nodejs/npm/darwin-x64/package.json
  bindings/nodejs/npm/linux-arm64-gnu/package.json
  bindings/nodejs/npm/linux-arm64-musl/package.json
  bindings/nodejs/npm/linux-x64-gnu/package.json
  bindings/nodejs/npm/win32-arm64-msvc/package.json
  bindings/nodejs/npm/win32-x64-msvc/package.json
  bindings/nodejs/package.json
  bindings/ocaml/Cargo.toml
  bindings/ocaml/DEPENDENCIES.rust.tsv
  bindings/php/Cargo.toml
  bindings/php/DEPENDENCIES.rust.tsv
  bindings/python/Cargo.toml
  bindings/python/DEPENDENCIES.rust.tsv
  bindings/ruby/Cargo.toml
  bindings/ruby/DEPENDENCIES.rust.tsv
  core/Cargo.lock
  core/Cargo.toml
  core/DEPENDENCIES.rust.tsv
  integrations/dav-server/Cargo.toml
  integrations/dav-server/DEPENDENCIES.rust.tsv
  integrations/object_store/Cargo.toml
  integrations/object_store/DEPENDENCIES.rust.tsv
  integrations/object_store/README.md
  integrations/object_store/examples/basic.rs
Labels: releases-note/chore

#4705 feat(core): Azblob supports azure workload identity
  bin/ofs/Cargo.lock
  bin/oli/Cargo.lock
  core/Cargo.lock
  core/Cargo.toml
  core/src/services/azblob/backend.rs
Labels: releases-note/feat

#4706 chore: Update changelogs for v0.47
  CHANGELOG.md
  bin/oay/Cargo.lock
  bin/oay/DEPENDENCIES.rust.tsv
  bin/ofs/Cargo.lock
  bin/ofs/DEPENDENCIES.rust.tsv
  bin/oli/Cargo.lock
  bin/oli/DEPENDENCIES.rust.tsv
  bin/ovfs/Cargo.lock
  bin/ovfs/DEPENDENCIES.rust.tsv
  bindings/c/DEPENDENCIES.rust.tsv
  bindings/cpp/DEPENDENCIES.rust.tsv
  bindings/dotnet/DEPENDENCIES.rust.tsv
  bindings/haskell/DEPENDENCIES.rust.tsv
  bindings/java/DEPENDENCIES.rust.tsv
  bindings/lua/DEPENDENCIES.rust.tsv
  bindings/nodejs/DEPENDENCIES.rust.tsv
  bindings/ocaml/DEPENDENCIES.rust.tsv
  bindings/php/DEPENDENCIES.rust.tsv
  bindings/python/DEPENDENCIES.rust.tsv
  bindings/ruby/DEPENDENCIES.rust.tsv
  core/Cargo.lock
  core/DEPENDENCIES.rust.tsv
  integrations/dav-server/DEPENDENCIES.rust.tsv
  integrations/object_store/DEPENDENCIES.rust.tsv
Labels: releases-note/chore

#4707 fix(core/oio): Make ConcurrentTasks cancel safe by only pop after ready
  core/src/raw/futures_util.rs
  core/src/raw/oio/write/multipart_write.rs
  core/src/types/execute/api.rs
Labels: releases-note/fix

#4708 chore: catch up changelog
  CHANGELOG.md
Labels: releases-note/chore

#4711 docs: fixup broken links
  website/src/components/HomepageFeatures/_feature_services.mdx
Labels: releases-note/docs

#4712 ci: verify build website on site content changes
  .github/workflows/docs.yml
Labels: releases-note/ci

#4713 chore: use more portable binutils
  scripts/release.py
  scripts/verify.py
Labels: releases-note/chore

#4717 docs: Update release.md link correspondingly
  website/community/release/release.md
Labels: releases-note/docs

#4710 feat(core): sets default chunk_size and sends buffer > chunk_size directly
  core/benches/oio/write.rs
  core/src/layers/complete.rs
  core/src/raw/oio/write/chunked_write.rs
  core/src/types/operator/operator.rs
Labels: releases-note/feat

#4723 refactor(ovfs): Split ovfs impl into virtiofs_opendal
  .github/dependabot.yml
  .github/workflows/ci_integration_fuse3.yml
  .github/workflows/ci_integration_virtiofs.yml
  bin/ovfs/Cargo.lock
  bin/ovfs/DEPENDENCIES.rust.tsv
  integrations/virtiofs/.gitignore
  integrations/virtiofs/Cargo.toml
  integrations/virtiofs/src/error.rs
  integrations/virtiofs/src/lib.rs
  integrations/virtiofs/src/virtiofs.rs
  integrations/virtiofs/src/virtiofs_util.rs
Labels: releases-note/refactor

#4730 docs: update readme for fuse3_opendal & virtiofs_opendal
  README.md
  integrations/README.md
  integrations/fuse3/README.md
  integrations/virtiofs/README.md
Labels: releases-note/docs

#4734 chore(binding/python): Upgrade pyo3 to 0.21
  bindings/python/Cargo.toml
  bindings/python/src/file.rs
  bindings/python/src/lib.rs
  bindings/python/src/operator.rs
  bindings/python/src/utils.rs
Labels: releases-note/chore

#4731 chore: Make 1.79 clippy happy
  bin/ofs/tests/common/mod.rs
  core/src/raw/version.rs
  core/src/services/aliyun_drive/core.rs
  core/src/services/b2/core.rs
  core/src/services/chainsafe/core.rs
  core/src/services/d1/model.rs
  core/src/services/icloud/core.rs
  core/src/services/oss/core.rs
  core/src/services/pcloud/core.rs
  core/src/services/swift/backend.rs
  core/src/services/yandex_disk/core.rs
  core/tests/behavior/utils.rs
Labels: releases-note/chore

#4735 fix(s3): parse MultipartUploadResponse to check error in body
  core/src/services/s3/error.rs
  core/src/services/s3/writer.rs
Labels: releases-note/fix

#4737 refactor(*): tiny refactor to the Error type
  core/src/layers/complete.rs
  core/src/raw/http_util/body.rs
  core/src/raw/std_io_util.rs
  core/src/services/aliyun_drive/error.rs
  core/src/services/alluxio/error.rs
  core/src/services/azblob/backend.rs
  core/src/services/b2/error.rs
  core/src/services/chainsafe/error.rs
  core/src/services/cloudflare_kv/backend.rs
  core/src/services/cloudflare_kv/error.rs
  core/src/services/cos/error.rs
  core/src/services/d1/error.rs
  core/src/services/d1/model.rs
  core/src/services/dbfs/error.rs
  core/src/services/dropbox/backend.rs
  core/src/services/dropbox/core.rs
  core/src/services/dropbox/error.rs
  core/src/services/gcs/error.rs
  core/src/services/gdrive/core.rs
  core/src/services/gdrive/error.rs
  core/src/services/ghac/backend.rs
  core/src/services/ghac/error.rs
  core/src/services/github/error.rs
  core/src/services/hdfs_native/error.rs
  core/src/services/http/error.rs
  core/src/services/huggingface/error.rs
  core/src/services/icloud/core.rs
  core/src/services/ipfs/error.rs
  core/src/services/ipmfs/error.rs
  core/src/services/koofr/error.rs
  core/src/services/obs/error.rs
  core/src/services/onedrive/error.rs
  core/src/services/oss/error.rs
  core/src/services/pcloud/backend.rs
  core/src/services/pcloud/core.rs
  core/src/services/pcloud/error.rs
  core/src/services/pcloud/lister.rs
  core/src/services/pcloud/writer.rs
  core/src/services/s3/backend.rs
  core/src/services/s3/error.rs
  core/src/services/s3/lister.rs
  core/src/services/s3/writer.rs
  core/src/services/seafile/core.rs
  core/src/services/seafile/error.rs
  core/src/services/supabase/error.rs
  core/src/services/swift/error.rs
  core/src/services/upyun/error.rs
  core/src/services/upyun/writer.rs
  core/src/services/vercel_artifacts/error.rs
  core/src/services/vercel_blob/error.rs
  core/src/services/webdav/core.rs
  core/src/services/webdav/error.rs
  core/src/services/webhdfs/error.rs
  core/src/services/yandex_disk/error.rs
  core/src/types/error.rs
Labels: releases-note/refactor

#4740 feat(services): add optional access_token for AliyunDrive
  core/src/services/aliyun_drive/backend.rs
  core/src/services/aliyun_drive/core.rs
  core/src/services/aliyun_drive/docs.md
Labels: releases-note/feat, releases-note/refactor

#4741 docs: Polish README and links to docs
  README.md
Labels: releases-note/docs

#4742 docs: Enhance maintainability of the service section
  README.md
Labels: releases-note/docs

#4743 chore(docs): Add new line in lone services
  README.md
Labels: releases-note/chore

#4745 docs: Polish opendal rust core README
  README.md
  core/README.md
Labels: releases-note/docs

#4744 refactor(aliyun-drive): rewrite writer part
  core/Cargo.toml
  core/src/services/aliyun_drive/backend.rs
  core/src/services/aliyun_drive/core.rs
  core/src/services/aliyun_drive/docs.md
  core/src/services/aliyun_drive/error.rs
  core/src/services/aliyun_drive/writer.rs
Labels: releases-note/refactor

#4751 refactor(dav-server): Polish dav-server integration details
  README.md
  bin/oay/Cargo.lock
  bin/oay/Cargo.toml
  bin/oay/src/services/s3/service.rs
  bin/oay/src/services/webdav/service.rs
  core/README.md
  integrations/dav-server/Cargo.toml
  integrations/dav-server/README.md
  integrations/dav-server/src/dir.rs
  integrations/dav-server/src/dir_entry.rs
  integrations/dav-server/src/file.rs
  integrations/dav-server/src/fs.rs
  integrations/dav-server/src/lib.rs
  integrations/dav-server/src/metadata.rs
  integrations/dav-server/src/utils.rs
  integrations/object_store/README.md
Labels: releases-note/refactor

#4753 feat(unftp-sbe): Add integration for unftp-sbe
  integrations/README.md
  integrations/unftp-sbe/Cargo.lock
  integrations/unftp-sbe/Cargo.toml
  integrations/unftp-sbe/README.md
  integrations/unftp-sbe/src/lib.rs
Labels: releases-note/feat

#4754 fix(services/aliyun-drive): unable to list `/`
  core/src/services/aliyun_drive/core.rs
Labels: releases-note/fix

#4755 refactor(core): Remove unused `size` for `RangeWrite`.
  core/src/raw/oio/write/range_write.rs
  core/src/services/gcs/writer.rs
Labels: releases-note/refactor

#4760 chore: Bump to version 0.47.1 with changelog update
  CHANGELOG.md
Labels: releases-note/chore

#4762 ci(nodejs): Disable services-all on windows
  .github/workflows/ci_bindings_nodejs.yml
Labels: releases-note/ci

#4763 chore: Bump to 0.47.1-rc.2
  CHANGELOG.md
Labels: releases-note/chore

#4657 ci: set behavior test ci for aliyun drive
  .env.example
  .github/services/aliyun_drive/aliyun_drive/action.yml
  bindings/java/Cargo.toml
  bindings/nodejs/Cargo.toml
  bindings/python/Cargo.toml
  core/src/services/aliyun_drive/lister.rs
Labels: releases-note/ci

#4693 feat(services/compfs): basic `Access` impl
  core/Cargo.lock
  core/Cargo.toml
  core/src/services/compfs/backend.rs
  core/src/services/compfs/core.rs
  core/src/services/compfs/lister.rs
  core/src/services/compfs/reader.rs
  core/src/services/compfs/writer.rs
Labels: releases-note/feat

#4766 fix(services/aliyun-drive): list dir without trailing slash
  core/src/services/aliyun_drive/backend.rs
  core/src/services/aliyun_drive/lister.rs
Labels: releases-note/fix

#4765 feat(unftp-sbe): impl `OpendalStorage`
  integrations/unftp-sbe/Cargo.lock
  integrations/unftp-sbe/Cargo.toml
  integrations/unftp-sbe/src/lib.rs
Labels: releases-note/feat

#4775 fix(unftp-sbe): remove buffer for get
  integrations/unftp-sbe/Cargo.lock
  integrations/unftp-sbe/Cargo.toml
  integrations/unftp-sbe/src/lib.rs
Labels: releases-note/fix

#4770 chore(ci): disable aliyun_drive for bindings test
  .github/scripts/test_behavior/plan.py
  core/src/services/aliyun_drive/backend.rs
  core/src/services/aliyun_drive/core.rs
Labels: releases-note/chore

#4777 doc(unftp-sbe): adds example and readme
  README.md
  integrations/unftp-sbe/README.md
  integrations/unftp-sbe/examples/main.rs
Labels: releases-note/docs

#4778 feat(services/compfs): implement auxiliary functions
  core/src/services/compfs/backend.rs
  core/src/services/compfs/core.rs
  core/src/services/compfs/lister.rs
  core/src/services/compfs/reader.rs
  core/src/services/compfs/writer.rs
Labels: releases-note/feat

#4781 fix(services/aliyun-drive): write op cannot overwrite existing files
  core/src/services/aliyun_drive/backend.rs
  core/src/services/aliyun_drive/core.rs
Labels: releases-note/fix

#4787 feat: make AwaitTreeLayer covers oio::Read and oio::Write
  core/src/layers/await_tree.rs
Labels: releases-note/feat

#4791 feat: Nodejs add devbox
  bindings/nodejs/CONTRIBUTING.md
  bindings/nodejs/devbox.json
  bindings/nodejs/devbox.lock
Labels: releases-note/feat

#4789 feat: make AsyncBacktraceLayer covers oio::Read and oio::Write
  core/src/layers/async_backtrace.rs
Labels: releases-note/feat

#4798 ci: Fix lib-darwin-x64 no released
  .github/workflows/ci_bindings_nodejs.yml
Labels: releases-note/ci

#4785 feat(nodejs): add `WriteOptions` for write methods
  bindings/nodejs/.prettierignore
  bindings/nodejs/generated.d.ts
  bindings/nodejs/src/lib.rs
  bindings/nodejs/tests/suites/async.suite.mjs
  bindings/nodejs/tests/suites/sync.suite.mjs
Labels: releases-note/feat

#4799 doc(nodejs): update upgrade.md
  bindings/nodejs/upgrade.md
Labels: releases-note/docs

#4803 fix(core/services/onedrive): remove @odata.count for onedrive list op
  core/src/services/onedrive/graph_model.rs
Labels: releases-note/fix

#4805 chore(unftp-sbe): remove Cargo.lock
  integrations/unftp-sbe/.gitignore
  integrations/unftp-sbe/Cargo.lock
Labels: releases-note/chore

#4806 fix(core): Gcs's RangeWrite doesn't support concurrent write
  core/src/services/gcs/backend.rs
  core/tests/behavior/async_write.rs
Labels: releases-note/fix

#4809 ci(unftp-sbe): init
  .github/workflows/ci_integration_unftp_sbe.yml
Labels: releases-note/ci

#4779 feat: setup cloud filter integration
  integrations/README.md
  integrations/cloudfilter/.gitignore
  integrations/cloudfilter/Cargo.toml
  integrations/cloudfilter/DEPENDENCIES.rust.tsv
  integrations/cloudfilter/README.md
  integrations/cloudfilter/src/lib.rs
Labels: releases-note/feat

#4795 feat: add position write
  core/src/raw/oio/write/mod.rs
  core/src/raw/oio/write/position_write.rs
Labels: releases-note/feat

#4811 ci: Build docs for all integrations
  .github/workflows/docs.yml
Labels: releases-note/ci

#4813 docs: Add README and rustdoc for fuse3_opendal
  README.md
  integrations/fuse3/README.md
  integrations/fuse3/src/file.rs
  integrations/fuse3/src/file_system.rs
  integrations/fuse3/src/lib.rs
Labels: releases-note/docs

#4816 fix(core): write concurrent doesn't set correctly
  core/src/types/operator/operator_futures.rs
Labels: releases-note/feat, releases-note/fix

#4720 feat(ovfs): add filesystem to handle message
  integrations/virtiofs/src/filesystem.rs
  integrations/virtiofs/src/filesystem_message.rs
  integrations/virtiofs/src/lib.rs
Labels: releases-note/feat

#4788 refactor(core): Remove unused layer `MadsimLayer`
  core/Cargo.lock
  core/Cargo.toml
  core/src/layers/madsim.rs
  core/src/layers/mod.rs
Labels: releases-note/refactor

#4819 feat(unftp-sbe): add derives for `OpendalMetadata`
  integrations/unftp-sbe/src/lib.rs
Labels: releases-note/feat

#4823 fix(tests/behavior): skip test of write_with_overwrite for ghac
  core/tests/behavior/async_write.rs
Labels: releases-note/fix

#4814 fix(docs): some typos in website and nodejs binding docs
  bindings/nodejs/generated.d.ts
  bindings/nodejs/generated.js
  bindings/nodejs/package.json
  bindings/nodejs/pnpm-lock.yaml
  bindings/nodejs/src/capability.rs
  bindings/nodejs/src/lib.rs
  website/docs/binding-nodejs.md
  website/docs/binding-python.md
  website/docs/overview.md
  website/docs/quickstart.md
Labels: releases-note/fix

#4824 docs: use version variable in gradle, same to maven
  bindings/java/README.md
Labels: releases-note/docs

#4827 ci(scripts): Add a script to generate version list
  scripts/constants.py
  scripts/dependencies.py
  scripts/merge_local_staging.py
  scripts/release.py
  scripts/verify.py
  scripts/version.py
  website/community/release/release.md
Labels: releases-note/ci

#4829 chore: Bump version to 0.47.2
  CHANGELOG.md
  bin/oay/Cargo.lock
  bin/oay/Cargo.toml
  bin/oay/DEPENDENCIES.rust.tsv
  bin/ofs/Cargo.lock
  bin/ofs/Cargo.toml
  bin/ofs/DEPENDENCIES.rust.tsv
  bin/oli/Cargo.lock
  bin/oli/Cargo.toml
  bin/oli/DEPENDENCIES.rust.tsv
  bindings/c/Cargo.toml
  bindings/c/DEPENDENCIES.rust.tsv
  bindings/cpp/CMakeLists.txt
  bindings/cpp/Cargo.toml
  bindings/cpp/DEPENDENCIES.rust.tsv
  bindings/dotnet/Cargo.toml
  bindings/dotnet/DEPENDENCIES.rust.tsv
  bindings/haskell/Cargo.toml
  bindings/haskell/DEPENDENCIES.rust.tsv
  bindings/haskell/opendal.cabal
  bindings/java/Cargo.toml
  bindings/java/DEPENDENCIES.rust.tsv
  bindings/java/pom.xml
  bindings/lua/Cargo.toml
  bindings/lua/DEPENDENCIES.rust.tsv
  bindings/nodejs/Cargo.toml
  bindings/nodejs/DEPENDENCIES.rust.tsv
  bindings/nodejs/npm/darwin-arm64/package.json
  bindings/nodejs/npm/darwin-x64/package.json
  bindings/nodejs/npm/linux-arm64-gnu/package.json
  bindings/nodejs/npm/linux-arm64-musl/package.json
  bindings/nodejs/npm/linux-x64-gnu/package.json
  bindings/nodejs/npm/win32-arm64-msvc/package.json
  bindings/nodejs/npm/win32-x64-msvc/package.json
  bindings/nodejs/upgrade.md
  bindings/ocaml/DEPENDENCIES.rust.tsv
  bindings/php/Cargo.toml
  bindings/php/DEPENDENCIES.rust.tsv
  bindings/python/Cargo.toml
  bindings/python/DEPENDENCIES.rust.tsv
  bindings/ruby/Cargo.toml
  bindings/ruby/DEPENDENCIES.rust.tsv
  core/Cargo.lock
  core/Cargo.toml
  core/DEPENDENCIES.rust.tsv
  integrations/cloudfilter/DEPENDENCIES.rust.tsv
  integrations/dav-server/Cargo.toml
  integrations/dav-server/DEPENDENCIES.rust.tsv
  integrations/fuse3/Cargo.toml
  integrations/fuse3/DEPENDENCIES.rust.tsv
  integrations/object_store/Cargo.toml
  integrations/object_store/DEPENDENCIES.rust.tsv
  integrations/unftp-sbe/Cargo.toml
  integrations/unftp-sbe/DEPENDENCIES.rust.tsv
  integrations/virtiofs/DEPENDENCIES.rust.tsv
  scripts/constants.py
Labels: releases-note/chore

#4830 fix(core/aliyun_drive): Fix write_multi_max_size might overflow
  core/src/services/aliyun_drive/backend.rs
Labels: releases-note/fix

#4831 chore: Bump to 0.47.2 (Round 2)
  CHANGELOG.md
Labels: releases-note/chore
