Repository apache/opendal, pull requests merged in 2024-05, with the labels that each got.

#4565 build: staging website
  .asf.yaml
  .github/workflows/docs.yml
  website/DEPENDENCIES.node.csv
  website/docusaurus.config.js
  website/package.json
  website/pnpm-lock.yaml
  website/src/components/DownloadLink/index.js
  website/src/pages/download.mdx
Labels: releases-note/build

#4566 build: fixup follow asfyaml rules
  .github/workflows/docs.yml
Labels: releases-note/build

#4567 chore: bump version to 0.46.0
  .github/actions/setup/action.yaml
  CHANGELOG.md
  bin/oay/Cargo.lock
  bin/oay/Cargo.toml
  bin/oay/DEPENDENCIES.rust.tsv
  bin/ofs/Cargo.lock
  bin/ofs/Cargo.toml
  bin/ofs/DEPENDENCIES.rust.tsv
  bin/oli/Cargo.lock
  bin/oli/Cargo.toml
  bin/oli/DEPENDENCIES.rust.tsv
  bindings/c/Cargo.toml
  bindings/c/DEPENDENCIES.rust.tsv
  bindings/cpp/CMakeLists.txt
  bindings/cpp/Cargo.toml
  bindings/cpp/DEPENDENCIES.rust.tsv
  bindings/dotnet/Cargo.toml
  bindings/dotnet/DEPENDENCIES.rust.tsv
  bindings/haskell/Cargo.toml
  bindings/haskell/DEPENDENCIES.rust.tsv
  bindings/haskell/opendal.cabal
  bindings/java/Cargo.toml
  bindings/java/DEPENDENCIES.rust.tsv
  bindings/java/pom.xml
  bindings/lua/Cargo.toml
  bindings/lua/DEPENDENCIES.rust.tsv
  bindings/nodejs/Cargo.toml
  bindings/nodejs/DEPENDENCIES.rust.tsv
  bindings/nodejs/npm/darwin-arm64/package.json
  bindings/nodejs/npm/darwin-x64/package.json
  bindings/nodejs/npm/linux-arm64-gnu/package.json
  bindings/nodejs/npm/linux-arm64-musl/package.json
  bindings/nodejs/npm/linux-x64-gnu/package.json
  bindings/nodejs/npm/win32-arm64-msvc/package.json
  bindings/nodejs/npm/win32-x64-msvc/package.json
  bindings/nodejs/package.json
  bindings/ocaml/Cargo.toml
  bindings/ocaml/DEPENDENCIES.rust.tsv
  bindings/php/Cargo.toml
  bindings/php/DEPENDENCIES.rust.tsv
  bindings/python/Cargo.toml
  bindings/python/DEPENDENCIES.rust.tsv
  bindings/ruby/Cargo.toml
  bindings/ruby/DEPENDENCIES.rust.tsv
  core/Cargo.lock
  core/Cargo.toml
  core/DEPENDENCIES.rust.tsv
  core/edge/file_write_on_full_disk/Cargo.toml
  core/edge/s3_aws_assume_role_with_web_identity/Cargo.toml
  core/edge/s3_read_on_wasm/Cargo.toml
  deny.toml
  integrations/dav-server/Cargo.toml
  integrations/dav-server/DEPENDENCIES.rust.tsv
  integrations/object_store/Cargo.toml
  integrations/object_store/DEPENDENCIES.rust.tsv
  scripts/dependencies.py
Labels: releases-note/chore

#4568 ci: fixup release java action
  .github/workflows/release_java.yml
Labels: releases-note/ci

#4569 ci: fixup release nodejs and rc site
  .github/workflows/ci_bindings_nodejs.yml
  .github/workflows/docs.yml
Labels: releases-note/ci

#4570 ci: workaround any special character issues on autostage
  .github/workflows/docs.yml
Labels: releases-note/ci

#4571 chore: fixup release docs and scripts
  scripts/release.py
  website/community/committers/release.md
Labels: releases-note/chore

#4572 chore: Make rust 1.78 happy
  core/src/lib.rs
  core/src/services/b2/core.rs
  core/src/services/dropbox/core.rs
  core/src/services/gcs/lister.rs
  core/src/services/gdrive/core.rs
  core/src/services/swift/lister.rs
  core/src/services/webhdfs/lister.rs
  core/src/types/read/buffer_stream.rs
  core/src/types/read/futures_async_reader.rs
  core/src/types/read/futures_bytes_stream.rs
  core/src/types/read/reader.rs
  core/src/types/write/buffer_sink.rs
  core/src/types/write/futures_async_writer.rs
  core/src/types/write/futures_bytes_sink.rs
  core/tests/behavior/utils.rs
Labels: releases-note/chore

#4574 refactor(core): Align naming for `AccessorDyn`
  core/src/raw/accessor.rs
Labels: releases-note/refactor

#4578 chore: fixup items identified in releases
  .github/workflows/docs.yml
  website/community/committers/release.md
  website/community/news.md
Labels: releases-note/chore

#4577 feat(core/types): change oio::BlockingReader to Arc<dyn oio::BlockingReader>
  core/src/layers/type_eraser.rs
  core/src/raw/oio/read/api.rs
  core/src/types/blocking_read/blocking_reader.rs
Labels: releases-note/feat

#4582 fix: format_object_meta should not require metakeys that don't exist
  integrations/object_store/src/lib.rs
Labels: releases-note/feat, releases-note/fix

#4580 feat: add checksums to MultiPartComplete
  core/src/raw/oio/write/multipart_write.rs
  core/src/services/b2/writer.rs
  core/src/services/cos/writer.rs
  core/src/services/obs/writer.rs
  core/src/services/oss/writer.rs
  core/src/services/s3/core.rs
  core/src/services/s3/writer.rs
  core/src/services/upyun/writer.rs
  core/src/services/vercel_blob/writer.rs
Labels: releases-note/feat

#4584 fix(devcontainer/post_create.sh): change pnpm@stable to pnpm@latest
  .devcontainer/post_create.sh
Labels: releases-note/fix

#4587 chore: Contribute ParadeDB
  README.md
Labels: releases-note/chore

#4590 chore(deps): Bump object_store to 0.10
  integrations/object_store/Cargo.toml
  integrations/object_store/src/lib.rs
Labels: releases-note/chore

#4600 chore: remove outdated scan op in all docs.md
  core/src/docs/internals/accessor.rs
  core/src/services/alluxio/docs.md
  core/src/services/atomicserver/docs.md
  core/src/services/azblob/docs.md
  core/src/services/azdls/docs.md
  core/src/services/azfile/docs.md
  core/src/services/b2/docs.md
  core/src/services/cacache/docs.md
  core/src/services/chainsafe/docs.md
  core/src/services/cloudflare_kv/docs.md
  core/src/services/cos/docs.md
  core/src/services/d1/docs.md
  core/src/services/dashmap/docs.md
  core/src/services/dbfs/docs.md
  core/src/services/etcd/docs.md
  core/src/services/foundationdb/docs.md
  core/src/services/fs/docs.md
  core/src/services/ftp/docs.md
  core/src/services/gcs/docs.md
  core/src/services/ghac/docs.md
  core/src/services/github/docs.md
  core/src/services/gridfs/docs.md
  core/src/services/hdfs/docs.md
  core/src/services/http/docs.md
  core/src/services/huggingface/docs.md
  core/src/services/ipfs/docs.md
  core/src/services/ipmfs/builder.rs
  core/src/services/ipmfs/docs.md
  core/src/services/koofr/docs.md
  core/src/services/libsql/docs.md
  core/src/services/memcached/docs.md
  core/src/services/memory/docs.md
  core/src/services/mini_moka/docs.md
  core/src/services/moka/docs.md
  core/src/services/mongodb/docs.md
  core/src/services/mysql/docs.md
  core/src/services/obs/docs.md
  core/src/services/onedrive/docs.md
  core/src/services/oss/docs.md
  core/src/services/pcloud/docs.md
  core/src/services/persy/docs.md
  core/src/services/postgresql/docs.md
  core/src/services/redb/docs.md
  core/src/services/redis/docs.md
  core/src/services/rocksdb/docs.md
  core/src/services/s3/docs.md
  core/src/services/seafile/docs.md
  core/src/services/sftp/docs.md
  core/src/services/sled/docs.md
  core/src/services/supabase/backend.rs
  core/src/services/supabase/docs.md
  core/src/services/surrealdb/docs.md
  core/src/services/swift/docs.md
  core/src/services/tikv/docs.md
  core/src/services/upyun/docs.md
  core/src/services/vercel_artifacts/docs.md
  core/src/services/vercel_blob/docs.md
  core/src/services/webdav/docs.md
  core/src/services/webhdfs/docs.md
  core/src/services/yandex_disk/docs.md
Labels: releases-note/chore

#4601 ci: upgrade typos to 1.21.0 and ignore changelog
  .github/workflows/ci_check.yml
  .typos.toml
Labels: releases-note/ci

#4602 fix(bin/ofs): ofs read only mount
  bin/ofs/src/lib.rs
Labels: releases-note/fix

#4605 docs: fix Operator::writer doc comment
  core/src/types/operator/operator.rs
Labels: releases-note/docs

#4607 ci: Disable jfrog webdav tests for it's keeping failed
  .github/services/webdav/jfrog/disabled_action.yml
Labels: releases-note/ci

#4612 fix(raw): Allow retrying request while decoding response failed
  core/src/raw/http_util/client.rs
  core/src/types/error.rs
Labels: releases-note/fix

#4613 fix(core): return None if metadata unavailable
  core/src/types/metadata.rs
Labels: releases-note/fix

#4606 feat(doc): update object_store_opendal README
  integrations/object_store/README.md
Labels: releases-note/feat

#4623 fix(bindings/python): Use abi3 and increase MSPV to 3.11
  bindings/python/Cargo.toml
  bindings/python/pyproject.toml
Labels: releases-note/fix

#4585 feat(services/aliyun-drive): support AliyunDrive
  .github/services/aliyun_drive/aliyun_drive/disabled_action.yml
  core/Cargo.toml
  core/src/services/aliyun_drive/backend.rs
  core/src/services/aliyun_drive/core.rs
  core/src/services/aliyun_drive/docs.md
  core/src/services/aliyun_drive/error.rs
  core/src/services/aliyun_drive/lister.rs
  core/src/services/aliyun_drive/mod.rs
  core/src/services/aliyun_drive/reader.rs
  core/src/services/aliyun_drive/writer.rs
  core/src/services/mod.rs
  core/src/types/operator/builder.rs
  core/src/types/scheme.rs
Labels: releases-note/feat

#4630 feat(bindings/python): Update type annotations
  bindings/python/python/opendal/__init__.pyi
  bindings/python/python/opendal/layers.pyi
Labels: releases-note/feat

#4626 feat: implement OperatorInputStream and OperatorOutputStream
  bindings/java/pom.xml
  bindings/java/src/blocking_operator.rs
  bindings/java/src/lib.rs
  bindings/java/src/main/java/org/apache/opendal/BlockingOperator.java
  bindings/java/src/main/java/org/apache/opendal/OperatorInputStream.java
  bindings/java/src/main/java/org/apache/opendal/OperatorOutputStream.java
  bindings/java/src/operator_input_stream.rs
  bindings/java/src/operator_output_stream.rs
  bindings/java/src/test/java/org/apache/opendal/test/OperatorInputOutputStreamTest.java
  core/src/raw/ops.rs
  core/src/types/blocking_read/blocking_reader.rs
  core/src/types/blocking_read/std_bytes_iterator.rs
Labels: releases-note/feat

#4631 fix: Fetch the content length while end_bound is unknown
  bin/oli/src/commands/cat.rs
  bin/oli/src/commands/cp.rs
  bindings/nodejs/src/lib.rs
  bindings/python/src/file.rs
  bindings/python/src/operator.rs
  core/benches/ops/read.rs
  core/src/layers/retry.rs
  core/src/raw/atomic_util.rs
  core/src/raw/mod.rs
  core/src/types/operator/operator.rs
  core/src/types/read/buffer_stream.rs
  core/src/types/read/futures_bytes_stream.rs
  core/src/types/read/reader.rs
  core/tests/behavior/async_read.rs
  integrations/object_store/src/lib.rs
Labels: releases-note/fix

#4632 refactor(core): core doesn't expose invalid input error anymore
  bindings/java/src/error.rs
  bindings/java/src/main/java/org/apache/opendal/OpenDALException.java
  bindings/python/python/opendal/exceptions.pyi
  bindings/python/src/errors.rs
  bindings/python/src/lib.rs
  core/src/raw/std_io_util.rs
  core/src/services/alluxio/error.rs
  core/src/services/gridfs/backend.rs
  core/src/services/hdfs_native/error.rs
  core/src/services/mongodb/backend.rs
  core/src/services/seafile/error.rs
  core/src/services/yandex_disk/error.rs
  core/src/types/error.rs
Labels: releases-note/refactor

#4633 refactor(core): Return unexpected error while content incomplete happen
  bin/ofs/src/fuse.rs
  bindings/java/src/error.rs
  bindings/python/python/opendal/exceptions.pyi
  bindings/python/src/errors.rs
  bindings/python/src/lib.rs
  core/src/raw/http_util/client.rs
  core/src/types/error.rs
Labels: releases-note/refactor

#4617 fix: ofs write behavior
  .github/actions/test_behavior_bin_ofs/action.yaml
  .github/workflows/test_behavior_bin_ofs.yml
  bin/ofs/src/fuse.rs
  bin/ofs/tests/common/mod.rs
  bin/ofs/tests/file.rs
  bin/ofs/tests/path.rs
Labels: releases-note/fix

#4635 ci: use official typos github action
  .github/workflows/ci_check.yml
Labels: releases-note/ci

#4603 feat(bench): add buffer benchmark
  core/Cargo.toml
  core/benches/types/README.md
  core/benches/types/buffer.rs
  core/benches/types/main.rs
  core/benches/types/utils.rs
Labels: releases-note/feat

#4637 refactor(bin/ofs): Fuse API
  bin/ofs/src/bin/ofs.rs
  bin/ofs/src/config.rs
  bin/ofs/src/fuse/adapter.rs
  bin/ofs/src/fuse/mod.rs
  bin/ofs/src/lib.rs
  bin/ofs/tests/common/mod.rs
  bin/ofs/tests/file.rs
Labels: releases-note/refactor

#4643 chore(deps): make crc32c optional under services-s3
  core/Cargo.toml
Labels: releases-note/chore

#4641 refactor(binding/java)!: rename blocking and async operator
  bindings/java/README.md
  bindings/java/src/async_operator.rs
  bindings/java/src/blocking_operator.rs
  bindings/java/src/executor.rs
  bindings/java/src/lib.rs
  bindings/java/src/main/java/org/apache/opendal/AsyncOperator.java
  bindings/java/src/main/java/org/apache/opendal/BlockingOperator.java
  bindings/java/src/main/java/org/apache/opendal/Operator.java
  bindings/java/src/main/java/org/apache/opendal/OperatorInputStream.java
  bindings/java/src/main/java/org/apache/opendal/OperatorOutputStream.java
  bindings/java/src/operator.rs
  bindings/java/src/test/java/org/apache/opendal/test/AsyncExecutorTest.java
  bindings/java/src/test/java/org/apache/opendal/test/LayerTest.java
  bindings/java/src/test/java/org/apache/opendal/test/MetadataTest.java
  bindings/java/src/test/java/org/apache/opendal/test/OperatorDuplicateTest.java
  bindings/java/src/test/java/org/apache/opendal/test/OperatorInfoTest.java
  bindings/java/src/test/java/org/apache/opendal/test/OperatorInputOutputStreamTest.java
  bindings/java/src/test/java/org/apache/opendal/test/OperatorUtf8DecodeTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/AsyncAppendTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/AsyncCopyTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/AsyncCreateDirTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/AsyncListTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/AsyncPresignTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/AsyncReadOnlyTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/AsyncRenameTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/AsyncWriteTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/BehaviorExtension.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/BehaviorTestBase.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/BlockingCopyTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/BlockingCreateDirTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/BlockingListTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/BlockingReadOnlyTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/BlockingRenameTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/BlockingWriteTest.java
  bindings/java/upgrade.md
Labels: releases-note/refactor

#4648 feat: Add Executor struct and Execute trait
  core/Cargo.toml
  core/src/types/execute/api.rs
  core/src/types/execute/executor.rs
  core/src/types/execute/executors/mod.rs
  core/src/types/execute/executors/tokio_executor.rs
  core/src/types/execute/mod.rs
  core/src/types/mod.rs
Labels: releases-note/feat

#4649 feat: Add executor in OpXxx and Operator
  core/src/lib.rs
  core/src/raw/ops.rs
  core/src/types/execute/api.rs
  core/src/types/execute/executor.rs
  core/src/types/operator/operator.rs
  core/src/types/operator/operator_futures.rs
Labels: releases-note/feat

#4650 build(deps): upgrade crc32c to 0.6.6 for nightly toolchain
  core/Cargo.lock
  core/Cargo.toml
  core/src/types/buffer.rs
Labels: releases-note/build

#4653 feat: Implement and refactor concurrent tasks for multipart write
  core/Cargo.toml
  core/benches/types/concurrent_tasks.rs
  core/benches/types/main.rs
  core/src/raw/futures_util.rs
  core/src/raw/mod.rs
  core/src/raw/oio/write/multipart_write.rs
  core/src/services/aliyun_drive/backend.rs
  core/src/services/b2/backend.rs
  core/src/services/cos/backend.rs
  core/src/services/obs/backend.rs
  core/src/services/oss/backend.rs
  core/src/services/s3/backend.rs
  core/src/services/upyun/backend.rs
  core/src/services/vercel_blob/backend.rs
  core/src/types/execute/api.rs
  core/src/types/execute/executor.rs
  core/src/types/execute/executors/tokio_executor.rs
Labels: releases-note/feat

#4659 fix(core/types): remove_all not work under object-store backend
  core/src/types/operator/operator.rs
Labels: releases-note/fix
