Repository apache/opendal, pull requests merged in 2024-08, with the labels that each got.

#4951 fix(layers/promethues-client): doc link
  core/src/layers/fastrace.rs
  core/src/layers/logging.rs
  core/src/layers/metrics.rs
  core/src/layers/oteltrace.rs
  core/src/layers/prometheus.rs
  core/src/layers/prometheus_client.rs
  core/src/layers/timeout.rs
  core/src/layers/tracing.rs
Labels: releases-note/fix

#4952 ci: Try fix opendal-lua build
  bindings/lua/opendal-0.1.3-1.rockspec
Labels: releases-note/ci

#4953 chore(core): fix nightly lints
  core/src/services/dropbox/core.rs
  core/src/services/redis/backend.rs
  core/src/services/s3/backend.rs
Labels: releases-note/chore

#4954 docs: nominate-committer add announcement template
  website/community/pmc_members/nominate-committer.md
Labels: releases-note/docs

#4957 refactor(java)!: Rename artifacts id opendal-java to opendal
  bindings/java/README.md
  bindings/java/pom.xml
  bindings/java/upgrade.md
Labels: releases-note/refactor

#4958 feat: introduce opendal `AsyncWriter` for parquet integrations
  .github/workflows/ci_integration_parquet.yml
  .github/workflows/docs.yml
  integrations/parquet/.gitignore
  integrations/parquet/Cargo.toml
  integrations/parquet/examples/async_writer.rs
  integrations/parquet/src/async_writer.rs
  integrations/parquet/src/lib.rs
Labels: releases-note/feat

#4970 feat(services/http): implement presigned request for backends without authorization
  core/src/services/http/backend.rs
Labels: releases-note/feat

#4971 feat(bindings/python): strip the library for minimum file size
  bindings/python/pyproject.toml
Labels: releases-note/feat

#4965 feat(gcs): allow unauthenticated requests
  core/src/services/gcs/backend.rs
  core/src/services/gcs/core.rs
Labels: releases-note/feat

#4979 fix(gcs): do not skip signing with `allow_anonymous`
  core/src/services/gcs/core.rs
Labels: releases-note/fix

#4972 feat: introduce opendal `AsyncReader` for parquet integrations
  integrations/parquet/Cargo.toml
  integrations/parquet/examples/async_reader.rs
  integrations/parquet/src/async_reader.rs
  integrations/parquet/src/async_writer.rs
  integrations/parquet/src/lib.rs
Labels: releases-note/feat

#4981 feat(services/s3): add role_session_name in assume roles
  core/src/services/s3/backend.rs
Labels: releases-note/feat

#4980 chore(integrations/parquet): add README
  README.md
  integrations/parquet/README.md
  integrations/parquet/src/lib.rs
Labels: releases-note/chore

#4984 feat: support root path for moka and mini-moka
  core/src/services/dashmap/backend.rs
  core/src/services/mini_moka/backend.rs
  core/src/services/moka/backend.rs
  core/src/types/builder.rs
Labels: releases-note/feat

#4983 feat(ovfs): export VirtioFs struct
  integrations/virtiofs/Cargo.toml
  integrations/virtiofs/src/filesystem.rs
  integrations/virtiofs/src/lib.rs
  integrations/virtiofs/src/virtiofs.rs
  integrations/virtiofs/src/virtiofs_util.rs
Labels: releases-note/feat

#4985 chore(core): Bump redis version
  core/Cargo.lock
  core/Cargo.toml
  core/src/services/redis/backend.rs
Labels: releases-note/chore

#4961 feat(core)!: implement an interceptor for the logging layer
  bindings/haskell/test/BasicTest.hs
  core/src/layers/logging.rs
  core/src/layers/mod.rs
  core/src/raw/tests/utils.rs
Labels: releases-note/feat

#4986 refactor(core): Use kv based context to avoid allocations
  bindings/haskell/test/BasicTest.hs
  core/src/layers/logging.rs
  core/src/raw/operation.rs
  core/src/raw/tests/utils.rs
Labels: releases-note/refactor

#4987 feat(ovfs): support getattr and setattr
  integrations/virtiofs/Cargo.toml
  integrations/virtiofs/src/error.rs
  integrations/virtiofs/src/filesystem.rs
  integrations/virtiofs/src/filesystem_message.rs
Labels: releases-note/feat

#4997 feat(ovfs): add lookup and unit tests
  integrations/virtiofs/src/filesystem.rs
  integrations/virtiofs/src/filesystem_message.rs
  integrations/virtiofs/src/virtiofs_util.rs
Labels: releases-note/feat

#4978 feat(gcs): allow setting a token directly
  core/src/services/gcs/backend.rs
  core/src/services/gcs/core.rs
Labels: releases-note/feat

#5003 docs: Fix version detect in website
  website/docusaurus.config.js
Labels: releases-note/docs

#4973 feat(integrations/cloudfilter): introduce behavior tests
  .github/workflows/test_behavior_integration_cloudfilter.yml
  integrations/cloudfilter/Cargo.toml
  integrations/cloudfilter/src/lib.rs
  integrations/cloudfilter/tests/behavior/README.md
  integrations/cloudfilter/tests/behavior/fetch_data.rs
  integrations/cloudfilter/tests/behavior/fetch_placeholder.rs
  integrations/cloudfilter/tests/behavior/main.rs
  integrations/cloudfilter/tests/behavior/utils.rs
Labels: releases-note/feat

#5004 ci(bindings/python): Fix aws-lc-rs build on arm platforms
  bindings/python/Cargo.toml
Labels: releases-note/ci

#5006 docs: add branding, license and trademarks to integrations
  integrations/cloudfilter/README.md
  integrations/virtiofs/README.md
Labels: releases-note/docs

#4988 feat(integrations/spring): add spring project module
  integrations/spring/.gitignore
  integrations/spring/README.md
  integrations/spring/opendal-spring-boot-starter-reactive/pom.xml
  integrations/spring/opendal-spring-boot-starter/pom.xml
  integrations/spring/opendal-spring/pom.xml
  integrations/spring/pom.xml
Labels: releases-note/feat

#5005 feat(fs): expose the metadata for fs services
  core/src/services/fs/backend.rs
  core/src/services/fs/lister.rs
Labels: releases-note/feat

#5007 fix(integrations/spring): correct parent artifactId
  integrations/spring/opendal-spring-boot-starter-reactive/pom.xml
Labels: releases-note/fix

#5008 chore(deps): bump fastrace to 0.7.1
  core/Cargo.lock
  core/Cargo.toml
Labels: releases-note/chore

#5009 feat(ovfs): add file creation and deletion
  integrations/virtiofs/src/filesystem.rs
  integrations/virtiofs/src/filesystem_message.rs
Labels: releases-note/feat

#4995 fix(bindings/python): Make sure read until EOF
  bindings/python/tests/test_read.py
Labels: releases-note/fix

#5013 chore(bindings): Disable mysql service for java and python
  bindings/java/Cargo.toml
  bindings/python/Cargo.toml
  bindings/python/DEPENDENCIES.rust.tsv
Labels: releases-note/chore

#5014 chore: Bump version to 0.49.1 - Round 2
  CHANGELOG.md
Labels: releases-note/chore

#5016 feat(ovfs): support read and write
  integrations/virtiofs/src/buffer.rs
  integrations/virtiofs/src/filesystem.rs
  integrations/virtiofs/src/filesystem_message.rs
  integrations/virtiofs/src/lib.rs
  integrations/virtiofs/src/virtiofs_util.rs
Labels: releases-note/feat

#5017 ci: Add contents write permission for build-website
  .github/workflows/docs.yml
Labels: releases-note/ci

#5018 ci: Fix test for service ghac
  .github/workflows/service_test_ghac.yml
Labels: releases-note/ci

#4935 feat(bin/ofs): introduce `integrations/cloudfilter` for ofs
  bin/ofs/Cargo.lock
  bin/ofs/Cargo.toml
  bin/ofs/src/main.rs
  bin/ofs/tests/common/mod.rs
  bin/ofs/tests/file.rs
  bin/ofs/tests/path.rs
Labels: releases-note/feat

#5019 feat(integrations/spring): add AutoConfiguration class for Spring Mvc and Webflux
  integrations/spring/opendal-spring-boot-starter-reactive/pom.xml
  integrations/spring/opendal-spring-boot-starter-reactive/src/main/java/org/apache/opendal/spring/config/OpenDALReactiveAutoConfiguration.java
  integrations/spring/opendal-spring-boot-starter-reactive/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  integrations/spring/opendal-spring-boot-starter/pom.xml
  integrations/spring/opendal-spring-boot-starter/src/main/java/org/apache/opendal/spring/config/OpenDALAutoConfiguration.java
  integrations/spring/opendal-spring-boot-starter/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  integrations/spring/opendal-spring/src/main/java/org/apache/opendal/spring/core/OpenDALOperations.java
  integrations/spring/opendal-spring/src/main/java/org/apache/opendal/spring/core/OpenDALProperties.java
  integrations/spring/opendal-spring/src/main/java/org/apache/opendal/spring/core/OpenDALTemplate.java
  integrations/spring/opendal-spring/src/main/java/org/apache/opendal/spring/core/ReactiveOpenDALOperations.java
  integrations/spring/opendal-spring/src/main/java/org/apache/opendal/spring/core/ReactiveOpenDALTemplate.java
  integrations/spring/pom.xml
Labels: releases-note/feat

#5021 refactor(core): new type to print context and reduce allocations
  core/src/layers/logging.rs
Labels: releases-note/refactor

#5023 fix(layers/prometheus-client): remove duplicated `increment_request_total` of write operation
  core/src/layers/prometheus_client.rs
Labels: releases-note/fix

#5026 refactor(layers/prometheus-client): remove useless `scheme` field from `PrometheusAccessor` and `PrometheusMetricWrapper` type
  core/src/layers/prometheus_client.rs
Labels: releases-note/refactor

#4944 feat(services/monoiofs): impl read and write, add behavior test
  .github/services/monoiofs/monoiofs/action.yml
  bindings/java/Cargo.toml
  bindings/nodejs/Cargo.toml
  bindings/python/Cargo.toml
  core/Cargo.lock
  core/Cargo.toml
  core/src/services/monoiofs/backend.rs
  core/src/services/monoiofs/core.rs
  core/src/services/monoiofs/docs.md
  core/src/services/monoiofs/mod.rs
  core/src/services/monoiofs/reader.rs
  core/src/services/monoiofs/writer.rs
Labels: releases-note/feat

#5028 refactor(layers/prometheus-client): avoid multiple clone of labels
  core/src/layers/prometheus_client.rs
Labels: releases-note/refactor

#5031 fix(services/monoiofs): drop JoinHandle in worker thread
  core/src/services/monoiofs/core.rs
Labels: releases-note/fix

#5030 feat(core/services-s3): support user defined metadata
  core/src/services/s3/backend.rs
  core/src/services/s3/core.rs
Labels: releases-note/feat

#5036 refactor(core/services-oss): remove the `starts_with`
  core/src/services/oss/core.rs
Labels: releases-note/refactor

#5038 chore: fix path typo in release docs
  website/community/release/release.md
Labels: releases-note/chore

#5032 ci(integrations/spring): add spring boot bean load test
  .github/workflows/ci_integration_spring.yml
  integrations/spring/opendal-spring-boot-starter-reactive/src/test/java/org/apache/opendal/spring/TestReactiveApplication.java
  integrations/spring/opendal-spring-boot-starter-reactive/src/test/java/org/apache/opendal/spring/config/OpenDALReactiveAutoConfigurationTest.java
  integrations/spring/opendal-spring-boot-starter-reactive/src/test/resources/application.yml
  integrations/spring/opendal-spring-boot-starter/src/test/java/org/apache/opendal/spring/TestApplication.java
  integrations/spring/opendal-spring-boot-starter/src/test/java/org/apache/opendal/spring/config/OpenDALAutoConfigurationTest.java
  integrations/spring/opendal-spring-boot-starter/src/test/resources/application.yml
  integrations/spring/pom.xml
Labels: releases-note/ci

#5041 feat(services/monoiofs): append, create_dir, copy and rename
  core/src/services/monoiofs/backend.rs
  core/src/services/monoiofs/core.rs
  core/src/services/monoiofs/docs.md
  core/src/services/monoiofs/writer.rs
Labels: releases-note/feat

#5045 chore: align the `token` method semantics
  core/src/services/github/backend.rs
  core/src/services/http/backend.rs
  core/src/services/vercel_blob/backend.rs
  core/src/services/vercel_blob/config.rs
  core/src/services/webdav/backend.rs
Labels: releases-note/chore

#5055 chore(bindings/go): bump ffi and sys version
  bindings/go/go.mod
  bindings/go/go.sum
  bindings/go/tests/go.work.sum
Labels: releases-note/chore

#5056 chore: Bump backon to 1.0.0
  core/Cargo.lock
  core/Cargo.toml
  core/src/layers/retry.rs
  core/src/services/dropbox/backend.rs
  core/src/services/gcs/core.rs
Labels: releases-note/chore

#4959 feat(core)!: make list return path itself
  .github/services/swift/ceph_rados_swift/action.yml
  .github/services/swift/swift/action.yml
  bindings/cpp/tests/basic_test.cpp
  bindings/go/tests/behavior_tests/list_test.go
  bindings/java/src/test/java/org/apache/opendal/test/behavior/AsyncListTest.java
  bindings/ocaml/test/test.ml
  core/src/layers/complete.rs
  core/src/raw/adapters/kv/backend.rs
  core/src/raw/adapters/typed_kv/api.rs
  core/src/raw/adapters/typed_kv/backend.rs
  core/src/raw/http_util/client.rs
  core/src/raw/oio/list/flat_list.rs
  core/src/raw/oio/list/hierarchy_list.rs
  core/src/raw/oio/list/page_list.rs
  core/src/raw/oio/list/prefix_list.rs
  core/src/services/azblob/lister.rs
  core/src/services/dashmap/backend.rs
  core/src/services/etcd/backend.rs
  core/src/services/fs/backend.rs
  core/src/services/fs/lister.rs
  core/src/services/gcs/lister.rs
  core/src/services/hdfs/backend.rs
  core/src/services/hdfs/lister.rs
  core/src/services/memory/backend.rs
  core/src/services/mini_moka/backend.rs
  core/src/services/moka/backend.rs
  core/src/services/oss/lister.rs
  core/src/services/rocksdb/backend.rs
  core/src/services/s3/lister.rs
  core/src/services/seafile/lister.rs
  core/src/services/sftp/backend.rs
  core/src/services/sftp/lister.rs
  core/src/services/sled/backend.rs
  core/src/services/sqlite/backend.rs
  core/src/services/swift/core.rs
  core/src/services/swift/lister.rs
  core/src/services/webdav/core.rs
  core/src/services/webdav/lister.rs
  core/src/services/webhdfs/backend.rs
  core/src/services/webhdfs/docs.md
  core/src/services/webhdfs/lister.rs
  core/src/types/operator/blocking_operator.rs
  core/src/types/operator/operator.rs
  core/tests/behavior/async_list.rs
  core/tests/behavior/blocking_list.rs
  integrations/dav-server/src/dir.rs
  integrations/dav-server/src/fs.rs
  integrations/fuse3/src/file_system.rs
Labels: releases-note/feat, breaking-changes

#5040 refactor: use sqlx for sql services
  bindings/c/src/operator.rs
  bindings/cpp/src/lib.rs
  bindings/dotnet/src/lib.rs
  bindings/haskell/src/lib.rs
  bindings/java/src/async_operator.rs
  bindings/lua/src/lib.rs
  bindings/nodejs/src/lib.rs
  bindings/ocaml/src/lib.rs
  bindings/php/src/lib.rs
  bindings/ruby/src/lib.rs
  core/Cargo.lock
  core/Cargo.toml
  core/src/docs/upgrade.md
  core/src/services/mysql/backend.rs
  core/src/services/mysql/config.rs
  core/src/services/postgresql/backend.rs
  core/src/services/postgresql/config.rs
  core/src/services/sqlite/backend.rs
  core/src/services/sqlite/config.rs
  integrations/cloudfilter/src/lib.rs
Labels: releases-note/refactor, breaking-changes

#5058 fix(core): Fix failed list related tests
  core/src/raw/oio/entry.rs
  core/src/services/aliyun_drive/lister.rs
  core/src/services/azdls/lister.rs
  core/src/services/azfile/lister.rs
  core/src/services/b2/lister.rs
  core/src/services/cos/lister.rs
  core/src/services/gdrive/lister.rs
  core/src/services/sqlite/backend.rs
Labels: releases-note/fix

#5060 ci(bindings/go): add golangci-lint
  .github/workflows/ci_bindings_go.yml
  bindings/go/ffi.go
  bindings/go/opendal.go
  bindings/go/operator.go
  bindings/go/types.go
Labels: releases-note/ci

#5059 chore(services/rocksdb): fix misuse rocksdb prefix iterator
  core/src/services/rocksdb/backend.rs
Labels: releases-note/chore

#5063 feat(services/oss): support role_arn and oidc_provider_arn
  bin/ofs/Cargo.lock
  core/src/services/oss/backend.rs
  core/src/services/oss/config.rs
Labels: releases-note/feat

#5062 fix(services/memory): blocking_scan right range
  core/src/raw/path.rs
  core/src/services/memory/backend.rs
Labels: releases-note/fix

#5064 refactor(core)!: Add observe layer as building block
  core/src/layers/mod.rs
  core/src/layers/observe/metrics.rs
  core/src/layers/observe/mod.rs
  core/src/layers/prometheus_client.rs
Labels: releases-note/refactor

#5067 fix(core/services/mysql): Fix mysql Capability
  core/src/services/mysql/backend.rs
Labels: releases-note/fix

#5071 fix: fix rust 1.76 error due to temporary value being dropped
  core/src/services/fs/lister.rs
Labels: releases-note/fix

#5074 chore(README): add Go binding badge
  README.md
  bindings/go/README.md
Labels: releases-note/chore

#5079 fix(service/fs): error due to temporary value being dropped
  core/src/services/fs/lister.rs
Labels: releases-note/fix

#5080 refactor(bindings/java): replace `num_cpus` with `std::thread::available_parallelism`
  bindings/java/Cargo.toml
  bindings/java/src/executor.rs
Labels: releases-note/refactor
