Repository apache/opendal, pull requests merged in 2024-07, with the labels that each got.

#4838 docs(integration/unftp-sbe): Polish docs for unftp-sbe
  integrations/README.md
  integrations/unftp-sbe/Cargo.toml
  integrations/unftp-sbe/README.md
  integrations/unftp-sbe/src/lib.rs
Labels: releases-note/docs

#4839 docs(bin): Polish README for all bin
  bin/oay/README.md
  bin/ofs/README.md
  bin/oli/README.md
  integrations/unftp-sbe/README.md
Labels: releases-note/docs

#4826 refactor: Move ChunkedWrite logic into WriteContext
  bindings/nodejs/src/lib.rs
  bindings/python/src/file.rs
  bindings/python/src/lib.rs
  bindings/python/src/operator.rs
  bindings/python/src/options.rs
  core/Cargo.toml
  core/benches/oio/write.rs
  core/src/layers/complete.rs
  core/src/lib.rs
  core/src/raw/oio/buf/queue_buf.rs
  core/src/raw/oio/write/chunked_write.rs
  core/src/raw/oio/write/mod.rs
  core/src/raw/ops.rs
  core/src/types/blocking_write/blocking_writer.rs
  core/src/types/blocking_write/std_writer.rs
  core/src/types/context/mod.rs
  core/src/types/context/read.rs
  core/src/types/context/write.rs
  core/src/types/mod.rs
  core/src/types/operator/blocking_operator.rs
  core/src/types/operator/operator.rs
  core/src/types/operator/operator_functions.rs
  core/src/types/operator/operator_futures.rs
  core/src/types/write/buffer_sink.rs
  core/src/types/write/futures_async_writer.rs
  core/src/types/write/futures_bytes_sink.rs
  core/src/types/write/writer.rs
Labels: releases-note/refactor

#4843 chore(deps): bump metrics from 0.20.1 to 0.23.0 in /core
  core/Cargo.lock
  core/Cargo.toml
  core/src/layers/metrics.rs
Labels: releases-note/chore

#4821 refactor(services/aliyun-drive): directly implement `oio::Write`.
  core/src/services/aliyun_drive/backend.rs
  core/src/services/aliyun_drive/core.rs
  core/src/services/aliyun_drive/writer.rs
Labels: releases-note/fix, releases-note/refactor

#4846 fix(integration/object_store): Avoid calling API inside debug
  integrations/object_store/src/store.rs
Labels: releases-note/fix

#4844 fix(integration/object_store): Fix metakey requested is incomplete
  integrations/object_store/Cargo.toml
  integrations/object_store/src/store.rs
Labels: releases-note/fix

#4852 chore: Bump version for 0.47.3
  .github/workflows/release_rust.yml
  CHANGELOG.md
  bin/oay/Cargo.lock
  bin/oay/Cargo.toml
  bin/oay/DEPENDENCIES.rust.tsv
  bin/ofs/Cargo.lock
  bin/ofs/Cargo.toml
  bin/ofs/DEPENDENCIES.rust.tsv
  bin/oli/Cargo.lock
  bin/oli/Cargo.toml
  bin/oli/DEPENDENCIES.rust.tsv
  bindings/c/Cargo.toml
  bindings/c/DEPENDENCIES.rust.tsv
  bindings/cpp/CMakeLists.txt
  bindings/cpp/Cargo.toml
  bindings/cpp/DEPENDENCIES.rust.tsv
  bindings/dotnet/Cargo.toml
  bindings/dotnet/DEPENDENCIES.rust.tsv
  bindings/haskell/Cargo.toml
  bindings/haskell/DEPENDENCIES.rust.tsv
  bindings/java/Cargo.toml
  bindings/java/DEPENDENCIES.rust.tsv
  bindings/java/pom.xml
  bindings/lua/Cargo.toml
  bindings/lua/DEPENDENCIES.rust.tsv
  bindings/lua/opendal-0.1.3-1.rockspec
  bindings/nodejs/DEPENDENCIES.rust.tsv
  bindings/nodejs/package.json
  bindings/ocaml/DEPENDENCIES.rust.tsv
  bindings/php/Cargo.toml
  bindings/php/DEPENDENCIES.rust.tsv
  bindings/python/Cargo.toml
  bindings/python/DEPENDENCIES.rust.tsv
  bindings/ruby/Cargo.toml
  bindings/ruby/DEPENDENCIES.rust.tsv
  core/Cargo.lock
  core/Cargo.toml
  core/DEPENDENCIES.rust.tsv
  integrations/cloudfilter/DEPENDENCIES.rust.tsv
  integrations/dav-server/Cargo.toml
  integrations/dav-server/DEPENDENCIES.rust.tsv
  integrations/fuse3/Cargo.toml
  integrations/fuse3/DEPENDENCIES.rust.tsv
  integrations/object_store/Cargo.toml
  integrations/object_store/DEPENDENCIES.rust.tsv
  integrations/unftp-sbe/Cargo.toml
  integrations/unftp-sbe/DEPENDENCIES.rust.tsv
Labels: releases-note/chore

#4853 feat(services/fs): Support fs config
  core/src/services/fs/backend.rs
  core/src/services/fs/mod.rs
  core/src/services/mod.rs
Labels: releases-note/feat

#4847 chore!: fix typo customed should be customized
  core/Cargo.lock
  core/Cargo.toml
  core/src/docs/rfcs/3197_config.md
  core/src/services/gcs/backend.rs
  core/src/services/gcs/docs.md
  core/src/services/s3/backend.rs
Labels: releases-note/chore, breaking-changes

#4855 feat(services): init monoiofs
  core/Cargo.lock
  core/Cargo.toml
  core/src/services/mod.rs
  core/src/services/monoiofs/backend.rs
  core/src/services/monoiofs/docs.md
  core/src/services/monoiofs/mod.rs
  core/src/types/operator/builder.rs
  core/src/types/scheme.rs
Labels: releases-note/feat

#4858 feat(core/types): avoid a copy in `Buffer::to_bytes()` by cloning contiguous bytes
  core/src/types/buffer.rs
Labels: releases-note/feat

#4864 chore: Fix spelling
  core/src/docs/rfcs/1391_object_metadataer.md
  core/src/services/github/core.rs
  core/src/services/gridfs/backend.rs
  core/src/services/icloud/core.rs
  core/tests/behavior/async_delete.rs
  core/tests/behavior/async_list.rs
Labels: releases-note/chore

#4865 chore: remove unneeded duplicate word
  integrations/virtiofs/src/virtiofs.rs
Labels: releases-note/chore

#4866 chore: fix spelling
  bindings/c/tests/list.cpp
  website/blog/2023-03-16-opendal-entered-apache-incubator/index.md
Labels: releases-note/chore

#4869 chore: fix spelling
  core/src/docs/rfcs/3243_list_prefix.md
  core/src/services/fs/backend.rs
  core/src/types/list.rs
  core/src/types/scheme.rs
Labels: releases-note/chore

#4817 feat: fs add concurrent write
  core/Cargo.toml
  core/src/raw/oio/write/position_write.rs
  core/src/services/fs/backend.rs
  core/src/services/fs/writer.rs
Labels: releases-note/feat

#4873 feat(services/s3): Add object versioning for S3
  core/src/services/s3/backend.rs
  core/src/services/s3/core.rs
Labels: releases-note/feat

#4875 refactor(services/s3)!: renamed security_token to session_token
  core/src/docs/rfcs/3197_config.md
  core/src/services/s3/backend.rs
  core/src/services/s3/docs.md
Labels: releases-note/refactor

#4856 feat(integrations/cloudfilter): read only cloud filter
  integrations/cloudfilter/Cargo.toml
  integrations/cloudfilter/examples/readonly.rs
  integrations/cloudfilter/src/file.rs
  integrations/cloudfilter/src/lib.rs
Labels: releases-note/feat

#4878 chore: Make compfs able to test
  core/src/raw/tests/utils.rs
  core/src/services/compfs/backend.rs
  core/src/services/compfs/reader.rs
  core/src/services/compfs/writer.rs
  core/src/types/operator/builder.rs
Labels: releases-note/chore

#4879 chore(services/compfs): remove allow(dead_code)
  core/src/services/compfs/mod.rs
Labels: releases-note/chore

#4880 refactor(core)!: Make oio::Write always write all given buffer
  core/src/layers/async_backtrace.rs
  core/src/layers/await_tree.rs
  core/src/layers/blocking.rs
  core/src/layers/complete.rs
  core/src/layers/concurrent_limit.rs
  core/src/layers/dtrace.rs
  core/src/layers/error_context.rs
  core/src/layers/logging.rs
  core/src/layers/metrics.rs
  core/src/layers/minitrace.rs
  core/src/layers/oteltrace.rs
  core/src/layers/prometheus.rs
  core/src/layers/prometheus_client.rs
  core/src/layers/retry.rs
  core/src/layers/throttle.rs
  core/src/layers/timeout.rs
  core/src/layers/tracing.rs
  core/src/raw/adapters/kv/backend.rs
  core/src/raw/adapters/typed_kv/backend.rs
  core/src/raw/enum_utils.rs
  core/src/raw/oio/write/api.rs
  core/src/raw/oio/write/append_write.rs
  core/src/raw/oio/write/block_write.rs
  core/src/raw/oio/write/multipart_write.rs
  core/src/raw/oio/write/one_shot_write.rs
  core/src/raw/oio/write/position_write.rs
  core/src/raw/oio/write/range_write.rs
  core/src/services/aliyun_drive/writer.rs
  core/src/services/alluxio/writer.rs
  core/src/services/compfs/writer.rs
  core/src/services/fs/writer.rs
  core/src/services/ftp/writer.rs
  core/src/services/ghac/writer.rs
  core/src/services/hdfs/writer.rs
  core/src/services/hdfs_native/writer.rs
  core/src/services/sftp/writer.rs
  core/src/types/blocking_write/std_writer.rs
  core/src/types/context/write.rs
  core/src/types/write/writer.rs
Labels: releases-note/refactor

#4884 ci: Add issue template and pr template for opendal
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/2-feature-request.yml
  .github/ISSUE_TEMPLATE/3-new-release.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/pull_request_template.md
Labels: releases-note/ci

#4883 refactor(core)!: Return `Arc<AccessInfo>` for metadata
  core/src/docs/internals/accessor.rs
  core/src/layers/blocking.rs
  core/src/layers/complete.rs
  core/src/layers/error_context.rs
  core/src/layers/immutable_index.rs
  core/src/layers/logging.rs
  core/src/layers/metrics.rs
  core/src/layers/minitrace.rs
  core/src/layers/oteltrace.rs
  core/src/layers/retry.rs
  core/src/layers/timeout.rs
  core/src/layers/tracing.rs
  core/src/raw/accessor.rs
  core/src/raw/adapters/kv/backend.rs
  core/src/raw/adapters/typed_kv/backend.rs
  core/src/raw/layer.rs
  core/src/raw/oio/list/flat_list.rs
  core/src/services/aliyun_drive/backend.rs
  core/src/services/alluxio/backend.rs
  core/src/services/azblob/backend.rs
  core/src/services/azdls/backend.rs
  core/src/services/azfile/backend.rs
  core/src/services/b2/backend.rs
  core/src/services/chainsafe/backend.rs
  core/src/services/compfs/backend.rs
  core/src/services/cos/backend.rs
  core/src/services/dbfs/backend.rs
  core/src/services/dropbox/backend.rs
  core/src/services/fs/backend.rs
  core/src/services/ftp/backend.rs
  core/src/services/gcs/backend.rs
  core/src/services/gdrive/backend.rs
  core/src/services/ghac/backend.rs
  core/src/services/github/backend.rs
  core/src/services/hdfs/backend.rs
  core/src/services/hdfs_native/backend.rs
  core/src/services/http/backend.rs
  core/src/services/huggingface/backend.rs
  core/src/services/icloud/backend.rs
  core/src/services/ipfs/backend.rs
  core/src/services/ipmfs/backend.rs
  core/src/services/koofr/backend.rs
  core/src/services/monoiofs/backend.rs
  core/src/services/obs/backend.rs
  core/src/services/onedrive/backend.rs
  core/src/services/oss/backend.rs
  core/src/services/pcloud/backend.rs
  core/src/services/s3/backend.rs
  core/src/services/seafile/backend.rs
  core/src/services/sftp/backend.rs
  core/src/services/supabase/backend.rs
  core/src/services/swift/backend.rs
  core/src/services/upyun/backend.rs
  core/src/services/vercel_artifacts/backend.rs
  core/src/services/vercel_blob/backend.rs
  core/src/services/webdav/backend.rs
  core/src/services/webhdfs/backend.rs
  core/src/services/yandex_disk/backend.rs
  core/src/types/operator/metadata.rs
Labels: releases-note/refactor

#4886 feat(bindings/go): Add full native support from C to Go.
  .github/workflows/ci_bindings_go.yml
  bindings/go/DEPENDENCIES.md
  bindings/go/README.md
  bindings/go/copy_test.go
  bindings/go/create_dir_test.go
  bindings/go/delete.go
  bindings/go/delete_test.go
  bindings/go/error.go
  bindings/go/ffi.go
  bindings/go/go.mod
  bindings/go/go.sum
  bindings/go/list_test.go
  bindings/go/lister.go
  bindings/go/metadata.go
  bindings/go/opendal.go
  bindings/go/opendal_test.go
  bindings/go/operator.go
  bindings/go/operator_info.go
  bindings/go/read_test.go
  bindings/go/reader.go
  bindings/go/rename_test.go
  bindings/go/stat.go
  bindings/go/stat_test.go
  bindings/go/types.go
  bindings/go/write.go
  bindings/go/write_test.go
Labels: releases-note/feat

#4891 ci: Remove CI reviewer since it doesn't work
  .github/scripts/assign_reviewers.js
  .github/workflows/ci_review.yml
Labels: releases-note/ci

#4895 fix(services/s3): NoSuchBucket is a ConfigInvalid for OpenDAL
  bin/ofs/Cargo.lock
  core/src/services/s3/error.rs
Labels: releases-note/fix

#4893 feat(bindings/go): add benchmark.
  bindings/go/README.md
  bindings/go/benchmark_test.go
  bindings/go/opendal_test.go
Labels: releases-note/feat

#4881 feat(core): support user defined metadata for oss
  core/src/lib.rs
  core/src/raw/mod.rs
  core/src/raw/ops.rs
  core/src/services/oss/backend.rs
  core/src/services/oss/core.rs
  core/src/types/capability.rs
  core/src/types/list.rs
  core/src/types/metadata.rs
  core/src/types/operator/operator_futures.rs
  core/tests/behavior/async_write.rs
  core/tests/behavior/utils.rs
Labels: releases-note/feat

#4899 fix: oss will not use the port
  core/src/services/oss/backend.rs
Labels: releases-note/fix

#4906 feat(service/fastrace): rename minitrace to fastrace
  core/Cargo.lock
  core/Cargo.toml
  core/README.md
  core/src/layers/fastrace.rs
  core/src/layers/mod.rs
Labels: releases-note/feat

#4907 feat(prometheus-client): add metric label about `root` on using PrometheusClientLayer
  core/src/layers/prometheus_client.rs
Labels: releases-note/feat

#4885 feat(services/monoiofs): monoio wrapper
  core/Cargo.lock
  core/Cargo.toml
  core/src/services/monoiofs/backend.rs
  core/src/services/monoiofs/core.rs
  core/src/services/monoiofs/mod.rs
Labels: releases-note/feat

#4912 feat(layers/mime-guess): add a layer that can automatically set `Content-Type` based on the extension in the path.
  core/Cargo.lock
  core/Cargo.toml
  core/src/layers/mime_guess.rs
  core/src/layers/mod.rs
Labels: releases-note/feat

#4916 docs(core): update README to add `MimeGuessLayer`.
  core/README.md
Labels: releases-note/docs

#4917 feat(core)!: from_map is now fallible
  core/src/docs/internals/accessor.rs
  core/src/layers/immutable_index.rs
  core/src/layers/retry.rs
  core/src/services/alluxio/backend.rs
  core/src/types/builder.rs
  core/src/types/operator/builder.rs
  integrations/object_store/README.md
  integrations/object_store/examples/basic.rs
  integrations/object_store/src/lib.rs
  integrations/object_store/src/store.rs
Labels: releases-note/feat

#4921 feat: Add from_iter and via_iter for operator
  bin/oay/src/bin/oay.rs
  bin/ofs/src/main.rs
  bin/oli/Cargo.lock
  bin/oli/src/config/mod.rs
  core/src/raw/tests/utils.rs
  core/src/types/context/read.rs
  core/src/types/operator/builder.rs
  core/src/types/read/buffer_stream.rs
  core/src/types/read/futures_async_reader.rs
  core/src/types/read/futures_bytes_stream.rs
  core/src/types/read/reader.rs
  core/src/types/write/buffer_sink.rs
  core/src/types/write/futures_async_writer.rs
  core/src/types/write/futures_bytes_sink.rs
Labels: releases-note/feat

#4920 refactor(integrations/cloudfilter): implement Filter instead of SyncFilter
  integrations/cloudfilter/Cargo.toml
  integrations/cloudfilter/examples/readonly.rs
  integrations/cloudfilter/src/lib.rs
Labels: releases-note/refactor

#4924 docs(core): Add upgrade docs for 0.48
  core/src/docs/upgrade.md
Labels: releases-note/docs

#4925 docs: fix spelling
  .github/ISSUE_TEMPLATE/3-new-release.md
  website/community/release/release.md
Labels: releases-note/docs

#4927 chore: Make rust 1.80 clippy happy
  .github/workflows/docs.yml
  core/Cargo.toml
  core/src/layers/blocking.rs
  core/src/lib.rs
  core/src/raw/oio/write/multipart_write.rs
  core/src/services/fs/backend.rs
  core/src/services/gdrive/builder.rs
  core/src/services/github/core.rs
  core/src/services/hdfs/backend.rs
  core/src/services/s3/backend.rs
  core/src/types/read/buffer_stream.rs
Labels: releases-note/chore

#4929 chore: Bump crates versions
  .github/scripts/test_behavior/plan.py
  bin/oay/Cargo.lock
  bin/oay/Cargo.toml
  bin/ofs/Cargo.lock
  bin/ofs/Cargo.toml
  bin/oli/Cargo.lock
  bin/oli/Cargo.toml
  bindings/c/Cargo.toml
  bindings/cpp/CMakeLists.txt
  bindings/cpp/Cargo.toml
  bindings/dotnet/Cargo.toml
  bindings/dotnet/build.py
  bindings/haskell/Cargo.toml
  bindings/java/Cargo.toml
  bindings/java/pom.xml
  bindings/java/tools/build.py
  bindings/lua/Cargo.toml
  bindings/nodejs/Cargo.toml
  bindings/nodejs/npm/darwin-arm64/package.json
  bindings/nodejs/npm/darwin-x64/package.json
  bindings/nodejs/npm/linux-arm64-gnu/package.json
  bindings/nodejs/npm/linux-arm64-musl/package.json
  bindings/nodejs/npm/linux-x64-gnu/package.json
  bindings/nodejs/npm/win32-arm64-msvc/package.json
  bindings/nodejs/npm/win32-x64-msvc/package.json
  bindings/nodejs/package.json
  bindings/ocaml/Cargo.toml
  bindings/php/Cargo.toml
  bindings/python/Cargo.toml
  bindings/python/benchmark/async_origin_s3_benchmark_with_gevent.py
  bindings/python/python/opendal/exceptions.pyi
  bindings/python/tests/test_async_copy.py
  bindings/python/tests/test_async_delete.py
  bindings/python/tests/test_async_rename.py
  bindings/python/tests/test_capability.py
  bindings/python/tests/test_read.py
  bindings/python/tests/test_sync_copy.py
  bindings/python/tests/test_sync_delete.py
  bindings/python/tests/test_sync_rename.py
  bindings/python/tests/test_write.py
  bindings/ruby/Cargo.toml
  core/Cargo.lock
  core/Cargo.toml
  core/src/services/gridfs/backend.rs
  core/src/services/mongodb/backend.rs
  core/src/services/oss/core.rs
  core/src/services/redb/backend.rs
  core/src/services/redis/backend.rs
  core/src/services/s3/core.rs
  integrations/cloudfilter/Cargo.toml
  integrations/dav-server/Cargo.toml
  integrations/dav-server/README.md
  integrations/dav-server/src/dir.rs
  integrations/fuse3/Cargo.toml
  integrations/object_store/Cargo.toml
  integrations/unftp-sbe/Cargo.toml
  scripts/workspace.py
Labels: releases-note/chore

#4932 ci: Bump nextest to 0.9.72
  .github/actions/setup/action.yaml
Labels: releases-note/ci

#4934 feat(o): Add cargo-o layout
  .cargo/config.toml
  dev/Cargo.lock
  dev/Cargo.toml
  dev/src/main.rs
Labels: releases-note/feat

#4936 ci: setup cloudfilter
  .github/workflows/ci_integration_cloudfilter.yml
  integrations/cloudfilter/examples/readonly.rs
Labels: releases-note/ci

#4942 fix(services/memory): MemoryConfig implement Debug
  core/src/services/cacache/backend.rs
  core/src/services/memcached/backend.rs
  core/src/services/memory/backend.rs
  core/src/services/rocksdb/backend.rs
  core/src/types/builder.rs
Labels: releases-note/fix
