Repository apache/opendal, pull requests merged in 2024-09, with the labels that each got.

#5087 docs: Update binding-java.md
  website/docs/binding-java.md
Labels: releases-note/docs

#5086 feat(services): add lakefs support
  core/Cargo.toml
  core/src/services/lakefs/backend.rs
  core/src/services/lakefs/config.rs
  core/src/services/lakefs/core.rs
  core/src/services/lakefs/docs.md
  core/src/services/lakefs/error.rs
  core/src/services/lakefs/mod.rs
  core/src/services/mod.rs
  core/src/types/operator/builder.rs
  core/src/types/scheme.rs
Labels: releases-note/feat

#5039 fix(core/services/hdfs): Fix the HDFS write failure when atomic_write_dir is set
  .github/services/hdfs/hdfs_cluster/action.yml
  .github/services/hdfs/hdfs_cluster_with_atomic_write_dir/action.yml
  .github/services/hdfs/hdfs_default_with_atomic_write_dir/action.yml
  .github/workflows/service_test_hdfs.yml
  core/src/services/hdfs/backend.rs
  core/src/services/hdfs/writer.rs
  fixtures/hdfs/docker-compose-hdfs-cluster.yml
Labels: releases-note/fix

#5091 fix(services/icloud): adjust error handling code to avoid having to write out result type explicitly
  core/src/services/icloud/core.rs
Labels: releases-note/fix

#5072 refactor(layers/prometheus): provide builder APIs
  core/src/layers/mod.rs
  core/src/layers/observe/mod.rs
  core/src/layers/prometheus.rs
Labels: releases-note/refactor

#5073 refactor(layers/prometheus-client): provide builder APIs
  core/src/layers/prometheus_client.rs
Labels: releases-note/refactor

#5093 chore(layers/prometheus-client): export `PrometheusClientLayerBuilder` type
  core/src/layers/mod.rs
Labels: releases-note/chore

#5094 fix(services/monoiofs): handle async cancel during file open
  core/src/services/monoiofs/core.rs
  core/src/services/monoiofs/reader.rs
  core/src/services/monoiofs/writer.rs
Labels: releases-note/fix

#5092 feat: add list api for lakefs service.
  core/src/services/lakefs/backend.rs
  core/src/services/lakefs/core.rs
  core/src/services/lakefs/docs.md
  core/src/services/lakefs/lister.rs
  core/src/services/lakefs/mod.rs
Labels: releases-note/feat

#5098 refactor(layers/metrics): rewrite metrics layer using observe layer
  core/src/layers/metrics.rs
Labels: releases-note/refactor

#5102 ci(bindings/zig): Fix build and test of zig on 0.13
  .github/workflows/ci_bindings_zig.yml
  bindings/zig/.gitignore
  bindings/zig/README.md
  bindings/zig/build.zig
  bindings/zig/build.zig.zon
  bindings/zig/test/bdd.zig
Labels: releases-note/ci

#5104 chore(layers): check the examples when running tests
  core/Cargo.lock
  core/Cargo.toml
  core/src/layers/async_backtrace.rs
  core/src/layers/await_tree.rs
  core/src/layers/blocking.rs
  core/src/layers/chaos.rs
  core/src/layers/concurrent_limit.rs
  core/src/layers/dtrace.rs
  core/src/layers/error_context.rs
  core/src/layers/fastrace.rs
  core/src/layers/immutable_index.rs
  core/src/layers/logging.rs
  core/src/layers/metrics.rs
  core/src/layers/mime_guess.rs
  core/src/layers/oteltrace.rs
  core/src/layers/prometheus.rs
  core/src/layers/prometheus_client.rs
  core/src/layers/retry.rs
  core/src/layers/throttle.rs
  core/src/layers/timeout.rs
  core/src/layers/tracing.rs
  integrations/cloudfilter/Cargo.toml
Labels: releases-note/chore

#5107 feat: add delete api for lakefs service.
  core/src/services/lakefs/backend.rs
  core/src/services/lakefs/core.rs
  core/src/services/lakefs/docs.md
Labels: releases-note/feat

#5108 ci: Don't publish with all features
  .github/workflows/release_rust.yml
Labels: releases-note/ci

#5109 chore(integrations/parquet): Bump parquet to 53
  integrations/parquet/Cargo.toml
Labels: releases-note/chore

#5112 ci: Fix upload-artifacts doesn't include hidden files
  .github/workflows/release_java.yml
Labels: releases-note/ci

#5121 ci(bindings/nodejs): Fix diff introduced by napi
  bindings/nodejs/generated.d.ts
Labels: releases-note/ci

#5123 fix(services/huggingface): Align with latest HuggingFace API
  core/src/services/huggingface/core.rs
Labels: releases-note/fix

#5117 feat(core/redis): Replace client requests with connection pool
  core/Cargo.toml
  core/src/services/redis/backend.rs
  core/src/services/redis/core.rs
  core/src/services/redis/mod.rs
Labels: releases-note/feat

#5114 feat: add copy api for lakefs service.
  core/src/services/lakefs/backend.rs
  core/src/services/lakefs/core.rs
  core/src/services/lakefs/docs.md
Labels: releases-note/feat

#5128 refactor(services/cloudflare-kv): remove unneeded async and result on parse_error
  core/src/services/cloudflare_kv/backend.rs
  core/src/services/cloudflare_kv/error.rs
Labels: releases-note/refactor

#5134 chore(bindings/python): deprecate via_map method
  bindings/python/src/operator.rs
Labels: releases-note/chore

#5137 chore: update binding java artifact name in README
  bindings/java/README.md
Labels: releases-note/chore

#5140 feat(bindings/python): export ConcurrentLimitLayer
  bindings/python/README.md
  bindings/python/python/opendal/layers.pyi
  bindings/python/src/layers.rs
  bindings/python/src/lib.rs
  bindings/python/tests/conftest.py
Labels: releases-note/feat

#5142 chore(fixtures/s3): Upgrade MinIO version
  fixtures/s3/docker-compose-minio.yml
Labels: releases-note/chore

#5141 feat(bindings/c): add writer operation for Bindings C and Go
  .github/scripts/test_go_binding/matrix.yaml
  .github/workflows/ci_bindings_go.yml
  bindings/c/include/opendal.h
  bindings/c/src/lib.rs
  bindings/c/src/operator.rs
  bindings/c/src/result.rs
  bindings/c/src/writer.rs
  bindings/c/tests/bdd.cpp
  bindings/go/ffi.go
  bindings/go/tests/behavior_tests/go.mod
  bindings/go/tests/behavior_tests/go.sum
  bindings/go/tests/behavior_tests/list_test.go
  bindings/go/tests/behavior_tests/opendal_test.go
  bindings/go/tests/behavior_tests/write_test.go
  bindings/go/types.go
  bindings/go/write.go
Labels: releases-note/feat

#5136 feat(ofs): introduce ofs macos support
  bin/ofs/Cargo.lock
  bin/ofs/Cargo.toml
  bin/ofs/src/main.rs
  integrations/fuse3/Cargo.toml
  integrations/fuse3/src/file_system.rs
Labels: releases-note/feat

#5146 feat: Reduce stat operation if we are reading all
  core/src/services/sftp/backend.rs
  core/src/services/sftp/reader.rs
  core/src/types/blocking_read/buffer_iterator.rs
  core/src/types/context/read.rs
  core/src/types/read/buffer_stream.rs
  core/src/types/read/futures_async_reader.rs
  core/src/types/read/futures_bytes_stream.rs
  core/src/types/read/reader.rs
Labels: releases-note/feat
