Repository apache/opendal, pull requests merged in 2024-04, with the labels that each got.

#4422 docs(core): correct the doc for icloud and memcached
  core/src/types/scheme.rs
Labels: releases-note/docs

#4429 docs: polish release doc for vote result
  website/community/committers/release.md
  website/community/committers/verify.md
Labels: releases-note/docs

#4431 ci: fix dragonflydb docker-compose healthcheck broken
  fixtures/redis/docker-compose-dragonfly.yml
Labels: releases-note/ci

#4433 chore: update copyright year to 2024 in NOTICE
  bindings/java/src/main/resources/META-INF/NOTICE
Labels: releases-note/chore

#4435 fix(core/services/gdrive): Fix gdrive test failed for refresh token
  core/src/services/gdrive/core.rs
Labels: releases-note/fix

#4436 refactor(core/raw/oio): Use oio buffer in write
  core/benches/oio/utils.rs
  core/src/layers/blocking.rs
  core/src/layers/complete.rs
  core/src/layers/concurrent_limit.rs
  core/src/layers/dtrace.rs
  core/src/layers/error_context.rs
  core/src/layers/logging.rs
  core/src/layers/madsim.rs
  core/src/layers/metrics.rs
  core/src/layers/minitrace.rs
  core/src/layers/oteltrace.rs
  core/src/layers/prometheus.rs
  core/src/layers/prometheus_client.rs
  core/src/layers/retry.rs
  core/src/layers/throttle.rs
  core/src/layers/timeout.rs
  core/src/layers/tracing.rs
  core/src/raw/adapters/kv/backend.rs
  core/src/raw/adapters/typed_kv/backend.rs
  core/src/raw/enum_utils.rs
  core/src/raw/oio/buf/adaptive.rs
  core/src/raw/oio/buf/buffer.rs
  core/src/raw/oio/buf/flex_buf.rs
  core/src/raw/oio/buf/mod.rs
  core/src/raw/oio/write/api.rs
  core/src/raw/oio/write/append_write.rs
  core/src/raw/oio/write/block_write.rs
  core/src/raw/oio/write/exact_buf_write.rs
  core/src/raw/oio/write/multipart_write.rs
  core/src/raw/oio/write/one_shot_write.rs
  core/src/raw/oio/write/range_write.rs
  core/src/services/alluxio/writer.rs
  core/src/services/fs/writer.rs
  core/src/services/ghac/writer.rs
  core/src/services/hdfs/writer.rs
  core/src/services/hdfs_native/writer.rs
  core/src/services/sftp/writer.rs
  core/src/types/writer.rs
Labels: releases-note/refactor

#4438 refactor(core/raw): oio::Write is safe operation now
  core/benches/oio/utils.rs
  core/benches/oio/write.rs
  core/src/layers/blocking.rs
  core/src/layers/complete.rs
  core/src/layers/concurrent_limit.rs
  core/src/layers/dtrace.rs
  core/src/layers/error_context.rs
  core/src/layers/logging.rs
  core/src/layers/madsim.rs
  core/src/layers/metrics.rs
  core/src/layers/minitrace.rs
  core/src/layers/oteltrace.rs
  core/src/layers/prometheus.rs
  core/src/layers/prometheus_client.rs
  core/src/layers/retry.rs
  core/src/layers/throttle.rs
  core/src/layers/timeout.rs
  core/src/layers/tracing.rs
  core/src/raw/adapters/kv/backend.rs
  core/src/raw/adapters/typed_kv/backend.rs
  core/src/raw/enum_utils.rs
  core/src/raw/oio/buf/adaptive.rs
  core/src/raw/oio/buf/mod.rs
  core/src/raw/oio/buf/readable_buf.rs
  core/src/raw/oio/buf/writable_buf.rs
  core/src/raw/oio/write/api.rs
  core/src/raw/oio/write/append_write.rs
  core/src/raw/oio/write/block_write.rs
  core/src/raw/oio/write/exact_buf_write.rs
  core/src/raw/oio/write/multipart_write.rs
  core/src/raw/oio/write/one_shot_write.rs
  core/src/raw/oio/write/range_write.rs
  core/src/services/alluxio/writer.rs
  core/src/services/fs/writer.rs
  core/src/services/ghac/writer.rs
  core/src/services/hdfs/writer.rs
  core/src/services/hdfs_native/writer.rs
  core/src/services/sftp/writer.rs
  core/src/types/operator/blocking_operator.rs
  core/src/types/writer.rs
Labels: releases-note/refactor

#4373 feat(bin/ofs): Add behavior test for ofs
  .github/actions/test_behavior_bin_ofs/action.yaml
  .github/scripts/test_behavior/plan.py
  .github/workflows/test_behavior.yml
  .github/workflows/test_behavior_bin_ofs.yml
  bin/ofs/Cargo.lock
  bin/ofs/Cargo.toml
  bin/ofs/tests/common/mod.rs
  bin/ofs/tests/file.rs
  bin/ofs/tests/path.rs
Labels: releases-note/feat

#4440 feat(core/raw/buf): Reduce one allocation by `Arc::from_iter`
  core/src/raw/oio/buf/buffer.rs
  core/src/raw/oio/buf/mod.rs
  core/src/raw/oio/buf/queue_buf.rs
  core/src/raw/oio/write/exact_buf_write.rs
Labels: releases-note/feat

#4442 docs: Update links to o.a.o/discord
  README.md
  bindings/nodejs/README.md
  core/README.md
  core/src/docs/rfcs/README.md
  website/blog/2023-03-16-opendal-entered-apache-incubator/index.md
  website/community/events/gsoc-proposal-guide.md
Labels: releases-note/docs

#4447 feat: add `HttpClient::with()` constructor
  core/src/raw/http_util/client.rs
Labels: releases-note/feat

#4448 ci: fix planner for bin ofs
  .github/scripts/test_behavior/plan.py
  .github/scripts/test_behavior/test_plan.py
Labels: releases-note/ci

#4457 fix(core/services/cos): Don't allow empty credential
  core/src/services/cos/core.rs
Labels: releases-note/fix

#4458 feat: Optimize buffer implementation and add stream support
  core/src/types/buffer.rs
Labels: releases-note/feat

#4459 feat(core): Implement FromIterator for Buffer
  core/src/types/buffer.rs
Labels: releases-note/feat

#4374 fix(oay): support `WebdavFile` continuous reading and writing
  integrations/dav-server/src/file.rs
  integrations/dav-server/src/opendalfs.rs
  integrations/dav-server/tests/test.rs
Labels: releases-note/fix

#4463 ci: Revert oay changes to fix CI
  .github/workflows/ci_bin_oay.yml
  integrations/dav-server/src/file.rs
  integrations/dav-server/src/opendalfs.rs
  integrations/dav-server/tests/test.rs
Labels: releases-note/ci

#4425 feat(services/ftp): Support multiple write
  core/src/services/ftp/backend.rs
  core/src/services/ftp/writer.rs
Labels: releases-note/feat

#4430 fix(s3): don't delete bucket
  core/src/services/s3/backend.rs
Labels: releases-note/fix

#4466 feat(raw/oio): block write change to buffer
  core/src/raw/oio/write/block_write.rs
Labels: releases-note/feat

#4467 feat(core): Implement read and read_into for Reader
  bin/ofs/src/fuse.rs
  bindings/c/src/error.rs
  bindings/c/src/types.rs
  bindings/java/src/blocking_operator.rs
  bindings/java/src/operator.rs
  bindings/nodejs/src/lib.rs
  bindings/python/src/operator.rs
  core/benches/ops/read.rs
  core/benches/vs_s3/src/main.rs
  core/edge/s3_read_on_wasm/src/lib.rs
  core/fuzz/fuzz_writer.rs
  core/src/layers/retry.rs
  core/src/layers/timeout.rs
  core/src/raw/tests/read.rs
  core/src/types/blocking_reader.rs
  core/src/types/buffer.rs
  core/src/types/operator/blocking_operator.rs
  core/src/types/operator/operator.rs
  core/src/types/operator/operator_functions.rs
  core/src/types/reader.rs
  core/tests/behavior/async_copy.rs
  core/tests/behavior/async_read.rs
  core/tests/behavior/async_rename.rs
  core/tests/behavior/async_write.rs
  core/tests/behavior/blocking_copy.rs
  core/tests/behavior/blocking_read.rs
  core/tests/behavior/blocking_rename.rs
  core/tests/behavior/blocking_write.rs
  integrations/dav-server/src/file.rs
  integrations/object_store/src/lib.rs
Labels: releases-note/feat

#4469 ci: Fix CI for all bindings
  .github/workflows/ci_bindings_c.yml
  .github/workflows/ci_bindings_cpp.yml
  .github/workflows/ci_bindings_dotnet.yml
  .github/workflows/ci_bindings_haskell.yml
  .github/workflows/ci_bindings_lua.yml
  .github/workflows/ci_bindings_nodejs.yml
  .github/workflows/ci_bindings_ocaml.yml
  .github/workflows/ci_bindings_python.yml
  .github/workflows/ci_bindings_ruby.yml
  .github/workflows/ci_bindings_swift.yml
  bindings/cpp/src/lib.rs
  bindings/dotnet/src/lib.rs
  bindings/haskell/src/lib.rs
  bindings/lua/src/lib.rs
  bindings/ocaml/src/operator/mod.rs
  bindings/ocaml/src/operator/reader.rs
  bindings/ruby/src/lib.rs
Labels: releases-note/ci

#4472 chore: Bump bytes to 1.6 to avoid compileing error
  bin/oay/Cargo.lock
  bin/ofs/Cargo.lock
  bin/oli/Cargo.lock
  core/Cargo.lock
  core/Cargo.toml
Labels: releases-note/chore

#4473 feat(core): Implement into_stream for Reader
  core/src/docs/internals/accessor.rs
  core/src/layers/complete.rs
  core/src/layers/minitrace.rs
  core/src/layers/oteltrace.rs
  core/src/layers/tracing.rs
  core/src/layers/type_eraser.rs
  core/src/raw/futures_util.rs
  core/src/raw/http_util/client.rs
  core/src/raw/mod.rs
  core/src/raw/oio/list/api.rs
  core/src/raw/oio/list/page_list.rs
  core/src/raw/oio/read/api.rs
  core/src/raw/oio/read/mod.rs
  core/src/raw/oio/write/api.rs
  core/src/raw/oio/write/append_write.rs
  core/src/raw/oio/write/block_write.rs
  core/src/raw/oio/write/multipart_write.rs
  core/src/raw/oio/write/one_shot_write.rs
  core/src/raw/oio/write/range_write.rs
  core/src/types/reader.rs
  core/tests/behavior/utils.rs
Labels: releases-note/feat

#4468 feat(core): Tune buffer operations based on benchmark results
  core/src/types/buffer.rs
  core/src/types/reader.rs
Labels: releases-note/feat

#4476 feat(raw/oio): Use `Buffer` as cache in `RangeWrite`
  core/src/raw/oio/write/range_write.rs
Labels: releases-note/feat

#4481 fix(core): Buffer offset misuse
  core/src/types/buffer.rs
Labels: releases-note/fix

#4477 feat(raw/oio): Use `Buffer` as cache in `OneshotWrite`
  core/src/raw/oio/write/one_shot_write.rs
  core/src/services/azdls/writer.rs
  core/src/services/azfile/writer.rs
  core/src/services/chainsafe/core.rs
  core/src/services/chainsafe/writer.rs
  core/src/services/dbfs/writer.rs
  core/src/services/dropbox/writer.rs
  core/src/services/gdrive/core.rs
  core/src/services/gdrive/writer.rs
  core/src/services/github/backend.rs
  core/src/services/github/core.rs
  core/src/services/github/writer.rs
  core/src/services/ipmfs/backend.rs
  core/src/services/ipmfs/writer.rs
  core/src/services/koofr/core.rs
  core/src/services/koofr/writer.rs
  core/src/services/onedrive/writer.rs
  core/src/services/pcloud/core.rs
  core/src/services/pcloud/writer.rs
  core/src/services/seafile/writer.rs
  core/src/services/supabase/writer.rs
  core/src/services/swift/writer.rs
  core/src/services/vercel_artifacts/writer.rs
  core/src/services/webdav/writer.rs
  core/src/services/yandex_disk/writer.rs
Labels: releases-note/feat

#4474 refactor(core): Polish FuturesBytesStream by avoiding extra copy
  core/src/raw/oio/read/api.rs
  core/src/types/reader.rs
Labels: releases-note/refactor

#4424 feat: add list/copy/rename for dropbox
  core/src/services/dropbox/backend.rs
  core/src/services/dropbox/core.rs
  core/src/services/dropbox/docs.md
  core/src/services/dropbox/error.rs
  core/src/services/dropbox/lister.rs
  core/src/services/dropbox/mod.rs
Labels: releases-note/feat

#4475 chore: Add output types in OperatorFutures
  core/src/types/operator/operator.rs
  core/src/types/operator/operator_futures.rs
Labels: releases-note/chore

#4482 feat(core): Implement write and write_from for Writer
  core/src/layers/complete.rs
  core/src/types/operator/operator.rs
  core/src/types/operator/operator_futures.rs
  core/src/types/writer.rs
  core/tests/behavior/async_write.rs
Labels: releases-note/feat

#4485 ci: Disable dropbox test until #4484 fixed
  .github/services/dropbox/dropbox/disable_action.yml
Labels: releases-note/ci

#4486 feat(core): Add auto ranged read and concurrent read support
  core/src/raw/ops.rs
  core/src/types/operator/operator.rs
  core/src/types/operator/operator_futures.rs
  core/src/types/reader.rs
Labels: releases-note/feat

#4487 fix(core): Read chunk should respect users input
  core/src/raw/ops.rs
  core/src/types/reader.rs
Labels: releases-note/fix

#4488 feat(core): Implement fetch for Reader
  core/src/raw/ops.rs
  core/src/types/buffer.rs
  core/src/types/operator/operator_futures.rs
  core/src/types/reader.rs
Labels: releases-note/feat

#4489 chore(core): Use reader's chunk size instead
  bin/oli/src/commands/cp.rs
  core/src/types/reader.rs
Labels: releases-note/chore

#4491 chore: sort tomls by taplo
  .typos.toml
  bin/ofs/Cargo.toml
  bindings/java/Cargo.toml
  bindings/php/Cargo.toml
  bindings/python/Cargo.toml
  core/Cargo.toml
  examples/rust/03-add-layers/Cargo.toml
  integrations/dav-server/Cargo.toml
  integrations/object_store/Cargo.toml
Labels: releases-note/chore

#4493 refactor: Use Buffer as cache in MultipartWrite
  core/src/raw/oio/write/multipart_write.rs
Labels: releases-note/refactor

#4494 refactor: kv::adapter should use Buffer (read part)
  core/src/raw/adapters/kv/api.rs
  core/src/raw/adapters/kv/backend.rs
  core/src/raw/oio/read/api.rs
  core/src/services/atomicserver/backend.rs
  core/src/services/cacache/backend.rs
  core/src/services/cloudflare_kv/backend.rs
  core/src/services/d1/backend.rs
  core/src/services/d1/model.rs
  core/src/services/etcd/backend.rs
  core/src/services/foundationdb/backend.rs
  core/src/services/gridfs/backend.rs
  core/src/services/libsql/backend.rs
  core/src/services/memcached/backend.rs
  core/src/services/mongodb/backend.rs
  core/src/services/mysql/backend.rs
  core/src/services/persy/backend.rs
  core/src/services/postgresql/backend.rs
  core/src/services/redb/backend.rs
  core/src/services/redis/backend.rs
  core/src/services/rocksdb/backend.rs
  core/src/services/sled/backend.rs
  core/src/services/sqlite/backend.rs
  core/src/services/surrealdb/backend.rs
  core/src/services/tikv/backend.rs
Labels: releases-note/refactor

#4498 chore(core): Align Reader and Writer's API design
  bin/oli/src/commands/cat.rs
  bin/oli/src/commands/cp.rs
  bindings/c/include/opendal.h
  bindings/c/src/reader.rs
  bindings/cpp/src/lib.rs
  bindings/cpp/src/reader.rs
  bindings/nodejs/src/lib.rs
  bindings/python/src/file.rs
  core/benches/ops/read.rs
  core/src/types/blocking_reader.rs
  core/src/types/mod.rs
  core/src/types/reader.rs
  core/src/types/writer.rs
  core/tests/behavior/async_write.rs
  integrations/object_store/src/lib.rs
Labels: releases-note/chore

#4497 refactor: typed_kv::adapter should use Buffer
  core/src/raw/adapters/typed_kv/api.rs
  core/src/raw/adapters/typed_kv/backend.rs
  core/src/raw/oio/buf/queue_buf.rs
  core/src/raw/oio/write/exact_buf_write.rs
Labels: releases-note/refactor

#4496 refactor: kv::adapter should use Buffer (write part)
  core/src/raw/adapters/kv/api.rs
  core/src/raw/adapters/kv/backend.rs
  core/src/services/atomicserver/backend.rs
  core/src/services/cacache/backend.rs
  core/src/services/cloudflare_kv/backend.rs
  core/src/services/d1/backend.rs
  core/src/services/etcd/backend.rs
  core/src/services/foundationdb/backend.rs
  core/src/services/gridfs/backend.rs
  core/src/services/libsql/backend.rs
  core/src/services/memcached/backend.rs
  core/src/services/mongodb/backend.rs
  core/src/services/mysql/backend.rs
  core/src/services/persy/backend.rs
  core/src/services/postgresql/backend.rs
  core/src/services/redb/backend.rs
  core/src/services/redis/backend.rs
  core/src/services/rocksdb/backend.rs
  core/src/services/sled/backend.rs
  core/src/services/sqlite/backend.rs
  core/src/services/surrealdb/backend.rs
  core/src/services/tikv/backend.rs
  core/src/types/buffer.rs
Labels: releases-note/refactor

#4499 feat(core): Allow concurrent reading on bytes stream
  core/src/types/reader.rs
Labels: releases-note/feat

#4503 docs: publish docs for dav-server-opendalfs
  .github/workflows/docs.yml
  integrations/dav-server/README.md
  website/docs/integrations/dav-server-opendalfs.mdx
  website/docusaurus.config.js
Labels: releases-note/docs

#4443 feat: provide send-wrapper to contidionally implement Send for operators
  integrations/object_store/Cargo.toml
  integrations/object_store/src/lib.rs
  integrations/object_store/src/send_wrapper.rs
Labels: releases-note/feat

#4508 refactor: Migrate FuturesAsyncReader to stream based
  core/src/types/reader.rs
  core/tests/behavior/async_read.rs
Labels: releases-note/refactor

#4510 fix(services/cos): fix mdx
  website/docs/services/cos.mdx
Labels: releases-note/fix

#4507 feat(bin/ofs): privileged mount
  bin/ofs/Cargo.lock
  bin/ofs/Cargo.toml
  bin/ofs/src/bin/ofs.rs
  bin/ofs/src/lib.rs
Labels: releases-note/feat

#4514 chore: Reorganize the blocking reader layout
  core/src/types/blocking_reader.rs
  core/src/types/blocking_reader/blocking_reader.rs
  core/src/types/blocking_reader/mod.rs
  core/src/types/blocking_reader/std_bytes_iterator.rs
  core/src/types/blocking_reader/std_reader.rs
  core/src/types/mod.rs
Labels: releases-note/chore

#4516 docs: Add docs for read_with and reader_with
  core/src/types/operator/operator.rs
Labels: releases-note/docs

#4517 fix: minor doc issue
  core/src/types/operator/operator.rs
Labels: releases-note/fix

#4519 feat(services/compfs): init compfs
  core/Cargo.lock
  core/Cargo.toml
  core/src/services/compfs/mod.rs
  core/src/services/mod.rs
Labels: releases-note/feat

#4522 feat(raw/oio): Add PooledBuf to allow reuse buffer
  core/src/raw/oio/buf/mod.rs
  core/src/raw/oio/buf/pooled_buf.rs
Labels: releases-note/feat

#4523 refactor(services/fs): Extract FsCore from FsBackend
  core/src/services/fs/backend.rs
  core/src/services/fs/core.rs
  core/src/services/fs/mod.rs
Labels: releases-note/refactor

#4525 feat(services/fs): Add PooledBuf in fs to allow reusing memory
  core/src/raw/oio/buf/pooled_buf.rs
  core/src/services/fs/backend.rs
  core/src/services/fs/core.rs
  core/src/services/fs/reader.rs
Labels: releases-note/feat

#4529 ci: Fix build of python binding for chunk write changes
  bindings/python/src/operator.rs
  core/src/types/operator/operator_functions.rs
Labels: releases-note/ci

#4530 feat(core): add access methods for `Buffer`
  core/src/types/buffer.rs
Labels: releases-note/feat

#4531 build(core): bump compio version to v0.10.0
  .github/workflows/docs.yml
  core/Cargo.lock
  core/Cargo.toml
Labels: releases-note/build

#4532 feat(core): implement `IoBuf` for `Buffer`
  core/Cargo.lock
  core/Cargo.toml
  core/src/services/compfs/core.rs
  core/src/services/compfs/mod.rs
Labels: releases-note/feat

#4535 feat(core): change Result to default error
  core/src/types/error.rs
Labels: releases-note/feat

#4538 ci: Disable tikv for pingcap's mirror is unstable
  .github/services/tikv/tikv/disable_action.yml
Labels: releases-note/ci

#4423 feat(services/github): support list recursive
  core/src/services/github/backend.rs
  core/src/services/github/core.rs
  core/src/services/github/lister.rs
Labels: releases-note/feat

#4533 feat: Add crc32c checksums to S3 Service
  core/Cargo.lock
  core/Cargo.toml
  core/src/services/s3/backend.rs
  core/src/services/s3/core.rs
Labels: releases-note/feat

#4542 chore(core): Change std result to opendal result in core
  core/src/raw/oio/write/block_write.rs
  core/src/raw/serde_util.rs
  core/src/services/cos/core.rs
  core/src/services/etcd/backend.rs
  core/src/services/ftp/backend.rs
  core/src/services/memcached/backend.rs
  core/src/services/memcached/binary.rs
  core/src/services/obs/core.rs
  core/src/services/persy/backend.rs
  core/src/services/s3/core.rs
  core/src/services/sftp/backend.rs
Labels: releases-note/chore

#4541 feat: Add into_bytes_sink for Writer
  core/src/raw/oio/buf/flex_buf.rs
  core/src/types/read/buffer_stream.rs
  core/src/types/read/futures_async_reader.rs
  core/src/types/read/futures_bytes_stream.rs
  core/src/types/read/reader.rs
  core/src/types/write/buffer_sink.rs
  core/src/types/write/futures_async_writer.rs
  core/src/types/write/futures_bytes_sink.rs
  core/src/types/write/mod.rs
  core/src/types/write/writer.rs
  core/tests/behavior/async_write.rs
Labels: releases-note/feat

#4543 docs: Add upgrade doc for rust core
  core/src/docs/upgrade.md
Labels: releases-note/docs

#4546 docs: update the outdated download link
  core/src/services/postgresql/backend.rs
  website/community/committers/release.md
  website/src/pages/download.md
Labels: releases-note/docs

#4547 chore: fixup download links
  website/docusaurus.config.js
  website/src/pages/download.md
Labels: releases-note/chore

#4549 fix(website): community sync calendar iframe
  website/community/index.mdx
Labels: releases-note/fix

#4550 fix: community sync calendar iframe load failed
  website/community/index.mdx
Labels: releases-note/fix
