Repository apache/opendal, pull requests merged in 2024-02, with the labels that each got.

#4122 fix(bindings/python): missed to call close for the file internally
  bindings/python/src/file.rs
Labels: releases-note/fix

#4127 fix(bindings/python): sync writer exit close raise error
  bindings/python/src/file.rs
  bindings/python/tests/conftest.py
  bindings/python/tests/test_write.py
Labels: releases-note/fix

#4128 refactor(bindings/python): simplify async writer aexit
  bindings/python/src/file.rs
Labels: releases-note/refactor

#4129 refactor(service/d1): Add D1Config
  core/src/services/d1/backend.rs
  core/src/services/d1/mod.rs
  core/src/services/mod.rs
Labels: releases-note/refactor

#4135 feat(bindings/python): add ruff as linter
  .github/workflows/bindings_python.yml
  bindings/python/benchmark/async_origin_s3_benchmark_with_gevent.py
  bindings/python/pyproject.toml
Labels: releases-note/feat

#4137 chore: Fix build of core
  core/Cargo.lock
  core/Cargo.toml
  core/benches/vs_fs/Cargo.toml
  core/benches/vs_s3/Cargo.toml
  core/edge/file_write_on_full_disk/Cargo.toml
  core/edge/s3_aws_assume_role_with_web_identity/Cargo.toml
  core/edge/s3_read_on_wasm/Cargo.toml
  core/fuzz/Cargo.toml
Labels: releases-note/chore

#4139 ci: Refactor workflows layout
  .github/actions/test_behavior_binding_java/action.yaml
  .github/actions/test_behavior_binding_nodejs/action.yaml
  .github/actions/test_behavior_binding_python/action.yaml
  .github/actions/test_behavior_core/action.yaml
  .github/scripts/test_behavior/__init__.py
  .github/scripts/test_behavior/plan.py
  .github/scripts/test_behavior/test_plan.py
  .github/workflows/ci_bin_oay.yml
  .github/workflows/ci_bin_ofs.yml
  .github/workflows/ci_bin_oli.yml
  .github/workflows/ci_bindings_c.yml
  .github/workflows/ci_bindings_cpp.yml
  .github/workflows/ci_bindings_dotnet.yml
  .github/workflows/ci_bindings_go.yml
  .github/workflows/ci_bindings_haskell.yml
  .github/workflows/ci_bindings_java.yml
  .github/workflows/ci_bindings_lua.yml
  .github/workflows/ci_bindings_nodejs.yml
  .github/workflows/ci_bindings_ocaml.yml
  .github/workflows/ci_bindings_php.yml
  .github/workflows/ci_bindings_python.yml
  .github/workflows/ci_bindings_ruby.yml
  .github/workflows/ci_bindings_swift.yml
  .github/workflows/ci_bindings_zig.yml
  .github/workflows/ci_core.yml
  .github/workflows/ci_integration_dav_server.yml
  .github/workflows/ci_integration_object_store.yml
  .github/workflows/release_core.yml
  .github/workflows/test_behavior.yml
  .github/workflows/test_behavior_binding_java.yml
  .github/workflows/test_behavior_binding_nodejs.yml
  .github/workflows/test_behavior_binding_python.yml
  .github/workflows/test_behavior_core.yml
  .github/workflows/test_edge.yml
  .github/workflows/test_examples.yml
  .github/workflows/test_fuzz.yml
Labels: releases-note/ci

#4140 ci: Migrate hdfs default setup
  .github/scripts/test_behavior/plan.py
  .github/services/hdfs/hdfs_default/action.yml
  .github/workflows/service_test_hdfs.yml
Labels: releases-note/ci

#4147 chore: Fix workflow links for opendal
  core/README.md
Labels: releases-note/chore

#4148 fix(services/chainsafe): fix 423 http status
  core/src/services/chainsafe/error.rs
Labels: releases-note/fix

#4149 chore(website): Bump download link for 0.45.0 release
  website/src/pages/download.md
Labels: releases-note/chore

#4152 docs(website): announce release v0.45.0 to news
  website/community/news.md
Labels: releases-note/docs

#4158 docs(services/gdrive): Update Google Drive capabilities list docs
  core/src/services/gdrive/docs.md
Labels: releases-note/docs

#4159 ci: Refactor check.sh into check.py to get ready for multi components release
  scripts/README.md
  scripts/check.py
  scripts/check.sh
  website/community/committers/verify.md
Labels: releases-note/ci

#4162 docs: Fix docs build
  .github/workflows/docs.yml
Labels: releases-note/docs

#4165 chore: Fix name DtraceLayerWrapper
  core/src/layers/dtrace.rs
Labels: releases-note/chore

#4145 ci: Add test case for hdfs over gcs bucket
  .github/services/hdfs/hdfs_default_gcs/action.yml
  core/src/services/hdfs/docs.md
  fixtures/hdfs/gcs-core-site.xml
Labels: releases-note/ci

#4170 fix(services/webdav): Add possibility to answer without response if file isn't exist
  core/src/services/webdav/backend.rs
  core/src/services/webdav/lister.rs
Labels: releases-note/fix

#4173 fix(services/webdav): Recreate root directory if need
  core/src/services/webdav/backend.rs
Labels: releases-note/fix

#4174 feat(services/hdfs-native): Add capabilities for hdfs-native service
  core/src/services/hdfs_native/backend.rs
  core/src/services/hdfs_native/docs.md
Labels: releases-note/feat

#4180 feat(services/sqlite): Add list capability supported for sqlite
  core/src/services/sqlite/backend.rs
  core/src/services/sqlite/docs.md
Labels: releases-note/feat

#4184 ci: Add hdfs test case for s3
  .github/services/hdfs/hdfs_default_on_minio_s3/action.yml
  fixtures/hdfs/minio-s3-core-site.xml
Labels: releases-note/ci

#4185 ci: Add hdfs test case for azurite
  .github/services/hdfs/hdfs_default_on_azurite_azblob/action.yml
  fixtures/hdfs/azurite-azblob-core-site.xml
Labels: releases-note/ci

#4190 docs: add docs for Ceph Rados Gateway S3
  core/src/services/s3/compatible_services.md
Labels: releases-note/docs

#4181 feat(services/azblob): support multi write for azblob
  core/src/services/azblob/backend.rs
  core/src/services/azblob/core.rs
  core/src/services/azblob/writer.rs
Labels: releases-note/feat

#4196 feat(release): Implement releasing OpenDAL components seperately
  .github/workflows/ci_check.yml
  .github/workflows/ci_core.yml
  .github/workflows/release_core.yml
  .github/workflows/release_java.yml
  bin/oay/Cargo.toml
  bin/ofs/Cargo.toml
  bin/oli/Cargo.toml
  bindings/c/Cargo.toml
  bindings/cpp/Cargo.toml
  bindings/dotnet/Cargo.toml
  bindings/haskell/Cargo.toml
  bindings/java/Cargo.toml
  bindings/lua/Cargo.toml
  bindings/nodejs/Cargo.toml
  bindings/ocaml/Cargo.toml
  bindings/php/Cargo.toml
  bindings/python/Cargo.toml
  bindings/python/pyproject.toml
  bindings/ruby/Cargo.toml
  integrations/dav-server/Cargo.toml
  integrations/object_store/Cargo.toml
  scripts/README.md
  scripts/constants.py
  scripts/release.py
  scripts/release.sh
  scripts/verify.py
  scripts/workspace.py
  website/community/committers/release.md
Labels: releases-note/feat

#4197 chore: Align core version
  bindings/haskell/Cargo.toml
  bindings/haskell/Setup.hs
  bindings/ocaml/Cargo.toml
  bindings/ruby/Cargo.toml
Labels: releases-note/chore

#4200 ci: Add support for releasing all rust packages
  .github/workflows/release_rust.yml
  bin/oay/Cargo.toml
Labels: releases-note/ci

#4201 chore: update benchmark doc
  core/benches/ops/README.md
Labels: releases-note/chore

#4202 ci: Fix dependabot not update
  .github/dependabot.yml
Labels: releases-note/ci

#4226 docs: Fix typo in `core/src/services/http/docs.md`
  core/src/services/http/docs.md
Labels: releases-note/docs

#4227 docs: Fix spelling in Rust files
  core/src/raw/adapters/typed_kv/api.rs
  core/src/services/sqlite/backend.rs
Labels: releases-note/docs

#4228 docs: fix typo in `website/README.md`
  website/README.md
Labels: releases-note/docs

#4229 docs: fix spelling
  core/src/docs/rfcs/2299_chain_based_operator_api.md
  website/community/committers/release.md
Labels: releases-note/docs

#4231 fix(services/webdav): remove base_dir component
  core/src/services/webdav/backend.rs
  core/src/services/webdav/lister.rs
Labels: releases-note/fix

#4230 fix(core): Poll TimeoutLayer::sleep once to make sure timer registered
  core/src/layers/timeout.rs
Labels: releases-note/fix

#4234 docs: fix typo
  website/community/committers/verify.md
Labels: releases-note/docs

#4235 docs: fix typo in `bindings/c/CONTRIBUTING.md`
  bindings/c/CONTRIBUTING.md
Labels: releases-note/docs

#4236 docs: fix spelling in code comments
  bindings/c/include/opendal.h
  bindings/c/src/operator.rs
Labels: releases-note/docs

#4237 docs: fix spelling in `CONTRIBUTING`
  bindings/cpp/CONTRIBUTING.md
  bindings/haskell/CONTRIBUTING.md
  bindings/nodejs/CONTRIBUTING.md
  bindings/python/CONTRIBUTING.md
  bindings/zig/CONTRIBUTING.md
Labels: releases-note/docs

#4238 docs: fix Markdown link in `bindings/README.md`
  bindings/README.md
Labels: releases-note/docs

#4239 docs: fix links and spelling in Markdown
  integrations/README.md
  integrations/dav-server/README.md
Labels: releases-note/docs

#4241 docs: fix grammar and spelling in Markdown in `examples/rust`
  examples/rust/00-setup/README.md
  examples/rust/01-init-operator/README.md
  examples/rust/02-async-io/README.md
Labels: releases-note/docs

#4243 docs: remove unneeded duplicate words from Rust files
  core/src/raw/adapters/mod.rs
  core/src/raw/adapters/typed_kv/backend.rs
  core/src/types/metadata.rs
Labels: releases-note/docs

#4245 docs: fix grammar and spelling in Markdown
  core/src/docs/upgrade.md
Labels: releases-note/docs

#4254 ci: Remove version suffix from package versions
  .github/workflows/release_rust.yml
  .gitignore
  .typos.toml
  CHANGELOG.md
  bin/oay/Cargo.lock
  bin/oay/Cargo.toml
  bin/oay/DEPENDENCIES.rust.tsv
  bin/ofs/Cargo.lock
  bin/ofs/Cargo.toml
  bin/ofs/DEPENDENCIES.rust.tsv
  bin/oli/Cargo.lock
  bin/oli/Cargo.toml
  bin/oli/DEPENDENCIES.rust.tsv
  bindings/c/Cargo.toml
  bindings/c/DEPENDENCIES.rust.tsv
  bindings/cpp/Cargo.toml
  bindings/cpp/DEPENDENCIES.rust.tsv
  bindings/dotnet/Cargo.toml
  bindings/dotnet/DEPENDENCIES.rust.tsv
  bindings/haskell/Cargo.toml
  bindings/haskell/DEPENDENCIES.rust.tsv
  bindings/java/Cargo.toml
  bindings/java/DEPENDENCIES.rust.tsv
  bindings/java/pom.xml
  bindings/lua/Cargo.toml
  bindings/lua/DEPENDENCIES.rust.tsv
  bindings/nodejs/Cargo.toml
  bindings/nodejs/DEPENDENCIES.rust.tsv
  bindings/nodejs/npm/darwin-arm64/package.json
  bindings/nodejs/npm/darwin-x64/package.json
  bindings/nodejs/npm/linux-arm64-gnu/package.json
  bindings/nodejs/npm/linux-arm64-musl/package.json
  bindings/nodejs/npm/linux-x64-gnu/package.json
  bindings/nodejs/npm/win32-arm64-msvc/package.json
  bindings/nodejs/npm/win32-x64-msvc/package.json
  bindings/ocaml/Cargo.toml
  bindings/ocaml/DEPENDENCIES.rust.tsv
  bindings/php/Cargo.toml
  bindings/php/DEPENDENCIES.rust.tsv
  bindings/python/Cargo.toml
  bindings/python/DEPENDENCIES.rust.tsv
  bindings/ruby/Cargo.toml
  bindings/ruby/DEPENDENCIES.rust.tsv
  integrations/dav-server/Cargo.toml
  integrations/dav-server/DEPENDENCIES.rust.tsv
  integrations/object_store/Cargo.toml
  integrations/object_store/DEPENDENCIES.rust.tsv
  scripts/constants.py
  scripts/dependencies.py
Labels: releases-note/ci

#4257 fix(services/webdav): Fix endpoint suffix not handled
  core/src/services/webdav/backend.rs
  core/src/services/webdav/lister.rs
Labels: releases-note/fix

#4252 feat(services/memcached): change to binary protocal
  core/src/services/memcached/ascii.rs
  core/src/services/memcached/backend.rs
  core/src/services/memcached/binary.rs
  core/src/services/memcached/docs.md
  core/src/services/memcached/mod.rs
Labels: releases-note/feat

#4259 feat(services/memcached): setup auth test for memcached
  .github/services/memcached/memcached_with_auth/action.yml
  fixtures/memcached/docker-compose-memcached-with-auth.yml
Labels: releases-note/feat

#4261 docs: Add architectural.png to website
  website/static/img/architectural.png
Labels: releases-note/docs

#4260 docs: Re-org project README
  README.md
Labels: releases-note/docs

#4263 docs: order the README `Who is using OpenDAL` list
  README.md
Labels: releases-note/docs

#4264 feat(services/yandex_disk): setup test for yandex disk
  .github/services/yandex_disk/yandex_disk/action.yml
  bindings/java/Cargo.toml
  bindings/nodejs/Cargo.toml
  bindings/python/Cargo.toml
  core/src/services/yandex_disk/error.rs
Labels: releases-note/feat

#4191 feat: add ci support for ceph_rados
  .github/services/s3/0_minio_s3/action.yml
  .github/services/s3/ceph_rados_s3/action.yml
  fixtures/s3/docker-compose-ceph-rados.yml
Labels: releases-note/feat

#4266 ci: Fix fuzz test for minio s3 name change
  .github/workflows/test_fuzz.yml
Labels: releases-note/ci

#4269 ci: Mark python 3.13 is not supported
  .github/workflows/ci_bindings_c.yml
  .github/workflows/ci_bindings_cpp.yml
  .github/workflows/ci_bindings_dotnet.yml
  .github/workflows/ci_bindings_go.yml
  .github/workflows/ci_bindings_haskell.yml
  .github/workflows/ci_bindings_java.yml
  .github/workflows/ci_bindings_lua.yml
  .github/workflows/ci_bindings_nodejs.yml
  .github/workflows/ci_bindings_ocaml.yml
  .github/workflows/ci_bindings_python.yml
  .github/workflows/ci_bindings_ruby.yml
  .github/workflows/ci_bindings_swift.yml
  .github/workflows/ci_bindings_zig.yml
  bindings/python/pyproject.toml
Labels: releases-note/ci

#4274 ci: Disable yandex disk test for too slow
  .github/services/yandex_disk/yandex_disk/action.yml
Labels: releases-note/ci

#4275 ci: Split python CI into release and checks
  .github/workflows/ci_bindings_python.yml
  .github/workflows/release_java.yml
  .github/workflows/release_python.yml
Labels: releases-note/ci

#4277 feat: Implement Config for part of services
  core/src/services/azblob/backend.rs
  core/src/services/azdls/backend.rs
  core/src/services/azfile/backend.rs
  core/src/services/cacache/backend.rs
  core/src/services/cloudflare_kv/backend.rs
  core/src/services/cos/backend.rs
  core/src/services/dashmap/backend.rs
  core/src/services/dbfs/backend.rs
Labels: releases-note/feat

#4265 feat: add jfrog test setup for webdav
  .github/services/webdav/0_nginx/action.yml
  .github/services/webdav/jfrog/action.yml
  core/src/services/webdav/backend.rs
  core/src/services/webdav/lister.rs
  fixtures/webdav/docker-compose-webdav-jfrog.yml
Labels: releases-note/feat

#4283 ci(release): Make sure LICENSE and NOTICE files are included
  scripts/release.py
Labels: releases-note/ci

#4284 ci(release): Refactor and merge the check.py into verify.py
  scripts/README.md
  scripts/check.py
  scripts/verify.py
  website/community/committers/release.md
  website/community/committers/verify.md
Labels: releases-note/ci

#4288 docs: Add blog for apache opendal participates in gsoc 2024
  website/blog/2024-02-28-apache-opendal-participates-in-gsoc-2024/index.md
Labels: releases-note/docs

#4293 ci: Address Node.js 16 actions are deprecated
  .github/actions/setup/action.yaml
Labels: releases-note/ci

#4295 ci: Disable vsftpd test for it's keeping failure
  .github/scripts/test_behavior/plan.py
  .github/services/ftp/vsftpd/disable_action.yml
Labels: releases-note/ci

#4294 docs: Fix and improve docs for presign operations
  core/src/services/azblob/core.rs
  core/src/services/azdls/backend.rs
  core/src/services/memcached/binary.rs
  core/src/services/vercel_blob/core.rs
  core/src/services/vercel_blob/writer.rs
  core/src/services/webdav/core.rs
  core/src/services/webdav/lister.rs
  core/src/services/webdav/writer.rs
  core/src/types/operator/operator.rs
Labels: releases-note/docs

#4281 feat(services/github): add github contents support
  core/Cargo.toml
  core/src/services/github/backend.rs
  core/src/services/github/core.rs
  core/src/services/github/docs.md
  core/src/services/github/error.rs
  core/src/services/github/lister.rs
  core/src/services/github/mod.rs
  core/src/services/github/writer.rs
  core/src/services/mod.rs
  core/src/types/operator/builder.rs
  core/src/types/scheme.rs
Labels: releases-note/feat

#4297 fix(bin/ofs): crashes when fh=None
  bin/ofs/src/fuse.rs
Labels: releases-note/fix

#4296 docs: Polish the docs for writer
  core/src/types/operator/operator.rs
Labels: releases-note/docs
