Repository apache/opendal, pull requests merged in 2024-10, with the labels that each got.

#5147 feat: add NebulaGraph config
  core/Cargo.toml
  core/src/services/nebula_graph/backend.rs
  core/src/services/nebula_graph/config.rs
  core/src/services/nebula_graph/docs.md
  core/src/services/nebula_graph/mod.rs
Labels: releases-note/feat

#5154 feat(integrations/spring): add spring serialize method
  integrations/spring/opendal-spring-boot-starter-reactive/src/main/java/org/apache/opendal/spring/config/OpenDALReactiveAutoConfiguration.java
  integrations/spring/opendal-spring-boot-starter-reactive/src/test/java/org/apache/opendal/spring/config/OpenDALReactiveAutoConfigurationTest.java
  integrations/spring/opendal-spring-boot-starter/src/main/java/org/apache/opendal/spring/config/OpenDALAutoConfiguration.java
  integrations/spring/opendal-spring-boot-starter/src/test/java/org/apache/opendal/spring/config/OpenDALAutoConfigurationTest.java
  integrations/spring/opendal-spring/pom.xml
  integrations/spring/opendal-spring/src/main/java/org/apache/opendal/spring/core/DefaultOpenDALSerializer.java
  integrations/spring/opendal-spring/src/main/java/org/apache/opendal/spring/core/DefaultOpenDALSerializerFactory.java
  integrations/spring/opendal-spring/src/main/java/org/apache/opendal/spring/core/OpenDALSerializer.java
  integrations/spring/opendal-spring/src/main/java/org/apache/opendal/spring/core/OpenDALSerializerFactory.java
  integrations/spring/opendal-spring/src/test/java/org/apache/opendal/spring/core/DefaultOpenDALSerializerFactoryTest.java
Labels: releases-note/feat

#5157 chore: fix typos in tokio_executor.rs
  core/src/types/execute/executors/tokio_executor.rs
Labels: releases-note/chore

#5158 chore: hint when java tests are skipped
  bindings/java/src/test/java/org/apache/opendal/test/behavior/BehaviorExtension.java
Labels: releases-note/chore

#5160 refactor: align C binding pattern
  bindings/c/include/opendal.h
  bindings/c/src/entry.rs
  bindings/c/src/lister.rs
  bindings/c/src/metadata.rs
  bindings/c/src/operator.rs
  bindings/c/src/operator_info.rs
  bindings/c/src/reader.rs
  bindings/c/src/types.rs
  bindings/c/src/writer.rs
Labels: releases-note/refactor

#5159 docs: improve Node.js binding's test doc
  bindings/nodejs/README.md
  bindings/nodejs/package.json
  bindings/nodejs/pnpm-lock.yaml
  bindings/nodejs/tests/service.test.mjs
  bindings/nodejs/vitest.config.mjs
  bindings/python/README.md
Labels: releases-note/docs

#5164 ci: Disable aliyun drive test until #5163 addressed
  .github/services/aliyun_drive/aliyun_drive/disable_action.yml
Labels: releases-note/ci

#5162 refactor: more consistent C binding pattern
  bindings/c/include/opendal.h
  bindings/c/src/entry.rs
  bindings/c/src/error.rs
  bindings/c/src/lister.rs
  bindings/c/src/metadata.rs
  bindings/c/src/operator.rs
  bindings/c/src/operator_info.rs
  bindings/c/src/reader.rs
  bindings/c/src/types.rs
  bindings/c/src/writer.rs
Labels: releases-note/refactor

#5166 fix(bindings/c): use `ManuallyDrop` instead of `forget` to make sure pointer is valid
  bindings/c/include/opendal.h
  bindings/c/src/types.rs
  bindings/go/types.go
Labels: releases-note/fix

#5168 feat(bindings/java): support ConcurrentLimitLayer
  bindings/java/src/layer.rs
  bindings/java/src/main/java/org/apache/opendal/layer/ConcurrentLimitLayer.java
  bindings/java/src/main/java/org/apache/opendal/layer/RetryLayer.java
  bindings/java/src/test/java/org/apache/opendal/test/LayerTest.java
Labels: releases-note/feat

#5170 refactor(integration/parquet): Use ParquetMetaDataReader instead
  integrations/parquet/Cargo.toml
  integrations/parquet/src/async_reader.rs
Labels: releases-note/refactor

#5129 feat: Add if_none_match for write
  core/src/raw/ops.rs
  core/src/services/s3/backend.rs
  core/src/services/s3/core.rs
  core/src/types/capability.rs
  core/src/types/operator/operator.rs
  core/src/types/operator/operator_futures.rs
  core/tests/behavior/async_write.rs
Labels: releases-note/feat

#5173 ci: add package cache for build-haskell-doc
  .github/workflows/docs.yml
Labels: releases-note/ci

#5174 ci: add cache action for ci_bindings_ocaml & build-ocaml-doc
  .github/workflows/ci_bindings_ocaml.yml
  .github/workflows/docs.yml
Labels: releases-note/ci

#5177 ci: Fix failing CI on ocaml and python
  .github/workflows/ci_bindings_ocaml.yml
  .github/workflows/ci_bindings_python.yml
  .github/workflows/docs.yml
Labels: releases-note/ci

#5176 chore: Include license in the packaged crate
  core/LICENSE
Labels: releases-note/chore

#5178 fix(services/s3): Mark xml deserialize error as temporary during list
  core/src/services/s3/lister.rs
Labels: releases-note/fix

#5182 build(bindings/c): replace the build system with CMake
  .github/workflows/ci_bindings_c.yml
  bindings/c/CMakeLists.txt
  bindings/c/Makefile
  bindings/c/examples/basic.c
  bindings/c/tests/bdd.cpp
  bindings/c/tests/error_msg.cpp
  bindings/c/tests/list.cpp
  bindings/c/tests/opinfo.cpp
  bindings/zig/build.zig
Labels: releases-note/build

#5185 feat: Add OpenDAL Compat
  .github/workflows/ci_integration_compat.yml
  .github/workflows/docs.yml
  .github/workflows/release_rust.yml
  core/src/types/operator/operator.rs
  integrations/compat/.gitignore
  integrations/compat/Cargo.toml
  integrations/compat/README.md
  integrations/compat/src/lib.rs
  integrations/compat/src/v0_50_to_v0_49.rs
Labels: releases-note/feat

#5186 docs(bindings/c): update docs for CMake replacing
  bindings/c/CMakeLists.txt
  bindings/c/CONTRIBUTING.md
  bindings/c/README.md
Labels: releases-note/docs

#5184 feat(core): abstract HttpFetch trait for raw http client
  core/src/raw/http_util/client.rs
  core/src/raw/http_util/mod.rs
  core/src/services/cos/backend.rs
  core/src/services/gcs/backend.rs
  core/src/services/oss/backend.rs
  core/src/services/s3/backend.rs
  core/src/services/s3/core.rs
Labels: releases-note/feat

#5188 build(bindings/cpp): fetch and build dependencies instead of finding system libs
  bindings/cpp/CMakeLists.txt
  bindings/cpp/CONTRIBUTING.md
  bindings/cpp/README.md
Labels: releases-note/build

#5116 feat: Support NebulaGraph
  core/Cargo.lock
  core/Cargo.toml
  core/src/services/mod.rs
  core/src/services/nebula_graph/backend.rs
  core/src/types/operator/builder.rs
  core/src/types/scheme.rs
Labels: releases-note/feat

#5196 ci: Remove not needed --break-system-packages
  .github/workflows/ci_bindings_python.yml
Labels: releases-note/ci

#5193 refactor(types/operator): rename is_exist to exists
  core/edge/s3_aws_assume_role_with_web_identity/src/main.rs
  core/src/types/operator/blocking_operator.rs
  core/src/types/operator/operator.rs
  core/tests/behavior/async_delete.rs
  core/tests/behavior/async_list.rs
  core/tests/behavior/async_write.rs
  core/tests/behavior/blocking_delete.rs
  core/tests/behavior/blocking_list.rs
  integrations/dav-server/src/fs.rs
  integrations/parquet/src/async_writer.rs
Labels: releases-note/refactor

#5198 feat(bindings/cpp): rename is_exist to exists as core did
  bindings/cpp/include/opendal.hpp
  bindings/cpp/src/lib.rs
  bindings/cpp/src/opendal.cpp
  bindings/cpp/tests/basic_test.cpp
Labels: releases-note/feat

#5199 feat(bindings/c): add opendal_operator_exists and mark is_exist deprecated
  bindings/c/cbindgen.toml
  bindings/c/include/opendal.h
  bindings/c/src/lib.rs
  bindings/c/src/operator.rs
  bindings/c/src/result.rs
  bindings/c/tests/bdd.cpp
Labels: releases-note/feat

#5197 feat(binding/java): prefix thread name with opendal-tokio-worker
  bindings/java/src/executor.rs
Labels: releases-note/feat

#5201 ci: Send discussions to dev@o.a.o
  .asf.yaml
Labels: releases-note/ci

#5210 ci(asf): Don't add `[DISCUSS]` prefix for discussion
  .asf.yaml
Labels: releases-note/ci

#5212 chore(bin/*): remove useless deps
  bin/oay/Cargo.lock
  bin/oay/Cargo.toml
  bin/ofs/Cargo.lock
  bin/ofs/Cargo.toml
  bin/oli/Cargo.lock
  bin/oli/Cargo.toml
Labels: releases-note/chore

#5213 feat(services/ftp): List dir shows last modified timestamp
  core/src/services/ftp/lister.rs
Labels: releases-note/feat

#5217 docs: Move our release process to github discussions
  README.md
  website/community/release/release.md
Labels: releases-note/docs

#5222 build: enable services-mysql for Java and Python bindings
  bindings/java/Cargo.toml
  bindings/python/Cargo.toml
Labels: releases-note/build

#5181 feat(bindings/d): add D bindings support
  .devcontainer/post_create.sh
  .gitattributes
  .github/workflows/ci_bindings_d.yml
  .typos.toml
  README.md
  bindings/README.md
  bindings/d/.gitignore
  bindings/d/CONTRIBUTING.md
  bindings/d/DEPENDENCIES.md
  bindings/d/DEPENDENCIES.rust.tsv
  bindings/d/README.md
  bindings/d/build.d
  bindings/d/dscanner.ini
  bindings/d/dub.json
  bindings/d/source/opendal/opendal_c.c
  bindings/d/source/opendal/operator.d
  bindings/d/source/opendal/package.d
  bindings/d/test/dub.json
  bindings/d/test/source/bdd.d
Labels: releases-note/feat

#5234 fix: add all-features flag for opendal_compat doc build
  integrations/compat/Cargo.toml
Labels: releases-note/fix

#5236 fix(integrations/compat): Capability has different fields
  integrations/compat/Cargo.toml
  integrations/compat/src/v0_50_to_v0_49.rs
Labels: releases-note/fix

#5238 fix(integration/compat): Fix opendal 0.50 OpList has new field
  integrations/compat/src/v0_50_to_v0_49.rs
Labels: releases-note/fix

#5240 fix(integrations/compat): Fix dead loop happened during list
  integrations/compat/src/v0_50_to_v0_49.rs
Labels: releases-note/fix

#5243 chore: tidy up c binding build and docs
  bindings/c/CMakeLists.txt
  bindings/c/README.md
Labels: releases-note/chore

#5248 build(binding/python): Support Python 3.13
  bindings/python/Cargo.toml
  bindings/python/pyproject.toml
  bindings/python/src/file.rs
  bindings/python/src/lister.rs
  bindings/python/src/operator.rs
Labels: releases-note/build

#5250 docs: change "Github" to "GitHub"
  website/community/pmc_members/nominate-committer.md
Labels: releases-note/docs

#5255 chore(core/layers): adjust await point to simplify combinator code
  core/src/layers/async_backtrace.rs
  core/src/layers/await_tree.rs
  core/src/layers/chaos.rs
  core/src/layers/error_context.rs
  core/src/layers/fastrace.rs
  core/src/layers/logging.rs
  core/src/layers/oteltrace.rs
  core/src/layers/retry.rs
  core/src/layers/tracing.rs
Labels: releases-note/chore

#5261 chore(core/blocking_operator): deduplicate deprecated `is_exist` logic
  core/src/types/operator/blocking_operator.rs
Labels: releases-note/chore
