Repository apache/opendal, pull requests merged in 2024-12, with the labels that each got.

#5379 chore: fix cargo clippy
  integrations/cloud_filter/tests/behavior/main.rs
  integrations/dav-server/src/fs.rs
  integrations/virtiofs/src/buffer.rs
  integrations/virtiofs/src/virtiofs_util.rs
Labels: releases-note/chore

#5368 feat: upgrade pyo3 to 0.23
  bindings/python/CONTRIBUTING.md
  bindings/python/Cargo.toml
  bindings/python/src/file.rs
  bindings/python/src/lib.rs
  bindings/python/src/lister.rs
  bindings/python/src/operator.rs
  bindings/python/src/utils.rs
Labels: releases-note/feat

#5384 chore: fix cargo clippy
  core/src/layers/logging.rs
  core/src/layers/metrics.rs
  core/src/raw/oio/write/append_write.rs
  core/src/raw/oio/write/multipart_write.rs
  core/src/raw/serde_util.rs
  core/src/services/hdfs_native/backend.rs
  core/src/services/pcloud/lister.rs
  core/src/services/swift/error.rs
Labels: releases-note/chore

#5386 chore: fix Bindings OCaml CI
  bindings/ocaml/lib/operator.mli
  bindings/ocaml/src/operator/mod.rs
Labels: releases-note/chore

#5382 fix(services/unftp): add `/` when not presented
  integrations/unftp-sbe/src/lib.rs
Labels: releases-note/fix

#5369 feat: add progress bar for oli cp command
  bin/oli/Cargo.lock
  bin/oli/Cargo.toml
  bin/oli/src/commands/cp.rs
Labels: releases-note/feat

#5361 fix: update document against target format check and add hints
  bin/oli/README.md
  bin/oli/src/commands/cat.rs
  bin/oli/src/commands/cp.rs
  bin/oli/src/commands/ls.rs
  bin/oli/src/commands/rm.rs
  bin/oli/src/commands/stat.rs
  bin/oli/src/config/mod.rs
Labels: releases-note/fix

#5389 fix: oli clippy and CI file
  .github/workflows/ci_bin_oli.yml
  bin/oli/src/commands/cp.rs
Labels: releases-note/fix

#5388 feat(types/buffer): skip copying in `to_bytes` when `NonContiguous` contains a single `Bytes`
  core/src/types/buffer.rs
Labels: releases-note/feat

#5370 feat(bin/oli): support command mv
  bin/oli/README.md
  bin/oli/src/bin/oli.rs
  bin/oli/src/commands/mod.rs
  bin/oli/src/commands/mv.rs
  bin/oli/src/config/mod.rs
  bin/oli/tests/mv.rs
  core/src/types/entry.rs
Labels: releases-note/feat

#5360 feat(core): add if-match to `OpWrite`
  .github/services/s3/ceph_radios_s3_with_versioning/disable_action.yml
  .github/services/s3/ceph_rados_s3/action.yml
  core/src/raw/ops.rs
  core/src/services/s3/backend.rs
  core/src/services/s3/config.rs
  core/src/services/s3/core.rs
  core/src/services/s3/docs.md
  core/src/types/capability.rs
  core/src/types/operator/operator.rs
  core/src/types/operator/operator_futures.rs
  core/tests/behavior/async_write.rs
Labels: releases-note/feat

#5352 feat(core/layers): add correctness_check and capability_check layer to verify whether the operation and arguments is supported
  core/src/layers/blocking.rs
  core/src/layers/capability_check.rs
  core/src/layers/complete.rs
  core/src/layers/correctness_check.rs
  core/src/layers/mod.rs
  core/src/layers/timeout.rs
  core/src/raw/accessor.rs
  core/src/types/operator/builder.rs
Labels: releases-note/feat

#5393 refactor: Remove batch concept from opendal
  .github/services/s3/r2/disabled_action.yml
  bindings/c/include/opendal.h
  bindings/c/src/operator_info.rs
  bindings/go/operator_info.go
  bindings/go/types.go
  bindings/java/src/lib.rs
  bindings/java/src/main/java/org/apache/opendal/Capability.java
  bindings/java/src/test/java/org/apache/opendal/test/OperatorInfoTest.java
  bindings/nodejs/generated.d.ts
  bindings/nodejs/src/capability.rs
  bindings/python/python/opendal/__init__.pyi
  bindings/python/src/capability.rs
  bindings/ruby/src/capability.rs
  core/src/lib.rs
  core/src/services/gcs/backend.rs
  core/src/services/oss/backend.rs
  core/src/services/oss/config.rs
  core/src/services/oss/core.rs
  core/src/services/s3/backend.rs
  core/src/services/s3/config.rs
  core/src/services/s3/core.rs
  core/src/types/capability.rs
  core/src/types/operator/blocking_operator.rs
  core/src/types/operator/operator.rs
Labels: releases-note/refactor

#5399 fix(services/obs): support huawei.com
  core/src/services/obs/backend.rs
Labels: releases-note/fix

#5400 feat(core): Add `content_encoding` to `MetaData`
  core/src/lib.rs
  core/src/raw/http_util/header.rs
  core/src/services/s3/backend.rs
  core/src/types/capability.rs
  core/src/types/metadata.rs
Labels: releases-note/feat

#5390 feat:(core): add `content encoding` to `Opwrite`
  core/src/raw/ops.rs
  core/src/services/s3/backend.rs
  core/src/services/s3/core.rs
  core/src/types/capability.rs
  core/src/types/operator/operator.rs
  core/src/types/operator/operator_futures.rs
  core/tests/behavior/async_write.rs
Labels: releases-note/feat

#5331 chore: Add default vscode config for more friendly developer experience
  .gitignore
  .vscode/settings.json
Labels: releases-note/chore

#5405 feat(services/obs): support user defined metadata
  core/src/services/obs/backend.rs
  core/src/services/obs/core.rs
Labels: releases-note/feat

#5406 docs(core): Add upgrade to v0.51
  core/src/docs/upgrade.md
Labels: releases-note/docs

#5411 chore(website): remove outdated description
  website/community/committers/onboarding.md
Labels: releases-note/chore

#5416 fix(integrations/cloud_filter): use explicit `stat` instead of `Entry::metadata` in `fetch_placeholders`
  integrations/cloud_filter/src/lib.rs
  integrations/cloud_filter/tests/behavior/fetch_data.rs
  integrations/cloud_filter/tests/behavior/utils.rs
Labels: releases-note/fix

#5414 chore(ci): fix invalid Behavior Test Integration Cloud Filter trigger
  .github/workflows/test_behavior_integration_cloud_filter.yml
  integrations/cloud_filter/tests/behavior/utils.rs
Labels: releases-note/chore

#5422 feat: impl configurable OperatorOutputStream maxBytes
  bindings/java/src/main/java/org/apache/opendal/Operator.java
  bindings/java/src/main/java/org/apache/opendal/OperatorOutputStream.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/BehaviorExtension.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/BehaviorTestBase.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/RegressionTest.java
Labels: releases-note/feat

#5431 docs: Update release.md
  website/community/release/release.md
Labels: releases-note/docs

#5433 fix: always contains path label if configured
  core/src/layers/observe/mod.rs
Labels: releases-note/fix

#5438 refactor: tidy up oli build
  bin/oli/Cargo.lock
  bin/oli/Cargo.toml
Labels: releases-note/refactor

#5449 ci: disable windows free-thread build
  .github/workflows/release_python.yml
Labels: releases-note/ci

#5453 fix: exception name in python
  bindings/python/src/errors.rs
  bindings/python/src/lib.rs
  bindings/python/src/operator.rs
Labels: releases-note/fix

#5459 fix rust warning in python binding
  bindings/python/src/file.rs
  bindings/python/src/operator.rs
Labels: releases-note/fix

#5458 fix: python binding kwargs parsing
  bindings/python/Cargo.toml
  bindings/python/src/operator.rs
  bindings/python/src/options.rs
  bindings/python/tests/test_write.py
Labels: releases-note/fix

#5461 chore(dev): Try just instead of xtasks methods
  dev/README.md
  justfile
Labels: releases-note/chore

#5464 fix(bindings/python): add py.typed marker file
  bindings/python/python/opendal/py.typed
Labels: releases-note/fix

#5457 feat(bindings/python): generate python operator constructor types
  bindings/python/Cargo.toml
  bindings/python/python/opendal/__base.pyi
  bindings/python/python/opendal/__init__.pyi
  dev/Cargo.lock
  dev/Cargo.toml
  dev/src/generate/binding_python.rs
  dev/templates/python.py.jinja2
Labels: releases-note/feat

#5466 docs: Fix links to vision
  README.md
  core/src/docs/upgrade.md
  core/src/lib.rs
  website/blog/2023-08-15-how-opendal-read-data/index.md
Labels: releases-note/docs

#5467 feat(dev): Parse comments from config
  dev/src/generate/parser.rs
Labels: releases-note/feat

#5468 ci: Upgrade and fix typos
  .github/workflows/ci_check.yml
  .github/workflows/ci_odev.yml
  core/src/raw/adapters/kv/api.rs
Labels: releases-note/ci

#5473 docs(golang): remove unused pkg
  bindings/go/README.md
Labels: releases-note/docs

#5472 feat(services/core): Implement stat_has_* and list_has_* correctly for services
  core/src/services/aliyun_drive/backend.rs
  core/src/services/alluxio/backend.rs
  core/src/services/azblob/backend.rs
  core/src/services/azdls/backend.rs
  core/src/services/azfile/backend.rs
  core/src/services/b2/backend.rs
  core/src/services/chainsafe/backend.rs
  core/src/services/compfs/backend.rs
  core/src/services/cos/backend.rs
  core/src/services/dbfs/backend.rs
  core/src/services/dropbox/backend.rs
  core/src/services/fs/backend.rs
  core/src/services/ftp/backend.rs
  core/src/services/gcs/backend.rs
  core/src/services/gdrive/backend.rs
  core/src/services/ghac/backend.rs
  core/src/services/github/backend.rs
  core/src/services/hdfs/backend.rs
  core/src/services/hdfs_native/backend.rs
  core/src/services/http/backend.rs
  core/src/services/huggingface/backend.rs
  core/src/services/icloud/backend.rs
  core/src/services/ipfs/backend.rs
  core/src/services/ipmfs/backend.rs
  core/src/services/koofr/backend.rs
  core/src/services/lakefs/backend.rs
  core/src/services/monoiofs/backend.rs
  core/src/services/obs/backend.rs
  core/src/services/onedrive/backend.rs
  core/src/services/oss/backend.rs
  core/src/services/pcloud/backend.rs
  core/src/services/pcloud/core.rs
  core/src/services/s3/backend.rs
  core/src/services/seafile/backend.rs
  core/src/services/sftp/backend.rs
  core/src/services/swift/backend.rs
  core/src/services/upyun/backend.rs
  core/src/services/vercel_artifacts/backend.rs
  core/src/services/vercel_blob/backend.rs
  core/src/services/webdav/backend.rs
  core/src/services/webhdfs/backend.rs
  core/src/services/yandex_disk/backend.rs
Labels: releases-note/feat

#5477 fix(services/ghac): Fix stat_with_if_none_match been set in wrong
  core/src/services/ghac/backend.rs
Labels: releases-note/fix

#5484 fix(ci): Correctly upgrade upload-artifact to v4
  .github/workflows/ci_bindings_nodejs.yml
Labels: releases-note/fix

#5481 refactor(core): Deprecate OpList::version and add versions instead
  bindings/ruby/src/capability.rs
  core/src/layers/capability_check.rs
  core/src/raw/ops.rs
  core/src/services/s3/backend.rs
  core/src/types/capability.rs
  core/src/types/operator/operator_futures.rs
  core/tests/behavior/async_list.rs
Labels: releases-note/refactor
