Repository apache/opendal, pull requests merged in 2024-01, with the labels that each got.

#3889 docs(bindings/python): drop unnecessary patchelf
  bindings/python/README.md
Labels: releases-note/docs

#3873 fix: Bump pyo3 to fix false positive of unnecessary_fallible_conversions
  Cargo.lock
  bindings/python/Cargo.toml
  bindings/python/src/lib.rs
Labels: releases-note/fix

#3890 build(deps): bump mlua from 0.8.10 to 0.9.2
  Cargo.lock
  bindings/lua/Cargo.toml
  bindings/lua/src/lib.rs
Labels: releases-note/build

#3891 refactor(services/ftp): Impl parse_error instead of From<Error>
  core/src/services/ftp/backend.rs
  core/src/services/ftp/err.rs
  core/src/services/ftp/util.rs
  core/src/services/ftp/writer.rs
Labels: releases-note/refactor

#3894 chore(NOTICE): update copyright to year 2024
  NOTICE
  bindings/go/README.md
Labels: releases-note/chore

#3896 docs: Polish core's quick start
  core/src/docs/features.md
  core/src/docs/mod.rs
  core/src/lib.rs
Labels: releases-note/docs

#3892 feat(services): add pcloud support
  .env.example
  core/Cargo.toml
  core/src/services/mod.rs
  core/src/services/pcloud/backend.rs
  core/src/services/pcloud/core.rs
  core/src/services/pcloud/docs.md
  core/src/services/pcloud/error.rs
  core/src/services/pcloud/lister.rs
  core/src/services/pcloud/mod.rs
  core/src/services/pcloud/writer.rs
  core/src/types/operator/builder.rs
  core/src/types/scheme.rs
Labels: releases-note/feat

#3875 feat(services/hdfs): Atomic write for hdfs
  .github/workflows/service_test_hdfs.yml
  core/src/services/hdfs/backend.rs
  core/src/services/hdfs/writer.rs
Labels: releases-note/feat

#3900 docs: very minor English wording fix in error message
  core/src/raw/http_util/body.rs
Labels: releases-note/docs, releases-note/refactor

#3902 feat(services/hdfs): add atomic_write_dir to hdfsconfig debug
  core/src/services/hdfs/backend.rs
Labels: releases-note/feat

#3903 refactor(services/rocksdb): Impl parse_error instead of From<Error>
  core/src/services/rocksdb/backend.rs
Labels: releases-note/refactor

#3904 refactor: Re-organize the layout of tests
  core/tests/behavior/append.rs
  core/tests/behavior/async_copy.rs
  core/tests/behavior/async_create_dir.rs
  core/tests/behavior/async_delete.rs
  core/tests/behavior/async_fuzz.rs
  core/tests/behavior/async_list.rs
  core/tests/behavior/async_presign.rs
  core/tests/behavior/async_read.rs
  core/tests/behavior/async_rename.rs
  core/tests/behavior/async_stat.rs
  core/tests/behavior/async_write.rs
  core/tests/behavior/blocking_append.rs
  core/tests/behavior/blocking_copy.rs
  core/tests/behavior/blocking_create_dir.rs
  core/tests/behavior/blocking_delete.rs
  core/tests/behavior/blocking_list.rs
  core/tests/behavior/blocking_read.rs
  core/tests/behavior/blocking_read_only.rs
  core/tests/behavior/blocking_rename.rs
  core/tests/behavior/blocking_stat.rs
  core/tests/behavior/blocking_write.rs
  core/tests/behavior/main.rs
  core/tests/behavior/read_only.rs
  core/tests/behavior/utils.rs
  core/tests/behavior/write.rs
Labels: releases-note/refactor

#3906 feat: add MongodbConfig
  core/src/services/mod.rs
  core/src/services/mongodb/backend.rs
  core/src/services/mongodb/mod.rs
Labels: releases-note/feat

#3898 RFC-3898: Concurrent Writer
  core/src/docs/rfcs/3898_concurrent_writer.md
  core/src/docs/rfcs/mod.rs
Labels: releases-note/feat

#3908 ci: Disable supabase tests for our test org has been paused
  .github/services/supabase/supabase/action.yml
Labels: releases-note/ci

#3907 fix(core): Handling content encoding correctly
  core/src/raw/http_util/client.rs
  core/src/raw/http_util/header.rs
  core/src/raw/http_util/mod.rs
Labels: releases-note/fix

#3910 refactor(services/etcd): Impl parse_error instead of From<Error>
  core/src/services/etcd/backend.rs
Labels: releases-note/refactor

#3914 refactor(services/sftp): Impl parse_error instead of From<Error>
  core/src/services/sftp/backend.rs
  core/src/services/sftp/error.rs
  core/src/services/sftp/lister.rs
Labels: releases-note/refactor

#3918 feat(services): add yandex disk support
  .env.example
  core/Cargo.toml
  core/src/services/mod.rs
  core/src/services/yandex_disk/backend.rs
  core/src/services/yandex_disk/core.rs
  core/src/services/yandex_disk/docs.md
  core/src/services/yandex_disk/error.rs
  core/src/services/yandex_disk/lister.rs
  core/src/services/yandex_disk/mod.rs
  core/src/services/yandex_disk/writer.rs
  core/src/types/operator/builder.rs
  core/src/types/scheme.rs
Labels: releases-note/feat

#3915 feat: implement concurrent `MultipartUploadWriter`
  core/src/raw/futures_util.rs
  core/src/raw/oio/write/multipart_upload_write.rs
  core/src/raw/ops.rs
  core/src/services/b2/backend.rs
  core/src/services/cos/backend.rs
  core/src/services/obs/backend.rs
  core/src/services/oss/backend.rs
  core/src/services/s3/backend.rs
  core/src/services/upyun/backend.rs
  core/src/types/operator/operator_futures.rs
Labels: releases-note/feat

#3923 feat: implement concurrent `RangeWriter`
  core/src/raw/oio/write/range_write.rs
  core/src/services/gcs/backend.rs
Labels: releases-note/feat

#3927 fix: fix RangeWriter incorrect `next_offset`
  core/src/raw/oio/write/range_write.rs
Labels: releases-note/fix

#3928 docs(gcs): correct the description of credential
  core/src/services/gcs/docs.md
Labels: releases-note/docs

#3929 docs: Add 0.44.1 download link
  website/src/pages/download.md
Labels: releases-note/docs

#3921 feat: add `concurrent` and `buffer` parameters into FuzzInput
  core/fuzz/fuzz_writer.rs
Labels: releases-note/feat

#3851 refactor!: Bump MSRV to 1.75
  .github/workflows/ci.yml
  Cargo.toml
Labels: releases-note/refactor

#3934 docs(release): how to clean up old releases
  website/community/committers/release.md
Labels: releases-note/docs

#3931 feat(fuzz): add azblob as test service
  .github/workflows/fuzz_test.yml
  fixtures/azblob/docker-compose-azurite.yml
Labels: releases-note/feat

#3935 ci: Downgrade artifact actions until regression addressed
  .github/workflows/bindings_haskell.yml
  .github/workflows/bindings_nodejs.yml
  .github/workflows/bindings_python.yml
  .github/workflows/docs.yml
  .github/workflows/fuzz_test.yml
  .github/workflows/release_java.yml
Labels: releases-note/ci

#3936 ci: Refactor fuzz to integrate with test planner
  .github/actions/fuzz_test/action.yaml
  .github/workflows/fuzz_test.yml
  Cargo.lock
  core/fuzz/Cargo.toml
  core/fuzz/fuzz_reader.rs
  core/fuzz/fuzz_reader_with_buffer.rs
  core/fuzz/fuzz_writer.rs
Labels: releases-note/ci

#3937 feat(services/webhdfs): Implement write with append
  core/src/services/webhdfs/backend.rs
  core/src/services/webhdfs/writer.rs
  fixtures/webhdfs/docker-compose-webhdfs.yml
Labels: releases-note/feat

#3938 refactor(services/redis): Impl parse_error instead of From<Error>
  core/src/services/redis/backend.rs
Labels: releases-note/refactor

#3942 feat(core/bench): Add benchmark for concurrent write
  core/benches/ops/write.rs
Labels: releases-note/feat

#3941 docs: improve user verify words
  website/src/pages/download.md
Labels: releases-note/docs

#3947 chore: Remove unused dep async-compat
  Cargo.lock
  bindings/c/Cargo.lock
  core/Cargo.toml
Labels: releases-note/chore

#3945 feat(oio): add block_write support
  core/src/raw/oio/write/block_write.rs
  core/src/raw/oio/write/mod.rs
Labels: releases-note/feat

#3953 fix(oio::BlockWrite): fix write_once case
  core/src/raw/oio/write/block_write.rs
Labels: releases-note/fix

#3952 refactor!: Revert the bump of MSRV to 1.75
  .github/workflows/ci.yml
  Cargo.toml
Labels: releases-note/refactor

#3957 fix: Don't retry close if concurrent > 1 to avoid content lost
  core/src/raw/oio/write/multipart_upload_write.rs
  core/src/raw/oio/write/range_write.rs
Labels: releases-note/fix

#3954 refactor(services/onedrive): Add OnedriveConfig to implement ConfigDeserializer
  core/src/services/mod.rs
  core/src/services/onedrive/builder.rs
  core/src/services/onedrive/mod.rs
Labels: releases-note/refactor

#3961 refactor(service/dropbox): Add DropboxConfig
  core/src/services/dropbox/builder.rs
  core/src/services/dropbox/mod.rs
  core/src/services/mod.rs
Labels: releases-note/refactor

#3958 feat(core): Allow retry in concurrent write operations
  core/src/raw/futures_util.rs
  core/src/raw/oio/write/block_write.rs
  core/src/raw/oio/write/multipart_upload_write.rs
  core/src/raw/oio/write/range_write.rs
  core/src/types/list.rs
Labels: releases-note/feat

#3964 refactor: Polish internal types and remove not needed deps
  Cargo.lock
  bindings/c/Cargo.lock
  core/Cargo.toml
  core/src/raw/enum_utils.rs
  core/src/raw/oio/list/api.rs
  core/src/raw/oio/read/api.rs
  core/src/raw/oio/stream/api.rs
  core/src/raw/oio/write/api.rs
  core/src/raw/oio/write/append_write.rs
  core/src/raw/oio/write/block_write.rs
  core/src/raw/oio/write/exact_buf_write.rs
  core/src/raw/oio/write/mod.rs
  core/src/raw/oio/write/multipart_write.rs
  core/src/raw/oio/write/range_write.rs
  core/src/services/alluxio/writer.rs
  core/src/services/azblob/backend.rs
  core/src/services/azblob/writer.rs
  core/src/services/azdls/backend.rs
  core/src/services/azdls/writer.rs
  core/src/services/azfile/backend.rs
  core/src/services/azfile/writer.rs
  core/src/services/b2/backend.rs
  core/src/services/b2/writer.rs
  core/src/services/cos/backend.rs
  core/src/services/cos/writer.rs
  core/src/services/dbfs/writer.rs
  core/src/services/memory/backend.rs
  core/src/services/obs/backend.rs
  core/src/services/obs/writer.rs
  core/src/services/oss/backend.rs
  core/src/services/oss/writer.rs
  core/src/services/s3/backend.rs
  core/src/services/s3/writer.rs
  core/src/services/sftp/backend.rs
  core/src/services/upyun/backend.rs
  core/src/services/upyun/writer.rs
  core/src/services/webhdfs/backend.rs
  core/src/services/webhdfs/writer.rs
Labels: releases-note/refactor

#3968 refactor: Add concurrent error test for BlockWrite
  core/src/raw/oio/write/block_write.rs
  core/src/raw/oio/write/range_write.rs
  core/src/services/webhdfs/writer.rs
Labels: releases-note/refactor

#3971 fix(doc): fix rfc typos
  core/src/docs/rfcs/3911_deleter_api.md
Labels: releases-note/fix

#3978 docs: improve wording for community pages
  website/community/committers/onboarding.md
  website/community/committers/release.md
  website/community/index.mdx
Labels: releases-note/docs

#3983 chore: display project logo on Rust docs
  core/src/lib.rs
Labels: releases-note/chore

#3985 feat(services/ghac): Add workaround for AWS S3 based GHES
  core/src/services/ghac/backend.rs
Labels: releases-note/feat

#3986 docs(bindings/nodejs): copyright in footer
  .github/workflows/docs.yml
  bindings/nodejs/package.json
  bindings/nodejs/pnpm-lock.yaml
  bindings/nodejs/theme/index.tsx
  bindings/nodejs/tsconfig.json
  bindings/nodejs/tsconfig.theme.json
  bindings/nodejs/typedoc.json
Labels: releases-note/docs

#3987 docs(bindings/nodejs): build docs locally doc
  bindings/nodejs/README.md
Labels: releases-note/docs

#3993 docs: Fix missing word in download
  website/src/pages/download.md
Labels: releases-note/docs

#3975 feat: Implement path cache and refactor gdrive
  core/Cargo.toml
  core/src/raw/http_util/client.rs
  core/src/raw/mod.rs
  core/src/raw/path.rs
  core/src/raw/path_cache.rs
  core/src/services/gdrive/backend.rs
  core/src/services/gdrive/builder.rs
  core/src/services/gdrive/core.rs
  core/src/services/gdrive/lister.rs
  core/src/services/gdrive/writer.rs
  core/tests/behavior/async_list.rs
Labels: releases-note/feat

#3996 docs(bindings/java): copyright in footer
  bindings/java/pom.xml
Labels: releases-note/docs

#3997 chore: precise footer
  bindings/java/pom.xml
  bindings/nodejs/theme/index.tsx
  bindings/python/template/module.html.jinja2
  website/docusaurus.config.js
Labels: releases-note/chore

#3933 feat(services): add hdfs native layout
  Cargo.lock
  core/Cargo.toml
  core/src/services/hdfs_native/backend.rs
  core/src/services/hdfs_native/docs.md
  core/src/services/hdfs_native/error.rs
  core/src/services/hdfs_native/lister.rs
  core/src/services/hdfs_native/mod.rs
  core/src/services/hdfs_native/reader.rs
  core/src/services/hdfs_native/writer.rs
  core/src/services/mod.rs
  core/src/types/operator/builder.rs
  core/src/types/scheme.rs
Labels: releases-note/feat

#3998 chore: use full form name when necessary
  website/community/committers/onboarding.md
  website/community/committers/release.md
  website/community/index.mdx
  website/community/maturity.md
  website/community/ppmc_members/onboarding.md
  website/community/ppmc_members/podling-report.md
  website/community/security.md
Labels: releases-note/chore

#4000 feat(services/s3): Return error if credential is empty after loaded
  core/src/services/s3/backend.rs
  core/src/services/s3/core.rs
Labels: releases-note/feat

#4002 feat(services/gdrive): Use trash instead of permanently deletes
  core/src/services/gdrive/backend.rs
  core/src/services/gdrive/builder.rs
  core/src/services/gdrive/core.rs
  core/src/services/gdrive/error.rs
  core/tests/behavior/async_delete.rs
  core/tests/behavior/async_list.rs
Labels: releases-note/feat

#4003 fix: Don't call wake_by_ref in OperatorFuture
  core/src/raw/http_util/client.rs
  core/src/types/operator/operator_futures.rs
Labels: releases-note/fix

#4006 chore(bindings/python): Enable sftp service by default for unix platform
  bindings/python/Cargo.toml
Labels: releases-note/chore

#4008 docs(website): update footer
  website/docusaurus.config.js
  website/static/img/asf_logo_wide.svg
  website/static/img/incubator.svg
Labels: releases-note/docs

#4009 chore: remove disclaimer
  DISCLAIMER
Labels: releases-note/chore

#4010 chore: Remove incubating from releases
  scripts/release.sh
Labels: releases-note/chore

#4013 fix: async fn resumed after initiate part failed
  core/src/raw/oio/write/multipart_write.rs
Labels: releases-note/fix

#4014 docs: add trademark information to every possible published readme
  README.md
  bin/oay/README.md
  bin/ofs/README.md
  bin/oli/README.md
  bindings/c/README.md
  bindings/cpp/README.md
  bindings/dotnet/README.md
  bindings/go/README.md
  bindings/haskell/README.md
  bindings/java/README.md
  bindings/lua/README.md
  bindings/nodejs/README.md
  bindings/ocaml/README.md
  bindings/php/README.md
  bindings/python/README.md
  bindings/ruby/README.md
  bindings/swift/README.md
  bindings/zig/README.md
  core/README.md
Labels: releases-note/docs

#4015 docs(website): replace podling to project in website
  website/community/index.mdx
Labels: releases-note/docs

#4011 docs: Update release guide to adapt as a new TLP
  scripts/README.md
  website/community/committers/release.md
Labels: releases-note/docs

#4019 chore: fixup doc link in release_java.yml
  .github/workflows/release_java.yml
Labels: releases-note/chore

#4017 chore: simplify reviewer candidates logic
  .github/CODEOWNERS
  .github/scripts/assign_reviewers.js
Labels: releases-note/chore

#3981 feat(services): add koofr support
  .env.example
  core/Cargo.toml
  core/src/services/koofr/backend.rs
  core/src/services/koofr/core.rs
  core/src/services/koofr/docs.md
  core/src/services/koofr/error.rs
  core/src/services/koofr/lister.rs
  core/src/services/koofr/mod.rs
  core/src/services/koofr/writer.rs
  core/src/services/mod.rs
  core/src/types/operator/builder.rs
  core/src/types/scheme.rs
Labels: releases-note/feat

#3980 feat(icloud): Add basic Apple iCloud Drive support
  .env.example
  .typos.toml
  README.md
  core/Cargo.toml
  core/README.md
  core/src/services/icloud/backend.rs
  core/src/services/icloud/core.rs
  core/src/services/icloud/docs.md
  core/src/services/icloud/mod.rs
  core/src/services/mod.rs
  core/src/types/operator/builder.rs
  core/src/types/scheme.rs
Labels: releases-note/feat

#4020 fix(pcloud,seafile): use get_basename and get_parent
  core/src/services/pcloud/core.rs
  core/src/services/seafile/writer.rs
Labels: releases-note/fix

#4023 fix(ci): remove pr author from review candidates
  .github/scripts/assign_reviewers.js
Labels: releases-note/fix

#4024 docs: Add WebHDFS version compatibility details
  core/src/services/webhdfs/docs.md
Labels: releases-note/docs

#4021 refactor: Remove not needed types in icloud
  Cargo.lock
  core/Cargo.toml
  core/src/raw/http_util/client.rs
  core/src/services/icloud/backend.rs
  core/src/services/icloud/core.rs
Labels: releases-note/refactor

#4028 chore: Bump to version 0.44.2 to start release process
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  bin/oay/DEPENDENCIES.rust.tsv
  bin/ofs/DEPENDENCIES.rust.tsv
  bin/oli/DEPENDENCIES.rust.tsv
  bindings/c/Cargo.lock
  bindings/c/Cargo.toml
  bindings/c/DEPENDENCIES.rust.tsv
  bindings/cpp/CMakeLists.txt
  bindings/cpp/DEPENDENCIES.rust.tsv
  bindings/dotnet/DEPENDENCIES.rust.tsv
  bindings/haskell/DEPENDENCIES.rust.tsv
  bindings/java/DEPENDENCIES.rust.tsv
  bindings/java/pom.xml
  bindings/lua/DEPENDENCIES.rust.tsv
  bindings/nodejs/DEPENDENCIES.rust.tsv
  bindings/nodejs/npm/darwin-arm64/package.json
  bindings/nodejs/npm/darwin-x64/package.json
  bindings/nodejs/npm/linux-arm64-gnu/package.json
  bindings/nodejs/npm/linux-arm64-musl/package.json
  bindings/nodejs/npm/linux-x64-gnu/package.json
  bindings/nodejs/npm/win32-arm64-msvc/package.json
  bindings/nodejs/npm/win32-x64-msvc/package.json
  bindings/nodejs/package.json
  bindings/ocaml/Cargo.lock
  bindings/ocaml/DEPENDENCIES.rust.tsv
  bindings/php/Cargo.lock
  bindings/php/DEPENDENCIES.rust.tsv
  bindings/python/DEPENDENCIES.rust.tsv
  core/DEPENDENCIES.rust.tsv
  integrations/dav-server/DEPENDENCIES.rust.tsv
  integrations/object_store/DEPENDENCIES.rust.tsv
Labels: releases-note/chore

#4030 chore: Delete bindings/ruby/cucumber.yml
  bindings/ruby/cucumber.yml
Labels: releases-note/chore

#4034 chore(website): Bump download link for 0.44.2 release
  website/src/pages/download.md
Labels: releases-note/chore

#4033 feat(ofs): introduce ofs execute bin
  Cargo.lock
  bin/ofs/Cargo.toml
  bin/ofs/src/bin/ofs.rs
Labels: releases-note/feat

#4036 chore(website): Update the release tips
  website/community/committers/release.md
Labels: releases-note/chore

#4037 docs: Remove not needed actions in release guide
  website/community/committers/release.md
Labels: releases-note/docs

#4038 chore: add doap file
  doap.rdf
Labels: releases-note/chore

#4040 fix(examples/cpp): display the results to standard output.
  examples/cpp/basic.cpp
Labels: releases-note/fix

#4039 docs: fix spelling errors in README.md
  examples/rust/00-setup/README.md
  examples/rust/01-init-operator/README.md
  examples/rust/02-async-io/README.md
Labels: releases-note/docs

#4041 chore(website): Add extra artifacts check process in release document
  website/community/committers/release.md
Labels: releases-note/chore

#4029 fix(service/icloud):Missing 'X-APPLE-WEBAUTH-USER cookie' and URL initialized failed
  Cargo.lock
  core/Cargo.toml
  core/src/raw/http_util/client.rs
  core/src/services/icloud/core.rs
Labels: releases-note/fix

#4054 docs: New Committer Yang Shuai
  website/community/news.md
Labels: releases-note/docs

#4055 docs(services/sftp): add more explanation for endpoint config
  core/src/services/sftp/backend.rs
  core/src/services/sftp/docs.md
Labels: releases-note/docs

#4056 feat: add a missing news
  website/community/news.md
Labels: releases-note/feat

#4059 fix: Implement timeout layer correctly by using timeout
  core/src/layers/timeout.rs
Labels: releases-note/fix

#4062 fix(koofr): create_dir when exist
  core/src/services/koofr/core.rs
Labels: releases-note/fix

#4050 feat(services/koofr): set test for koofr
  .env.example
  .github/services/koofr/koofr/action.yml
  bindings/java/Cargo.toml
  bindings/java/src/test/java/org/apache/opendal/test/behavior/AsyncCopyTest.java
  bindings/nodejs/Cargo.toml
  bindings/python/Cargo.toml
  core/Cargo.toml
  core/src/services/koofr/backend.rs
  core/tests/behavior/async_copy.rs
Labels: releases-note/feat

#4061 refactor!: avoid hard dep to tokio rt
  bindings/c/Cargo.lock
  bindings/c/Cargo.toml
  bindings/c/include/opendal.h
  bindings/java/Cargo.toml
  bindings/nodejs/Cargo.toml
  bindings/ocaml/Cargo.lock
  bindings/php/Cargo.lock
  bindings/python/Cargo.toml
  bindings/ruby/Cargo.lock
  core/Cargo.toml
  core/src/layers/mod.rs
  core/src/raw/mod.rs
  core/src/raw/tests/utils.rs
  core/src/raw/tokio_util.rs
  core/src/types/operator/blocking_operator.rs
Labels: releases-note/refactor

#4063 fix(seafile): test_list_dir_with_metakey
  core/src/services/seafile/writer.rs
Labels: releases-note/fix

#4053 feat(layers/dtrace): Support User Statically-Defined Tracing(aka USDT) on Linux
  Cargo.lock
  core/Cargo.toml
  core/src/layers/dtrace.rs
  core/src/layers/mod.rs
Labels: releases-note/feat

#4070 ci(services/s3): Use minio/minio image instead
  .github/scripts/behavior_test/plan.py
  fixtures/s3/docker-compose-minio.yml
Labels: releases-note/ci

#4067 fix: list path recursive should not return path itself
  core/src/raw/oio/list/prefix_list.rs
  core/tests/behavior/async_list.rs
  core/tests/behavior/blocking_list.rs
Labels: releases-note/fix

#4072 feat(website): add missing news and organize the onboarding guide
  website/community/committers/onboarding.md
  website/community/news.md
Labels: releases-note/feat

#4081 ci: Fix CI after moving out of workspacs
  bindings/cpp/Cargo.lock
  bindings/cpp/Cargo.toml
  bindings/haskell/Cargo.lock
  bindings/haskell/Cargo.toml
  bindings/lua/Cargo.lock
  bindings/lua/Cargo.toml
  bindings/lua/opendal-0.1.0-1.rockspec
Labels: releases-note/ci

#4084 chore(bindings/dotnet): update cargo.lock and set up ci
  .github/workflows/bindings_dotnet.yml
  bindings/c/DEPENDENCIES.md
  bindings/cpp/DEPENDENCIES.md
  bindings/dotnet/Cargo.lock
  bindings/dotnet/Cargo.toml
  bindings/dotnet/DEPENDENCIES.md
  bindings/dotnet/DotOpenDAL/DotOpenDAL.csproj
  bindings/haskell/DEPENDENCIES.md
  bindings/java/DEPENDENCIES.md
  bindings/lua/DEPENDENCIES.md
  bindings/nodejs/DEPENDENCIES.md
  bindings/ocaml/DEPENDENCIES.md
  bindings/php/DEPENDENCIES.md
  bindings/python/DEPENDENCIES.md
  bindings/ruby/DEPENDENCIES.md
  bindings/swift/DEPENDENCIES.md
Labels: releases-note/chore

#4085 chore(bindings/dotnet): build os detect
  bindings/dotnet/DotOpenDAL/DotOpenDAL.csproj
Labels: releases-note/chore

#4086 chore(bindings/ocaml): pinning OCaml binding opendal version for release
  bindings/ocaml/Cargo.lock
  bindings/ocaml/Cargo.toml
  bindings/ocaml/dune-project
  bindings/ocaml/opendal.opam
Labels: releases-note/chore

#4089 feat(services/chainsafe): setup test for chainsafe
  .github/services/chainsafe/chainsafe/action.yml
  bindings/java/Cargo.toml
  bindings/nodejs/Cargo.toml
  bindings/python/Cargo.toml
Labels: releases-note/feat

#4091 fix: Upgrade suppaftp to address build failure
  Cargo.lock
  core/Cargo.toml
Labels: releases-note/fix

#4093 chore: Specify opendal version for haskell binding
  bindings/haskell/Cargo.toml
Labels: releases-note/chore

#4095 docs: Add upgrade docs for core
  core/src/docs/upgrade.md
Labels: releases-note/docs

#4097 docs: fix reference in rustdocs of FuturePresignWrite
  core/src/types/operator/operator_futures.rs
Labels: releases-note/docs

#4098 refactor: Implement `IntoFuture` for operator futures to remove an alloc
  core/src/types/operator/operator.rs
  core/src/types/operator/operator_futures.rs
Labels: releases-note/refactor

#4099 docs: Add docs of options for xxx_with APIs
  bin/ofs/Cargo.toml
  bindings/c/include/opendal.h
  bindings/java/Cargo.toml
  bindings/nodejs/Cargo.toml
  bindings/php/Cargo.toml
  bindings/python/Cargo.toml
  bindings/ruby/Cargo.toml
  core/Cargo.toml
  core/src/layers/dtrace.rs
  core/src/layers/timeout.rs
  core/src/raw/oio/write/block_write.rs
  core/src/raw/oio/write/multipart_write.rs
  core/src/raw/oio/write/range_write.rs
  core/src/raw/path_cache.rs
  core/src/raw/tokio_util.rs
  core/src/services/dropbox/builder.rs
  core/src/services/gdrive/builder.rs
  core/src/services/gdrive/core.rs
  core/src/services/gdrive/writer.rs
  core/src/services/ghac/backend.rs
  core/src/services/hdfs_native/backend.rs
  core/src/services/hdfs_native/error.rs
  core/src/services/hdfs_native/lister.rs
  core/src/services/hdfs_native/reader.rs
  core/src/services/hdfs_native/writer.rs
  core/src/services/icloud/backend.rs
  core/src/services/icloud/core.rs
  core/src/services/koofr/core.rs
  core/src/services/mod.rs
  core/src/services/sftp/lister.rs
  core/src/services/yandex_disk/backend.rs
  core/src/services/yandex_disk/core.rs
  core/src/services/yandex_disk/writer.rs
  core/src/types/operator/blocking_operator.rs
  core/src/types/operator/operator.rs
  core/src/types/operator/operator_futures.rs
Labels: releases-note/docs

#4100 docs: Add apache iceberg-rust as user
  README.md
Labels: releases-note/feat, releases-note/docs

#4088 chore: Bump to version 0.45.0 to start release process
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  bin/oay/DEPENDENCIES.rust.tsv
  bin/ofs/DEPENDENCIES.rust.tsv
  bin/oli/DEPENDENCIES.rust.tsv
  bindings/c/Cargo.lock
  bindings/c/DEPENDENCIES.rust.tsv
  bindings/cpp/CMakeLists.txt
  bindings/cpp/Cargo.lock
  bindings/cpp/DEPENDENCIES.rust.tsv
  bindings/dotnet/Cargo.lock
  bindings/dotnet/DEPENDENCIES.rust.tsv
  bindings/haskell/Cargo.lock
  bindings/haskell/Cargo.toml
  bindings/haskell/DEPENDENCIES.rust.tsv
  bindings/haskell/opendal.cabal
  bindings/java/DEPENDENCIES.rust.tsv
  bindings/java/pom.xml
  bindings/lua/Cargo.lock
  bindings/lua/DEPENDENCIES.rust.tsv
  bindings/nodejs/DEPENDENCIES.rust.tsv
  bindings/nodejs/npm/darwin-arm64/package.json
  bindings/nodejs/npm/darwin-x64/package.json
  bindings/nodejs/npm/linux-arm64-gnu/package.json
  bindings/nodejs/npm/linux-arm64-musl/package.json
  bindings/nodejs/npm/linux-x64-gnu/package.json
  bindings/nodejs/npm/win32-arm64-msvc/package.json
  bindings/nodejs/npm/win32-x64-msvc/package.json
  bindings/nodejs/package.json
  bindings/ocaml/DEPENDENCIES.rust.tsv
  bindings/php/Cargo.lock
  bindings/php/DEPENDENCIES.rust.tsv
  bindings/python/DEPENDENCIES.rust.tsv
  bindings/ruby/DEPENDENCIES.rust.tsv
  core/DEPENDENCIES.rust.tsv
  integrations/dav-server/DEPENDENCIES.rust.tsv
  integrations/object_store/DEPENDENCIES.rust.tsv
Labels: releases-note/chore

#4107 ci: Use old version of seafile mc instead
  fixtures/seafile/docker-compose-seafile.yml
Labels: releases-note/ci

#4103 feat(services/vercel_blob): support vercel blob
  .env.example
  core/Cargo.toml
  core/src/services/mod.rs
  core/src/services/vercel_blob/backend.rs
  core/src/services/vercel_blob/core.rs
  core/src/services/vercel_blob/docs.md
  core/src/services/vercel_blob/error.rs
  core/src/services/vercel_blob/lister.rs
  core/src/services/vercel_blob/mod.rs
  core/src/services/vercel_blob/writer.rs
  core/src/types/operator/builder.rs
  core/src/types/scheme.rs
  core/tests/behavior/async_write.rs
Labels: releases-note/feat
