Repository apache/opendal, pull requests merged in 2024-11, with the labels that each got.

#5268 chore: run object_store tests in CI
  .github/workflows/ci_integration_object_store.yml
  integrations/object_store/src/lib.rs
  integrations/object_store/src/store.rs
Labels: releases-note/chore

#5271 feat(bindings/python): add sync `File.readline`
  bindings/python/python/opendal/__init__.pyi
  bindings/python/src/file.rs
  bindings/python/tests/test_read.py
Labels: releases-note/feat

#5274 feat(core/services-azblob): support user defined metadata
  core/src/raw/http_util/header.rs
  core/src/raw/http_util/mod.rs
  core/src/services/azblob/backend.rs
  core/src/services/azblob/core.rs
  core/src/services/oss/backend.rs
  core/src/services/oss/core.rs
  core/src/services/s3/backend.rs
  core/src/services/s3/core.rs
Labels: releases-note/feat

#5279 feat(core/services-s3): try load endpoint from config
  core/Cargo.toml
  core/src/services/s3/backend.rs
  core/src/services/s3/config.rs
Labels: releases-note/feat

#5283 ci: Remove the token of codspeed
  .github/workflows/test_benchmark.yml
Labels: releases-note/ci

#5208 feat(adapter/kv): support async iterating on scan results
  core/Cargo.lock
  core/Cargo.toml
  core/src/raw/adapters/kv/api.rs
  core/src/raw/adapters/kv/backend.rs
  core/src/raw/adapters/kv/mod.rs
  core/src/services/atomicserver/backend.rs
  core/src/services/cacache/backend.rs
  core/src/services/cloudflare_kv/backend.rs
  core/src/services/d1/backend.rs
  core/src/services/etcd/backend.rs
  core/src/services/foundationdb/backend.rs
  core/src/services/gridfs/backend.rs
  core/src/services/libsql/backend.rs
  core/src/services/memcached/backend.rs
  core/src/services/mongodb/backend.rs
  core/src/services/mysql/backend.rs
  core/src/services/nebula_graph/backend.rs
  core/src/services/persy/backend.rs
  core/src/services/postgresql/backend.rs
  core/src/services/redb/backend.rs
  core/src/services/redis/backend.rs
  core/src/services/rocksdb/backend.rs
  core/src/services/sled/backend.rs
  core/src/services/sqlite/backend.rs
  core/src/services/surrealdb/backend.rs
  core/src/services/tikv/backend.rs
Labels: releases-note/feat

#5258 chore(core/layers): align `info` method of `trait Access` and `trait LayeredAccess`
  core/src/layers/blocking.rs
  core/src/layers/complete.rs
  core/src/layers/error_context.rs
  core/src/layers/fastrace.rs
  core/src/layers/immutable_index.rs
  core/src/layers/logging.rs
  core/src/layers/oteltrace.rs
  core/src/layers/tracing.rs
  core/src/raw/layer.rs
Labels: releases-note/chore

#5259 chore(core/raw): align `info` method of `kv::Adapter` and `typed_kv::Adapter`
  core/Cargo.lock
  core/src/raw/adapters/kv/api.rs
  core/src/raw/adapters/kv/backend.rs
  core/src/raw/adapters/kv/mod.rs
  core/src/raw/adapters/typed_kv/api.rs
  core/src/services/atomicserver/backend.rs
  core/src/services/cacache/backend.rs
  core/src/services/cloudflare_kv/backend.rs
  core/src/services/d1/backend.rs
  core/src/services/etcd/backend.rs
  core/src/services/foundationdb/backend.rs
  core/src/services/gridfs/backend.rs
  core/src/services/libsql/backend.rs
  core/src/services/memcached/backend.rs
  core/src/services/mongodb/backend.rs
  core/src/services/mysql/backend.rs
  core/src/services/nebula_graph/backend.rs
  core/src/services/persy/backend.rs
  core/src/services/postgresql/backend.rs
  core/src/services/redb/backend.rs
  core/src/services/redis/backend.rs
  core/src/services/rocksdb/backend.rs
  core/src/services/sled/backend.rs
  core/src/services/sqlite/backend.rs
  core/src/services/surrealdb/backend.rs
  core/src/services/tikv/backend.rs
Labels: releases-note/chore

#5285 chore(layers/oteltrace): adjust tracer span name of info method
  core/src/layers/oteltrace.rs
Labels: releases-note/chore

#5246 feat(bindings/ruby): Add simple operators to Ruby binding
  .github/workflows/ci_bindings_ruby.yml
  bindings/ruby/.gitignore
  bindings/ruby/.rspec
  bindings/ruby/.standard.yml
  bindings/ruby/Cargo.toml
  bindings/ruby/Gemfile
  bindings/ruby/README.md
  bindings/ruby/Rakefile
  bindings/ruby/extconf.rb
  bindings/ruby/opendal.gemspec
  bindings/ruby/src/capability.rs
  bindings/ruby/src/lib.rs
  bindings/ruby/src/metadata.rs
  bindings/ruby/src/operator.rs
  bindings/ruby/test/blocking_op_test.rb
  bindings/ruby/test/capability_test.rb
  bindings/ruby/test/test_helper.rb
Labels: releases-note/feat

#5290 ci: Allow force push for `gh-pages`
  .asf.yaml
Labels: releases-note/ci

#5276 feat(core/services-gcs): support user defined metadata
  core/src/services/gcs/backend.rs
  core/src/services/gcs/core.rs
Labels: releases-note/feat

#5247 refactor (bindings/zig): Improvements
  bindings/zig/build.zig
  bindings/zig/build.zig.zon
  bindings/zig/src/opendal.zig
Labels: releases-note/refactor

#5297 build(bindings/java): fix lombok process
  bindings/java/pom.xml
Labels: releases-note/build

#5300 chore(services/s3): remove versioning check for s3
  core/src/services/s3/backend.rs
Labels: releases-note/chore

#5308 fix(bindings/c): Bump min CMake version to support CMP0135
  bindings/c/CMakeLists.txt
Labels: releases-note/fix

#5305 feat(core): add `if_not_exist` in `OpWrite`
  core/src/raw/ops.rs
  core/src/services/s3/backend.rs
  core/src/services/s3/core.rs
  core/src/types/capability.rs
  core/src/types/operator/operator.rs
  core/src/types/operator/operator_futures.rs
  core/tests/behavior/async_write.rs
Labels: releases-note/feat

#5315 chore: Polish the debug output of capability
  core/src/types/capability.rs
Labels: releases-note/chore

#5318 feat: Add {stat,list}_has_* to carry the metadata that backend returns
  core/src/types/capability.rs
  core/src/types/metadata.rs
Labels: releases-note/feat

#5309 docs: Establish VISION for "One Layer, All Storage"
  .asf.yaml
  README.md
  core/src/lib.rs
  website/DEPENDENCIES.node.csv
  website/docs/binding-java.md
  website/docs/binding-nodejs.md
  website/docs/binding-python.md
  website/docs/dav-server.md
  website/docs/object-store.md
  website/docs/overview.md
  website/docs/quickstart.md
  website/docs/rust-core.md
  website/docs/vision.md
  website/pnpm-lock.yaml
  website/src/pages/index.js
Labels: releases-note/docs

#5319 refactor: Remove metakey concept
  bin/oay/src/services/s3/service.rs
  bindings/java/src/error.rs
  bindings/java/src/lib.rs
  bindings/java/src/operator_input_stream.rs
  core/Cargo.lock
  core/Cargo.toml
  core/src/layers/complete.rs
  core/src/layers/mime_guess.rs
  core/src/lib.rs
  core/src/raw/ops.rs
  core/src/services/fs/backend.rs
  core/src/services/fs/lister.rs
  core/src/services/webdav/core.rs
  core/src/types/entry.rs
  core/src/types/list.rs
  core/src/types/metadata.rs
  core/src/types/mod.rs
  core/src/types/operator/blocking_operator.rs
  core/src/types/operator/operator.rs
  core/src/types/operator/operator_functions.rs
  core/src/types/operator/operator_futures.rs
  core/tests/behavior/async_list.rs
  core/tests/behavior/blocking_list.rs
  integrations/cloud_filter/src/lib.rs
  integrations/compat/Cargo.toml
  integrations/fuse3/src/file_system.rs
  integrations/object_store/src/store.rs
  integrations/object_store/src/utils.rs
Labels: releases-note/refactor

#5320 docs: Polish docs for write with if not exists
  core/src/types/operator/blocking_operator.rs
  core/src/types/operator/operator.rs
Labels: releases-note/docs

#5322 refactor(core)!: Remove not used cap write_multi_align_size
  bindings/c/include/opendal.h
  bindings/c/src/operator_info.rs
  bindings/go/operator_info.go
  bindings/go/types.go
  bindings/java/src/lib.rs
  bindings/java/src/main/java/org/apache/opendal/Capability.java
  bindings/java/src/test/java/org/apache/opendal/test/OperatorInfoTest.java
  bindings/nodejs/generated.d.ts
  bindings/nodejs/src/capability.rs
  bindings/python/python/opendal/__init__.pyi
  bindings/python/src/capability.rs
  bindings/ruby/src/capability.rs
  core/src/types/capability.rs
Labels: releases-note/refactor

#5323 refactor(core)!: Remove the range writer that has never been used
  core/src/raw/oio/write/mod.rs
  core/src/raw/oio/write/range_write.rs
Labels: releases-note/refactor

#5324 feat(bindings/python): support pickle [de]serialization for Operator
  bindings/python/src/file.rs
  bindings/python/src/operator.rs
  bindings/python/tests/test_async_pickle_types.py
  bindings/python/tests/test_pickle_rw.py
  bindings/python/tests/test_sync_pickle_types.py
Labels: releases-note/feat

#5195 feat(bindings/cpp): init the async support of C++ binding
  .github/workflows/ci_bindings_cpp.yml
  bindings/cpp/CMakeLists.txt
  bindings/cpp/Cargo.toml
  bindings/cpp/build.rs
  bindings/cpp/include/async_defs.hpp
  bindings/cpp/include/opendal_async.hpp
  bindings/cpp/src/async.rs
  bindings/cpp/src/lib.rs
  bindings/cpp/src/opendal_async.cpp
  bindings/cpp/tests/async_test.cpp
Labels: releases-note/feat

#5338 refactor(core): MaybeSend does not need to be unsafe
  core/src/raw/futures_util.rs
Labels: releases-note/refactor

#5340 chore: Update maturity.md
  website/community/maturity.md
Labels: releases-note/chore

#5342 fix(services/webhdfs): rename auth value
  core/src/services/webhdfs/backend.rs
Labels: releases-note/fix

#5334 feat(bindings/go): support darwin
  .github/scripts/test_go_binding/matrix.yaml
  .github/workflows/ci_bindings_go.yml
  bindings/go/tests/behavior_tests/go.mod
  bindings/go/tests/behavior_tests/opendal_test.go
Labels: releases-note/feat

#5348 build(python): fix pyproject meta file
  bindings/python/pyproject.toml
Labels: releases-note/fix, releases-note/build

#5347 build(bindings/python): add python 3.10 back and remove pypy
  .github/workflows/release_python.yml
  bindings/python/Cargo.toml
  bindings/python/pyproject.toml
Labels: releases-note/build

#5226 feat(services/gdrive): List shows modified timestamp gdrive
  core/src/layers/complete.rs
  core/src/services/gdrive/backend.rs
  core/src/services/gdrive/lister.rs
Labels: releases-note/feat

#5349 feat(service/s3): support delete with version
  core/src/services/s3/backend.rs
  core/src/services/s3/core.rs
Labels: releases-note/feat

#5355 chore: remove flagset in cargo.lock
  bin/oay/Cargo.lock
  bin/ofs/Cargo.lock
  bin/oli/Cargo.lock
Labels: releases-note/chore

#5144 docs(core): add the description of version parameter for operator
  core/src/types/operator/operator.rs
Labels: releases-note/docs
