Repository apache/opendal, pull requests merged in 2025-02, with the labels that each got.

#5592 build: implement release process in odev
  .github/ISSUE_TEMPLATE/3-new-release.md
  .github/workflows/ci_check.yml
  bindings/c/Cargo.toml
  bindings/cpp/Cargo.toml
  bindings/dotnet/Cargo.toml
  bindings/haskell/Cargo.toml
  bindings/haskell/opendal.cabal
  bindings/java/Cargo.toml
  bindings/java/pom.xml
  bindings/lua/Cargo.toml
  bindings/lua/README.md
  bindings/lua/opendal-0.1.0-1.rockspec
  bindings/nodejs/Cargo.toml
  bindings/ocaml/Cargo.toml
  bindings/php/Cargo.toml
  bindings/ruby/Cargo.toml
  dev/Cargo.lock
  dev/Cargo.toml
  dev/src/generate/parser.rs
  dev/src/main.rs
  dev/src/release/mod.rs
  dev/src/release/package.rs
  justfile
  scripts/README.md
  scripts/release.py
  scripts/version.py
  website/community/release/release.md
Labels: releases-note/build

#5595 chore: bump version 0.51.2
  bin/oay/Cargo.lock
  bin/oay/Cargo.toml
  bin/oay/DEPENDENCIES.rust.tsv
  bin/ofs/Cargo.lock
  bin/ofs/Cargo.toml
  bin/ofs/DEPENDENCIES.rust.tsv
  bin/oli/Cargo.lock
  bin/oli/Cargo.toml
  bin/oli/DEPENDENCIES.rust.tsv
  bindings/c/DEPENDENCIES.rust.tsv
  bindings/cpp/DEPENDENCIES.rust.tsv
  bindings/dotnet/DEPENDENCIES.rust.tsv
  bindings/haskell/DEPENDENCIES.rust.tsv
  bindings/java/DEPENDENCIES.rust.tsv
  bindings/java/pom.xml
  bindings/lua/DEPENDENCIES.rust.tsv
  bindings/nodejs/DEPENDENCIES.rust.tsv
  bindings/nodejs/npm/darwin-arm64/package.json
  bindings/nodejs/npm/darwin-x64/package.json
  bindings/nodejs/npm/linux-arm64-gnu/package.json
  bindings/nodejs/npm/linux-arm64-musl/package.json
  bindings/nodejs/npm/linux-x64-gnu/package.json
  bindings/nodejs/npm/win32-arm64-msvc/package.json
  bindings/nodejs/npm/win32-x64-msvc/package.json
  bindings/nodejs/package.json
  bindings/ocaml/DEPENDENCIES.rust.tsv
  bindings/php/DEPENDENCIES.rust.tsv
  bindings/python/Cargo.toml
  bindings/python/DEPENDENCIES.rust.tsv
  bindings/ruby/DEPENDENCIES.rust.tsv
  core/Cargo.lock
  core/Cargo.toml
  core/DEPENDENCIES.rust.tsv
  dev/src/release/package.rs
  integrations/cloud_filter/Cargo.toml
  integrations/cloud_filter/DEPENDENCIES.rust.tsv
  integrations/compat/Cargo.toml
  integrations/compat/DEPENDENCIES.rust.tsv
  integrations/dav-server/Cargo.toml
  integrations/dav-server/DEPENDENCIES.rust.tsv
  integrations/fuse3/Cargo.toml
  integrations/fuse3/DEPENDENCIES.rust.tsv
  integrations/object_store/Cargo.toml
  integrations/object_store/DEPENDENCIES.rust.tsv
  integrations/parquet/Cargo.toml
  integrations/parquet/DEPENDENCIES.rust.tsv
  integrations/unftp-sbe/Cargo.toml
  integrations/unftp-sbe/DEPENDENCIES.rust.tsv
  integrations/virtiofs/Cargo.toml
  integrations/virtiofs/DEPENDENCIES.rust.tsv
Labels: releases-note/chore

#5597 chore: add changelog for 0.51.2
  CHANGELOG.md
Labels: releases-note/chore

#5598 ci: upgrade upload and download artifact actions
  .github/workflows/ci_bindings_haskell.yml
  .github/workflows/release_python.yml
  website/community/release/release.md
Labels: releases-note/ci

#5603 ci: Fix bad corepack cannot find matching keyid
  .github/workflows/ci_bindings_nodejs.yml
  .github/workflows/ci_check.yml
  .github/workflows/docs.yml
  .github/workflows/test_behavior_binding_nodejs.yml
Labels: releases-note/ci

#5580 feat(services/s3): Added crc64nvme for s3
  core/Cargo.lock
  core/Cargo.toml
  core/src/services/s3/backend.rs
  core/src/services/s3/config.rs
  core/src/services/s3/core.rs
  core/src/services/s3/writer.rs
Labels: releases-note/feat

#5608 ci(website): avoid including rc when calculate the latest version
  website/docusaurus.config.js
Labels: releases-note/ci

#5605 feat(services-fs): Support write-if-not-exists in fs backend
  core/src/services/fs/backend.rs
Labels: releases-note/feat

#5610 feat(services/gcs): Impl content-encoding support for GCS stat, write and presign
  core/src/services/gcs/backend.rs
  core/src/services/gcs/core.rs
  core/src/types/operator/operator_futures.rs
Labels: releases-note/feat

#5614 fix(services/gcs): Fix content encoding can't be used alone
  core/src/services/gcs/core.rs
Labels: releases-note/fix

#5576 chore(layers/prometheus-client): upgrade prometheus-client dependency to v0.23.1
  core/Cargo.lock
  core/Cargo.toml
Labels: releases-note/chore, breaking-changes

#5616 refactor: Remove dead services libsql
  .env.example
  bindings/java/Cargo.toml
  bindings/java/src/main/java/org/apache/opendal/ServiceConfig.java
  bindings/nodejs/Cargo.toml
  bindings/python/Cargo.toml
  bindings/python/python/opendal/__base.pyi
  core/Cargo.lock
  core/Cargo.toml
  core/fuzz/Cargo.toml
  core/src/services/libsql/backend.rs
  core/src/services/libsql/config.rs
  core/src/services/libsql/docs.md
  core/src/services/libsql/error.rs
  core/src/services/libsql/mod.rs
  core/src/services/mod.rs
  core/src/types/operator/builder.rs
  core/src/types/scheme.rs
Labels: releases-note/refactor

#5601 feat(services/swift): Added user metadata support for swift service
  bin/ofs/Cargo.lock
  bin/oli/Cargo.lock
  core/src/services/swift/backend.rs
  core/src/services/swift/core.rs
  core/src/services/swift/writer.rs
Labels: releases-note/feat

#5625 build: upgrade opentelemetry dependencies to 0.28.0
  .github/workflows/ci_bindings_go.yml
  bin/ofs/Cargo.lock
  core/Cargo.lock
  core/Cargo.toml
  core/src/layers/tracing.rs
Labels: releases-note/build

#5626 chore(ci): remove benchmark report
  .github/workflows/test_benchmark.yml
Labels: releases-note/chore

#5631 fix(services/gdrive): skip the trailing slash when creating and querying the directory
  core/src/raw/path_cache.rs
  core/src/services/gdrive/core.rs
Labels: releases-note/fix

#5629 docs(bindings/ruby): add documentation for Ruby binding
  .github/workflows/ci_bindings_ruby.yml
  .github/workflows/docs.yml
  bindings/ruby/.standard.yml
  bindings/ruby/.tool-versions
  bindings/ruby/.yardopts
  bindings/ruby/Cargo.toml
  bindings/ruby/Gemfile
  bindings/ruby/Rakefile
  bindings/ruby/lib/opendal_ruby/entry.rb
  bindings/ruby/lib/opendal_ruby/io.rb
  bindings/ruby/opendal.gemspec
  bindings/ruby/src/capability.rs
  bindings/ruby/src/io.rs
  bindings/ruby/src/lister.rs
  bindings/ruby/src/metadata.rs
  bindings/ruby/src/operator.rs
Labels: releases-note/docs

#5633 feat: Implement github actions cache service v2 support
  .github/workflows/service_test_ghac.yml
  core/Cargo.lock
  core/Cargo.toml
  core/src/raw/http_util/mod.rs
  core/src/raw/http_util/uri.rs
  core/src/services/azblob/mod.rs
  core/src/services/ghac/backend.rs
  core/src/services/ghac/core.rs
  core/src/services/ghac/error.rs
  core/src/services/ghac/mod.rs
  core/src/services/ghac/writer.rs
Labels: releases-note/feat

#5634 docs: Add upgrade docs for upcoming 0.52
  core/src/docs/upgrade.md
Labels: releases-note/docs

#5636 feat(bindings/python): let path can be PathLike
  bindings/python/python/opendal/__init__.pyi
  bindings/python/src/operator.rs
  bindings/python/tests/test_read.py
  bindings/python/tests/test_write.py
Labels: releases-note/feat

#5637 feat(bindings/python): add exists
  bindings/python/python/opendal/__init__.pyi
  bindings/python/src/operator.rs
  bindings/python/tests/test_async_exists.py
  bindings/python/tests/test_sync_exists.py
Labels: releases-note/feat

#5643 ci: Try fix nodejs CI
  .github/workflows/ci_bindings_nodejs.yml
Labels: releases-note/ci

#5644 ci: Skip corepack checks until next nodejs version
  .github/workflows/ci_bindings_nodejs.yml
Labels: releases-note/ci

#5646 feat(bindings/python) detailed error message
  bindings/python/src/errors.rs
Labels: releases-note/feat

#5648 chore: Fix clippy for rust edition 2024
  integrations/virtiofs/src/virtiofs.rs
Labels: releases-note/chore

#5654 feat(bindings/python): Add user metadata support for write
  bindings/python/src/operator.rs
  bindings/python/src/options.rs
  core/src/types/operator/operator_functions.rs
Labels: releases-note/feat

#5650 fix(integrations/dav-server): handle encoded path correctly.
  integrations/dav-server/src/file.rs
  integrations/dav-server/src/fs.rs
  integrations/dav-server/tests/test.rs
Labels: releases-note/fix

#5652 fix(services/onedrive): fix OneDrive behavior tests
  core/src/services/onedrive/backend.rs
  core/src/services/onedrive/lister.rs
Labels: releases-note/fix

#5658 fix(services/gcs): Advertise `write_with_cache_control` in Gcs
  core/src/services/gcs/backend.rs
Labels: releases-note/fix

#5660 fix(services/gcs): Fix cache control not present in object meta
  core/src/services/gcs/backend.rs
Labels: releases-note/fix

#5428 feat(services/s3): add append support
  core/src/services/s3/backend.rs
  core/src/services/s3/config.rs
  core/src/services/s3/core.rs
  core/src/services/s3/docs.md
  core/src/services/s3/writer.rs
Labels: releases-note/feat

#5647 feat(core): Add presign delete support
  core/src/raw/ops.rs
  core/src/services/azblob/backend.rs
  core/src/services/b2/backend.rs
  core/src/services/cos/backend.rs
  core/src/services/gcs/backend.rs
  core/src/services/obs/backend.rs
  core/src/services/oss/backend.rs
  core/src/services/s3/backend.rs
  core/src/types/capability.rs
  core/src/types/operator/operator.rs
  core/src/types/operator/operator_futures.rs
  core/tests/behavior/async_presign.rs
Labels: releases-note/feat

#5661 feat(bindings/python): add python presign_delete
  bindings/python/python/opendal/__init__.pyi
  bindings/python/src/capability.rs
  bindings/python/src/operator.rs
Labels: releases-note/feat

#5663 refactor: Supabase is now an S3-compatible servcices
  .env.example
  .github/workflows/ci_core.yml
  bindings/c/include/opendal.h
  bindings/c/src/operator.rs
  bindings/java/Cargo.toml
  bindings/java/src/main/java/org/apache/opendal/ServiceConfig.java
  bindings/lua/src/operator_doc.lua
  bindings/nodejs/Cargo.toml
  bindings/python/Cargo.toml
  bindings/python/python/opendal/__base.pyi
  core/Cargo.toml
  core/fuzz/Cargo.toml
  core/src/services/mod.rs
  core/src/services/supabase/backend.rs
  core/src/services/supabase/config.rs
  core/src/services/supabase/core.rs
  core/src/services/supabase/docs.md
  core/src/services/supabase/error.rs
  core/src/services/supabase/mod.rs
  core/src/services/supabase/writer.rs
  core/src/types/operator/builder.rs
  core/src/types/scheme.rs
  core/tests/behavior/async_delete.rs
  core/tests/behavior/async_read.rs
  core/tests/behavior/async_stat.rs
  core/tests/behavior/async_write.rs
  core/tests/behavior/blocking_stat.rs
  core/tests/behavior/blocking_write.rs
Labels: releases-note/refactor
