Repository apache/opendal, pull requests merged in 2025-06, with the labels that each got.

#6246 feat(bindings/java): Add ListOptions support for new options API
  bindings/java/src/async_operator.rs
  bindings/java/src/convert.rs
  bindings/java/src/lib.rs
  bindings/java/src/main/java/org/apache/opendal/Capability.java
  bindings/java/src/main/java/org/apache/opendal/ListOptions.java
  bindings/java/src/operator.rs
  bindings/java/src/test/java/org/apache/opendal/test/behavior/AsyncListTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/BlockingListTest.java
Labels: releases-note/feat, size:L, lgtm

#6255 feat(bindings/java): Add StatOptions support for new options API
  bindings/java/Cargo.toml
  bindings/java/src/async_operator.rs
  bindings/java/src/convert.rs
  bindings/java/src/lib.rs
  bindings/java/src/main/java/org/apache/opendal/AsyncOperator.java
  bindings/java/src/main/java/org/apache/opendal/Capability.java
  bindings/java/src/main/java/org/apache/opendal/Operator.java
  bindings/java/src/main/java/org/apache/opendal/StatOptions.java
  bindings/java/src/operator.rs
  bindings/java/src/test/java/org/apache/opendal/test/behavior/AsyncStatOptionsTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/BlockingStatOptionsTest.java
Labels: releases-note/feat, size:XL, lgtm

#6263 refactor(!): Remove services lack of maintainers and users
  core/Cargo.lock
  core/Cargo.toml
  core/README.md
  core/src/raw/adapters/kv/api.rs
  core/src/raw/adapters/kv/mod.rs
  core/src/services/atomicserver/backend.rs
  core/src/services/atomicserver/config.rs
  core/src/services/atomicserver/docs.md
  core/src/services/atomicserver/mod.rs
  core/src/services/icloud/backend.rs
  core/src/services/icloud/config.rs
  core/src/services/icloud/core.rs
  core/src/services/icloud/docs.md
  core/src/services/icloud/mod.rs
  core/src/services/mod.rs
  core/src/services/nebula_graph/backend.rs
  core/src/services/nebula_graph/config.rs
  core/src/services/nebula_graph/docs.md
  core/src/services/nebula_graph/mod.rs
  core/src/types/operator/builder.rs
  core/src/types/scheme.rs
Labels: releases-note/refactor, size:XXL, lgtm

#6127 chore: Update bb8 to version 0.9.0
  core/Cargo.lock
  core/Cargo.toml
  core/src/services/etcd/backend.rs
  core/src/services/ftp/core.rs
  core/src/services/memcached/backend.rs
  core/src/services/redis/core.rs
  core/src/services/sftp/core.rs
Labels: releases-note/chore, size:XS, lgtm

#6247 feat(website): Auto-generate llms.txt and llms-full.txt
  website/docusaurus.config.js
  website/package.json
  website/pnpm-lock.yaml
Labels: releases-note/feat, size:L, lgtm

#6265 oli: support dropbox
  bin/oli/Cargo.toml
Labels: releases-note/feat, size:XS, lgtm

#6270 refactor(services/moka)!: replace `sync::Cache` with `future::Cache`
  core/src/services/moka/backend.rs
  core/src/services/moka/config.rs
  core/src/services/moka/docs.md
Labels: releases-note/refactor, size:M, lgtm

#6266 fix(nodejs): esmodule and commonjs support
  bindings/nodejs/.prettierignore
  bindings/nodejs/README.md
  bindings/nodejs/index.cjs
  bindings/nodejs/index.mjs
  bindings/nodejs/package.json
  bindings/nodejs/scripts/header.mjs
  bindings/nodejs/tests/suites/index.mjs
  bindings/nodejs/tests/suites/sync.suite.mjs
  bindings/nodejs/theme/package.json
Labels: releases-note/fix, size:L, lgtm

#6232 feat(bindings/python): Enhance Stat, Lister, Metadata & Entry
  bindings/python/python/opendal/__init__.pyi
  bindings/python/python/opendal/exceptions.pyi
  bindings/python/src/lib.rs
  bindings/python/src/metadata.rs
  bindings/python/src/operator.rs
  bindings/python/src/options.rs
  bindings/python/tests/test_async_pickle_types.py
  bindings/python/tests/test_pickle_rw.py
  bindings/python/tests/test_sync_pickle_types.py
  bindings/python/tests/test_write.py
Labels: bindings/python, releases-note/feat, size:XL, lgtm

#6269 feat(layers): add fastmetrics layer
  core/Cargo.lock
  core/Cargo.toml
  core/src/layers/fastmetrics.rs
  core/src/layers/mod.rs
Labels: releases-note/feat, size:L, lgtm

#6273 feat(core): Expose presign_xxx_options API
  core/src/types/operator/operator.rs
  core/src/types/operator/operator_futures.rs
Labels: releases-note/feat, size:L, lgtm

#6280 chore(bindings/go): update Go dependencies
  bindings/go/go.mod
  bindings/go/go.sum
Labels: releases-note/chore, size:XS

#6286 fix(bindings/nodejs): update nodejs and deno bench
  bindings/nodejs/.gitignore
  bindings/nodejs/benchmark/deno.ts
  bindings/nodejs/benchmark/node.js
  bindings/nodejs/package.json
Labels: releases-note/fix, size:S, lgtm

#6290 feat: Add HttpClientLayer to replace `Operator::update_http_client()`
  core/src/layers/http_client.rs
  core/src/layers/mod.rs
  core/src/types/operator/operator.rs
Labels: releases-note/feat, size:L

#6295 fix(hdfs): fix infinite loop in write for HDFS failure
  core/src/services/hdfs/writer.rs
Labels: releases-note/fix, size:XS, lgtm

#6229 feat(bin/oli): support oli edit
  bin/oli/Cargo.toml
  bin/oli/src/commands/edit.rs
  bin/oli/src/commands/mod.rs
  bin/oli/tests/integration/edit.rs
  bin/oli/tests/integration/main.rs
Labels: releases-note/feat, size:XS, lgtm, bin/oli

#6299 docs: Add CLAUDE docs to make AI Agents happy
  CLAUDE.md
Labels: releases-note/docs, size:L

#6302 docs: Polish claude file after some experiments
  CLAUDE.md
Labels: releases-note/docs, size:S

#6285 feat(services/moka): expose more moka configurations
  bin/oay/Cargo.lock
  bin/ofs/Cargo.lock
  bin/oli/Cargo.lock
  core/Cargo.lock
  core/Cargo.toml
  core/src/services/moka/backend.rs
  core/src/services/moka/core.rs
  core/src/services/moka/delete.rs
  core/src/services/moka/lister.rs
  core/src/services/moka/mod.rs
  core/src/services/moka/writer.rs
Labels: releases-note/feat, size:L, lgtm

#6282 feat(bindings/nodejs): Add StatOptions support for new options API
  bindings/nodejs/generated.d.ts
  bindings/nodejs/generated.js
  bindings/nodejs/package.json
  bindings/nodejs/pnpm-lock.yaml
  bindings/nodejs/src/capability.rs
  bindings/nodejs/src/lib.rs
  bindings/nodejs/src/options.rs
  bindings/nodejs/tests/suites/asyncStatOptions.suite.mjs
  bindings/nodejs/tests/suites/index.mjs
  bindings/nodejs/tests/suites/syncStatOptions.suite.mjs
  bindings/nodejs/tests/utils.mjs
  bindings/nodejs/vitest.config.mjs
Labels: releases-note/feat, size:XL, lgtm

#6306 ci: Disable failed CI until #6305 been fixed
  bindings/nodejs/tests/suites/asyncStatOptions.suite.mjs
  bindings/nodejs/tests/suites/syncStatOptions.suite.mjs
Labels: releases-note/ci, size:M, lgtm

#6308 chore(metrics): add more docs about global instance of PrometheusLayer and FastmetricsLayer
  core/src/layers/fastmetrics.rs
  core/src/layers/prometheus.rs
  core/src/layers/prometheus_client.rs
Labels: releases-note/chore, size:L, lgtm

#6307 fix(nodejs): test stat with version
  bindings/nodejs/tests/suites/asyncStatOptions.suite.mjs
  bindings/nodejs/tests/suites/syncStatOptions.suite.mjs
Labels: releases-note/fix, size:M, lgtm

#6310 chore(ci): use mlugg/setup-zig instead of archvied action
  .github/workflows/ci_bindings_zig.yml
Labels: releases-note/ci, size:XS, lgtm

#6313 refactor!: Remove stat_has_xxx and list_has_xxx
  core/src/services/aliyun_drive/backend.rs
  core/src/services/alluxio/backend.rs
  core/src/services/azblob/backend.rs
  core/src/services/azdls/backend.rs
  core/src/services/azfile/backend.rs
  core/src/services/b2/backend.rs
  core/src/services/compfs/backend.rs
  core/src/services/cos/backend.rs
  core/src/services/dbfs/backend.rs
  core/src/services/dropbox/builder.rs
  core/src/services/fs/backend.rs
  core/src/services/ftp/backend.rs
  core/src/services/gcs/backend.rs
  core/src/services/gdrive/builder.rs
  core/src/services/ghac/backend.rs
  core/src/services/ghac/writer.rs
  core/src/services/github/backend.rs
  core/src/services/hdfs/backend.rs
  core/src/services/hdfs_native/backend.rs
  core/src/services/http/backend.rs
  core/src/services/huggingface/backend.rs
  core/src/services/ipfs/backend.rs
  core/src/services/ipmfs/builder.rs
  core/src/services/koofr/backend.rs
  core/src/services/lakefs/backend.rs
  core/src/services/memory/backend.rs
  core/src/services/moka/backend.rs
  core/src/services/monoiofs/core.rs
  core/src/services/obs/backend.rs
  core/src/services/onedrive/builder.rs
  core/src/services/oss/backend.rs
  core/src/services/pcloud/backend.rs
  core/src/services/s3/backend.rs
  core/src/services/seafile/backend.rs
  core/src/services/sftp/backend.rs
  core/src/services/swift/backend.rs
  core/src/services/upyun/backend.rs
  core/src/services/vercel_artifacts/builder.rs
  core/src/services/vercel_blob/backend.rs
  core/src/services/webdav/backend.rs
  core/src/services/webhdfs/backend.rs
  core/src/services/yandex_disk/backend.rs
  core/src/types/capability.rs
Labels: releases-note/refactor, size:L

#6315 fix(bindings/python): Fix Writer doesn't throw correct error code
  bindings/python/src/errors.rs
  bindings/python/src/file.rs
Labels: releases-note/fix, size:S, lgtm

#6311 feat: implement --tree option for oli ls subcommand
  bin/oli/src/commands/ls.rs
  bin/oli/tests/integration/ls.rs
Labels: releases-note/feat, size:XS, lgtm

#6312 feat(bindings/nodejs): Add ReadOptions and ReaderOptions support for new options API
  .vscode/settings.json
  bindings/nodejs/generated.d.ts
  bindings/nodejs/src/capability.rs
  bindings/nodejs/src/lib.rs
  bindings/nodejs/src/options.rs
  bindings/nodejs/tests/suites/asyncReadOptions.suite.mjs
  bindings/nodejs/tests/suites/index.mjs
  bindings/nodejs/tests/suites/syncReadOptions.suite.mjs
Labels: releases-note/feat, size:XXL, lgtm

#6293 ci(bindings/go): simplify and improve Go bindings test infrastructure
  .github/actions/test_behavior_binding_go/action.yaml
  .github/workflows/test_behavior_binding_go.yml
  bindings/go/Makefile
  bindings/go/README.md
Labels: releases-note/ci, size:L, lgtm

#6324 refactor: remove uuid dependency when creating a temp path
  core/src/raw/path.rs
  core/src/services/fs/backend.rs
  core/src/services/fs/core.rs
  core/src/services/ftp/backend.rs
  core/src/services/hdfs/backend.rs
Labels: releases-note/refactor, size:L, lgtm

#6327 fix(fs/ftp/hdfs): correct tmp_path generation for append operations
  core/src/services/fs/core.rs
  core/src/services/ftp/backend.rs
  core/src/services/hdfs/backend.rs
Labels: releases-note/fix, size:XS, lgtm

#6319 ci(services/compfs): add integrtation tests for compfs service
  .github/services/compfs/compfs/action.yml
  bindings/java/Cargo.toml
  bindings/nodejs/Cargo.toml
  bindings/python/Cargo.toml
Labels: releases-note/ci, size:M, lgtm

#6321 fix(dav-server): Fix create_dir to create nested directories
  integrations/dav-server/src/fs.rs
Labels: releases-note/fix, size:XS, lgtm

#6326 fix(service/fs): handle if_not_exists flag to raise ConditionNotMatch error
  core/src/services/fs/backend.rs
  core/src/services/fs/core.rs
  core/src/services/fs/writer.rs
Labels: releases-note/fix, size:L, lgtm

#6318 chore: Add npm to dependabot
  .github/dependabot.yml
Labels: releases-note/chore, size:XS, lgtm

#6320 feat(bindings/nodejs): Add ListOptions support for new options API
  bindings/nodejs/generated.d.ts
  bindings/nodejs/src/capability.rs
  bindings/nodejs/src/lib.rs
  bindings/nodejs/src/options.rs
  bindings/nodejs/tests/suites/asyncListOptions.suite.mjs
  bindings/nodejs/tests/suites/index.mjs
  bindings/nodejs/tests/suites/syncListOptions.suite.mjs
Labels: releases-note/feat, size:XL, lgtm

#6336 fix(services/fs): Avoid creating partial files
  core/src/services/fs/writer.rs
  website/DEPENDENCIES.node.csv
  website/package.json
  website/pnpm-lock.yaml
Labels: releases-note/fix, size:M

#6335 fix(bindings/nodejs): ListOptions test list with deleted
  bindings/nodejs/tests/suites/asyncListOptions.suite.mjs
  bindings/nodejs/tests/suites/syncListOptions.suite.mjs
Labels: releases-note/fix, size:S

#6338 chore(dav-server): Add a test for creating nested directories
  integrations/dav-server/tests/test.rs
Labels: releases-note/chore, size:S, lgtm

#6348 chore: bump msrv to v1.82.0
  .github/workflows/ci_core.yml
  CLAUDE.md
  CONTRIBUTING.md
  bin/oay/Cargo.toml
  bin/ofs/Cargo.toml
  bin/oli/Cargo.toml
  bindings/c/Cargo.toml
  bindings/cpp/Cargo.toml
  bindings/dotnet/Cargo.toml
  bindings/haskell/Cargo.toml
  bindings/java/Cargo.toml
  bindings/lua/Cargo.toml
  bindings/nodejs/Cargo.toml
  bindings/ocaml/Cargo.toml
  bindings/php/Cargo.toml
  bindings/python/Cargo.toml
  bindings/ruby/Cargo.toml
  bindings/ruby/opendal.gemspec
  core/Cargo.toml
  core/benches/vs_fs/Cargo.toml
  core/benches/vs_s3/Cargo.toml
  core/fuzz/Cargo.toml
  core/src/docs/upgrade.md
  core/tests/behavior/async_list.rs
  dev/Cargo.toml
  integrations/cloud_filter/Cargo.toml
  integrations/dav-server/Cargo.toml
  integrations/fuse3/Cargo.toml
  integrations/object_store/Cargo.toml
  integrations/parquet/Cargo.toml
  integrations/unftp-sbe/Cargo.toml
  integrations/virtiofs/Cargo.toml
Labels: releases-note/chore, size:M, lgtm
