Repository apache/opendal, pull requests merged in 2025-04, with the labels that each got.

#5918 docs: Add docs on how to upgrade to opendal rust core 0.53
  core/src/docs/upgrade.md
  core/src/types/operator/builder.rs
  core/src/types/operator/operator.rs
  integrations/parquet/upgrade.md
Labels: releases-note/docs

#5921 chore: chore some version like logforth
  bin/oay/Cargo.lock
  bin/oay/Cargo.toml
  bin/ofs/Cargo.lock
  bin/ofs/Cargo.toml
  core/Cargo.lock
  core/benches/vs_s3/Cargo.toml
  core/fuzz/Cargo.toml
  dev/Cargo.toml
  integrations/cloud_filter/Cargo.toml
Labels: releases-note/chore

#5934 docs: Update changelogs for v0.53.0
  CHANGELOG.md
Labels: releases-note/docs

#5939 refactor: Remove dead code ConcurrentFutures
  core/src/raw/futures_util.rs
  core/src/raw/mod.rs
Labels: releases-note/refactor, size:L, lgtm

#5946 chore: rm in favor of dosubot
  .github/workflows/ci_pr_labeler.yml
Labels: github_actions, releases-note/chore, size:M, lgtm

#5941 fix(core): Fix head-of-line blocking in concurrent tasks
  core/src/raw/futures_util.rs
Labels: core, releases-note/fix, size:L, lgtm

#5951 chore: Fix clippy for rust 1.86
  bin/ofs/tests/file.rs
  core/src/layers/capability_check.rs
Labels: releases-note/chore, rust, bin/ofs, size:XS

#5933 feat(services/gcs): implement write returns metadata
  core/src/services/gcs/backend.rs
  core/src/services/gcs/core.rs
  core/src/services/gcs/writer.rs
  core/tests/behavior/async_write.rs
  core/tests/behavior/blocking_write.rs
Labels: enhancement, services/gcs, releases-note/feat, size:L, lgtm

#5944 chore: sync cpp example
  examples/cpp/basic.cpp
Labels: releases-note/chore, bindings/cpp, size:XS, lgtm

#5954 chore: update typos version
  .github/workflows/ci_check.yml
  .typos.toml
Labels: github_actions, releases-note/chore, size:XS, lgtm

#5952 ci: add test for cpp example
  .github/workflows/ci_bindings_cpp.yml
  examples/cpp/CMakeLists.txt
Labels: github_actions, releases-note/ci, bindings/cpp, size:S, lgtm

#5950 refactor: Introduce IpfsCore for improved service structure
  core/src/services/ipfs/backend.rs
  core/src/services/ipfs/core.rs
  core/src/services/ipfs/mod.rs
Labels: services/ipfs, core, size:L, lgtm

#5949 refactor(ftp): restructure FtpBackend and introduce FtpCore
  core/src/services/ftp/backend.rs
  core/src/services/ftp/core.rs
  core/src/services/ftp/delete.rs
  core/src/services/ftp/mod.rs
  core/src/services/ftp/reader.rs
  core/src/services/ftp/writer.rs
Labels: services/ftp, core, size:L

#5968 doc: add doc for unit tests and doc tests close #5932
  core/CONTRIBUTING.md
Labels: documentation, size:S, lgtm

#5969 fix(services/ipmfs): fix Ipmfs behavior tests
  core/src/services/ipmfs/lister.rs
Labels: services/ipmfs, releases-note/fix, size:S, lgtm

#5958 feat(services/azblob): implement write returns metadata
  core/src/services/azblob/backend.rs
  core/src/services/azblob/core.rs
  core/src/services/azblob/writer.rs
Labels: enhancement, services/azblob, size:M, lgtm

#5975 feat(services/s3): Add ListObjectsV1 support for better support old storage services
  .github/services/s3/aws_s3_with_list_objects_v1/action.yml
  .github/services/s3/minio_s3_with_list_objects_v1/action.yml
  core/src/raw/enum_utils.rs
  core/src/raw/http_util/mod.rs
  core/src/raw/http_util/uri.rs
  core/src/services/s3/backend.rs
  core/src/services/s3/config.rs
  core/src/services/s3/core.rs
  core/src/services/s3/lister.rs
Labels: enhancement, services/s3, size:L, lgtm

#5979 chore(service/azblob): use QueryPairsWriter for url write
  core/src/services/azblob/core.rs
Labels: services/azblob, core, size:L, lgtm

#5980 refactor: Introduce IpmfsCore for improved service structure
  core/src/services/ipmfs/backend.rs
  core/src/services/ipmfs/builder.rs
  core/src/services/ipmfs/core.rs
  core/src/services/ipmfs/delete.rs
  core/src/services/ipmfs/lister.rs
  core/src/services/ipmfs/mod.rs
  core/src/services/ipmfs/writer.rs
Labels: services/ipmfs, core, size:L, lgtm

#5989 ci: python doc build also use uv
  .github/workflows/docs.yml
Labels: github_actions, size:XS, lgtm

#5987 chore(services/cos): Use QueryPairsWriter for url write
  core/src/raw/http_util/uri.rs
  core/src/services/cos/core.rs
Labels: core, services/cos, size:M, lgtm

#5988 chore(service/azdls): use QueryPairsWriter for url write
  core/src/services/azdls/core.rs
Labels: services/azdls, core, releases-note/chore, size:S, lgtm

#5985 chore(services/obs): Use QueryPairsWriter for url write
  core/src/services/obs/core.rs
Labels: services/obs, core, releases-note/chore, size:S, lgtm

#5984 chore(services/oss): Use QueryPairsWriter for url write
  core/src/services/oss/core.rs
Labels: services/oss, core, size:M, lgtm

#5983 chore(services/swift): Use QueryPairsWriter for url write
  core/src/services/swift/core.rs
Labels: core, services/swift, size:S, lgtm

#5982 chore(services/gdrive): Use QueryPairsWriter for url write
  core/src/services/gdrive/core.rs
Labels: core, services/gdrive, size:S, lgtm

#5994 chore(core): Fix clippy for services azfile
  core/src/services/azfile/core.rs
Labels: bug, services/azfile, size:XS, lgtm

#5992 feat(bindings/go): Add windows platform support
  .github/scripts/test_go_binding/matrix.yaml
  .github/workflows/ci_bindings_go.yml
  bindings/go/delete.go
  bindings/go/ffi.go
  bindings/go/go.mod
  bindings/go/go.sum
  bindings/go/lister.go
  bindings/go/operator.go
  bindings/go/operator_info.go
  bindings/go/reader.go
  bindings/go/stat.go
  bindings/go/util_unix.go
  bindings/go/util_windows.go
  bindings/go/write.go
Labels: github_actions, bindings/go, size:L, lgtm

#5996 feat(bindings/nodejs): add check in js
  bindings/nodejs/generated.d.ts
  bindings/nodejs/src/lib.rs
  bindings/nodejs/tests/suites/async.suite.mjs
  bindings/nodejs/tests/suites/sync.suite.mjs
Labels: bindings/nodejs, releases-note/feat, size:S, lgtm

#6001 fix(services/b2): Don't include prefix is it's empty
  core/src/services/b2/core.rs
Labels: bug, size:XS

#5998 doc(bindings/go): Improve developer guide.
  bindings/go/README.md
Labels: documentation, bindings/go, size:L, lgtm

#6000 refactor(layers/tracing): Ensure the entire async function been traced
  core/src/layers/tracing.rs
Labels: core, releases-note/refactor, size:L, lgtm

#6003 feat(bindings/python): mkdocs for python binding
  .github/workflows/docs.yml
  bindings/python/.gitignore
  bindings/python/docs/api.md
  bindings/python/docs/index.md
  bindings/python/mkdocs.yml
  bindings/python/pyproject.toml
  bindings/python/python/opendal/__init__.py
  bindings/python/python/opendal/__init__.pyi
  bindings/python/python/opendal/exceptions.pyi
  bindings/python/src/lib.rs
  bindings/python/uv.lock
Labels: documentation, bindings/python, size:L, lgtm

#6004 docs: Fix links to bindings python
  bindings/python/pyproject.toml
Labels: documentation, bindings/python, size:XS

#6007 docs(bindings/python): Include examples in our docs
  bindings/python/README.md
  bindings/python/docs/examples/basic.ipynb
  bindings/python/docs/examples/pandas.ipynb
  bindings/python/docs/examples/polars.ipynb
  bindings/python/mkdocs.yml
  bindings/python/pyproject.toml
  bindings/python/uv.lock
Labels: documentation, bindings/python, size:S

#6002 feat(services/ipfs): implement ipfs_stat
  core/src/services/ipfs/backend.rs
  core/src/services/ipfs/core.rs
Labels: enhancement, services/ipfs, size:L

#6008 doc: fix python binding doc which changed
  bindings/python/README.md
  bindings/python/upgrade.md
Labels: documentation, bindings/python, size:S, lgtm

#6009 doc: roll back some wrong format
  bindings/python/README.md
  bindings/python/upgrade.md
Labels: documentation, bindings/python, size:XS, lgtm

#6013 docs(bindings/java): improve document format
  CONTRIBUTING.md
  bindings/java/README.md
Labels: documentation, bindings/java, size:S, lgtm

#6016 feat(core): Implement io::{Read,Seek,BufRead} for Buffer
  core/src/types/buffer.rs
Labels: enhancement, core, size:L

#6019 docs: Polish perf docs for concurrent write
  core/src/docs/performance/concurrent_write.md
Labels: documentation, size:XS

#6020 docs: Add performance guide http optimization
  core/src/docs/performance/http_optimization.md
  core/src/docs/performance/mod.rs
Labels: documentation, size:L, lgtm

#6017 docs(bindings/nodejs): fix broken links
  bindings/nodejs/index.js
  bindings/nodejs/package.json
  bindings/nodejs/pnpm-lock.yaml
  bindings/nodejs/scripts/header.js
  bindings/nodejs/theme/index.tsx
  bindings/nodejs/tsconfig.theme.json
  bindings/nodejs/typedoc.json
Labels: documentation, bindings/nodejs, releases-note/docs, size:M, lgtm

#6023 doc(chore): update copyright date in NOTICE
  NOTICE
Labels: releases-note/docs, size:XS, lgtm

#6018 ci(bindings/go): include go binding into behavior tests
  .github/actions/test_behavior_binding_go/action.yaml
  .github/scripts/test_behavior/plan.py
  .github/scripts/test_go_binding/generate_test_scheme.py
  .github/workflows/ci_bindings_go.yml
  .github/workflows/test_behavior.yml
  .github/workflows/test_behavior_binding_go.yml
  bindings/go/tests/behavior_tests/list_test.go
  bindings/go/tests/behavior_tests/opendal_test.go
  bindings/go/tests/behavior_tests/scheme_test.go
Labels: github_actions, releases-note/ci, bindings/go, size:XL, lgtm

#6022 Bump to version 0.53.1
  CHANGELOG.md
  bin/oay/Cargo.lock
  bin/oay/Cargo.toml
  bin/oay/DEPENDENCIES.rust.tsv
  bin/ofs/Cargo.lock
  bin/ofs/Cargo.toml
  bin/ofs/DEPENDENCIES.rust.tsv
  bin/oli/Cargo.lock
  bin/oli/Cargo.toml
  bin/oli/DEPENDENCIES.rust.tsv
  bindings/c/DEPENDENCIES.rust.tsv
  bindings/cpp/DEPENDENCIES.rust.tsv
  bindings/dotnet/DEPENDENCIES.rust.tsv
  bindings/haskell/DEPENDENCIES.rust.tsv
  bindings/java/DEPENDENCIES.rust.tsv
  bindings/java/pom.xml
  bindings/lua/DEPENDENCIES.rust.tsv
  bindings/nodejs/DEPENDENCIES.rust.tsv
  bindings/nodejs/npm/darwin-arm64/package.json
  bindings/nodejs/npm/darwin-x64/package.json
  bindings/nodejs/npm/linux-arm64-gnu/package.json
  bindings/nodejs/npm/linux-arm64-musl/package.json
  bindings/nodejs/npm/linux-x64-gnu/package.json
  bindings/nodejs/npm/win32-arm64-msvc/package.json
  bindings/nodejs/npm/win32-x64-msvc/package.json
  bindings/nodejs/package.json
  bindings/ocaml/DEPENDENCIES.rust.tsv
  bindings/php/DEPENDENCIES.rust.tsv
  bindings/python/Cargo.toml
  bindings/python/DEPENDENCIES.rust.tsv
  bindings/ruby/DEPENDENCIES.rust.tsv
  core/Cargo.lock
  core/Cargo.toml
  core/DEPENDENCIES.rust.tsv
  core/src/raw/serde_util.rs
  core/src/services/azblob/core.rs
  core/src/services/cos/core.rs
  core/src/services/gcs/core.rs
  core/src/services/obs/core.rs
  core/src/services/oss/core.rs
  core/src/services/s3/core.rs
  dev/src/release/package.rs
  integrations/cloud_filter/Cargo.toml
  integrations/cloud_filter/DEPENDENCIES.rust.tsv
  integrations/dav-server/Cargo.toml
  integrations/dav-server/DEPENDENCIES.rust.tsv
  integrations/fuse3/Cargo.toml
  integrations/fuse3/DEPENDENCIES.rust.tsv
  integrations/object_store/Cargo.toml
  integrations/object_store/DEPENDENCIES.rust.tsv
  integrations/parquet/Cargo.toml
  integrations/parquet/DEPENDENCIES.rust.tsv
  integrations/unftp-sbe/Cargo.toml
  integrations/unftp-sbe/DEPENDENCIES.rust.tsv
  integrations/virtiofs/DEPENDENCIES.rust.tsv
Labels: dependencies, bindings/nodejs, bindings/python, bindings/c, bindings/java, bindings/haskell, bindings/cpp, bin/oay, bin/ofs, bindings/lua, bindings/dotnet, size:M, lgtm

#6025 feat(core): Allow add concurrent limit for in-progress http requests
  core/src/layers/concurrent_limit.rs
Labels: enhancement, core, size:L, lgtm

#6026 feat(core): Use Buffer as http_body::Body directly
  core/Cargo.lock
  core/Cargo.toml
  core/src/raw/http_util/client.rs
Labels: core, releases-note/feat, size:M, lgtm

#6027 Bump to version 0.53.1 Round 2
  CHANGELOG.md
  bin/oay/Cargo.lock
  bin/oay/DEPENDENCIES.rust.tsv
  bin/ofs/Cargo.lock
  bin/ofs/DEPENDENCIES.rust.tsv
  bin/oli/Cargo.lock
  bin/oli/DEPENDENCIES.rust.tsv
  bindings/c/DEPENDENCIES.rust.tsv
  bindings/cpp/DEPENDENCIES.rust.tsv
  bindings/dotnet/DEPENDENCIES.rust.tsv
  bindings/haskell/DEPENDENCIES.rust.tsv
  bindings/java/DEPENDENCIES.rust.tsv
  bindings/lua/DEPENDENCIES.rust.tsv
  bindings/nodejs/DEPENDENCIES.rust.tsv
  bindings/ocaml/DEPENDENCIES.rust.tsv
  bindings/php/DEPENDENCIES.rust.tsv
  bindings/python/DEPENDENCIES.rust.tsv
  bindings/ruby/DEPENDENCIES.rust.tsv
  core/DEPENDENCIES.rust.tsv
  integrations/cloud_filter/DEPENDENCIES.rust.tsv
  integrations/dav-server/DEPENDENCIES.rust.tsv
  integrations/fuse3/DEPENDENCIES.rust.tsv
  integrations/object_store/DEPENDENCIES.rust.tsv
  integrations/parquet/DEPENDENCIES.rust.tsv
  integrations/unftp-sbe/DEPENDENCIES.rust.tsv
  integrations/virtiofs/DEPENDENCIES.rust.tsv
Labels: dependencies, size:XS, lgtm

#6028 doc(bindings/go): fix broken script
  bindings/go/README.md
Labels: documentation, bindings/go, size:S, lgtm

#6031 feat(bindings/c): enable RetryLayer by default
  .github/scripts/test_behavior/plan.py
  bindings/c/src/operator.rs
Labels: bindings/c, rust, size:XS, lgtm

#6034 ci: GHAC v1 has been shutdown entirely
  .github/workflows/service_test_ghac.yml
Labels: github_actions, services/ghac, size:S

#6038 docs(chore): add a specific python test description
  bindings/python/CONTRIBUTING.md
Labels: documentation, bindings/python, size:XS, lgtm

#6036 feat(core): impl Drop for BlockingWrapper
  core/src/layers/blocking.rs
  core/tests/behavior/blocking_list.rs
Labels: core, releases-note/feat, size:M, lgtm

#6039 ci(bindings/go): include sqlite service into behavior tests
  .github/scripts/test_behavior/plan.py
  .github/scripts/test_go_binding/generate_test_scheme.py
Labels: github_actions, releases-note/ci, bindings/go, size:S

#5973 feat(bindings/python): add check in py
  bindings/python/src/operator.rs
  bindings/python/tests/test_async_check.py
  bindings/python/tests/test_sync_check.py
Labels: bindings/python, releases-note/feat, size:M, lgtm

#6041 feat(bindings/cpp) remove lib.rs.h from opendal.hpp
  bindings/cpp/CMakeLists.txt
  bindings/cpp/include/opendal.hpp
  bindings/cpp/src/details/common.hpp
  bindings/cpp/src/details/lister.hpp
  bindings/cpp/src/details/operator.cpp
  bindings/cpp/src/details/operator.hpp
  bindings/cpp/src/details/reader.cpp
  bindings/cpp/src/details/reader.hpp
  bindings/cpp/src/opendal.cpp
  bindings/cpp/tests/basic_test.cpp
  examples/cpp/CMakeLists.txt
  examples/cpp/basic.cpp
Labels: enhancement, bindings/cpp, size:XL, lgtm

#6047 feat(services/gcs): Add operation in http context
  core/src/services/gcs/core.rs
Labels: enhancement, services/gcs, size:S, lgtm

#6046 feat(services/dropbox): Add operation in http context
  core/src/services/dropbox/core.rs
Labels: enhancement, services/dropbox, size:S, lgtm

#6044 feat(services/azfile): Add operation in http context
  core/src/services/azfile/core.rs
Labels: enhancement, core, services/azfile, size:S, lgtm

#6043 feat(services/http): Add operation in http context
  core/src/services/http/core.rs
Labels: enhancement, services/http, size:XS, lgtm

#6048 feat(services/oss): Add operation in http context
  core/src/services/oss/core.rs
Labels: enhancement, services/oss, size:S, lgtm

#6050 refactor(core): Deprecate not used options in OpList
  core/src/raw/ops.rs
Labels: core, releases-note/refactor, size:M

#6051 feat(core): Use divan for benchmark framework
  core/Cargo.lock
  core/Cargo.toml
  core/benches/ops/README.md
  core/benches/ops/main.rs
  core/benches/ops/read.rs
  core/benches/ops/write.rs
  core/benches/types/README.md
  core/benches/types/buffer.rs
  core/benches/types/concurrent_tasks.rs
  core/benches/types/main.rs
  core/benches/types/tasks.rs
  core/benches/types/utils.rs
Labels: core, releases-note/feat, size:XL

#6055 feat: propagate disable_list_objects_v2 to S3Builder
  core/src/services/s3/backend.rs
Labels: enhancement, services/s3, size:S, lgtm

#6057 fix(bindings/python): wrong filename used when reading CSV in pandas exemple
  bindings/python/docs/examples/pandas.ipynb
Labels: bug, bindings/python, size:XS, lgtm

#6054 feat(bindings/python): Add start_after support for list
  bindings/python/python/opendal/__base.pyi
  bindings/python/python/opendal/__init__.pyi
  bindings/python/src/operator.rs
  bindings/python/tests/test_async_list.py
  bindings/python/tests/test_sync_list.py
  dev/src/generate/python.j2
Labels: enhancement, bindings/python, releases-note/feat, size:L, lgtm

#6062 feat(services/upyun): Add operation in http context
  core/src/services/upyun/core.rs
Labels: releases-note/feat, size:S, lgtm

#6067 feat(services/cos): Add operation in http context
  core/src/services/cos/core.rs
Labels: releases-note/feat, size:S, lgtm

#6069 feat(services/github): Add operation in http context
  core/src/services/github/core.rs
Labels: releases-note/feat, size:S, lgtm

#6070 feat(services/s3): Support request payer option
  core/src/services/s3/backend.rs
  core/src/services/s3/config.rs
  core/src/services/s3/core.rs
  core/src/services/s3/docs.md
Labels: size:L, lgtm

#6071 feat(layers/prometheus_client): Add disable_label_root to allow skip root label in metrics
  core/src/layers/prometheus_client.rs
Labels: releases-note/feat, size:M, lgtm

#6073 feat(bindings/python): export MimeGuessLayer
  bindings/python/Cargo.toml
  bindings/python/python/opendal/layers.pyi
  bindings/python/src/layers.rs
  bindings/python/src/lib.rs
  bindings/python/tests/conftest.py
Labels: releases-note/feat, size:M, lgtm

#6079 feat(services/obs): Add operation in http context
  core/src/services/obs/core.rs
Labels: releases-note/feat, size:M, lgtm

#5456 feat(integrations/object_store): add AmazonS3Builder
  core/src/types/scheme.rs
  integrations/object_store/Cargo.toml
  integrations/object_store/examples/basic.rs
  integrations/object_store/src/amazon_s3.rs
  integrations/object_store/src/lib.rs
Labels: releases-note/feat, size:L, lgtm

#6084 chore: delete unused code in scripts
  scripts/constants.py
Labels: releases-note/chore, size:M, lgtm

#6091 feat(integration/object_store): bump object store version
  integrations/object_store/Cargo.toml
  integrations/object_store/src/store.rs
  integrations/object_store/src/utils.rs
  integrations/object_store/tests/behavior/get.rs
Labels: releases-note/feat, size:M, lgtm

#6094 chore(integrations/unftp): Make compatible with latest libunftp
  integrations/unftp-sbe/Cargo.toml
  integrations/unftp-sbe/README.md
Labels: releases-note/chore, size:XS

#6088 refactor(services/gdrive): move raw requests to core
  core/src/services/gdrive/backend.rs
  core/src/services/gdrive/core.rs
Labels: releases-note/refactor, size:M, lgtm

#6092 feat(services/pcloud): Add operation http context
  core/src/services/pcloud/core.rs
Labels: releases-note/feat, size:M, lgtm

#6093 feat(services/vercel_artifacts): Add operation http context
  core/src/services/vercel_artifacts/core.rs
Labels: releases-note/feat, size:XS, lgtm

#6063 feat(services/aliyun_drive): Add operation in http context
  core/src/services/aliyun_drive/backend.rs
Labels: releases-note/feat, size:XS, lgtm

#6095 refactor(services/ghac): move raw http calls to core
  core/src/services/ghac/backend.rs
  core/src/services/ghac/core.rs
  core/src/services/ghac/writer.rs
Labels: releases-note/refactor, size:M, lgtm

#6100 feat(services/ghac): Add operation http context
  core/src/services/ghac/core.rs
Labels: releases-note/feat, size:S, lgtm

#6066 feat(services/b2): Add operation in http context
  core/src/services/b2/backend.rs
  core/src/services/b2/core.rs
Labels: releases-note/feat, size:L, lgtm

#6090 refactor(services/yandex_disk): Move raw request to core
  core/src/services/yandex_disk/backend.rs
  core/src/services/yandex_disk/core.rs
  core/src/services/yandex_disk/writer.rs
Labels: releases-note/refactor, size:M, lgtm

#6109 refactor(services/azdls): Refactor raw request send in writer and bac…
  core/src/services/azdls/backend.rs
  core/src/services/azdls/core.rs
  core/src/services/azdls/writer.rs
Labels: releases-note/refactor, size:M, lgtm

#6107 feat(services/webdav): Add operation in http context
  core/src/services/webdav/core.rs
Labels: releases-note/feat, size:M, lgtm

#6106 feat(services/swift): Add operation in http context
  core/src/services/swift/core.rs
Labels: releases-note/feat, size:M, lgtm

#6104 refactor(services/seafile): Refactor raw request send in writer and lister
  core/src/services/seafile/core.rs
  core/src/services/seafile/lister.rs
  core/src/services/seafile/writer.rs
Labels: releases-note/refactor, size:L, lgtm

#6102 refactor(services/azblob): Refactor raw request send in writer
  core/src/services/azblob/core.rs
  core/src/services/azblob/writer.rs
Labels: releases-note/refactor, size:M, lgtm

#6101 feat(services/vercel_blob): Add operation in http context
  core/src/services/vercel_blob/core.rs
  core/src/services/vercel_blob/writer.rs
Labels: releases-note/feat, size:M, lgtm

#6068 feat(services/gdrive): Add operation in http context
  core/src/services/gdrive/core.rs
Labels: releases-note/feat, size:S, lgtm

#6096 feat(services/koofr): Add operation http context
  core/src/services/koofr/core.rs
Labels: releases-note/feat, size:S, lgtm

#6105 feat(services/seafile): Add operation in http context
  core/src/services/seafile/core.rs
Labels: releases-note/feat, size:XS, lgtm

#6089 refactor(services/aliyun_drive): Move raw request to core
  core/src/services/aliyun_drive/backend.rs
  core/src/services/aliyun_drive/core.rs
  core/src/services/aliyun_drive/writer.rs
Labels: releases-note/refactor, size:L, lgtm

#6064 feat(services/yandex_disk): Add operation in http context
  core/src/services/yandex_disk/core.rs
Labels: releases-note/feat, size:S, lgtm

#6112 feat(services/webhdfs): Add operation in http context
  core/src/services/webhdfs/core.rs
Labels: releases-note/feat, size:S, lgtm

#6111 feat(services/onedrive): Add operation in http context
  core/src/services/onedrive/core.rs
Labels: releases-note/feat, size:S, lgtm

#6113 refactor(services/webhdfs): Refactor raw request send in writer and backend
  core/src/services/webhdfs/backend.rs
  core/src/services/webhdfs/core.rs
  core/src/services/webhdfs/lister.rs
  core/src/services/webhdfs/writer.rs
Labels: releases-note/refactor, size:L, lgtm

#6116 feat(bindings/python): build and publish musllinux wheels (#6114)
  .github/workflows/release_python.yml
Labels: releases-note/feat, size:XS, lgtm

#6120 doc(services/onedrive): add a comment about onedrive's writer
  core/src/services/onedrive/writer.rs
Labels: releases-note/docs, size:XS, lgtm

#6121 feat(services/azblob): add request context
  core/src/services/azblob/core.rs
Labels: releases-note/feat, size:M, lgtm

#6119 feat(bindings/c): Add seek support for c-binding
  bindings/c/include/opendal.h
  bindings/c/src/reader.rs
  bindings/c/tests/reader.cpp
Labels: releases-note/feat, size:L, lgtm
