Repository apache/opendal, pull requests merged in 2025-01, with the labels that each got.

#5492 feat: Add if-match & if-none-match support for reader
  core/src/types/operator/operator_futures.rs
  core/tests/behavior/async_read.rs
Labels: releases-note/feat

#5494 refactor(dev): use minijinja
  bindings/python/Cargo.toml
  bindings/python/python/opendal/__base.pyi
  dev/Cargo.lock
  dev/Cargo.toml
  dev/src/generate/binding_python.rs
  dev/src/generate/mod.rs
  dev/src/generate/parser.rs
  dev/src/generate/python.j2
  dev/src/generate/python.rs
  dev/src/main.rs
Labels: releases-note/refactor

#5493 feat(core): Add is_current to metadata
  core/src/services/oss/lister.rs
  core/src/services/s3/lister.rs
  core/src/types/metadata.rs
Labels: releases-note/feat

#5497 docs(core): Polish API docs for `Metadata`
  core/src/types/metadata.rs
Labels: releases-note/docs

#5498 feat(core): Implement list with deleted for s3 service
  core/src/raw/ops.rs
  core/src/services/s3/backend.rs
  core/src/services/s3/core.rs
  core/src/services/s3/lister.rs
  core/src/types/capability.rs
  core/src/types/metadata.rs
  core/src/types/operator/operator_futures.rs
  core/tests/behavior/async_list.rs
  core/tests/behavior/utils.rs
Labels: releases-note/feat

#5501 fix(integration/object_store): object_store requires metadata in list
  integrations/object_store/src/store.rs
  integrations/object_store/src/utils.rs
Labels: releases-note/fix

#5503 feat: generate java configs
  bindings/java/src/lib.rs
  bindings/java/src/main/java/org/apache/opendal/AsyncOperator.java
  bindings/java/src/main/java/org/apache/opendal/Operator.java
  bindings/java/src/main/java/org/apache/opendal/ServiceConfig.java
  bindings/java/src/test/java/org/apache/opendal/test/AsyncExecutorTest.java
  bindings/java/src/test/java/org/apache/opendal/test/LayerTest.java
  bindings/java/src/test/java/org/apache/opendal/test/MetadataTest.java
  bindings/java/src/test/java/org/apache/opendal/test/OperatorInfoTest.java
  bindings/java/src/test/java/org/apache/opendal/test/OperatorInputOutputStreamTest.java
  bindings/java/src/test/java/org/apache/opendal/test/OperatorUtf8DecodeTest.java
  dev/Cargo.lock
  dev/Cargo.toml
  dev/src/generate/java.j2
  dev/src/generate/java.rs
  dev/src/generate/mod.rs
  dev/src/generate/parser.rs
  dev/src/generate/python.j2
  dev/src/generate/python.rs
Labels: releases-note/feat

#5506 feat: Return hinted error for S3 wildcard if-none-match
  core/src/layers/correctness_check.rs
Labels: releases-note/feat

#5500 feat(core): implement if_modified_since and if_unmodified_since for read_with and reader_with
  core/src/raw/chrono_util.rs
  core/src/raw/http_util/body.rs
  core/src/raw/ops.rs
  core/src/services/s3/backend.rs
  core/src/services/s3/core.rs
  core/src/types/capability.rs
  core/src/types/operator/operator_futures.rs
  core/tests/behavior/async_read.rs
Labels: releases-note/feat

#5516 docs: Polish docs for Operator, Reader and Writer
  core/src/types/operator/operator.rs
  core/src/types/operator/operator_futures.rs
Labels: releases-note/docs

#5517 docs: Reorganize docs for xxx_with for better reading
  core/src/types/operator/operator.rs
  core/src/types/operator/operator_futures.rs
Labels: releases-note/docs

#5518 fix(services/s3): List with deleted should contain latest
  core/src/services/s3/lister.rs
  core/tests/behavior/async_list.rs
Labels: releases-note/fix

#5522 chore(ci): upgrade to manylinux_2_28 for aarch64 Python wheels
  .github/workflows/release_python.yml
Labels: bindings/python, releases-note/chore

#5514 feat(core): Implement list with deleted and versions for cos
  .github/services/cos/cos/action.yml
  core/src/services/cos/backend.rs
  core/src/services/cos/config.rs
  core/src/services/cos/core.rs
  core/src/services/cos/delete.rs
  core/src/services/cos/lister.rs
Labels: releases-note/feat

#5528 feat(core): implement if_modified_since and if_unmodified_since for stat_with
  core/src/raw/ops.rs
  core/src/services/s3/backend.rs
  core/src/services/s3/core.rs
  core/src/types/capability.rs
  core/src/types/operator/operator.rs
  core/src/types/operator/operator_futures.rs
  core/tests/behavior/async_stat.rs
Labels: releases-note/feat

#5530 fix(integrations/object_store) `object_store_opendal` now compiles on wasm32-unknown-unknown
  integrations/object_store/Cargo.toml
  integrations/object_store/README.md
  integrations/object_store/src/lib.rs
  integrations/object_store/src/store.rs
Labels: releases-note/fix

#5536 ci(integration/object_store): add integration tests for object_store_opendal
  .github/actions/test_behavior_integration_object_store/action.yml
  .github/scripts/test_behavior/plan.py
  .github/scripts/test_behavior/test_plan.py
  .github/workflows/test_behavior.yml
  .github/workflows/test_behavior_integration_object_store.yml
  core/src/types/read/buffer_stream.rs
  integrations/object_store/Cargo.toml
  integrations/object_store/src/store.rs
  integrations/object_store/tests/behavior/delete.rs
  integrations/object_store/tests/behavior/get.rs
  integrations/object_store/tests/behavior/main.rs
  integrations/object_store/tests/behavior/put.rs
  integrations/object_store/tests/behavior/utils.rs
Labels: releases-note/ci

#5513 feat(integrations/object_store): implement put_opts and get_opts
  integrations/object_store/src/store.rs
  integrations/object_store/src/utils.rs
  integrations/object_store/tests/behavior/get.rs
  integrations/object_store/tests/behavior/put.rs
Labels: releases-note/feat

#5531 feat: Conditional reader for azblob, gcs, oss
  core/src/services/azblob/backend.rs
  core/src/services/azblob/core.rs
  core/src/services/gcs/backend.rs
  core/src/services/gcs/core.rs
  core/src/services/oss/backend.rs
  core/src/services/oss/core.rs
Labels: releases-note/feat

#5537 fix(serivces/gcs): Gcs doesn't support read with if_(un)modified_since
  core/src/services/gcs/backend.rs
  core/src/services/gcs/core.rs
Labels: releases-note/fix

#5538 feat(core): Add correctness check for read with if_xxx headers
  core/src/layers/correctness_check.rs
Labels: releases-note/feat

#5510 feat(services/cos): Added user metadata support for cos service
  core/src/services/cos/backend.rs
  core/src/services/cos/core.rs
Labels: releases-note/feat

#5527 feat(core): Implement list with deleted and versions for oss
  .github/services/oss/oss_with_versioning/action.yml
  core/src/services/oss/backend.rs
  core/src/services/oss/config.rs
  core/src/services/oss/core.rs
  core/src/services/oss/lister.rs
Labels: releases-note/feat

#5541 docs: Fix opendal rust core's README not align with new vision
  core/Cargo.toml
  core/README.md
Labels: releases-note/docs

#5542 chore: Update CODEOWNERS
  .github/CODEOWNERS
Labels: releases-note/chore

#5543 docs(integration/object_store): add example for datafusion
  integrations/object_store/Cargo.toml
  integrations/object_store/README.md
  integrations/object_store/examples/datafusion.rs
Labels: releases-note/docs

#5546 ci: Pin the nightly version to rust 1.84 for fuzz
  .github/actions/fuzz_test/action.yaml
  .github/workflows/test_fuzz.yml
Labels: releases-note/ci

#5547 feat(layer/otelmetrics): take meter when register
  core/src/layers/otelmetrics.rs
Labels: releases-note/feat

#5551 feat(gcs): Convert TOO_MANY_REQUESTS to retryable Ratelimited
  core/src/services/gcs/error.rs
Labels: releases-note/feat

#5552 docs: Add docs on how to pronounce opendal
  README.md
Labels: releases-note/docs

#5553 chore(layer/otelmetrics): take meter by reference
  core/src/layers/otelmetrics.rs
Labels: releases-note/chore

#5558 ci: skip running behavior tests when adding or modifying documentation
  .github/scripts/test_behavior/plan.py
Labels: releases-note/ci

#5554 refactor: refactor some unnecessary clone and use next_back to make clippy happy
  core/benches/vs_s3/src/main.rs
  core/src/raw/http_util/header.rs
  core/src/raw/path.rs
  core/src/services/azblob/error.rs
  core/src/services/s3/error.rs
Labels: releases-note/refactor

#5560 chore(core): Avoid using mongodb 3.2.0
  core/Cargo.toml
Labels: releases-note/chore

#5565 build: fix Cargo.lock and pass --locked in CI
  .github/workflows/ci_core.yml
  core/Cargo.lock
Labels: releases-note/build

#5564 chore: add oli/oay/ofs to rust-analyzer.linkedProjects
  .vscode/settings.json
Labels: releases-note/chore

#5567 feat(services/webdfs): Add user.name support for webhdfs
  .github/services/webhdfs/webhdfs_with_user_name/action.yml
  core/src/services/webhdfs/backend.rs
  core/src/services/webhdfs/config.rs
Labels: releases-note/feat

#5568 fix(logging): remove additional space
  core/src/layers/logging.rs
Labels: releases-note/fix

#5572 docs(bindings/java): better javadoc
  bindings/java/src/main/java/org/apache/opendal/ServiceConfig.java
  core/src/services/mysql/config.rs
  core/src/services/s3/config.rs
  core/src/services/sqlite/config.rs
  dev/src/generate/java.rs
Labels: releases-note/docs

#5577 feat: disable backtrace for NotFound error
  core/src/types/error.rs
Labels: releases-note/feat

#5573 chore: try use logforth
  bin/oay/Cargo.lock
  bin/oay/Cargo.toml
  bin/oay/src/bin/oay.rs
  bin/oay/src/bin/webdav.rs
  bin/oay/src/services/s3/service.rs
  bin/ofs/Cargo.lock
  bin/ofs/Cargo.toml
  bin/ofs/src/main.rs
  bin/ofs/tests/common/mod.rs
  core/Cargo.lock
  core/benches/vs_fs/Cargo.toml
  core/benches/vs_s3/Cargo.toml
  core/benches/vs_s3/src/main.rs
  core/fuzz/Cargo.toml
  core/fuzz/fuzz_reader.rs
  core/fuzz/fuzz_writer.rs
  dev/Cargo.lock
  dev/Cargo.toml
  dev/src/main.rs
  integrations/cloud_filter/Cargo.toml
  integrations/cloud_filter/examples/readonly.rs
  integrations/cloud_filter/tests/behavior/main.rs
Labels: releases-note/chore
