Repository apache/opendal, pull requests merged in 2025-07, with the labels that each got.

#6357 chore: add group dep for dependabot
  .github/dependabot.yml
Labels: size:XS, lgtm

#6368 feat(services/azdls): Implement write returns metadata
  core/src/services/azdls/core.rs
  core/src/services/azdls/writer.rs
Labels: releases-note/feat, size:M, lgtm

#6374 chore: update DEPENDENCIES and fater dependencies.py generate
  bin/oay/DEPENDENCIES.rust.tsv
  bin/ofs/DEPENDENCIES.rust.tsv
  bin/oli/DEPENDENCIES.rust.tsv
  bindings/c/DEPENDENCIES.rust.tsv
  bindings/cpp/DEPENDENCIES.rust.tsv
  bindings/dotnet/DEPENDENCIES.rust.tsv
  bindings/haskell/DEPENDENCIES.rust.tsv
  bindings/java/DEPENDENCIES.rust.tsv
  bindings/lua/DEPENDENCIES.rust.tsv
  bindings/nodejs/DEPENDENCIES.rust.tsv
  bindings/ocaml/DEPENDENCIES.rust.tsv
  bindings/php/DEPENDENCIES.rust.tsv
  bindings/python/DEPENDENCIES.rust.tsv
  bindings/ruby/DEPENDENCIES.rust.tsv
  integrations/cloud_filter/DEPENDENCIES.rust.tsv
  integrations/dav-server/DEPENDENCIES.rust.tsv
  integrations/fuse3/DEPENDENCIES.rust.tsv
  integrations/object_store/DEPENDENCIES.rust.tsv
  integrations/parquet/DEPENDENCIES.rust.tsv
  integrations/unftp-sbe/DEPENDENCIES.rust.tsv
  integrations/virtiofs/DEPENDENCIES.rust.tsv
  scripts/dependencies.py
Labels: releases-note/chore, size:M, lgtm

#6376 feat(bindings/cpp): remove Boost dependency
  bindings/cpp/CMakeLists.txt
  bindings/cpp/CONTRIBUTING.md
  bindings/cpp/include/async_defs.hpp
  bindings/cpp/include/data_structure.hpp
  bindings/cpp/include/opendal.hpp
  bindings/cpp/include/opendal_async.hpp
  bindings/cpp/src/operator.cpp
Labels: releases-note/feat, size:L, lgtm

#6349 feat(bindings/nodejs): Add DeleteOptions support for new options API
  bindings/nodejs/generated.d.ts
  bindings/nodejs/src/capability.rs
  bindings/nodejs/src/lib.rs
  bindings/nodejs/src/options.rs
  bindings/nodejs/tests/suites/asyncDeleteOptions.suite.mjs
  bindings/nodejs/tests/suites/index.mjs
  bindings/nodejs/tests/suites/syncDeleteOptions.suite.mjs
Labels: releases-note/feat, size:L

#6322 feat(bindings/nodejs): Add WriteOptions support for new options API
  bindings/nodejs/generated.d.ts
  bindings/nodejs/src/capability.rs
  bindings/nodejs/src/lib.rs
  bindings/nodejs/src/options.rs
  bindings/nodejs/tests/suites/asyncWriteOptions.suite.mjs
  bindings/nodejs/tests/suites/index.mjs
  bindings/nodejs/tests/suites/syncWriteOptions.suite.mjs
Labels: releases-note/feat, size:XL, lgtm

#6384 chore(dependabot): update OpenDAL dependencies less frequently
  .github/dependabot.yml
  core/Cargo.toml
Labels: releases-note/chore, size:L, lgtm

#6397 chore(dependabot): exclude rand and getrandom crates
  .github/dependabot.yml
Labels: releases-note/chore, size:XS, lgtm

#6405 chore(github-actions): update 1password
  .github/services/aliyun_drive/aliyun_drive/disable_action.yml
  .github/services/azblob/azure_azblob/action.yml
  .github/services/azdls/azdls/action.yml
  .github/services/azfile/azfile/action.yml
  .github/services/b2/b2/action.yml
  .github/services/cos/cos/action.yml
  .github/services/dropbox/dropbox/disable_action.yml
  .github/services/gcs/gcs/action.yml
  .github/services/gcs/gcs_with_default_storage_class/action.yml
  .github/services/gdrive/gdrive/action.yml
  .github/services/hdfs/hdfs_default_gcs/action.yml
  .github/services/koofr/koofr/disable_action.yml
  .github/services/oss/oss/action.yml
  .github/services/oss/oss_with_versioning/action.yml
  .github/services/s3/aws_s3/action.yml
  .github/services/s3/aws_s3_with_list_objects_v1/action.yml
  .github/services/s3/aws_s3_with_sse_c/action.yml
  .github/services/s3/aws_s3_with_versioning/action.yml
  .github/services/s3/aws_s3_with_virtual_host/action.yml
  .github/services/s3/r2/disabled_action.yml
  .github/workflows/ci_bindings_haskell.yml
Labels: releases-note/chore, size:M, lgtm

#6411 chore(dependabot): update CI for dependabot PRs
  .github/dependabot.yml
  .github/services/azblob/azure_azblob/action.yml
  .github/services/azdls/azdls/action.yml
  .github/services/azfile/azfile/action.yml
  .github/services/b2/b2/action.yml
  .github/services/cos/cos/action.yml
  .github/services/dropbox/dropbox/disable_action.yml
  .github/services/gcs/gcs/action.yml
  .github/services/gcs/gcs_with_default_storage_class/action.yml
  .github/services/gdrive/gdrive/action.yml
  .github/services/hdfs/hdfs_default_gcs/action.yml
  .github/services/koofr/koofr/disable_action.yml
  .github/services/oss/oss/action.yml
  .github/services/oss/oss_with_versioning/action.yml
  .github/services/s3/aws_s3/action.yml
  .github/services/s3/aws_s3_with_list_objects_v1/action.yml
  .github/services/s3/aws_s3_with_sse_c/action.yml
  .github/services/s3/aws_s3_with_versioning/action.yml
  .github/services/s3/aws_s3_with_virtual_host/action.yml
  .github/services/s3/r2/disabled_action.yml
  .github/workflows/ci_bindings_haskell.yml
  .github/workflows/ci_weekly_update.yml
  .github/workflows/test_behavior.yml
  .github/workflows/test_behavior_bin_ofs.yml
  .github/workflows/test_behavior_binding_c.yml
  .github/workflows/test_behavior_binding_go.yml
  .github/workflows/test_behavior_binding_java.yml
  .github/workflows/test_behavior_binding_nodejs.yml
  .github/workflows/test_behavior_binding_python.yml
  .github/workflows/test_behavior_core.yml
  .github/workflows/test_behavior_integration_object_store.yml
Labels: releases-note/ci, size:L, lgtm

#6412 chore: Disable openssh build to allow python release
  bindings/python/Cargo.toml
Labels: releases-note/chore, size:XS, lgtm

#6421 refactor(website): remove unused dependencies and update node engine requirement
  bin/oay/Cargo.lock
  bin/ofs/Cargo.lock
  bin/oli/Cargo.lock
  website/DEPENDENCIES.node.csv
  website/package.json
  website/plugins/image-ssr-plugin.js
  website/pnpm-lock.yaml
Labels: releases-note/refactor, size:M, lgtm

#6437 docs(release): fix CI workflow links for bindings
  website/community/release/release.md
Labels: releases-note/docs, size:XS, lgtm

#6452 feat(object_store): Implement copy, rename and return metadata after writing
  integrations/object_store/src/store.rs
Labels: releases-note/feat, size:M
