Repository apache/opendal, pull requests merged in 2025-10, with the labels that each got.

#6609 doc(bindinds/ruby): add examples and links
  bindings/ruby/README.md
  website/docs/20-bindings/ruby.mdx
Labels: releases-note/docs, size:L, lgtm

#6608 feat: Add Operator Registry
  core/src/blocking/operator.rs
  core/src/docs/rfcs/5444_operator_from_uri.md
  core/src/services/fs/backend.rs
  core/src/services/fs/mod.rs
  core/src/services/memory/backend.rs
  core/src/services/memory/mod.rs
  core/src/services/s3/backend.rs
  core/src/services/s3/mod.rs
  core/src/types/builder.rs
  core/src/types/mod.rs
  core/src/types/operator/builder.rs
  core/src/types/operator/mod.rs
  core/src/types/operator/registry.rs
Labels: releases-note/feat, size:L, lgtm

#6606 fix(bindings/ruby): publish ruby binding gem
  .github/workflows/release_ruby.yml
  bindings/ruby/Cargo.toml
  bindings/ruby/README.md
  bindings/ruby/Rakefile
  bindings/ruby/core
  bindings/ruby/lib/opendal_ruby/metadata.rb
  bindings/ruby/opendal.gemspec
  bindings/ruby/src/lib.rs
  bindings/ruby/src/metadata.rs
  bindings/ruby/src/middlewares.rs
  bindings/ruby/test/blocking_op_test.rb
  bindings/ruby/test/metadata_test.rb
  bindings/ruby/test/middlewares_test.rb
Labels: releases-note/fix, size:L, lgtm

#6623 chore: upgrade opentelemetry to 0.31.0
  core/Cargo.lock
  core/Cargo.toml
  core/src/services/fs/backend.rs
  core/src/services/memory/backend.rs
Labels: releases-note/chore, size:S, lgtm

#6620 docs: spelling and minor wording change
  website/docs/02-vision.md
Labels: releases-note/docs, size:XS, lgtm
