Repository apache/opendal, pull requests merged in 2025-05, with the labels that each got.

#6130 refactor(core): Improve Error Message with Defective Value
  core/src/raw/http_util/client.rs
Labels: size:S, lgtm

#6147 feat(bindings/cpp): eliminate indirect pointers by manually managing memory
  bindings/cpp/CMakeLists.txt
  bindings/cpp/include/data_structure.hpp
  bindings/cpp/include/opendal.hpp
  bindings/cpp/src/details/operator.cpp
  bindings/cpp/src/details/operator.hpp
  bindings/cpp/src/lib.rs
  bindings/cpp/src/lister.cpp
  bindings/cpp/src/operator.cpp
  bindings/cpp/src/reader.cpp
  bindings/cpp/src/utils/ffi_converter.cpp
  bindings/cpp/src/utils/ffi_converter.hpp
  bindings/cpp/src/utils/rust_converter.hpp
Labels: releases-note/feat, size:XL, lgtm

#6150 fix(bindings/go): Reader returns io.EOF at the end of file
  bindings/go/reader.go
  bindings/go/tests/behavior_tests/read_test.go
Labels: releases-note/fix, size:M, lgtm

#6128 refactor(bindings/c)!: extract the writer closing logic from opendal_writer_free
  bindings/c/include/opendal.h
  bindings/c/src/writer.rs
  bindings/c/tests/bdd.cpp
  bindings/go/ffi.go
  bindings/go/write.go
Labels: releases-note/feat, breaking-changes, size:M, lgtm

#6155 docs: Try using new nightly rust to build ruby docs
  .github/workflows/docs.yml
  bindings/ruby/Rakefile
Labels: size:XS, lgtm

#6151 feat(bindings/go): implement io.Seeker
  bindings/c/include/opendal.h
  bindings/c/src/reader.rs
  bindings/c/src/result.rs
  bindings/c/tests/reader.cpp
  bindings/go/ffi.go
  bindings/go/reader.go
  bindings/go/tests/behavior_tests/opendal_test.go
  bindings/go/tests/behavior_tests/read_test.go
  bindings/go/types.go
Labels: releases-note/feat, breaking-changes, size:L, lgtm

#6158 refactor(bindings/go): add ffiCall type for FFI function signature
  .github/scripts/test_behavior/plan.py
  bindings/go/delete.go
  bindings/go/error.go
  bindings/go/ffi.go
  bindings/go/lister.go
  bindings/go/metadata.go
  bindings/go/operator.go
  bindings/go/operator_info.go
  bindings/go/reader.go
  bindings/go/stat.go
  bindings/go/write.go
Labels: releases-note/refactor, bindings/go, size:M, lgtm

#6160 Prepare for releasing version 0.53.2
  .github/workflows/ci_core.yml
  CHANGELOG.md
  bin/oay/Cargo.lock
  bin/oay/Cargo.toml
  bin/oay/DEPENDENCIES.rust.tsv
  bin/ofs/Cargo.lock
  bin/ofs/Cargo.toml
  bin/ofs/DEPENDENCIES.rust.tsv
  bin/oli/Cargo.lock
  bin/oli/Cargo.toml
  bin/oli/DEPENDENCIES.rust.tsv
  bindings/c/DEPENDENCIES.rust.tsv
  bindings/cpp/DEPENDENCIES.rust.tsv
  bindings/dotnet/DEPENDENCIES.rust.tsv
  bindings/haskell/DEPENDENCIES.rust.tsv
  bindings/java/DEPENDENCIES.rust.tsv
  bindings/java/pom.xml
  bindings/lua/DEPENDENCIES.rust.tsv
  bindings/nodejs/DEPENDENCIES.rust.tsv
  bindings/nodejs/npm/darwin-arm64/package.json
  bindings/nodejs/npm/darwin-x64/package.json
  bindings/nodejs/npm/linux-arm64-gnu/package.json
  bindings/nodejs/npm/linux-arm64-musl/package.json
  bindings/nodejs/npm/linux-x64-gnu/package.json
  bindings/nodejs/npm/win32-arm64-msvc/package.json
  bindings/nodejs/npm/win32-x64-msvc/package.json
  bindings/nodejs/package.json
  bindings/ocaml/DEPENDENCIES.rust.tsv
  bindings/php/DEPENDENCIES.rust.tsv
  bindings/python/Cargo.toml
  bindings/python/DEPENDENCIES.rust.tsv
  bindings/ruby/DEPENDENCIES.rust.tsv
  core/Cargo.lock
  core/Cargo.toml
  core/DEPENDENCIES.rust.tsv
  dev/src/release/package.rs
  integrations/cloud_filter/Cargo.toml
  integrations/cloud_filter/DEPENDENCIES.rust.tsv
  integrations/dav-server/Cargo.toml
  integrations/dav-server/DEPENDENCIES.rust.tsv
  integrations/fuse3/Cargo.toml
  integrations/fuse3/DEPENDENCIES.rust.tsv
  integrations/object_store/Cargo.toml
  integrations/object_store/DEPENDENCIES.rust.tsv
  integrations/parquet/Cargo.toml
  integrations/parquet/DEPENDENCIES.rust.tsv
  integrations/unftp-sbe/Cargo.toml
  integrations/unftp-sbe/DEPENDENCIES.rust.tsv
  integrations/virtiofs/DEPENDENCIES.rust.tsv
Labels: size:M, lgtm

#6157 feat(java): add ReadOptions for read methods
  bindings/java/src/async_operator.rs
  bindings/java/src/convert.rs
  bindings/java/src/executor.rs
  bindings/java/src/main/java/org/apache/opendal/AsyncOperator.java
  bindings/java/src/main/java/org/apache/opendal/Operator.java
  bindings/java/src/main/java/org/apache/opendal/ReadOptions.java
  bindings/java/src/operator.rs
  bindings/java/src/test/java/org/apache/opendal/test/behavior/AsyncReadOnlyTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/BlockingReadOnlyTest.java
  core/src/types/operator/blocking_operator.rs
Labels: releases-note/feat, size:L, lgtm

#6168 ci: uses taiki-e/install-action to replace cargo insatll
  .github/actions/setup/action.yaml
  .github/workflows/test_edge.yml
Labels: releases-note/ci, size:M, lgtm

#6169 refactor(bindings/java): deprecate append in favor of write with append=true
  bindings/java/src/async_operator.rs
  bindings/java/src/main/java/org/apache/opendal/AsyncOperator.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/AsyncAppendTest.java
  bindings/java/upgrade.md
Labels: releases-note/refactor, size:L, lgtm

#6175 fix(bindings/go): update dependencies
  bindings/go/go.mod
  bindings/go/go.sum
Labels: releases-note/fix, size:XS, lgtm

#6174 test(oli): introduce snapshot testing
  bin/oli/Cargo.lock
  bin/oli/Cargo.toml
  bin/oli/tests/cp.rs
  bin/oli/tests/integration/cat.rs
  bin/oli/tests/integration/cp.rs
  bin/oli/tests/integration/ls.rs
  bin/oli/tests/integration/main.rs
  bin/oli/tests/integration/mv.rs
  bin/oli/tests/integration/rm.rs
  bin/oli/tests/integration/stat.rs
  bin/oli/tests/integration/test_utils.rs
  bin/oli/tests/mv.rs
Labels: size:XS, lgtm

#6173 feat(core): support sharing one redb database between different Operators
  core/src/services/redb/backend.rs
  core/src/services/redb/docs.md
Labels: releases-note/feat, size:L, lgtm

#6166 fix(integrations/object_store): fix double percent encoding
  integrations/object_store/src/store.rs
Labels: releases-note/fix, size:S, lgtm

#6140 feat(bin/oli): support cp to dir
  .github/workflows/ci_bin_oli.yml
  bin/oli/src/commands/cp.rs
  bin/oli/tests/integration/cp.rs
  bin/oli/tests/integration/ls.rs
  bin/oli/tests/integration/mv.rs
  bin/oli/tests/integration/rm.rs
  bin/oli/tests/integration/stat.rs
  bin/oli/tests/integration/test_utils.rs
Labels: releases-note/feat, size:S, lgtm

#6182 ci(bindings/node): Add contents permissions for nodejs release
  .github/workflows/ci_bindings_nodejs.yml
Labels: releases-note/ci, size:XS, lgtm

#6181 ci(bindings/java): Enable zig build for java
  .github/workflows/release_java.yml
Labels: releases-note/ci, size:XS, lgtm

#6183 fix(services/fs): Make fs services work on our MSRV
  core/src/services/fs/backend.rs
Labels: releases-note/fix, size:M, lgtm

#6186 Bump opendal to v0.53.3 (Round 1)
  .github/workflows/ci_core.yml
  CHANGELOG.md
  bin/oay/Cargo.lock
  bin/oay/Cargo.toml
  bin/ofs/Cargo.lock
  bin/ofs/Cargo.toml
  bin/oli/Cargo.lock
  bin/oli/Cargo.toml
  bindings/java/pom.xml
  bindings/nodejs/npm/darwin-arm64/package.json
  bindings/nodejs/npm/darwin-x64/package.json
  bindings/nodejs/npm/linux-arm64-gnu/package.json
  bindings/nodejs/npm/linux-arm64-musl/package.json
  bindings/nodejs/npm/linux-x64-gnu/package.json
  bindings/nodejs/npm/win32-arm64-msvc/package.json
  bindings/nodejs/npm/win32-x64-msvc/package.json
  bindings/nodejs/package.json
  bindings/python/Cargo.toml
  core/Cargo.lock
  core/Cargo.toml
  dev/src/release/package.rs
  integrations/cloud_filter/Cargo.toml
  integrations/dav-server/Cargo.toml
  integrations/fuse3/Cargo.toml
  integrations/object_store/Cargo.toml
  integrations/parquet/Cargo.toml
  integrations/unftp-sbe/Cargo.toml
Labels: releases-note/chore, size:M, lgtm

#6189 RFC-6189: Remove Native Blocking
  core/src/docs/rfcs/6189_remove_native_blocking.md
  core/src/docs/rfcs/mod.rs
Labels: size:L

#6192 chore: remove useless labeler.yml
  .github/labeler.yml
Labels: releases-note/chore, size:M, lgtm

#6193 refactor(core): Put Backtrace in a box to reduce error size
  core/src/services/azblob/backend.rs
  core/src/services/azdls/backend.rs
  core/src/types/blocking_write/std_writer.rs
  core/src/types/error.rs
  integrations/virtiofs/src/error.rs
Labels: releases-note/refactor, size:M, lgtm

#6194 feat(bin/oli): support tee
  bin/oli/src/commands/mod.rs
  bin/oli/src/commands/tee.rs
  bin/oli/tests/integration/main.rs
  bin/oli/tests/integration/tee.rs
Labels: releases-note/feat, size:XS, lgtm

#6196 feat: expose `Error::backtrace()`
  core/src/types/error.rs
Labels: releases-note/feat, size:M, lgtm

#6143 feat(bindings/c)!: Make features configurable via CMakeLists
  .github/workflows/ci_bindings_c.yml
  bindings/c/CMakeLists.txt
  bindings/c/Cargo.toml
  bindings/c/README.md
  bindings/zig/build.zig
Labels: releases-note/feat, size:M, lgtm

#6203 fix: typo error in 0429_init_from_iter.md
  core/src/docs/rfcs/0429_init_from_iter.md
Labels: releases-note/docs, size:XS

#6204 doc: case-police Ocaml to OCaml
  README.md
  bindings/ocaml/DEPENDENCIES.md
  website/blog/2024-01-22-apache-opendal-graduated/index.md
  website/docs/20-bindings/ocaml.mdx
Labels: releases-note/docs, size:S, lgtm

#6205 feat: ADLS Client Credential Authentication
  core/src/services/azdls/backend.rs
  core/src/services/azdls/config.rs
Labels: releases-note/feat, size:L, lgtm

#6206 fix(services/s3): Remove not needed check for batch delete
  core/src/services/s3/delete.rs
Labels: releases-note/fix, size:XS, lgtm

#6207 Bump to opendal 0.53.3 Round 2
  CHANGELOG.md
  bin/oay/Cargo.lock
  bin/oay/DEPENDENCIES.rust.tsv
  bin/ofs/Cargo.lock
  bin/ofs/DEPENDENCIES.rust.tsv
  bin/oli/Cargo.lock
  bin/oli/DEPENDENCIES.rust.tsv
  bindings/c/DEPENDENCIES.rust.tsv
  bindings/cpp/DEPENDENCIES.rust.tsv
  bindings/dotnet/DEPENDENCIES.rust.tsv
  bindings/haskell/DEPENDENCIES.rust.tsv
  bindings/java/DEPENDENCIES.rust.tsv
  bindings/lua/DEPENDENCIES.rust.tsv
  bindings/nodejs/DEPENDENCIES.rust.tsv
  bindings/ocaml/DEPENDENCIES.rust.tsv
  bindings/php/DEPENDENCIES.rust.tsv
  bindings/python/DEPENDENCIES.rust.tsv
  bindings/ruby/DEPENDENCIES.rust.tsv
  core/Cargo.lock
  core/DEPENDENCIES.rust.tsv
  integrations/cloud_filter/DEPENDENCIES.rust.tsv
  integrations/dav-server/DEPENDENCIES.rust.tsv
  integrations/fuse3/DEPENDENCIES.rust.tsv
  integrations/object_store/DEPENDENCIES.rust.tsv
  integrations/parquet/DEPENDENCIES.rust.tsv
  integrations/unftp-sbe/DEPENDENCIES.rust.tsv
  integrations/virtiofs/DEPENDENCIES.rust.tsv
Labels: size:S, lgtm

#6200 chore: add deepwiki badge into readme to enable auto-refresh
  README.md
Labels: releases-note/chore, size:XS

#5960 refactor(core/types)!: fix `with_user_metadata` signature
  core/src/services/azblob/backend.rs
  core/src/services/cos/backend.rs
  core/src/services/gcs/core.rs
  core/src/services/obs/backend.rs
  core/src/services/oss/core.rs
  core/src/services/s3/backend.rs
  core/src/services/swift/backend.rs
  core/src/types/metadata.rs
Labels: core, releases-note/refactor, breaking-changes, size:S, lgtm

#6213 RFC-6213: Options API
  core/src/docs/rfcs/6213_options_api.md
  core/src/docs/rfcs/mod.rs
Labels: releases-note/feat, size:L

#6215 feat(core): Expose xxx_options API
  core/src/raw/ops.rs
  core/src/types/mod.rs
  core/src/types/operator/operator.rs
  core/src/types/operator/operator_futures.rs
  core/src/types/options.rs
Labels: releases-note/feat, size:XXL, lgtm

#6217 refactor: Fix build failure for php binding
  bindings/php/Cargo.toml
  bindings/php/src/lib.rs
Labels: size:S, lgtm

#6224 docs(services/hdfs_native): fix outdated capabilities and config option name
  core/src/services/hdfs_native/docs.md
Labels: releases-note/docs, size:S, lgtm

#6219 feat(bindings/java): Add WriteOptions support for new options API
  bindings/java/src/async_operator.rs
  bindings/java/src/convert.rs
  bindings/java/src/lib.rs
  bindings/java/src/main/java/org/apache/opendal/WriteOptions.java
  bindings/java/src/operator.rs
  bindings/java/src/test/java/org/apache/opendal/test/behavior/AsyncWriteOptionsTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/BlockingWriteOptionTest.java
Labels: releases-note/feat, size:L, lgtm

#6230 feat(bindings/c): C test framework
  .github/actions/test_behavior_binding_c/action.yaml
  .github/scripts/test_behavior/plan.py
  .github/workflows/ci_bindings_c.yml
  .github/workflows/ci_bindings_zig.yml
  .github/workflows/test_behavior.yml
  .github/workflows/test_behavior_binding_c.yml
  bindings/c/CMakeLists.txt
  bindings/c/tests/Makefile
  bindings/c/tests/README.md
  bindings/c/tests/example_test.cpp
  bindings/c/tests/test_ci_integration.sh
  bindings/c/tests/test_framework.cpp
  bindings/c/tests/test_framework.h
  bindings/c/tests/test_runner.cpp
  bindings/c/tests/test_suites_basic.cpp
  bindings/c/tests/test_suites_list.cpp
  bindings/c/tests/test_suites_reader_writer.cpp
  bindings/c/tests/verify_framework.sh
Labels: size:XXL, lgtm
