Repository apache/opendal, pull requests merged in 2025-08, with the labels that each got.

#6468 feat(object_store): Implement copy_if_not_exists, put_multipart_opts and metadata in GetResult
  .github/workflows/docs.yml
  integrations/object_store/src/store.rs
Labels: releases-note/feat, size:L, lgtm

#6469 add groups for nodejs
  .github/dependabot.yml
Labels: releases-note/feat, size:XS

#6482 chore(bindings/nodejs): upgrade deps napi-rs to 3.0
  .github/workflows/ci_bindings_nodejs.yml
  .vscode/settings.json
  bindings/nodejs/Cargo.toml
  bindings/nodejs/generated.d.ts
  bindings/nodejs/generated.js
  bindings/nodejs/package.json
  bindings/nodejs/pnpm-lock.yaml
  bindings/nodejs/src/lib.rs
  core/Cargo.toml
Labels: releases-note/chore, size:XXL

#6296 ci(bindings/cpp): cpp test framework
  .github/actions/test_behavior_binding_cpp/action.yaml
  .github/scripts/test_behavior/plan.py
  .github/workflows/test_behavior.yml
  .github/workflows/test_behavior_binding_cpp.yml
  bindings/cpp/CMakeLists.txt
  bindings/cpp/include/opendal_async.hpp
  bindings/cpp/src/async.rs
  bindings/cpp/src/lib.rs
  bindings/cpp/src/opendal_async.cpp
  bindings/cpp/src/operator.cpp
  bindings/cpp/test_runner.sh
  bindings/cpp/tests/README.md
  bindings/cpp/tests/async_test.cpp
  bindings/cpp/tests/basic_test.cpp
  bindings/cpp/tests/behavior/async_list_test.cpp
  bindings/cpp/tests/behavior/async_read_test.cpp
  bindings/cpp/tests/behavior/async_write_test.cpp
  bindings/cpp/tests/behavior/delete_test.cpp
  bindings/cpp/tests/behavior/list_test.cpp
  bindings/cpp/tests/behavior/read_test.cpp
  bindings/cpp/tests/behavior/write_test.cpp
  bindings/cpp/tests/benchmark/benchmark_test.cpp
  bindings/cpp/tests/framework/test_framework.hpp
  bindings/cpp/tests/test_main.cpp
Labels: releases-note/ci, bindings/cpp, size:XXL

#6486 ci: Use ubuntu-24.04-arm for java release to address glibc issues
  .github/workflows/ci_bindings_java.yml
  .github/workflows/release_java.yml
Labels: releases-note/ci, size:S

#6493 chore: make clippy happy again
  bin/oli/src/config/mod.rs
  bindings/lua/src/lib.rs
  bindings/python/src/lister.rs
  core/src/raw/accessor.rs
  core/src/raw/adapters/kv/api.rs
  core/src/raw/adapters/kv/mod.rs
  core/src/raw/http_util/client.rs
  core/src/raw/oio/delete/api.rs
  core/src/raw/oio/list/api.rs
  core/src/raw/oio/read/api.rs
  core/src/raw/oio/write/api.rs
  core/src/raw/path_cache.rs
  integrations/dav-server/src/dir.rs
  integrations/dav-server/src/file.rs
  integrations/fuse3/src/file_system.rs
Labels: releases-note/chore, size:M, lgtm

#6495 ci: update workflow nodejs version and remove corepack
  .github/workflows/ci_check.yml
  .github/workflows/docs.yml
  .github/workflows/test_behavior_binding_nodejs.yml
Labels: releases-note/ci, size:S, lgtm

#6501 chore(bindings/nodejs): update generated code comments style due to napi-derive indentation fix
  bindings/nodejs/Cargo.toml
  bindings/nodejs/generated.d.ts
  bindings/nodejs/generated.js
  bindings/nodejs/package.json
  bindings/nodejs/pnpm-lock.yaml
Labels: releases-note/chore, size:L

#6500 fix(services/azblob): Fix azblob base64 validation
  core/src/services/azblob/backend.rs
  core/src/types/list.rs
Labels: releases-note/fix, size:S, lgtm

#6503 feat(bindings/cpp): enable user-configurable features for storage services
  .github/actions/test_behavior_binding_cpp/action.yaml
  .github/workflows/ci_bindings_cpp.yml
  bindings/cpp/CMakeLists.txt
  bindings/cpp/Cargo.toml
  bindings/cpp/README.md
  bindings/cpp/tests/behavior/delete_test.cpp
  bindings/cpp/tests/behavior/list_test.cpp
  bindings/cpp/tests/behavior/read_test.cpp
  bindings/cpp/tests/behavior/write_test.cpp
Labels: releases-note/feat, size:L

#6509 fix(integrations/object_store): remove redundant into_iter() call
  integrations/object_store/src/store.rs
Labels: releases-note/fix, size:XS

#6514 fix(bindings/cpp): correct cxx_async namespace attribute
  bindings/cpp/Cargo.toml
  bindings/cpp/include/async_defs.hpp
  bindings/cpp/include/opendal.hpp
  bindings/cpp/include/opendal_async.hpp
  bindings/cpp/src/async.rs
  bindings/cpp/src/opendal_async.cpp
Labels: releases-note/fix, size:L

#6511 feat(services/oss): add support for security token for Aliyun OSS
  core/src/services/oss/backend.rs
  core/src/services/oss/config.rs
Labels: releases-note/feat, size:M, lgtm

#6517 chore(ci): upgrade 1password/load-secrets-action v3
  .github/services/aliyun_drive/aliyun_drive/disable_action.yml
  .github/services/azblob/azure_azblob/action.yml
  .github/services/azdls/azdls/action.yml
  .github/services/azfile/azfile/action.yml
  .github/services/b2/b2/action.yml
  .github/services/cos/cos/action.yml
  .github/services/dropbox/dropbox/disable_action.yml
  .github/services/gcs/gcs/action.yml
  .github/services/gcs/gcs_with_default_storage_class/action.yml
  .github/services/gdrive/gdrive/action.yml
  .github/services/hdfs/hdfs_default_gcs/action.yml
  .github/services/koofr/koofr/disable_action.yml
  .github/services/oss/oss/action.yml
  .github/services/oss/oss_with_versioning/action.yml
  .github/services/s3/aws_s3/action.yml
  .github/services/s3/aws_s3_with_list_objects_v1/action.yml
  .github/services/s3/aws_s3_with_sse_c/action.yml
  .github/services/s3/aws_s3_with_versioning/action.yml
  .github/services/s3/aws_s3_with_virtual_host/action.yml
  .github/services/s3/r2/disabled_action.yml
  .github/workflows/ci_bindings_haskell.yml
  .github/workflows/ci_weekly_update.yml
  .github/workflows/test_behavior_bin_ofs.yml
  .github/workflows/test_behavior_binding_c.yml
  .github/workflows/test_behavior_binding_cpp.yml
  .github/workflows/test_behavior_binding_go.yml
  .github/workflows/test_behavior_binding_java.yml
  .github/workflows/test_behavior_binding_nodejs.yml
  .github/workflows/test_behavior_binding_python.yml
  .github/workflows/test_behavior_core.yml
  .github/workflows/test_behavior_integration_object_store.yml
Labels: releases-note/ci, size:L, lgtm

#6460 Fix: make cpp binding build robust
  .vscode/settings.json
  bindings/cpp/CMakeLists.txt
  bindings/cpp/README.md
  bindings/cpp/include/opendal_async.hpp
Labels: releases-note/fix, size:M

#6527 feat(services/azblob): Add compatibility aliases for Apache Arrow object_store
  core/src/services/azblob/backend.rs
  core/src/services/azblob/config.rs
Labels: releases-note/feat, size:L, lgtm
