Repository apache/opendal, pull requests merged in 2025-09, with the labels that each got.

#6538 feat(bindings/ruby): support file open options
  bindings/ruby/Cargo.toml
  bindings/ruby/lib/opendal_ruby/entry.rb
  bindings/ruby/lib/opendal_ruby/io.rb
  bindings/ruby/lib/opendal_ruby/metadata.rb
  bindings/ruby/lib/opendal_ruby/operator.rb
  bindings/ruby/lib/opendal_ruby/operator_info.rb
  bindings/ruby/src/capability.rs
  bindings/ruby/src/io.rs
  bindings/ruby/src/lib.rs
  bindings/ruby/src/lister.rs
  bindings/ruby/src/metadata.rs
  bindings/ruby/src/middlewares.rs
  bindings/ruby/src/operator.rs
  bindings/ruby/src/operator_info.rs
  bindings/ruby/test/blocking_op_test.rb
  bindings/ruby/test/capability_test.rb
  bindings/ruby/test/io_test.rb
  bindings/ruby/test/lister_test.rb
  bindings/ruby/test/middlewares_test.rb
  bindings/ruby/test/operator_info_test.rb
Labels: releases-note/feat, size:XL

#6540 chore: adjust CI workflow names for bindings
  .github/workflows/release_dart.yml
  .github/workflows/release_nodejs.yml
  .github/workflows/release_python.yml
Labels: releases-note/ci, size:XS, lgtm

#6554 docs(core): update docs of building a storage service
  core/src/docs/internals/accessor.rs
  core/src/docs/internals/layer.rs
Labels: releases-note/docs, size:L, lgtm

#6435 chore(ci): migrate etcd, memcached, redis, and redis-cluster images to new sources
  fixtures/etcd/docker-compose-cluster.yml
  fixtures/etcd/docker-compose-standalone-tls.yml
  fixtures/etcd/docker-compose-standalone.yml
  fixtures/memcached/docker-compose-memcached-with-auth.yml
  fixtures/memcached/docker-compose-memcached.yml
  fixtures/redis/docker-compose-redis-cluster-tls.yml
  fixtures/redis/docker-compose-redis-cluster.yml
  fixtures/redis/docker-compose-redis-tls.yml
  fixtures/redis/docker-compose-redis.yml
Labels: releases-note/ci, size:L, lgtm

#6562 ci: switches etcd image to official etcd image
  .github/services/etcd/etcd-tls/action.yml
  fixtures/etcd/docker-compose-standalone-tls.yml
Labels: releases-note/chore, size:M, lgtm

#6563 chore(bindings/nodejs): replace custom sleep with setTimeout in tests
  bindings/nodejs/tests/suites/asyncReadOptions.suite.mjs
  bindings/nodejs/tests/suites/asyncStatOptions.suite.mjs
  bindings/nodejs/tests/utils.mjs
Labels: releases-note/chore, size:S, lgtm

#6567 ci: Switch from --nocapture to --no-capture
  .github/actions/test_behavior_bin_ofs/action.yaml
Labels: releases-note/ci, size:XS, lgtm

#6340 refactor: Migrate cloudflare_kv from adapter::kv to Access instead
  .env.example
  core/src/services/cloudflare_kv/backend.rs
  core/src/services/cloudflare_kv/config.rs
  core/src/services/cloudflare_kv/core.rs
  core/src/services/cloudflare_kv/delete.rs
  core/src/services/cloudflare_kv/docs.md
  core/src/services/cloudflare_kv/error.rs
  core/src/services/cloudflare_kv/lister.rs
  core/src/services/cloudflare_kv/mod.rs
  core/src/services/cloudflare_kv/model.rs
  core/src/services/cloudflare_kv/writer.rs
  core/src/types/operator/builder.rs
  core/src/types/scheme.rs
Labels: releases-note/refactor, size:XXL, lgtm

#6569 fix(bindings/d): Enhance D bindings build script and tests for OpenDAL
  bindings/d/README.md
  bindings/d/build.d
  bindings/d/source/opendal/package.d
Labels: releases-note/fix, size:L, lgtm

#6578 website: Add announcement for Apache OpenDAL Reqsign
  website/blog/2025-09-15-apache-opendal-reqsign/index.md
Labels: size:M, lgtm

#6590 chore: make clippy happy when using rust 1.90.0
  core/src/services/cloudflare_kv/model.rs
  core/src/services/dropbox/core.rs
  core/src/services/oss/core.rs
Labels: releases-note/chore, size:M

#6585 ci: Fix default branch name in Ruby release workflow
  .github/workflows/release_ruby.yml
Labels: releases-note/fix, size:XS, lgtm

#6601 fix(integrations/unftp-sbe): properly shutdown after write
  integrations/unftp-sbe/src/lib.rs
Labels: releases-note/fix, size:S

#6592 ci: Add patch file to Ruby release workflow
  .github/workflows/release_ruby.yml
Labels: releases-note/ci, size:M, bindings/ruby
