Repository apache/opendal, pull requests merged in 2025-03, with the labels that each got.

#5665 feat(!): Bump arrow version of parquet_opendal to 54.x
  integrations/object_store/Cargo.toml
  integrations/parquet/Cargo.toml
Labels: releases-note/feat

#5673 feat: Polish context related APIs
  core/src/layers/blocking.rs
  core/src/layers/complete.rs
  core/src/layers/immutable_index.rs
  core/src/raw/accessor.rs
  core/src/raw/http_util/client.rs
  core/src/raw/oio/list/flat_list.rs
Labels: releases-note/feat

#5676 refactor: Migrate s3 services to context based http client
  core/src/services/s3/backend.rs
  core/src/services/s3/core.rs
Labels: releases-note/refactor

#5681 refactor: Migrate oss services to context based http client
  core/src/services/oss/backend.rs
  core/src/services/oss/core.rs
Labels: releases-note/refactor

#5632 feat(services/onedrive): List dir shows metadata
  core/src/raw/chrono_util.rs
  core/src/services/onedrive/backend.rs
  core/src/services/onedrive/graph_model.rs
  core/src/services/onedrive/lister.rs
Labels: releases-note/feat

#5684 fix(services/s3): fix batch delete with version
  core/src/raw/accessor.rs
  core/src/services/s3/core.rs
  core/src/services/s3/delete.rs
  core/src/types/delete/deleter.rs
  core/src/types/operator/operator.rs
  core/tests/behavior/async_delete.rs
Labels: releases-note/fix

#5687 fix(services/oss): fix batch delete with version for oss
  core/src/services/oss/core.rs
  core/src/services/oss/delete.rs
Labels: releases-note/fix

#5682 refactor: Migrate obs services to context based http client
  core/src/services/obs/backend.rs
  core/src/services/obs/core.rs
Labels: releases-note/refactor

#5683 refactor: Migrate cos services to context based http client
  core/src/services/cos/backend.rs
  core/src/services/cos/core.rs
Labels: releases-note/refactor

#5584 feat(bindings/ruby): add operator info
  bindings/ruby/src/lib.rs
  bindings/ruby/src/operator.rs
  bindings/ruby/src/operator_info.rs
  bindings/ruby/test/operator_info_test.rb
Labels: releases-note/feat

#5688 feat(services/oss): Implement `Write Returns Metadata` for oss
  core/src/services/oss/backend.rs
  core/src/services/oss/core.rs
  core/src/services/oss/writer.rs
  core/src/types/capability.rs
  core/tests/behavior/async_write.rs
  core/tests/behavior/blocking_write.rs
Labels: releases-note/feat

#5700 ci(bindings/zig): update to zig version 0.14.0
  .github/workflows/ci_bindings_zig.yml
  bindings/zig/.gitignore
  bindings/zig/CONTRIBUTING.md
  bindings/zig/README.md
  bindings/zig/build.zig
  bindings/zig/build.zig.zon
Labels: releases-note/ci

#5706 chore: update mongodb version drop the fixme comments
  core/Cargo.lock
  core/Cargo.toml
Labels: releases-note/chore

#5709 doc: py binding version is wrong for now
  bindings/python/CONTRIBUTING.md
Labels: releases-note/docs

#5711 feat: adopt uv for python binding
  .github/actions/test_behavior_binding_python/action.yaml
  .github/workflows/test_behavior_binding_python.yml
  bin/oli/dev/config.toml
  bin/oli/dev/suite.toml
  bindings/python/CONTRIBUTING.md
  bindings/python/README.md
  bindings/python/pyproject.toml
  bindings/python/uv.lock
Labels: releases-note/feat

#5708 fix: drop useless clone for py binding and make clippy happy
  bindings/python/src/operator.rs
Labels: releases-note/fix

#5691 feat(services/gcs): Implement multipart/related and use it with Gcs
  core/src/raw/http_util/mod.rs
  core/src/raw/http_util/multipart.rs
  core/src/services/gcs/core.rs
Labels: releases-note/feat

#5713 chore: revert "services/cos: Implement Write Returns Metadata for cos"
  core/src/services/cos/backend.rs
  core/src/services/cos/core.rs
  core/src/services/cos/writer.rs
Labels: releases-note/chore

#5714 fix: drop useless file
  core/tests/behavior/async_fuzz.rs
  core/tests/behavior/main.rs
Labels: releases-note/fix

#5717 ci: add clippy to some of the binding check ci
  .github/workflows/ci_bindings_c.yml
  .github/workflows/ci_bindings_cpp.yml
  .github/workflows/ci_bindings_dotnet.yml
  .github/workflows/ci_bindings_lua.yml
  .github/workflows/ci_bindings_nodejs.yml
  .github/workflows/ci_bindings_python.yml
  bindings/c/src/operator.rs
  bindings/lua/src/lib.rs
  bindings/nodejs/src/lib.rs
Labels: releases-note/ci

#5719 fix: mac can not build lua binding
  bindings/lua/.cargo/config.toml
Labels: releases-note/fix

#5720 docs: Better ways to users showcase
  README.md
  bindings/c/README.md
  bindings/c/users.md
  bindings/java/README.md
  bindings/java/users.md
  bindings/python/README.md
  bindings/python/users.md
  core/README.md
  core/users.md
Labels: releases-note/docs

#5725 fix(website): Handling svg image correctly
  website/plugins/image-ssr-plugin.js
Labels: releases-note/fix

#5734 fix(binding/dart): pin version to avoid generator/runtime version mismatch
  .github/workflows/ci_bindings_dart.yml
  bindings/dart/rust/Cargo.toml
Labels: releases-note/feat, releases-note/fix

#5731 refactor(bindings/node)!: Change `is_exist` to `exists` to align with nodejs API style
  bindings/nodejs/generated.d.ts
  bindings/nodejs/package.json
  bindings/nodejs/pnpm-lock.yaml
  bindings/nodejs/src/lib.rs
  bindings/nodejs/upgrade.md
Labels: releases-note/refactor

#5735 docs: Add useful links
  bindings/java/README.md
  bindings/nodejs/README.md
  bindings/python/README.md
  core/README.md
Labels: releases-note/docs

#5740 feat(binding/dart): add examples, tests
  .github/workflows/ci_bindings_dart.yml
  bindings/dart/README.md
  bindings/dart/examples/basic.dart
  bindings/dart/lib/opendal.dart
  bindings/dart/tests/opendal_test.dart
Labels: releases-note/feat

#5741 fix(website): Handling badges click behavior correctly
  website/docusaurus.config.js
Labels: releases-note/fix

#5733 feat(services/onedrive): add signer to utilize the refresh token
  core/src/services/onedrive/backend.rs
  core/src/services/onedrive/builder.rs
  core/src/services/onedrive/config.rs
  core/src/services/onedrive/core.rs
  core/src/services/onedrive/delete.rs
  core/src/services/onedrive/docs.md
  core/src/services/onedrive/error.rs
  core/src/services/onedrive/graph_model.rs
  core/src/services/onedrive/lister.rs
  core/src/services/onedrive/mod.rs
  core/src/services/onedrive/writer.rs
Labels: releases-note/feat

#5744 fix(core)!: chainsafe services has been sunset
  .env.example
  .github/services/chainsafe/chainsafe/disable_action.yml
  README.md
  bindings/java/Cargo.toml
  bindings/java/src/main/java/org/apache/opendal/ServiceConfig.java
  bindings/nodejs/Cargo.toml
  bindings/python/Cargo.toml
  bindings/python/python/opendal/__base.pyi
  core/Cargo.toml
  core/README.md
  core/src/services/chainsafe/backend.rs
  core/src/services/chainsafe/config.rs
  core/src/services/chainsafe/core.rs
  core/src/services/chainsafe/delete.rs
  core/src/services/chainsafe/docs.md
  core/src/services/chainsafe/error.rs
  core/src/services/chainsafe/lister.rs
  core/src/services/chainsafe/mod.rs
  core/src/services/chainsafe/writer.rs
  core/src/services/mod.rs
  core/src/types/operator/builder.rs
  core/src/types/scheme.rs
Labels: releases-note/fix

#5742 feat(binding/dart): hide init && change to init
  .github/workflows/ci_bindings_dart.yml
  bindings/dart/README.md
  bindings/dart/examples/basic.dart
  bindings/dart/lib/opendal.dart
  bindings/dart/tests/opendal_test.dart
Labels: releases-note/feat

#5748 refactor(services/redis): Implement ConnectionLike for RedisConnection
  core/Cargo.lock
  core/Cargo.toml
  core/src/services/redis/backend.rs
  core/src/services/redis/core.rs
Labels: releases-note/refactor

#5746 fix: drop useless import and clippy happy for java binding
  .github/workflows/ci_bindings_java.yml
  bindings/java/src/async_operator.rs
  bindings/java/src/convert.rs
  bindings/java/src/executor.rs
Labels: releases-note/fix

#5752 fix(bindings/java): bring back false delete code
  bindings/java/src/executor.rs
Labels: releases-note/fix

#5732 fix(core): fix list with recursive when the object doesn't exist
  core/src/raw/oio/list/flat_list.rs
  core/src/services/webdav/lister.rs
  core/tests/behavior/async_list.rs
  core/tests/behavior/blocking_list.rs
Labels: releases-note/fix

#5754 refactor!: Remove opendal-compat which is not maintained
  .github/workflows/ci_integration_compat.yml
  .github/workflows/docs.yml
  .github/workflows/release_rust.yml
  dev/src/release/package.rs
  integrations/compat/.gitignore
  integrations/compat/Cargo.toml
  integrations/compat/DEPENDENCIES.rust.tsv
  integrations/compat/README.md
  integrations/compat/src/lib.rs
  integrations/compat/src/v0_50_to_v0_49.rs
Labels: releases-note/refactor

#5759 chore: update flate2 version
  dev/Cargo.lock
  dev/Cargo.toml
Labels: releases-note/chore

#5750 feat(core): Implement write returns metadata for b2
  core/src/services/b2/backend.rs
  core/src/services/b2/core.rs
  core/src/services/b2/writer.rs
  core/src/types/capability.rs
  core/tests/behavior/async_write.rs
  core/tests/behavior/blocking_write.rs
Labels: releases-note/feat

#5765 docs: Update nominate-committer.md
  website/community/pmc_members/nominate-committer.md
  website/community/pmc_members/nominate-pmc-member.md
Labels: releases-note/docs

#5764 refactor: Migrate github services to context based http client
  core/src/services/github/backend.rs
  core/src/services/github/core.rs
Labels: releases-note/refactor

#5617 feat(services/hdfs_native): implement write/read/list methods
  .github/services/hdfs_native/hdfs_native_cluster/action.yml
  bindings/java/Cargo.toml
  bindings/nodejs/Cargo.toml
  bindings/python/Cargo.toml
  core/src/services/hdfs_native/backend.rs
  core/src/services/hdfs_native/config.rs
  core/src/services/hdfs_native/error.rs
  core/src/services/hdfs_native/lister.rs
  core/src/services/hdfs_native/reader.rs
  core/src/services/hdfs_native/writer.rs
Labels: releases-note/feat

#5769 feat(website): Adding a WIP to the list of bingdings
  bindings/c/README.md
  bindings/cpp/README.md
  bindings/d/README.md
  bindings/dotnet/README.md
  bindings/go/README.md
  bindings/haskell/README.md
  bindings/java/README.md
  bindings/lua/README.md
  bindings/nodejs/README.md
  bindings/ocaml/README.md
  bindings/php/README.md
  bindings/python/README.md
  bindings/ruby/README.md
  bindings/swift/README.md
  bindings/zig/README.md
  website/docs/20-bindings/c.mdx
  website/docs/20-bindings/cpp.mdx
  website/docs/20-bindings/d.mdx
  website/docs/20-bindings/dart.mdx
  website/docs/20-bindings/dotnet.mdx
  website/docs/20-bindings/haskell.mdx
  website/docs/20-bindings/lua.mdx
  website/docs/20-bindings/ocaml.mdx
  website/docs/20-bindings/php.mdx
  website/docs/20-bindings/ruby.mdx
  website/docs/20-bindings/swift.mdx
  website/docs/20-bindings/zig.mdx
Labels: releases-note/feat

#5770 fix(website): docusaurus build on windows
  website/docusaurus.config.js
Labels: releases-note/fix

#5761 fix: make php binding happy again
  .github/workflows/ci_bindings_php.yml
  bindings/php/Cargo.toml
  bindings/php/src/lib.rs
Labels: releases-note/fix

#5776 fix(services/onedrive): add scope for the refresh token
  core/src/services/onedrive/core.rs
Labels: releases-note/fix

#5763 feat(services/onedrive): implement read_with_if_none_match
  core/src/raw/http_util/body.rs
  core/src/raw/http_util/client.rs
  core/src/services/onedrive/backend.rs
  core/src/services/onedrive/builder.rs
  core/src/services/onedrive/core.rs
  core/src/services/onedrive/error.rs
Labels: releases-note/feat

#5751 feat(binding/dart): add pubspec info
  .github/workflows/ci_bindings_dart.yml
  .github/workflows/release_dart.yml
  bindings/dart/README.md
  bindings/dart/lib/opendal.dart
  bindings/dart/pubspec.yaml
Labels: releases-note/feat

#5778 refactor(gcs): Migrate to context based http client
  core/src/services/gcs/backend.rs
  core/src/services/gcs/core.rs
Labels: releases-note/refactor

#5786 fix: py binding benchmark can not run
  bindings/python/benchmark/async_opendal_benchmark.py
  bindings/python/benchmark/async_origin_s3_benchmark_with_gevent.py
  bindings/python/pyproject.toml
  bindings/python/uv.lock
Labels: releases-note/fix

#5767 fix: add missing last_modified for python binding
  bindings/python/Cargo.toml
  bindings/python/src/metadata.rs
Labels: releases-note/fix

#5782 doc: fix README root wrong for example close issue #5871 by correct README
  core/examples/README.md
Labels: releases-note/fix, releases-note/docs

#5789 refactor(core/raw)!: Merge blocking and async operations
  core/src/layers/await_tree.rs
  core/src/layers/capability_check.rs
  core/src/layers/correctness_check.rs
  core/src/layers/error_context.rs
  core/src/layers/fastrace.rs
  core/src/layers/logging.rs
  core/src/layers/observe/metrics.rs
  core/src/layers/timeout.rs
  core/src/raw/operation.rs
  core/src/services/ftp/backend.rs
  core/src/services/ftp/delete.rs
Labels: releases-note/refactor

#5790 docs: Fix rustic users entry
  core/users.md
Labels: releases-note/docs

#5791 feat(services/s3): Add operation in http context
  core/src/services/s3/core.rs
Labels: releases-note/feat

#5783 feat(bindings/python): Add repr for metadata
  bindings/python/src/metadata.rs
  bindings/python/tests/test_write.py
Labels: releases-note/feat, releases-note/refactor

#5792 docs(services/onedrive): add how to get tokens
  core/src/services/onedrive/docs.md
Labels: releases-note/docs

#5758 feat: Add origin private file system scaffold
  core/Cargo.lock
  core/Cargo.toml
  core/src/services/mod.rs
  core/src/services/opfs/backend.rs
  core/src/services/opfs/config.rs
  core/src/services/opfs/core.rs
  core/src/services/opfs/docs.md
  core/src/services/opfs/mod.rs
Labels: releases-note/feat

#5796 refactor(core/raw)!: Use AccessorInfo instead of seperate fields
  core/src/layers/metrics.rs
  core/src/layers/observe/metrics.rs
  core/src/layers/otelmetrics.rs
  core/src/layers/prometheus.rs
  core/src/layers/prometheus_client.rs
  core/src/raw/accessor.rs
  core/src/types/operator/info.rs
Labels: releases-note/refactor

#5798 feat(core): Implement http related metrics support for prom client
  core/src/layers/observe/metrics.rs
  core/src/layers/observe/mod.rs
  core/src/layers/prometheus_client.rs
  core/src/raw/http_util/client.rs
  core/src/raw/http_util/mod.rs
Labels: releases-note/feat

#5800 feat(core): Implement http related metrics support for otel
  core/src/layers/otelmetrics.rs
Labels: releases-note/feat

#5803 fix(services/compfs): behavior async write
  core/Cargo.lock
  core/Cargo.toml
  core/src/services/compfs/backend.rs
  core/src/services/compfs/writer.rs
Labels: releases-note/fix

#5813 doc: fix typo in RFC md
  core/src/docs/rfcs/3911_deleter_api.md
Labels: releases-note/docs

#5812 fix(services/onedrive): chunk PUT upload remove auth header
  core/src/services/onedrive/core.rs
Labels: releases-note/fix

#5807 fix(services/compfs): read, delete, copy, rename
  core/src/services/compfs/backend.rs
  core/src/services/compfs/delete.rs
  core/src/services/compfs/lister.rs
  core/src/services/compfs/reader.rs
Labels: releases-note/fix

#5815 refactor: Migrate aliyun_drive services to context based http client
  core/src/services/aliyun_drive/backend.rs
  core/src/services/aliyun_drive/core.rs
Labels: releases-note/refactor

#5816 refactor: Migrate azfile services to context based http client
  core/src/services/azfile/backend.rs
  core/src/services/azfile/core.rs
Labels: releases-note/refactor

#5817 chore(services/hdfs_native): enable create_dir capability
  core/src/services/hdfs_native/backend.rs
Labels: releases-note/chore

#5818 feat(github): Auto generate weekly summary
  .github/scripts/weekly_update/.gitignore
  .github/scripts/weekly_update/.python-version
  .github/scripts/weekly_update/README.md
  .github/scripts/weekly_update/main.py
  .github/scripts/weekly_update/pyproject.toml
  .github/scripts/weekly_update/uv.lock
  .github/workflows/ci_weekly_update.yml
Labels: releases-note/feat

#5819 chore(github): Fix uv not installed in weekly-update
  .github/workflows/ci_weekly_update.yml
Labels: releases-note/chore

#5826 fix(bindings/python): open python3.13t release for windows since upstream had fixed
  .github/workflows/release_python.yml
Labels: releases-note/fix

#5823 chore(github): Avoid ping all contributors
  .github/scripts/weekly_update/README.md
  .github/scripts/weekly_update/main.py
  .github/workflows/ci_weekly_update.yml
Labels: releases-note/chore

#5718 feat(binding/java): Add list with recursive support
  bindings/java/src/async_operator.rs
  bindings/java/src/main/java/org/apache/opendal/AsyncOperator.java
  bindings/java/src/main/java/org/apache/opendal/ListOptions.java
  bindings/java/src/main/java/org/apache/opendal/Operator.java
  bindings/java/src/operator.rs
  bindings/java/src/test/java/org/apache/opendal/test/behavior/AsyncListTest.java
  bindings/java/src/test/java/org/apache/opendal/test/behavior/BlockingListTest.java
Labels: releases-note/feat

#5827 refactor: Migrate dropbox services to context based http client
  core/src/services/dropbox/builder.rs
  core/src/services/dropbox/core.rs
Labels: releases-note/refactor

#5810 feat(services/huggingface): Add operation in http context
  core/src/services/huggingface/core.rs
Labels: releases-note/feat

#5829 refactor: Migrate upyun services to context based http client
  core/src/services/upyun/backend.rs
  core/src/services/upyun/core.rs
Labels: releases-note/refactor

#5830 chore: make ruby clippy happy
  .github/workflows/ci_bindings_ruby.yml
  bindings/ruby/README.md
  bindings/ruby/src/capability.rs
  bindings/ruby/src/io.rs
  bindings/ruby/src/lib.rs
  bindings/ruby/src/lister.rs
  bindings/ruby/src/operator.rs
Labels: releases-note/chore

#5834 refactor(core): Migrate BlockWriter to use executor from context
  core/src/raw/oio/write/block_write.rs
  core/src/services/azblob/backend.rs
  core/src/services/ghac/writer.rs
  core/src/services/webhdfs/backend.rs
Labels: releases-note/refactor

#5835 refactor(core): Migrate MultipartWrite Executor to context based
  core/src/raw/oio/write/multipart_write.rs
  core/src/services/b2/backend.rs
  core/src/services/cos/backend.rs
  core/src/services/gcs/backend.rs
  core/src/services/obs/backend.rs
  core/src/services/oss/backend.rs
  core/src/services/s3/backend.rs
  core/src/services/upyun/backend.rs
  core/src/services/vercel_blob/backend.rs
Labels: releases-note/refactor

#5836 refactor(core): Migrate PositionWrite Executor to context based
  core/src/raw/oio/write/position_write.rs
  core/src/services/fs/backend.rs
Labels: releases-note/refactor

#5838 refactor(core)!: Migrate to context based executor
  core/src/layers/timeout.rs
  core/src/lib.rs
  core/src/raw/accessor.rs
  core/src/raw/ops.rs
  core/src/types/operator/operator.rs
  core/src/types/operator/operator_futures.rs
  core/src/types/read/buffer_stream.rs
Labels: releases-note/refactor

#5840 refactor: tidy binding java code
  bindings/java/src/async_operator.rs
  bindings/java/src/convert.rs
  bindings/java/src/main/java/org/apache/opendal/AsyncOperator.java
  bindings/java/src/main/java/org/apache/opendal/ListOptions.java
  bindings/java/src/main/java/org/apache/opendal/NativeLibrary.java
  bindings/java/src/main/java/org/apache/opendal/WriteOptions.java
  bindings/java/src/operator.rs
Labels: releases-note/refactor

#5841 refactor: Migrate yandex_disk services to context based http client
  core/src/services/yandex_disk/backend.rs
  core/src/services/yandex_disk/core.rs
Labels: releases-note/refactor

#5842 refactor: Migrate alluxio services to context based http client
  core/src/services/alluxio/backend.rs
  core/src/services/alluxio/core.rs
Labels: releases-note/refactor

#5843 refactor: Migrate b2 service to context based http client
  core/src/services/b2/backend.rs
  core/src/services/b2/core.rs
Labels: releases-note/refactor

#5839 fix: better ocaml binding and happy clippy
  .github/workflows/ci_bindings_ocaml.yml
  bindings/ocaml/.cargo/config.toml
  bindings/ocaml/Cargo.toml
  bindings/ocaml/README.md
  bindings/ocaml/src/operator/mod.rs
Labels: releases-note/fix

#5844 fix(bindings/python): sort imports, fix template, fix bench
  .github/scripts/test_behavior/plan.py
  .github/scripts/weekly_update/main.py
  bindings/python/benchmark/README.md
  bindings/python/benchmark/async_opendal_benchmark.py
  bindings/python/benchmark/async_origin_s3_benchmark_with_gevent.py
  bindings/python/examples/pandas.ipynb
  bindings/python/examples/polars.ipynb
  bindings/python/pyproject.toml
  bindings/python/python/opendal/__base.pyi
  bindings/python/python/opendal/__init__.pyi
  bindings/python/tests/conftest.py
  bindings/python/tests/test_async_copy.py
  bindings/python/tests/test_async_delete.py
  bindings/python/tests/test_async_pickle_types.py
  bindings/python/tests/test_async_rename.py
  bindings/python/tests/test_pickle_rw.py
  bindings/python/tests/test_read.py
  bindings/python/tests/test_sync_copy.py
  bindings/python/tests/test_sync_delete.py
  bindings/python/tests/test_sync_pickle_types.py
  bindings/python/tests/test_sync_rename.py
  bindings/python/tests/test_write.py
  dev/src/generate/python.j2
  scripts/constants.py
  scripts/dependencies.py
  scripts/merge_local_staging.py
Labels: releases-note/fix

#5847 feat(core/layers): implement http related metrics support for prometheus
  core/src/layers/prometheus.rs
Labels: releases-note/feat

#5848 feat(core/layers): implement http related metrics support for metrics
  core/src/layers/metrics.rs
Labels: releases-note/feat

#5849 fix: make haskell binding happier
  .github/workflows/ci_bindings_haskell.yml
  bindings/haskell/CONTRIBUTING.md
  bindings/haskell/src/lib.rs
  bindings/haskell/test/BasicTest.hs
Labels: releases-note/fix

#5850 doc: dotnet binding wip doc
  bindings/README.md
  bindings/d/README.md
  bindings/dotnet/README.md
  bindings/zig/README.md
Labels: releases-note/docs

#5845 refactor: migrate azblob services to context based http client
  core/src/services/azblob/backend.rs
  core/src/services/azblob/core.rs
  core/src/services/azblob/writer.rs
  core/src/services/ghac/writer.rs
Labels: releases-note/refactor

#5854 doc: add oli bench command doc
  bin/oli/README.md
  bin/oli/dev/config.toml
Labels: releases-note/docs

#5855 doc: fix all fs env tmp file dir in doc
  core/fuzz/README.md
  core/tests/behavior/README.md
Labels: releases-note/fix, releases-note/docs

#5861 refactor: Migrate gdrive service to context based http client
  core/src/services/gdrive/backend.rs
  core/src/services/gdrive/builder.rs
  core/src/services/gdrive/core.rs
Labels: releases-note/refactor

#5862 fix: drop fixme in py binding since upstream fixed
  bindings/python/src/file.rs
Labels: releases-note/fix

#5863 fix: drop fixme in etcd tls since upstream fixed
  .github/services/etcd/etcd-tls/action.yml
  fixtures/etcd/docker-compose-standalone-tls.yml
Labels: releases-note/fix

#5866 refactor: Migrate pcloud service to context based http client
  core/src/services/pcloud/backend.rs
  core/src/services/pcloud/core.rs
Labels: releases-note/refactor

#5868 refactor!: Bump OpenDAL MSRV to 1.80
  .github/workflows/ci_core.yml
  bin/oay/Cargo.lock
  bin/oay/Cargo.toml
  bin/ofs/Cargo.lock
  bin/ofs/Cargo.toml
  bin/oli/Cargo.lock
  bin/oli/Cargo.toml
  bindings/c/Cargo.toml
  bindings/c/src/operator.rs
  bindings/cpp/Cargo.toml
  bindings/dotnet/Cargo.toml
  bindings/haskell/Cargo.toml
  bindings/java/Cargo.toml
  bindings/lua/Cargo.toml
  bindings/nodejs/Cargo.toml
  bindings/ocaml/Cargo.toml
  bindings/php/Cargo.toml
  bindings/python/Cargo.toml
  bindings/ruby/Cargo.toml
  bindings/ruby/opendal.gemspec
  core/Cargo.lock
  core/Cargo.toml
  core/benches/types/concurrent_tasks.rs
  core/benches/vs_fs/Cargo.toml
  core/benches/vs_s3/Cargo.toml
  core/fuzz/Cargo.toml
  core/src/layers/blocking.rs
  core/src/layers/dtrace.rs
  core/src/layers/error_context.rs
  core/src/layers/logging.rs
  core/src/layers/observe/metrics.rs
  core/src/raw/http_util/client.rs
  core/src/raw/tests/utils.rs
  core/src/services/gcs/core.rs
  core/src/services/s3/backend.rs
  core/src/types/error.rs
  dev/Cargo.toml
  integrations/cloud_filter/Cargo.toml
  integrations/dav-server/Cargo.toml
  integrations/fuse3/Cargo.toml
  integrations/object_store/Cargo.toml
  integrations/parquet/Cargo.toml
  integrations/unftp-sbe/Cargo.toml
  integrations/virtiofs/Cargo.toml
Labels: releases-note/refactor

#5873 refactor: Introduce VercelArtifactsCore for improved service structure
  core/src/services/vercel_artifacts/backend.rs
  core/src/services/vercel_artifacts/builder.rs
  core/src/services/vercel_artifacts/core.rs
  core/src/services/vercel_artifacts/error.rs
  core/src/services/vercel_artifacts/mod.rs
  core/src/services/vercel_artifacts/writer.rs
Labels: releases-note/refactor

#5784 feat(services/onedrive): implement additional OneDrive features
  core/src/raw/path.rs
  core/src/services/onedrive/backend.rs
  core/src/services/onedrive/builder.rs
  core/src/services/onedrive/config.rs
  core/src/services/onedrive/core.rs
  core/src/services/onedrive/delete.rs
  core/src/services/onedrive/docs.md
  core/src/services/onedrive/error.rs
  core/src/services/onedrive/graph_model.rs
  core/src/services/onedrive/lister.rs
  core/src/services/onedrive/writer.rs
Labels: releases-note/feat

#5851 feat(bindings/c): add opendal_operator_check
  bindings/c/include/opendal.h
  bindings/c/src/operator.rs
  bindings/c/tests/bdd.cpp
  core/src/types/operator/blocking_operator.rs
Labels: releases-note/feat

#5870 fix: todo list since MSRV is 1.80
  core/src/raw/accessor.rs
Labels: releases-note/fix

#5877 refactor: Migrate vercel_artifacts service to context based http client
  core/src/services/vercel_artifacts/builder.rs
  core/src/services/vercel_artifacts/core.rs
Labels: releases-note/refactor

#5876 doc: docker installation guide for behaviour test
  .env.example
  core/tests/behavior/README.md
Labels: releases-note/docs

#5882 refactor: Migrate services to context based http client
  core/src/services/azdls/backend.rs
  core/src/services/azdls/core.rs
  core/src/services/ghac/backend.rs
  core/src/services/ghac/core.rs
  core/src/services/ghac/writer.rs
  core/src/services/huggingface/backend.rs
  core/src/services/huggingface/core.rs
  core/src/services/koofr/backend.rs
  core/src/services/koofr/core.rs
  core/src/services/lakefs/backend.rs
  core/src/services/lakefs/core.rs
  core/src/services/seafile/backend.rs
  core/src/services/seafile/core.rs
  core/src/services/swift/backend.rs
  core/src/services/swift/core.rs
  core/src/services/vercel_blob/backend.rs
  core/src/services/vercel_blob/core.rs
  core/src/services/webdav/backend.rs
  core/src/services/webdav/core.rs
Labels: releases-note/refactor

#5883 refactor: Polishing IO metrics by adding more useful metrics
  core/src/layers/observe/metrics.rs
  core/src/layers/observe/mod.rs
  core/src/raw/http_util/body.rs
Labels: releases-note/refactor

#5886 refactor(core): Add good default histogram buckets for metrics
  core/src/layers/observe/metrics.rs
  core/src/layers/observe/mod.rs
  core/src/types/error.rs
Labels: releases-note/refactor

#5891 refactor: Migrate icloud service to context based http client
  core/src/services/icloud/backend.rs
  core/src/services/icloud/core.rs
Labels: releases-note/refactor

#5884 refactor(bindings/dart)!: support macos and use exists api
  .github/workflows/ci_bindings_dart.yml
  bindings/dart/lib/opendal.dart
  bindings/dart/lib/src/rust/api/opendal_api.dart
  bindings/dart/lib/src/rust/frb_generated.dart
  bindings/dart/rust/src/api/opendal_api.rs
  bindings/dart/rust/src/frb_generated.rs
Labels: releases-note/refactor

#5892 refactor(core)!: Merge operations to build more clean metrics
  core/src/layers/await_tree.rs
  core/src/layers/capability_check.rs
  core/src/layers/correctness_check.rs
  core/src/layers/error_context.rs
  core/src/layers/fastrace.rs
  core/src/layers/logging.rs
  core/src/layers/observe/metrics.rs
  core/src/layers/timeout.rs
  core/src/raw/operation.rs
  core/src/services/ftp/backend.rs
  core/src/services/ftp/delete.rs
  core/src/services/huggingface/core.rs
  core/src/services/lakefs/core.rs
  core/src/services/s3/core.rs
Labels: releases-note/refactor

#5893 refactor: Migrate WebHDFS service to context based http client
  core/src/services/webhdfs/backend.rs
  core/src/services/webhdfs/core.rs
  core/src/services/webhdfs/delete.rs
  core/src/services/webhdfs/lister.rs
  core/src/services/webhdfs/mod.rs
  core/src/services/webhdfs/writer.rs
Labels: releases-note/refactor

#5898 chore: update py binding api just
  bindings/python/python/opendal/__base.pyi
Labels: releases-note/chore

#5900 refactor(layer/metrics): Migrate MetricsLayer to support IO metrics
  core/src/layers/metrics.rs
Labels: releases-note/refactor

#5899 refactor(layer/prometheus): Migrate PrometheusLayer to support IO metrics
  core/src/layers/prometheus.rs
Labels: releases-note/refactor

#5901 refactor(layer/otelmetrics): Migrate OtelMetricsLayer to support IO metrics
  core/src/layers/observe/metrics.rs
  core/src/layers/observe/mod.rs
  core/src/layers/otelmetrics.rs
  core/src/layers/prometheus.rs
Labels: releases-note/refactor

#5902 refactor: Introduce SftpCore for improved service structure
  core/src/services/sftp/backend.rs
  core/src/services/sftp/core.rs
  core/src/services/sftp/delete.rs
  core/src/services/sftp/mod.rs
  core/src/services/sftp/reader.rs
Labels: releases-note/refactor

#5894 refactor(observe): remove duplicated observation
  core/src/layers/observe/metrics.rs
Labels: releases-note/refactor

#5904 chore(layer/observe): cleanup useless metric metadata
  core/src/layers/observe/metrics.rs
  core/src/layers/observe/mod.rs
Labels: releases-note/chore

#5905 refactor: refine RetryLayer type signature
  core/src/layers/retry.rs
Labels: releases-note/refactor

#5907 chore: update cpp example
  examples/cpp/CMakeLists.txt
Labels: releases-note/chore

#5911 fix: close issue #5910
  .github/workflows/ci_weekly_update.yml
Labels: releases-note/fix

#5908 refactor(core): Remove all `write_has_xxx` capabilities
  core/src/layers/complete.rs
  core/src/services/b2/backend.rs
  core/src/services/cos/backend.rs
  core/src/services/fs/backend.rs
  core/src/services/monoiofs/core.rs
  core/src/services/onedrive/builder.rs
  core/src/services/onedrive/writer.rs
  core/src/services/oss/backend.rs
  core/src/services/s3/backend.rs
  core/src/types/capability.rs
  core/tests/behavior/async_write.rs
  core/tests/behavior/blocking_write.rs
Labels: releases-note/refactor

#5912 refactor(services/obs): Implement Write Returns Metadata for obs
  core/src/services/obs/backend.rs
  core/src/services/obs/config.rs
  core/src/services/obs/core.rs
  core/src/services/obs/writer.rs
Labels: releases-note/refactor
